.full-container {box-sizing:border-box;font-family: 'Open Sans', Arial, Helvetica, Verdana;font-size: 14px;color:#333;width: 100%;}
.con:before,.con:after{content:"";display:table;line-height:0;height:0;box-sizing:border-box;} .con:after{clear:both;box-sizing:border-box;} 
.lte7 .con{zoom:1;} 
.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11, .in-lg-12{float:left;position: relative;min-height: 1px;padding:0 15px;box-sizing:border-box;} 
.in-lg-1{width:8.33333333%;} 
.in-lg-2{width:16.66666667%;} 
.in-lg-3{width:25%;} 
.in-lg-4{width:33.33333333%;} 
.in-lg-5{width:41.66666667%;} 
.in-lg-6{width:50%;} 
.in-lg-7{width:58.33333333%;} 
.in-lg-8{width:66.66666667%;} 
.in-lg-9{width:75%;} 
.in-lg-10{width:83.33333333%;} 
.in-lg-11{width:91.66666667%;} 
.in-lg-12{width:100%;} 

.theme-wrap{width: 89%;margin:0 auto;line-height: 17px;}

/*header*/
.theme-bgc{background: #e7ecf3;}
.theme-marque {margin: 0 0;padding: 10px 0;}
.theme-header{position: relative;}
.theme-banner{width: 100%;max-height: 195px;overflow: hidden;}
.theme-banner img{width: 100%;}
.theme-content-header {position: relative;bottom: 0;left: 0;right: 0;top: -34px;}
.theme-profile-pic{width: 132px;height: 132px;overflow: hidden;display: table-cell;vertical-align: middle;text-align: center;float: left;box-shadow: 1px 2px 3px #95989c;border-radius: 2px;}
.theme-profile-pic img{max-width: 132px;max-height: 132px;overflow: hidden;}
.theme-about-cp {float: left;margin-left: 25px;width: 66%;}
.cpname {color:#fff;text-shadow: 1px 1px 1px #727054;font-size: 18px;font-weight: bold;margin: 0;margin:7px 0 20px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.theme-about-cp span{font-size: 12px;}
.star-rate{margin:10px 0 15px;}
.thm-btn{padding: 7px 12px;font-size: 13px;float: left;margin-right: 10px;}
.thm-btn:hover{color: #fff;background-color: #FFA500;}
.thm-prio-btn {margin-top:15px;}
.thm-prio-btn span{font-size: 13px;background-color: #f1f3f7;border: 1px solid #ddd;border-radius: 3px;padding: 5px;display: inline-block;}
.theme-category{color:#fff;font-size: 13px;text-shadow: 1px 1px 1px #727054;text-align: right;margin-bottom: 25px;padding:10px 0;}
.theme-category li{display: inline;margin-left:20px;}
.theme-category ico{margin-right:2px;-webkit-filter:brightness(0) invert(1);-moz-filter:brightness(0) invert(1);filter:brightness(0) invert(1);}
.theme-history li{background-color: #f1f3f7;border-left:1px solid #ddd;border-top:1px solid #ddd;border-bottom:1px solid #ddd;line-height: 22px;padding:18px 15px;}
.theme-history li:nth-child(4n){border-right:1px solid #ddd;}
.theme-history li:nth-child(5n) {border-top:0;padding: 18px 15px;padding:9px 15px;text-align: left;}
.theme-history li:nth-child(6n) {border-top:0;padding: 18px 15px;border-right:1px solid #ddd;padding:9px 15px;text-align: left;}
.theme-history .in-lg-2{padding:18px 0;}
.theme-history small{color:#999;font-size: 13px;display: block;text-align: center;}
.theme-history span{text-align: center;font-weight: bold;display: block;word-break: break-all;}
.pint{background: url(../images/theme/theme-pint.png);width: 13px;height: 15px;float: left;margin-right: 10px;}
.theme-description{line-height: 20px;margin-bottom:30px;}
.morecontent span {display: none;}
.morelink{color:#FC6000;font-style: italic;}
.morelink:hover,.morelink:focus{color: #FFA500;}
/*end header*/

/* Paging */
.theme-list-product hr{margin:0;}
.pagination{padding: 38px 0;}
.toolbar .colfix > ul{background: #f1f3f7;color: #686868;}
#tool-kelompok.cat_selection {width: 200px;margin-left: 0;
}
#tool-kelompok .cat_display {margin: 0;border: 0;
}
.search-suggestion-box{background-color: #f1f3f7;border-top: 0;}
.cp-fixedtoolbar .pagination-bottom{position:fixed;top:inherit;bottom:0;z-index:100;width:96%;padding:0 2%;left: 0;background-color:#b5ccec;}
.pagination-bottom .pagination{padding:15px 0;}
.fixed-toolbar .pagination-bottom .search-suggestion-box {bottom: 26px;top: inherit;position: absolute;border-radius: 4px 4px 0 0;padding-bottom: 0;}
/*end Paging */

/* Deskripsi Product */
.readmore {display:block;float:left;margin:0 0 20px 15px;padding: 8px 15px 0;background:#f1f3f7; height: 25px;box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    border-radius: 3px;}
.theme-description {overflow: hidden;height:93px;}
.theme-description h1 {margin-bottom:5px;font-size:25px;}
.theme-description.expand {overflow: auto;height:auto;}

/* Product List */
.theme-list-item li{position: relative;width: 18%;margin:0 2.5% 50px 0;float: left;}
.prd-img {width: 240px;height: 242px;background: #fff;border: 1px solid #e1e1e1;display: table-cell;vertical-align: middle;text-align: center;overflow: hidden;}
.prd-img img{max-width: 100%;max-height: 100%;overflow: hidden;transition: all 0.6s ease 0s;-moz-transition: all 0.6s ease 0s;-webkit-transition: all 0.6s ease 0s;-o-transition: all 0.6s ease 0s;}
.prd-img:hover img{transform: scale(1.15) rotate(0deg);-moz-transform: scale(1.15) rotate(0deg);-webkit-transform: scale(1.15) rotate(0deg);-o-transform: scale(1.15) rotate(0deg);transition: all 0.6s ease 0s;-moz-transition: all 0.6s ease 0s;-webkit-transition: all 0.6s ease 0s;-o-transition: all 0.6s ease 0s;}
.info-product h3{color: #333;font-size: 14px;line-height: 20px;margin:10px 0 0;height: 60px;}
.info-product h3 a{color: #333;}
.info-product h3 a:hover{color:#FC6000;}
.info-product .price{display: block;margin:10px 0 30px;color:#fc6000;}
.min-stock .in-lg-6{padding: 0;}
.tag{top:4px;}
.semi-list_product .ico-list-semirow, .grid .ico-list-grid,.curr{background: rgba(0,0,0,.05);}
.theme-list-item li:nth-child(5n){margin-right: 0;}
.fade_in{visibility: visible; animation-duration: 1s; animation-delay: 400ms; animation-name: zoomIn;}
.fade_in{opacity: 0;}
/* End Product List */

/* Product List Semirow */
.semi-list_product .theme-list-item li {width:47.8%;background: #fff;border: 1px solid #e1e1e1;padding: 6px;margin-bottom: 20px;margin-right: 2%;}
.semi-list_product .prd-img {width: 208px;height: 210px;float: left;margin-right: 25px;}
.semi-list_product .info-product{float:left;width: 55%;margin-top: 45px;}
.semi-list_product .info-product .price{margin-bottom: 45px;}
.semi-list_product .theme-list-item li:nth-child(2n){margin-right: 0;}
.semi-list_product .tag{top:3px;}
/* End Product List Semirow*/

/* Detail Produk */
.theme-bgpaging{background: #e7ecf3;padding: 10px 0;}
.theme-bgpaging .nav-page {float: left;}
.theme-bgpaging .nav-page a {border: 1px solid #DDD;background: #FAFAFA;padding:7px 15px 7px 20px;text-align: center;display: inline-block;color:#6f6f70;font-size: 13px;}
.theme-bgpaging .nav-page ico{transform: scale(.5, .5);opacity: .6;float: left;}
.theme-bgpaging .thm-btn,.theme-bgpaging .nav-page a:last-child ico{float: right;}
.theme-bgpaging ico.nav-right {margin-left: 5px;margin-right: 0;}
.theme-bgpaging .thm-btn{padding: 10px 15px;margin: 0;}
.theme-detailprd{margin-top: 30px;}
.theme-detailprd .in-lg-5{padding-left: 0;width: 35%;}
.theme-detail-product .productimg{border:0;background: none;}
.theme-detailprd .imgbox{border:1px solid #DDD;float:left;width: 348px;height: 348px}
.theme-imgdetail .thumbnails{float:left;margin:0 10px 0 0;width: 42px;}
.theme-imgdetail .thumbnail-lists{height: 350px;width: 42px;margin: 0 auto;overflow: hidden;}
.theme-imgdetail .thumbnails li{display: block;width: 40px;height: 40px;margin: 0 0 2px 0;padding: 0;border-radius: 3px;overflow: hidden;border: 1px solid #ccc;cursor: pointer;opacity: .4;transition: color .2s, background .2s;position: relative;}
.theme-imgdetail .thumbnails li:last-child{margin-bottom: 0;}
.theme-imgdetail .thumbnails li img {position: absolute;max-width: 100%;max-height: 100%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
.theme-imgdetail .thumbnails li:hover {opacity: 1;}
.theme-imgdetail .preloader {text-align: center;display: none;}
.thumbcontainer {float: left;width: 348px;height: 348px;}
.theme-addtostar {text-align: right;margin-right: 3px;margin-top: 10px;}
.theme-addtostar a {display: inline-block;padding: 5px;border: 1px solid #ddd;border-radius: 2px;font-size: 13px;}
.theme-addtostar .theme-addtobasket{background: #fc6000;color: #fff;margin-right: 7px;}
.theme-addtostar .theme-addtofavorite{background: #f1f3f7;color: #6f6a66;padding-right: 10px;}
.theme-addtobasket ico{-webkit-filter: brightness(0) invert(1);-moz-filter: brightness(0) invert(1);filter: brightness(0) invert(1);}
.theme-addtofavorite ico{opacity: .2;}
.theme-addtostar .theme-addtobasket:hover{background-color: #FFA500;}
.theme-addtostar .theme-addtofavorite:hover{background-color: #e7eaf1;}
.theme-detailprd .in-lg-4{width: 40%;}
.theme-prdname h2{font-size: 21px;color:#333;line-height: 30px;}
.theme-prdname dl{font-size: 13px;}
.theme-prdname dt{float:left;width: 35%;color: #999;}
.theme-prdname dd{padding:0 0 10px 36%;}
.theme-prdname .data{float: left;width: 50%;line-height: 22px;}
.theme-prdname .harga{color:#fc6000;}
.theme-prdname textarea {padding: 5px 10px;width: 100%;height:118px;}
.theme-prdname .thm-btn{float: right;margin: 5px 0 0;padding: 5px 10px;}
.theme-cpdetailprd {border: 1px solid #e4e4e4;padding: 10px;}
.theme-detailpp{width: 60px;height: 60px;overflow: hidden;display: table-cell;vertical-align: middle;text-align: center;float: left;border-radius: 2px;margin-right: 10px;}
.theme-detailpp img{max-width: 60px;max-height: 60px;overflow: hidden;}
.theme-cpnamedet{font-size: 14px;color: #333;margin: 12px 0 0 70px;}
.theme-cpnamedet a{color: #333;}
.theme-cpnamedet a:hover{color: #FC6000;}
.theme-cpinftbl{border:1px solid  #e4e4e4;font-size: 12px;margin: 22px 0;margin: 25px 0;}
.theme-cpinftbl dt{float: left;width:44%;padding: 10px;color: #999;}
.theme-cpinftbl dd{border-bottom:1px solid  #e4e4e4;padding: 10 0 10px 52%;}
.theme-cpinftbl dd:last-child{border-bottom: none;}
.theme-detail-product .iconterverifikasi {margin-bottom: 10px;}
.theme-cpdetailprd p{font-size: 13px;color: #666;line-height: 20px;margin-bottom: 34px;}
.theme-detail-product .tabdetail{margin: 70px 0 45px;}
.theme-detail-product .tabdetail .tabs {float: left;width: 100%;position: relative;}
.theme-detail-product .tab-content > div{padding: 30px 40px;}
.theme-detail-product .tab-content{background-color: #fff;border:1px solid #ddd;width: 100%;line-height: 1.2em;float: left;}
.theme-detail-product .tabs li{margin-bottom: -2px;background-color: #fff;font-size: 15px;color:#333;font-weight: bold;float: left;display: block;width: 25%;cursor: pointer;text-transform: uppercase;}
.theme-detail-product .tabs .tab-link.current{background-color: #e7ecf3;border-bottom: 1px solid #F8F8F8;border-top: 1px solid #DDD;}
.theme-detail-product .tabs .tab-link.current:last-child div {border-right: 1px solid #DDD;}
.theme-detail-product .tabs li:first-child div {border-left: 0;}
.theme-detail-product .tabs li div {text-align: center;padding: 15px 5px 12px 5px;border-left: 1px solid #ddd;margin: 0 auto;}
.theme-detail-product .tabs .tab-link.current:last-child div {border-right: 1px solid #DDD;}
.theme-detail-product .tabs .tab-link.current:first-child div {border-left: 1px solid #DDD;}
.semi-list_product .theme-list-item .item {background: #fff;border: 1px solid #e1e1e1;padding: 6px;margin-bottom: 20px;margin-right: 2%;float: left;}
.theme-simiprd{line-height: 21px;margin-bottom: 20px;}
.theme-simiprd h2{font-size: 18px;color: #333;font-weight: bold;float:left;margin: 0;}
.theme-simiprd a{color: #333;font-size: 13px;float:right;font-weight: bold;}
.theme-simiprd ico{transform: scale(.7, .7);opacity: .6;margin: 0;}
.slick-arrow{display: none!important;}
.slick-dotted.slick-slider{margin-bottom: 30px;}
.slick-dots{display: block;width: 100%;padding: 0;margin: 0;list-style: none;text-align: center;}
.semi-list_product .slick-dots li{position: relative;float: none;display: inline-block;background: none;width: 10px;height: 10px;margin: 0 5px;padding: 0;border:0;cursor: pointer;background:#000;border-radius: 50%;}
.slick-dots li button{display: none;}
.semi-list_product .slick-dots .slick-active{background-color: #FC6000;}
.semi-list_product .slick-dots li:nth-child(2n){margin: 0 5px;}
.theme-cpinftbl input[type=submit]{padding: 4px 10px;margin:5px 0 0;font-size: 12px;}
/*End Detail Produk */


/* Kirim Pesan pop up */
.contact-body-bg {display: none;position: fixed;top: 20%;left: 0;right:0;margin:0 auto;width: 50%;padding: 50px 6%;background-color: white;-moz-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);-webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.2);z-index:1002;overflow: auto;opacity:0;}
.bg_hitam{display: none;position: absolute;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color: #C2C2C2;z-index:1001;-moz-opacity: 0;opacity:0;filter: alpha(opacity=80);}
.contact-body-bg .close {display: block;cursor: pointer;position: absolute;top: 10px;right: 10px;padding: 10px;opacity: .4;font-weight: bold;}
.contact-body-bg h3 {font-weight: bold;color: #333;}
.contact-body-bg p {padding-bottom: 20px;}
.contact-body-bg .ps {font-size: 12px;opacity: .3;}
.contact dt {float: left;width: 30%;}
.contact dd {padding: 0 0 10px 31%;line-height: 20px;}
.contact input {margin: 0 5px 0 0;vertical-align: middle;border:0;}
.contact .thm-btn{padding: 7px 12px;float: right;font-size: 13px;}
/* End Kirim Pesan pop up */

/* Slider */
.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;    touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;}
.slick-track:before,.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}


/* Read More */

.showmore_content p {margin:0!important;padding:0!important;}

.showmore_content {
position: relative;
overflow: hidden;
}
.showmore_trigger {
width: 100%;
height: 45px;
line-height: 45px;
cursor: pointer;
}
.showmore_trigger span {
display: block;
}
.showmore_trigger span.more {
display: block;
position: relative;
bottom:100px;
}