 @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

.full-container{font:14px/1.3 'Roboto', Helvetica, sans-serif;width:100%;margin:0 auto;padding:0 15px;box-sizing:border-box;} 
.con:before,.con:after{content:"";display:table;line-height:0;height:0;box-sizing:border-box;} 
.con:after{clear:both;box-sizing:border-box;} 
.lte7 .con{zoom:1;} 
.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11,.in-lg-12{float:left;position: relative;min-height: 1px;padding:0 20px;box-sizing:border-box;} 
.in-lg-1{width:8.33333333%;} 
.in-lg-2{width:16.66666667%;} 
.in-lg-3{width:25%;} 
.in-lg-4{width:33.33333333%;} 
.in-lg-5{width:41.66666667%;} 
.in-lg-6{width:50%;} 
.in-lg-7{width:58.33333333%;} 
.in-lg-8{width:66.66666667%;} 
.in-lg-9{width:75%;} 
.in-lg-10{width:83.33333333%;} 
.in-lg-11{width:91.66666667%;} 
.in-lg-12{width:100%;} 

.theme-wrapper{margin:0 45px;}
/* COMPANY INFO */
.theme-cpinfo{padding:0;}
.theme-cpinfo_{padding:0;color:#FFF;}
.theme-cp-profile{background:#35455D;padding-top:25px;}
.theme-img-container{position:relative;display:table;table-layout:fixed;margin:0 auto;}
.theme-img-container .theme-blockimg{width:121px;height:122px;display:table-cell;vertical-align:middle;text-align:center;background:#FFF;}
.theme-img-container .theme-blockimg img{display:block;margin:0 auto;max-width:100%;max-height:100%;overflow:hidden;}
.prio{font-weight:700;text-align:center;font-size:11px;margin:10px auto;}
.prio img{margin-right:3px;}
.cpname {font-size:17px;color:#FFF;font-weight:700;text-align:center;margin-bottom:0;}
.location{font-size:12px;display:block;text-align:center;margin-bottom:11px;}
.rating{width:86px;height:16px;display:block;margin:0 auto;}
.score{display:block;text-align:center;font-size:13px;margin:3px 0;}
.theme-cp-address span{font-weight:500;font-size:15px;}
.theme-cp-address{margin:15px auto;}
.theme-cp-address p{font-size:13px;}

.theme-cp-info{background:#455670;padding:0;}
.theme-cp-category dt{float:left;padding:0px 5px;text-align:center;vertical-align:middle;}
.theme-cp-category dt ico{-webkit-filter:invert(1) brightness(2);-moz-filter:invert(1) brightness(2);filter:invert(1) brightness(2);}
.theme-cp-category dt:nth-child(1){background:#593BB5;}
.theme-cp-category dt:nth-child(3){background:#0194A8;}
.theme-cp-category dt:nth-child(5){background:#A400AC;}
.theme-cp-category dd{padding:6px 0px 5px 46px;border-bottom:1px solid #556886;vertical-align:middle;}
.cat{margin:5px auto;}
.theme-cp-activites, .theme-cp-info > div {float:left;width:100%;display: block}
.theme-cp-activites li{float:left;width:100%;padding:0;vertical-align:middle;border-bottom:1px solid #556886;}
.theme-cp-activites li div {padding:5px 0;}
.theme-cp-activites li .pull-right {float:right;}
.theme-cp-activites li a {float:right;vertical-align:middle;}
.theme-cp-activites .emailprofile {  display:block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.send-msg{display:block;margin:10px 20px;padding:5px 0;background:#EB8D31;color:#FFF;text-align:center;}
.send-msg:hover{color:#FFF;background:#de8834;}

.theme-cp-fixed .theme-cp-profile{position:fixed;top:40px;height:auto !important;z-index:10;width:322px !important;}
.theme-cp-fixed .theme-cp-info{position:fixed;top:396px;z-index:20;width:322px;bottom:0;}
.theme-cp-footermargin .theme-cp-profile{position:absolute;bottom:202px;top:inherit;}
.theme-cp-footermargin .theme-cp-info{position:absolute;bottom:0px;top:inherit;}
.theme-cp-fixedtoolbar .theme-pag-bot{position:fixed;top:inherit;bottom:0;z-index:20;width:100%;left: 0;}
.theme-cp-fixedtoolbar .toolbar{padding:12px 0;}
/*.theme-cp-fixedtoolbar .pagination .kel{padding-left:380px !important;}*/
/* END COMPANY INFO */

/* CONTENT RIGHT */
.theme-cpcontent{padding:0;background:#FFF;}
.theme-cpcontent marquee{margin:7px 5px;}
.theme-cp-banner{width:100%;height:196px;overflow:hidden;}
.theme-cp-banner img{width:100%;}
.theme-cpcontent article{color:#746B66;margin:10px 0;text-align:justify;line-height:22px;}
.theme-cpcontent h1 {color:#746B66;margin-top:10px;font-size: 22px}
.theme-item-content{margin:15px 0; min-height: 500px;}
.theme-item-content h2 {color:#746B66;}
.theme-item{float:left;width:20%;height:200px;color:#555;margin:1px 0 10px 0;position:relative;display:table;table-layout:fixed;opacity:0;}
.theme-item-img{position:relative;display:table;border:1px solid #eee;table-layout:fixed;margin:0 auto;}
.theme-item-img .theme-blockimg{width:175px;height:180px;display:table-cell;vertical-align:middle;text-align:center;background:#FFF;}
.theme-item-img .theme-blockimg img{display:block;margin:0 auto;max-width:100%;max-height:100%;overflow:hidden;}
.cc{position:absolute;width:40px;border-radius:50%;background:#EB8D31;color:#FFF;text-align:center;padding:10px 0;top:7px;left:7px;}
.discount{position:absolute;width:40px;border-radius:50%;background:#4C5692;color:#FFF;text-align:center;padding:10px 0;top:7px;left:52px;}
.theme-item-desc{position:absolute;top:0;left:0;background:#F8F8F8;display:none;width:100%;height:100%;text-align:center;}
.theme-item-info{margin:15px;border:1px solid #DFDFDF;min-height:168px;height:auto;}
.theme-item-info h4{ margin: 20px 10px 0 10px;height: 75px;}
.theme-item-info h4 a{text-decoration:none;color:#746B66;word-wrap:break-word;font-size:13px;}
.theme-item-info h4 a:hover{color:#A29F9E;}
.theme-item:hover .theme-item-desc{display:block;}
.harga{margin-bottom:25px;color:#455670;}
.minorder,.quantity{font-size:11px;padding:0 5px;text-align: left}

.theme-list-content .theme-item{width:46%;margin:7px 5px;border:1px solid #f0efef;padding:10px;}
.theme-list-content .theme-item .theme-item-img{float:left;border:1px solid #f0efef;}
.theme-list-content .theme-item .theme-item-desc{position:relative;float:right;display:block;width:56%;background:#FFF;}
.theme-list-content .theme-item .theme-item-desc .theme-item-info{border:0;text-align:left;margin-top:53px;min-height:0;}
.theme-list-content .theme-item .cc{left:210px;z-index:1;top:12px;}
.theme-list-content .theme-item .discount{left:255px;z-index:1;top:12px;}

.morecontent span {display: none;}
.listing .verified{margin-left: 5px; border:2px solid #fff; border-radius: 50%; background: #fff}
.verified img{ margin-top:-2px; margin-left: 0px }
/* END CONTENT RIGHT */

/* Paging */
.toolbar{background:#dee1e6;bottom:0;}
.toolbar .colfix > ul{background: #f8f8f8;color: #686868;}
.pagination .kel{padding-left:15px !important;}
.pagination .pag{padding-right:15px !important;}
.n-arrow{background:#36455C;}
.nav-left{-webkit-filter:invert(1);-moz-filter:invert(1);filter:invert(1);}
.nav-right{-webkit-filter:invert(1);-moz-filter:invert(1);filter:invert(1);}
#tool-kelompok.cat_selection{width:210px;margin-left:0;}
#tool-kelompok .cat_display {margin:0;border:0;}
.search-suggestion-box{background-color: #f1f3f7;border-top: 0;}
.theme-pag-bot{padding:0;}
.toolbar .search-suggestion-box {bottom: 26px;top: inherit;position: absolute;border-radius: 4px 4px 0 0;padding-bottom: 0;}
.curr{background:#F4E8FF;}
/*end Paging */

/*pop up*/
.theme-bg_hitam{display:none;position:absolute;position:fixed;top:0%;left:0%;width:100%;height:100%;background-color:#C2C2C2;z-index:1001;-moz-opacity:0;opacity:0;filter:alpha(opacity=80);}
.theme-lightbox {display:none;position:absolute;position:fixed;top:20%;left:25%;width:50%;height:auto;background:#f5f5f5;box-shadow:0 0 10px 0.1px #242424;z-index:1002;opacity:0;}
.theme-lightbox h3{padding:10px 0;color:#FFF;background:#35455d;font-size:17px;text-align:center;}
.theme-contact{padding:0 50px;}
.theme-contact dt {float:left;width:30%;}
.theme-contact dd {padding:0 0 10px 31%;line-height:20px;}
.theme-contact input {margin:0 5px 0 0;vertical-align: middle;border:0;}
.thm-btn{padding:7px 10px 7px !important;font-size:13px;text-align:center;}
.thm-btn:hover{background:#DE8834;}
.btn-term{text-align:center;margin:15px 0 25px 0;}
#card{width:310px; height:100px; padding:10px; border:1px solid #acacac; box-shadow: 0 4px 4px #999; margin-top:50px; background:#fff;}
#overlay {filter:alpha(opacity=0); -moz-opacity:0; -khtml-opacity: 0; opacity: 0;  background-color: #fff; position: absolute; top: 0px; left: 0px; z-index: 50; width: 100%; height: 100%; display:none;}
#info{margin:auto; padding:20px; width:400px; background:#fff; box-shadow: 0 4px 16px #999; z-index: 51; border:1px solid #acacac;  position:absolute; display:none;}
#results{width:400px;}
#theme-close-popup{border:2px solid #FFF;background:#35455D;padding:5px 9px;border-radius:50%;color:#FFF;text-align:center;vertical-align:middle;position:absolute;right:-16px;top:-16px;}

.theme-term{text-align:center;margin:5px 10px;}
.theme-term a{color:#ef2e24;}
.theme-term a:hover{color:#932822;}
/*end pop up*/

/* DETAIL PRODUCT */

/* Left Side */
.theme-cart-add{background:url('../images/theme/theme-sprite.jpg') no-repeat -21px 0px;}
.theme-favorite{background:url('../images/theme/theme-sprite.jpg') no-repeat -61px 0px}
.theme-detail-fc{margin-top:10px;}
.theme-leftside{padding-left:0;}
.theme-detail-img{padding:0;}
.theme-toolbar-btn{margin-top:22px;}
.theme-toolbar-btn a span{font-size:12px;}
.theme-toolbar-btn a{padding:8px 17px 11px;}
.theme-toolbar-btn a{background:#eb8d31;color:#FFF;margin:0 3px;}
.theme-toolbar-btn a:nth-child(1):hover{background:#FFF;border:1px solid #eb8d31;color:#eb8d31;padding:7px 16px 10px;}
.theme-toolbar-btn a:nth-child(1):hover .theme-cart-add{background:url('../images/theme/theme-sprite.jpg') no-repeat 0px 0px;}
.theme-toolbar-btn a:nth-child(2):hover{background:#FFF;border:1px solid #eb8d31;color:#eb8d31;padding:7px 16px 10px;}
.theme-toolbar-btn a:nth-child(2):hover .theme-favorite{background:url('../images/theme/theme-sprite.jpg') no-repeat -41px 0px;}

.theme-prdgallery{margin-top:25px;}
.theme-prdgallery .imgbox{border:1px solid #DDD;width:368px;height:368px;position:relative;background:#FFF;}
.detail-product .productimg{display:block;float:left;height:353px;background:#FFF;border:1px solid #DDD;}
.detail-product .preloader{text-align:center;display:none;}
.detail-product .thumbnails{width:100%;display:block;text-align:center;margin:10px auto;}
.detail-product .thumbnail-lists{margin:0 auto;width:300px;height:34px;overflow:hidden;}
.detail-product .thumbnails li {display: inline-block;font-size: 10px;float: none;width: 30px;height: 30px;margin: 0 0 2px 0;padding: 0;border-radius: 3px;overflow: hidden;border: 1px solid #ccc;cursor: pointer;opacity: .4;transition: color .2s, background .2s;position: relative;}
.detail-product .thumbnails li img {position: absolute;max-width: 100%;max-height: 100%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
.detail-product .tabelform {float: left;font-size: 12px;width: 100%;color: #888;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.tabelform .form ul {padding:16px 9px 16px;width: 96%;display: block;float: left;background-color: #FFF;border: 1px solid #e6e6e6;border-radius: 3px;}
.tabelform .form ul li {display: table;float: left;}
.tabelform .form li h5 {float: left;width: 20%;margin-top: 11px;font-weight: normal;}
.tabelform .form li .data {float: left;width: 40%;margin-top: -5px;}
.tabelform .form input[type="text"] {padding: 5px 60px 6px 2px;height: 30px;width: 78%; float: left;font-size: 14px;text-align: center;font-weight: 500;background: #F8F8F8;border: 1px solid #DDD;margin-bottom: 0;box-sizing: border-box;}
.tabelform .form .button-add-on{margin:0px !important;height: 35px;position: relative;}
.tabelform .form textarea {background: #FFF;height: 127px;border-color: #DDD;float: left;font-size: 12px;padding: 8px;border: 1px solid #d9d9d9;background-color: #FFFFFF;width: 100%;height: 127px;min-height: 129px;}

.theme-detail-descprd{margin-top:62px;}
.theme-detail-descprd h3{color:#35455d;font-size:22px;font-weight:700;height:88px;width:100%;}

.theme-detail-descprd .in-lg-6{padding:0;}
.theme-minbeli{font-size:14px;}
.theme-minbeli dt{float:left;width:45%;color:#746b66;}
.theme-minbeli dd{margin-bottom:4px;float:left;text-indent:15px;width:55%;font-weight:500;}
.theme-prdlastupdate{font-size:14px;}
.theme-prdlastupdate dt{float:left;width:45%;color:#746b66;}
.theme-prdlastupdate dd{margin-bottom:4px;float:left;text-indent:15px;width:55%;font-weight:500;}
.detail-product .tabelform{margin-top:10px !important;}


.theme-detail-descprd .txtcenter{text-align:left !important;}
.theme-detail-descprd .txtcenter input{background:#eb8d31;color;padding:10px 46px !important;margin-top:10px;}


.detail-product .tabdetail .tabs {float: left;width: 100%;position: relative;border-bottom: 1px solid #ddd;margin-bottom: 30px;}
.tabdetail .tabs .tab-link.current {background: #F8F8F8;border-bottom: 1px solid #F8F8F8;border-top: 1px solid #DDD;}
.detail-product .tabs li {float: left;display: block;width: 25%;border-bottom: 1px solid #ddd;margin-bottom: -3px;cursor: pointer;background: #f1f1f1;text-transform: uppercase;font-size: 11px;}
.tabdetail .tabs .tab-link.current:last-child div {border-right: 1px solid #DDD;}
.tabdetail .tabs .tab-link.current:first-child div {border-left: 1px solid #DDD;}
.detail-product .tabs li div {text-align: center;padding: 15px 5px 12px 5px;border-left: 1px solid #ddd;margin: 0 auto;}
.theme-tabdetail{margin-top:67px !important;}
.theme-tabdetail h3{color:#35455d;font-size:18px;font-weight:500;margin-top:40px;}
.theme-tabdetail article{font-size:14px;font-weight:300;line-height:25px;}


.theme-detailcpinfo{padding:0 !important;margin-top:40px;}
.theme-detailcpimg_{padding-left:0;padding-right:25px;}
.theme-detailcpimg{position:relative;display:table;table-layout:fixed;margin:0 auto;border:1px solid #DDD;width:120px;height:120px;}
.theme-detailcpimg .theme-blockimg{width:120px;height:120px;display:table-cell;vertical-align:middle;text-align:center;background:#FFF;}
.theme-detailcpimg .theme-blockimg img{display:block;margin:0 auto;max-width:100%;max-height:100%;overflow:hidden;}
.theme-detailcpket h3{margin-top:0;margin-bottom:15px;}
.theme-cpdetail{line-height:22px;}
.theme-cpdetail dt{float:left;width:52%;color:#333;font-size:12px;font-weight:500;}
.theme-cpdetail dd{color:#333;font-size:12px;font-weight:300;}
.theme-detailcpaddr p{font-size:15px;font-weight:300;line-height:22px;}
.theme-detailcpaddr .iconterverifikasi{margin-top:25px;}

.detail-product .thumbnails li:hover {opacity: 1;}
/* End Left Side */

/* Read More */

.showmore_content p {margin:0!important;padding:0!important;}

.showmore_content {
position: relative;
overflow: hidden;
}
.showmore_trigger {
width: 100%;
height: 45px;
line-height: 45px;
cursor: pointer;
}
.showmore_trigger span {
display: block;
}
.showmore_trigger span.more {
display: block;
position: relative;
bottom:100px;
}

/* Right Side */

.detail-toolbar .nav-page a {border-radius: 3px;border: 1px solid #DDD;background: #FAFAFA;padding: 7px 5px 0;height: 22px;width: 44%;text-align: center;}
.detail-toolbar .nav-page {position:absolute;padding-right:45px;top:-25px;}
.detail-toolbar a {display: inline-block;padding: 5px 8px;color: #666;}
.theme-rightside .nav-page a{border-radius:3px;border:1px solid #DDD;background:#FAFAFA;padding:7px 5px 0;height:22px;width:44%;text-align:center;font-size: 12px;}
.detail-toolbar .nav-page a ico {float: left;}
.detail-toolbar ico {margin-right: 5px;opacity: .2;}
.detail-toolbar div a:hover ico, .detail-toolbar a.selected ico {opacity: 1;}
.detail-toolbar .nav-page a:hover {background: #FFF;border-color: #BBB;}
.detail-toolbar div a:hover {color: #000;}
.detail-toolbar .nav-page a:last-child ico {float: right;}
.detail-toolbar ico.nav-right {margin-left: 5px;margin-right: 0;}
.theme-rightside .nav-page a .nav-left{background-position: -240px -50px;}
.theme-rightside .nav-left{-webkit-filter:invert(0.6);-moz-filter:invert(0.6);filter:invert(0.6);}
.theme-rightside .nav-right{-webkit-filter:invert(0.6);-moz-filter:invert(0.6);filter:invert(0.6);}
.theme-btn-detail-top{display:block;text-align:center;padding:10px;border:1px solid #eb8d31;color:#eb8d31;margin:20px 0;}
.theme-detcptop{background:#35455d;margin-top:60px;}
.theme-detcptop h3{font-size:15px;text-align:center;font-weight:500;}
.theme-detcptop h3 a{color:#FFF;}
.theme-detcptop h3 a:hover{color:#eaeaea;}
.theme-detailcpimg-top{position:relative;display:table;table-layout:fixed;margin:30px auto;border:1px solid #DDD;width:120px;height:120px;}
.theme-detailcpimg-top .theme-blockimg{width:120px;height:120px;display:table-cell;vertical-align:middle;text-align:center;background:#FFF;}
.theme-detailcpimg-top .theme-blockimg img{display:block;margin:0 auto;max-width:100%;max-height:100%;overflow:hidden;}
.theme-cpdetail-top{line-height:22px;margin:35px 0 50px 0;}
.theme-cpdetail-top dt{float:left;color:#FFF;font-size:12px;font-weight:500;}
.theme-cpdetail-top dd{color:#FFF;font-size:12px;font-weight:300;padding: 0 0 0 95px;}
.theme-similiarprd{padding:0 !important;}
.detail-product .otherproducttitle .producttitle{color:#35455d;font-size:14px;font-weight:500;}
.detail-product .otherproductbody .price{color:#35455d;}
.theme-similiarprd{margin-top:30px;}
.theme-moreitem{padding:0 !important;margin-top:30px;}
.theme-moreitem .theme-item{width:18%;margin-right:10px;border:1px solid #ddd;}
.theme-cpdetail-top input[type=submit]{padding: 4px 10px;margin:5px 0 0;font-size: 12px;}

.detail-product > .w25 > div {position: relative;margin-left: 10px;}
.otherproduct {margin-top: 0;float: left;border: 1px solid #eee;}
.detail-product .otherproducttitle {display: block;float: left;width: 100%;background: #fff;text-align: center;padding: 17px 0;border-bottom: 1px solid #efefef;}
.detail-product .otherproducttitle .producttitle {margin-bottom: 0;text-transform: uppercase;}
.detail-product .otherproductbody {display: block;float: left;background: #fff;padding: 15px;font-size: 12px;line-height: 1.3em;border-bottom: 1px solid #efefef;}
.otherproductbody img {width: 90%;}
.otherproductbody h4 {font-size: 14px;font-weight: normal;margin: 0 0 15px 0;color: #444;}
.otherproduct .price {margin-bottom: 30px;}
.otherproductbody .price span {font-size: 12px;font-weight: normal;color: #666;}
.detail-product .otherproducttitle {display: block;float: left;width: 100%;text-align: center;padding: 17px 0;border-bottom: 1px solid #efefef;}
.detail-product .otherproducttitle a {display: block;float: left;width: 100%;text-align: center;text-transform: uppercase;font-size: 10px;line-height: 1.2em;color: #444;}
.detail-product .otherproducttitle a::after {content: "• • •";display: block;text-align: center;}

.detail-product .theme-vall a{padding:5px 0;}
.detail-product .theme-vall,.detail-product .theme-vall a{background:#dfe2e7;}

.stok::before {content: 'tersedia';}
.minorder::before, .stok::before {font-size: 10px;color: #888;position: absolute;margin-top: -14px;font-weight: normal;}
/* End Right Side */

ico, .tag div {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/sprite.svg) -150px -30px;
    background-size: 260px 260px;
    vertical-align: middle;
    margin: -5px 15px 0 0;
    transition: .3s;
    position: relative;
}

@media (min-width: 1024px) and (max-width:1550px) {


	.footer-toolbar .pagination .in-lg-3 {width:25%;padding-left:0;} 
	.footer-toolbar .pagination .in-lg-6 {width:50%;margin-top:0;} 

	.footer-margin .pagination .in-lg-3  {width:33%;} 
	.footer-margin .pagination .in-lg-6 {width:100%;margin-top:15px;} 

	.theme-cp-fixed .theme-cp-profile {width: 280px!important;}
	.theme-cp-fixed .theme-cp-info {width: 280px;}

}