<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f1f1f1">
<tbody>
<tr>
<td align="center">
<table border="0" width="800" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size: 0; line-height: 0;" width="49">&nbsp;</td>
<td style="font-size: 0; line-height: 0;" bgcolor="#e6e6e6" width="1">&nbsp;</td>
<td>
<table border="0" width="700" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody>
<tr>
<td style="font-size: 0; line-height: 0;" bgcolor="#e6e6e6" height="1">&nbsp;</td>
</tr>
<tr>
<td>
<table border="0" width="700" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
<tbody>
<tr>
<td style="font-size: 0; line-height: 0;" width="22" height="72">&nbsp;</td>
<td style="mso-line-height-alt: 0; mso-margin-top-alt: 1px; line-height: 0; font-size: 0;" width="187"><a href="http://www.indonetwork.co.id/" target="_Blank"><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/email-blast/nws-logo.jpg" alt="indonetwork.co.id" width="187" height="36" /></a></td>
<td style="font-size: 0; line-height: 0;" width="87">&nbsp;</td>
<td style="color: #a5a5a5; font-size: 13px; font-family: 'Roboto',Arial,sans-serif;" width="382">Pusat UKM dan Peluang Bisnis Online Terbesar di Indonesia</td>
<td style="font-size: 0; line-height: 0;" width="22">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" bgcolor="#e6e6e6" height="1">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="55">&nbsp;</td>
</tr>
<tr>
<td>
<table border="0" width="700" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size: 0; line-height: 0;" width="35">&nbsp;</td>
<td>
<table border="0" width="630" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="color: #333333; font-size: 18px; font-family: 'Roboto',Arial,sans-serif;">Hi, <strong>{Username}</strong></td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td>
</tr>
<tr>
<td style="color: #333333; font-size: 14px; font-family: 'Roboto',Arial,sans-serif; line-height: 22px;">Terima kasih atas kepercayaan kepada <a href="http://www.indonetwork.co.id/" target="_Blank" style="text-decoration:none;color: #452dd8;">Indonetwork.co.id</a> sebagai partner media pemasaran online Anda.<br><br>
Pembayaran dengan ID <strong>012182323</strong> Anda untuk Poin Sitem Indonetwork telah kami konfirmasi.<br><br>
Silahkan login kembali ke akun Indonetwork Anda melalui <a href="" target="_Blank" style="text-decoration:none;color: #452dd8;">tautan</a> ini untuk mengaktifkan &amp; menggunkan Poin Sistem Indonetwork kami.
</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td>
</tr>
<tr>
<td>
<table style="table-layout: fixed;" border="0" width="630" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size: 13px; color: #333333; font-family: 'Roboto',Arial,sans-serif; text-align: right;" align="right">Salam,<br />Tim Indonetwork.co.id</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="25">&nbsp;</td>
</tr>
<tr>
<td>
<table border="0" width="630" cellspacing="0" cellpadding="0" bgcolor="#2266cc">
<tbody>
<tr>
<td style="mso-line-height-alt: 0; mso-margin-top-alt: 1px; line-height: 0; font-size: 0;" width="62" height="90"><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/email-blast/act-img01.jpg" alt="indonetwork.co.id" width="62" height="90" /></td>
<td style="font-size: 0; line-height: 0;" width="40">&nbsp;</td>
<td style="color: #ffffff; font-size: 16px; font-family: 'Roboto',Arial,sans-serif; font-style: italic;text-align:center;">Perluas Jaringan Berbisnis &amp; <br>Pertingkat Promosi Online Anda di Indonetwork!</td>
<td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
<td style="mso-line-height-alt: 0; mso-margin-top-alt: 1px; line-height: 0; font-size: 0;" width="140"><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/email-blast/act-img02.jpg" alt="indonetwork.co.id" width="140" height="90" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
<td style="font-size: 0; line-height: 0;" width="35">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="30">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" bgcolor="#d5d5d5" height="4">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="font-size: 0; line-height: 0;" bgcolor="#e6e6e6" width="1">&nbsp;&gt;</td>
<td style="font-size: 0; line-height: 0;" width="49">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" colspan="2">&nbsp;</td>
<td>
<table border="0" width="700" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size: 0; line-height: 0;" height="35">&nbsp;</td>
</tr>
<tr>
<td height="24">
<table border="0" width="700" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="font-size: 0; line-height: 0;" width="293">&nbsp;</td>
<td style="mso-line-height-alt: 0; mso-margin-top-alt: 1px; line-height: 0; font-size: 0;" width="24"><a href="https://www.facebook.com/indonetwork.co.id/?ref=aymt_homepage_panel" target="_Blank"><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/email-blast/nws-img03.jpg" width="24" height="24" /></a></td>
<td style="font-size: 0; line-height: 0;" width="21">&nbsp;</td>
<td style="mso-line-height-alt: 0; mso-margin-top-alt: 1px; line-height: 0; font-size: 0;" width="24"><a href="https://twitter.com/IndonetworkCoId" target="_Blank"><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/email-blast/nws-img04.jpg" width="24" height="24" /></a></td>
<td style="font-size: 0; line-height: 0;" width="18">&nbsp;</td>
<td style="mso-line-height-alt: 0; mso-margin-top-alt: 1px; line-height: 0; font-size: 0;" width="24"><a href="https://www.linkedin.com/company/7793341?trk=tyah&amp;trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A7793341%2Cidx%3A1-1-1%2CtarId%3A1465530207979%2Ctas%3Aindonetwork" target="_Blank"><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/email-blast/nws-img05.jpg" width="24" height="24" /></a></td>
<td style="font-size: 0; line-height: 0;" width="296">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="18">&nbsp;</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;">JANGAN MEMBALAS PESAN INI. Untuk mendapatkan informasi tentang cara menghubungi Indonetwork:</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;"><a style="color: #452dd8; text-decoration: none;" href="http://www.indonetwork.co.id/page/contact-us" target="_Blank">www.indonetwork.co.id/page/contact-us</a> 0804 1787 878 ( Jam Kerja: 09.00-16.30 WIB )</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;">Gedung Lippo Kuningan Lantai 21, Jl. HR. Rasuna Said Kav. B12, Karet Kuningan Setiabudi, Jakarta Selatan.</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;">Menara Salemba Lantai 8, Jl. Salemba Raya No.5-5A, Paseban, Senen, Jakarta Pusat.</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;">Jl. Rungkut Madya, Ruko Grand City Regency Blok A10, Surabaya 60293.</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="20">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" bgcolor="#dbdbdb" height="1">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" bgcolor="#ffffff" height="1">&nbsp;</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="18">&nbsp;</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;">Privasi Anda penting bagi kami. Harap tinjau Kebijakan Privasi indonetwork.</td>
</tr>
<tr>
<td style="color: #333333; font-size: 13px; font-family: 'Roboto',Arial,sans-serif; text-align: center; line-height: 22px;">&copy; 2016 Indonetwork. Hak cipta dilindungi.</td>
</tr>
<tr>
<td style="font-size: 0; line-height: 0;" height="10">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
<td style="font-size: 0; line-height: 0;" colspan="2">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>