<span style="color:red">Subject: Permintaan PO baru - <strong>[notes]</strong> <small style="float:right; color:red">remove this line</small></span>

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; ">
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="" style="text-decoration:none; color:#2b9af3 ">Manage Account</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Customer Support</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Forum</a> &nbsp;
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fafafa;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:0 10px; background:#EEEEEE; ">
				<tr>
					<td width="50%" style="font-size:26px; color:#999999; ">Purchase Order Approval</td>
					<td align="right" style="color:#444444;background:#EEEEEE;"><a href="" style="outline:none; vertical-align:middle;"><img src="email-stationery-logo.png" width="auto" height="auto"></a></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:10px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:20px; color:#2 2222; padding-bottom:20px; display:inline-block;">PR No. #150817115991</span>
						<p>
						Dear <strong>Gatot Kaca</strong>,
						<br><strong><a href="" style="text-decoration:none; color:#2b9af3 ">Bruce Wayne</a></strong> dan <strong><a href="" style="text-decoration:none; color:#2b9af3 ">Clark Kent</a></strong> mengajukan permintaan pengadaan (purchase request) dengan total harga <strong>Rp 91.700.500</strong> untuk <strong><i>[ notes > paste the transaction notes here ]</i></strong>. 
						</p>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; background:#FFFFFF; ">
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; border-top:1px solid #DDDDDD; ">
										<tr>
											<td style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Tanggal Purchase Request
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												24 Agustus 2015 &bull; 15:33 WIB
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="1" width="100%" style="font-size:12px; color:#333; border:2px solid #194365; background:#CCC; ">
										<tr style="font-size:11px; background:#194365; color:#FFFFFF;">
											<td width="45%" >Item</td>
											<td width="16%">Vendor</td>
											<td width="17%">Harga</td>
											<td width="5%">Qty</td>
											<td width="17%">Total Price</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td><a href="" style="text-decoration:none; color:#2b9af3;">DC Comics Inc.</a></td>
											<td>6.900.000</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td><a href="" style="text-decoration:none; color:#2b9af3;">DC Comics Inc.</a></td>
											<td>6.900.000</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#2b9af3; padding:0;"><td colspan="5" style="padding:1px;"></td></tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet</a></td>
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Barracuda Ltd.</a></td>
											<td>6.900.000</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Barracuda Ltd.</a></td>
											<td>6.900.000</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#2b9af3; padding:0;"><td colspan="5" style="padding:1px;"></td></tr>
										<tr style="background:#FFFFFF;">
											<td colspan="4" align="right">Sub Total</td>
											<td style="text-align:right ">82.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td colspan="4" align="right">PPN 10%</td>
											<td style="text-align:right ">8.289.950</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td colspan="4" align="right">Shipping</td>
											<td style="text-align:right ">499.500</td>
										
										</tr>
										<tr>
											<td style="text-align:right; background:#EEEEEE; " colspan="4">TOTAL TRANSAKSI</td>
											<td style="text-align:right; font-weight:bold; background-color:#2b9af3; color:#FFFFFF; font-size:1.1em; ">91.700.500</td>
										
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; ">
										<tr>
											<td width="25%" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Detail Purchase Request: 
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">http://mataharibiz.com/transaction=1150817115991</a>
											</td>
										</tr>
									</table>
							
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="5" cellspacing="0" width="100%" style="font-size:13px; color:#333; ">
										<tr>
											<td colspan="3" style="background:#EEEEEE;">PR ini telah disetujui oleh</td>
										</tr>
										<tr>
											<td width="35%">
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Bruce Wayne</a> (You)
											</td>
											<td>
												Manager Divisi IT
											</td>
											<td>
												Approved <input type="checkbox" checked disabled>
											</td>
										</tr>
										<tr>
											<td width="35%">
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Dracula</a>
											</td>
											<td>
												General Manager
											</td>
											<td>
												Approved <input type="checkbox" checked disabled>
											</td>
										</tr>
										<tr>
											<td width="35%">
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Clark Kent</a>
											</td>
											<td>
												Presiden Direktur
											</td>
											<td>
												Approved  <input type="checkbox" checked disabled>
											</td>
										</tr>
										<tr><td colspan="3" style="padding:1px; background:#DDDDDD"></td></tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<center style="margin:15px 0;">
										Respon Anda dibutuhkan untuk melanjutkan PR ini.<br>
										<a href="" style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px 50px; font-weight:bold; margin:15px 10px; border-radius:2px; ">SETUJU PO</a> 
										<a href="" style="text-decoration:none; background-color:#999999; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 10px; border-radius:2px; ">TOLAK</a> 
										<a href="" style="text-decoration:none; background-color:#F99D59; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 10px; border-radius:2px; ">Lihat detail</a> 
									</center>
								</td>
							</tr>
							<tr><td style="padding:10px;">Setelah Anda menyetujui, Purchase Order (PO) baru akan dikirim kepada vendor <a href="" style="text-decoration:none; color:#2b9af3;">DC Comics Inc.</a> dan <a href="" style="text-decoration:none; color:#2b9af3;">Barracuda Ltd.</a>. Selanjutnya Anda akan menerima notifikasi jika vendor menerima atau menolak PO Anda, atau PO akan expired dalam waktu 1x24jam.</td></tr>
						</table>
						<p>
						</p>
						
						
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px; line-height:1.3em;  ">
				<tr><td>
					<p>matahariBiz, the matahariBiz logo, matahariBiz, the matahariBiz logo and Typekit are either registered trademarks or trademarks of matahariBiz Systems Incorporated in the United States and/or other countries. All other trademarks are the property of their respective owners.</p>
					<p>&copy; 2015 MatahariBiz Systems Incorporated. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact mataharibiz, visit the web at www.mataharibiz.com/company/contact.html or call +62-21-29110133</p>
					<p>This is a marketing email from Registered Office: PT. Brilian E-commerce Berjaya | Lippo Kuningan 20th Floor Jl. HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta, Indonesia 12940 <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Click here to unsubscribe</a>.</p>
					
					<p>Your privacy is important to us. Please review matahariBiz's <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Privacy Policy</a>.</p>
				</td></tr>
			
			</table>
		
		</td>
	</tr>


</table>


