<span style="color:red">Subject: PO No.[PO number] telah dikirim oleh [Seller Company Name]<small style="float:right; color:red">remove this line</small></span>

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; ">
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="" style="text-decoration:none; color:#2b9af3 ">Manage Account</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Customer Support</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Forum</a> &nbsp;
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fafafa;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:0 10px; background:#EEEEEE; ">
				<tr>
					<td width="50%" style="font-size:26px; color:#999999; ">Shipping</td>
					<td align="right" style="color:#444444;background:#EEEEEE;"><a href="" style="outline:none; vertical-align:middle;"><img src="email-stationery-logo.png" width="auto" height="auto"></a></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:10px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:20px; color:#2 2222; padding-bottom:20px; display:inline-block;">PO No. #150817115991</span>
						<p>
						Dear <strong>[ Procurement First name ]</strong>,
						<br><strong><a href="" style="text-decoration:none; color:#2b9af3 ">[Seller Company name]</a></strong> telah mengirimkan pesanan dari PO [PO number] dengan total <strong>Rp 45.850.500</strong> 
						</p>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; background:#FFFFFF; ">
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="1" width="100%" style="font-size:12px; color:#333; border:2px solid #194365; background:#CCC; ">
										<tr style="font-size:11px; background:#194365; color:#FFFFFF;">
											<td width="45%" >Item</td>
											<td width="16%">Vendor</td>
											<td width="17%">Harga</td>
											<td width="5%">Qty</td>
											<td width="17%">Total Price</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td><a href="" style="text-decoration:none; color:#2b9af3;">DC Comics Inc.</a></td>
											<td>6.900.000</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td><a href="" style="text-decoration:none; color:#2b9af3;">DC Comics Inc.</a></td>
											<td>6.900.000</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#2b9af3; padding:0;"><td colspan="5" style="padding:1px;"></td></tr>
										<tr style="background:#FFFFFF;">
											<td colspan="4" align="right">Sub Total</td>
											<td style="text-align:right ">41.799.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td colspan="4" align="right">PPN 10%</td>
											<td style="text-align:right ">4.179.950</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td colspan="4" align="right">Shipping</td>
											<td style="text-align:right ">299.500</td>
										
										</tr>
										<tr>
											<td style="text-align:right; background:#EEEEEE; " colspan="4">TOTAL TRANSAKSI</td>
											<td style="text-align:right; font-weight:bold; background-color:#2b9af3; color:#FFFFFF; font-size:1.1em; ">45.850.500</td>
										
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; ">
										<tr>
											<td width="25%" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Detail Purchase Order: 
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">http://mataharibiz.com/transaction=1150817115991</a>
											</td>
										</tr>
									</table>
							
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="5" cellspacing="0" width="100%" style="font-size:13px; color:#333; ">
										<tr>
											<td style="background:#EEEEEE;"></td>
										</tr>
										<tr>
											<td width="35%" style="padding:15px; text-align:center;">

												<span style="font-size:.8em">Alamat pengiriman PO </span> <br><br>
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Wayne Enterprise</a><br>
												Jl. Jalan Street No.11 <br>
												Gotham City, West Teen Titans<br>
												Neverland 30430<br>

											</td>
										</tr>
										<tr><td style="padding:1px; background:#DDDDDD"></td></tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<center style="margin:15px 0;">
										
										<a href="" style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px 50px; font-weight:bold; margin:15px 10px; border-radius:2px; ">Status Pengiriman</a> 
										<a href="" style="text-decoration:none; background-color:#F99D59; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 10px; border-radius:2px; ">Lihat detail </a> 
									</center>
								</td>
							</tr>
							<tr>
								<td style="padding:10px;"><ul><li>Setelah pesanan diterima, silakan login ke web dan mengubah status PO menjadi "Accepted"</li></ul>

								</td>
						    </tr>
						</table>
						<p>
						</p>
						
						
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px; line-height:1.3em;  ">
				<tr><td>
					<p>matahariBiz, the matahariBiz logo, matahariBiz, the matahariBiz logo and Typekit are either registered trademarks or trademarks of matahariBiz Systems Incorporated in the United States and/or other countries. All other trademarks are the property of their respective owners.</p>
					<p>&copy; 2015 MatahariBiz Systems Incorporated. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact mataharibiz, visit the web at www.mataharibiz.com/company/contact.html or call +62-21-29110133</p>
					<p>This is a marketing email from Registered Office: PT. Brilian E-commerce Berjaya | Lippo Kuningan 20th Floor Jl. HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta, Indonesia 12940 <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Click here to unsubscribe</a>.</p>
					
					<p>Your privacy is important to us. Please review matahariBiz's <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Privacy Policy</a>.</p>
				</td></tr>
			
			</table>
		
		</td>
	</tr>


</table>


