<span style="color:red">Subject: Invoice PO No.[PO number] dari [Seller Company Name]<small style="float:right; color:red">remove this line</small></span>

<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; ">
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="" style="text-decoration:none; color:#2b9af3 ">Manage Account</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Customer Support</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Forum</a> &nbsp;
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fafafa;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:0 10px; background:#EEEEEE; ">
				<tr>
					<td width="50%" style="font-size:26px; color:#999999; ">Invoice</td>
					<td align="right" style="color:#444444;background:#EEEEEE;"><a href="" style="outline:none; vertical-align:middle;"><img src="email-stationery-logo.png" width="auto" height="auto"></a></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:10px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:20px; color:#2 2222; padding-bottom:20px; display:inline-block;">PO No. #150817115991</span>
						<p>
						Dear <strong>[ Procurement First Name ]</strong>,
						<br>Berikut adalah invoice <strong>[Invoice number]</strong> untuk PO <strong>[PO number]</strong> dari <strong>[Seller company name]</strong> dengan total <strong>Rp 45.850.500</strong>.
						</p>
						<p>PDF Invoice terlampir di attachment email ini.<br>
							Atau dapat dilihat di link berikut <a href="" style="text-decoration:none; color:#2b9af3; ">htpp://mataharibiz.com/invoice/0234934050395.pdf</a> </p>
						<p>
						</p>
						
						
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px; line-height:1.3em;  ">
				<tr><td>
					<p>matahariBiz, the matahariBiz logo, matahariBiz, the matahariBiz logo and Typekit are either registered trademarks or trademarks of matahariBiz Systems Incorporated in the United States and/or other countries. All other trademarks are the property of their respective owners.</p>
					<p>&copy; 2015 MatahariBiz Systems Incorporated. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact mataharibiz, visit the web at www.mataharibiz.com/company/contact.html or call +62-21-29110133</p>
					<p>This is a marketing email from Registered Office: PT. Brilian E-commerce Berjaya | Lippo Kuningan 20th Floor Jl. HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta, Indonesia 12940 <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Click here to unsubscribe</a>.</p>
					
					<p>Your privacy is important to us. Please review matahariBiz's <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Privacy Policy</a>.</p>
				</td></tr>
			
			</table>
		
		</td>
	</tr>


</table>


