<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; ">
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="" style="text-decoration:none; color:#2b9af3 ">Manage Account</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Customer Support</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Forum</a> &nbsp;
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fafafa;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.png" width="auto" height="auto"></a></td>
					<td align="right" style="color:#444444;">Indonesian Leading B2B eCommerce</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.6em;">
						<span style="font-size:26px; color:#999999; padding:10px; display:block; background:#EEEEEE; ">Hello. This is your newsletter title.</span></br>
						<span style="font-size:20px; color:#222222; padding-bottom:20px; display:inline-block;">And this is your subtitle.</span>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p>
						<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">This is a link on newsletter text-body.</a>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
								<li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
								<li>Excepteur sint occaecat cupidatat non proident</li>
							</ul>
						</p>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						
						<a href="" style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 0; border-radius:2px; ">This is your button with link</a>
						
						<center><a style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 0; border-radius:2px; ">This is your center button with link</a></center>
						
					</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; line-height:1.3em;  " >
				<tr>
					<td style="font-size:15px; padding:20px 20px 0; border-top:1px solid #DDDDDD; font-size:12px; color:#666666;">
						<p><b style="color:red">FOOTER STARTS FROM HERE - delete this after you read</b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px; line-height:1.3em;  ">
				<tr><td>
					<p>matahariBiz, the matahariBiz logo, matahariBiz, the matahariBiz logo and Typekit are either registered trademarks or trademarks of matahariBiz Systems Incorporated in the United States and/or other countries. All other trademarks are the property of their respective owners.</p>
					<p>&copy; 2015 MatahariBiz Systems Incorporated. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact mataharibiz, visit the web at www.mataharibiz.com/company/contact.html or call +62-21-29110133</p>
					<p>This is a marketing email from Registered Office: PT. Brilian E-commerce Berjaya | Lippo Kuningan 20th Floor Jl. HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta, Indonesia 12940 <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Click here to unsubscribe</a>.</p>
					
					<p>Your privacy is important to us. Please review matahariBiz's <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Privacy Policy</a>.</p>
				</td></tr>
			
			</table>
		
		</td>
	</tr>


</table>


