<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; ">
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="" style="text-decoration:none; color:#2b9af3 ">Manage Account</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Customer Support</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="" style="text-decoration:none; color:#2b9af3 ">Forum</a> &nbsp;
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fafafa;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.png" width="auto" height="auto"></a></td>
					<td align="right" style="color:#444444;">Indonesian Leading B2B eCommerce</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:26px; color:#999999; padding:10px; display:block; background:#EEEEEE; ">Approved Transaction</span></br>
						<span style="font-size:20px; color:#222222; padding-bottom:20px; display:inline-block;">Transaction No. #150817115991</span>
						<p>
						Dear <strong>Robin Wonder Kid</strong>,
						<br>Terima kasih atas kepercayaan Anda bertransaksi di matahariBiz.com. 
						<br>Transaksi Anda sudah disetujui oleh :
						<table border="0" cellpadding="6" cellspacing="1" width="100%" style="font-size:13px; margin:15px 0;background:#DDDDDD; color:#666666; " >
							<tr style="background:#FFFFFF;">
								<td width="30%">Ir. Jarot Melorot</td>
								<td width="20%">Direktur</td>
								<td width="38%">jarot.melorot@bakwanselalu.com</td>
								<td width="12%" style=" font-size:10px; text-align:center; background:RED; color:#FFFFFF; font-weight:bold;">DITOLAK</td>
							</tr>
							<tr style="background:#FFFFFF;">
								<td>Drs. Clark Kent</td>
								<td>Manager IT </td>
								<td>clark.kent@bakwanselalu.com</td>
								<td style=" font-size:10px; text-align:center; background:#58a112; color:#FFFFFF; font-weight:bold;">SETUJU</td>
							</tr>
							<tr style="background:#FFFFFF;">
								<td>Bruce Wayne</td>
								<td>Purchasing Mgr</td>
								<td>bruce.wayne@bakwanselalu.com</td>
								<td style=" font-size:10px; text-align:center; background:#999999; color:#FFFFFF; ">BELUM</td>
							</tr>
						</table>
						
						<br>Berikut adalah data transaksi.
						</p>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; background:#FFFFFF; ">
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; border-top:1px solid #DDDDDD; ">
										<tr style="background:none /*#2b9af3*/; ">
											<td width="25%" style=" color:#999999; border-bottom:1px solid #DDDDDD; ">Transaksi Nomer </td>
											<td style=" border-bottom:1px solid #DDDDDD; "><strong>#150817115991</strong></td>
										</tr>
										<tr>
											<td width="25%" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Pemesan
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												Robin Wonder Kid
											</td>
										</tr>
										<tr>
											<td style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Tanggal
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												24 Agustus 2015 &bull; 15:33 WIB
											</td>
										</tr>
										<tr>
											<td valign="top" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Tembusan transaksi
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; line-height:1.8em; ">
												Ir. Jarot Melorot <span style="color:#999"> &bull; Direktur : jarot.melorot@bakwanselalu.com</span><br>
												Drs. Clark Kent  <span style="color:#999"> &bull; Manager IT : clark.kent@bakwanselalu.com </span><br>
												Bruce Wayne  <span style="color:#999"> &bull; Purchasing Mgr. : bruce.wayne@bakwanselalu.com </span><br>
											</td>
										</tr>
										<tr>
											<td valign="top" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Deskripsi
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												Pembelian seperangkat alat produksi untuk divisi Pemasaran.
											</td>
										</tr>
										<tr>
											<td valign="top" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Perusahaan
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												PT. Bakwan Selalu<br>
												<span style="color:#999"> Jl. Daan Mogot Km.200 Teluk Mencong <br>Jakarta Barat, DKI Jakarta, Indonesia 12444</span><br>
											</td>
										</tr>
										<tr>
											<td valign="top" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Alamat Pengiriman
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												PT. Bakwan Selalu<br>
												<span style="color:#999"> Jl. Daan Mogot Km.200 Teluk Mencong <br>Jakarta Barat, DKI Jakarta, Indonesia 12444</span><br>
											</td>
										</tr>
										<tr>
											<td width="25%" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Terms of Payment 
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												15 hari kerja
											</td>
										</tr>
										<tr>
											<td valign="top" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Catatan transaksi kepada vendor
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; color:#999">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="1" width="100%" style="font-size:12px; color:#333; border:2px solid #194365; background:#CCC; ">
										<tr style="font-size:11px; background:#194365; color:#FFFFFF;">
											<td width="45%" >Item</td>
											<td width="16%">Type</td>
											<td width="17%">Vendor</td>
											<td width="5%">Qty</td>
											<td width="17%">Total Price</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</a></td>
											<td >LIPSUM232</td>
											<td>RC Store</td>
											<td>3</td>
											<td style="text-align:right; ">20.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td>LIPSUM232</td>
											<td>Marvel Inc.</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td>LIPSUM232</td>
											<td>Gotham Co.</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr style="background:#FFFFFF;">
											<td><a href="" style="text-decoration:none; color:#2b9af3;">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</a></td>
											<td>LIPSUM232</td>
											<td>DC Comics Inc.</td>
											<td>3</td>
											<td style="text-align:right ">20.899.500</td>
										
										</tr>
										<tr>
											<td style="text-align:right; background:#EEEEEE; " colspan="4">TOTAL TRANSAKSI</td>
											<td style="text-align:right; font-weight:bold; background-color:#2b9af3; color:#FFFFFF; font-size:1.1em; ">41.899.500</td>
										
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td style="border-bottom:1px solid #DDDDDD;">
									<span style="display:block; padding:10px 15px; font-size:11px; background:#ECFCFF; color:#746a3a; ">
										&bull; Harga sudah termasuk PPN 10% <br>
										&bull; Harga sudah termasuk ongkos kirim dari setiap vendor terkait.
									</span>
								</td>
							</tr>
							<tr><td>
									<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; ">
										<tr>
											<td width="25%" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Detail transaksi 
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">http://mataharibiz.com/transaction=1150817115991</a>
											</td>
										</tr>
									</table>
							
							</td></tr>
						</table>
						<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						
						<center><a href="" style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 0; border-radius:2px; ">Detail Transaksi</a></center>
						
					</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; line-height:1.3em;  " >
				<tr>
					<td style="font-size:15px; padding:20px 20px 0; border-top:1px solid #DDDDDD; font-size:12px; color:#666666;">
						<p><b style="color:red">FOOTER STARTS FROM HERE - delete this after you read</b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px; line-height:1.3em;  ">
				<tr><td>
					<p>matahariBiz, the matahariBiz logo, matahariBiz, the matahariBiz logo and Typekit are either registered trademarks or trademarks of matahariBiz Systems Incorporated in the United States and/or other countries. All other trademarks are the property of their respective owners.</p>
					<p>&copy; 2015 MatahariBiz Systems Incorporated. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact mataharibiz, visit the web at www.mataharibiz.com/company/contact.html or call +62-21-29110133</p>
					<p>This is a marketing email from Registered Office: PT. Brilian E-commerce Berjaya | Lippo Kuningan 20th Floor Jl. HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta, Indonesia 12940 <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Click here to unsubscribe</a>.</p>
					
					<p>Your privacy is important to us. Please review matahariBiz's <a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">Privacy Policy</a>.</p>
				</td></tr>
			
			</table>
		
		</td>
	</tr>


</table>


