<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; ">
	<tr>
		<td style="background-color:#fafafa;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.png" width="auto" height="auto"></a></td>
					<td align="right" style="color:#444444;">Indonesian Leading B2B eCommerce</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:20px; color:#222222; padding-bottom:20px; display:inline-block;">Selamat Datang di Matahari Biz</span>
						<p>
						Hi <strong>Drs. Clark Kent</strong>,
						<br>
						<br>
						Nipuna Dhiraprana dari PT Maju Mundur Bersama telah menambahkan anda sebagai user di MatahariBiz
						<br>

						<br>
						Berikut adalah detail akun anda.
						</p>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; background:#FFFFFF; ">
							<tr>
								<td>
									<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; border-top:1px solid #DDDDDD; ">
										<tr style="background:none /*#2b9af3*/; ">
											<td width="25%" style=" color:#999999; border-bottom:1px solid #DDDDDD; ">Email</td>
											<td style=" border-bottom:1px solid #DDDDDD; "><strong>gmail@budipardomuan.com</strong></td>
										</tr>
										<tr>
											<td width="25%" style="color:#999999; border-bottom:1px solid #DDDDDD; ">
												Password
											</td>
											<td style=" border-bottom:1px solid #DDDDDD; ">
												D3faultP@ssw0rd!
											</td>
										</tr>

									</table>
								</td>
							</tr>


						</table>
						
						
						
						<center><a href="" style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 0; border-radius:2px; ">LOGIN AKUN ANDA</a></center>

						<p>

							Bila bermasalah dengan link di atas, silahkan copy alamat berikut di browser anda:
							<br /> 
							<a href="" style="text-decoration:none; color:#2b9af3; font-weight:bold;">http://mataharibiz.com/user/?userid=1150817115991</a>
											
						</p>
						
						<span style="display:block; padding:10px 15px; margin:5px; font-size:13px; background:#ECFCFF; color:#746a3a; border:1px dashed #CCCCCC; ">
							<strong>Penting!</strong> Harap segera mengganti password akun anda setelah login.
						</span>
						
					</td>
				</tr>
			</table>

		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px; line-height:1.3em;  ">
				<tr><td>
					<p>&copy; 2015 MatahariBiz Systems Incorporated. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact mataharibiz, visit the web at www.mataharibiz.com/company/contact.html or call +62-21-29110133</p>
</td></tr>
			
			</table>
		
		</td>
	</tr>


</table>


