<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; "> 
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="http://indonetwork.co.id/page/contact-us/" style="text-decoration:none; color:#2b9af3 ">Customer Support</a>
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fff;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.gif" width="auto" height="auto"></a></td>
					<td align="right" style="color:#444444;">Indonesian Leading B2B eCommerce</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px;padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:26px; color:#aaa999; padding:10px; display:block; background:#EEEEEE; ">Pemberitahuan Moderasi</span></br>
						<p>
						Dear <strong>Bruce Wayne</strong>,
						<p>Produk anda dengan informasi detil dibawah ini <span style="color:#FF5722;">telah kami hapus</span></p>

						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top:1px solid #FF5722;border-left:1px solid #FF5722;border-right:1px solid #FF5722;border-bottom:1px solid #FF5722;font-family:Arial, Helvetica, Verdana; font-size:12px;line-height:1.8em;color:#666666; line-height:1.4em;">
							<tr>
								<td colspan="2" style="border-top:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;padding:8px 5px;background:#FF5722;color:#eee" width="20%">Product info terhapus</td>
							</tr>
							<tr>
								<td style="border-top:1px solid #fff;border-left:1px solid #fff;padding:8px 5px;background:#eee;color:#FF5722" width="20%"><b>Product ID</b></td>
								<td style="padding:9px 12px;border-bottom:1px solid #f2f2f2">123456</td>
							</tr>
							<tr>
								<td style="border-top:1px solid #fff;border-left:1px solid #fff;padding:8px 5px;background:#eee;color:#FF5722" width="20%"><b>Tanggal dibuat</b></td>
								<td style="padding:9px 12px;border-bottom:1px solid #f2f2f2">10/01/2016</td>
							</tr>
							<tr>
								<td style="border-top:1px solid #fff;border-left:1px solid #fff;padding:8px 5px;background:#eee;color:#FF5722"><b>title Product</b></td>
								<td style="padding:9px 12px;border-bottom:1px solid #f2f2f2">Baju Branding</td>
							</tr>
							<tr valign="top">
								<td style="border-top:1px solid #fff;border-left:1px solid #fff;padding:8px 5px;background:#eee;color:#FF5722"><b>Product desc (id)</b></td>
								<td style="padding:9px 12px;border-bottom:1px solid #f2f2f2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
							</tr>
							<tr valign="top">
								<td style="border-top:1px solid #fff;border-left:1px solid #fff;padding:8px 5px;background:#eee;color:#FF5722"><b>Product desc (eng)</b></td>
								<td style="padding:9px 12px;border-bottom:1px solid #f2f2f2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
							</tr>
							<tr valign="top">
								<td style="border-top:1px solid #fff;border-left:1px solid #fff;padding:8px 5px;background:#eee;color:#FF5722"><b>Alasan</b></td>
								<td style="padding:9px 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
							</tr>
						</table><br />

						<p>Apabila ada pertanyaan lebih lanjut Anda dapat mengirimkan email kepada kami melalui <a href="mailto:support@indonetwork.co.id" style="text-decoration:none; color:#0079c5; font-weight:bold;">support@indonetwork.co.id</a></p>

						</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px;line-height:1.3em;  ">
				<tr><td>
					<p>&copy; 2015 Indonetwork. Hak cipta dilindungi.</p>

					<p><a href="http://www.mataharigrosir.com/page/term-condition" style="text-decoration:none; color:#0079c5; font-weight:bold;">Syarat &amp; Ketentuan</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" style="text-decoration:none; color:#0079c5; font-weight:bold;">Tentang Kami</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.indonetwork.co.id/help-0317.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">Kebijakan Privasi</a></p>

					<p>JANGAN MEMBALAS PESAN INI. Untuk mendapatkan informasi tentang cara menghubungi Indonetwork, kunjungi web di <a href="http://www.mataharigrosir.com/mailus.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://www.indonetwork.co.id/mailus.html</a> atau <a href="http://www.mataharigrosir.com/page/contact-us" style="text-decoration:none; color:#0079c5; font-weight:bold;">kontak kami</a></p>
				</td></tr>
			</table>
		
		</td>
	</tr>


</table>


