<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:12px; max-width:700px;position:relative; margin:20px 0;">
	<tr>
		<td style="background-color:#fff;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:14px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.gif" width="auto" height="auto"></a></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:14px; padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:26px; color:#999999; padding:10px; display:block; background:#EEEEEE; ">Maintenance Server</span></br>
						<p>
						<strong style="color:#111">Dear Valued Partners,</strong>
						<p>Firstly, we would like to thank you very much for the trust you gave to Indonetwork by far. Secondly, we really apologize for the technical issues from the website that may cause your inconvenience as Indonetwork members.</p>
						<p>Our development team is currently working to fix the issues and we will constantly provide you with the real-time updates of the status. We realize that during the fixing period, you may not be able to access the website. Therefore, <strong style="color:#111">we are gladly giving you free paid/premium membership service fee for 3 (three) months..</strong></p>
						<p>Besides working on the issue fix, we also striving to improve website performance and develop a brand-new website layout. We are currently developing some new features that improve your convenience as our loyal partners. With the new Indonetwork.co.id website layout, we really hope we can give better selling experience to all of our partners.</p>
						<p>For further information, please contact us via email <a href="mailto:sales@indonetwork.co.id" style="text-decoration:none; color:#0079c5; font-weight:bold;">sales@indonetwork.co.id</a>. Lastly, we really apologize for your inconvenience and thank you very much for being our loyal business partners.</p>
						<p>Regards,<br /><br /><br />Indonetwork.co.id Team</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>

			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px;line-height:1.3em;  ">
				<tr><td>
					<p>&copy; 2015 Indonetwork. All rights reserved.</p>
					<p>PLEASE DO NOT REPLY TO THIS MESSAGE. To obtain information on how to contact Indonetwork, visit the web at <a href="http://www.indonetwork.co.id/mailus.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://www.indonetwork.co.id/mailus.html</a> or call: <span style="color:#666">+6221 4001 11333</span> ( Office Hours: 09.00-16.30 WIB )</p>
					<p>This is a marketing email from Registered Office: <span style="color:#666">Jl. Rungkut Madya, Ruko Grand City Regency Blok A10, Surabaya 60293.</span></p>
					
					<p>Your privacy is important to us. Please review indonetwork's <a href="http://www.indonetwork.co.id/help-0317.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">Privacy Policy</a>.</p>
				</td></tr>
			</table>
		
		</td>
	</tr>


</table>


