<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:12px; max-width:700px;position:relative; margin:20px 0;">
	<tr>
		<td style="background-color:#fff;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:14px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.gif" width="auto" height="auto"></a></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:14px; padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:26px; color:#999999; padding:10px; display:block; background:#EEEEEE; ">Perbaikan Server</span></br>
						<p>
						<strong style="color:#111">Pelanggan yang terhormat,</strong>
						<p>Pertama- tama, kami mengucapkan terima kasih banyak atas kepercayaan kepada Indonetwork selama ini. Kedua, kami harus memohon maaf atas gangguan yang berakibat pada ketidaknyaman member Indonetwork yang mempengaruhi aktivitas anda dalam beraktifitas di  Indonetwork. Sehubungan dengan gangguan tersebut, tim developer kami tengah melakukan perbaikan atas fitur website dan kami akan terus memberikan informasi  terkini mengenai status perbaikan.</p>
						<p>Selain melakukan perbaikan  atas gangguan tersebut, kami juga melakukan peningkatan performa dan mengembangkan tampilan baru website. Kami juga mengembangkan  beberapa  fitur terkini yang akan meningkatkan kenyamanan anda sebagai pelanggan setia kami. Dengan fitur dan tampilan website Indonetwork.co.id yang baru ini, kami harap dapat memberikan pengalaman berjualan yang lebih baik kepada seluruh pelanggan.</p>
						<p>Untuk informasi lebih lanjut, mohon hubungi kami via email di <a href="mailto:sales@indonetwork.co.id" style="text-decoration:none; color:#0079c5; font-weight:bold;">sales@indonetwork.co.id</a>. Sekali lagi, kami mohon maaf atas ketidaknyamanan ini, dan terimakasih  menjadi mitra bisnis setia kami.</p>
						<p>Salam,<br /><br /><br />Tim Indonetwork.co.id</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>

			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px;line-height:1.3em;  ">
				<tr><td>
					<p>&copy; 2015 Indonetwork. Hak cipta dilindungi.</p>
					<p>JANGAN MEMBALAS PESAN INI. Untuk mendapatkan informasi tentang cara menghubungi Indonetwork, kunjungi web di <a href="http://www.indonetwork.co.id/mailus.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://www.indonetwork.co.id/mailus.html</a> atau hubungi: <span style="color:#666">+6221 4001 11333</span> ( Jam Kerja: 09.00-16.30 WIB )</p>
					<p>Ini adalah email pemasaran dari Kantor Terdaftar: <span style="color:#666">Jl. Rungkut Madya, Ruko Grand City Regency Blok A10, Surabaya 60293.</span></p>
					
					<p>Privasi Anda penting bagi kami. Harap tinjau <a href="http://www.indonetwork.co.id/help-0317.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">Kebijakan Privasi</a> indonetwork.</p>
				</td></tr>
			</table>
		
		</td>
	</tr>


</table>


