<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:12px; max-width:700px;position:relative; margin:20px 0;">
	<tr>
		<td style="background-color:#fff;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.gif" width="auto" height="auto"></a></td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:14px;padding:20px;">
				<tr>
					<td>
						<span style="font-size:26px; color:#999999; padding:10px; display:block; background:#EEEEEE; ">Aktivasi Keanggotaan</span>
						<p style="font-size:11px; color:#AAAAAA; line-height:1.3em;text-align:right">
							Selasa, 1 Dec 2015 16:15:13 WIT
						</p><br />
						<p>
						<strong style="color:#111">Yang terhormat Tn. Luks 14,</strong>
						<p>Terima kasih telah mendaftar untuk keanggotaan Prioritas Indonetwork. Email ini bisa anda simpan sebagai arsip.</p>
						<p>Data Pelanggan:</p>
						<br />
<table border="0" cellpadding="10" cellspacing="0" width="100%" style="font-size:13px; color:#333; border-top:1px solid #DDDDDD; ">							<tbody>
								<tr>
									<td width="30%" style=" color:#999999; border-bottom:1px solid #DDDDDD">Nama</td>
									<td style=" border-bottom:1px solid #DDDDDD">Tn. Luks 14</td>
								</tr>
								<tr>
									<td style=" color:#999999; border-bottom:1px solid #DDDDDD">Alamat</td>
									<td style=" border-bottom:1px solid #DDDDDD">Jl. HR Rasuna Said, Kuningan Jakarta 12567 Jakarta, Indonesia</td>
								</tr>
								<tr>
									<td style=" color:#999999; border-bottom:1px solid #DDDDDD">Jenis Keanggotaan</td>
									<td style=" border-bottom:1px solid #DDDDDD">Prioritas Indonetwork</td>
								</tr>
								<tr>
									<td style=" color:#999999; border-bottom:1px solid #DDDDDD">Nama User Indonetwork</td>
									<td style=" border-bottom:1px solid #DDDDDD">Luks14Test</b></td>
								</tr>
								<tr>
									<td style=" color:#999999; border-bottom:1px solid #DDDDDD">Nomer Referensi</td>
									<td style=" border-bottom:1px solid #DDDDDD">id_1007040</td>
								</tr>
								<tr>
									<td style=" color:#999999; border-bottom:1px solid #DDDDDD">Periode</td>
									<td style=" border-bottom:1px solid #DDDDDD">1 tahun</td>
								</tr>
							</tbody>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#eee;border:1px solid #ddd;border-top:0;font-size:13px; line-height:1.6em" valign="top">
							<tr>
								<td width="70%" style="padding:15px;">Total biaya Pembayaran</td><td style="background:#2b9af3;color:#fff;padding:15px;text-align:center"><b>Rp. 1.700.000,-</b></td>
							</tr>
						</table>
						<br />

						<p>Silahkan lakukan pembayaran anda ke:</p>
						<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:13px; padding:10px 0;line-height:1.4em">
							<tbody>
							<tr>
								<td width="20%">Bank</td><td width="80%"><b>Mandiri KCP Indrapura</b></td>
							</tr>
							<tr>
								<td>Nomer Account</td><td>14000-14000-690</b></td>
							</tr>
							<tr>
								<td>Nama Account</td><td>PT. Indonetwork Mitra Utama</b></td>
							</tr>
							<tr>
								<td>Alamat Bank</td><td>Jl. Indrapura 45, Surabaya, Indonesia</b></td>
							</tr>
							<tr>
								<td>Internet Banking</td><td><a href="http://www.bankmandiri.co.id" target="_blank" style="text-decoration:none; color:#0079c5; font-weight:bold;">Mandiri Internet Banking</a></td>
							</tr>
							<tr>
								<td>Berita</td><td>NamaUser=Luks14Test NamaPerusahaan=CV Serba Indah</b></td>
							</tr>
						</tbody>
						</table>
						<p>Setelah anda melakukan pembayaran melalui T/T ke nomer A/C bank kami, silahkan melakukan konfirmasi ke kami. Pengaktifan akan diproses dalam satu hari setelah pembayaran dan konfirmasi diterima.</p>
						<center><a href="http://indonetwork.co.id/konfirmasi.html" style="text-decoration:none; background-color:#2b9af3; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:10px 0; border-radius:2px; ">Konfirmasi Pembayaran</a></center>

						<p>
							Hormat kami,<br />
							<strong style="color:#111">Indonetwork.co.id</strong></p>
						</p>
					</td>
				</tr>
			</table>

			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; line-height:1.3em;  " >
				<tr>
					<td style="font-size:15px; padding:20px 20px 0; border-top:1px solid #DDDDDD; font-size:12px; color:#666666;">
						<p><b style="color:red">Hotline Layanan Pelanggan</b> <br>Jika ada pertanyaan atau masalah, mohon hubungi kami di: <b>021-40011133</b>, <b>08880-8696923</b>, <b>031-5470617</b>.</p>
					</td>
				</tr>
			</table>

		</td>
		
	</tr>
	<tr>
		<td>

			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px;line-height:1.3em;">
				<tr><td>
					<p>&copy; 2015 Indonetwork. Hak cipta dilindungi.</p>
					<p>JANGAN MEMBALAS PESAN INI. Untuk mendapatkan informasi tentang cara menghubungi Indonetwork, kunjungi web di <a href="http://www.indonetwork.co.id/mailus.html" target="_blank" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://www.indonetwork.co.id/mailus.html</a> atau hubungi<span style="color:#666">+6221 4001 11333</span> ( Jam Kerja09.00-16.30 WIB )</p>
					<p>Ini adalah email pemasaran dari Kantor Terdaftar<span style="color:#666">Jl. Rungkut Madya, Ruko Grand City Regency Blok A10, Surabaya 60293.</span></p>
					
					<p>Privasi Anda penting bagi kami. Harap tinjau <a href="http://www.indonetwork.co.id/help-0317.html" target="_blank" style="text-decoration:none; color:#0079c5; font-weight:bold;">Kebijakan Privasi</a> indonetwork.</p>
				</td></tr>
			</table>
		
		</td>
	</tr>


</table>


