<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; "> 
	<tr>
		<td style="text-align:right; font-size:.9em; padding:10px 0;">
			<a href="http://indonetwork.co.id/page/contact-us/" style="text-decoration:none; color:#2b9af3 ">Customer Support</a>
			
		</td>
	</tr>
	<tr>
		<td style="background-color:#fff;border-top:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1; min-height:300px; padding:20px 0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:0 20px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="email-stationery-logo.gif" width="auto" height="auto"></a></td>
					<td align="right" style="color:#444444;">Indonesian Leading B2B eCommerce</td>
				</tr>
			</table>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:15px; padding:20px; ">
				<tr>
					<td style="color:#666666; line-height:1.4em;">
						<span style="font-size:26px; color:#999999; padding:10px; display:block; background:#EEEEEE; ">Link Aktivasi Pendaftaran</span></br>
						<p>
						Dear <strong>Bruce Wayne</strong>,
						<p>Terima kasih telah mendaftarkan menjadi anggota di matahariGrosir.com. <br>
						Silakan lakukan konfirmasi melalui link ini : <a href="" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://mataharigrosir.com/register=1150817115991150817115991</a>.
			
						<center><a href="" style="text-decoration:none; background-color:#0079c5; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 0; border-radius:2px; ">KONFIRMASI REGISTER</a></center>

						</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px;line-height:1.3em;  ">
				<tr><td>
					<p>&copy; 2015 Indonetwork. Hak cipta dilindungi.</p>

					<p><a href="http://www.mataharigrosir.com/page/term-condition" style="text-decoration:none; color:#0079c5; font-weight:bold;">Syarat &amp; Ketentuan</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" style="text-decoration:none; color:#0079c5; font-weight:bold;">Tentang Kami</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.indonetwork.co.id/help-0317.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">Kebijakan Privasi</a></p>

					<p>JANGAN MEMBALAS PESAN INI. Untuk mendapatkan informasi tentang cara menghubungi Indonetwork, kunjungi web di <a href="http://www.mataharigrosir.com/mailus.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://www.indonetwork.co.id/mailus.html</a> atau <a href="http://www.mataharigrosir.com/page/contact-us" style="text-decoration:none; color:#0079c5; font-weight:bold;">kontak kami</a></p>
				</td></tr>
			</table>
		
		</td>
	</tr>


</table>


