/* flash messages styling */
.mobile-flash-error {color:red;text-align: center;padding-bottom: 20px;
}
.mobile-flash-success {color:green;text-align: center;padding-bottom: 20px;
}

.alert-mobile {color:red;
}

/* Remove list style in listing */
.liststyle-none {list-style: none;
}

/* Price table */

#price-table tr td:nth-child(1) {width: 20px;
}
#price-table tr td:nth-child(2), #price-table tr td:nth-child(3) {width: 109px;
}

/* Product list image */

.tambah-foto label {vertical-align: middle;min-height: 20px;
}

#list_photo_company li, #list_photo_product li {display: inline-block;margin: 10px 2px 0 2px;width: 22.5%;height: 71px;line-height: 45px;text-align: center;border: 1px solid #DDD;box-sizing: border-box;border-radius: 2px;font-size: 1.5em;color: #F60;
}

.frame_image {position: relative;z-index: 1;
}

.frame_image img {top: 0;right: 0;bottom: 0;left: 0;max-width: 90%;max-height: 90%;margin: auto;
}

.tambah-foto label input[type=file] {display: block;z-index: 10;
}


/* FOR FUCKING NASTY BULLETS THAT KEEP SHOWING ON! */
.list-unstyled {list-style: none;
}

/* FOR STUPID <SMALL> THAT HAS BLOCK DISPLAY  */
.form label input + small {display: inline;float: none;
}

.forms .alert.small {color: red;margin-bottom: 10px;display: block;
}

.forms label {font-size: 100%;
}

.home.register .alert.redbg {color: red;display: block;padding: 10px 0px 10px 0px;width: 100%;text-align: center;
}

li.error_pesan {list-style: none;padding-left: 5px;padding-top: 10px;color: red;text-align: center;
}

li.error_pesan .close {display: none;
}

#input_qty, #input_pesan {list-style: none;
}

/* Oh Snap! Error message */
.toast{ position:fixed; list-style: none; padding: 0; bottom:0; width:100%; z-index: 999999; font-family:"Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif; }
.toast li{ display:block; text-align: center; }
.toast span { display: inline-block; margin: 5px 0 0 0; text-align: center; background-color: rgba(0, 0, 0, 0.8); color:#ffffff; padding:10px 10px; border-radius: 8px; -webkit-border-radius: 8px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); box-shadow: 0 2px 5px rgba(0,0,0,.15); -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.15);  }
.toast li.danger span{ color: #b94a48; background-color: #f2dede; border-color: #eed3d7; }
.toast li.info span{ color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1; }
.toast li.success span{ color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }

