@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */



/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-style:inherit;line-height:1.3em;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}input,img{vertical-align:middle}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}i{font-style:normal}a{text-decoration:none;color:#1c60a7;outline:0}a:hover{color:#517edf}sup{font-size:.7em;margin-top:-19px;vertical-align:top}em{font-style:italic}input[type=radio], input[type=checkbox]{margin-right:10px; margin-left: 5px; }.nomargin{margin:0 !important}p{margin:0 0 15px}

/*global*/
.left {float:left;}	.right {float:right; right:0;}
.clear, hr, .breakline {clear:both;}	
.txtright {text-align: right;} .txtcenter {text-align: center;} .txtleft {text-align: left;}
hr, .breakline, .hr1 {height:0px; background:rgba(0,0,0,.1); border:0; border-bottom:1px solid rgba(255,255,255,1); box-shadow:0 -1px 0 rgba(0,0,0,.1); margin:10px 0; }
a, h1, h2, h3, h4, .judul {color:#333;}
	h1, h2, h3, h4 {font-weight: normal}
a { outline:0; }
h1,h2,h3,h4 {font-size:26px; margin-bottom:10px; line-height:1.2em;}
h2 {font-size:22px; } h3{font-size:18px;} h4{font-size:16px; margin:20px 0 10px; font-weight:bold; }
body, textarea {font-family:helvetica, arial, verdana; font-size:.9em;}
	body {padding-top:40px;}
h4 .step-number {display:inline-block; width:25px; line-height:25px; height:25px; text-align:center; border-radius:30px; background:#F90; margin:-5px 5px 0 10px; color:#FFF; padding-top:1px; }
.smaller, small {font-size:.8em;}
.hidden {display:none !important; top:-400px!important; left:-150%!important;}

.wrapper {padding:0 10px;} 
.wrapper .product-info ul li {padding: 2px} 

.header {padding:5px; border-bottom:1px solid #EEE; position: fixed; background:#FFF; width:100%; top:0;text-align: center; z-index: 10;}
	.home .header {}
/*container*/
.container-tipeproduct select{    height: 30px; width: 100%; border: 1px solid #e6e6e6; background-color: #FFF; margin-bottom: 10px; border-radius: 3px;}
/* COLUMN */
/* COLFIX WIDTH & HEIGHT */
.colfix {float:left; box-sizing:border-box; min-height:20px; vertical-align: top; margin-right: -4px}.w00 {width:0; padding:0 !important;} .w05 {width:5%!important} .w06{width:6%} .w10 {width:10%;} .w15{width:15%}  .w20 {width:20%} .w25 {width:25%;} .w30{width:30%} .w33 {width:33.33%} .w35{width:35%}.w40 {width:40%} .w50 {width:50%;} .w60 {width:60%} .w66 {width:66.66%} .w70{width:70%}.w75 {width:75%} .w80 {width:80%} .w85{width:85%}  .w90{width:90%;} .w95{width:95%;} .w100{width:100%;}.h50 {height:50%;} .h25 {height:25%;} .h75 {height:75%} .h33 {height:33.33%} .h20 {height:20%} .h40 {height:40%} .h60 {height:60%} .h80 {height:80%} .h66 {height:66.66%} .h100{height:100%;} .w47{width:47%}span.colfix {float:none; display:inline-block; }
	.mb0 {margin-bottom: 0 !important;}

/* FORMS ELEMENTS */
	body > form {padding:10px;}
		form label {display: block; margin-bottom: 10px}
	input[type=text], input[type=password], input[type=email], select, textarea, input[type=submit], input[type=button], button {font-size:13px; padding:0 10px;}
	input[type=text], input[type=password], input[type=email], textarea, select {height:40px; width:100%; border:1px solid #e6e6e6; background-color:#F6F6F6; margin-bottom:10px; border-radius: 3px;}
		textarea {height:150px; padding:10px;}
	.btn, input[type=submit], input[type=button], button {padding:12px 20px 13px; height:40px; border-radius: 3px; background:#f60; color:#FFF; border:0; display: inline-block; box-sizing:border-box; line-height: 15px; margin-bottom: 5px; font-size: 13px;text-align:center;}
		.btn:hover, input[type=submit]:hover, input[type=button]:hover, button:hover {background:#F90;}
		.btn:active, input[type=submit]:active, input[type=button]:active, button:active {background:#999;}
		label { width: 100%;font-size: .9em;margin-bottom: 5px; margin-top: 5px}    fieldset.date div select {width:92%;margin-left:4%;margin-right:4%;}    fieldset.date div:first-child select, fieldset.date div:last-child select {width:100%;margin-right:0;margin-left:0;}
	/*label {font-size:.9em;}*/

	.sml-btn, /*input[type=submit],*/ input[type=button], button {font-size: .9em;font-weight: normal;line-height: 1em;padding: 7px 8px 6px;border: 1px solid #DDD;border-radius: 2px;box-shadow: none;margin-left: 5px;background: #EEE;margin-top: 2px;color: #333;}
		.sml-btn:hover, input[type=submit]:hover, input[type=button]:hover, button:hover {background:#F90;}
	.smallbtn {padding:5 10px; line-height: 15px; height:25px; font-size:.8em; margin:0;}

.list-item .btn{padding: 6px 10px 16px;height: 23px;background: #f60;color: #FFF;border: 0;display: inline-block;line-height: 10px;margin-bottom: 5px;font-size: 11px;}

/* SEARCHBAR */
	.searchbar {padding:10px 0;}
		.home .searchbar {padding:20px 0;}
	.searchbar input[type=text] {background-image:url(../images/sprite-mobile.png); background-position:-215px -25px; background-repeat: no-repeat; padding-left:45px; margin-bottom:0; }

/* BREADCRUMP */
	.breadcrump { padding:10px; font-size: .8em;}
		.breadcrump li {display:inline-block; padding-right:8px; margin-right:8px; position: relative;}
			.breadcrump li:after {content:'/'; position: absolute; right:-4px; font-size:1.5em; color:#DDD; font-weight: 300; margin-top:-4px;}
			.breadcrump li:last-child:after {content:'';}

/* KATEGORI */
	.dropdown-menu {padding:10px; background:#EEE; }
	.dropdown-menu li a {padding:8px; height:18px; display:block; background:#FFF; border-radius:3px; margin-bottom:8px; box-shadow:0 0 0 1px rgba(0,0,0,.05); font-size:.9em;}
		.dropdown-menu li a:hover {box-shadow:0 0 0 3px rgba(0,0,0,.2);}
	.subkategori {padding:0 0 30px 0;}
		.subkategori li a {display:block; padding:5px 10px 5 20px; border:1px solid #EEE; border-width: 1px 0; margin-bottom:-1px; }
		.subkategori li {}
		.subkategori h4 {margin-left:10px;}
/*RIBON*/	
.corner-ribbon {width: 0;height: 0;position:absolute;z-index:300;border-style: solid;border-width: 40px 40px 40px 0;border-color: #555 transparent transparent transparent;}
	.corner-ribbon span {font-size:.7em;display:block;position:relative;color:#fff;margin:-39px 5px 0 2px;line-height: 1.2em}
	.aktif {border-color: rgba(62, 130, 27, 0.83)transparent transparent transparent;}
	.moderasi {border-color:rgba(255, 106, 0, 0.8)  transparent transparent transparent;}
/* LISTING */
.imgbox { position: relative;top:0; right:0; bottom:0; left:0;margin:auto;vertical-align: }
.imgbox input[type=file]{display: none}
	.imgbox img {position:relative; height:100%; }

	.imgbox.imgprofile {width:80px; height:80px; overflow: hidden; border-radius:60px;position:inherit!important;}
.harga, .price {color:#4F9C00; font-weight:500;}
	.harga:before, .price:before {content: 'Rp '; display: inline-block; font-size:.8em; font-weight:300; margin-right: 5px;}
	.hargabox > div {padding:0 10px; line-height: 1.2em;}
	.hargabox .harga {font-size:1.2em;}

	.list-wrapper {padding:10px; background: #EEE;}

	.list-item {height:100px; margin-bottom:10px; background:#FFF; border-radius: 3px; position: relative;}
		.list-item .colfix {vertical-align: middle;}
		.list-item .colfix:nth-child(2n) {padding-left: 10px; }
	.list-item h3 {font-size:.9em; height:2.4em; overflow: hidden; margin-top:7px; margin-bottom:5px;}
		.list-item .imgbox img {max-width:90%; max-height:90%;}

	.list-item .harga, .list-item .price {display:block;}
	.product-info .order {font-size:.8em; font-weight: bold; margin:10px 0 0; position: relative;}
		.product-info .order span {font-weight: lighter; color:#999;}
		.product-info .order:before {content:'min.order'; position: absolute; font-size:.8em; top:-10px; color:#999;}
			/*.product-info .stokorder:before {content:'tersedia';}*/



/*List Penawaran*/
.list-penawaran-rfq {height:225px;}
.list-penawaran-rfq .colfix:nth-child(2n){padding-left:0;}
.pnwrn-aktif{border:2px solid #FC0;}
.pnwrn-other {background:#DDD;}
.list-penawaran-rfq .pnwrtit{white-space: nowrap;width: 80%;max-height: 1.2em;overflow: hidden;    text-overflow: ellipsis;font-size:15px;}
.penawaran-info dl{margin:10px 0;}
.penawaran-info dl dt{float:left;}
.penawaran-info dl dd{padding-left:120px;}
.penawaran-info dl dd:before{content:':';}
.penawaran-info dl dd span{padding-left:5px;display:inline-block;font-weight:bold;}
.penawaran-info .prc{color:#FC6000;}
.penawaran-info dl dd .cat{margin-top:-18px;padding-left:8px;}
.penawaran-info .colfix:nth-child(2n){padding-left:0 !important;}
.penawaran-info .btn-warp{margin:0 auto;width:80%;}
.penawaran-info .btn{width:49%;text-align:center;display:inline-block;}
.pnwrn-other .btn-warp{width:50%;margin:0 auto;}
.pnwrn-other .btn{width:100%;margin:0 auto;border:1px solid #FFF;}
.list-penawaran-rfq .low-prc {position: relative;width: 0px;height: 0px;margin-top: -4px!important;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #2266cc;display: inline-block;margin-left: 5px;}
.list-penawaran-rfq .exp-prc {position: relative;width: 0px;height: 0px;margin-top: -4px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #980000;display: inline-block;margin-left: 5px;}
.list-penawaran-rfq .eq-prc {position: relative;width: 10px;height: 4px;margin-top: -4px;background: #fc0;display: inline-block;vertical-align: middle;margin-left: 5px;}

/*Detail Pesan Penawaran*/
.detailq-pnwrn h3{font-size:16px;margin-bottom:10px !important;}
.detailq-pnwrn dl{margin:10px 0;}
.detailq-pnwrn dl dt{float:left;}
.detailq-pnwrn dl dd{padding-left:120px;}
.detailq-pnwrn dl dd:before{content:':';}
.detailq-pnwrn dl dd span{padding-left:5px;font-weight:bold;}
.detailq-pnwrn .prc{color:#FC6000;}
.detailq-pnwrn dl dd .cat{margin-top:-18px;padding-left:8px;display:inline-block;}
.detailq-pnwrn textarea {margin-bottom:10px !important;}
.pesan-penawaran ul .unread{border:1px solid #FC0;}
.pesan-penawaran ul li{background:#FFF;padding:10px;margin-bottom:10px;}
.pesan-penawaran ul h3{font-size:14px;margin-bottom:5px !important;}
.pesan-penawaran ul p{margin-top:10px;}
.pesan-penawaran .msg-date{font-size:12px;}

/*Batalkan Penawaran*/
.batalkan-penawaran-wrap{margin:10px;}
.batalkan-penawaran dl dt{float:left;}
.batalkan-penawaran dl dd{padding-left:120px;}
.batalkan-penawaran dl dd:before{content:':';}
.batalkan-penawaran dl dd span{padding-left:5px;font-weight:bold;}
.batalkan-penawaran .prc{color:#FC6000;}
.batalkan-penawaran dl dd .cat{margin-top:-18px;padding-left:8px;display:inline-block;}
.batalkan-penawaran .btn-warp{margin-top:20px;}

/*Ganti Harga*/
.chgprc {padding: 10px;background: #E8E8E8;margin-top:-20px;border: 1px solid #DDD;border-top: 0;position:relative;margin-bottom:10px;}
.chgprc span{display:inline-block;width:100%;margin:10px 0 0;}
#chgprice {margin:0;}
#chgprice dt{float:left;}
#chgprice dd{padding-left:30px;}
#chgprice dd:before {content: '';}
#chgprice .harga {font-size: 16px;text-align:left;}
.edtprc{margin-top:14px;}



/*Tabbing*/
.formulir .tabs{margin-top:10px;}
.formulir .tabs li{float: left;display: block;width: 45%;border-bottom: 1px solid #ddd;margin-bottom: -2px;cursor: pointer;font-size: 14px;text-align:center;margin-right: 2px;border-radius: 5px 5px 0 0;border-bottom: 1px solid #FFF;z-index: 2;position: relative;padding: 0;text-align: center;padding: 10px 5px 10px 5px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd;border-radius: 5px 5px 0 0;background: #f1f1f1;}
.formulir .tabs .active{background:#FFF;}
.formulir .tab-content {display:none;}
.formulir .current {display:block;}
.list li{width:100%;}
.tab-content{background:#F8F8F8;border-top:1px solid #DDD;}
    /* Dashboard Photo */
    /*List Permintaan*/
    
    .list-permintaan {height:190px;}
    .list-permintaan a{display:block;}
    .list-permintaan a:hover, .list-penawaran-rfq a:hover{color:#333;}
    .list-item .permintaan-info, .list-penawaran-rfq{padding:0 2%; }
    .list-permintaan .mtitlereq{white-space: nowrap;width: 100%;max-height: 1.2em;overflow: hidden;
        text-overflow: ellipsis;font-size:15px;}
    .list-permintaan .harga{font-weight:bold;font-size:16px;margin:5px 0;}
    .list-permintaan .desc-permintaan{height:2.3em;overflow:hidden;margin-bottom:5px;font-size:12px;}
    .permintaan-info .pnwr-total .penawar{font-size:12px;text-align:center;}
    .permintaan-info .permintaan-infocp {margin-top:10px;padding:5px 0;}
    .permintaan-info .permintaan-infocp h3{font-size:12px;margin:0;}
    .permintaan-info .permintaan-infocp .seler-info{font-size:11px;margin-bottom:15px;}
    .permintaan-info .tradeoffer{margin-top:5px;}
    .permintaan-info .to-count{width:50%;text-align:center;float:left;}
    .permintaan-info .to-count span{display:block;font-size:12px;}


    /*List Penawaran*/

    .list-penawaran-rfq {height:225px;}
    .list-penawaran-rfq .colfix:nth-child(2n){padding-left:0;}
    .pnwrn-aktif{border:2px solid #FC0;}
    .pnwrn-dipilih{border:2px solid #71d40b !important;}
    .pnwrn-other {background:#DDD;}
    .list-penawaran-rfq .pnwrtit{white-space: nowrap;width: 80%;max-height: 1.2em;overflow: hidden;
        text-overflow: ellipsis;font-size:15px;}
    .penawaran-info dl{margin:10px 0;}
    .penawaran-info dl dt{float:left;}
    .penawaran-info dl dd{padding-left:120px;}
    .penawaran-info dl dd:before{content:':';}
    .penawaran-info dl dd span{padding-left:5px;display:inline-block;font-weight:bold;}
    .penawaran-info .prc{color:#FC6000;}
    .penawaran-info dl dd .cat{margin-top:-18px;padding-left:8px;}
    .penawaran-info .colfix:nth-child(2n){padding-left:0 !important;}
    .penawaran-info .btn-warp{margin:0 auto;width:80%;}
    .penawaran-info .btn{width:49%;text-align:center;display:inline-block;}
    .pnwrn-other .btn-warp{width:50%;margin:0 auto;}
    .pnwrn-other .btn{width:100%;margin:0 auto;border:1px solid #FFF;}
    .list-penawaran-rfq .low-prc {position: relative;width: 0px;height: 0px;margin-top: -4px!important;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #2266cc;display: inline-block;margin-left: 5px;}
    .list-penawaran-rfq .exp-prc {position: relative;width: 0px;height: 0px;margin-top: -4px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #980000;display: inline-block;margin-left: 5px;}
    .list-penawaran-rfq .eq-prc {position: relative;width: 10px;height: 4px;margin-top: -4px;background: #fc0;display: inline-block;vertical-align: middle;margin-left: 5px;}


    /*Detail Pesan Penawaran*/
    .detailq-pnwrn h3{font-size:16px;margin-bottom:10px !important;}
    .detailq-pnwrn dl{margin:10px 0;}
    .detailq-pnwrn dl dt{float:left;}
    .detailq-pnwrn dl dd{padding-left:120px;}
    .detailq-pnwrn dl dd:before{content:':';}
    .detailq-pnwrn dl dd span{padding-left:5px;font-weight:bold;}
    .detailq-pnwrn .prc{color:#FC6000;}
    .detailq-pnwrn dl dd .cat{margin-top:-18px;padding-left:8px;display:inline-block;}
    .detailq-pnwrn textarea {margin-bottom:10px !important;}
    .pesan-penawaran ul .unread{border:1px solid #FC0;}
    .pesan-penawaran ul li{background:#FFF;padding:10px;margin-bottom:10px;}
    .pesan-penawaran ul h3{font-size:14px;margin-bottom:5px !important;}
    .pesan-penawaran ul p{margin-top:10px;}
    .pesan-penawaran .msg-date{font-size:12px;}

    /*Batalkan Penawaran*/
    .batalkan-penawaran-wrap{margin:10px;}
    .batalkan-penawaran dl dt{float:left;}
    .batalkan-penawaran dl dd{padding-left:120px;}
    .batalkan-penawaran dl dd:before{content:':';}
    .batalkan-penawaran dl dd span{padding-left:5px;font-weight:bold;}
    .batalkan-penawaran .prc{color:#FC6000;}
    .batalkan-penawaran dl dd .cat{margin-top:-18px;padding-left:8px;display:inline-block;}
    .batalkan-penawaran .btn-warp{margin-top:20px;}


        /* Dashboard Photo */
>>>>>>> Stashed changes
.wbox {width:50%;}
div.boxinfo {font-size: .9em;color: #666;margin-left:0!important;padding:10px;margin-left:5px;margin-right:5px;margin-bottom:10px;height:280px;background: #FFF;border-radius: 2px;}
.boxinfo h3 {margin: 8px 0;height:32px;font-size:14px;line-height: 1.2em;font-weight: normal;color: #AAA;}
.boxinfo .colfix.w100 div {height:80px;}
.boxinfo span {position: relative;bottom:0;}
.boxinfo .btn {margin-top:10px;}
.colfix.w100.txttop  div > p {margin:5px;}

.dashboardpagex {width: 100%;}


/*sms pricd*/
.smsprice, .priorityprice {margin: 15px 0 30px 0;text-align: center;font-size: 16px;}
.smsprice span, .priorityprice span {font-size: 22px;font-weight: 500;color: #06c;}

/* Member Upgrade */
.membersms{padding: 10px;font-size: 13px;}
.membersms ul li{ list-style: disc; line-height: 1.3em; margin: 0 0 5 20px;}
.membersms h5, .memberpriority h5 {margin-bottom:5px;}
.membersms li, .memberpriority li {margin-bottom:15px;}
.smsprice, .priorityprice {margin:15px 0 30px 0;text-align: center;font-size:16px;}
.smsprice span, .priorityprice span {font-size:22px;font-weight:500;color:#06c;}
.paymentselect {list-style: none;margin: 0;margin-top: 20px;height: 50%;background:white;}
.seler-info{float: left;padding: 0 !important;height: inherit;right: 10px;bottom: 25px;font-size: 0.8em;border: 0 !important;margin-bottom: 0 !important;display: block;}

.lokasi {margin-top: 0;color: #666;}

.membership {float: right;width: auto;min-height: 15px;position: absolute;right: 6px;bottom:5px;}
ul.paymentselect {list-style: none;margin: 0;margin-top: 20px;background: white;}
.paymentselect img {float: left;margin-bottom: 10px;margin-left: 2px;}

.paymentselect li {float: left;margin-bottom: 20px;margin-left: 20px;margin-top: 15px;padding: 2px;}
.infotransfer {float:left;width:100%;border:1px solid #eee;padding:5px;margin-bottom:15px;}
.infotransfer h4 {background: #2A86C5;color: #fff;text-shadow: none;margin-bottom: 5px;padding: 5px 10px;}
.infotransfer ul {float: left;list-style: none;width: 100%;font-size:13px;margin:0 0 5px 0;}
.infotransfer li {float: left;width: 100%;margin: 2px 0;padding: 3px 0 3px 6px;border-bottom: 0;}
.infotransfer li:nth-child(even) {background: #eee;}
.katalog select {background: white;text-align: center;}

/*table*/

table {border-collapse: collapse;width: 100%;}

th, td {text-align: left;padding: 8px;font-size: .8em;}

tr:nth-child(even){background-color: #E2E5EA}

th {background-color: #5180C5;color: white;}

/* Social Media */

.btn-google{color: #fff !important;background-color: #d54636 !important;padding: 7px 8px;height: 36px;margin-left:5px;font-size: .9em;letter-spacing: .5px;font-weight: 300;border: 1px solid #d54636!important;white-space: nowrap;border-radius: 2px;box-shadow: inset 0 1px 0 rgba(255,255,255,.4);}


.btn-facebook {color: #fff !important;background-color: #354c8c !important;padding: 7px 8px;height: 36px;margin-right:5px;font-size: .9em;letter-spacing: .5px;font-weight: 300;border: 1px solid #2e6697 !important;white-space: nowrap;border-radius: 2px;border: 1px solid #fff;box-shadow: inset 0 1px 0 rgba(255,255,255,.4);}

/* Close button cart*/

.closebtn {display: inline-block;vertical-align: middle;position: absolute;text-align: center;line-height: -2px;right: 16px;background: rgba(238, 238, 238, 0.49); border: 1px solid #ddd;text-decoration: none !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;z-index: 10;height: 24px;width: 23px;margin: 1px -15px -13px -13px;}

.closebtn:hover {display: inline-block;vertical-align: middle;position: absolute;text-align: center;line-height: -2px;right: 16px;background: #CCCCCC; border: 1px solid #ddd;text-decoration: none !important;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;z-index: 10;height: 24px;width: 23px;margin: 1px -15px -13px -13px;}

.closebtn a { font-size: 20px; line-height:22px; }
.closebtn a:hover { color: white; font-size: 20px; line-height:22px; }

.cartbutton, .checkbutton{position: relative;height: 2px;z-index: 9;
}

.checkbutton {top:40px;width:15px;float:left;}

.listing-cart .w33 {width: 30.33%;margin-left:6%;}

.listing-cart .w66 {width: 54%;margin-right:9%;}
/*notif bar*/
.alert-small {background: rgba(255, 217, 0, 0.46)!important;border-radius: 2px;margin-bottom: 10px;margin-left: 40px;line-height: 2em;width: 236px;font-size: 0.9em;}

.alert-small.notif-form{margin-top: -10px;margin-left: 0;width: 100%;}

/* FORMULIR SUBMIT */
.tambah-foto{margin-bottom:10px;}
.tambah-foto label { text-align: center; float:left;display: block;width:65px;height:65px;margin:0;}

	.tambah-foto label:nth-child(4n) {margin-right:-4px;}
	.tambah-foto label:hover {background-color:#DDD;}
.tambah-foto label input[type=file] {display:none;}

.tambah-foto li {height: 68px!important;}

.tambah-foto-comp img {float:none; display:inline-block;margin:0 auto; width:100%; height:50px; line-height:45px; text-align: center; box-sizing:border-box; font-size: 1.5em; color:#F60;}}
.tambah-foto-comp img:hover {background-color:#DDD;}
.tambah-foto-comp img input[type=file] {display:none;}


.tambah-foto-comp label {float:none; display:inline-block;margin:10px 0 0 0; width:17.5%; height:50px; line-height:45px; text-align: center; border:1px solid #DDD; box-sizing:border-box; border-radius: 4px; font-size: 1.5em; color:#F60;}}
.tambah-foto-comp label:hover {background-color:#DDD;}
.tambah-foto-comp label input[type=file] {display:none;}
/* DETAIL */
.detail-wrapper {padding:10px; background: #F6F6F6; line-height: 1.2em;border-top: 1px solid #DDD;}
	.detail-wrapper h3 {max-height:85px; overflow: hidden; margin:0 0 20px; font-weight: bold;}
	.detail-wrapper input[type=text], .detail-wrapper textarea {background:#FFF; text-align: center;border:1px solid #DDD; margin-bottom: 0}.gallerybox-akun{ width: 100%;margin:0 auto;text-align: center;overflow-x: auto;overflow-y: hidden;background: #FFF;margin-bottom: 20px;}

.delete_image_product, .delete_image_company {position: absolute;font-size: 10px;z-index: 2;right: 3px;top: 3px;color: #ccc;padding: 3px 6px;border-radius: 2px;text-align: center;border: 1px solid #ddd;background: #fff;}


ico.cart-add {background-position: -60px -90px;margin-right:0;}

.tambah-foto-comp {text-align:center;margin:0 auto;}
	.gallerybox {height:280px; width:100%; overflow-x:auto; overflow-y:hidden; background:#F6F6F6; position: relative; }
	.gallery-container {height:270px; width:100%;margin:0 auto;text-align:center; display:inline-block;white-space: nowrap;}
	/*.gallery-container .imgbox {width:250px; height:250px; display: inline-block; margin:0 3px; border:1px solid #DDD;}*/.gallery-container .imgbox {width: 250px;height: 250px;display: inline-block;margin: 10px auto;border: 1px solid #DDD;}
	.gallery-numbers {position:absolute; width:100%; margin-top:-20px;}
	.gallerynav {position: absolute; z-index: 1; width:100%; height:1px; top:40%;}
.product-info li {font-size: .8em;padding: 8px 0;border-bottom: 1px solid rgba(128, 128, 128, 0.19);}

.product-info ul {list-style: none;padding: 0 35px;}.product-info li > span {display:block; width:120px; color:#666; font-size: .9em;}

/* FOOTER */
.footer {padding:20px 0; background:#F6F6F6; line-height: 1.6em; text-align: center; color:#888; border-top:1px solid #DDD;}
	.footer ul {margin-bottom:15px;}
	.bottom-space {margin-bottom:40px; display: block;}

/* MENU */
.nav-menu-container {position: fixed; width:100%; height:100%; top:40px; right:-100%;line-height: 1.2em; z-index: 1002;}
	.nav-menu-container ico.closeX {margin:-40px 0 0 -40px; position: absolute; border:10px solid #FFF; background-color:#FFF;}
	.nav-menu-container:hover {}
.nav-menu {position:absolute; width:100%; height:100%; background:#FFF; top:0; right:0; transition:.3s; border-top:1px solid #EEE;}
	.nav-menu ico.menu {margin:-40px 0 0 -40px; border:9px solid #FFF; background-color:#FFF;}
	.nav-menu:hover {right:100%; box-shadow:-1px 0 0 #DDD;}
	.nav-menu ul {padding-bottom: 80px; background:#FFF; max-height:100%;  overflow-x:auto; }
	.nav-menu li {clear:both;}
    .nav-menu li:first-child a{ word-break: break-all; height: inherit!important; max-height: 35px!important; overflow:hidden; clear:both;}
	.nav-menu .ul-menu li a {padding:8px; height:20px; border-bottom:1px solid #EEE; background:#FFF;}
		.nav-menu li a {padding:5px 10px; display: block;}
		.nav-menu li a:hover {background: #DDD;}
.notif-number {background-color:#F40; padding:8px 12px; border-radius: 5px; color:#FFF;}
	.nav-menu li .notif-number {margin: -6px -6px 0 0; border-radius:20px;}
/*PAGINATION*/

.nav-menu li:first-child a {word-break:break-all;height:35px!important;overflow: hidden;clear: both;}

ul.pagination {display: inline-block;padding: 0;margin: 0 0 10px;background-color: white;border-radius:5px;}

ul.pagination li {display: inline;}

ul.pagination li a {color: black;float: left;padding: 8px 16px;font-size: 10px;text-decoration: none;transition: background-color .3s;border: 1px solid #ddd;}

ul.pagination li a.active {background-color: #999;color: white;border: 1px solid #999;}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

div.center {text-align:center;background: #EEEEEE;margin:-12px 0px 0px 0px;padding: 5px}

.static-box, .form-box.w30, .static-text {width:100%!important;}.form-box {margin-left:0 !important;}.judul-landing,.static-head {display:none;}.syarat {overflow: inherit !important;}

.static-box {background-image:none!important;}

.slideMob:hover {max-height:5000px;padding-bottom: 20px;border-bottom: 1px dashed #ECECEC;}

.slideMob{width:100%;max-height:40px;overflow:hidden;transition: 1s;}
.slideMob li:hover {max-height:5000px;}
.slideMob ul, .slidingDiv ol {margin-left:0;list-style: disc;}
.slideMob li, .slidingDiv ol li {transition:0.3s;overflow:inherit;margin-bottom:10px;margin-left:20px;}
.syarat {max-height: inherit !important;}
.mobile .wrapper {padding:0;}


/*MODAL */
	.modal {display:block; position: absolute; top:130px; left:0; right:0; width:70%; padding:50px 20px; margin:0 auto; text-align: center; background:#FFF; box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 4px 7px rgba(0,0,0,.2), 0 0 30px 50px rgba(240,240,240,.8); z-index: 1000;}
	/*.modal:hover, .modal:visited {display:none; top:-200px; z-index:-1;} */
	.modal .closeX {position: absolute; top:5px; right:0px;}

/* ICONS */
ico, .logo {display:inline-block; vertical-align: middle; width:20px; height:20px; background:url(../images/sprite-mobile.png); margin-right:10px;} 
	.logo {width:140px; height:30px; background-position: 0 3px; margin-right:0;}
	ico.menu 		{background-position: -225px -5px; }
	ico.closeX		{background-position: -195px -5px; }
	ico.agraris, ico.pertanian 	{background-position: 0 -30px}
	ico.kimia 		{background-position: -150px -30px}
	ico.elektrik 	{background-position: -60px -30px}
	ico.makanan 	{background-position: -90px -30px}
	ico.rumahtangga	{background-position: -120px -30px}
	ico.kantor 		{background-position: -120px -50px}
	ico.tekstil 	{background-position: -180px -30px}
	ico.pakaian 	{background-position: 0 -50px}
	ico.komputer 	{background-position: -30px -50px}
	ico.enerji	 	{background-position: -60px -50px}
	ico.mebel	 	{background-position: -90px -50px}
	ico.industri 	{background-position: -120px -50px}
	ico.percetakan, ico.buku 	{background-position: -150px -50px}
	ico.telekom 	{background-position: -180px -50px}
	ico.otomotif 	{background-position: 0 -70px}
	ico.konstruksi 	{background-position: -30px -70px}
	ico.souvenir 	{background-position: -60px -70px}
	ico.olahraga 	{background-position: -90px -70px}
	ico.industri 	{background-position: -120px -70px}
	ico.voucher 	{background-position: -150px -70px}
	ico.kesehatan 	{background-position: -180px -30px}
	ico.mainan	 	{background-position: -180px -70px}
	ico.arrow-right {background-position: 0 -90px}
	ico.arrow-left 	{background-position: -30px -90px}
	ico.arrow-right-big 	{background-position: 0 -110px;		height:40px; width:40px;}
	ico.arrow-left-big 		{background-position: -60px -110px;	height:40px; width:40px;}

/* fix ico yg baru */ico.agraris, ico.pertanian-dan-produk-pangan    {background-position: 0 -30px}ico.metalurgi-mineral-dan-kimia         {background-position: -150px -30px}ico.elektrik    {background-position: -60px -30px}ico.grocery     {background-position: -90px -30px}ico.rumahtangga {background-position: -120px -30px}ico.peralatan-kantor        {background-position: -120px -50px}ico.tekstil     {background-position: -180px -30px}ico.fashion-tekstil-dan-aksesoris   {background-position: 0 -50px}ico.peralatan-elektronik    {background-position: -30px -50px}ico.enerji      {background-position: -60px -50px}ico.elektronik-dan-peralatan-rumah-tangga       {background-position: -90px -50px}ico.industri    {background-position: -120px -50px}ico.percetakan, ico.media-musik-dan-buku    {background-position: -150px -50px}ico.teknologi-dan-telekomunikasi    {background-position: -180px -50px}ico.otomotif-dan-transportasi   {background-position: 0 -70px}ico.konstruksi  {background-position: -30px -70px}ico.kerajinan-dan-souvenir  {background-position: -60px -70px}ico.peralatan-olahraga-dan-outdoor  {background-position: -90px -70px}ico.peralatan-industri    {background-position: -120px -70px}ico.voucher-dan-layanan     {background-position: -150px -70px}ico.kesehatan-dan-kecantikan    {background-position: -180px -30px}ico.mainan-dan-bayi     {background-position: -180px -70px}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
@media (min-width: 330px) {
}

/*Kategori*/
.kategories {margin:10px 0;}
.kategorithumb div {height:63px;text-align: center;font-size: 12px;line-height: 14px;padding: 10px;background: #eee;border-radius: 3px;}
.kategorithumb input[type=checkbox] {display: none;}
.kategorithumb input[type=checkbox]:checked ~ div {background: #FF6C00;color: #fff;padding: 10px;}
.kategorithumb span{overflow:hidden;width:100%;display: inline-block;}
.kategories .colfix{margin:0;}
.kategories .catwa{width:24%;margin-right:1% !important;margin-bottom:5px;}
.kategories .catwa:nth-child(4n){margin-right:0% !important;}
@media screen and (max-width:425px) {
    .kategories .catwa{width:49%;margin-right:1% !important;margin-bottom:5px;}
}

/*RFQ Dashboard*/
.list-permintaan-dash,.dashboard-detail-req{font-size: 12px;}
.list-permintaan-dash li,.dashboard-detail-req li{background: #fff;border:1px solid #EAEAEA;padding:5px;margin-bottom: 10px;}
.list-permintaan-dash li a,.dashboard-detail-req li a{text-decoration: none;color:#333;}
.list-permintaan-dash .unread,.dashboard-detail-req .unread{border:1px solid #FC0;}
.list-permintaan-dash h3,.dashboard-detail-req h3{font-size: 13px;font-weight: bold;}
.list-permintaan-dash dt,.dashboard-detail-req dt,.bdgt-req dt{float: left;}
.list-permintaan-dash dd{padding: 0 0 5px 25%;font-weight:bold;}
.list-permintaan-dash .price,.dashboard-detail-req .price,.bdgt-req .price{color: #fc6000;font-weight: bold;}
.dashboard-detail-req{margin-bottom:10px;}
.dashboard-detail-req dd{padding: 0 0 5px 40%;font-weight: bold;}
.dashboard-detail-req p{line-height: 18px;}
.box-img {width: 100px;height: 100px;float: left;background: #fff;border: 1px solid #ddd;}
.box-img span {width: 100px;height: 100px;vertical-align: middle;text-align: center;display: table-cell;}
.box-img img {max-width: 100px;max-height: 100px;}
.content-buy {padding-left: 40%;padding-top: 15px;}
.content-buy h3 {height: 30px;overflow: hidden;}
.btn-req{margin:10px 0;text-align: center;}
.btn-req a{background: #f60;padding: 6px 0;display: inline-block;margin-right: 5px;width: 70px;color: #fff!important;}
.btn-req a:nth-child(2){margin-right:0;}
.btn-req .btn{padding:12px 25px;width:150px;margin-right:0;}
.low-prc {position: relative;width: 0px;height: 0px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #2266cc;display: inline-block;}
.dashboard-detail-req textarea{background:#fff;}
.gallerybox{background: #fff;height: auto;}
.gallery-container{height: auto;}
.gallery-container .imgbox{margin:0;}
.gallery-numbers{margin:5px 0;position: relative;}
.detail-penawar-permintaan .dashboard-detail-req{margin:10px 0;}
.pilih-penawar .price{color: #fc6000;font-weight: bold;text-align: center;margin:10px 0;}
.btn-req-no{background: #ccc!important;}
.bdgt-req dd{padding: 0 0 10px 45%;}
.check-req input{vertical-align: top;}
.check-req p{display: inline-block;width: 89%;}

/*Tabbing*/
.tab-a {margin:15px 0 10px;}
.tab-a ul.tab {list-style-type: none; margin: 0;padding: 0;overflow: hidden;border: 1px solid #DDD;border-bottom:none;background-color: #f1f1f1;}
.tab-a ul.tab li {float: left;width:50%;}
.tab-a ul.tab li a {display:block;color: black;text-align: center;padding: 10px 16px;text-decoration: none;transition: 0.3s;font-size: 14px;}
.tab-a ul.tab li a:hover {background-color: #FFF;border-bottom:1px solid #FFF;}
.tab-a ul.tab li a:focus, .active {background-color: #FFF;border-bottom:1px solid #FFF;}
.tab-a .tabcontent {display: block;padding:0 10px;border: 1px solid #DDD;border-top: none;margin-top: -1px;border-top: 1px solid #DDD;}
.tab-a .tabcontent:last-child {display:none;}
.tab-a h4{margin:10px 0;}
.tab-a input[type=radio], input[type=checkbox]{float:left;}
.tab-a label{margin-top:0;width:90%;padding-left:27px;}

/*pagination2*/
.pagination2 {border:1px solid #DDD;margin:0 5px !important;}
.pagination2 input[type=number]{width: 20%;margin-bottom:0;float:left;height:20px;margin:5px 0 5px 5px;border: 1px solid #e6e6e6;background-color: #F6F6F6;border-radius: 3px;text-align:center;}
ul.pagination2 li{float:left;display:block;width: auto;}
ul.pagination2 li span{display:inline-block;vertical-align: middle;margin:5px 0;}
ul.pagination2 li:first-child{width:72%;float:left;}
ul.pagination2 li:last-child{margin-right:0;float:right;}
ul.pagination2 li a{padding:5px;border:0;}
ul.pagination2 li a:first-child{border-left:1px solid #DDD;}
ul.pagination2 li a:last-child{border-left:1px solid #DDD;}

/*notif*/
.notif-info{width:90%;padding:10px 0;border: 1px solid #FDA;background: #FCFFC7!important;border-radius: 2px;line-height: 1.2em;font-size:13px;}
.notif-info a{color: #4b669c;}

/*Tips Transaksi aman*/
.notif-tipsdantrik{
    border: 1px solid #FAB967;
    background: #F8F4AC;
    padding: 15px;
    color: #363636;
    margin:15px 0 15px;
    line-height: 18px;
    font-size:13px;
}
.notif-tipsdantrik h4 {
    margin-top: 0px;
    color: #FC6000;
}
.notif-tipsdantrik ul {
    list-style: inherit;
    margin-left: 15px;
    color: #5A5A5A;
}
.notif-tipsdantrik a {
    text-align: right;
    margin-top: 15px;
    display: inline-block;
    float: right;
    color: #517edf;
}