.section {
    float: left;
    width: 100%;
    border-top: 1px solid #f1f1f1;
    padding: 13px;
}

.mobile {
	padding: 10px;

}
/*color box tittle*/
.umum:hover > div > h4 , .registrasi:hover > div > h4 ,.fitur:hover > div > h4 ,.kategori:hover > div > h4 {
	background-color: rgba(33, 102, 204, 0.61);
	padding: 8px;
	margin: 5px 0px -20px 0px;
}

.umum:hover > div > h4>a ,.registrasi:hover > div > h4>a,.fitur:hover > div > h4>a ,.kategori:hover > div > h4>a{
color: #fff;
}



/*table*/
table {
    border-collapse: collapse;
    width: 100%;
}

thead, td {
    text-align: left;
    padding: 1px;
}

tr:nth-child(even){background-color: #eee}

thead {
    background-color: #cccccc;
    color: white;
}

.syarat:hover {
	max-height:5000px;
}

.syarat {
	width:100%;
	max-height:40px;
	overflow:hidden;
	transition: 0.2s;
	
}
.syarat li:hover {
	max-height:5000px;
	
}

.tentang:hover {
	max-height:5000px;
}

.tentang {
	width:100%;
	max-height:80px;
	overflow:hidden;
	transition: 0.2s;
	
}


.tentang li:hover {
	max-height:5000px;
	
}

/* bantuan/faq pengguna baru */
.umum:hover {
	max-height:5000px;
padding-bottom: 20px;

border-bottom: 1px dashed #ECECEC;
}

.umum {
	width:100%;
	max-height:40px;
	overflow:hidden;
	transition: 1s;
	
}
.umum li:hover {
	max-height:5000px;
	
}

.umum li {
	max-height:40px;
	overflow:hidden;
	transition:0.3s;
}

.umum li li {
	max-height:inherit;
}

/* bantuan/faq penjual */
.registrasi:hover {
	max-height:5000px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ECECEC;
}

.registrasi {
	width:100%;
	max-height:40px;
	overflow:hidden;
	transition: 1s;
	
}
.registrasi li:hover {
	max-height:5000px;
	
}

.registrasi li {
	max-height:40px;
	overflow:hidden;
	transition:0.3s;
}

/* bantuan/faq pembeli */
.fiturproduk:hover {
	max-height:5000px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ECECEC;
}

.fiturproduk {
	width:100%;
	max-height:40px;
	overflow:hidden;
	transition: 1s;
	
}
.fiturproduk li:hover {
	max-height:5000px;
	
}

.fiturproduk li {
	max-height:40px;
	overflow:hidden;
	transition:0.3s;
}

/* bantuan/faq penjual */
.kategori:hover {
	max-height:5000px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #ECECEC;
}

.kategori {
	width:100%;
	max-height:40px;
	overflow:hidden;
	transition: 1s;
	
}
.kategori li:hover {
	max-height:5000px;
	
}

.kategori li {
	max-height:40px;
	overflow:hidden;
	transition:0.3s;
}
.static-faq p {
	line-height: 1.3em;
}

/* TIPS DAN TRIK */
.lndpg-tnt {margin-top:20px;}
.lndpg-tnt-content h2{font-weight:bold; text-align:center;color:#2266cc;}
.lndpg-tnt-content h2 span{color:#fc6000;}
.lndpg-tnt-content p{text-align:center;}
.in-lndpg-tutor{background:#e7ebec;padding:2%;}
.lndpg-tutor-title{display:none;}
.lndpg-tutor-tnt-step p{font-weight:bold;}
.lndpg-tutor-tnt-step p b{width: 32px;height: 32px;float: left;margin: 0 5px 5px 0;}
.lndpg-tutor-tnt-step .tutor-step1 b{background: url(../images/icons/numb1.png) no-repeat;}
.lndpg-tutor-tnt-step .tutor-step2 b{background: url(../images/icons/numb2.png) no-repeat;}
.lndpg-tutor-tnt-step .tutor-step3 b{background: url(../images/icons/numb3.png) no-repeat;}
.lndpg-tutor-tnt-step .tutor-step4 b{background: url(../images/icons/numb4.png) no-repeat;}
.lndpg-tutor-tnt-step .tutor-step5 b{background: url(../images/icons/numb5.png) no-repeat;}
.lndpg-tutor-tnt-step .tutor-step6 b{background: url(../images/icons/numb6.png) no-repeat;}
.note-red{font-size:11px;color: #fc6000;}
.lndpg-tutor-tnt-step div p{font-weight:normal;margin-left:37px;text-align:justify;}

/* ADDRESS */

address li {
    float: left;
    width: 100%;
    line-height: 1.3em;
    margin-left: 0!important;
}

address> ul> li> span {
    display: block;
    float: left;
    min-height: 1.3em;
    line-height: 1.3em;
}

address> ul> li> span:first-child {
    width: 20%;
    color: #aaa;
    vertical-align: top;
}

/*
.penggunabaru {
	width:100%;
	max-height:20px;
	overflow:hidden;
	transition: 2s;
	
}

.penggunabaru li:hover{
	max-height:5000px;
	
}


.penggunabaru li{
	max-height:20px;
	overflow:hidden;
	transition:0.3s;*/
