/*FONT DEFINING*/
@font-face { font-family: 'Roboto'; font-style: normal; font-weight:100; src: url('../fonts/RobotoThin.eot'); src: local('Roboto Thin'),  local('Roboto-Thin'),  url('../fonts/RobotoThin.eot') format('embedded-opentype'), url('../fonts/RobotoThin.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight:300; src: url('../fonts/RobotoLight.eot'); src: local('Roboto Light'),  local('Roboto-Light'),  url('../fonts/RobotoLight.eot') format('embedded-opentype'), url('../fonts/RobotoLight.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url('../fonts/RobotoNormal.eot'); src: local('Roboto Regular'),  local('Roboto-Regular'),  url('../fonts/RobotoNormal.eot') format('embedded-opentype'), url('../fonts/RobotoNormal.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: url('../fonts/RobotoBold.eot'); src: local('Roboto Bold'),  local('Roboto-Bold'),  url('../fonts/RobotoBold.eot') format('embedded-opentype'), url('../fonts/RobotoBold.woff') format('woff'); }


.notif-bar.urgent {color: #000 !important;}
.alert.redbg {
    background-color: red;
    padding: 10px;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
}
.alert.redbg .close a {
    color: white;
    margin-right: 15px;
    position: absolute;
    right: 15px;
}

.dashboard-menu .akun-box h3{
    -webkit-mask-image: linear-gradient(gray, gray, gray, transparent);
    mask-image: linear-gradient(gray, gray, gray, transparent);
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    overflow: hidden;
}

.profile-info h1{
    -webkit-mask-image: linear-gradient(gray, gray, gray, transparent);
    mask-image: linear-gradient(gray, gray, gray, transparent);
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    overflow: hidden;
}

/* .cart-company-title{
    max-height:60px !important;
    overflow:hidden;
    -webkit-mask-image: linear-gradient(gray, gray, transparent);
    mask-image: linear-gradient(gray, gray, transparent);
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    overflow: hidden;
}

.detail-product .producttitle{
    max-height:60px !important;
    overflow:hidden;
    -webkit-mask-image: linear-gradient(gray, gray, transparent);
    mask-image: linear-gradient(gray, gray, transparent);
    -webkit-mask-mode: alpha;
    mask-mode: alpha;
    overflow: hidden;
}*/

/* Detail Page */
#form_pesan textarea:disabled {
    background-color: #EEE;
}

#form_pesan input[type=submit]:disabled {
    background-color: #CCC;
    cursor: default;
}

/*.tabdetail ol, .tabdetail ul {
    list-style: initial !important;
    margin-left: 15px;
}*/

.semirow .seller-name{
    height: 40px!important;
    word-break: break-all;
    overflow: hidden;
}

#form_company .list li label {
    padding-right: 5px;
    min-width: auto;
}

/* Override .submenu */
.submenu{
    z-index:1000;
}

/* Harga 0 diubah jadi Hubungi kami */
.semirow .hubungi-kami, .row .hubungi-kami {
    margin: 0 0 10px;
}

.grid .list-item .hubungi-kami {
    display: block;
    margin: 10px 0 20px;
}

.hubungi-kami {
    font-size: 1.2em;
    color: #4F9C00;
    font-weight: bold;
    text-transform: capitalize;
}

.hubungi-kami.data_price {
    margin-right: 15px;
}

.detail.detail-product .hubungi-kami {
    font-size: 22px !important;
}

.detail.detail-product #form_pesan #error-container {
    display: block;
    position: relative;
    z-index: 9999;
    border-radius: 0px;
}

.info-product .hubungi-kami {
    display: block;
    margin: 10px 0 30px;
    color: #fc6000;
}

.theme-item-info .hubungi-kami {
    margin-bottom: 25px;
    color: #455670;
}

.con .data .hubungi-kami {
    color: #fc6000;
}

.capitalized {
    text-transform: capitalize !important;
}

/*
.home .search-container {
    height: 330px;
    background: url('../images/bg/home-search-bg-lebaran.jpg') center;
    background-size: cover;
    z-index: -1;
    padding: 0;
}*/

.loginbox_daftar_btn {
    font-size: 12px !important;
    width:50px !important;
    text-align:center !important;
}
.loginbox_login_btn {
    font-size: 12px !important;
    width:50px !important;
    text-align:center !important;
}

#livechat-compact-container {
    min-width:0px !important;
}

#livechat-full {
    min-width:0px !important;
}

.add_product .notif-bar{
    max-height:none !important;
    /*border-style: solid !important; */
    border-width:1px !important;
    /*border-color:#D1E0B7 !important;*/
    padding: 5px !important;
}

h2.product-info-label {
    display: block;
    margin-top: 30px;
}


/*Tabbing*/
.tabdetail .tabdetail .tabs {float: left;width: 100%;position:relative;z-index:10;}

.tabdetail .tabs li {float: left;display: block;width: 20%;border-bottom: 1px solid #ddd;margin-bottom: -2px;cursor: pointer;text-transform: uppercase;font-size: 11px;margin-right: 2px;border-radius: 5px 5px 0 0;border-bottom: 1px solid #FFF;z-index: 2;position: relative;padding: 0;}
.tabdetail .tabs li{background: #f1f1f1;}
.tabdetail .tabs .current{background:#FFF;border-bottom:#FFF;}
.tabdetail .tabs li div {text-align: center;padding: 10px 5px 10px 5px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd;margin: 0 auto;border-radius:5px 5px 0 0;}
.tabdetail .tab-content {float: left;display: none;width: 100%;border: 1px solid #ddd;}
.tabdetail .tab-content.current {display: inherit;background:#FFF;}
.tabdetail .list{margin-top:20px;}
.tab-content dd {margin-bottom: 10px;}

/*Evelop Popup*/
.modal {display: none; position: fixed; z-index: 110; padding-top: 210px; left: 0;top: 0;width: 100%; height: 100%; overflow: auto; background-color: rgba(234, 234, 234, 0.8); }
.modal-content {position: relative;background-color: #fff;margin: auto;padding: 0;width: 450px;border-radius:3px;box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.2);border-radius: 3px 0 3px 3px;;-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s;padding:20px 10px;text-align:center;}
.modal-content h4{margin-top: 0;font-weight:500;font-size:26px;}
.modal-content .closes{position:absolute;top:0;right:7px;font-size:30px;cursor:pointer;}
.modal-content ul{list-style:inherit;text-align:left;margin-left:45px;line-height:25px;}
.modal-content .btn {border:none;padding:10px 15px;margin-top:20px;}