@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */

.lokasi {font-size:.8em; color:#666; display:block; line-height:1.1em; margin-top:3px;}

/*logo {width:130px; margin-top:-15px;  -webkit-filter: grayscale(1) brightness(2.5); -moz-filter: grayscale(1) brightness(2.5); }*/
.logo {width:130px; margin-top:-15px;}
/*.topnav, .fixed-margin .search-container {background:#2B3748 !important; color:#BBB; }*/
	.topnav div > ul > li {border-left-color:#555;}
	.topnav .w60 > ul > li:hover {background:#F60;}
	.topnav li ico { /*-webkit-filter: invert(1); -moz-filter: invert(1); filter: invert(1);*/}

.search-container {background:#FFF; border-bottom:1px solid #EEE; }/* box-shadow:0 1px 4px rgba(0,0,0,.1) */ /* #344C71 35455D*/
.dashboard-title {color: rgba(0,0,0,.8); font-weight: 300; font-size: 2em; display:inline-block; padding-top:3px;}
	.dashboard-title a {color:rgba(0,0,0,.4);}
	.dashboard-topic {display:inline-block; margin-left:40px; font-size:1em; padding: 0 0 5px 0; text-transform:capitalize;}
	.dashboard-title ico.gear { transform:scale(1.6,1.6); opacity:.3;}

.dashboard-content {padding:20px 0;}
	.dashboard-content > div > div:nth-child(2n) {}
	/*.dashboard-content > div > div:nth-child(2n) > div {margin-left:20px; background:#FFF; border:1px solid #EEE; border-radius:3px; min-height:1000px}*/
	.dashboard-content > div > div:nth-child(2n) > div {margin-left:20px; border-radius:3px; min-height:1000px}

.dashboard-menu {font-size:.9em; }
	.dashboard-menu .imgprofile {width:80px !important; height:80px !important; display:block; margin:-5px auto 15px !important;}
	.dashboard-menu h4 {font-size:1em; color:#FA0; margin:0 0 5px; font-weight:500;}
	.dashboard-menu ul > li {clear:both;padding:4px 0 6px 0; border-radius:3px; transition:.3s; position:relative; }
		.dashboard-menu li:hover {background:#FFF; padding-left:5px; box-shadow: 0 0 0 1px rgba(0,0,0,.1);}
		.dashboard-menu li a {display:inline-block; color:inherit;}
	.dashboard-menu span {float:right;transition:.3s;}
	.dashboard-menu li:hover span {margin-right:5px;}
		.dashboard-menu span * {color:#999; padding:2px 2px 3px 3px; background:#F6F6F6; margin:0 -2px 0 1px; border-left:1px solid #DDD;  }
		.dashboard-menu li:hover .notif-bubble {border-color:#FFF; color:#000;}
	.dashboard-menu hr {margin:6px 0 5px;}
	.dashboard-menu ico {opacity:.5; margin-right:3px;}
	.dashboard-menu .harga {padding-right:0; font-size:1em;}
	
	.logout .member-menu {position:relative;}
		.logout .member-menu:before {content:''; height:100%; width:100%; z-index:10; position:absolute; background:#F8F8F8; opacity:.7; }
		.logout .member-menu .notif-bubble {display:none;}
		.logout .member-menu a { pointer-events: none; cursor: default; }

.akun-box {margin-bottom:10px;}
	.akun-box .imgbox {width:100px; height:100px; margin:10px auto;}
		.akun-box .imgbox img {border-radius:3px;}
	.akun-box h3 {font-size:1em; }
	/*.akun-box h3 {font-size:1em; max-height:34px; }*/

.verified {padding-top:0!important;}
.emailverified {font-size:11px;}

.dashboard-detail {padding:20px 0 20px 20px; min-height:950px; border-left:3px solid #EAEAEA;box-shadow: inset 1px 0 0 #FFF, -1px 0 0 #FFF; /*box-shadow:0 0 0 3px #F8F8F8, -4px 0 0 rgba(0,0,0,.05), -6px 0 10px rgba(0,0,0,.1); */ margin-top:-17px;line-height:1.2em; }
	/*.dashboard-detail .colfix { padding:5px 10px; display:inline-block; vertical-align:middle; margin-right:-4px; float:inherit;}*/
	.dashboard-detail .colfix {display:inline-block; vertical-align:middle; margin-right:-4px; float:inherit;}

.list {margin-bottom:10px;}
	.list li { font-size:.9em; margin-bottom:-1px; color:#666; background:#FFF; border-radius:2px; border:1px solid #EAEAEA; }
	.list li.disabled, .list li.read, .list li.unread {background:#F1F1F1; border-left:5px solid #CCC; margin-left:-5px; border-color:#DDD;}
		.list li .imgbox {height:60px; background:#FFF;}
		.dashboard-detail li .colfix {padding:20px 10px 21px;}
		.list li:not(.disabled):not(.unread):not(.list-header):not(.list.list-display):hover {border-left:3px solid #AAA; margin-left:-2px;}
			/*.list-display li:hover {border-left:1px solid #EAEAEA !important; margin-left:0 !important;}*/
			.list li:hover {color:#000;}
			.list.row li:nth-child(n+2):hover {background:#F9F9F9; }
		.list li.disabled input:disabled, .list li.disabled select:disabled {background:#F1F1F1; border:0; font-weight:bold; color:#333;}

.listsubproduct {height:300px;border:1px solid #ddd;padding:7px;overflow:auto;}

		.list li label {display:inline-block; padding:3px 20px 5px 0; min-width:33%; box-sizing:border-box;}
		.list li.list-header {height:23px; color:#AAA !important; border:1px solid #E9E9E9; border-bottom:1px solid #FFF; background:#F1F1F1; font-size:.8em; text-transform:uppercase; border-radius:3px 3px 0 0; }
			.list li.list-header, .list li.list-header > div {padding-top:2px;}
			
		.list:not(.chatinput):not(.rating) .judul-item {height:34px; overflow:hidden;color:#444;}
			.list .judul-item a {color:#666;}
			.list li:hover .judul-item a {color:#000;}
		.list ico {margin:-2px 0 0 10px; opacity:.5; }
			.rating.list ico {margin:0; opacity:1;}
			.list ico:hover {opacity:1;}
		.list li hr {margin:7px 0 5px;}
			
	.list .btn {font-size:.9em; font-weight:normal; line-height:1em; padding:4px 8px 6px; border-radius:2px; box-shadow:none; margin-left:5px; background:#FC6000; color:#fff; }
	/*.list li:hover .btn {background:#888; color:#FFF; border-color:#888;}
		.list .btn:hover {background:#333 !important;}*/
	.dashboard .list .tgl * {display:block;}
	.list h3, .list h4 {margin:8px 0; color:#000; font-weight:300;}
		.list h3 {font-weight:normal; color:#AAA;}

/* .dashboard .submit-post {display: none}*/

/* Ribbon */
	.corner-ribbon {width: 0;height: 0;position:absolute;z-index:30;border-style: solid;border-width: 50px 50px 0 0;border-color: #555 transparent transparent transparent;}
	.corner-ribbon span {font-size:.7em;display:block;position:relative;color:#fff;margin:-47px 5px 0 4px;line-height: 1.2em}
	.aktif {border-color: rgba(62, 130, 27, 0.83)transparent transparent transparent;}
	.moderasi {border-color:rgba(255, 106, 0, 0.8)  transparent transparent transparent;}
	/*NORMAL */
	.list-normal li {padding:5px 10px;}
		.list-normal li .colfix {padding:0 5px;}
		
	/* PESAN */
	.list li.unread, .list li.unread:hover {border-color:#FC0; background:#FFF; margin-bottom:0px;font-weight:bold; }
	.list li.requestclosed, .list li.requestclosed:hover { background:#eee; color:#aaa!important; margin-bottom:0px;font-weight:normal; }
	.list li.requestclosed a { color:#aaa!important; }
	.list li.requestclosed div:nth-child(7) {color:#000!important;font-weight:bold;}
	.list li.requestclosed .btn {background: #aaa;}
	.header-pesan {margin:20px 0;}
	.list.isipesan li:nth-child(n+2) {max-height:250px; overflow:auto;}
		.list.isipesan li.chatinput {max-height:inherit;}
	.list.isipesan .judul-item {height:auto; overflow:inherit;}
	
	.colfix input[type=text], .colfix input[type=password], .colfix input[type=date], .colfix textarea, .colfix select {width:100%; max-width:100%; max-height:300px}
		.list input[type=text], .list input[type=password], .colfix input[type=date], .list  textarea, .list select {background:#F8F8F8;}
		.colfix select {width:100% !important;}
		.colfix .notif-bar { margin:-5px 0 0; padding:3px 8px 5px;}
			li .notif-bar {line-height:1.1em; font-size:.9em;}

	.formulir li {padding:5px 0;}
		.formulir h3 {margin-bottom:10px;}
		.formulir li .colfix {padding:4px 10px;}
		.formulir li:hover {background:#FFF !important;}
		.formulir li .colfix .colfix {padding-left:0;}

	.spec-input .colfix {padding:0 4px !important;}
		.spec-input input[type=text] {border:1px dashed #DDD;}
		.spec-input input[type=text]:focus {border:1px dashed #AAA;}

	.foto-produk li {width:21.8%; margin: 0 19px 5px 0 !important; height:110px; box-sizing:border-box; display:inline-block; border:0 !important; background:none !important;}
		.foto-produk li:nth-child(4n) {margin-right:0 !important;}
		.foto-produk > div {width:100%; height:195px;}
		.foto-produk .imgbox {width:100%; height:100% !important; background:#FFF; border:1px solid #DDD; border-radius:3px;}
			.foto-produk  .imgbox:hover {box-shadow:0 0 6px rgba(0,0,0,.2); border-color:#CCC;}
			.foto-produk  label {width:100%; height:100%; padding:0px !important;}
			.foto-produk  input[type=file] {display:none;}
			.foto-produk .btn.med-btn {margin:10px 0;}
		
		.formulir li .notif-bar {max-height:0; overflow:hidden; padding:0 8px; border:0;transition:.3s; transition-delay:inherit;}
			.formulir li:hover .notif-bar, .formulir li.errormsg .notif-bar, .formulir li.hasmsg .notif-bar {max-height:100px; padding:3px 8px 5px; border-width:1px; transition-delay:.5s;}
			.formulir li.errormsg .notif-bar {border:1px solid #FDA; background:#FCFFC7; }
			
	.quotation li .deskripsi {max-height:0; overflow:hidden; transition:.3s; border-top:1px solid rgba(0,0,0,0); line-height:1.2em; color:#777; transition-delay:inherit;}
		.quotation li:hover .deskripsi {max-height:203px; border-top:1px solid rgba(0,0,0,.1); padding:3px 0; margin:3px 0 0; transition-delay:.5s;}

.toolbar {margin:10px 0 ; padding:0;}
	.toolbar .wrapper {width:100%; padding:0 20px 0 0;}

.list-wrapper .list-item {width:17.9%; position: relative; height:290px; float:left; margin:0 25px 30px 0; box-sizing:border-box;}
		.list-item:hover {box-shadow: 0 0 0 15px #FFF, 0 0 0 16px rgba(0,0,0,.1), 0 8px 8px 15px rgba(0,0,0,.1); background:#FFF; height:300px; margin-bottom:20px; z-index: 100;}
		.list-item:hover .imgbox {border-color:#FFF;}
	.list-wrapper .list-item:nth-child(5n) {margin-right:0;}
	.list-wrapper .list-box {height:164px;}
	.list-wrapper .imgbox {background:#FFF; border:1px solid #DDD;}
	.list-item h3 {font-size:.9em; margin:10px 0; height:30px; color:#000;}
	.list-item .harga {margin:0 0 15px; font-size:1em;}
	.list-item .seller-info {display:none;}
	.list-item .colfix {padding:5px 0;}
.search-toolbar {position:absolute; top:10px;}
	.search-toolbar .colfix {padding:0;}
	.search-toolbar input[type=submit] {padding:6px 15px 7px; border-radius:0 3px 3px 0;}
.buttons-box {display:none; position: absolute;  bottom: -5px; width:100%; text-align: center;}
	.list-item:hover .buttons-box {display:block;}
	.buttons-box .btn {background:#FFF; padding:0 8px 1px; box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 0 0 2px rgba(0,0,0,.1); font-size:.8em; border-radius:1px; min-width:30px; padding:3px 5px 5px !important}
		.buttons-box .btn:hover {box-shadow:0 0 0 1px rgba(0,0,0,.2), 0 0 0 4px rgba(0,0,0,.1);}

/* PROGRESS INDICATOR */

.progress-indicator { margin: 0;padding: 20px 20px 40px 20px;font-size: 10px;text-transform: uppercase;margin-bottom: 2em;background:#fff;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.progress-indicator > li { clear:none;float:left;border:0;list-style: none;text-align: center;width: 25%;padding: 0;margin: 0;position: relative;text-overflow: ellipsis;color: #bbbbbb;display: block;}
.progress-indicator > li:hover { color: #6e6e6e;}
.progress-indicator > li .stepbubble { border-radius: 1000px;width: 15px;height: 15px;background-color: #bbbbbb;display: block;margin: 0 auto 0.5em auto;border-bottom: 2px solid #888888;}
.progress-indicator > li .stepbubble:before, .progress-indicator > li .stepbubble:after { display: block;position: absolute;top: 6px;width: 100%;height: 2px;content: '';background-color: #bbbbbb;}
.progress-indicator > li .stepbubble:before { left: 0;}
.progress-indicator > li .stepbubble:after { right: 0;}
.progress-indicator > li.completed { color:#FA0;}
.progress-indicator > li.completed .stepbubble { background-color: #FF6C00;color: #FF6C00;border-color: #00478E;}
.progress-indicator > li.completed .stepbubble:before, .progress-indicator > li.completed .stepbubble:after { background-color: #FF6C00;border-color: #00478E;}
.progress-indicator > li a:hover .stepbubble { background-color: #5671d0;color: #5671d0;border-color: #1f306e;}
.progress-indicator > li a:hover .stepbubble:before, .progress-indicator > li a:hover .stepbubble:after { background-color: #5671d0;border-color: #1f306e;}
.progress-indicator > li.danger .stepbubble { background-color: #d3140f;color: #d3140f;border-color: #440605;}
.progress-indicator > li.danger .stepbubble:before, .progress-indicator > li.danger .stepbubble:after { background-color: #d3140f;border-color: #440605;}
.progress-indicator > li.warning .stepbubble { background-color: #edb10a;color: #edb10a;border-color: #5a4304;}
.progress-indicator > li.warning .stepbubble:before, .progress-indicator > li.warning .stepbubble:after { background-color: #edb10a;border-color: #5a4304;}
.progress-indicator > li.info .stepbubble { background-color: #5b32d6;color: #5b32d6;border-color: #25135d;}
.progress-indicator > li.info .stepbubble:before, .progress-indicator > li.info .stepbubble:after { background-color: #5b32d6;border-color: #25135d;}
.progress-indicator.stacked > li { text-indent: -10px;text-align: center;display: block;}
.progress-indicator.stacked > li .stepbubble:before, .progress-indicator.stacked > li .stepbubble:after { left: 50%;margin-left: -1.5px;width:2px;height: 100%;}
.progress-indicator.stacked .stacked-text { position: relative;z-index: 10;top: 0;margin-left: 60% !important;width: 45% !important;display: inline-block;text-align: left;line-height: 1.2em;}
.progress-indicator.stacked > li a { border: none;}
.progress-indicator h4 {display: block;}

.memberpriority, .membersms {margin:20px;}
.memberpriority h5, .membersms h5, .memberpriority ul, .membersms ul {margin-bottom:10px;}
.memberpriority ul h5, .membersms ul h5 {margin-top:10px;margin-bottom:5px;}
.memberpriority li, .membersms li {list-style:circle;margin-left:15px;border:0;}

.bca, .mandiri {margin:20px;text-align:center;}
.bca img, .mandiri img {margin-bottom:10px;}

.infotransfer {margin:20px;}
.infotransfer h5 {background:#ddd;padding:10px;}
.infotransfer li:nth-child(even) {background: #f2f2f2;}

.colfix .formulir {margin:0;}
.colfix fieldset.date select {width:31.3%!important;display:inline-block;}

/* UBAH TEMA */
.switchtemplate .switch {position:relative;top:-80px;margin-bottom:-20px;opacity:0;}
.switchtemplate .colfix:hover .switch {opacity:1;}
.switchtemplate .colfix img {width:100%;}
.switchtemplate .colfix:hover .bgtemp img {opacity:.5;transition: .3s;}
.switchtemplate .colfix .btn {font-size: .9em;padding: 8px 12px 10px;border: 1px solid #DDD;border-radius: 7px;background: #EEE;color: #333;}
.switchtemplate .colfix:hover .btn {font-size: .9em;padding: 8px 12px 10px;border: 1px solid #DDD;border-radius: 7px;background: #EEE;color: #333;}
.switchtemplate .colfix:hover .btn:hover {border: 1px solid #FF6C00;background: #FF6C00!important;color: #FFF!important;}
.switchtemplate .colfix .bgtemp {background: #333}

/* FIXED HEADER */
.fixed-margin .search-container {height:35px; border-bottom:0;}
.fixed-margin .logo {position:absolute; margin-top:30px;z-index: 10;}
.fixed-margin .topnav .colfix.w60 {top:42px;}
/*.fixed-margin .dashboard-title {margin:-6px 0 0 225px; color:rgba(255,255,255,.8); font-weight:100;}*/
.fixed-margin .dashboard-title {margin:-6px 0 0 225px; }
	.fixed-margin .dashboard-title a {color:rgba(255,255,255,.4); display:none;}
.fixed-margin .dashboard-topic {margin-left:0;}
.totop.showme {top:45px}
body.fixed-margin {padding-top:85px;}

.engine-notif {left:15%;}

/* DASHBOARD New Content */

.wbox {width:25%;}
div.boxinfo {font-size: .9em;color: #666;margin-left:0!important;padding:15px;margin-left:5px;margin-right:5px;height:240px;background: #FFF;border-radius: 2px;border: 1px solid #EAEAEA;}
.boxinfo h3 {margin: 8px 0;height:32px;font-size:14px;line-height: 1.2em;font-weight: normal;color: #AAA;}
.boxinfo .colfix.w100 div {height:48px;}
.boxinfo span {position: relative;bottom:0;}
.boxinfo .btn {border:0;box-shadow:none;padding:6px 15px 7px;background: #FC6000;color: #FFF;text-transform: capitalize;display: inline-block;border-radius: 3px;font-size: 1.1em;font-weight: 300;min-width: 45px;text-align: center;}

.product-info h3 {
	overflow:hidden;
}

/*new*/
.listpenawaran li{font-size: .8em;}
.dashboard-detail li p{height:32px;overflow: hidden;margin:0;}
.btn-prmntan{text-align: center;}
.btn-prmntan a{float:none;display: block;margin-bottom: 5px;}
.btn-prmntan a:nth-child(3){margin-bottom: 0;}
.btn-prmntan span{width: 50%;}
.mdl-prmnt .modal-body{padding:15px;padding-top: 0;max-height: 445px;overflow-x: hidden;overflow-y: auto;}
.pop-box .out-imgbox{float: left;}
.pop-box .imgbox{width: 200px;height: 200px;background: #fff;border:1px solid #ddd;}
.pop-box .imgbox img{max-width: 200px;max-height: 200px;vertical-align: middle;}
.pop-box dt{float: left;width: 18%;}
.pop-box dd{padding:0 0 10px 135px;line-height: 20px;}

.detailq-penawaran div{background: #fff;padding:15px;border:1px solid #EAEAEA;margin-bottom: 15px;color: #666;}
.detailq-penawaran dt{float: left;}
.detailq-penawaran dd{padding:0 0 10px 145px;}
.detailq-penawaran p{line-height: 20px;}
.detailq-penawaran .btn{border:none;padding: 2px 14px;font-size: 13px;border-radius: 0;margin-left: 10px;}
.closed-quotation h3{color:#333;}

.low-prc {position: relative;width: 0px;height: 0px;margin-top:-4px!important;border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #2266cc;display: inline-block;margin-left: 5px;}
.eq-prc{position: relative;width: 10px;height: 4px;margin-top:-4px;background:#fc0;display: inline-block;vertical-align: middle;margin-left:5px;}
.exp-prc {position: relative;width: 0px;height: 0px;margin-top:-4px;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #980000;display: inline-block;margin-left: 5px;}
.list-req-cat{font-size: 11px;margin-top: 10px;white-space: nowrap;text-overflow: ellipsis;
width:100%;display: inline-block;overflow: hidden;}

.chgprcwrp textarea{border-bottom:0;}
.chgprcwrp label{margin:10px 0 !important;min-width:0% !important;padding-right:0 !important;}
.chgprcwrp dt{float: left;}
.chgprcwrp dd{padding-left:252px;}
.chgprcwrp dd .harga{margin-right:5px;font-size:18px;width:50%;}
.chgprcwrp label{vertical-align: middle;display:inline-block;}
.chgprc{padding:10px;background:#E8E8E8;margin-top:-6px;border:1px solid #c6c6c6;border-top:0;}

.low-prc:hover:after,.eq-prc:hover:after,.exp-prc:hover:after{font-size: 12px;font-weight: normal;background: #333;background: rgba(0,0,0,.8);border-radius: 5px;bottom: -35px;color: #fff;content: attr(title);left: 0;padding: 5px 15px;position: absolute;z-index: 98;width: 220px;}
.eq-prc:hover:after{bottom: -50px;}

/*Fiture Indonetwork-Point Fiture*/
.total-point {padding-bottom:5px;/*border-bottom:1px solid #e0e0e0;*/margin-bottom:20px;}
.total-point p{font-size:18px;margin-bottom:0;}
.total-point .btn{font-size: 14px;padding: 5px;border: 0;border-radius: 0;margin-left: 15px;box-shadow:none;}
.total-point .nop, .nop-prc{color:#FF6C00;}
.list-pointfiture{padding:15px;background:#FFF;border:1px solid #eaeaea;padding-top:10px;}
.list-pointfiture li{border-bottom:1px solid #eaeaea;}
.list-pointfiture li:nth-last-child(1){border-bottom:0;}
.list-pointfiture li .colfix {padding:10px 0;}
.list-pointfiture li:nth-first-child {padding-top:0;}
.list-pointfiture li p {height:auto;}
.list-pointfiture h4{color:#333;margin:0;margin-bottom:10px;}
.list-pointfiture .btn{border:none;padding:10px 25px;border-radius:0;}
.voucher-topup{margin:0 auto;}
.voucher-topup li {font-size:22px;color:#323232;padding:35px 40px;border:1px solid #B7B7B7;border-bottom:1px solid #B7B7B7 !important;width:165px;line-height:30px;float:left;margin:0 30px 30px 0;}

.voucher-topup li:nth-child(3n) {margin-right:0;}
.voucher-topup li:nth-child(4),.voucher-topup li:nth-child(5),.voucher-topup li:nth-child(6) {margin-bottom:0;}
.voucher-topup li:hover{color:#FFF;border-color:#2265cd;background:#2265cd;}
.voucher-topup li p{height:auto;margin-bottom:20px;overflow:inherit;}
.voucher-topup li .btn{padding:5px 25px;font-size:14px;}
.fitur-owned{margin-top:25px;}
.search-toolbar2{top:63px;}
.hl-select{margin-bottom:5px;}

/*Fiture Indonetwork-Transaksi Saya*/
.tabdetail .tabdetail .tabs {float: left;width: 100%;position:relative;z-index:10;}

.tabdetail .tabs li {float: left;display: block;width: 20%;border-bottom: 1px solid #ddd;margin-bottom: -2px;cursor: pointer;text-transform: uppercase;font-size: 11px;margin-right: 2px;border-radius: 5px 5px 0 0;border-bottom: 1px solid #FFF;z-index: 2;position: relative;}
.tabdetail .tabs li{background: #f1f1f1;}
.tabdetail .tabs .current{background:#FFF;border-bottom:#FFF;}
.tabdetail .tabs li div {text-align: center;padding: 10px 5px 10px 5px;border-left: 1px solid #ddd;border-right: 1px solid #ddd;border-top: 1px solid #ddd;margin: 0 auto;border-radius:5px 5px 0 0;}
.tabdetail .tab-content {float: left;display: none;width: 100%;border: 1px solid #ddd;}
.tabdetail .tab-content.current {display: inherit;background:#FFF;}
.tabdetail .list{margin-top:20px;}


/*Static Css*/
	.print-instruksi .lgoidn-pi {display:none;}
	.print-instruksi .lgoidn-pi img{float:left;vertical-align:middle;}
	.print-instruksi .lgoidn-pi span{text-align:right;font-size:13px;float:right;color:#ababab;display:inline-block;vertical-align:middle;}
	.static-box {min-height:250px; padding:50px 20px; margin:0; margin:0 0 -65px; background-position:center; background-size:cover;}
	.static-box .form-box {margin:0 auto; float:inherit; padding:30px 50px; background:#FFF; border-radius:3px; box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 8px rgba(0,0,0,.2);}
	.form-box .selectakun label {display:block;width:30%;float:left;height:25px;}
	.form-box input[type=radio], .form-box input[type=checkbox] {margin: -2px 10px 0 0;}
	.form-box .judul-landing2{margin-top:15px;}
	.form-box h3{margin-bottom:0;}
	.static-box hr {margin: 15px 0;}
	.static-content form input, form select {margin-bottom:15px;}
	.static-content form .notif-bar {margin-top:-5px;}
	.deskripsi-landing dt{float:left;}
	.deskripsi-landing dd{padding-left:150px;padding-bottom:10px;}
	.warn-blue{padding:30px 0;color:#FFF;background:#2266cc;margin:30px 0 20px;}
	.btn-ibf {text-align: center;}
	.btn-ibf input {margin: 10px 5px;width:48%;}
	.btn-ibf .btn-no {background: #ababab;}
	.mtd-pymnt {margin-bottom:15px;border-bottom:1px solid #DDD;padding:15px 0;}
	.mtd-pymnt li p{font-size:14px;font-weight:600;}
	.mtd-pymnt li .mtd-pymnt-btn{width:180px;height:76px;display:inline-block;margin:0;box-shadow:1px 3px 10px 0px #888;}
	.mtd-pymnt label{display:block;margin-top:10px;}
	.form-box .btn{border:none;box-shadow:none;margin-right:10px;}

.listpenawaran .btn{width: 77%;}
.list .grey-btn-poin{background-color: #aaa;color: #fff;}
@media screen and (min-width: 1371px)	{
	.list-wrapper .list-item {width:18.1%; height:340px;}
		.list-item:hover {height:350px;}
	.list-wrapper .list-box {height:204px;}
}

