@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */

.breadcrump {}
	.breadcrump > div > ul > li:after {content:''; position:absolute; right:20px; height:30px; margin-top:-20px; width:310px; background:#F8F8F8; z-index:0; opacity:0; transition:.5s; visibility:hiddn;}
	.breadcrump > div > ul > li:hover:after {opacity:1; visibility:visible; z-index:10; transition-delay:.5s; }
	.breadcrump > div > ul {border-bottom:0;}
.subkategori {display:none;}

.detail-product {display: block;}
	.detail-toolbar {height: 40px;width: 100%;float: left;font-size: .9em;}
		.detail-toolbar a {display:inline-block; padding:5px 8px; color:#666;}
		.detail-toolbar ico {margin-right:5px; opacity:.2; }
		.detail-toolbar ico.nav-right {margin-left:5px; margin-right:0;}
		.detail-toolbar .nav-page {margin:-15px 0 0 0; float: right; width:25%;}
			.detail-toolbar .nav-page a {border-radius:3px; border:1px solid #DDD; background:#FAFAFA; padding:7px 5px 0; height:22px; width:44%; text-align: center;}
			.detail-toolbar .nav-page a:hover {background:#FFF; border-color:#BBB;}
			.detail-toolbar .nav-page a ico {float:left;}
			.detail-toolbar .nav-page a:last-child ico {float:right;}

		.tabelform .bookmark-ads {margin-top:5px;}
		.tabelform .bookmark-ads a { padding:5px 0; color:#666;}
		.tabelform ico {margin-right:5px; opacity:.5;padding:5px;border:1px solid #BBB;border-radius: 3px}
		ico.cart-add {background-position: -175px 0;height: 15px;}
		.tabelform ico.nav-right {margin-left:5px; margin-right:0;}
		.tabelform .bookmark-ads {margin-top: 10px;}
			.tabelform .bookmark-ads a:last-child {text-align:right;}
		.tabelform div a:hover ico, .tabelform a.selected ico {opacity:.2;}

		
	.detail-product .productimg {display:block;float:left;height:310px; background:#FFF; border:1px solid #DDD;}
	.detail-product .productdata {display:block;float:left;width:60%;}
		.detail-product .productdata > div {margin-left:20px;}
		.detail-product .productdata > div > .colfix {height:50px;}
		.detail-product .productdata h1 {font-size: 22px;line-height: 1.2em;color:#333;height: 52px;overflow: hidden; margin: 0 12px 12px 0;}
	.detail-product .producttitle {margin-bottom: 20px;}
	.detail-product .membership {float:left;margin-right:5px;}
	.detail-product > .w75 > div {position: relative;margin-right:10px;}
		.detail-product > .colfix.w75:nth-child(n+2), .detail-product > .colfix.w25:nth-child(n+4) {margin-top:20px;} 
	.detail-product .listdetail {font-size:12px;line-height: 1.2em}
		.detail-product .listdetail dl {width:100%;overflow: hidden;} 
		.detail-product .listdetail dt {font-weight:300;color:#888;float:left;width:45%;}
		.detail-product .listdetail dd {margin-bottom:4px;float:left;text-indent:15px;width:55%;color:inherit;}	
		.detail-product hr {height:20px;background:transparent;border-bottom: 0;box-shadow: none; }
		.detail-product .thumbnails {width:100%;display:block;text-align:center;margin:10px auto;}
		.detail-product .thumbnails li {display: inline-block;font-size: 10px;float: none;width: 25px;height: 25px;margin: 0 0 2px 0;padding: 0;border-radius: 3px;overflow: hidden;border: 1px solid #ccc;cursor: pointer;opacity: .4; transition: color .2s, background .2s;position: relative;}
		.detail-product .thumbnails li:hover {opacity:1;}
		.detail-product .thumbnails li img {position: absolute;max-width: 100%;max-height: 100%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
		.detail-product .thumbnails li.active {cursor: default;opacity: 1;}
		.detail-product .thumbnails li:last-child {margin-right:0;}
		.detail-product .preloader{text-align:center; display:none;}
		.detail-product .imgbox.loading .preloader{display:block;} .detail-product .imgbox.loading .img{opacity:.5;}
		.detail-product .thumbnail-lists {margin:0 auto;width:300px;height:30px;overflow:hidden;}
		.detail-product .product {display: block;float:left;width: 100%;min-height:350px;height:auto;}

/* VENDOR DETAIL */
	.detail-product > .w25 > div {position: relative;margin-left:10px;}
	.otherproduct {margin-top:0;float:left;border:1px solid #eee;}
		.detail-product .vendortitle {display:block;margin-bottom:4px;background:#fff;min-height:45px;padding:15px;border:1px solid #eee;}
		.detail-product .vendortitle .logo {display:block;width:55px;float:left;margin-right: 10px;}
		.detail-product .vendortitle small {float: right;position: relative;top: 4px;}
		.detail-product .vendortitle .producttitle {margin-bottom:5px;}
	.detail-product .vendorbody {display:block;background:#fff;min-height:180px;padding:20px 20px 30px 20px;float:left;font-size:12px;line-height: 1.3em;border:1px solid #eee;}
		.detail-product .vendorbody .iconterverifikasi {margin-bottom:10px;min-height:20px;}
		.detail-product .vendorbody .listdetail dl {float:left;width:100%;overflow: hidden;}
		.detail-product .vendorbody .listdetail dt {font-weight:300;color:#888;float:left;max-width:35%;height:13px;text-align: left}
		.detail-product .vendorbody .listdetail dd {margin-bottom:2px;float:left;max-width:65%;min-height:13px;text-indent:0;color:inherit;}
		.detail-product .linkvendordetail {margin-top:25px;}
		.detail-product .vendorbody .link {display:block;font-size:12px;line-height:1.1em;}
		.detail-product .vendorbody ico {float:left;}

/* OTHER PRODUCT DETAIL */
		.detail-product .otherproducttitle {display:block;float:left;width:100%;background:#fff;text-align:center;padding:17px 0;border-bottom:1px solid #efefef;}
		.detail-product .otherproducttitle .producttitle {margin-bottom:0;text-transform: uppercase;font-size:10px; font-weight:normal;}
		.detail-product .otherproductbody {display:block;float:left;background:#fff;padding:15px;font-size:12px;line-height: 1.3em;border-bottom:1px solid #efefef;}
		.otherproductbody img {width:90%;}
		.otherproductbody h4 {font-size:14px;font-weight:normal;margin:0 0 15px 0;color:#444;}
		.otherproduct .price {margin-bottom:30px;}
		.otherproductbody .price span {font-size:12px;font-weight:normal; color:#666;}
		.minorder:before, .stok:before {font-size: 10px;color:#888;position: absolute;margin-top: -14px;font-weight: normal;}
		.stok:before {content: 'tersedia';}
		.minorder:after, .stok:after {content:'buah';font-size:10px;margin-left:3px;font-weight: normal;}
		.detail-product .otherproducttitle a {display:block;float:left;width:100%;background:#fff;text-align:center;text-transform: uppercase;font-size:10px; line-height: 1.2em;color:#444;}
		.detail-product .otherproducttitle a:after {content:"• • •";display:block;text-align:center;}


/* TABEL DETAIL */		
	.detail-product .tabelform {float:left;font-size:12px;width:100%;color:#888;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
	.tabelform .form ul {padding:16px 10px 15px; width:96%; display: block;float:left;background-color: #FFF; border:1px solid #e6e6e6; border-radius:3px;}
	.tabelform .form ul:last-child {padding:4% 0 0; background:none; border:0; width: 100%; }
		.tabelform .form ul li {display:table;float:left;} .tabelform .form ul li:last-child {text-align: right;}
		.tabelform .form li .data span {font-weight:bold;font-size:16px;margin-top:8px; display:inline-block; }
		.tabelform .form li .data {float:left;width:40%;text-align:left;margin-top:-5px;font-size:12px;}
		.tabelform .form li h5 {float:left;width:20%;margin-top:11px;font-weight:normal;}
		.tabelform .form label {color:#333;width:100%;text-transform: uppercase;font-size:10px; float:left;margin:12px 0 5px 0; cursor:pointer;}
		.tabelform .form textarea {float:left;font-size:12px;resize: none;padding:8px;border:1px solid #d9d9d9;background-color: #FFFFFF; width: 100%; height: 135px; min-height: 80px} 
			.tabelform .form li textarea:focus {min-height:130px;}
		.tabelform .form ul:last-child li input.btn {width:100%;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border:4px solid #fff;font-size:13px;letter-spacing:.8px;position:relative;margin-top:13%;}
		.tabelform .form input[type=text] {padding:5px 20px 6px 20px;margin-top:3px;height: 25px;width:100%;float:left;font-size:14px; text-align:left; font-weight:500; background:#F8F8F8; border:1px solid #DDD; margin-bottom:0; box-sizing:border-box;}
		.tabelform .form .button-add-on {margin: 0; height:30px; position:relative;}
		.tabelform .form .qtywrap {position:absolute;margin-right: 1px; top: 0; right:0;margin-bottom: -40px;}
		.tabelform .form .qtywrap input:first-child {margin-right:-1px; -webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;} .tabelform .form .qtywrap input:last-child {margin-right:-1px;-webkit-border-top-left-radius: 0;-webkit-border-bottom-left-radius: 0;-moz-border-radius-topleft: 0;-moz-border-radius-bottomleft: 0;border-top-left-radius: 0;border-bottom-left-radius: 0;}
		.tabelform .form .qtywrap input[type=button] { background:#fff;color:#333; min-width: 20px!important;width:30px;height:30px;border:1px solid #CCC;font-size: 2em;line-height: 0em; padding: 0; text-align: center;}
			.tabelform .form .qtywrap input[type=button]:hover {background:#F8F8F8; color:#000;}
		.tabelform .form .btn-submit {padding:8px 10px 9px;}
		.tabelform .form textarea:focus {box-shadow:none; border-color:#AAA}
		.tabelform .form textarea {background:#FFF; height:135px; border-color:#e3e3e3;border-right: 1px solid #e6e6e6;border-top-right-radius: 0;border-bottom-right-radius: 0;}
		.tabelform .form .kirimpesan { margin: 16px 0 0 0;}
		.tabelform .form .kirimpesan .w25 { height:135px; background:#FBFBFB; border:1px solid #e9e9e9; border-left:0; padding-top:40px;}
		.tabelform .notel { display: block;float: left;background-color: #FFF;border: 1px solid #e6e6e6;border-radius: 2px;}
		.notel input {margin-bottom:0;}
		.tabelform .form .notel .nomor {padding:7px;text-align:center;margin-top:10px;font-size:15px;border-right:1px solid #ddd;}
		.tabelform .form .notel .w20 {margin-top:18px;color:#bbb;text-align: right;font-size:.9em;}
		.tabelform .form .notel .w25 {height:auto;background:transparent; border:0;padding:0;padding:7px;}
		.tabelform .form .notel .w25 input {font-size:.9em; padding: 10px 23px 12px;}

		.vendorbody .notel { display: block;margin-top:10px;}
		.vendorbody .notel .nomor {margin-top:2px;font-size:15px;}
		.vendorbody .notel .w20 {margin-top:3px;color:#888;width:35%;}
		.vendorbody .notel .w25 {height:auto;background:transparent; border:0;padding:0;}
		.vendorbody .notel .w25 input { float: left;font-size: .9em;margin-top: 3px;padding:7px 23px 8px;}

/* DETAIL PERMINTAAN */	
.detail-permintaan .productdata {width:100%;}
.detail-permintaan .productdata .tabeldata {padding: 16px 10px 15px;width: 96%;display: block;float: left;background-color: #FFF;border: 1px solid #e6e6e6;margin-bottom:-1px;border-radius-top-left: 3px;border-radius-top-right: 3px;}
.detail-permintaan .otherproductbody {width: 100%;padding:0;}
.detail-permintaan .otherproductbody .info {padding:20px 20px 30px 20px;}

.kategorithumb input[type=checkbox] {display: none;}
.kategorithumb input[type=checkbox]:checked ~ div {background: #FF6C00;color:#fff;padding:30px 10px 10px 10px;}
.kategorithumb input[type=checkbox]:checked ~ div ico {background-color: #fff;border:8px solid #fff;border-radius:50%;}
.detail-permintaan .formulir .kategorithumb {width:100%;}
.detail-permintaan .formulir .kategorithumb div {text-align:center;font-size:15px;height:100px;line-height:18px;padding:40px 5px 0 5px;background:#eee;border-radius: 3px}
.detail-permintaan .formulir .kategorithumb div ico {display: block; margin: 0 auto 10px auto;}

.detail-permintaan .colfix .formulir {margin: 0 20px 20px 0;}
.detail-permintaan .tabelform .form li .data {margin-top:0;}
.detail-permintaan .formulir li {padding: 5px 0;}
/*.detail-permintaan .list li {float:left;width:100%;clear: both;font-size: .9em;margin-bottom: -1px;color: #666;background: #FFF;border-radius: 2px;border: 1px solid #EAEAEA;}*/
.detail-permintaan .formulir li .colfix {padding: 4px 10px;display: inline-block;vertical-align: middle;margin-right: -4px;float: inherit;}
.detail-permintaan .formulir li .notif-bar {max-height: 0;overflow: hidden;padding: 0 8px;border: 0;transition: .3s;transition-delay: inherit;}
.detail-permintaan .colfix .notif-bar {margin: -5px 0 0;padding: 3px 8px 5px;}
.detail-permintaan .notif-bar.oke {background: #E9F7D3;border-color: #D1E0B7;}
.detail-permintaan li .notif-bar {line-height: 1.1em;font-size: .9em;}
.detail-permintaan .formulir li:hover .notif-bar, .detail-permintaan .formulir li.errormsg .notif-bar, .detail-permintaan .formulir li.hasmsg .notif-bar {max-height: 100px;padding: 3px 8px 5px;border-width: 1px;transition-delay: .5s;}
.detail-permintaan .formulir h2 {color:#222;padding: 6px 10px;margin-bottom:0;}

.detail-permintaan .thumbnails-detail-permintaan .imgbox {
    height: 170px;
    width: calc(100% - 20px);
    background: #FFF;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
}

.detail-product .formrequest {width:100%;display:block;background:#fff;min-height:120px;margin:0!important;height:auto;float:left;font-size:12px;line-height: 1.3em;border:1px solid #eee;}
.formrequest .form {float:left;width:100%;margin:20px;}
.formrequest .cat_selection {margin-right:-1px;}
.formrequest .cat_display {border:1px solid #ddd;padding: 10px 20px 10px 10px;font-size:14px;height: 37px;}
.formrequest .search-input {float:left;width: 85%;}
.formrequest .search-suggestion-box {top:37px;}

/* FORM KIRIM PENAWARAN */
.detail-permintaan .colfix .colfix h3 {margin: 0 0 5px 0;font-size:15px;}
.detail-permintaan .colfix .colfix .btn {float:left;margin-right:10px;border:0;box-shadow: none;border-radius: 3px;padding:4px 6px;}

/* TABBING */
.detail-product .tabdetail .tabs {float:left;width:100%;position: relative;}
	.detail-product .tabs li {float:left;display: block;width:25%;border-bottom:1px solid #ddd;margin-bottom: -3px;cursor: pointer;background:#f1f1f1;text-transform: uppercase;font-size:11px;}
	.detail-product .tabs li div {text-align: center;padding:15px 5px 12px 5px;border-left:1px solid #ddd;margin:0 auto;}
	.detail-product .tabs li:first-child div {border-left:0;}
	.tabdetail .tabs .tab-link.current {background:#F8F8F8;border-bottom:1px solid #F8F8F8;border-top: 1px solid #DDD;}
	.tabdetail .tabs .tab-link.current:first-child div {border-left:1px solid #DDD;}
	.tabdetail .tabs .tab-link.current:last-child div {border-right:1px solid #DDD;}
	.tabdetail .tab-content {float:left;display: none;width:100%;border-top:1px solid #ddd;}
	.tabdetail .tab-content > div {padding:30px 20px;}
	.tabdetail .tab-content.current {display: inherit;}
	.tabdetail .tab-content {line-height: 1.2em}
	.tab-content .listdetail dt {text-align: left}
	.tab-content .iconterverifikasi {margin-bottom:10px;}
	.thumbnails img.w100 {float:left;margin-top:10px;width: calc(100% - 20px);padding:5px;border:1px solid #ddd;}
	.tabdetail ol{list-style:decimal;padding-left:15px}
	.tabdetail ul{list-style:initial;padding-left:15px}
	.tabdetail .tabs h2 {font-size: 18px;}
	
.tabdetail table {width:100%}
	.tabdetail td {padding:2px 0 4px;border-bottom:1px dashed #DDD;}
	.tabdetail td.ttl {color:#888; width:25%; font-size:.8em;}
	.tabdetail td.nfo {color:#333; font-size:.9em; }
	
.tabdetail ul.list li {padding:3px 5px 4px; clear:both; font-size:.9em; border-bottom:1px dashed #DDD}
	.tabdetail ul.list li:nth-child(even) {}
	.tabdetail ul.list li:first-child {background:#FFF; border:1px solid #EEE; border-width:1px 0; padding:8px 5px 6px;}
	.tabdetail ul.list li .colfix {display:inline-block; margin-right:-4px; float:none;}
	.tabdetail ul.list li .colfix ico.rate {margin-right:0;}

.tabdetail .list.isipesan li:nth-child(n+2) {max-height: 250px;overflow: auto;}
.tabdetail .list li {clear: both;font-size: .9em;margin-bottom: -1px;color: #666;background: #FFF;border-radius: 2px;border: 1px solid #EAEAEA;}
.tabdetail .list li .colfix {padding: 10px 10px 11px;display: inline-block;vertical-align: middle;margin-right: -4px;float: inherit;}

/* QUICKVIEW ONLY */
.quickviewonly {display:none;text-align: center;margin:5px 0 10px 0;}
.quickviewonly .btn {border:0;border-radius:3px;}

/*new permintaan*/
.prc-permintaan,.budget-detail{font-size: 20px;}
.detail-permintaan .mid-btn{font-size: 14px;width: 180px;margin-right: 10px;}
.detail-product .thumbnails-detail-permintaan{width:85%;}
.detail-permintaan .productdata .tabeldata{margin-bottom: 10px;}
.otherrequest .info h4{margin:0;}
.otherrequest .info .price{margin:10 0;}
.otherrequest .info p{color: #333;line-height: 18px;}
.otherrequest .info .seller-info{padding:0;height: auto;border:none;color: #333;}
.otherrequest .info .seller-name{max-height: 32px;word-break: break-all;overflow: hidden;line-height: 15px;}
.otherrequest .info .lokasi {margin-top: 0;color: #666;}
.otherrequest .info .membership {float: left;position: relative;margin-right: 5px;top: -1px;min-height: 50px;}
.otherrequest .info .wrp-vndr-dat{margin: 25px 0 0;text-align: right;}
.mrg-btn{margin-bottom: 10px;}
.detail-permintaan .notif-bar{margin:10px 0 0!important;padding: 10px!important;text-align: center;}


.alertmessage{color:#ea3527;}

/*notif-tipsdantrik*/
.notif-tipsdantrik{border:1px solid #FAB967;background:#F8F4AC;padding:15px;color:#363636;margin-top:25px;line-height:18px;}
.notif-tipsdantrik h4{margin-top:0px;color:#FC6000;}
.notif-tipsdantrik ul{list-style:inherit;margin-left:15px;color:#5A5A5A;}
.notif-tipsdantrik a{text-align: right;margin-top:15px;display:inline-block;float:right;}