/*FONT DEFINING*/
@font-face { font-family: 'Roboto'; font-style: normal; font-weight:100; src: url('../fonts/RobotoThin.eot'); src: local('Roboto Thin'),  local('Roboto-Thin'),  url('../fonts/RobotoThin.eot') format('embedded-opentype'), url('../fonts/RobotoThin.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight:300; src: url('../fonts/RobotoLight.eot'); src: local('Roboto Light'),  local('Roboto-Light'),  url('../fonts/RobotoLight.eot') format('embedded-opentype'), url('../fonts/RobotoLight.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url('../fonts/RobotoNormal.eot'); src: local('Roboto Regular'),  local('Roboto-Regular'),  url('../fonts/RobotoNormal.eot') format('embedded-opentype'), url('../fonts/RobotoNormal.woff') format('woff'); }
@font-face { font-family: 'Roboto'; font-style: normal; font-weight: 700; src: url('../fonts/RobotoBold.eot'); src: local('Roboto Bold'),  local('Roboto-Bold'),  url('../fonts/RobotoBold.eot') format('embedded-opentype'), url('../fonts/RobotoBold.woff') format('woff'); }
