@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */


/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,input,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline}:focus{outline:0}input,img{vertical-align:middle}body{line-height:1;color:black;background:white}ol,ul{list-style:none}table{border-collapse:separate;border-spacing:0}caption,th,td{text-align:left;font-weight:normal}blockquote:before,blockquote:after,q:before,q:after{content:""}blockquote,q{quotes:"" ""}i{font-style:normal}a{text-decoration:none;color:#1c60a7;outline:0}a:hover{color:#517edf}sup{font-size:.7em;margin-top:-19px;vertical-align:top}em{font-style:italic}input[type=radio]{margin-right:10px}h3{font-size:18px;line-height:27px}small{font-size:11px}.nomargin{margin:0 !important}p{margin:0 0 15px}

/*global*/
.left {float:left;}	.right {float:right; right:0;}
.clear, hr, .breakline {clear:both;}
hr, .breakline, .hr1 {height:0px; background:rgba(0,0,0,.1); border:0; border-bottom:1px solid rgba(255,255,255,1); box-shadow:0 -1px 0 rgba(0,0,0,.1); margin:5px 0; }
a, h1, h2, h3, h4, .judul {color:#4b669c;}
	h1, h2, h3, h4 {font-weight: normal}
a { outline:0; }
h1,h2,h3,h4 {font-size:26px; margin-bottom:20px; line-height:1.2em;}
h2 {font-size:22px; } h3{font-size:18px;} h4{font-size:16px; margin:20px 0 10px; font-weight:bold; }

/* COLFIX WIDTH & HEIGHT */
.colfix {float:left; box-sizing:border-box; min-height:20px;}
	.w00 {width:0; padding:0 !important;} .w05 {width:5%} .w06{width:6%} .w10 {width:10%;} .w15{width:15%}  .w20 {width:20%} .w25 {width:25%;} .w30{width:30%} .w33 {width:33.33%} .w35{width:35%}.w40 {width:40%} .w50 {width:50%;} .w55 {width:55%;} .w60 {width:60%} .w66 {width:66.66%} .w70{width:70%}.w75 {width:75%} .w80 {width:80%} .w85{width:85%}  .w90{width:90%;} .w100{width:100%;}
	.h50 {height:50%;} .h25 {height:25%;} .h75 {height:75%} .h33 {height:33.33%} .h20 {height:20%} .h40 {height:40%} .h60 {height:60%} .h80 {height:80%} .h66 {height:66.66%} .h100{height:100%;}
	span.colfix {float:none; display:inline-block; }

.colfix-box, .content-box {background:#FFF; border:1px solid rgba(0,0,0,.1); border-radius:3px; box-sizing:border-box; padding:10px; margin-bottom:10px;}
	.colfix-box .colfix, .content-box .colfix {padding:5px;}
	.split-2 > .colfix:first-child > *:nth-child(1) {margin-right:10px;}
	.split-2 > .colfix:last-child > *:nth-child(1) {margin-left:10px;}

.fleft {float:left} .fright {float:right}
.line13 {line-height:1.3em; margin-bottom: 10px;}
.txtright {text-align:right !important;} .txtleft {text-align:left !important;} .txtcenter {text-align:center !important;} .txttop {vertical-align:top !important;} .txtbottom {vertical-align:bottom !important;} .txtmid {vertical-align:middle !important;}
.mcenter {margin:0 auto;} .mb10 {margin-bottom:10px} .mb20 {margin-bottom:20px} .mt5{margin-top:5px;}.mt10 {margin-top:10px} .mt20 {margin-top:20px} .mt15{margin-top:15px;} .mg0 {margin:0 !important;}
.padtop10 {padding:10px 0 !important;}  .padleft10 {padding:0 10px !important;} .padtop20 {padding:20px 0 !important;}  .padleft20 {padding:0 20px !important;} .pad1010 {padding:10px !important} .pad2020 {padding:20px !important}
.border-def {border:1px solid #EEE;}


.small {font-size:.8em;} .smaller {font-size:.9em !important;} .bigger {font-size:1.2em !important;} .big{font-size:1.5em !important;} .biggest {font-size:1.8em !important;}
.absolute {position: absolute;}
.hidden {display:none !important;} .showme {display:inherit !important;}
.anchor {position:absolute; margin-top:-80px;}
.bold, .strong {font-weight:bold;}

.judul, .deskripsi, .komentar, .static-page {line-height:1.4em;}
smallcaps, .smallcaps {font-size:.8em; text-transform:uppercase; }

/* COLOR */.orange {color:#FF6C00 !important;} .grey {color:#AAA !important;} .darkgrey {color:#666 !important;} .black {color:#000 !important;}

/* BACKGROUND COLOR */ .bgwhite {background-color:#fff !important;} .bggrey {background-color:#FAFAFA !important;} .bgdark {background-color:#AAA; color:#FFF !important;}

body, textarea, option, select {font-family:'Roboto','Open Sans', Arial, Helvetica, Verdana; }
body {margin:0; padding:0; font-weight:normal; font-size:14px; color:#222; background:#F8F8F8; height:100%;}
.wrapper {padding:0 20px; width:1300px; margin:0 auto; position: relative;}

/* BUTTONS */
.btn, a.btn, .btn-submit, input[type=button], input[type=submit], input[type=reset], input[type=cancel] {background:#FC6000; color:#FFF; padding:10px 10px 12px; text-transform: capitalize; display: inline-block; border-radius:3px; font-size:1.1em; font-weight:300; min-width: 45px;    text-align: center;}
	.btn, a.btn {border:3px solid #FFF; box-shadow: 0 0 0 1px rgba(0,0,0,.1); border-radius:5px;}
.btn:hover, a.btn:hover, input[type=submit]:hover, .add-product:hover, .add-quotation:hover {box-shadow:0 0 0 1px rgba(0,0,0,.2), inset 0 0 0 50px rgba(0,0,0,0); transition:.3s;}
.btn:active, a.btn:active, input[type=submit]:active, .add-product:active, .add-quotation:active {box-shadow:inset 0 2px 5px rgba(0,0,0,.2), inset 0 0 0 50px rgba(0,0,0,.1); transition:.3s;}
.btn.med-btn {padding:5px 7px; background:#F8F8F8; font-size:.9em; border-width:1px; color:#000; border-radius:3px; font-weight:normal;}
	.btn.med-btn:hover {background:#FFF;}
	.med-btn {padding: 3px 10px 5px !important;}
	.btn-grey {background:#999 !important; border:1px solid #888 !important; font-weight:normal !important; font-size:1em !important;}

/* INPUT FORMS */
label {cursor:pointer;}
input, textarea, select {vertical-align:middle; margin:0 5px 5px 0;padding:5px 10px;}
input[type=text], input[type=email], input[type=password], input[type=date],  select {vertical-align:top;}
input[type=text], input[type=email], input[type=password], input[type=date], textarea, select {padding:6px 10px 7px; border-radius:2px; border:1px solid rgba(0,0,0,.2); }
	input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=date]:focus,  textarea:focus, select:focus {border-color:#999; box-shadow:0 0 0 2px rgba(0,0,0,.1)}
	input[type=text]:disabled, input[type=email]:disabled, input[type=password]:disabled, input[type=date]:disabled, textarea:disabled, select:disabled {background:#F8F8F8; border-color:#E6E6E6;}
	input[type=radio], input[type=checkbox] {margin:-2px 10px 0 0;}
	input[type=button], input[type=submit] {margin-right:0;}

	textarea {min-height:80px; transition:.3s;}
	textarea:focus {min-height:150px}
	select {padding:4px 10px 5px; height: 30px; box-sizing:border-box;}
.colfix input[type=text], .colfix input[type=email], .colfix input[type=password], .colfix input[type=date],.colfix select, .colfix textarea {width:100%;}
option {background:#FFF; font-size: .9em;}
input[type=submit], input[type=button], input[type=cancel] {cursor:pointer; }
.preinput {vertical-align:middle !important; margin-top:8px !important;text-transform: capitalize!important;}

.header {transition:.3s; -moz-transition:.3s; -webkit-transition:.3s; }

/*foto data perusahaan*/
.foto-dataComp {width:100%;padding:0;margin:0;}
.foto-dataComp li {width:20%;padding:5px 0; margin: 0 0 5px 0 !important; height:110px; box-sizing:border-box; float: left; clear: none !important; border:0 !important; background:none !important;}
.foto-dataComp li label {float:left;width:94%;margin-left:3%;margin-right:3%;}
	.foto-dataComp li:nth-child(4n) {margin-right:0 !important;}
	.foto-dataComp .imgbox {width:100%; height:100% !important; background:#FFF; border:1px solid #DDD; border-radius:3px;}
		.foto-dataComp  .imgbox:hover {box-shadow:0 0 6px rgba(0,0,0,.2); border-color:#CCC;}
		.foto-dataComp  label {width:100%; height:100%; padding:0px !important;}
		.foto-dataComp  input[type=file] {display:none;}
		.foto-dataComp .btn.med-btn {margin:10px 0;}

.foto-produk {width:100%;padding:0;margin:0;}
.foto-produk li {width:25%;padding:5px 0; margin: 0 !important; height:130px; box-sizing:border-box; float:left; border:0 !important; background:none !important;}
.foto-produk li label {float:left;width:92%;margin-right:8%;}
	.foto-produk li:nth-child(4n) {margin-right:0 !important;}
	.foto-produk .imgbox {width:100%; height:100% !important; background:#FFF; border:1px solid #DDD; border-radius:3px;}
		.foto-produk  .imgbox:hover {box-shadow:0 0 6px rgba(0,0,0,.2); border-color:#CCC;}
		.foto-produk  label {width:100%; height:100%; padding:0px !important;}
		.foto-produk  input[type=file] {display:none;}
		.foto-produk .btn.med-btn {margin:10px 0;}

/*TAMBAH PRODUK*/
.tambahbutton {display: block;float:left;margin-top:5px;width:100%;}
.tambahbutton .btn {border: 0;border-radius:3px;box-shadow: none;}

/* TOP NAVIGATION */
.topnav {background:#FFF; padding:7px 0; font-size:.9em; box-shadow:0 0 0 1px rgba(0,0,0,.06); margin-bottom:1px; height:22px; color:#777; }
	.topnav div > ul > li {display:inline-block;padding:3px 5px 4px 10px; margin-right:-4px;}
	.topnav div:first-child > ul > li:first-child {padding-left:0; border-left:0;}
	.topnav .w60 {text-align:right;}
	.topnav * {position:relative;}
	.topnav .imgbox {box-shadow:none !important;}
	.topnav .w60 > ul > li {border:none; border-radius:2px; cursor:pointer; }
		/*.topnav .w60 > ul > li:after {content:''; display:inline-block; background: url(../images/sprite.svg) -96px -12px; background-size: 120px 120px; height: 10px; width: 10px; margin-left:0px; opacity:.5;}
		.topnav .w60 > ul > li:hover:after {background-position: -110px -14px; -webkit-filter:invert(1);-moz-filter:invert(1); filter:invert(1); }
		.topnav .w60 > ul > li:nth-child(n+3):after {background:none; }*/
	.topnav .w60 > ul > li:hover {background:#35455D; padding:7px 5px 7px 10px; color:#FFF; margin-top:-4px;}
	.topnav ico {margin:-6px 5px 0 -4px !important; opacity:.4;}
		.topnav li:hover ico {-webkit-filter:invert(1);-moz-filter:invert(1); filter:invert(1); opacity: 1;}
	.topnav a.toplink {color:#fff;padding: 4px 5px;height: 12px;margin-top: -3px;border-radius: 8px 3px;background: #FF6C00;}
	/* SUBMENU */
	.submenu {background:#FFF;padding:10px 0; min-width:190px; right:1px; margin-top:7px; border-radius:0 3px 3px; position:absolute; z-index:100;  padding:0; transition:.3s; opacity:0; max-height:0; overflow:hidden; color:#333; text-align:left; visibility:hidden;}
		.topnav div > ul > li:last-child .submenu {right:1px; left:inherit; border-radius:3px 0 3px 3px;}
		li:hover .submenu {display:block; box-shadow:0 5px 10px rgba(0,0,0,.1),0 0 0 1px rgba(0,0,0,.2); opacity:1; max-height:500px; padding: 10px 0; margin-top:6px; visibility:visible; overflow-y: auto}
	.submenu li {display:block !important; text-align:left; color:#000;padding:5px 10px; }
		.submenu li a {font-size:12px;padding: 5px 0 7px 0;display: block;margin: -5px 10px -5px 0; }
		.submenu li:hover a {background:#FC6C00; color:#FFF;}
	.submenu li strong {display:block; }
	.submenu > div {margin:0 10px; line-height:1.3em;}
	.submenu input[type=text], .submenu input[type=password] {width:100%;}
	.submenu input[type=submit]{padding:5px 10px 7px; }
	.submenu li hr {margin:0 0 -2px 0;}
	.submenu form .lupapassw {position:relative;display:block;top: 2px;margin-bottom: -20px;}
	/* CART */
	.submenu > div {margin-bottom:10px;}
	.submenu ul.cart-list {width:350px; }
	.cart-list li {padding:5px 0; clear:both; border:1px solid #EEE; border-width:1px 0; margin-top:-1px;}
	.cart-list li .imgbox {height:30px; width:25px; margin-bottom: 0;}
	.cart-list h3 {overflow: hidden; font-size:1em; height:28px; width:95%;margin-top:2px; margin-bottom:0 }
	.cart-list li:hover {background:#EEE;}
		.cart-list li:hover a {background:none;}
		.cart-list li:hover ico {display:block; background-color: #555}
	.cart-list ico {background-color:#111; border-radius:50px; margin:5px -10px 0 0 !important; cursor: pointer; }
		.cart-list ico:hover {background-color:#aaa;}
	.cart-checkout {padding:10px 0; bottom:0; left:0; z-index: 10; background:rgba(255,255,255,.9); border-top:1px solid #EEE;}
	
	.topnav .fright li:nth-child(1):hover{background:transparent;}
	.reminder-membershipup i{display:inline-block;width: 15px;height: 11px;position:relative;background: url(../images/envelop.png) no-repeat;background-size:15px 11px;opacity:0.7;}
	.reminder-membershipup .notif-bubble{font-size:10px;height:auto;min-width:auto;padding:0 1px;border-radius:0;position:absolute;top:-5;right:-3px;}
/* NOTIFIKASI */
.notif-bubble {display:inline-block; min-width:15px; text-align:center; padding:4px 5px; height:12px; margin-top:-3px; border-radius:8px 3px; background:#FF6C00; color:#FFF; float:right; }
	.topnav .notif-bubble {margin-left: 6px; z-index:1;}
	/*.topnav .notif-bubble {right: 6px; z-index:1;}*/

	.submenu .notif-bubble {font-size:.8em; padding:2px 5px; margin-top:-1px;box-shadow:0 0 0 1px rgba(255,255,255,.3);}
	.notif, .notif-bar, .notif-bar.soft, .alert-danger, .warning  {padding:0; border:1px solid #FDA; background:#FCFFC7!important; border-radius:2px; line-height:1.2em;}
	.notif-bar.urgent {background:#FF8D00; color:#FFF !important}
	.error {background:#FF8D00; }
	.notif { padding: 3px 8px 5px;}
	.notif-bar.blacklist {background:#333; color:#FFF !important; border-color: #000; font-weight:300;}
	.notif-bar.oke, .alertmessage {background:#E9F7D3; border-color: #D1E0B7; }
	.notif-bar.abuabu {background:#F3F3F3; border-color:#E3E3E3; }
	.success {background:#333!important; color:#FFF !important; border-color: #000; font-weight:300;}
	.notice {background:#F3F3F3!important; border-color:#E3E3E3; }
	.progress-bar-box {content:' '; height:15px; width:100%; max-width:250px; background:#EEE; box-shadow:inset 0 2px 2px #DDD, 0 0 0 1px #FFF, 0 0 0 2px rgba(0,0,0,.15); position:relative;display:inline-block; vertical-align:middle; margin:0 10px; border-radius:2px;}
	.progress-bar {height:15px; max-width:300px; background:#F60; box-shadow:2px 0 2px #CCC; border-radius:2px; }
	.notif-bar .colfix {padding:8px 10px 10px !important;}
	form .notif-bar {padding: 3px 8px 5px;}
	form .errormsg input, form .errormsg .notif-bar, .errormsg input, .errormsg .notif-bar { border: 1px solid #FDA; background: #FCFFC7;}


/* LOGO */
.logo {display:inline-block; margin-right:-4px; width:170px; transition:.3s;}
.logo img {width:100%; height:auto;}

/* SEARCH CONTAINER */
.search-container {height:42px; padding:10px 0;background:#F8F8F8; }
.search-container .logo {margin:0 40px 0 0;}
.search-container center {display:inline;}
.search-container .submit-post {display:inline-block; margin-left: 20px; margin-right: -4px; transition:.3s}
.searchbox {border-radius:3px;z-index: 50; height:40px; background:#FFF; position:relative; display:inline-block; box-shadow:0 0 0 1px rgba(0,0,0,.2)}
	.searchbox:before {content:''; background:url('../images/sprite.svg') no-repeat -315px 11px; background-size: 350px 350px; width:50px; height:50px; position: absolute; z-index: 10; opacity: .1; left:0; top:-5px;}
.searchbox input[type=text] {padding:9px 15px 11px 40px; height:40px; width:290px; border:0; background:none; color:#777;}
	.searchbox input[type=text]:focus {box-shadow: 0 0 0 1px #666;color:#000;}
	.searchbox input {margin:0;}
	.cat_selection .cat_list, .cat_selection .cat_display, .searchbox input[type=submit] {height:41px;}
	.cat_selection { width: 120px; position: relative; z-index: 20; cursor: pointer; display: inline-block; margin-right:-4px; font-size:.9em;}
	.cat_selection .cat_list { position: absolute; z-index: 2; top: 0px; filter: alpha(opacity=0);	opacity: 0; -moz-opacity: 0; -webkit-opacity: 0; z-index: 23; outline: 0; cursor: pointer; min-width: 50px; width: 100%; display: block; overflow: hidden; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
	.cat_selection .cat_display { display: inline-block; border-left: 1px solid #ddd; white-space: nowrap; width: 100%;  text-overflow: ellipsis; box-sizing: border-box; padding: 13px 0;}
	.cat_selection .cat_display{padding:13px 20px 17px 5px; text-align:left; overflow: hidden;}
		.cat_selection .cat_display:after{content:''; display:block; position:absolute; right:0; top:0; bottom:0; margin:auto 0; width:20px; height:20px; background:url(../images/sprite.svg) -210px -30px; background-size:260px 260px; opacity:.6; transition:none; transform: scale(.5, .5);}
		.cat_selection:hover .cat_display:after{background-position:-240px -30px;}

.searchbox input[type=submit] { background:#35455D; padding: 0 25px;  color: #FFF; font-weight: bold; font-size: 1.2em; border-radius: 0 3px 3px 0; transition:.2s;}
	.searchbox input[type=submit]:hover {background:#222;}
	.searchbox .search-input {float:left; z-index:30; margin-right:1px; position:relative;}

/* SEARCH SUGGESTION BOX */
.search-suggestion-box {width:100%; position:absolute; top:41px; left:1px; z-index:100; background:#FFF; border-radius:0 0 3px 3px; border-top:3px solid #fff; padding-bottom:10px; max-height:0; visibility:hidden; overflow:hidden; transition:.2s; }
	.search-input:hover .search-suggestion-box {max-height:250px; visibility:visible; overflow:auto; box-shadow:0 0px 0 1px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2)}
	.search-suggestion-box li a {display:block; padding:7px 8px 9px 20px; text-align: left; font-size: 0.9em; border-bottom: 1px solid #eee; color:#999;}
	.search-suggestion-box li a:hover, .search-suggestion-box li a.selected {background:#EEE !important; color:#333;}
	.search-suggestion-box li a strong {color:#000 ;}
	.cat_selection .search-suggestion-box li a, .toolbar .search-suggestion-box li a {padding:5px 3px 6px 5px !important; font-size:1em !important; color:#666; line-height:1.2em;}

/* POST SUBMISSION	*/
.add-product, .add-quotation {display:inline-block; min-width:110px; padding:12px; text-align:center; color:#333 !important; background:#F05123; border-radius:3px;box-shadow:0 0 0 1px rgba(0,0,0,.1)}
	.add-quotation {background:#FFF;margin-left:5px;}
	.add-product, .add-quotation {background:#FFF;}
	.add-product ico, .add-quotation ico { margin-right:10px; opacity:.4; -webkit-transform:scale(1.3, 1.3); -ms-transform:scale(1.3, 1.3); transform:scale(1.3, 1.3); }

.counter {font-weight:bold; color:#FFA122; display:inline-block; margin-left:10px;}
	.counter:after {content:''; font-weight:300; display:inline-block; margin-left:1px;}

/* FIXED HEADER */
.fixed-margin .header, .quickview .header {position:fixed !important; width:100%; z-index:1010; background: #FFF; box-shadow: 0 2px 8px rgba(0,0,0,0.2); top:-38px;}
	.fixed-margin .search-container, .quickview .header .search-container {padding:10px 0 1px;	background:#FFF; height:40px;}
	.fixed-margin .submit-post, .quickview .header .submit-post {display:none;}
	.fixed-margin .logo, .quickview .header .logo {margin-right:30px; width:130px;}
	.fixed-margin .topnav .colfix.w60, .quickview .header .topnav .colfix.w60 {position:absolute; top:45px; right:10px; width:45%; z-index: 10;}
	.fixed-margin .searchbox, .quickview .searchbox, .fixed-margin .searchbox input[type=text], .quickview .searchbox input[type=text], .fixed-margin .searchbox input[type=submit], .quickview .searchbox input[type=submit], .fixed-margin .cat_list, .quickview .cat_list, .fixed-margin .cat_display, .quickview .cat_display {height:30px;}
	.fixed-margin .cat_display, .quickview .cat_display {padding-top:8px}
	.fixed-margin .searchbox input[type=text], .quickview .searchbox input[type=text] {padding-top:7px;}
	.fixed-margin .searchbox input[type=submit], .quickview .searchbox input[type=submit] {font-size:1em;}
	.fixed-margin .searchbox:before, .quickview .searchbox:before {top:-10px; background-size:260px 260px; background-position:-235px 14px; opacity:.6; height: 40px; width: 30px;}
	.fixed-margin .search-suggestion-box, .quickview .search-suggestion-box {top:30px;}
	body.fixed-margin {padding-top:90px;}

/* TOOLBAR */
.toolbar {bottom:-50px; font-size:.9em; width:100%; z-index:-1; padding:20px 0 15px 0; line-height:1em !important; transition:.3s; }
	.toolbar .colfix {padding:0 !important;}
	.toolbar .colfix > ul {display:inline-block;box-shadow:0 0 0 1px rgba(0,0,0,.1); border-radius:3px; height:30px; background:#FFF; color:#666; }
	.toolbar .colfix > ul > li {float:left; border-left:1px solid rgba(0,0,0,.15); }
		.toolbar .colfix > ul > li:first-child {border:0;}
	.toolbar .colfix > ul > li a {padding:8px 12px 10px;  color:#666; display:block;}
		.toolbar .colfix > ul > li a:hover, .toolbar .colfix > ul > li.selected {color:#999; background:#F3F3F3; box-shadow:0 0 0 1px rgba(0,0,0,.1);}
		.toolbar .colfix > ul > li a:hover {color:#000;}
		.toolbar .colfix > ul > li.selected {box-shadow:inset 0 0 0 50px rgba(0,0,0,.05)}
	.toolbar .colfix.fright > ul {margin-left:6px;}
	.toolbar .colfix.fright > ul > li { padding: 8px 7px 0; height: 100%; box-sizing: border-box;}
	.toolbar .colfix.fright > ul > li a {padding:0; background:none ; box-shadow:none;}
	.toolbar .colfix.fright > ul > li ico {margin-right:0; opacity:.6; cursor: pointer;}
		.toolbar .colfix.fright > ul > li:hover ico {opacity:1;}
	.toolbar input[type=text], .toolbar select {margin:-5px 8px -9px -3px !important; padding:2px 4px 4px !important; width:45px !important; text-align:center;background:#FAFAFA;}
		.toolbar .cat_display {padding: 5px; height: 24px; width: 100%; }
			.toolbar .cat_display:after {right:0;}
		.toolbar .cat_selection {width:90px; font-size:1em; margin:-5px 0 5px 5px;}
		.toolbar .search-suggestion-box {top:27px; right:inherit; left:2px}

.listing-company .toolbar .ico-list-row {display: none;}
.row .toolbar .colfix > ul > li a {font-size:11px;}


/* Kategori Thumbnail */
.quickform li .colfix.w75 > .colfix.w25 {padding: 4px 10px 4px 0;}
.kategorithumb input[type=checkbox] {display: none;}
.kategorithumb input[type=checkbox]:checked ~ div {background: #FF6C00;color:#fff;padding: 10px 10px 0 10px;}
.kategorithumb input[type=checkbox]:checked ~ div ico {background-color: #fff;border:6px solid #fff;border-radius:50%;margin:0 auto 2px auto;}
.quickform .kategorithumb {width:100%;}
.quickform .kategorithumb div {text-align:center;font-size:12px;height:70px;line-height:14px;padding:10px 10px 0 10px;background:#eee;border-radius: 3px}
.quickform .kategorithumb div ico {display: block; background-color: #eee;border:6px solid #eee;border-radius:50%;margin:0 auto 2px auto;}


/* BREADCRUMP */
.breadcrump {background:#F8F8F8; font-size:.9em; position:relative; border-bottom:1px solid #E6E6E6; box-shadow:0 1px 0 #FFF;}
	.breadcrump a {color:#555;} .breadcrump a:hover {color:#000;}
	.breadcrump > div > ul {height:36px;}
	.breadcrump > div > ul > li { padding: 11px 5px; color:#444; float:left; }
		.breadcrump > div > ul > li:first-of-type:hover {background:#FFF; color:#000; box-shadow:0 0 0 1px #DDD; margin-right:7px; border-radius:3px 3px 0 0;}
		.breadcrump > div > ul > li:before {content:' ›';font-size: 1.8em; display: inline-block; margin: -7px 3px 0 10px;float: right;font-weight: 300; color: #BBB;}
		.breadcrump > div > ul > li:last-of-type {color:#0E75BA; }
		.breadcrump > div > ul > li:last-of-type:before, .breadcrump > div > ul > li:first-of-type:hover:before {content:''}
		.breadcrump > div > ul > li ico {opacity:.6;}
	.breadcrump > div > ul > li > ul {display:block; left: 0; width:100%; position:absolute; z-index:30; background:#FFF; margin: 8px 0 0 0; transition-delay:.5s; transition:.3s; height:0; overflow:hidden; padding:0 20px; visibility:hidden; box-shadow:0 1px 0 1px rgba(0,0,0,.1), 0 4px 6px rgba(0,0,0,.1); border-radius: 0 0 3px 3px; box-sizing:border-box;}
		.breadcrump > div > ul > li > ul li a {display:block; width:25%; box-sizing:border-box; float:left; padding:3px 8px; }
			.breadcrump > div > ul > li > ul li a:hover {color:#000;}
			.breadcrump > div > ul > li > ul li a:hover ico {opacity:1;}
		.breadcrump > div > ul > li:hover > ul {display:block;padding: 9px 20px 20px; border-width:0 1px 1px; height:auto; visibility:visible;transition-delay:.5s; }
	.breadcrump ico {transition:inherit;}

/* SUB KATEGORI */
.subkategori {clear:both; max-height:80px; padding:10px 0 20px; overflow:hidden; transition:.2s; transition-delay:inherit; position:relative;}
	.subkategori:hover {max-height:500px; transition:.7s;transition-delay:.5s; }
	.subkategori:before {content:' '; position:absolute; width:100%; z-index:9; background:#F8F8F8; height:18px; bottom:0; }
	.subkategori:after {content:'• • • '; position:absolute; left:48%; width:43px; border:1px solid #DDD; border-radius:5px 5px 0 0; text-align:center; bottom:-7px; z-index:10; font-size:1.3em; color:#666; transition:.3s; transition-delay:inherit; padding:0 0 4px; background:#E6E6E6; height:10px; line-height:.5em; cursor:pointer;}
		.subkategori:hover:after {opacity:0; bottom:0px; transition-delay:.7s;}
	.subkategori ul li {display:inline-block; width:20%; font-size:.95em; margin-right:-4px; padding:3px 0;}
		.subkategori ul li a {color:#AAA;}
		.subkategori:hover ul li a {color:#666; transition:.3s;}
		.subkategori ul li a:hover {color:#000; border-bottom:1px solid #CCC;}
	.subkategori h4 {margin-top:0; padding-left:10px}
		.subkategori h4 ico {margin:0 10px 30px 0; display:none; float:left;}

		/* NEW BREADCRUMP HOVER */
		.subkategori { position:absolute;left:0;margin-top:8px;padding:20px;background:#F8F8F8; width:100%; z-index:30; max-height:0; box-sizing:border-box; overflow:inherit; border-radius:0 0 3px 3px; border:1px solid rgba(0,0,0,0); border-width:0 1px; box-shadow:0 5px 7px rgba(0,0,0,.1); border:1px solid #DDD; border-top:0;transition-delay:.5s;transition:.3s; visibility:hidden;overflow:hidden;}
		.breadcrump li:hover {cursor: pointer}
		.breadcrump li:hover .subkategori {max-height:550px;visibility:visible;display: block!important;}
		.breadcrump > div > ul > li:first-of-type:hover {margin-right:0; background:none; box-shadow:none; cursor:pointer;}
		.breadcrump > div > ul > li > ul {background:#F8F8F8; margin-top:8px; }
			.breadcrump > div > ul > li:hover > ul {}
		.breadcrump > div > ul > li:first-of-type:hover:before {content:' ›';}

/* SOCIAL MEDIA */
.btn-google{
    color: #fff !important;
    background-color: #d54636 !important;
     padding: 7px 22px;
    line-height: 10px;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: 300;
    border: 1px solid #d54636!important;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);

}


.btn-facebook {
    color: #fff !important;
    background-color: #354c8c !important;
     padding: 7px 17px;
     line-height: 10px;
    font-size: 1.1em;
    font-weight: 300;
    border: 1px solid #2e6697 !important;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    border: 1px solid #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}

/* IMG BOX */
.gallery {background: #FFF;}
.imgbox {width:100%; height:100%; position: relative; background:#FFF;}
	.imgbox img {position: absolute; max-width: 100%; max-height: 100%; top:0; right:0; bottom:0; left:0; margin:auto;}
	.imgbox.imgprofile {border-radius:60px; overflow:hidden; border:2px solid #CCC; width:40px !important; height:40px !important; display:inline-block;}

.selected .imgbox {opacity:.3;}
.product-info div.data_title {font-size: 18px;line-height: 23px;height:45px; overflow: hidden; text-transform: capitalize; margin-bottom:5px; color:#000; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;}

/* HARGA */
.hargabox {margin:10px 0;}
.quantity, .permintaan, .minorder, .stok, .jmlpesan, .tanggal, .durasi, .penwrn, .tayang {color:#555; display:inline-block; padding:0 15px 0 0; min-width:80px; }
	.harga, .price {font-size: 1.2em; color:#4F9C00; font-weight:bold }
	.harga:before, .price:before {content:'Rp '; font-weight:normal; font-size: .8em;display:inline-block; margin-right:5px; }
	.quantity, .permintaan, .minorder, .stok, .jmlpesan,.penwrn, .tayang {font-weight:bold;}
	.hargabox small {font-weight:300;}
	.quantity:before, .minorder:before, .permintaan:before, .jmlpesan:before, .tanggal:before, .penwrn:before, .tayang:before {font-size:.8em; position:absolute; margin-top:-13px; color:#999; font-weight:normal}
	.quantity:before {content:'tersedia'; }
	.minorder:before {content:'min.order';}
	.jmlpesan:before {content:'permintaan';}
	.permintaan:before {content:'permintaan';}
	.tanggal:before {content:'tanggal';}
	.tayang:before {content:'tayang hingga';}
	.durasi:before {content:'durasi'}
	.penwrn:before {content:'jumlah penawar';}

.seller-info {font-size:.9em; line-height:1.2em; height:100%; border-left:1px solid #EEE; padding:10px 20px; box-sizing:border-box;}
	.seller-name {margin:10px 0;}

/* QUICK FORM */
.list li {font-size: .9em;margin-bottom: -1px;color: #666;background: #FFF;border-radius: 2px;border: 1px solid #EAEAEA;}
.formulir li {padding: 5px 0;}
.formulir li .colfix {padding: 4px 10px;display: inline-block;vertical-align: top;margin-right: -4px;float: inherit;}
.formulir li .notif-bar {max-height: 0;overflow: hidden;padding: 0 8px;border: 0;transition: .3s;transition-delay: inherit;}
.formulir li:hover .notif-bar, .formulir li.errormsg .notif-bar, .formulir li.hasmsg .notif-bar {max-height: 100px;padding: 3px 8px 5px;border-width: 1px;transition-delay: .5s;}
.colfix .formulir {margin: 20px;}
.notif-bar .colfix {padding: 8px 10px 10px !important;display: inline-block;vertical-align: middle;margin-right: -4px;float: inherit;}
.delete_image_product, .delete_image_company {position: absolute; z-index: 2; right: 3px; top: 3px; color: #ccc; padding:3px 5px; border-radius:3px;text-align: center; border:1px solid #ddd; background: #fff;}

.keranjang li {height:85px;}
.keranjang li:last-child {height:auto;}
.keranjang .list:not(.chatinput):not(.rating) .judul-item { font-weight: bold;line-height: 1.2em;height: 3.5em;overflow: hidden;color: #444;}
.keranjang .lokasi {font-size: .8em;color: #666;display: block;line-height: 1.1em;margin-top: 3px;}
.keranjang li.list-header {height:auto;}
.keranjang .btn {font-size:12px;border: 0;box-shadow: none;border-radius: 5px;padding: 6px 10px 8px;}
.toolbar.keranjang {padding:0;}
.toolbar.keranjang .w80 {margin: 0 20px -20px 20px;}
.keranjang .formulir li:first-child {height:40px;}
.keranjang .formulir li:first-child h3 {margin-bottom:0;} 
.keranjangform {margin:20px;}

/* TANGGAL */
.tgl {font-size:.9em; display:inline-block; color:#666}
	.tgl * {display:inline-block; font-weight:bold; color:#999 }

/* TAG PROMO */
.tag {position:absolute; top:2px; right:0;transition:.3s; }
.tag .discount, .tag .cc, .tag .bekas {text-align:center; padding-top:5px; width:36px; height:26px; color:#FFF; font-weight:bold; float:left; margin-right:5px; position:relative; background-position: 0 -120px;}
	.tag .cc {background-position: -40px -120px;}
	.tag .discount:before, .tag .cc:before, .tag .bekas:before { border-color: #F40 transparent transparent ; border-style:solid; border-width: 18px; position: absolute; bottom:-27px; left:0; transform:scale(1,.5); -moz-transform:scale(1,.5); -webkit-transform:scale(1,.5); -ms-transform:scale(1,.5); }
		.tag .cc:before {border-color:#00629C transparent transparent;}
	.tag .discount:after, .tag .cc:after {content:'%'; font-weight:300; opacity:.6;}

/* ICON */
ico, .tag div {display:inline-block; width:20px; height:20px; background:url(../images/sprite.svg) -150px -30px; background-size:260px 260px; vertical-align: middle; margin:-3px 12px 0 0; transition:.3s; position:relative;}
	ico:before 		{content:' '; display:inline-block; width:100%; height:100%;}
	ico.quotation 	{background-position: 0 0}
	ico.kategori 	{background-position: -30px 0}
	ico.web 		{background-position: -90px 0}
	ico.aman 		{background-position: -120px 0}
	ico.akun 		{background-position: -150px 0}
	ico.cart 		{background-position: -180px 0}
	ico.katalog		{background-position: -210px 0}
	ico.search		{background-position: -240px 0}
	ico.trash		{background-position: -210px -130px}
	ico.gear		{background-position: -240px -130px;}
	ico.favorite	{background-position: -210px -110px;}
	ico.cart-add	{background-position: -180px 0}
	ico.email 		{background-position: -150px 0; margin: -3px 3px 0 0;}
	ico.phone 		{background-position: -150px 0; margin: -3px 3px 0 0;}	
	/* kategori */
	.dropdown-menu ico {background-position:-30px -30px}
	ico.agraris, ico.pertanian-dan-produk-pangan 	{background-position: 0 -30px}
	ico.metalurgi-mineral-dan-kimia 		{background-position: -150px -30px}
	ico.elektrik 	{background-position: -60px -30px}
	ico.grocery 	{background-position: -90px -30px}
	ico.rumahtangga	{background-position: -120px -30px}
	ico.peralatan-kantor 		{background-position: -120px -50px}
	ico.tekstil 	{background-position: -180px -30px}
	ico.fashion-tekstil-dan-aksesoris 	{background-position: 0 -50px}
	ico.peralatan-elektronik 	{background-position: -30px -50px}
	ico.enerji	 	{background-position: -60px -50px}
	ico.elektronik-dan-peralatan-rumah-tangga	 	{background-position: -90px -50px}
	ico.peralatan-industri 	{background-position: -120px -70px}
	ico.percetakan, ico.media-musik-dan-buku 	{background-position: -150px -50px}
	ico.teknologi-dan-telekomunikasi 	{background-position: -180px -50px}
	ico.otomotif-dan-transportasi 	{background-position: 0 -70px}
	ico.konstruksi 	{background-position: -30px -70px}
	ico.kerajinan-dan-souvenir 	{background-position: -60px -70px}
	ico.peralatan-olahraga-dan-outdoor 	{background-position: -90px -70px}
	ico.industri 	{background-position: -120px -70px}
	ico.voucher-dan-layanan 	{background-position: -150px -70px}
	ico.kesehatan-dan-kecantikan 	{background-position: -180px -30px}
	ico.mainan-dan-bayi	 	{background-position: -180px -70px}
	/* media sosial */
	ico.facebook, ico.twitter, ico.linkedin, ico.youtube {width:30px; height:30px;}
	ico.facebook	{background-position: -30px -90px;}
	ico.twitter		{background-position: -60px -90px;}
	ico.youtube		{background-position: 0 -90px;}
	ico.linkedin	{background-position: -90px -90px;}
	/* toolbar */
	ico.nav-left 	{background-position: -240px -50px}
	ico.nav-right	{background-position: -210px -50px}
	ico.nav-up		{background-position: -240px -30px}
	ico.list-grid	{background-position: -210px -70px}
	ico.list-semirow{background-position: -240px -70px}
	ico.list-row	{background-position: -240px -90px}
	ico.list-filter	{background-position: -210px -90px}
	ico.close-btn 	{background-position: -240px -110px}
	ico.close-btn 	{background-position: -240px -150px}
	/* rating */
	ico.rate {width:100px;}
	ico.rate.star05	{background-position: 0 -150px}
	ico.rate.star04	{background-position: 0 -170px}
	ico.rate.star03	{background-position: 0 -190px}
	ico.rate.star02	{background-position: 0 -210px}
	ico.rate.star01	{background-position: 0 -230px}
	/* detail page */
	ico.infoproduk	{background-position: -60px -50px}
	ico.specproduk	{background-position: -30px -30px}
	ico.sejarahtransaksi	{background-position: -60px -30px}
	ico.pengiriman, ico.delivery	{background-position: -30px -70px}
	ico.infocompany	{background-position: -120px -30px}

/* RATING */
.ratestar {width:100px; height:20px; position:relative; display:inline-block; vertical-align:middle; margin:0 5px 0 -5px;}
	.ratestar:before, .ratestar:after {width:100px; height:20px; position:absolute;left:0; top:0;}
	.ratestar:before {content:''; background-color:#CCC; z-index:0; height:16px; top:1px;}
	.ratestar:after {content:'';z-index:3; background: url(../images/sprite.svg) -80px -120px; background-size:260px 260px;}
	.ratestar > * {max-width:100%; position:absolute; height:16px; top:1px; background:#FC0; z-index:1;}

/* KONTAK KAMI */
address li {float: left;width: 100%;line-height: 1.3em;margin-bottom: 4px;margin-left: 0!important;}
address> ul {margin-left:0;padding-left: 0}
address> ul> li> span {display: block;float: left;min-height: 1.3em;line-height: 1.3em;}
address> ul> li> span:first-child {width: 20%;color: #aaa;vertical-align: top;}
address h4 {margin-top: 15px!important;margin-bottom: 4px;}

/* DESKRIPSI PERUSAHAAN*/
.desc-comp p {margin:0!important;padding:0!important;}

/* footer */
.footer-content {padding:50px 0; height:360px; width:100%; color:#999; position: absolute; bottom: 0;}
.footer-blank {height:450px;}
.footer {position: relative; }
.footer .wrapper {width:1000px;}
.footer li {padding:5px 0; font-weight:300;}
.footer li a {color:#666; border-bottom:1px solid rgba(0,0,0,0);}
	.footer li a:hover {color:#222; border-bottom:1px solid rgba(0,0,0,.4); }
.footer .w25 {width:20%;margin-left: 5%}
.footer h3 {
	margin-bottom: 10px;
    font-size: 1.2em;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 2px 0 4px 0;
    color: #333;}
.footer ico {opacity:.6; margin:0 8px 18px;} .footer ico:hover {opacity:1;}
.footer hr {margin:25px 0;}
.footer center {}
	.footer center li {display:inline-block; font-size:.9em; margin:0 8px; line-height:.7em;}
.footerlink {display:block;width:100%;}
.footerlink li {display:inline-block;margin:0 5px;}

.totop {width:auto; height:20px; padding:10px 8px 5px; position:fixed; top:0; right:10px; background:#FFF; box-shadow:0 0 0 1px rgba(0,0,0,.1); border-radius:0 0 5px 5px ; transition:.3s; z-index: 110; visibility:hidden; opacity:0}
	.totop.showme {top:45px; box-shadow:0 2px 5px rgba(0,0,0,.2); }
	.totop:hover {box-shadow:0 0 0 1px rgba(0,0,0,.2), 0 0 85px rgba(0,0,0,.2), 0 2px 5px rgba(0,0,0,.2); top:50px; }
	#top { position: absolute; top: 0;}

/* OVER THE TOP */
.overthetop {width:100%; height:100%; position:fixed; top:0; left:0; right:0; bottom:0; z-index:1000; box-sizing:border-box; padding:70px 0 30px; background:rgba(234, 234, 234, 0.8); overflow-x: auto; visibility:hidden; opacity:0; transition:.3s;}
	body.quickview {overflow:hidden;}
	.quickview {padding-top:101px;}
	.quickview .overthetop {visibility:visible; opacity:1;}

.engine-notif {position:fixed; top:-400px; padding:20px 40px; margin:0 auto; width:400px; min-height:30px; background:rgba(255, 255, 255, 0.9); box-shadow:0 0 0 1px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.2), 0 10px 30px rgba(0,0,0,.3); transition:1s; text-align:center; left:0; right:0; border-radius:3px; border-bottom:3px solid #FC0; visibility:hidden; z-index:1000;}
	.engine-notif .engine-text, .engine-notif .fixer {display:inline-block; vertical-align:middle; color: #666; text-shadow: 0 0 5px #FFF}
	.engine-notif .fixer {min-height:30px; height:100%;}
	body.notif .engine-notif {top:120px; visibility:visible;}

/* JOS ++ */
.preloader{position:absolute; top:0; left:-15px; right:0; bottom:0; margin:auto; background: url(../images/preloader.gif) 50% 50% no-repeat rgba(255,255,255,.8); height:100%; width:100%; z-index:9999;}
.imgbox .trigger{display:block; width:100%; height:100%; }
.overthetop .wrapper{z-index:1;}
.overthetop .background{ position:fixed; width:100%; height:100%; z-index:0; top:0; left:-15px; right:0; bottom:0;}

/* CLASS GLOBAL OVERWRITE */
.showme {visibility:visible; opacity:1;}

/* NO JAVASCRIPT NOTIFICATION */
.noJS { padding: 7px 10px; display: block; background: #FFEDA3 ; border-bottom: 1px solid #AAA; text-align: center; position:fixed; z-index:100; width:100%; top:0; height:30px; box-sizing:border-box; transition:.3s}
	.noJS a{text-decoration:underline; color:#ff6c00;}
.noJS-margintop {height:30px;transition:.3s}
	.fixed-margin .noJS {top:50px;}
noscript:hover .noJS-margintop {height:55px;}
noscript:hover .noJS {height:55px; padding-top:20px;}

/* DUMMY BOX */
.dummy-page{position:fixed; width:300px; right:-321px; top:5px; padding:5px 10px; background:#FFF; min-height:200px; max-height:600px; line-height:1em; font-size:.8em; transition:.3s; border-radius:3px 0 0 3px; box-shadow: 0 0 0 1px rgba(0,0,0,.2);z-index: 2000;}
	.dummy-page:hover {right:0; padding:5px 10px;box-shadow: 0 0 0 1px rgba(0,0,0,.2), -2px 3px 8px rgba(0,0,0,.2);}
	.dummy-page ul {-webkit-column-count:2; -moz-column-count:2; column-count:2; width:100%; padding-bottom:10px;}
	.dummy-page a {padding: 3px 3px 3px 5px; display:block; border:0 !important; font-weight:normal;}
		.dummy-page a strong {color:#000; text-transform:uppercase;}
		.dummy-page a:hover {background:#F6F6F6;}
	.dummy-page li {padding:0; text-transform:capitalize; }
	.dummy-page .dummy-nav {margin-left:-32px; margin-top:-5px; padding:13px 2px 22px; position:absolute; font-weight:bold; background:rgba(0,0,0,.8); color:#FFF; font-size:3em; font-weight:bold; border-radius:6px 0 0 6px; transition:.3s;}
		.dummy-page:hover .dummy-nav {background:rgba(0,0,0,.5); opacity:0}

/*Notif*/
.notif-notactived {position:fixed; bottom:45px; left:25px;background:#2266cc;color:#fff;padding:10px;width:240px;text-align:center;line-height:15px;z-index:2001;}
.notif-notactived .close{position:absolute;right:-10px;top:-10px;border-radius:30px;color:#FFF;display:inline-block;font-weight:bold;background:#2266cc;width:20px;height:20px;text-align:left;font-size:19px;font-family:cursive;border-bottom:1px solid #FFF;border-left:1px solid #FFF;}
.notif-notactived .close ico{margin:0 !important;color:#FFF;filter: invert(100%);
-webkit-filter: invert(100%);opacity:1}
.notif-notactived .btn{border:0;padding:5px 10px;}

/*Erorr Form*/
.frm-error{border:1px solid red !important;}
.frm-error-msg{color:red;font-size:12px;margin-bottom:5px;display:inline-block;}

/* media rule */
@media screen and (max-width: 1370px)	{
	body > div:not(.wrapper) {min-width:1240px;}
	.wrapper {width:1200px;}

}
@media screen and (min-width: 1371px)	{
	.wrapper {width:1300px;}
	.search-container .logo {margin-right: 25px}
}

/* ALL SAFARI BROWSER */
@media screen and (-webkit-min-device-pixel-ratio:0) {


}

/* ALL OPERA BROWSER */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {


}


