@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */

.topnav {position:absolute; background:rgba(255,255,255,.5); width:100%; z-index: 100;}
.home .logo {display:block; width:320px; padding:60px 0 25px; margin-right:10px; }
/*.home .search-container {height:340px; background:url('../images/bg/home-search-bg.jpg') center; background-size: cover; z-index:-1; padding:0 }*/
.home .search-container {height: 330px; background:url('../images/bg/home-search-bg.jpg') center; background-size: cover; z-index:-1; padding:0 }
.home .search-container .wrapper {height:100%:}
.home .search-container center, .home .search-container .submit-post {display:block;}
.home .searchbox {margin:auto; height:51px; display:inline-block; box-shadow:0 0 25px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.2)/*, 0 0 0 5px rgba(0,0,0,.1)*/; margin-bottom:40px; transition:.3s;}
	.home .searchbox:hover {box-shadow:0 0 25px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.2), 0 0 0 8px rgba(0,0,0,.1); }
	.home .searchbox input[type=text] {padding:15px 6px 17px 55px; height:50px; width:350px; margin-right:3px; }
		.home .searchbox input[type=text]:focus {box-shadow: 0 0 0 4px #999;}
	.home .searchbox input[type=submit] {border:0;}
	.cat_selection .cat_list, .cat_selection .cat_display, .searchbox input[type=submit] {height:51px;}
	.cat_selection {width:150px; font-size:1em;}
	.cat_selection .cat_display {padding:17px 0;}
	.searchbox:before {top:0;background-size:450px 450px; background-position:-405px 7px;}
	.searchbox .search-suggestion-box {top:51px;}
	.searchbox .search-suggestion-box h3 {font-size: 13px;text-align: left;padding: 15px 20px 3px;margin: 0;font-weight: bold;}
	.cat_selection .search-suggestion-box li a {font-size:.9em !important;}

.cat_selection .cat_display{padding:17px 20px 17px 10px;}
.home .submit-post.fright {float:inherit;margin-left:0;}
.add-product, .add-quotation {font-size:1.2em; min-width:200px; padding:15px; min-width:210px; box-shadow:0 0 0 1px rgba(0,0,0,.2), 0 0 20px rgba(0,0,0,.2); margin-right:15px;background:#FF6C00 !important;color:#FFF!important;}

	
.featurebar { box-shadow: 0 0 0 1px rgba(0,0,0,0.1);margin-bottom: 10px; }
.featurebar li {display:inline-block; width:25%; margin-left:-4px; box-sizing:border-box; font-size:1.2em; font-weight:300; color:#1C75BC; border-bottom:3px solid rgba(0,0,0,0);}
	.featurebar li a {display:block; width:100%; color:inherit; padding:20px 12px 18px; }
	.featurebar li:hover {color:#444;transition:.3s; border-bottom:3px solid #333;}
	.featurebar li:first-child {border-left-width:0px;}
	.featurebar ico {opacity:.2; margin:-3px 20px 0 5px; -webkit-transform:scale(1.5, 1.5); -ms-transform:scale(1.5, 1.5); transform:scale(1.5, 1.5)}
	.featurebar li:hover ico {opacity:.6;}

.kategoribox {padding:10px 0; background:none; border-radius: 3px; margin-bottom:0;}
	.kategoribox li {float:left; display:inline-block; width:25%; box-sizing:border-box; font-size:.9em; font-size:1em; text-transform: capitalize;}
	.kategoribox li a {padding:5px 5px 5px 12px; display:block; height:16px; color:#333;}
		.kategoribox li a:hover {color:#111;}
		.kategoribox ico {opacity:.6; -webkit-transform:scale(1.1, 1.1); -ms-transform:scale(1.1, 1.1); transform:scale(1.1, 1.1)}
		.kategoribox li:hover ico {opacity:1;}

/*.event-banner {margin:5px 0; text-align:center; padding:0 0 10px; }*/
.event-banner {    width: 1080px;margin:10px auto;text-align:center; padding:0; }
	.event-banner img {margin:0 20px; box-shadow:0 0 0 1px rgba(0,0,0,.1)}
		
.new-list {margin-bottom:40px;}
.new-list > .w50 > div {background:none; box-shadow:0 0 0px rgba(0,0,0,.1); min-height: 50px; margin-right:20px; position: relative; }
	.new-list > .w50:nth-child(2) > div {margin:0 0 0 20px;}
	.new-list .title {text-align:center; font-size:1.4em; padding: 15px 0; color:#666;}
		.new-list .title a {color:#666;}
	.new-list .gallery {height:384px; }
	.new-list .gallery > div > div, .new-list .thumb-gallery > div > div {box-shadow: 0 0 0 1px #DDD}
	.new-list img {max-width: 98%; max-height: 98%; }
	.new-list .product-info {padding:20px 0px 30px 0px; height:150px;}
		.new-list .harga {font-size:1.3em; padding: 5px 14px 5px 0;}
			.new-list .harga {}
		.new-list .product-info .w40 center {width:70%; margin:30px auto 0;}
		.new-list .product-info .w40 hr {margin:20px 0;}
	.new-list .product-desc {font-size:12px; color:#666; line-height: 1.3em; height:60px; overflow: hidden;}
	.new-list div.data_title {margin-bottom:20px;}
		
.thumb-gallery {height:384px; }
	.thumb-gallery .w50 {cursor:pointer;}    
	.thumb-gallery .imgbox {box-shadow: 0 0 0 1px #DDD; transition:.3s;	}
	.thumb-gallery .imgbox:hover {box-shadow:0 0 0 5px #FFF, 0 0 0 6px rgba(0,0,0,.4), 0 8px 8px rgba(0,0,0,.2), 7px 7px 5px rgba(0,0,0,.1); z-index:2;} 
	.selected .imgbox {opacity:1; background:#F6F6F6}
		.selected .imgbox img {opacity:.7;}
		.selected .imgbox:before {content:''; position:absolute; z-index:1; width:98%; height:98%; background:rgba(246,246,246,.6); left:0; top:0;right: 0;bottom: 0;margin: 0 auto;}
		.selected .imgbox:hover {box-shadow:0 0 0 5px #F6F6F6, 0 0 0 6px rgba(0,0,0,.4), 0 8px 8px rgba(0,0,0,.2), 7px 7px 5px rgba(0,0,0,.1);}
		.selected .imgbox:hover:before {width:100%; height:100%;}
		
/*.feature-box { height:275px; margin-bottom:20px; padding-top:20px;}*/
	.feature-box { margin-bottom:20px; padding-top:20px;}
	.feature-box li .text-container {padding:30px 20px 40px 110px;}
	.feature-box .title {color: #4b669c;font-weight: 300; font-size:2.5em; margin-left:-80px; margin-bottom: 20px;
    line-height: 1.2em;}
	.feature-box .title ico {-webkit-transform:scale(2, 2); -ms-transform:scale(2, 2); transform:scale(4, 4); opacity: .2; margin-right:60px;}
	.feature-box p {color:#666; line-height: 1.4em; font-weight: 300;  height:75px; overflow:hidden;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;text-overflow: ellipsis;}
	.feature-box img {width:100%;}
	.feature-box .w50 {background-size: auto; background-position:center; background-repeat:no-repeat;}
	.feature-box .feature-event{ font-size: 17px; color: #ccc;}
	.feature-box .feature-date{ font-size: 15px; color: #ccc; margin-bottom: 5px}

/* text content */
	.textcontent {margin-top:70px;color: #666;line-height: 1.4em;font-weight: 300;}


/* new req */
.new-req{margin-bottom: 40px;}
.new-req .title{text-align: center;font-size: 1.4em;padding: 15px 0;color: #666;}
.new-req .title a{color: #666;}
.new-req-list{border:1px solid #ddd;background: #fff;border-bottom: none;}
.new-req-list li{padding:20px;border-bottom: 1px solid #ddd;}
.new-req-list .data_title{font-weight: bold;line-height: 20px;height: 40px;overflow: hidden;width: 35%;float: left;}
.new-req-list .harga{width: 23%;float:left;font-size: 22px;text-align: center;margin:7px;}
.new-req-list .date_offers{width: 17%;float:left;margin:16px 0;}
.new-req-list .seller-info{border:none;height: auto;padding: 0;float: left;width: 23%;font-size: 0.8em;margin-top:2px;}
.new-req-list .membership {float: left;position: relative;margin-right: 5px;top: -1px;}
.new-req-list .seller-name {max-height: 40px!important;height: auto!important;margin:0 0 2px;}
.new-req-list .lokasi {color: #666;}
.new-req-list .product-desc{margin-top:15px;}
.new-req-list .product-desc p{line-height: 20px;float: left;width: 75%;}
.new-req-list .product-desc .button{float:right;width: 25%;text-align: center;}

/* Faisal Trade Offers*/
	.to-list {float:left;display: block;margin-bottom:20px;}
	.to-list li{margin-bottom:5px;}
	.to-list2 {height:510px;}
	.to-list2 li{border:1px solid #DDD;padding:15px;height:135px;background:#FFF;}
	.new-to-wrap{padding:15px;margin-right:5px;border:1px solid #DDD;background:#FFF;}
	.to-list .new-to-wrap:nth-child(2n){margin-right:0;}
	.to-list li:last-child{margin-bottom:0;}
	.to-list-l{width:59%;padding-right:19px;float:left;}
	.to-list-l h4{color:#000 !important;font-size:13px;padding:0;margin:0;margin-bottom:10px; white-space: nowrap;width:328px;max-height:30px;overflow:hidden;text-overflow: ellipsis;}
	.to-list-l h4 a{color:#000 !important;}
	.to-list-info div{float:left;margin-bottom:10px;}
	.to-list-info div:last-child{margin-right:0;}
	.to-price{font-size:18px;color:#509C02;width: 100%;}
	.to-count{font-size:11px;color:#999;margin-right:15px;}
	.to-count span{display:block;margin-bottom:5px;}
	.to-count b{color:#555;font-size:14px;}
	.to-desc{font-size:13px;color:#555;line-height:15px;margin-bottom:0;}
	.morecontent span {display: none;}
	.to-list-r{float:left;max-width:185px;padding-left:15px;border-left:1px solid #DDD;}
	.to-seller-info {clear: both;}
	.to-seller-info .membership, .to-seller-info .verified{float:left;position:relative;margin-right:5px;top:-1px;min-height:40px;}
	.to-seller-info .membership img, .to-seller-info .verified img{width:25px;height:25px;}
	.to-seller-info .seller-name{font-size:13px;color:#555;font-weight:500;}
	.to-seller-info .lokasi{font-size:11px;color:#999;float:left;}
	.to-seller-info .seller-name{margin:0 0 5px;float:left;}
	.to-list-r .btn{margin:10px 0 0;}
	.other-newreq{font-size:14px;text-align:right;color:#666;float:right;}
	.other-newreq:hover {color: #444;transition: .3s;border-bottom: 2px solid #333;}

/*Icon Membership and Verified*/
.membership {position:relative;}
.membership img, .verified img{width:25px;height:25px;}
.membership span, .verified span{font-size:11px;padding:5px;background:#FF6C00;color:#FFF;position:absolute;bottom:-20px;left:-71px;width:200px;text-align:center;border-radius: 5px;transition:.3s;opacity:0;}
.membership:hover span{opacity:1;}
.verified:hover span{opacity:1;}


/*Notif*/
.notif-notactived {position:fixed; bottom:45px; left:25px;background:#2266cc;color:#fff;padding:10px;width:240px;text-align:center;line-height:15px;z-index:2001;}
.notif-notactived .close{position:absolute;right:-10px;top:-10px;border-radius:30px;color:#FFF;display:inline-block;font-weight:bold;background:#2266cc;width:20px;height:20px;text-align:left;font-size:19px;font-family:cursive;border-bottom:1px solid #FFF;border-left:1px solid #FFF;}
.notif-notactived .close ico{margin:0 !important;color:#FFF;filter: invert(100%);
-webkit-filter: invert(100%);opacity:1}
.notif-notactived .btn{border:0;padding:5px 10px;}

.footblog {display: none;}

@media screen and (min-width: 1371px)	{
	.search-container .logo {margin-right: -10px}
}


