@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,500);

*{margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}

#in-lndpg-content{
	font:15px/28px 'Roboto', sans-serif;
	color:#4c4b4b;
	padding-top:50px;
}

h1,h2,h3,h4,h5,h6,p{margin:0;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}

ul{
	list-style: none;
}
.con:before,.con:after{
	content:"";
	display:table;
	line-height:0;
	height:0;
}
.con:after{
	clear:both;
}
.clear{
	clear:both;
}
.wrapper{
	width:1200px;
	margin:0 auto;
	position:relative;
}
.in-lgclr1{color:#fc6000;}
.in-lgclr2{color:#2266cc;}

.lndpg-hts-onel li i,.lndpg-hts-oner i,.lndpg-tutor-hts-step span,.tutor-step-member u,.tutor-step-nonmember u,.lndpg-hts-onel .lndpg-hts-onel-accent,.lndpg-hts-content i{
	background:url(../images/lndpg/in-lndpg-hts-sprites.jpg) no-repeat;
}
.lndpg-htb-one li u, .lndpg-htb-one-accent, .lndpg-htb-content h2 i{
	background:url(../images/lndpg/in-lndpg-htb-ico-sprites.png) no-repeat;
}
.lndpg-htup-content i,.lndpg-tutor-htup-step span,.lndpg-htup-one li u,.lndpg-htup-one-accent{
	background:url(../images/lndpg/in-lndpg-htup-sprites.jpg) no-repeat;
}
.htr-img-top,.lndpg-tutor-htr-step span{
	background:url(../images/lndpg/in-lndpg-htr-sprites.jpg) no-repeat;
}
.lndpg-sthx-info i,.lndpg-sthx-one li u,.lndpg-sthx-one-accent,.lndpg-suggest .in-confirm-info u{
	background:url(../images/lndpg/in-lndpg-sthx-sprites.png) no-repeat;
}


.in-lndpg-btn:hover{
	box-shadow:0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 0 50px rgba(0, 0, 0, 0) inset;
	transition:all 0.3s ease 0s;
}

.in-lndpg-top{
	padding:70px 0;
	position:relative;
}
.in-lndpg-img{
	position:absolute;
	top:0;
	right:0;
}
.lndpg-top-content{
	margin-left:70px;
}
.lndpg-top-content h2{
	font-size:42px;
	color:#fc6000;
	line-height:60px;
	position:relative;
	margin:0 0 65px;
}
.lndpg-htb-content h2{
	margin:0 0 90px;
}
.lndpg-htr-content h2{
	z-index:1;
}
.lndpg-top-content h2 span{
	color:#154da2;
}
.lndpg-top-content h3{
	font-size:18px;
}

.lndpg-sthx-content{
	margin:0 auto;
	width:650px;
	padding:20px 100px;
	text-align:center;
	border:1px solid #dedede;
	background:rgba(248,248,248,0.8);
}
.lndpg-sthx-content h2{
	font-size:26px;
	font-weight:normal;
	padding:0 50px 20px;
	border-bottom:1px solid #e0e0e0;
	line-height:normal;
	margin:0;
}
.lndpg-sthx-info{
	padding:20px 55px 0;
	border-top:1px solid #fafafa;
}
.lndpg-sthx-info i{
	float:left;
	width:80px;
	height:44px;
	background-position:0 -408px;
}
.lndpg-sthx-info p{
	float:left;
	margin-left:10px;
	font-size:16px;
}
.lndpg-sum-content
{
	margin-left:125px;
}
.lndpg-sum-content h2{
	color:#2266cc;
	font-size:42px;
	line-height:60px;
	position:relative;
	margin:0 0 40px;
}
.lndpg-sum-content h3{
	font-weight: 300;
	color: #333;
	line-height: 30px;
}
.lndpg-sum-content h2 span {
    color: #fc6000;
}
.lndpg-sum-info {
    padding: 20px 55px 0;
}
.lndpg-sum-info p {
    float:center;
    margin-left:10px;
    font-size:24px;
}
.lndpg-hts{
	background:url(../images/lndpg/in-lndpg-hts-repeat.png) 0 0 repeat-x;
	padding:75px 0 33px;
	border-bottom:1px solid #e6e6e6;
}
.hts-img-top{
	width:487px;
	height:375px;
	background:url(../images/lndpg/in-lndpg-hts-banner.jpg) no-repeat;
}
.lndpg-htup,.lndpg-htb{
	background:url(../images/lndpg/in-lndpg-htup-repeat.jpg) 0 0 repeat-x;
	padding:75px 0 95px;
}
.lndpg-sthx{
	background-position: center;
    background-size: cover;
}
.lndpg-sum{
	background:#f9f2ea;
	padding:90px 0 100px;
}
.lndpg-htr{
	background:#f0f0f0;
	padding:75px 0 100px;
}
.lndpg-htb{
	padding:75px 0 165px;
}
.lndpg-ld{
	padding:141px 0 116px;
	background:#28489b;
}
.htb-img-top{
	width:573px;
	height:436px;
	background:url(../images/lndpg/in-lndpg-htb-banner.jpg) no-repeat;
}
.htup-img-top{
	width:506px;
	height:299px;
	background:url(../images/lndpg/in-lndpg-htup-banner.png) no-repeat;
	top:60px;
	right:100px;
}
.htr-img-top{
	width:961px;
	height:438px;
	background-position:0 -3329px;
}
.sum-img-top{
	width:620px;
	height:440px;
	background:url(../images/lndpg/in-lndpg-sum-banner.jpg) no-repeat;
}
.ld-img-top{
	width:854px;
	height:410px;
	background:url(../images/luckydraw/in-ld-banner.jpg) no-repeat;
}
.lndpg-htup-content i{
	position:absolute;
	left:340px;
	top:-6px;
	width:117px;
	height:53px;
	background-position:-518px -3831px;
}
.lndpg-hts-content i{
	position:absolute;
	left:335px;
	top:-10px;
	width:84px;
	height:60px;
	background-position:-845px -3307px;
}
.lndpg-hts-content h3{
	color:#333;
}
.lndpg-htb-content h3{
	color:#154da2;
}
.lndpg-htb-content h2 i{
	display:inline-block;
	width:85px;
	height:60px;
	background-position:-5px -502px;
}
.lndpg-htr-content h2 i{
	display:inline-block;
	width:85px;
	height:62px;
	background:url(../images/lndpg/in-lndpg-htr-ico.png) no-repeat;
}
.lndpg-ld-content{
	margin-left:35px;
}
.lndpg-ld-content h2{
	color:#FFF;
	font-weight:300;
	font-size:52px;
	z-index:1;
	margin-bottom:25px;
}
.lndpg-ld-content h3{
	color:#FFF;
	font-weight:300;
	font-size:23px;
	position:relative;
	z-index:1;
	line-height:34px;
}
.in-lndpg-one{
	padding:40px 0;
}


.lndpg-hts-one{
	background:#fff;
	border-top:50px solid #f8f8f8;
}
.lndpg-hts-onel{
	float:left;
	width:960px;
	position:relative;
}
.lndpg-hts-onel li{
	float:left;
	width:240px;
	text-align:center;
	margin:0 0 70px;
	line-height:18px;
}
.lndpg-hts-onel li i{
	display:block;
	margin:0 auto 25px;
	width:126px;
	height:116px;
}
.lndpg-hts-onel .in-member{
	color:#2266cc;
	font-size:13px;
}
.lndpg-hts-onel li:nth-child(2) i{
	background-position:0 -3307px;
}
.lndpg-hts-onel li:nth-child(3) i{
	background-position:-126px -3307px;
}
.lndpg-hts-onel li:nth-child(4) i{
	background-position:-252px -3307px;
}
.lndpg-hts-onel li:nth-child(6) i{
	background-position:-378px -3307px;
}
.lndpg-hts-onel li:nth-child(7) i{
	background-position:-504px -3307px;
}
.lndpg-hts-onel li:nth-child(8) i{
	background-position:-630px -3307px;
}
.lndpg-hts-onel .in-member-info{
	color:#999;
	font-size:11px;
	line-height:17px;
	margin:40px 0;
}
.lndpg-hts-onel .in-member-info h4{
	color:#2266cc;
	font-size:15px;
	line-height:22px;
	margin:0 0 10px;
}
.lndpg-hts-onel .in-nonmember{
	color:#fc6000;
	font-size:13px;
}
.lndpg-hts-onel .in-nonmember-info h4{
	color:#fc6000;
	font-size:15px;
	margin-top:40px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent{
	position:absolute;
	width:52px;
	height:15px;
	top:50px;
	background-position:-845px -3367px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent1{
	left:210px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent2{
	left:460px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent3{
	left:700px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent4{
	left:950px;
	top:65px;
	-ms-transform:rotate(40deg);
	-webkit-transform:rotate(40deg);
	transform:rotate(40deg);
}
.lndpg-hts-onel .lndpg-hts-onel-accent5{
	top:295px;
	left:210px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent6{
	top:295px;
	left:460px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent7{
	top:295px;
	left:700px;
}
.lndpg-hts-onel .lndpg-hts-onel-accent8{
	top:285px;
	left:950px;
	-ms-transform:rotate(-40deg);
	-webkit-transform:rotate(-40deg);
	transform:rotate(-40deg);
}
.lndpg-hts-oner{
	float:left;
	margin:115px 0 0 85px;
	color:#2266cc;
}
.lndpg-hts-oner i{
	width:90px;
	height:100px;
	display:block;
	margin:0 auto 20px;
	background-position:-756px -3307px;
}


.in-lndpg-join{
	font-size:18px;
	text-align:center;
}


.lndpg-join-hts li{
	float:left;
	width:50%;
	text-align:center;
}
.lndpg-join-hts a.in-lndpg-btn{
	display:block;
	width:225px;
	margin:20px auto 0;
}


.lndpg-htb-one{
	background:#2367cc url(../images/lndpg/in-lndpg-htb-banner2.jpg) center top no-repeat;
}
.lndpg-htb-one ul,.lndpg-htup-one ul{
	padding:0 45px;
	color:#FFF;
}
.lndpg-htb-one li,.lndpg-htup-one li{
	width:275px;
	text-align:center;
	line-height:24px;
	float:left;
}
.lndpg-htb-one li u,.lndpg-htup-one li u{
	display:block;
	margin:0 auto 25px;
	width:126px;
	height:116px;
}
.lndpg-htb-one li:nth-child(1) u{
	background-position:0 -3px;
}
.lndpg-htb-one li:nth-child(2) u{
	background-position:-1px -127px;
}
.lndpg-htb-one li:nth-child(3) u{
	background-position:-3px -250px;
}
.lndpg-htb-one li:nth-child(4) u{
	background-position:-15px -378px;
}
.lndpg-htb-one-accent{
	position:absolute;
	width:60px;
	height:20px;
	background-position:-5px -585px;
	top:50px;
}
.lndpg-htb-one-accent1{
	left:310px;
}
.lndpg-htb-one-accent2{
	left:590px;
}
.lndpg-htb-one-or{
	position:absolute;
	left:860px;
	font-size:24px;
	color:#FFF;
	top:50px;
}


.lndpg-htup-one{
	background:#fff;
	border-bottom:1px solid #e6e6e6;
}
.lndpg-htup-one li u{
	margin:0 auto;
	width:129px;
}
.lndpg-htup-one li:nth-child(1) u{
	background-position:0 -3815px;
}
.lndpg-htup-one li:nth-child(2) u{
	background-position:-129px -3815px;
}
.lndpg-htup-one li:nth-child(3) u{
	background-position:-259px -3815px;
}
.lndpg-htup-one li:nth-child(4) u{
	background-position:-388px -3815px;
	width:130px;
}
.lndpg-htup-one-accent{
	position:absolute;
	width:46px;
	height:16px;
	background-position:-518px -3815px;
	top:50px;
}
.lndpg-htup-one-accent1{
	left:319px;
}
.lndpg-htup-one-accent2{
	left:598px;
}
.lndpg-htup-one-accent3{
	left:872px;
}
.lndpg-htup-one h3{
	color:#2266cc;
	font-size:18px;
	margin:25px 0;
}
.lndpg-htup-one p{
	color:#333;
	font-size:16px;
}


.lndpg-sthx-one .wrapper{
	width:930px;
	text-align:center;
	padding:0;
}
.lndpg-sthx-one h3{
	color:#333;
	margin:0 0 30px;
}
.lndpg-sthx-one li{
	width:290px;
	float:left;
	margin:0 10px;
	color:#2266cc;
}
.lndpg-sthx-one li u{
	display:block;
	width:129px;
	height:120px;
	margin:0 auto 15px;
}
.lndpg-sthx-one li:nth-child(1) u{
	background-position:0 0;
}
.lndpg-sthx-one li:nth-child(2) u{
	background-position:0 -130px;
}
.lndpg-sthx-one li:nth-child(3) u{
	background-position:0 0 -254px;
}
.lndpg-sthx-one-accent{
	position:absolute;
	width:52px;
	height:15px;
	background-position:-78px -387px;
	top:110px;
}
.lndpg-sthx-one-accent1{
	left:290px;
}
.lndpg-sthx-one-accent2{
	left:605px;
}

.lndpg-sum-one .wrapper{
	width:930px;
	text-align:center;
	padding:0;
}
.lndpg-sum-one h3{
	color:#333;
	margin:0 0 30px;
	font-size:24px;
}
.lndpg-sum-one ul{
	margin:57px 0 47px 0;
}
.lndpg-sum-one li{
	width:195px;
	float:left;
	margin:0 10px;
	color:#2266cc;
}
.lndpg-sum-one li:last-child{
	width:265px;
}
.lndpg-sum-one li a{
	display:block;
	height:120px;
	margin:0 auto 15px;
	color:#2266cc;
	font-size:17px;
}
.lndpg-sum-one li a:last-child{
	display:block;
	height:120px;
	margin:0 auto 15px;
}
.lndpg-sum-one li a i{
	background:url(../images/lndpg/in-lndpg-sum-sprites.jpg) no-repeat;
	width:77px;
	height:74px;
	display:block;
	margin:0 auto 23px;
}
.lndpg-sum-one li:nth-child(1) a i{
	background-position:0 0;
}
.lndpg-sum-one li:nth-child(2) a i{
	background-position:-76px 0;
}
.lndpg-sum-one li:nth-child(3) a i{
	background-position:-152px 0;
}
.lndpg-sum-one li:nth-child(4) a i{
	background-position:-228px 0;
}
.lndpg-ld-one .wrapper{
	width:930px;
	text-align:center;
	padding:0;
}
.lndpg-ld-one .wrapper .in-confirm-info{
	font-size:17px;
	margin-top:47px;
}
.lndpg-ld-one .wrapper .in-lndpg-btn{
	padding: 10px 55px 12px;
	margin:55px 0 50px;
}
.in-lndpg-join .in-lndpg-btn{
	border:0;
	font-size:15px;
	box-shadow:none;
	margin-left:20px;
}
.lndpg-ld-win{
	width:1030px;
    margin:0 auto;
    text-align:center;
}
.lndpg-ld-win li{
	width:317px;
    float:left;
    margin:13px;
}
.lndpg-ld-win li p{
	margin-bottom:10px;
}
.lndpg-ld-win li img{
	border:1px solid #ececec;
	border-radius:5px;
}
.lndpg-ld-two{
	background:#eeecec;
}
.lndpg-ld-stripper li{
	float:left;
	width:20%;
	height:11px;
}
.lndpg-ld-stripper li:nth-child(1){
	background:#2266cc;
}
.lndpg-ld-stripper li:nth-child(2){
	background:#2c84e9;
}
.lndpg-ld-stripper li:nth-child(3){
	background:#3aaaf5;
}
.lndpg-ld-stripper li:nth-child(4){
	background:#2266cc;
}
.lndpg-ld-stripper li:nth-child(5){
	background:#2c84e9;
}
.lndpg-ld-wrap{
	width:1050px;
	margin:55px auto;
}
.lndpg-ld-wrap h4{
	color:#333333;
	font-size:18px;
	margin-bottom:35px;
}
.lndpg-ld-wrap ol{
	list-style:decimal;
	font-size:14px;
	color:#333333;
	margin:0 0 35px 21px;
}
.lndpg-ld-wrap ol li>ul{
	margin-left:20px;
}

.in-lndpg-tutor{
	padding-top:75px;
}
.lndpg-tutor-title{
	text-align:center;
	color:#333;
	font-size:24px;
	line-height:36px;
}
.lndpg-tutor-step{
	margin:70px 0 0 90px;
}
.lndpg-tutor-step li{
	margin:0 0 50px;
}
.lndpg-tutor-step p{
	font-weight:bold;
	font-size:16px;
	color:#333;
}
.lndpg-tutor-step .in-lndpg-btn{
	font-size:15px;
	box-shadow:none;
	border:none;
	padding:5px 20px;
	margin:0 15px;
}
.lndpg-tutor-step b{
	width:32px;
	height:32px;
	float:left;
	background:url(../images/lndpg/in-lndpg-tutornumber.jpg) no-repeat;
	margin:0 30px 50px 0;
}
.lndpg-tutor-step span{
	width:930px;
	display:block;
	margin:20px 0 20px 60px;
}


.lndpg-tutor-hts-step .tutor-step1 span{
	background-position:0 0;
	height:498px;
}
.lndpg-tutor-hts-step .tutor-step-member span{
	background-position:0 -498px;
	height:1168px;
}
.lndpg-tutor-hts-step .tutor-step-nonmember span{
	background-position:0 -1666px;
	height:548px;
}
.lndpg-tutor-hts-step .tutor-step3 .step-img1{
	background-position:0 -2214px;
	height:539px;
}
.lndpg-tutor-hts-step .tutor-step3 .step-img2{
	background-position:0 -2752px;
	height:555px;
}


.lndpg-tutor-htb-step span{
	background:url(../images/lndpg/in-lndpg-htb-sprites.jpg) no-repeat;
}
.lndpg-tutor-htb-step .tutor-step1 span{
	background-position:0 0;
	height: 540px;
}
.lndpg-tutor-htb-step .tutor-step2 span{
	background-position:0 -540px;
	height:620px;
}
.lndpg-tutor-htb-step .tutor-step3 span{
	background-position:0 -1160px;
	height:540px;
}


.lndpg-tutor-htup-step span{
	background:url(../images/lndpg/in-lndpg-htup-sprites.jpg) no-repeat;
	height:475px;
	width:929px;
}
.lndpg-tutor-htup-step .tutor-step2 .step-img1{
	background-position:0 0;
	margin-bottom: 40px;
}
.lndpg-tutor-htup-step .tutor-step2 .step-img2{
	background-position:0 -477px;
	margin-bottom: 40px;
}
.lndpg-tutor-htup-step .tutor-step2 .step-img3{
	background-position:0 -954px;
}
.lndpg-tutor-htup-step .tutor-step3 .step-img1{
	background-position:0 -1431px;
	margin-bottom: 40px;
}
.lndpg-tutor-htup-step .tutor-step3 .step-img2{
	background-position:0 -1908px;
	margin-bottom: 40px;
}
.lndpg-tutor-htup-step .tutor-step4 span{
	background-position:0 -2385px;
}
.lndpg-tutor-htup-step .tutor-step5 .step-img1{
	background-position:0 -2862px;
	margin-bottom: 40px;
}
.lndpg-tutor-htup-step .tutor-step5 .step-img2{
	background-position:0 -3339px;
}


.lndpg-tutor-htr-step .tutor-step1 span{
	background-position:0 2px;
	height:540px;
}
.lndpg-tutor-htr-step .tutor-step2 span{
	background-position:0 -538px;
	height:565px;
}
.lndpg-tutor-htr-step .tutor-step3 span{
	background-position:0 -1104px;
	height:507px;
}
.lndpg-tutor-htr-step .tutor-step4 span{
	background-position:0 -1613px;
	height:524px;
}
.lndpg-tutor-htr-step .tutor-step5 span{
	background-position:0 -2138px;
	height:1190px;
}

.lndpg-tutor-step .tutor-step1 b{
	background-position:0 0;
}
.lndpg-tutor-step .tutor-step2 b{
	background-position:-32px 0;
}
.lndpg-tutor-step .tutor-step3 b{
	background-position:-64px 0;
}
.lndpg-tutor-step .tutor-step4 b{
	background-position:-96px 0;
}
.lndpg-tutor-step .tutor-step5 b{
	background-position:-128px 0;
}
.lndpg-tutor-step .tutor-step6 b{
	background-position:-160px 0;
}
.lndpg-tutor-step .tutor-step7 b{
	background-position:0 -32px;
}
.lndpg-tutor-step .tutor-step8 b{
	background-position:-32px -32px;
}
.lndpg-tutor-step .tutor-step9 b{
	background-position:-64px -32px;
}
.lndpg-tutor-step .tutor-step10 b{
	background-position:-96px -32px;
}
.lndpg-tutor-step .tutor-step11 b{
	background-position:-128px -32px;
}


.tutor-step-member p,.tutor-step-nonmember p{
	margin:20px 0 20px 60px;
}
.tutor-step-member u,.tutor-step-nonmember u{
	float:left;
	margin:7px 10px 0 0;
}


.tutor-step-member u{
	width:18px;
	height:14px;
	background-position:-897px -3367px;
}
.tutor-step-nonmember u{
	width:15px;
	height:15px;
	background-position:-897px -3381px;
}


.lndpg-tutor-step .tutor-notice{
	font-size:12px;
	color:#fc6000;
	margin-left:60px;
	font-weight:normal;
	font-style:italic;
	line-height:18px;
}


.lndpg-suggest{
	text-align:center;
	font-size:24px;
	color:#333;
	line-height:36px;
}
.lndpg-suggest h3{
	font-size:18px;
	color:#333;;
}
.lndpg-suggest .in-confirm-info{
	font-size:16px;
	margin:30px 0 50px;
	line-height:24px;
}
.lndpg-suggest .in-confirm-info span{
	display:block;
	color:#fc6000;
	font-weight:bold;
	margin-top:20px;
	font-size:18px;
}
.lndpg-suggest .in-confirm-info u{
	width:17px;
	height:17px;
	display:inline-block;
	background-position:-2px -469px;
	margin:0 3px;
	vertical-align:middle;
}
.lndpg-suggest .in-confirm-info a,.lndpg-suggest .in-confirm-help a{
	text-decoration:underline;
	color:#2266cc;
}
.lndpg-suggest .in-confirm-help{
	font-size:15px;
	line-height:28px;
	padding:30px 0;
	background:#f2f2f2;
	border:1px solid #dedede;
}

.lndpg-suggest .in-lndpg-btn{
	border:0;
	font-size:15px;
	box-shadow:none;
	margin-top:30px;
}

.lndpg-sum-help .in-confirm-help{
	font-size:17px;
	line-height:28px;
	padding:30px 0;
	background:rgba(0,0,0,0);
	border:none;
}

.lndpg-tnt{
	padding:81px 0;
	background: #fbfcfc;
}
.lndpg-tnt-content {
	position:relative;
	z-index:100;
}
.lndpg-tnt-content p{
	font-size:18px;
	font-weight:bold;

}
.tnt-img-top{
	background: url(../images/lndpg/in-lndpg-tnt-banner.jpg) no-repeat;
	width:735px;
	height:375px;
}
.lndpg-tutor-tnt-step div{
	width:915px;
	background:#FFF;
	border:1px solid #e9e9e9;
	padding:20px;
	margin:15px 0 0 50px;
}
.lndpg-tutor-tnt-step div i{
	width:155px;
	height:155px;
	background: url(../images/lndpg/tnt-step-icon.jpg) no-repeat;
	float:left;
}
.lndpg-tutor-tnt-step div p{
	padding:30px 0 0 185px;
	text-align:justify;
	font-size:16px;
	font-weight:500;
}
.tutor-step1 div i{background-position:0 0;} .tutor-step2 div i{background-position:-163px 0;} .tutor-step3 div i{background-position:-325px 0;} .tutor-step4 div i{background-position:-485px 0;} .tutor-step5 div i{background-position:-646px 0;} .tutor-step6 div i{background-position:-805px 0;}
.note-red{
	color:#fc6000;
	font-size:12px;
	margin-left:100px;
	font-style:italic;
}

.buyer-img-top{
	background: url(../images/lndpg/lpbuyer-banner.jpg) no-repeat;
	background-position:center;
	width:100%;
	height:429px;
}
.lndpg-buyer {padding: 75px 0 155px;}
.lndpg-top-buyer-content {z-index: 999;position:relative;text-align: center;}
.lndpg-top-buyer-content h2{line-height:45px;font-size:48px;margin-bottom:25px;}
.lndpg-top-buyer-content p{font-weight:300;font-size:30px;text-shadow:0.5px 1px 1px #000;color:#010101;}
.lndpg-buyer-mid-content {background:#3f9dc2;margin-bottom: -63px;padding-bottom:40px;line-height:45px;}
.lndpg-buyer-mid-content .wrapper{width:1020px;}
.lbm-content-l {color:#FFF;font-size:40px;line-height:auto;}
.lbm-content-l h4{font-size:40px;color:#FFF;}
.lbm-content-l ul{list-style:inherit;font-size:33px;line-height:38px;padding-left:40px;margin:40px 0 90px;}
.lbm-content-l p{line-height:40px;margin-bottom:30px;}
.step-promotion-buyer{background: url(../images/lndpg/3step-pormotion-buyer.png) no-repeat;
	background-position:center;width:472px;height:434px;display:block;}
.lbm-content-r .form-box{border:2px solid #FFF;padding:25px;position:relative;color:#FFF;font-size:18px;font-weight:100;margin-left:15px;line-height:normal;}
.lbm-content-r .form-box h4{color:#FFF;font-size:24px;position:absolute;top:-20px;left:0;right:0;display: inline-block;margin:0 auto;padding:5px 10px;background:#3f9dc2;text-align:center;width:300px;}
.lbm-content-r .form-box a{color:#FFF;}
.lbm-content-r .form-box input[type=text],.lbm-content-r .form-box select{border:none;padding:10px 20px;border-radius:0;font-style:italic;height:40px;}
.lbm-content-r .form-box select{color:#333;font-size:17px;}
.lbm-content-r .form-box #country{background:#79bbd4;color:#333;}
.lbm-content-r .form-box .colfix{margin-bottom:15px;margin-top:0;}
.lbm-content-r .form-box small{font-size:14px;font-style:italic;}
.lbm-content-r .form-box input[type=checkbox]{width:18px;height:18px;background:#FFF;border:none;}
.lbm-content-r .form-box .btn-sbmt{background: rgba(253,179,99,1);background: -moz-linear-gradient(top, rgba(253,179,99,1) 0%, rgba(253,179,99,1) 50%, rgba(255,133,11,1) 51%, rgba(255,133,11,1) 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,179,99,1)), color-stop(50%, rgba(253,179,99,1)), color-stop(51%, rgba(255,133,11,1)), color-stop(100%, rgba(255,133,11,1)));background: -webkit-linear-gradient(top, rgba(253,179,99,1) 0%, rgba(253,179,99,1) 50%, rgba(255,133,11,1) 51%, rgba(255,133,11,1) 100%);background: -o-linear-gradient(top, rgba(253,179,99,1) 0%, rgba(253,179,99,1) 50%, rgba(255,133,11,1) 51%, rgba(255,133,11,1) 100%);background: -ms-linear-gradient(top, rgba(253,179,99,1) 0%, rgba(253,179,99,1) 50%, rgba(255,133,11,1) 51%, rgba(255,133,11,1) 100%);background: linear-gradient(to bottom, rgba(253,179,99,1) 0%, rgba(253,179,99,1) 50%, rgba(255,133,11,1) 51%, rgba(255,133,11,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdb363', endColorstr='#ff850b', GradientType=0 );border:1px solid #d37212;border-radius:10px;}
.lbm-content-r .form-box hr{margin-bottom:15px;}
.lbm-content-r .form-box .btn-wrap{margin-bottom:0;}
.lbm-content-r .form-box .btn-facebook,.lbm-content-r .form-box .btn-google{padding:0;background:none !important;box-shadow:none !important;cursor:pointer;border:1px solid #3f9dc2 !important;}
.lbm-content-r .form-box .btn-wrap .btn-facebook:hover{border:1px solid #2266cc !important;border-radius:5px;	}
.lbm-content-r .form-box .btn-wrap .btn-google:hover{border:1px solid #992e24 !important;border-radius:5px;}
.lbm-content-r .form-box .btn-google{margin-left: 30px}