@import url(https://fonts.googleapis.com/css?family=Roboto);

*{margin:0;padding:0;border:0;outline:0;}
body{font:13px/24px 'Roboto', sans-serif;color:#333;background:#dfdfdf;}
a{color:#4b669e;text-decoration:none;}
a:hover{color:#f85e00;text-decoration:underline;}
ul{list-style:none;}
input[type=submit]::-moz-focus-inner{padding:0;border:0;}
h1,h2,h3,h4,h5,h6,p,a,ul,li,section,div{margin:0;padding:0;}

.con:before,.con:after{content:"";display:table;line-height:0;height:0;}
.con:after{clear:both;}
.lte7 .con{zoom:1;}


/* layout grid */
.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11,.in-lg-12,.in-md-1,.in-md-2,.in-md-3,.in-md-4,.in-md-5,.in-md-6,.in-md-7,.in-md-8,.in-md-9,.in-md-10,.in-md-11,.in-md-12,.in-sm-1,.in-sm-2,.in-sm-3,.in-sm-4,.in-sm-5,.in-sm-6,.in-sm-7,.in-sm-8,.in-sm-9,.in-sm-10,.in-sm-11, .in-sm-12,.in-xs-1,.in-xs-2,.in-xs-3,.in-xs-4,.in-xs-5,.in-xs-6,.in-xs-7,.in-xs-8,.in-xs-9,.in-xs-10,.in-xs-11, .in-xs-12{float:left;position: relative;min-height: 1px;box-sizing:border-box;}
.in-lg-1{width:8.33333333%;}
.in-lg-2{width:16.66666667%;}
.in-lg-3{width:25%;}
.in-lg-4{width:33.33333333%;}
.in-lg-5{width:41.66666667%;}
.in-lg-6{width:50%;}
.in-lg-7{width:58.33333333%;}
.in-lg-8{width:66.66666667%;}
.in-lg-9{width:75%;}
.in-lg-10{width:83.33333333%;}
.in-lg-11{width:91.66666667%;}
.in-lg-12{width:100%;}


.ct-leftwrap i,.in-profit i,.in-testimonialwrap span,.tm-fill i,.tm-fill u,.tm-fill b{background:url(../images/landing/01/ads-sprite.jpg) no-repeat;}
.wrap{width:1200px;margin:0 auto;}
.content-top{background:url(../images/landing/01/ads-bg.jpg) no-repeat;background-size:cover;padding:40px 0;}
.ct-leftwrap .logo{width:125px;height:25px;text-indent:-99999px;background:url(../images/landing/01/logo.svg) no-repeat;}
.ct-leftwrap h3{font-size:30px;color:#0f3274;margin:22px 0;position:relative;}
.ct-leftwrap span{position:relative;z-index:1;}
.ct-leftwrap i{position:absolute;width:208px;height:68px;right:-20px;top:-25px;background-position:0 -140px;z-index:0;}
.ct-leftwrap h4{font-size:18px;color:#000036;margin:0 0 10px;}
.ct-leftwrap p{line-height:21px;font-size:14px;color:#555;text-align:justify;width:500px;}

.ct-rightwrap{width:480px;float:right;padding:15px;background:rgba(255,255,255,0.8);border-radius:5px;}
.in-form{background:#fff;}
.in-form h3{color:#fff;padding:15px 20px;background:#0f3074;border-radius:5px 5px 0 0;}
.in-form dl{padding:15px 15px 0;font-size:15px;}
.in-form dt{float:left;}
.in-form dd{padding:0 0 15px 130px;}
.in-form .r{background:#fff;border:1px solid #ddd;border-radius:2px;color:#555;display: inline-block;font-size:12px;padding:8px;vertical-align:middle;width:302px;}
.in-form select.r{width:321px;}
.in-form label{margin:0 20px 0 0;vertical-align:middle;}
.in-form .term{font-size:13px;line-height:normal;}
.form-btn{padding:0 15px 15px;}
.form-btn span{float:left;margin-top:20px;}
.form-btn .btn{float:right;color:#fbfbfb;font-size:14px;background:#f95e00;padding:13px 20px;border-radius:5px;}



.content-middle{padding:40px 0 20px;background:#0b55a9;color:#fff;}
.cm-leftwrap{position:relative;}
.cm-leftwrap .cm-aksen{width:20px;height:20px;position:absolute;background:#0b55a9;left:283px;top:280px;}
.in-profit{color:#fff;}
.in-profit li{float:left;width:265px;height:265px;text-align:center;padding:10px;border:1px solid #0f519d;margin:5px;}
.in-profit .profit-one{border-color:#0b55a9 #0f519d #0f519d #0b55a9;}
.in-profit .profit-two{border-color:#0b55a9 #0b55a9 #0f519d #0b55a9;}
.in-profit .profit-three{border-color:#0b55a9 #0f519d #0b55a9 #0b55a9;}
.in-profit .profit-four{border-color:#0b55a9 #0b55a9 #0b55a9 #0b55a9;}
.in-profit i{display:block;width:60px;height:75px;margin:0 auto;}
.profit-one i{background-position:0 0;}
.profit-two i{background-position:-60px 0;}
.profit-three i{background-position:-120px 0;}
.profit-four i{background-position:-180px 0;}
.in-profit h3{font-size:16px;margin:15px 0;white-space:nowrap;}

.cm-rightwrap{width:560px;height:387px;background:url(../images/landing/01/ads-webview.jpg) no-repeat;margin-top:85px;float:right;}


.content-bottom{padding:40px 0;background:#dfdfdf;}
.in-testimonialwrap{width:350px;text-align:justify;}
.in-testimonialwrap span{float:left;width:60px;height:60px;background-position:0 -75px;border:5px solid #f8f8f8;border-radius:100%;}
.in-testimonialwrap .tm-one{background-position:0 -75px;}
.in-testimonialwrap .tm-two{background-position:-65px -75px;}
.in-testimonialwrap .tm-three{background-position:-130px -75px;}
.in-testimonialwrap .tm-content{padding-left:85px;}
.tm-content .tm-fill{position:relative;padding:15px 15px 15px 35px;background:#ececec;border:1px solid #c2c2c2;margin-top:5px;border-radius:10px;min-height:213px;}
.tm-fill strong{font-weight:normal;font-style:italic;}
.tm-fill i,.tm-fill u,.tm-fill b{width:14px;height:12px;position:absolute;}
.tm-fill i{left:10px;top:15px;background-position:-195px -75px;}
.tm-fill u{right:30px;bottom:15px;background-position:-209px -75px;}
.tm-fill b{left:-9px;top:0;width:11px;background-position:-223px -75px;}

.notif, .notif-bar, .notif-bar.soft, .alert-danger, .warning {
    padding: 0;
    border: 1px solid #FDA;
    background: #FCFFC7!important;
    border-radius: 2px;
    margin-bottom: 10px;
    line-height: 1.2em;
}

form .notif-bar {
    padding: 3px 8px 5px;
}

.smaller {
    font-size: .8em !important;
}