@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

*{margin:0;padding:0;border:0;outline:0;}
body{font:14px/1.3 'Roboto', sans-serif;color:#333;background:#f8f8f8;font-weight:300;}
a{color:#06C;text-decoration:none;}
a:hover{color:#fe9901;text-decoration:underline;}
ul{list-style:none;}
input[type=submit]::-moz-focus-inner{padding:0;border:0;}
.con:before,.con:after{content:"";display:table;line-height:0;height:0;}
.con:after{clear:both;}
.lte7 .con{zoom:1;}
h1,h2,h3,h4,h5,h6,p,a,ul,li,section,div{margin:0;padding:0;}
.wrap{width:1200px;margin:60px auto;}


.in-lg-1{width:8.33333333%;} 
.in-lg-2{width:16.66666667%;} 
.in-lg-3{width:25%;} 
.in-lg-4{width:33.33333333%;} 
.in-lg-5{width:41.66666667%;} 
.in-lg-6{width:50%;} 
.in-lg-7{width:58.33333333%;} 
.in-lg-8{width:66.66666667%;} 
.in-lg-9{width:75%;} 
.in-lg-10{width:83.33333333%;} 
.in-lg-11{width:91.66666667%;} 
.in-lg-12{width:100%;}

.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11, .in-lg-12{float:left;position:relative;min-height:1px;padding:0 15px;box-sizing:border-box;}

.content-top,.agreement{padding:0;}
.content-top .ct-left{padding-left:0;}
.content-top .ct-right{padding-right:0;}

.content-top .ct-left p{width:551px;word-wrap:break-word;text-align:justify;margin:20px 0;line-height:22px;}
.ctl-title h2{font-size:30px;color:#4b669c;font-weight:300;margin-bottom:5px;}
.ctl-title h3{font-size:18px;color:#fc6000;font-weight:300;}
.ctl-img i{display:block;width:100%;height:240px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat 0px 0px;margin:70px 0;}


.ctr-content{border:1px solid #ccc;padding:40px;background:#FFF;border-radius:5px;-webkit-box-shadow:0px 0px 2px 1px rgba(204,204,204,1);-moz-box-shadow:0px 0px 2px 1px rgba(204,204,204,1);box-shadow:0px 0px 2px 1px rgba(204,204,204,1);}
.ctr-content h4{color:#4b669c;font-size:18px;font-weight:400;padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #ccc;}
.reg-form dt{float:left;padding:10px 5px;text-align:left;vertical-align:middle;width:140px;}
.reg-form dd{padding:0px 0px 20px 189px;vertical-align:middle;color:#555;}
.reg-form dd input[type="text"],.reg-form dd input[type="password"]{padding:10px;width:291px;border:1px solid #CCC;border-radius:3px;}
.reg-form dd select{padding:10px;width:314px;border:1px solid #CCC;border-radius:3px;}
.reg-form dt:nth-child(15){padding:0 5px;}
.regbutton{line-height:22px;text-align:justify;padding:0 0 0 22px;}
.regbutton input[type="submit"]{padding:12px 18px;background:#fc6000;color:#FFF;border-radius:3px;float:right;}
.regbutton input[type="submit"]:hover{opacity:0.7;cursor:pointer;}
.regbutton a{display:inline-block;}
.termconditions{margin-bottom:10px;}
.ket{vertical-align:bottom;padding-left:3px;margin:116px 0 5px;}


.content-bottom{margin:20px 0;}
.cb-top{margin-top:35px}
.cb-top div{text-align:center;}
.cb-top div b{color:#4b669c;font-size:16px;}
.cb-top div p{margin-top:15px;line-height:22px;}


.cbt-content-one .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat 0px -240px;text-align:center;}
.cbt-content-two .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat -122px -239px;text-align:center;}
.cbt-content-three .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat -245px -240px;text-align:center;}
.cbt-content-four .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat -367px -240px;text-align:center;}

.cbct-top{margin-bottom:10px;}

.hr{margin:30px 0;}
.hr hr{height:0px;background:rgba(0,0,0,.1);border:0;border-bottom:1px solid rgba(255,255,255,1);box-shadow:0 -1px 0 rgba(0,0,0,.1);}

.img-containter{padding:0;}
.image-container{position:relative;display:table;table-layout:fixed;margin:0 auto;border:1px solid #cdcdcd;width:67px;height:67px;margin:0 5px 10px;padding:4px;border-radius:50%;}
.image-container .blockimg{width:65px;height:65px;display:table-cell;vertical-align:middle;text-align:center;background:#FFF;border-radius:50%;overflow:hidden;position:relative;border:1px solid #cdcdcd;}
.image-container .blockimg i{display:block;margin:0 auto;width:65px;height:65px;overflow:hidden;;background:url('../images/landing/02/ads-sprite.jpg')no-repeat;}

.cbb-testimoni{padding-right:0;}
.cb-bottom .cbb-info{word-wrap:break-word;}
.cb-bottom .cbb-info b,span,a{display:block;}
.cb-bottom .cbb-info a{font-size:13px;}
.cbb-cpinfo{padding:0;}
.testimoni{background:#dddddd;padding:15px 15px 15px 25px;text-align:justify;line-height:22px;color:#555;border-radius:10px;margin-top:10px;border-left:1px solid #c8c8c8;border-top:1px solid #c8c8c8;min-height:198px;}
.testimoni span{display:inline-block;position:absolute;width:13px;height:15px;left:-10px;top:63px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat -520px -238px;}
.testimoni u{display:inline-block;position:absolute;width:15px;height:13px;left:5px;top:83px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat -488px -240px;}
.testimoni b{display:inline-block;position:relative;width:15px;height:13px;background:url('../images/landing/02/ads-sprite.jpg')no-repeat -505px -240px;}

.cbb-one-photo .image-container .blockimg i{background-position:-130px -358px;}
.cbb-two-photo .image-container .blockimg i{background-position:0px -358px;}
.cbb-three-photo .image-container .blockimg i{background-position:-64px -358px;}

.notif, .notif-bar, .notif-bar.soft, .alert-danger, .warning {
    padding: 0;
    border: 1px solid #FDA;
    background: #FCFFC7!important;
    border-radius: 2px;
    margin-bottom: 10px;
    line-height: 1.2em;
}

form .notif-bar {
    padding: 3px 8px 5px;
}

.smaller {
    font-size: .8em !important;
}