@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */

/* QUICK VIEW BOX */
.quickview .overthetop > .wrapper {width:900px; padding:0;}
.quickview-box {height:1000px; width:900px; margin:0 auto; display:block; background:#FFF; box-shadow:0 0 0 1px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.2); border-radius:3px 0 3px 3px; }

    .quickview-nav {position: fixed; top:70px; width:900px; }
    .quickview-nav ico {right:-31px;; position:absolute; top:0; background-color:#FFF; box-shadow: 0 0 0 1px rgba(0,0,0,.3); cursor:pointer; opacity:.7; border:5px solid #FFF; border-radius:2px; margin:0;}
        .quickview-nav ico:hover {box-shadow:0 0 0 1px #999; opacity:1;border-color:#FC0; background-color:#FC0; }
        .quickview-nav ico.close-btn {border-radius:0 3px 3px 0;}
        .quickview-nav ico.nav-right, .quickview-nav ico.nav-left {top:196px; border-width:30px 5px; border-radius: 0 5px 5px 0; }
        .quickview-nav ico.nav-left {right:inherit; left:-31px; border-radius: 5px 0 0 5px;}
    .quickview-iframe {width:100%; height:1000px;}
        /*.quickview-box:before {content:' '; width:900px; height:100%; position:absolute; z-index:1200; background:#FFF; top:0; transition:1s; transition-delay:inherit; opacity:1;}
            .quickview .quickview-box:before {opacity:0; transition-delay:2s;}*/

.breadcrump > div > ul > li:nth-child(n+5):after {content:''; display:inline-block; background: url(../images/sprite.svg) -122px -17px;
    background-size: 150px 150px; position: absolute; height: 10px; width: 10px; margin-left:7px; opacity:.5;}

/* LISTING */
.list-container {margin:0 0 20px 0; position: relative;}
    .list-container .breadcrump {}

.list-item {height:150px; position:relative; }
    .list-item h3 {font-size:1em; height:33px; word-break: break-all; overflow: hidden; color:#555; line-height:1.3em;}
    .list-item:hover h3 {color:#000;}

.listing .semirow {margin-bottom:20px; border-bottom:1px solid #FC0; padding-bottom:10px; box-shadow:0 1px 0 #FFF;}
    .row .semirow {float: right;  width: 82.3%;}

.listing .membership {float:left;position:relative;margin-right:5px;top:-1px;min-height:50px;}
.listing .submit-post {display: none}

/* GRID */
.grid .subkategori h4, .semirow .subkategori h4 {display:none;}
.grid .list-wrapper {margin-top:10px;}

.grid .list-item {width:17.65% /* 14.2% */; height:280px; box-sizing:border-box; float:left; margin:0 35px 45px 0; font-size: 0.9em; }
    .grid .list-item:nth-child(5n) {margin-right:0;}
    .grid .list-item:hover {background:#FFF; height:360px; margin-bottom:-75px; z-index:1; box-shadow:0 0 0 14px #FFF, 0 0 0 15px rgba(0,0,0,.1), 0 6px 15px 10px rgba(0,0,0,.3);}
        .grid .list-item:hover .tag {top:-12px; }
    .grid .listbox {position:relative;}
        .grid .imgbox {height:170px; box-sizing:border-box; background:#FFF; border-radius:2px; box-shadow:0 0 0 1px rgba(0,0,0,.1); }
        .grid .list-item:hover .imgbox {box-shadow:none;}
        
    .grid .product-info {padding:10px 0;}
    .grid .list-item .harga {display:block; margin:10px 0 20px;}
    
    .grid .seller-info, .grid .list-item .deskripsi {display:none; clear:both;font-size:.9em; line-height:1.4em;; }
        .grid .list-wrapper .list-item:hover .seller-info {display:block; height:63px; top:339px; border:0; border-top:1px solid #EEE; width:100%; padding:10px 14px; margin:12px 0 0 -14px; background:#FAFAFA; box-sizing:inherit;}
        .grid .seller-name, .grid .lokasi {/*display:inline-block;*/ font-weight:normal; color:#666; margin:0;}
        .grid .seller-name {max-height:30px; overflow: hidden; }
        .grid .seller-name a {font-size:1.1em;}
        .grid .lokasi {color:#888; display:block; margin-top:5px; }
        

/* SEMIROW */
    .semirow .list-item, .row .list-item { box-shadow:0 0 0 1px rgba(0,0,0,.07); border-radius:2px; float:left; width:49.3%; box-sizing: border-box; margin: 0 16px 10px 0; height:150px;  background:#FFF;}
        .semirow .list-item:nth-child(2n) {margin-right:0;}
        .semirow .list-item:hover, .row .list-item:hover {background:#FFF; border-radius:0; box-shadow:0 0 0 4px #FFF, 0 0 0 5px rgba(0,0,0,.2), 0 4px 5px 5px rgba(0,0,0,.2); height:150px;}
    .semirow .list-item .imgbox, .row .list-item .imgbox {width:150px; height:100%; float:left; margin-right:20px; box-shadow:none !important;}
    .semirow .product-info, .row .product-info {float:left; width:420px;}
    .semirow .list-item h3, .row .list-item h3 { margin:10px 0 5px;}
    .semirow .harga, .row .harga {margin:10px 0 30px;}
    .semirow .list-item .w50, .row .list-item .w50 {width:20%;}
    .semirow .tag, .semirow .list-item:hover .tag {top:2px; right:0px; }
    
    .listing.semirow .seller-info, .grid .semirow .seller-info {width: 230px; float: left; padding: 0 !important; height: inherit; position: absolute; right:20px; bottom: 25px; font-size: 0.8em; border:0 !important; margin-bottom:0 !important; display:block;}
    .semirow .seller-name {margin:0 0 2px 0;}
    .semirow .seller-info {bottom:40px;}
    .semirow .lokasi, .row .lokasi {/*clear:both;float:left;*/ margin-top:0; color:#666;}
    .semirow .list-wrapper {margin-top:10px;}

/* LISTING COMPANY */
    .listing-company .product-info {padding:10px 0 5px;} 
    .listing-company h3 { font-weight:bold;}
        .listing-company .semirow .list-item h3, .listing-company .row .list-item h3 {width:410px; margin:10px 0 5px;}
    .listing-company.grid .list-wrapper .list-item { background: #FFF; height: 350px;box-shadow: 0 0 0 1px rgba(0,0,0,.1);padding: 10px; margin: 0 20px 20px 0; text-align:center; width: 18.66%; }
        .listing-company.grid .list-wrapper .imgbox {box-shadow:none;}
        .listing-company.grid .list-wrapper .list-item:nth-child(5n) {margin-right: 0;}
        .listing-company.grid .list-wrapper .list-item:hover {box-shadow:0 0 0 5px #FFF, 0 0 0 6px rgba(0,0,0,.2), 0 11px 11px rgba(0,0,0,.2);}
        .listing-company.grid .list-wrapper .list-item .seller-info {height:inherit;}
        .listing-company.grid:not(.listing-company .semirow) .list-item:hover {height:380px;}
    .listing-company .hargabox {display:none;}
    .listing-company.grid .semirow .imgbox {margin-right:20px;}
        .listing-company .semirow .imgbox img { max-width:80%; max-height:80%;}
    .listing-company .seller-info {position:inherit!important;font-size:13px;bottom:30px;}
        .listing-company.grid .semirow .seller-info {position:absolute !important; left:170px;}
    .listing-company.semirow .seller-info, .listing-company.grid .semirow .seller-info {bottom:40px;}
    .listing-company.semirow.grid .semirow .seller-info {bottom:30px;}
    .listing-company .seller-name, .listing-company .seller-address {line-height:1.3em;}
    .listing-company.grid .seller-info, .listing-company.grid .list-item:hover .seller-info { display:block; border:0; padding: 0;font-size:.9em;}
        .listing-company.grid .list-item:hover .seller-info { margin:0; background:none;}
    .listing-company .seller-info > div {margin-bottom:2px;}
    .listing-company.semirow .harga, .listing-company.row .harga {margin: 0 0 20px;}
    .listing-company.semirow .list-wrapper .list-item {width:32.43%; margin-right: 16px; padding: 10px 0; height:180px;}
        .listing-company.semirow .list-wrapper .list-item:nth-child(3n) {margin-right:0;}
        .listing-company.semirow .list-wrapper .product-info {width:58%; padding-top: 20px;}
        .listing-company.semirow .list-wrapper .product-info h3 {width:100%; font-size:.9em;}
        .listing-company.semirow .list-wrapper .list-item .imgbox {margin-right:0;}
        .listing-company.semirow .list-wrapper .list-item .imgbox img {max-width:80%; max-height: 80%;}     
        .listing-company .tag .cc, .listing-company .tag .discount {display: none;}
.listing-company .membership {float:right;width:auto;min-height:15px;position:relative;top:10px;right:10px;}

/* LISTING REQUEST */
    .listing-request .product-info {padding:10px 0;}
    .listing-request .semirow .list-item h3, .listing-company .row .list-item h3 {width:340px; margin:10px 0 5px;}
    .listing-request.semirow .seller-info, .listing-request.grid .semirow .seller-info {bottom:inherit; top:70px;}
    .listing-request.semirow .harga, .listing-request.row .harga {margin: 0 0 20px;}
    .listing-request.grid .list-wrapper .list-item:hover .seller-info {margin-top:-8px; height:73px;}
    .listing-request.semirow .hargabox {margin: 20px 0 0 0;}
    .listing-request.grid .hargabox {margin: 0;}

/* LISTING REQUEST NEW */
    .listing-request.semirow .list-item h3 {margin:0!important}
    .listing-request .list-item {height: auto!important}
    .listing-request .product-info {float:left;padding:0;margin:20px 0 0 0;width:37%!important;}  
    .listing-request.semirow .seller-info {float:left;padding:0;margin:20px 0 0 0;width:33%!important;bottom:inherit;position:inherit;}
    .listing-request.semirow .harga, .listing-request.row .harga {float:left;margin: 0 0 20px;width:30%!important;}
    .listing-request.grid .list-wrapper .list-item:hover .seller-info {margin-top:-8px; height:73px;}
    .listing-request.semirow .hargabox {float:left;padding:0;margin: 20px 0 0 0;width:30%!important;}
    .listing-request.grid .hargabox {margin: 0;}

/* LISTING KATALOG ANDA */
.kirim .detail-permintaan {margin-top:20px;}
.kirim .list-wrapper .list-item {width:18.46%; position: relative; height:310px; float:left; margin:0 25px 30px 0; box-sizing:border-box;}
    .kirim .list-item:hover {box-shadow: 0 0 0 15px #FFF, 0 0 0 16px rgba(0,0,0,.1), 0 8px 8px 15px rgba(0,0,0,.1); background:#FFF; position:relative; margin-bottom:20px; z-index: 105;}
    .kirim .list-item:hover .imgbox {border-color:#FFF;}
    .kirim .list-wrapper .list-item:nth-child(5n) {margin-right:0;}
    .kirim .list-wrapper .kirim .list-box {height:164px;}
    .kirim .list-wrapper .imgbox {background:#FFF; border-radius:0;}
    .kirim .detail-permintaan h2 {  margin-bottom: 10px;}
    .kirim .list-item h3 { margin:10px 0; height:30px; color:#000;}
    .kirim .list-item .harga {margin:0 0 15px; }
    .kirim .list-wrapper .list-item .buttons-box {display:none;}
    .kirim .list-wrapper .list-item:hover .buttons-box {display:block;}
    .kirim .list-item .buttons-box {margin-top:5px;}
    .kirim .list-item .colfix {padding:5px 0;}
    .kirim .corner-ribbon {width: 0;height: 0;position: absolute;z-index: 99;border-style: solid;border-width: 50px 50px 0 0;border-color: #555 transparent transparent transparent;}
    .kirim .corner-ribbon span {font-size: .8em;display: block;position: relative;color: #fff;margin: -40px 5px 0 5px;line-height: 1.2em;}
    .kirim .corner-ribbon.aktif {border-color: #699243 transparent transparent transparent;}
    .kirim .toolbar {padding: 10px 0 15px 0;}
    .kirim .search-toolbar input[type=submit] {padding: 6px 15px 7px;border-radius: 0 3px 3px 0;}
    .kirim .search-toolbar {position: absolute;top: 45px;}
    .kirim .toolbar .wrapper {width: 100%;padding: 0 20px 0 0;}

/* ROW HACK POSITIONING */
    .row .list-container > .wrapper {margin-top: 30px;}
    .row .semirow .list-item {height:150px; padding:0}
        .row .semirow .seller-info {height:150px}
    .row .toolbar .wrapper {float: left; width: 1072px; padding: 0 0 15px; margin-left: 8px;}
        .row .breadcrump > div > ul > li:first-child {width:200px; margin-right:7px}
        .row .breadcrump > div > ul > li:first-child:hover {}
            .row .breadcrump > div > ul > li:nth-child(n+2) {display:none;}
            .row .breadcrump > div > ul > li:before {content:'';}
        .row .breadcrump > div > ul > li:first-of-type:hover:before {content:'';}
    .row .subkategori {float:left; width:17%; visibility:visible; max-height:450px; max-height:1600px; margin-top:10px; z-index: 20;border-bottom:1px solid rgba(0,0,0,.2); }
        .row .subkategori:hover {max-height:1600px;}
        .row .subkategori:after {display:none;}
        .row .subkategori li {display:block; width:100%;padding:2px 10px 4px; line-height:1.2em; box-sizing: border-box;}
            .row .subkategori li:hover {background:rgba(0,0,0,.05); border-radius: 2px;}
            .row .subkategori li:hover a {color:#000}
            .row .subkategori li a {color:#666;}
    
    
    .row .tag,.row .list-item:hover .tag {top:2px;right:320px;}
    .row .list-wrapper {float:right; width:83%; box-sizing: border-box; padding-left: 10px; }
        .row .list-item {width:100%; margin-right:0; display:block;}
        .row .product-info {width:500px;}
        .row .seller-info, .row .semirow .seller-info {width:315px; float:left; }
        .row .semirow .seller-name {margin:0 0 5px 0;}

/*Deskripsi Perusahaan*/
.desc-comp{float: left;margin-bottom: -1px;margin-top:-10px;color: #666;padding: 20px;background: #FFF;border-radius: 2px;border: 1px solid #EAEAEA;}
.desc-comp h1{font-size: 16px;margin: 0px 0 10px;font-weight: bold;}
.list-wrapper h2 {font-size: 16px;margin: 0px 0 20px 20px;font-weight: bold;}

/* ACTION */
.listing.row .ico-list-row, .listing.semirow .ico-list-semirow, .listing.grid .ico-list-grid, .listing-request .list-request, .listing-product .list-product, .listing-company .list-company, .listing-promo .list-promo {background:rgba(0,0,0,.05);}
.listing.row .ico-list-row ico, .listing.semirow .ico-list-semirow ico, .listing.grid .ico-list-grid ico {opacity:.8 !important;}
.search-result .ico-list-row {display:none;}

/* SEARCH RESULT */
.search-result-bar .wrapper > div {padding:15px; color:#666; font-size:.9em; margin:0; background:#FFF; border-radius: 0 0 3px 3px; box-shadow: 0 0 0 1px #EEE}
    .search-result-bar h3 {margin:0 20px 0 0; padding-right:20px; font-size:1em; display: inline-block; font-weight:bold; font-style:italic; border-right:1px solid #DDD;}
    .search-result-bar ico {margin-right:5px; opacity:.3;}
    .search-result-bar strong {color:#000;}

.search-result.row .toolbar {width:100%; padding:0; margin-top: 15px;}
    .search-result.row .toolbar .wrapper {width:1300px; margin:0 auto; float:inherit;}
    .search-result.row .seller-info, .search-result.row .semirow .seller-info {width:390px}
.search-result.row .list-container > .wrapper { margin-top: 0;}
    .search-result.row .semirow, .search-result.row .list-wrapper { width:100%; padding:0;}
    .search-result.row .product-info {width:730px;}
    .search-result.row .product-info h3 {width:600px;}

/* SEO */
.seo {margin-top:100px;}
.seo h2 {color:#333; font-size:18px;font-weight:400; }
.seo p {font-size:12px;text-align:justify;line-height:1.3em;color: #666;}
.seo article:nth-child(even) {padding-right:15px;}
.seo article:nth-child(odd) {padding-left:15px;}

/* CART KERANJANG */
.cart .list {margin-bottom: 10px;}
.cart .list li {float:left;width:100%;font-size: .95em;margin-bottom: -1px;color: #666;background: #FFF;border-radius: 2px;border: 1px solid #EAEAEA;}
.cart .list .colfix {padding: 10px 10px 11px;display: inline-block;vertical-align: middle;margin-right: -4px;float: inherit;}
.cart .list li .imgbox {height: 60px;background: #FFF;}
.cart .colfix .judul-item {height:2.4em;overflow: hidden;color: #444;line-height: 1.3em;}
.cart .colfix .lokasi {font-size:.9em;color: #666;display: block;line-height: 1.1em;margin-top: 3px;}
.cart .harga {margin: 20px 0 ;}
.cart .tgl span {margin-top:4px;}
.cart .seller-name {line-height: 1.4}
.close {float:right;font-size:1em;position: absolute;border:0;background:transparent;right: 18px;color: inherit;}

/* PROFILE STORE */
body.profile-store.fixed-margin {padding-top:52px;}
.profile-store-bar {background:url(../images/bg/static-bg02.jpg) center; background-size: cover; min-height:115px; padding:40px 0; border:1px solid rgba(0,0,0,.1); border-width:1px 0; margin:-1px 0 10px;}
.profile-store-bar .colfix:first-of-type {padding:15px; height:115px; color:#666; font-size:.9em; margin:0; background:rgba(255,255,255,.85); border-radius:3px; box-shadow: 0 0 0 1px  rgba(0,0,0,.05), 0 3px 8px rgba(0,0,0,.2);}
    .profile-store-bar .colfix.w40 {margin-right:20px; width:38%; padding-left:160px; }
    .profile-info .imgprofile {width:120px !important; height:120px !important; border-radius:80px; position:absolute; top:-30px; left:20px; border:0; box-shadow:0 0 0 1px rgba(0,0,0,.1); transition:.3s;}
    .profile-store-bar h3 {margin:0 20px 0 0; padding-right:20px; font-size:1em; display: inline-block; font-weight:bold; font-style:italic; border-right:1px solid #DDD;}
    .profile-store-bar .companyname {max-height:43px; overflow:hidden; font-size:1.4em; color:#000; margin:0 0 5px;}
    .profile-store-bar .lokasi {font-size:.9em; color:#666; display:block; float:none; line-height:1.3em; margin:3px 0 5px; max-height:13px; overflow:hidden;}
    .profile-store-bar .rating {box-shadow:0 0 10px 3px #FFF; }

    .profile-store .toolbar {padding-bottom:0; margin-bottom:-10px;}
    .profile-store .toolbar .wrapper {padding:0 0 0 217px; box-sizing:border-box; margin-bottom:10px}
    .profile-store .list-wrapper {width:82%; float:right;min-height: 100px;}
    .profile-store .list-container > .wrapper {margin-top:30px;}
    
    .profile-store.grid .list-item {width:17.15%; height:290px;margin-right:35px !important; margin-bottom:15px;}
        .profile-store.grid .list-item:nth-child(5n) {margin-right:0 !important}
        .profile-store.grid .list-item .imgbox {height:168px;}
    .profile-store .list-item h3 {height:32px;}
    .profile-store .seller-info {display:none !important;}
    
    .profile-store.semirow .list-item {width:49.1%;}
        .profile-store.semirow .product-info {width:63%; margin-top:25px;}
        .profile-store.semirow .list-item h3 {width:100%;}
        .profile-store.semirow .list-item .w50 {width:30%;}
    
    .profile-info, .store-info {transition:.3s;position: absolute; top:0px;}
    .store-info {margin-top:-70px; width: 192px; margin-right:2%; line-height:1.3em; top:10px}
        .store-info li {font-size:.9em; padding:5px 0; border-bottom:1px solid #DDD;}
        .store-info .emailprofile {background:#F8F8F8;padding:6px 6px 6px 0;word-break: break-all;}
        .store-info .tampilkan {float:right;text-align:right;}
    
    .fixed-profile .imgprofile {width:80px !important; height:80px !important; left:56px !important;}
    .fixed-profile .profile-store-bar {height:110px;}
    .fixed-profile .profile-info {position:fixed; top: 90px; height: auto !important; z-index: 100; width: 192px !important; padding: 60px 15px 15px!important; box-shadow:0 0 0 1px #DEDEDE!important;}
        .fixed-profile .profile-info .imgbox {left:35px;}
        .fixed-profile .profile-info h1 {font-size:1.1em; text-align:center;}
        .fixed-profile .profile-info .lokasi {max-height:28px;}
        .fixed-profile .profile-info .rate {display:block; margin: 0 auto 8px;}
        .fixed-profile .profile-info .nilai-rate {display:block; text-align:center;}
    .fixed-profile .store-info {position:fixed; top:350px;z-index: 50; width: 192px; bottom:0; background: #F8F8F8; box-shadow: 0 0 0 5px #F8F8F8;}
    .fixed-profile .list-wrapper {margin-left:18%;}
    
    .footer-margin .store-info {position:absolute; bottom:60px; top:inherit;}
        .footer-margin .profile-info { top:-130px; /*position:inherit; height: 197px !important; z-index: 100; width: 38% !important; padding: 15px 15px 15px 160px !important; top:0 !important;*/}
        
    #tool-kelompok.cat_selection {width:170px; margin-left:0; }
        #tool-kelompok .cat_display {margin:0; border:0;}

/* FIXED TOOLBAR */
    .fixed-toolbar .toolbar {position: fixed; top:inherit; bottom:0; z-index: 2000; padding:5px !important; background:rgba(218, 218, 218, 0.9); border-top:1px solid rgba(0,0,0,.05); left:-5px;}
    .footer-toolbar .toolbar {position: absolute; top:inherit; bottom:-50px; z-index: 1}
        .footer-toolbar.semirow .toolbar {bottom:-70px;}
        .footer-toolbar.profile-store .toolbar {bottom:-10px;}
        .footer-toolbar.profile-store.semirow .toolbar {bottom:-40px;}
        .fixed-toolbar .toolbar .wrapper, .footer-toolbar .toolbar .wrapper {width:1200px; margin:0 auto; padding:0 20px; float:none;}
    .fixed-toolbar .breadcrump, .footer-toolbar .breadcrump {margin-bottom:62px;}
    .fixed-toolbar .profile-store-bar { min-height: 0; height: 90px; margin-bottom: 50px;}
    .fixed-toolbar .toolbar .search-suggestion-box { bottom: 26px; top: inherit; position: absolute; border-radius:4px 4px 0 0;  padding-bottom:0;}

    .profile-store.fixed-toolbar .toolbar {margin-bottom:-1px;}
    .profile-store.fixed-toolbar .toolbar .wrapper, .profile-store.footer-toolbar .toolbar .wrapper {padding:0 0 0 217px;}
    .profile-store.fixed-toolbar .list-wrapper {margin-top: -10px}
    .profile-store.fixed-toolbar.grid .list-wrapper {margin-top: 15px}/* edited */


@media screen and (max-width: 1370px) {
    .listing.row .toolbar .wrapper {width:988px;}
    .search-result.row .toolbar .wrapper {width:1200px;}
    .search-result.row .product-info {width:620px;}
    .search-result.row .product-info h3 {width:500px;}
    .search-result.row .tag {right:410px !important;}
    .fixed-toolbar .toolbar .wrapper, .footer-toolbar .toolbar .wrapper {width:1200px !important;}
}
@media screen and (min-width: 1371px)   {
    .row .tag,.row .list-item:hover .tag {right:400px;}
    .row .seller-info, .row .semirow .seller-info {width:390px;}
    .grid .list-item {width:17.8%;}
    .grid .semirow .list-item {width:49.3%;}
    .quickview-nav {width:900px;}
    .profile-store.grid .list-item {width:17.34%;}
    .profile-store .toolbar .wrapper {padding-left:232px;}
    .wrapper marquee {margin-left:232px; height: 17px;}
    .fixed-toolbar .toolbar .wrapper, .footer-toolbar .toolbar .wrapper {width:1290px;}
    /*.quickview-nav ico.nav-left {left:168px;}
    .quickview-nav ico.nav-right, .quickview-nav ico.close-btn {right:168px;}*/

}

    
