.modal {display: none; position: fixed; z-index: 110; padding-top: 100px; left: 0;top: 0;width: 100%; height: 100%; overflow: auto; background-color: rgba(234, 234, 234, 0.8); }
.modal-content {position: relative;background-color: #fff;margin: auto;padding: 0;width: 1000px;border-radius:3px;    box-shadow: 0 0 0 1px rgba(0,0,0,.2), 0 4px 8px rgba(0,0,0,.2);
    border-radius: 3px 0 3px 3px;;-webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;animation-duration: 0.4s}
/* Add Animation */
@-webkit-keyframes animatetop { 
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1} 
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}}
/* The Close Button */

.close {
    right: -43px;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    top: 3px;
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    cursor: pointer;
    border: 5px solid #FFF;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: -3px 12px 0 0;
    transition: .3s;
}


.close:hover,
.close:focus {color: #000;text-decoration: none;cursor: pointer;}
.modal-header {padding: 16px; border-top:3px solid #EEE;
}
.modal-body {padding: 2px 16px 20px 16px;}
.modal-footer {padding: 16px;}

.modal-body .preinput {border-bottom:1px solid #ddd;padding:0 0 10px 0!important;}

/* MODALBOX NO HP */

.modaldata.colfix input[type=text] {width: 100%;max-width: 100%;max-height: 300px;}
.modaldata input[type=submit] {padding: 6px 15px 7px;border-radius: 0 3px 3px 0;}


/* MODALBOX LISTING */
.modal .toolbar {bottom: -50px;padding: 0;width:50%;}
.modal .search-toolbar {position: inherit;}
.modal .search-toolbar input[type=submit] {padding:6px 10px 7px 10px;border-top-left-radius: 0;
border-bottom-left-radius: 0;}

.modal h2 {margin-bottom:5px;}

.modal .list-item {height:65px; width: 100%;margin-right: 0;display: block;padding:10px 0; }
    .modal .list-item h3 {font-size:1em; height:33px; color:#555; line-height:1.3em;}
    .modal .list-item:hover h3 {color:#000;}

.modal .list-item .imgbox {width: 120px;height: 100%;float: left;margin-right: 20px;box-shadow: none !important;}

.modal .list-item:hover {
    box-shadow: none;
    margin-bottom: 0;
    z-index: 100;
}

.modal .listing .semirow {margin-bottom:20px; border-bottom:1px solid #FC0; padding-bottom:10px; box-shadow:0 1px 0 #FFF;}
    .modal .row .semirow {float: right;  width: 82.3%;}

.modal .listing .membership {float:left;position:relative;margin-right:5px;top:-1px;min-height:50px;}
    .modal .tag,.row .list-item:hover .tag {top:2px;right:320px;}
    .modal .list-wrapper {float:right; width:83%; box-sizing: border-box; padding-left: 10px; }
        .modal .list-item {width:100%; margin-right:0; display:block;}
        .modal .product-info {width:725px;float:left;}
        .modal .pilih {float:left;width:100px;line-height: 1.2em;padding: 10px 0;text-align: right}
        .modal .pilih .btn {border:0;padding:6px 8px;font-size:1em;border-radius:3px;}

/*pop up login*/
.mdl-login{width: 623px;}
.mdl-prmnt{width: 800px;}
.mdl-login .modal-header,.mdl-prmnt .modal-header{padding:0;}
.mdl-login h2,.mdl-prmnt h2{margin:5px 0 35px;padding-bottom: 10px;border-bottom: 1px solid #ddd;}
.mdl-login .preinput{border-bottom: none!important;}
.mdl-login dd{margin-bottom: 10px;}
.mdl-loginforgot{padding:5px 0;}
.mdl-login .lgn-with{padding:10px 0;}
.mdl-login a.btn{box-shadow:none;}
.mdl-login p{line-height: 20px;}
.mdl-login .notif-bar{font-size:12px;padding:2px 10px;}
.btn-prmnt{text-align: center;}
.btn-prmnt .btn-no{background: #ccc;}
.btn-prmnt .btn-no:hover{background: #ddd;color:#333;}
.btn-prmnt input{margin:10px 5px;}
/*Detail poup*/
.modal-body .productimg {display:block;float:left;height:310px; background:#FFF;}
    .modal-body .productdata {display:block;float:left;width:60%;}
    .modal-body .prod_gallery{width:100%;}
        .modal-body .productdata > div {margin-left:20px;}
        .modal-body .productdata > div > .colfix {height:50px;}
        .modal-body .productdata h1 {font-size: 22px;line-height: 1.2em;color:#333;height: 52px;overflow: hidden; margin: 0 12px 12px 0;}
    .modal-body .producttitle {margin-bottom: 20px;}
    .modal-body .membership {float:left;margin-right:5px;}
    .modal-body > .w75 > div {position: relative;margin-right:10px;}
        .modal-body > .colfix.w75:nth-child(n+2), .modal-body > .colfix.w25:nth-child(n+4) {margin-top:20px;} 
    .modal-body .listdetail {font-size:12px;line-height: 1.2em}
        .modal-body .listdetail dl {width:100%;overflow: hidden;} 
        .modal-body .prd-popdet {width:65%;float:left;} 
        .modal-body .listdetail dt {font-weight:300;color:#888;float:left;width:45%;}
        .modal-body .listdetail dd {margin-bottom:4px;float:left;text-indent:15px;width:55%;color:inherit;} 
        .modal-body hr {height:20px;background:transparent;border-bottom: 0;box-shadow: none; }
        .modal-body .thumbnails {width:242px;display:block;text-align:center;margin:10px auto;}
        .modal-body .thumbnails li {display: inline-block;font-size: 10px;float: none;width: 25px;height: 25px;margin: 0 0 2px 0;padding: 0;border-radius: 3px;overflow: hidden;border: 1px solid #ccc;cursor: pointer;opacity: .4; transition: color .2s, background .2s;position: relative;}
        .modal-body .thumbnails li:hover {opacity:1;}
        .modal-body .thumbnails li img {position: absolute;max-width: 100%;max-height: 100%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
        .modal-body .thumbnails li.active {cursor: default;opacity: 1;}
        .modal-body .thumbnails li:last-child {margin-right:0;}
        .modal-body .preloader{text-align:center; display:none;}
        .modal-body .imgbox.loading .preloader{display:block;} .modal-body .imgbox.loading .img{opacity:.5;}
        .modal-body .thumbnail-lists {margin:0 auto;width:100%;height:30px;overflow:hidden;}
        .modal-body .product {display: block;float:left;width: 33%;height:auto;}
        .modal-body .pop-box .imgbox{width:240px;height:240px;}
