@media only print {

html {color:#000; background:#FFF;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0; font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select {font-family:inherit; font-size:inherit; font-weight:inherit;}
input,textarea,select {*font-size:100%;}
legend {color:#000;}
code {display:inline;text-indent:3px;}
h1 {font-size:138.5%;}
h2 {font-size:123.1%;}
h3 {font-size:108%;}
h1,h2,h3 {margin:1em 0;}
h1,h2,h3,h4,h5,h6,strong {font-weight:bold;}
abbr,acronym {border-bottom:1px dotted #000; cursor:help;}
em {font-style:italic;}
blockquote,ul,ol,dl {margin:1em;}
ol,ul,dl {margin-left:2em;}
ol li {list-style:decimal outside;}
ul li {list-style:disc outside;}
dl dd {margin-left:1em;}
th,td {border:1px solid #000; padding:.5em;}
th {font-weight:bold; text-align:center;}
caption {margin-bottom:.5em; text-align:center;}
p,fieldset,table,pre {margin-bottom:1em;}
input[type=text],input[type=password],textarea {width:12.25em; *width:11.9em;}

html,body {background-color:#FFF; color:#000; font-size: 12pt;}
img  {max-width: 100%;}
h1,h2,h3,h4,h5,h6 {page-break-after: avoid;}
ul, ol, li {page-break-inside: avoid;}
table table,tr,td {page-break-before: avoid;page-break-after: avoid;}


div.header, div.dashboard-menu, ul.progress-indicator, div.footer, .dashboard-detail input, .btn, .noprint {display:none;}

ul {list-style: none;margin:0;padding:0;}
ul li {float:left;width:100%;}


.w30 {
  display: inline-block;
  width: 45%;
}

.w70 {
  display: inline-block;
  width: 55%;
}

.infotransfer, .print-instruksi {
  margin-top:30px;
}

  div#to-print {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  body{font-family: 'Roboto','Open Sans', Arial, Helvetica, Verdana;}
  .print-isntruksi {font-family: 'Roboto','Open Sans', Arial, Helvetica, Verdana !important;}
  .print-instruksi .static-box .form-box {margin:0 auto; float:inherit; padding:30px 50px; background:#FFF; border-radius:3px; box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 8px rgba(0,0,0,.2);}
  .print-instruksi .lgoidn-pi {display:block;}
  .print-instruksi .lgoidn-pi span{text-align:right;font-size:15px;color:#ababab;display:inline-block;float:right;}
  .print-instruksi .form-box .selectakun label {display:block;width:30%;float:left;height:25px;}
  .print-instruksi .form-box .judul-landing2{margin-top:15px;}
  .print-instruksi h3{margin-bottom:0;color:#4b669c !important;}
  .print-instruksi .static-box hr {margin: 15px 0;}
  .print-instruksi .static-content form input, form select {margin-bottom:15px;}
  .print-instruksi .static-content form .notif-bar {margin-top:-5px;}
  .print-instruksi .deskripsi-landing dt{float:left;}
  .print-instruksi .deskripsi-landing dd{padding-left:150px;padding-bottom:10px;}
  .print-instruksi .warn-blue{padding:30px 0 !important;color:#FFF !important;background-color:#2266cc !important;margin:30px 0 20px !important;text-align:center !important;}

}

