@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */


.header, .breadcrump, .toolbar, .footer, body:before, .dummy-page {display:none;}
body {background:none;}
body > div {min-width:900px !important; }
.wrapper {width:900px; box-sizing:border-box; padding:0;}

.detail-toolbar {position:absolute; right:0; font-size:.7em; line-height:1.2em; width:130px; height:inherit;}
	.detail-toolbar .nav-page {display:none;}
	.detail-toolbar ico {margin:0 0 0; background-size:400px 400px; width:31px; height:31px; opacity:.2;}
		.detail-toolbar ico.favorite {background-position:-324px -170px;}
		.detail-toolbar ico.cart-add {background-position: -277px 0;}
	.detail-toolbar .bookmark-ads {width: 100%;height: 80px; margin-top:0; }
	.detail-toolbar .bookmark-ads span {visibility:hidden; display:block;}
	.detail-toolbar .bookmark-ads a {text-align: center !important; width: 50%; box-sizing: border-box; margin-right: -4px; margin-top:25px; padding:0;}
		.detail-toolbar .bookmark-ads > .colfix {width:100%;}
		/*.detail-toolbar .bookmark-ads a:hover {margin-top:0;}*/
		.detail-toolbar .bookmark-ads a:hover span {visibility:visible; color:#999;}
	
.detail-product .tab-content {height:500px; overflow-y:auto;}

.detail-product > .w25 {padding:0; width:40%; height:285px; border-right:1px solid #DDD; border-top: 5px solid #EEE;}
.detail-product > .w25:nth-child(n+4) {display:none;}

/*.detail-product .colfix.w75:first-child {margin-top:80px; width:100%; border:1px solid #EEE; border-width:3px 0 1px; }*/
.detail-product .colfix.w75:first-child { width:100%; border:1px solid #EEE; border-width:3px 0 0; }
	.detail-product > .w75 > div {margin-right:0;}
	.detail-product > .colfix.w75:nth-child(n+2) {width: 542px; margin-top: 0; position: absolute; top: 391px; left: 359px; border-top: 5px solid #EEE; border-left:1px solid #DDD;}

.detail-product .productdata > div {margin-left:0;height: 50px; margin-top: -20px; padding: 20px 0 0; position: absolute;}
.detail-product .productdata h2 {width: 750px;position:absolute; color:#000; top:-80px; left:-360px; padding:13px 20px 0px; height:68px; overflow:hidden; box-sizing:border-box; }
		.detail-product .productdata {padding:20px 0 0;}
		.detail-product .productdata .listdetail {padding-left:15px;}
		.detail-product .productdata .tabelform {border-radius:0; border:0; border-top:1px solid #EEE;}
		
.detail-product .productimg {height:388px; border-right:1px solid #DDD; border-width:0 1px 0 0;}
.detail-product .otherproduct {display: none;}
.detail-product .thumbnails {margin-top:-40px;}
.detail-product .product {height:inherit;}

.detail-product .tabelform .form label {margin-top:19px; margin-left:10px;}
	.detail-product .tabelform .form ul {border-width:0 0 0;}
	.detail-product .tabelform .form textarea {margin:0 0 0 -1px;}
	.detail-product .tabelform .form textarea:focus {box-shadow:inset 0 0 0 2px rgba(0,0,0,.1)}
	.detail-product .tabelform .kirimpesan .w75 {margin-top:0; width: 75%;border:0;border-bottom:3px solid #fff;}
	.detail-product .tabelform .notel .w75 {margin-top:9px;}
	.tabelform .form textarea {height:105px;}
	.tabelform .form .kirimpesan {margin: 14px 13px 0 13px;}
	.tabelform .form .kirimpesan .w25 {height:105px;padding-top: 15px;}

.detail-product .product {min-height: 308px;}
	.detail-product .vendorbody { padding: 0 20px 30px 20px;}
	.vendorbody p {min-height:45px;}
	.vendorbody .notel { margin:0;display: block;background-color: #FFF;border: 1px solid #e6e6e6;border-radius: 2px; position: absolute;left: 372px;bottom: 145px;width: 515px;}
	.notel input {margin-bottom:0;}
	.vendorbody .notel .nomor {padding: 7px 15px 7px 0;text-align: right;margin-top: 11px;font-size: 21px;border-right: 1px solid #ddd;}
	.vendorbody .notel .w20 {margin-top:18px;color:#bbb;width:20%;}
	.vendorbody .notel .w20 div {margin:0 10px;}
	.vendorbody .notel .w25 {height:auto;background:transparent; border:0;padding:0;padding:7px;}
	.vendorbody .notel .w25 input {font-size: .9em;letter-spacing: 0.75px;padding: 10px 9px 12px;}


.detail-product .vendor {margin-left:0!important;margin:0; border-top: 1px solid #DDD;}
	.detail-product .vendortitle {margin-bottom:0;}
	.detail-product .vendortitle .producttitle {margin-top:3px;margin-bottom:5px;height:42px;}
.detail-product .tab-content {height:545px; overflow-y:auto;}
	.tabdetail .tabs .tab-link.current { background: #FFF; height: 54px; margin-bottom:-1px;border-bottom: 1px solid #FFF;}
	ul.tabs {margin-left: -1px;}
	.detail-product .tabs li {height:56px;}
		.detail-product .tabs li>div {height:100%; box-sizing:border-box;}
		.detail-product .tabs li ico {display:block; top: -7px; margin: 0 auto;}
		.detail-product .vendorbody ico {float:left;margin-right:5px; }

.detail-product .vendor > div {border:0;width:89%;}

.detail-product .quickviewonly {display: block!important;margin:9px 0;}

/* PROFILE STORE QUICKVIEW */

body.profile-store  {padding:0 !important; height:1000px;}
.profile-store .list-container {background:#F8F8F8;}
.profile-store .overthetop {display:none !important;}
.profile-store-bar {padding:20px 0; border-radius:3px 0 0;}
.profile-store-bar .colfix.w40 {left:40px; width:50%; padding:20px 0 20px 140px; }
	.profile-store-bar .imgbox {width:100px !important; height:100px !important; top:-10px;}
.profile-store .store-info { padding: 5px 10px 10px 20px; width: 250px; margin-top: -50px;}
.profile-store .toolbar {display:block; padding: 0; background: none;margin-bottom: -20px;}
	.profile-store #list-view, .profile-store .toolbar .colfix.w60 ul:first-child {display:none;}
	.profile-store .toolbar .wrapper {padding:0 20px 0 255px;}
	#tool-kelompok.cat_selection { }
.profile-store.grid .list-wrapper {width:650px; height:794px; overflow-y:auto; padding:20px 0 0 15px; border-top: 1px solid #EEE; margin-top:0;}
	.profile-store.grid .list-wrapper:before, .profile-store.grid .list-wrapper:after {content:''; position:absolute; top:-10px; left:250px; width:100%; height:10px; z-index:11; box-shadow:0 5px 5px rgba(0,0,0,.1);}
	.profile-store.grid .list-wrapper:after {top:inherit; bottom:-10px; box-shadow:0 -5px 20px 5px #FFF;}
.profile-store.grid .list-item, .profile-store.grid .list-item:hover {width:21.9% ; margin-bottom:20px; height:250px; font-size:.9em;}
	.profile-store.grid .list-item, .profile-store.grid .list-item:nth-child(5n) {margin-right:20px !important;}
	.profile-store.grid .list-item:nth-child(4n) {margin-right:0 !important ; }
	.profile-store.grid .list-item .imgbox {height:130px; margin-bottom:0;}
	.profile-store.grid .list-item .harga {font-size:1em;}
	.profile-store.grid .list-item .hargabox .colfix  span {font-size:.9em; line-height:1.1em;padding-right:0;}
		.profile-store.grid .list-item .hargabox .colfix:last-child {text-align:right;}
	.profile-store.grid .list-item .hargabox .colfix  small {font-size:10px; font-weight:400;}

	.productimg .imgbox img {position: absolute;max-width: 80%;max-height: 80%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}








