@charset "utf-8";
/* CSS Document */
/* ZERATUL 042016 */

.logo {}  
.breadcrump{border-bottom:0;}
.breadcrump > div > ul {border-bottom:1px solid rgba(0,0,0,0.07)}

.static-content {padding:0; }
	.static-content > .wrapper {padding:20px;}
	.static-content h4 {text-transform: capitalize; font-weight:300; font-size: 1em}
		.static-content h4 strong {font-weight: normal}
	.static-text li {list-style: disc; margin-left:15px; margin-bottom:5px;}
	.static-content ul {margin-bottom:20px;}

.static-head, .static-text {background:#FFF; border:1px solid #e6e6e6;border-radius:3px;}
.static-head {margin-bottom:30px; padding: 0 20px 0 0; min-height:400px; background:none; border:0 }
	.static-head h1 {margin:14px 0 18px; font-weight:300; color:#333;}
			/*.static-head h1:before, .static-head li:hover:after {content:' '; display:block; width:50px; height:3px; position:absolute; margin-left:0px; margin-top:47px; background:#FC0;} */
			.static-head li:hover:after {margin-bottom:0px; margin-top:5px; background:#666;}
	.static-head ul {border-top:1px solid #e6e6e6; border-bottom:1px solid #FFF}
	.static-head li {padding:5px 0 7px; border-bottom:1px solid #e6e6e6; border-top:1px solid #FFF; line-height:1.2em; font-size:.9em;}
		.static-head ul ul {max-height:0; overflow:hidden; margin:0 0 0 25px; border:0; transition:.3s;transition-delay:inherit; }
		.static-head ul li:hover ul, .static-head ul li.showme ul {max-height:800px;transition:.3s; margin-top:5px;}
		.static-head ul ul li {border:0; padding:2px 0; font-size:1em;}
			.static-head ul li:hover ul li:before, .static-head ul li.showme ul li:before {content:'∟'; position:absolute; margin-left:-23px; margin-top:-8px; font-size:2em; color:#DDD; font-weight:100;}
	.static-head a {display:block; color:#666; }
		.static-head a:hover {color:#333;}

.static-text { margin:0 auto;padding:30px 50px 100px; line-height: 1.4em; color:#666; font-weight:normal; margin-bottom:10px;}
	.static-text:after {content:" ----oOo---- "; bottom:-60px; width:100%; display:block; position:relative; text-align:center; color:#AAA;}
	.static-text h4 {font-weight:bold; color:#333; margin:0 0 7px; }
	.static-text p {margin-bottom:30px;}
		.static-text li p {margin-bottom:10px;}

.static-box {background:#FFF; border-radius:3px; border:1px solid rgba(0,0,0,.1); border-width:1px 0; min-height:250px; padding:50px 20px; margin:0; margin:0 0 -65px; background-position:center; background-size:cover;}
	.static-box .form-box {margin:0 auto; float:inherit; padding:30px 50px; background:rgba(248,248,248,.9); border-radius:3px; box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 5px 8px rgba(0,0,0,.2);}
	.form-box .selectakun label {display:block;width:30%;float:left;height:25px;}
	.form-box input[type=radio], .form-box input[type=checkbox] {margin: -2px 10px 0 0;}
	.static-box hr {margin: 15px 0;}

.static-content form input, form select {margin-bottom:15px;}
	.static-content form .notif-bar {margin-top:-5px;}
	
.footer-content li {background:#F8F8F8;box-shadow:0 0 0 5px #F8F8F8;}
	
.judul-landing {font-size:2.2em; font-weight:300;color:#333; margin:30px 0 0;}
.deskripsi-landing {line-height:1.3em; font-weight:300; color:#666; margin:0 0 10px;}
.deskripsi-landing h4{font-size:2em;font-weight:400;color:#333;}
.deskripsi-landing ul{list-style: inherit;text-align: left;margin-left:15px;}

.deskripsi-landing h4{font-size:2em;font-weight:400;color:#333;}
.deskripsi-landing ul{list-style: inherit;text-align: left;margin-left:15px;}
.form-box .data_url{border:0;}
/*TABLE*/

table {
    border-collapse: collapse;
    width: 100%;
}

thead {
    background-color: #cccccc;
    color: white;
}

th, td {
    text-align: left;
    padding: 8px;
    font-size: .8em;
}

tr:nth-child(even){background-color: #E2E5EA}

th {
    background-color: #5180C5;
    color: white;
}


/* FAQ */
.slidingDiv div > ul > li {margin-bottom:20px;}
.slidingDiv div > ul > li h4 {margin-bottom:5px;}
.layanan .bg {background-color:#FF6C00;color:#fff;}


/* FIXED */
.fixed-margin .static-head {position:fixed; top:50px; width:300px; background: #F8F8F8; }
	.fixed-margin .static-text {margin-left:25%;}
.footer-margin .static-head {top:inherit !important; position:absolute !important; bottom:-20px; max-width: 25% !important}


/* transformasi Indonetwork */
.idntransformasi h3 {color: #333;font-size: 17px;}
.idntransformasi h2 {margin-bottom:0;color: #333;}
.idntransformasi hr { margin: 45px 0;}
.idntransformasi b {font-weight:900;color:#FF6C00;}
.idntransformasi .btn {border:0;box-shadow:none;padding:6px 15px 7px;background: #FC6000;color: #FFF;text-transform: capitalize;display: inline-block;border-radius: 3px;font-size: 1.1em;font-weight: 300;min-width: 45px;text-align: center;}
.idntransformasi .headimg {margin-bottom:40px;}

.jualskrgimg {display: inline-block;vertical-align:middle;margin:0 5px;background:url(../images/jualskrgimg.jpg);width:122px;height:32px;}

.idntransformasi div div.colfix.w33.txtcenter:nth-child(2) {border-left:1px dotted #ccc;border-right:1px dotted #ccc;}



/* SUB KATEGORI */
.static-text .subkat, .static-text .subkategorihover {position:relative; background:none; padding:0px; margin:0 0 20px; box-shadow:none; border:0;}
	.static-text .subkat:before, .static-text .subkategori:after {display: none}
	.static-text .subkat h4 {margin-bottom:15px;}
	.static-text .subkat ul {-webkit-column-count: 4; -moz-column-count: 4; column-count: 4; -webkit-column-gap: 10px; -moz-column-gap: 10px; column-gap: 10px; list-style: none }
	.static-text .subkat li {list-style:none;padding:2px 0 0 0; width:100%; font-weight:400; margin:5px 5px 0 0;line-height:1.2em; box-sizing: border-box;}
	.static-text .subkat li a {color:#888; }
		.static-text .subkat li:hover a {border:0; text-decoration:underline}
		.static-text .subkat li a:hover{color:#000;}

@media screen and (min-width: 1371px) {
.fixed-margin .static-head {position:fixed; top:55px; width:325px}
}


/* LANDING 01 */
.con:before,.con:after{content:"";display:table;line-height:0;height:0;}
.con:after{clear:both;}
.lte7 .con{zoom:1;}


/* layout grid */
.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11,.in-lg-12,.in-md-1,.in-md-2,.in-md-3,.in-md-4,.in-md-5,.in-md-6,.in-md-7,.in-md-8,.in-md-9,.in-md-10,.in-md-11,.in-md-12,.in-sm-1,.in-sm-2,.in-sm-3,.in-sm-4,.in-sm-5,.in-sm-6,.in-sm-7,.in-sm-8,.in-sm-9,.in-sm-10,.in-sm-11, .in-sm-12,.in-xs-1,.in-xs-2,.in-xs-3,.in-xs-4,.in-xs-5,.in-xs-6,.in-xs-7,.in-xs-8,.in-xs-9,.in-xs-10,.in-xs-11, .in-xs-12{float:left;position: relative;min-height: 1px;box-sizing:border-box;}
.in-lg-1{width:8.33333333%;}
.in-lg-2{width:16.66666667%;}
.in-lg-3{width:25%;}
.in-lg-4{width:33.33333333%;}
.in-lg-5{width:41.66666667%;}
.in-lg-6{width:50%;}
.in-lg-7{width:58.33333333%;}
.in-lg-8{width:66.66666667%;}
.in-lg-9{width:75%;}
.in-lg-10{width:83.33333333%;}
.in-lg-11{width:91.66666667%;}
.in-lg-12{width:100%;}


.ct-leftwrap i,.in-profit i,.in-testimonialwrap span,.tm-fill i,.tm-fill u,.tm-fill b{background:url(../images/ads-sprite.jpg) no-repeat;}
.content-top{background:url(../images/ads-bg.jpg) no-repeat;padding:40px 0;}
.ct-leftwrap .logo{width:125px;height:25px;text-indent:-99999px;background:url(../images/logo.svg) no-repeat;}
.ct-leftwrap h3{font-size:30px;color:#0f3274;margin:22px 0;position:relative;}
.ct-leftwrap span{position:relative;z-index:1;}
.ct-leftwrap i{position:absolute;width:208px;height:68px;right:-20px;top:-25px;background-position:0 -140px;z-index:0;}
.ct-leftwrap h4{font-size:18px;color:#000036;margin:0 0 10px;}
.ct-leftwrap p{line-height:21px;font-size:14px;color:#555;text-align:justify;width:500px;}

.ct-rightwrap{width:480px;float:right;padding:15px;background:rgba(255,255,255,0.8);border-radius:5px;}
.in-form{background:#fff;}
.in-form h3{color:#fff;padding:15px 20px;background:#0f3074;border-radius:5px 5px 0 0;}
.in-form dl{padding:15px 15px 0;font-size:15px;}
.in-form dt{float:left;}
.in-form dd{padding:0 0 15px 130px;}
.in-form .r{background:#fff;border:1px solid #ddd;border-radius:2px;color:#555;display: inline-block;font-size:12px;padding:8px;vertical-align:middle;width:302px;}
.in-form select.r{width:321px;}
.in-form label{margin:0 20px 0 0;vertical-align:middle;}
.in-form .term{font-size:13px;line-height:normal;}
.form-btn{padding:0 15px 15px;}
.form-btn span{float:left;margin-top:20px;}
.form-btn .btn{float:right;color:#fbfbfb;font-size:14px;background:#f95e00;padding:13px 20px;border-radius:5px;}



.content-middle{padding:40px 0 20px;background:#0b55a9;color:#fff;}
.cm-leftwrap{position:relative;}
.cm-leftwrap .cm-aksen{width:20px;height:20px;position:absolute;background:#0b55a9;left:283px;top:280px;}
.in-profit{color:#fff;}
.in-profit li{float:left;width:265px;height:265px;text-align:center;padding:10px;border:1px solid #0f519d;margin:5px;}
.in-profit .profit-one{border-color:#0b55a9 #0f519d #0f519d #0b55a9;}
.in-profit .profit-two{border-color:#0b55a9 #0b55a9 #0f519d #0b55a9;}
.in-profit .profit-three{border-color:#0b55a9 #0f519d #0b55a9 #0b55a9;}
.in-profit .profit-four{border-color:#0b55a9 #0b55a9 #0b55a9 #0b55a9;}
.in-profit i{display:block;width:60px;height:75px;margin:0 auto;}
.profit-one i{background-position:0 0;}
.profit-two i{background-position:-60px 0;}
.profit-three i{background-position:-120px 0;}
.profit-four i{background-position:-180px 0;}
.in-profit h3{font-size:16px;margin:15px 0;white-space:nowrap;}

.cm-rightwrap{width:560px;height:387px;background:url(../images/ads-webview.jpg) no-repeat;margin-top:85px;float:right;}


.content-bottom{padding:40px 0;background:#dfdfdf;}
.in-testimonialwrap{width:350px;text-align:justify;}
.in-testimonialwrap span{float:left;width:60px;height:60px;background-position:0 -75px;border:5px solid #f8f8f8;border-radius:100%;}
.in-testimonialwrap .tm-one{background-position:0 -75px;}
.in-testimonialwrap .tm-two{background-position:-65px -75px;}
.in-testimonialwrap .tm-three{background-position:-130px -75px;}
.in-testimonialwrap .tm-content{padding-left:85px;}
.tm-content .tm-fill{position:relative;padding:15px 15px 15px 35px;background:#ececec;border:1px solid #c2c2c2;margin-top:5px;border-radius:10px;min-height:213px;}
.tm-fill strong{font-weight:normal;font-style:italic;}
.tm-fill i,.tm-fill u,.tm-fill b{width:14px;height:12px;position:absolute;}
.tm-fill i{left:10px;top:15px;background-position:-195px -75px;}
.tm-fill u{right:30px;bottom:15px;background-position:-209px -75px;}
.tm-fill b{left:-9px;top:0;width:11px;background-position:-223px -75px;}

/* LANDING 02 */
.content-top,.agreement{padding:0;}
.content-top .ct-left{padding-left:0;}
.content-top .ct-right{padding-right:0;}

.content-top .ct-left p{width:551px;word-wrap:break-word;text-align:justify;margin:20px 0;line-height:22px;}
.ctl-title h2{font-size:30px;color:#4b669c;font-weight:300;margin-bottom:5px;}
.ctl-title h3{font-size:18px;color:#fc6000;font-weight:300;}
.ctl-img i{display:block;width:100%;height:240px;background:url('../images/ads-sprite.jpg')no-repeat 0px 0px;margin:70px 0;}


.ctr-content{border:1px solid #ccc;padding:40px;background:#FFF;border-radius:5px;-webkit-box-shadow:0px 0px 2px 1px rgba(204,204,204,1);-moz-box-shadow:0px 0px 2px 1px rgba(204,204,204,1);box-shadow:0px 0px 2px 1px rgba(204,204,204,1);}
.ctr-content h4{color:#4b669c;font-size:18px;font-weight:400;padding-bottom:15px;margin-bottom:15px;border-bottom:1px solid #ccc;}
.reg-form dt{float:left;padding:10px 5px;text-align:left;vertical-align:middle;width:140px;}
.reg-form dd{padding:0px 0px 20px 189px;vertical-align:middle;color:#555;}
.reg-form dd input[type="text"],.reg-form dd input[type="password"]{padding:10px;width:291px;border:1px solid #CCC;border-radius:3px;}
.reg-form dd select{padding:10px;width:314px;border:1px solid #CCC;border-radius:3px;}
.reg-form dt:nth-child(15){padding:0 5px;}
.regbutton{line-height:22px;text-align:justify;padding:0 0 0 22px;}
.regbutton input[type="submit"]{padding:12px 18px;background:#fc6000;color:#FFF;border-radius:3px;float:right;}
.regbutton input[type="submit"]:hover{opacity:0.7;cursor:pointer;}
.regbutton a{display:inline-block;}
.termconditions{margin-bottom:10px;}
.ket{vertical-align:bottom;padding-left:3px;margin:116px 0 5px;}


.content-bottom{margin:20px 0;}
.cb-top{margin-top:35px}
.cb-top div{text-align:center;}
.cb-top div b{color:#4b669c;font-size:16px;}
.cb-top div p{margin-top:15px;line-height:22px;}


.cbt-content-one .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/ads-sprite.jpg')no-repeat 0px -240px;text-align:center;}
.cbt-content-two .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/ads-sprite.jpg')no-repeat -122px -239px;text-align:center;}
.cbt-content-three .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/ads-sprite.jpg')no-repeat -245px -240px;text-align:center;}
.cbt-content-four .cbct-top i{display:inline-block;width:120px;height:118px;background:url('../images/ads-sprite.jpg')no-repeat -367px -240px;text-align:center;}

.cbct-top{margin-bottom:10px;}

.img-containter{padding:0;}
.image-container{position:relative;display:table;table-layout:fixed;margin:0 auto;border:1px solid #cdcdcd;width:67px;height:67px;margin:0 5px 10px;padding:4px;border-radius:50%;}
.image-container .blockimg{width:65px;height:65px;display:table-cell;vertical-align:middle;text-align:center;background:#FFF;border-radius:50%;overflow:hidden;position:relative;border:1px solid #cdcdcd;}
.image-container .blockimg i{display:block;margin:0 auto;width:65px;height:65px;overflow:hidden;;background:url('../images/ads-sprite.jpg')no-repeat;}

.cbb-testimoni{padding-right:0;}
.cb-bottom .cbb-info{word-wrap:break-word;}
.cb-bottom .cbb-info b {display:block;}
.cb-bottom .cbb-info a{font-size:13px;}
.cbb-cpinfo{padding:0;}
.testimoni{background:#dddddd;padding:15px 15px 15px 25px;text-align:justify;line-height:22px;color:#555;border-radius:10px;margin-top:10px;border-left:1px solid #c8c8c8;border-top:1px solid #c8c8c8;min-height:198px;}
.testimoni span{display:inline-block;position:absolute;width:13px;height:15px;left:-10px;top:63px;background:url('../images/ads-sprite.jpg')no-repeat -520px -238px;}
.testimoni u{display:inline-block;position:absolute;width:15px;height:13px;left:5px;top:83px;background:url('../images/ads-sprite.jpg')no-repeat -488px -240px;}
.testimoni b{display:inline-block;position:relative;width:15px;height:13px;background:url('../images/ads-sprite.jpg')no-repeat -505px -240px;}

.cbb-one-photo .image-container .blockimg i{background-position:-130px -358px;}
.cbb-two-photo .image-container .blockimg i{background-position:0px -358px;}
.cbb-three-photo .image-container .blockimg i{background-position:-64px -358px;}

/*Form Permintaan*/
.quickform .kategorithumb div{height:80px;padding:10px;}
