<!--Asset Management Load : Footer Js -->
<script type="text/javascript" src="../dist/js/final1.0.js"></script>

<script>
if(typeof jQuery !== 'undefined') {
    jQuery(function($) {
        if ($('#membership_price').length) {
          $("#btn_add_membership_price").on("click", function(){
            $("#membership_price").append('<tr><td><input type="text" name="country" placeholder="Country"></td><td><input type="text" name="currency" placeholder="Currency"></td><td><input type="text" name="amount" placeholder="Amount"></td><td>&nbsp;<a href="#" class="btn btn-xs btn-danger btn_delete_membership_price">Del</a></td></tr>');
          });

          $(document).on("click", ".btn_delete_membership_price", function(){
            $(this).parent().parent().remove();
          });
        };
    });
}
</script>

<script type="text/javascript" src="../dist/js/lightslider.js"></script>
<script>
       $(document).ready(function() {
      $("#content-slider").lightSlider({
                loop:false,
                keyPress:true
            });
            $('#image-gallery').lightSlider({
                gallery:false,
                item:1,
                thumbItem:0,
                slideMargin: 0,
                speed:500,
                auto:false,
                vertical:true,
                verticalHeight:695,
                onSliderLoad: function() {
                    $('#image-gallery').removeClass('cS-hidden');
                }  
            });
    });
  </script>