      <!-- <i class="fa fa-fw fa-user"></i> side column. contains the logo and sidebar -->
      <aside class="main-sidebar no-print">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info custom-leftmenu-name">
              <p>Alexander Pierce</p>
            </div>
          </div>

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <!-- Optionally, you can add icons to the links -->
        <li class="treeview">
            <a href="users"><i class="fa fa-plus-square-o"></i> <span>Users</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./search-users.php"><i class="fa fa-angle-right"></i>Users List</a></li>
              <li><a href="./user-profile-form.php"><i class="fa fa-angle-right"></i>Create User</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="#"><i class="fa fa-plus-square-o"></i> <span>Members</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./search-users.php"><i class="fa fa-angle-right"></i>Members List</a></li>
              <li><a href="./verification-address.php"><i class="fa fa-angle-right"></i>Verification Address</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="#"><i class="fa fa-plus-square-o"></i> <span>Payments</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./payments"><i class="fa fa-angle-right"></i>Payments List</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="#"><i class="fa fa-plus-square-o"></i> <span>Account Mangement</span> <i class="fa fa-angle-left pull-right"></i></a>
          </li>
<li class="treeview">
            <a href="#"><i class="fa fa-plus-square-o"></i> <span>Products</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./post-moderation.php"><i class="fa fa-angle-right"></i>Post Moderation</a></li>
              <li><a href="./list-moderation-pending.php"><i class="fa fa-angle-right"></i>Pending</a></li>
              <li><a href="./pre-moderation.php"><i class="fa fa-angle-right"></i>Pre Moderation</a></li>
              <li><a href="./pre-moderation-supervise2.php"><i class="fa fa-angle-right"></i>Pre Moderation by User</a></li>
              <li><a href="./pre-moderation-list-moderasi.php"><i class="fa fa-angle-right"></i>Pre Moderation Supervise</a></li>
              <li><a href="./pre-moderation-supervise.php"><i class="fa fa-angle-right"></i>Pre Moderation Supervise by User</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="#"><i class="fa fa-plus-square-o"></i> <span>ACL</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./permissions"><i class="fa fa-angle-right"></i>List Permissions</a></li>
              <li><a href="./permissions/new"><i class="fa fa-angle-right"></i>Create Permission</a></li>
              <li><a href="./roles"><i class="fa fa-angle-right"></i>List Roles</a></li>
              <li><a href="./roles/new"><i class="fa fa-angle-right"></i>Create Roles</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./categories"><i class="fa fa-plus-square-o"></i> <span>Categories</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./categories"><i class="fa fa-angle-right"></i>Categories List</a></li>
              <li><a href="./categories/new"><i class="fa fa-angle-right"></i>Create Category</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./emailtemplate"><i class="fa fa-plus-square-o"></i> <span>Email</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./emailtemplates"><i class="fa fa-angle-right"></i>Email Templates</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./staticpages"><i class="fa fa-plus-square-o"></i> <span>Static Page</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./staticpages"><i class="fa fa-angle-right"></i>Static Page List</a></li>
              <li><a href="./staticpages/new"><i class="fa fa-angle-right"></i>Create Static Page</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./banks"><i class="fa fa-plus-square-o"></i> <span>Banks</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./banks"><i class="fa fa-angle-right"></i>Banks List</a></li>
              <li><a href="./banks/new"><i class="fa fa-angle-right"></i>Create Banks</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./seo"><i class="fa fa-plus-square-o"></i> <span>SEO</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./seopage"><i class="fa fa-angle-right"></i>SEO List</a></li>
              <li><a href="./seopage/new"><i class="fa fa-angle-right"></i>Create SEO</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./bannedkeywords"><i class="fa fa-plus-square-o"></i> <span>Banned Keywords</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="./bannedkeywords"><i class="fa fa-angle-right"></i>Banned Keyword List</a></li>
              <li><a href="./bannedkeywords/new"><i class="fa fa-angle-right"></i>Create Banned Keyword</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./bannedkeywords"><i class="fa fa-plus-square-o"></i> <span>Download</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="database-user.php"><i class="fa fa-angle-right"></i>Database User</a></li>
          </ul>
          </li>
<li class="treeview">
            <a href="./bannedkeywords"><i class="fa fa-plus-square-o"></i> <span>Mass Update</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="change-category.php"><i class="fa fa-angle-right"></i>Change Category</a></li>
          </ul>
          </li>
  </ul>
        </section>
        <!-- /.sidebar -->
      </aside>