<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pilih Kategori</h4>
      </div>
      <div class="modal-body col-sm-12 text-center">
        <div class="col-sm-6">
          <label>Kategori I</label>
          <select class="form-control">
            <option value="agraris">Agraris</option>
            <option value="pakaian">Pakaian dan Mode</option>
          </select>
        </div>
        <div class="col-sm-6">
          <label>Kategori II</label>
          <select class="form-control">
            <option value="agraris">Agraris</option>
            <option value="pakaian">Pakaian dan Mode</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>
      <div class="modal-footer">
      	<div class="text-center">
        <button type="button" class="btn btn-primary">Simpan</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div></div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>