<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Pemberitahuan</h4>
      </div>
      <div class="modal-body text-center">
        <p>Ubah Kategori</p>
        <p>Apakah Anda Yakin Untuk Update Produk ini?</p>
      </div>
      <div class="modal-footer">
      	<div class="text-center">
        <a href="change-category-list-edited-success.php"><button type="button" class="btn btn-danger">Ya</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
      </div></div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>