<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Title Produk</h4>
        <small>ID Produk</small>
      </div>
      <div class="modal-body text-center">

        <div class="col-md-4">
                    <h4>Main Category</h4>
                    <select multiple class="form-control">
                      <option>Teknologi & Komunikasi</option>
                      <option>Kesehatan & Kecantikan</option>
                      <option>Media, Musik & Buku</option>
                      <option>Pertanian & Produk Pangan</option>
                      <option>Peralatan Kantor</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <h4>Category Child 2</h4>
                    <select multiple class="form-control">
                      <option>Handphone & Tablet</option>
                      <option>Komputer & Laptop</option>
                      <option>Sistem Keamanan</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <h4>Category Child 3</h4>
                    <select multiple class="form-control">
                      <option>Modem</option>
                      <option>Handphone</option>
                      <option>Kartu Prabayar</option>
                      <option>Tablet</option>
                      <option>Kabel Handphone</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <h4>Category Child 2</h4>
                    <select multiple class="form-control">
                      <option>Handphone & Tablet</option>
                      <option>Komputer & Laptop</option>
                      <option>Sistem Keamanan</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <h4>Category Child 3</h4>
                    <select multiple class="form-control">
                      <option>Modem</option>
                      <option>Handphone</option>
                      <option>Kartu Prabayar</option>
                      <option>Tablet</option>
                      <option>Kabel Handphone</option>
                    </select>
                  </div>

<div class="clear"></div><br />
      </div>
      <div class="modal-footer">
      	<div class="margintop text-center">
        <a href="change-category-list-edited.php"><button type="button" class="btn btn-primary">Set</button></a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
      </div></div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
</div>