
/* Start Coloumn*/
.full-container{font:14px/1.3 "Roboto", Helvetica, sans-serif;color:#555;width:100%;margin:0 auto;box-sizing:border-box;} 
.con:before,.con:after{content:"";display:table;line-height:0;height:0;box-sizing:border-box;} 
.con:after{clear:both;box-sizing:border-box;} 
.lte7 .con{zoom:1;} 
.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11, .in-lg-12{float:left;position: relative;min-height: 1px;padding:0 15px;box-sizing:border-box;} 
.in-lg-1{width:8.33333333%;} 
.in-lg-2{width:16.66666667%;} 
.in-lg-3{width:25%;} 
.in-lg-4{width:33.33333333%;} 
.in-lg-5{width:42.66666667%;} 
.in-lg-6{width:50%;} 
.in-lg-7{width:58.33333333%;} 
.in-lg-8{width:66.66666667%;} 
.in-lg-9{width:75%;} 
.in-lg-10{width:83.33333333%;} 
.in-lg-11{width:91.66666667%;} 
.in-lg-12{width:100%;} 
/* end of coloumn*/

@media only screen and (max-width: 1199px){
	.in-md-1{width:8.33333333%;} 
	.in-md-2{width:16.66666667%;} 
	.in-md-3{width:25%;} 
	.in-md-4{width:33.33333333%;} 
	.in-md-5{width:41.66666667%;} 
	.in-md-6{width:50%;} 
	.in-md-7{width:58.33333333%;} 
	.in-md-8{width:66.66666667%;} 
	.in-md-9{width:75%;} 
	.in-md-10{width:83.33333333%;} 
	.in-md-11{width:91.66666667%;} 
	.in-md-12{width:100%;} 
}
@media only screen and (max-width: 991px){
	.in-xm-1{width:8.33333333%;} 
	.in-xm-2{width:16.66666667%;} 
	.in-xm-3{width:25%;} 
	.in-xm-4{width:33.33333333%;} 
	.in-xm-5{width:41.66666667%;} 
	.in-xm-6{width:50%;} 
	.in-xm-7{width:58.33333333%;} 
	.in-xm-8{width:66.66666667%;} 
	.in-xm-9{width:75%;} 
	.in-xm-10{width:83.33333333%;} 
	.in-xm-11{width:91.66666667%;} 
	.in-xm-12{width:100%;} 
}
@media only screen and (max-width: 767px){
	.in-sm-1{width:8.33333333%;} 
	.in-sm-2{width:16.66666667%;} 
	.in-sm-3{width:25%;} 
	.in-sm-4{width:33.33333333%;} 
	.in-sm-5{width:41.66666667%;} 
	.in-sm-6{width:50%;} 
	.in-sm-7{width:58.33333333%;} 
	.in-sm-8{width:66.66666667%;} 
	.in-sm-9{width:75%;} 
	.in-sm-10{width:83.33333333%;} 
	.in-sm-11{width:91.66666667%;} 
	.in-sm-12{width:100%;} 
}
@media only screen and (max-width: 499px){
	.in-xs-1{width:8.33333333%;} 
	.in-xs-2{width:16.66666667%;} 
	.in-xs-3{width:25%;} 
	.in-xs-4{width:33.33333333%;} 
	.in-xs-5{width:41.66666667%;} 
	.in-xs-6{width:50%;} 
	.in-xs-7{width:58.33333333%;} 
	.in-xs-8{width:66.66666667%;} 
	.in-xs-9{width:75%;} 
	.in-xs-10{width:83.33333333%;} 
	.in-xs-11{width:91.66666667%;} 
	.in-xs-12{width:100%;} 
}
@media only screen and (max-width: 395px){
	.in-xxs-1{width:8.33333333%;} 
	.in-xxs-2{width:16.66666667%;} 
	.in-xxs-3{width:25%;} 
	.in-xxs-4{width:33.33333333%;} 
	.in-xxs-5{width:41.66666667%;} 
	.in-xxs-6{width:50%;} 
	.in-xxs-7{width:58.33333333%;} 
	.in-xxs-8{width:66.66666667%;} 
	.in-xxs-9{width:75%;} 
	.in-xxs-10{width:83.33333333%;} 
	.in-xxs-11{width:91.66666667%;} 
	.in-xxs-12{width:100%;} 
}

body{background:#FFF !important;}

/* Header */

.theme-header{font:13px/1.5 'Open Sans', Arial, sans-serif;padding:10px;background:#FCFCFC;position:fixed;z-index:999;height:60px;width:100%;box-sizing:border-box;top:0;box-shadow: 1px 1px 20px #DDD;}
.theme-cloud-head{background:url(../images/theme/theme-cloud-head.png) repeat-x 0 0;width:100%;height:53px;bottom:-45px;left:0;position:absolute;}
.theme-userinfo{padding:8px 0;}
.theme-userinfo ul{float:right;margin-right:10px;}
.theme-userinfo ul>li{border-right:0;border-bottom:0;border-radius:2px;cursor:pointer;position:relative;display:inline-block;padding:3px 5px 4px 10px;margin-right:-4px;}
.theme-submenu-cont{width:96%;}
.theme-userinfo .submenu{right:0;}
.theme-hlogo{width:10%;float:left;padding:6px 0;}
.theme-hlogo .logo{width:117px;}
.theme-hsearch{width:50%;float:left;}
.theme-sm-chart{left:-50px;}
.theme-sm-chart .cart-list h3{padding-left:20px;}
.submenu ul.cart-list{width:96% !important;}
.searchbox input[type="text"] {width:231px;}
.notif-bubble{padding:5px 5px 8px;margin-left:3px;}
.notif-bubble,.searchbox input[type="submit"],.btn-submit, input[type="button"], input[type="submit"], input[type="reset"], input[type="cancel"]{background:#105281;}
.searchbox input[type="submit"]:hover{background:#258dc8;}
.submenu li:hover a{background:#105281;}


.toolbar .cat_display:after,.toolbar ico,.nav-page ico{opacity:1 !important;}
.totop.showme{top:50px;}
.totop.showme ico{filter:invert(0);}


/* Start Head and cp-profile */
.wrpper{padding:0 20px;}
.head{position:relative;}
.banner{width:100%;background-size: cover; height: 289px;border: 1px solid rgba(0,0,0,.1);
border-width: 1px 0;}
.banner img{background-position:top center;}
.profile{position:absolute;top:0;left: 0;height:290px;padding:0;color:#FFF;z-index:10;opacity:1;transition:opacity .25s ease-in-out;}
.profile-scroll .img-box{width:80px;height:80px;vertical-align:middle;display: table-cell;}
.photo-profile{height:289px;padding:0;background:rgba(0,0,0,0.5);text-align: center;vertical-align: middle;display: table;}
.img-box{width:170px;height:170px;vertical-align:middle;display: table-cell;}
.img-box img{max-width:170px;max-height:170px;}
.name-profile{background:rgba(34,102,204,0.7);padding:38px 20px 20px;font-size:14px;height:289px;}
.name-profile .cpname {color:#FFF;font-size:30px;max-height:70px;overflow:hidden;}
.location{font-size:14px;margin:20px 0 79px;}
.rating{float:left;margin-right:50px;}
.rating p{margin:10px 0 0 0;}
.send-btn{color:#FFF;display:inline-block;text-decoration:none;border:1px solid #FFF;font-size:14px;padding:10px 25px;}
.send-btn:hover{background:#FFF;color:rgba(34,102,204,0.7);}
.profile-l{padding:0;height:0;opacity:0;}
.profile-l .photo-profile{width:100%;height:0;padding: 0;text-align: center;vertical-align: middle;display: table;background:none;}
.profile-l .img-box {width: 80px;height: 80px;vertical-align: middle;display: table-cell;padding: 20px 0;}
.profile-l .photo-profile .img-box img {max-width: 80px;max-height: 80px;}
.profile-l .priority{border:none;}
.profile-l .name-profile{background:transparent;text-align:center;padding:0 20px 20px;display:none;min-height:310px;}
.profile-l .name-profile h2{font-size:16px;font-weight:normal;color:#555;line-height:20px;margin-bottom:5px;}
.profile-l .location{font-size:12px;margin:0 0 15px;}
.profile-l .rating{float:none;margin:0 auto;}
.profile-l .rating .rate{float:left;}
.profile-l .rating ico{margin:0;width:95px;}
.profile-l .rating p{float:right;font-size: 12px;margin: 5px 0 0 0;}
.profile-l .send-btn{border:1px solid #ff6c00;color:#ff6c00; margin-top:20px;}
.profile-l .send-btn:hover{background:#ff6c00;color:#FFF;}
.cp-fixed .profile-l .name-profile{display:block;}
.cp-fixed .profile{opacity:0;transition: opacity .25s ease-in-out;}
.cp-fixed .cont-left .content-l{position:fixed;width:225px;height:650px;top:50;left:0;bottom:0;background:#FFF;}
.cp-fixed .profile-l{min-height:300px;opacity:1;transition:opacity .25s ease-in-out;}
.cp-fixed .cont-left .content-l .priority{display:none;}
.cp-fixed .cont-left .profile-l .priority{display:block;}
.cp-footermargin .profile-l{display:none;}
.listing .verified{margin-left: 5px; border:2px solid #fff; border-radius: 50%; background: #fff}
.verified img{ margin-top:-2px; margin-left: -1px }
/*End of cp-profile*/

/*Start Left Content*/
.content-l,.content-r{padding:0;}
.cont-left{padding:0;position:relative;}
.content-r{border-left:1px solid #DDD;}
.tar{float:right;padding:20px 0;text-align: center;color:#777;font-size:16px;}
.tar li{float:left;width:25%;}
.tar .emailprofile {word-break: break-all;}

.tar b{color:#333;}
.priority {text-align:center;padding:10px 0;border-bottom:1px solid #DDD;color:#2266cc;display:block;}
.priority {margin:0;}
.priority img{width:25px;height:25px;}
.mrq{float:left;margin:0;line-height: 44px;border-style:solid;border-color:#DDD;border-width:1px 0;}
.address{padding:25px;line-height:20px;border-top:0;}
.address strong{display:block;margin-bottom:20px;}
.address span{display:inline-block;}
.cp-desc{padding:25px 20px;border:1px solid #DDD;border-left:0;border-top:0;position:relative;}
.cp-desc h1{font-size:22px;margin-bottom: 10px;}
.cp-desc p{margin:0 0 10px 0;}
.morelink{border: 1px solid #DDD;position: absolute;right: 0;bottom: 0;padding: 3px;border-bottom: 0;width: 108px;font-size: 11px;color:#555;}
.morelink:hover{color:#DDD;}
.morecontent span {display: none;}
.category{padding:0;border-top:1px solid #DDD;}
.category li{float:left;padding:7% 6.5%;border:1px solid #DDD;border-left:0;border-top:0;}
.category li:hover{background:#F8F8F8;}
.category li:nth-child(3n+3){border-right:0;}
.category .cat-ico{display:inline-block;width:45px;height:45px;text-align:center;}
.category .cat-ico ico{transform: scale(2.5);margin: 10px;}
/*End of Left Content*/
/* Paging */
.theme-list-product hr{margin:0;}
.pagination{height:45px;}
.toolbar{border:1px solid #DDD;padding:0 !important;margin-bottom:20px;}
.toolbar .colfix > ul{color: #686868;box-shadow:none !important;}
#tool-kelompok.cat_selection {width: 100%;margin-left: 0;margin-top:0 !important;border-right:1px solid #DDD;}
.theme-pgnselect .mg0 li{width:100%;padding:0 !important;}
.theme-pgnfilter > ul > li{padding:15px 9px!important;height:45px !important;}
.theme-short{width:30%;}
.theme-short li{width:100%;}
.theme-short li .cat_selection{width:60%;}
.theme-pgnfilter #list-view{width:15%;border:1px solid #DDD;border-radius:0;border-top:0;border-bottom:0;}
.theme-pgnfilter #list-view li{width:49%;}

.toolbar .cat_selection {margin:0!important;}
.toolbar .colfix {height: 45px}
.toolbar .colfix.fright > ul > li{ padding:0!important;line-height: 50px;height:45px!important;}
.toolbar .colfix > ul > li {float: left;}
.toolbar .colfix > ul > li a {padding: 4px 0!important; color: #666;display: block;}
.toolbar .colfix.in-lg-3 > ul {height:45px !important;float: left;width: 100%;}
.toolbar .colfix.in-lg-3 > ul > li:first-child {border: 0;float: left;width: 100%;}
.toolbar .colfix > ul {height:45px !important;float: left;}
#tool-kelompok .cat_display {margin: 0;border: 0;line-height:40px;height: 45px;}
.toolbar .cat_display {line-height:40px;height: 45px!important;}
.toolbar .colfix.fright > ul.page > li { padding: 0!important;}
.toolbar .colfix.fright > ul.page > li input[type=text]{margin:12px 10px 0 10px!important;}
.toolbar .search-suggestion-box {top: 46px;right: inherit;left: 0;}
.search-suggestion-box{background-color: #f1f3f7;border-top: 0;}
.search-suggestion-box li {float:left;width:100%;margin:0;text-indent: 5px}
.sortby{text-align:center;width:68px;}
.fright .list-view{border-style: solid;border-color: #DDD;border-width: 0 1px 0 1px;height:45px;}
.fright .list-view .ico-list-semirow:hover, .fright .list-view .ico-list-grid:hover{background:#F8F8F8;}
.fright .list-view .ico-list-grid{background:#F8F8F8;}
.toolbar .colfix.fright .list-view li { padding: 15px 10px 0!important;}
.list-content .fright .list-view .ico-list-semirow{background:#F8F8F8;}
.list-content .fright .list-view .ico-list-grid{background:#FFF;}

.active{background:#F8F8F8;}
.pagination .page {font-weight: bold;float:right!important;}
.pagination .page li:first-child {margin-right:10px;}
.pagination .page .next, .pagination .page .prev{width:49px;text-align:center;border-left:1px solid #ddd;}
.pagination .page .next a, .pagination .page .prev a{padding:15px!important;}
.toolbar .colfix.fright > ul{margin:0 !important;}
.cp-fixedtoolbar .pagination { position: fixed;top: inherit;text-align: center;bottom: 0;z-index: 30;margin: 0;width: 98%;padding: 10px 1%!important;right:0;background: #efefef;border-right: 0;border-left: 0;}
.cp-fixedtoolbar .pagination .cat_selection {border-left:1px solid #DDD;}
.cp-fixedtoolbar .pagination .page{border-right:1px solid #DDD;}
.cp-fixedtoolbar .pagination-fixed .search-suggestion-box { bottom: 46px;top: inherit;position: absolute;border-radius: 4px 4px 0 0;padding-bottom: 0;}
/*end Paging */
/* Starg Produtct*/
.product {padding: 20px;}
.prd-cont{margin-bottom:20px;min-height:750px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.prd-cont li{position:relative;float:left;width:20%;border-left:1px solid #ddd;padding:0;margin:0 0 0 -1px;}

.stock-or{position:absolute;padding:10px;border-bottom:1px solid #DDD;display:none;background:#f8f8f8;box-shadow: 1px 4px 6px rgba(0,0,0,0.5);left:-1px;right:-1px;bottom:-50px;z-index:25;}
.prd-cont li:hover .stock-or{display:block;}
.prd-cont li:hover{position:relative;z-index:100;transition: all 0.3s;-o-transition: all 0.3s;-moz-transition: all 0.3s;-webkit-transition: all 0.3s;transform: scale(1.1);-moz-transform:scale(1.1);-o-transform: scale(1.1);-webkit-transform: scale(1.1);box-shadow: 2px 2px 6px rgba(0,0,0,0.5);}
.stock-or .min-order p,.stock-or .stock p{font-size:11px;color:#999;}
.pd-imgbox{position:relative;width: 100%;height: 280px;background: #FFF;margin: 0 auto;border-bottom:1px solid #DDD;}
.prd-cont li .tag{right:20px;z-index:1;}
.pd-img {display: table;margin: 0 auto;}
.pd-img .blockimg {text-align: center;vertical-align: middle;}
.pd-img .blockimg img{max-width:100%; max-height: 205px;margin: 20px;}
.price-box{padding:0 15px 10px;background:#FFF;text-align:right;color:#fc6000;font-size:18px;margin-bottom:0 !important;}
.price-box span{font-weight:bold;font-size:13px;}
.price-box p{margin-bottom:0;}
.pd-desc{background:#f8f8f8;padding:10px;}
.pd-tittle{color:#00629c;margin-bottom:0;height:35px;overflow:hidden;}
.pd-tittle a{color:#00629c;}
.stock-or p{margin-bottom:0;}

/*Start List Content*/
.list-content .prd-cont li{width:49%;margin:0 8px 20px 0;border:1px solid #DDD;border-bottom:0;}
.list-content .pd-imgbox{float:left;width:170px;height:170px;border-right:1px solid #DDD;}
.list-content .pd-desc{position:relative;width:430px;float:left;padding:40px 10px 10px 10px;border-bottom:1px solid #DDD;}
.list-content .pd-tittle{background:#f8f8f8;text-align:left;padding:0;margin:0 0 53px !important;}
.list-content .price-box{position: absolute;display: block;top: 90px;left: 181px;z-index: 30;background: #F8F8F8;padding: 0;}
.list-content .stock-or{position:initial;display:block;border-bottom:0;box-shadow:none;padding:0;}
.list-content .stock-or div{padding:0;}
.list-content .pd-img{height:170px;}
.list-content .pd-img img{max-height:140px;max-width:140px;}
.footer-content{padding:30px 0 !important;}
/*End List Content*/

/*pop up*/
.contact dt {float: left;width: 24%;color:#999;}
.contact dd {padding: 0 0 10px 24%;line-height: 20px;}
.contact input {margin: 0 5px 0 0;vertical-align: middle;border:0;}
.contact .thm-btn{padding: 7px 12px;float: right;font-size: 13px;border:0;transform-origin: 50% 0%;transition: transform 0.75s cubic-bezier(0.5, 3, 0.65, 0.45) 0.3s;border-radius:0;}
.button-lr{position: absolute;bottom: -96px;left: -82px;width: 810px;}
.button-l{width: 175px;background: #FFF;float: left;height: 45px;transform-origin: 50% 0%;}
.button-l:hover{transition: background-color: 0.15s ease 0s, transform 0.15s ease 0s;transition-delay: 0s, 0s;transform: rotateX(-20deg);}
.button-m{float:left;}
.button-r{width:533px;background:#FFF;float: left;height: 45px;}
.button-lr .button-m .thm-btn{transform-origin:50% 0;transition: transform 0.75s cubic-bezier(0.5, 3, 0.65, 0.45) 0.3s;}
.button-lr .button-m .thm-btn:hover {transition: background-color: 0.15s ease 0s, transform 0.15s ease 0s;transition-delay: 0s, 0s;transform: rotateX(-30deg);}
.bg-overlay{display: none;position: absolute;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background:#DDD;z-index:1001;-moz-opacity: 0;opacity:0;filter: alpha(opacity=80);}
.popup-box {display: none;position: absolute;position: fixed;top: 20%;left: 25%;width: 50%;background:#FFF;z-index:1002;opacity:0;border:1px solid #DDD;}
.popup-content{padding: 15px 30px;}
.popup-box h3{color:#555;padding:20px 30px;font-size:18px;font-weight:bold;border-bottom:1px solid #DDD;}
.popup-box .close{background:#f8f8f8;color:#999;padding:9px;border:1px solid #DDD;border-left:0;background:#FFF;position:absolute;width:10px;height:10px;right:-29px;top:-1px;line-height:12px;}
/*end pop up*/
.footer-blank {height:385px !important;}

/* Detil.css*/		
	.detail-product .productimg {display:block;float:left;width:100%; height:353px; background:#FFF; border:1px solid #DDD;}
	.detail-product .producttitle {margin-bottom: 20px;}
	.detail-product .listdetail {font-size:11px;line-height: 1.2em}
		.detail-product .listdetail dl {width:100%;overflow: hidden;}
		.detail-product .listdetail dt {font-weight:300;color:#888;float:left;width:45%;text-align: right}
		.detail-product .listdetail dd {margin-bottom:4px;float:left;text-indent:15px;width:55%;color:inherit;}	
		.detail-product .thumbnails {width:100%;display:block;text-align:center;margin:10px auto;}
		.detail-product .thumbnails li {display: inline-block;font-size: 10px;float: none;width: 30px;height: 30px;margin: 0 0 2px 0;padding: 0;border-radius: 3px;overflow: hidden;border: 1px solid #ccc;cursor: pointer;opacity: .4; transition: color .2s, background .2s;position: relative;}
		.detail-product .thumbnails li:hover {opacity:1;}
		.detail-product .thumbnails li img {position: absolute;max-width: 100%;max-height: 100%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}
		.detail-product .thumbnails li.active {cursor: default;opacity: 1;}
		.detail-product .thumbnails li:last-child {margin-right:0;}
		.detail-product .preloader{text-align:center; display:none;}
		.detail-product .imgbox.loading .preloader{display:block;} .detail-product .imgbox.loading .img{opacity:.5;}
		.detail-product .thumbnail-lists {margin:0 auto;width:300px;height:34px;overflow:hidden;}
		.detail-product .product {display: block;float:left;width: 100%;height:400px;}
		.listdetail input[type=submit]{padding: 4px 10px;margin:5px 0 0;font-size: 12px;}

/* VENDOR DETAIL */
	.otherproduct {margin-top:0;float:left;border:1px solid #eee;}
		.detail-product .vendortitle {display:block;margin-bottom:4px;background:#fff;min-height:55px;border:1px solid #DDD;height:82px;margin-bottom:0;border-left:0;background: rgba(0, 75, 191, 0.7)}
		.detail-product .vendortitle .logo {display:block;width:55px;float:left;margin-right: 10px;}
		.detail-product .vendortitle small {float: right;position: relative;top: 4px;}
	.detail-product .vendorbody {display:block;float:left;background:#fff;padding:15px;font-size:12px;line-height: 1.3em;border-bottom:1px solid #DDD;}
		.detail-product .vendorbody .iconterverifikasi {margin-bottom:10px;}
		.detail-product .vendorbody .listdetail dl {width:100%;overflow: hidden;font-size:14px;}
		.detail-product .vendorbody .listdetail dt {font-size:14px;font-weight:300;color:#888;float:left;width:35%;text-align: left;}
		.detail-product .vendorbody .listdetail dd {font-size:14px;margin-bottom:2px;float:left;width:65%;text-indent:0;color:inherit;padding:0 0 10px}
		.detail-product .linkvendordetail {margin-top:25px;}
		.detail-product .vendorbody .link {display:block;font-size:11px;line-height:1.1em;}
		.detail-product .vendorbody ico {float:left;}

/* OTHER PRODUCT DETAIL */
		.detail-product .otherproducttitle {display:block;float:left;width:100%;background:#fff;text-align:center;padding:17px 0;border-bottom:1px solid #efefef;}
		.detail-product .otherproducttitle .producttitle {margin-bottom:0;text-transform: uppercase;font-size:10px; font-weight:normal;}
		.detail-product .otherproductbody {display:block;float:left;background:#fff;padding:15px;font-size:12px;line-height: 1.3em;border-bottom:1px solid #efefef;}
		.otherproductbody img {width:90%;}
		.otherproductbody h4 {font-size:14px;font-weight:normal;margin:0 0 15px 0;color:#444;}
		.otherproduct .price {margin-bottom:30px;}
		.otherproductbody .price span {font-size:12px;font-weight:normal; color:#666;}
		.minorder:before, .stok:before {font-size: 10px;color:#888;position: absolute;margin-top: -14px;font-weight: normal;}
		.stok:before {content: 'tersedia';}
		.minorder:after, .stok:after {content:'buah';font-size:10px;margin-left:3px;font-weight: normal;}
		.detail-product .otherproducttitle a {display:block;float:left;width:100%;background:#fff;text-align:center;text-transform: uppercase;font-size:10px; line-height: 1.2em;color:#444;}
		.detail-product .otherproducttitle a:after {content:"• • •";display:block;text-align:center;}

/* TABBING */
	.detail-product .tabs li {float:left;display: block;width:23%;border-bottom:1px solid #ddd;margin-bottom: -1px;cursor: pointer;background:#f1f1f1;text-transform: uppercase;font-size:11px;z-index:20;}
	.detail-product .tabs li div {text-align: center;padding:15px 5px 12px 5px;border-left:1px solid #ddd;margin:0 auto;}
	.detail-product .tabs li:first-child div {border-left:0;}
	.tabdetail .tabs .tab-link.current {background:#F8F8F8;border-bottom:1px solid #F8F8F8;border-top: 1px solid #DDD;margin-left:30px;position:relative;z-index:20;}
	.tabdetail .tabs .tab-link.current:first-child div {border-left:1px solid #DDD;}
	.tabdetail .tabs .tab-link.current:last-child div {border-right:1px solid #DDD;}
	.tabdetail .tab-content {float:left;display: none;width:100%;border-top:1px solid #ddd;padding:30px;}
	.tabdetail .tab-content.current {display: inherit;}
	.tabdetail .tab-content {line-height: 1.2em}
	.tab-content .listdetail dt {text-align: left}
	.tab-content .iconterverifikasi {margin-bottom:10px;}
	.tabdetail .tab-content .thumbnails {float:left;margin-top:10px;}
	.tabdetail .tab-content .thumbnails div:first-child {margin-left:0;}
	.tabdetail .tab-content .thumbnails img {width: 98%;margin:1%;border-right:0; }
}
/*End Detil.css*/

/*detail produk*/
.theme-pd-detail {}
.theme-det-dp-l{padding:30px 0 0 0;border-right:1px solid #DDD;}
.theme-det-product{}
.img-det-pd{margin-left:30px;padding:0;}
.theme-det-imgbox{border:1px solid #DDD;position:relative;width:335px;height: 339px;background: #FFF;float:left;border-bottom:1px solid #DDD;}
.theme-det-img {display: table;margin: 0 auto;}
.theme-det-img.blockimg {text-align: center;vertical-align: middle;}
.theme-det-img .blockimg img{max-width:100%;max-height:339px;}
.theme-pd-data {float:left;margin:0 25px;padding:0;}
.theme-det-tittle{font-size:24px; color:#00629C;max-width:510px;}
.theme-min-update{margin-bottom:20px;}
.theme-min-update li{float:left;width:50%;margin-bottom:20px;}
form .theme-min-update:first-child li{width:33%;text-align: center;}
form .theme-min-update:first-child li:first-child {text-align: left;}
form .theme-min-update:first-child li:last-child {text-align: right}
.theme-min-update li span, .theme-min-update li span{color:#999;font-size:14px;}
.theme-min-update li b{font-weight:normal;color:#333;font-size:16px;}
.theme-min-update .qty{width:50px;background:#f9f9f9;}
.theme-min-update .unit span{line-height:38px;padding-right:30px;}
.theme-price-unt .theme-pd-info dd {padding:0;}
.theme-pd-info dt {float: left;width: 19%;color:#999;line-height:38px;}
.theme-pd-info dd {padding: 0 0 0 19%;line-height: 20px;color:#fc6000;font-size:16px;}
.theme-pd-info dd b{font-weight:bold;font-size:24px;color:#fc6000;}
.theme-pd-info dd span{font-size:12px;color:#999;position:}
.theme-pd-info input {margin: 0 5px 0 0;vertical-align: middle;border:0;}
.theme-data-btn {margin-top:20px;}
.theme-pd-info .thm-btn{padding: 7px 12px;float: right;font-size: 13px;border:0;transform-origin: 50% 0%;transition: transform 0.75s cubic-bezier(0.5, 3, 0.65, 0.45) 0.3s;border-radius:0;}
.theme-data-btn .theme-addtochart .cart-add{background: url(../images/theme/theme-sprite.png) no-repeat; background-position:-4px -3px}
.theme-data-btn .theme-addtofav .favorite{background: url(../images/theme/theme-sprite.png) no-repeat; background-position:-53px -3px}
.theme-data-btn a:hover{color:#1181c9;}
.theme-data-btn .theme-addtochart:hover .cart-add{background-position:-28px -3px}
.theme-data-btn .theme-addtofav:hover .favorite{background-position:-76px -3px}
.theme-pd-data .send-btn{border: 1px solid #ff6c00;color: #ff6c00;background:none;border-radius:0;padding:8px 25px;}
.theme-pd-data .send-btn:hover {background: #ff6c00;color: #FFF;}
.theme-addtochart{display:inline-block;vertical-align:middle;font-size:12px;color:#777;padding:10px 25px;}
.theme-addtochart:hover, .quickviewonly .btn:hover {color:#1181c9;}
.theme-addtofav{display:inline-block;vertical-align:middle;font-size:12px;color:#777;}
.theme-description-pd {padding:0 !important;}
.theme-description-pd .moreellipses {display:none;}
.theme-description-pd .morelink {border:0;position:relative;}
.theme-description-pd h3{font-size:18px;}
.imgbox.imgprofile {border:0;}
.imgbox.imgprofile{border-radius:0;width:80px !important;height:80px !important;}
.producttitle{font-weight:normal;font-size:16px;}
.theme-det-dp-r{padding:0;}
.quickviewonly .btn{border: 1px solid #ff6c00;color: #ff6c00;background:none;border-radius:0;padding:8px 25px;}
.theme-nav-page{padding:30px 25px 20px;}
.theme-nav-page a {border:1px solid #DDD;padding:12px 16px;text-align:center;display:inline-block;margin-left:-4px;color:#777;}
.theme-nav-page ico {opacity: .4;}
.theme-nav-page a:hover{background:#DDD;}
.theme-nav-page .nav-right{margin-right:0;margin-left:15px;}
.detail-product .vendortitle .imgbox.imgprofile{border:1px solid #DDD;float:left;}
.detail-product .vendortitle .producttitle{font-size:16px;float: left;padding:0 30px;margin:21px 0;color:#FFF;max-height:40px;overflow:hidden;}
.detail-product .vendortitle .producttitle a{color:#FFF;}
.detail-product .vendortitle .producttitle a:hover{color:#DDD;}
.tabdetail .tab-content  article{margin-bottom:20px;}
.tabdetail .tab-content .producttitle a{color:#555;font-size:16px;}
.tabdetail .tab-content .producttitle a:hover{color:#DDD;}
.tabdetail .tab-content .thumbnails div:hover{background:#DDD;}
.otherproduct{padding:0 20px;border:0;}
.otherproducttitle{border:none;}
.otherproducttitle .producttitle{font-size:16px !important;font-weight:bold !important;color:#333;}
.otherproductbody {border-left:1px solid #DDD;border-right:1px solid #DDD;}
.otherproductbody:hover {background:#DDD;}
.otherproductbody h4{color:#00629c;}
.otherproductbody .price{color:#fc6000;font-weight:bold;}
.otherproduct .more-pd{padding:7px 0;border-left:1px solid #DDD;border-right:1px solid #DDD;width: 99.3%;}
.otherproduct .more-pd a{text-transform:none;color:#0e75ba;font-size:11px;}
.otherproduct .more-pd ico{background-position:-210px -30px;transform:scale(0.5);}
.detail-product .otherproducttitle a:after{content:none !important;}

/* Read More */

.showmore_content p {margin:0!important;padding:0!important;}

.showmore_content {
position: relative;
overflow: hidden;
}
.showmore_trigger {
width: 100%;
height: 45px;
line-height: 45px;
cursor: pointer;
}
.showmore_trigger span {
display: block;
}
.showmore_trigger span.more {
display: block;
position: relative;
bottom:100px;
}
