<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<div class="mobile static-faq">
                      <center><h3>Bantuan</h3></center>
                      
            <div class="slidingDiv umum">
				<div>
                <h4><a href="javascript:void()">UMUM</a></h4><br>
				<ul> 
					<li>
					<h4>Apa itu Indonetwork.co.id?</h4>
					
					<p>Indonetwork.co.id merupakan situs penyedia direktori sebagai media promosi online berbasis web yang dapat menghubungkan penjual dan pembeli antar bisnis (B2B - Business to Business) dan kalangan B2C (Business-to-Customer)  dalam 24 Jam nonstop menjangkau seluruh wilayah Indonesia.</p>
					
					</li>

					<li>
					<h4>Manfaat Indonetwork?</h4>
					
					<p>
						<ol>
							<li>Membantu Anda membuat promosi online dengan mudah</li>
							<li>Dengan mudah memperoleh informasi perdagangan baru</li>
							<li>Meningkatkan penjualan dan pengembangan bisnis Anda</li>
							<li>Hemat biaya operasional dan pemasaran</li>
						</ol>
					</p>
					
					</li>

					<li>
					<h4>Dimanakah kantor Indonetwork?</h4>
					
					<p>
						Lippo Kuningan 21st Floor,<br />
						Jl HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta 12940, Indonesia<br /><br />

						Cabang :<br />
						Ruko Grand City Regency Blok A-10<br />
						Jl. Rungkut Madya, Surabaya, Indonesia. <br />
						Customer Support : 0804-1-787878<br />
						Email:<a href="mailto:support@indonetwork.co.id"> support@indonetwork.co.id</a>
					</p>
					
					</li>

					<li>
					<h4>Apakah Indonetwork juga menjual atau menawarkan barang atau jasa secara langsung?</h4>
					
					<p>Tidak. Indonetwork.co.id bukanlah pemasok ataupun produsen atas produk tertentu. Indonetwork.co.id hanya menyediakan platform informasi bisnis untuk Pembeli dan Penjual sehingga dapat mempermudah untuk mencari barang-barang secara online. Dengan demikian, Indonetwork tidak melayani transaksi pembelian maupun pengiriman. 
					</p>
					
					</li>

					<li>
					<h4>Apakah Indonetwork hanya tersedia untuk Penjual?</h4>
					
					<p>Indonetwork.co.id juga tersedia bagi Pembeli yang ingin mencari produk dan atau membeli produk dari Penjual yang tergabung sebagai Anggota Indonetwork</p>
					
					</li>

					<li>
					<h4>Apa saja layanan yang di tawarkan Indonetwork?</h4>
					
					<p>Kami tawarkan keanggotaan "FREE", "<a href="http://www.indonetwork.co.id/membership/sms">Layanan SMS</a>" dan "<a href="http://www.indonetwork.co.id/membership/prioritas">Prioritas</a>".</p>
					
					</li>

					<li>
					<h4>Apa perbedaan dari Layanan tersebut?</h4>
					
					<p>
						<table class="layanan" cellpadding="4" cellspacing="0" border="0">
							<thead>
								<tr>
									<td><b>Fasilitas</b></td>
									<td><b>Prioritas</b></td>
									<td><b>Layanan SMS</b></td>
									<td><b>Free</b></td>
									<td><b>Domain</b></td>
							</thead>
							<tbody>
								<tr>
									<td>Website langsung jadi</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>-</td>

								</tr>
								<tr>
									<td>Promosi Produk & Perusahaan di Internet</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Kredibilitas dan kepercayaan lebih tinggi</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Layanan Pemberitahuan SMS</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Tersedia pilihan tampilan situs profesional (theme)</td>
									<td>Yes</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Posisi utama di direktori www.indonetwork.co.id</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Meningkatkan posisi di situs Internet</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Website lebih banyak pengunjung dan pembeli</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
								<tr>
									<td>Memperluas akses hingga pasar mancanegara</td>
									<td>Yes</td>
									<td>-</td>
									<td>-</td>
									<td>-</td>
								</tr>
							</tbody>
						</table>
					</p>	

					<p>
						<table class="layanan" cellpadding="3" cellspacing="0" border="0" >
							<thead text-align="center">
								<tr>
									<td colspan="2" >Biaya</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Prioritas</td>
									<td>Rp 1.700.000</td>	
								</tr>
								<tr>
									<td>Layanan SMS</td>
									<td>Rp 399.000</td>			
								</tr>
								<tr>
									<td>Free</td>
									<td>Free</td>
								<tr>
								<tr>
									<td>Domain</td>
									<td>Rp 200.000</td>
								<tr>
							</tbody>
						</table>
					</p>			

					</li>

					<li>
					<h4>Apakah Indonetwork melayani layanan jasa pengiriman?</h4>
					
					<p>Tidak. Indonetwork hanya sebagai penyedia platform dari pemasaran produk secara online.  </p>
					
					</li>

					<li>
					<h4>Perusahaan kami sudah tutup, apakah Akun saya bisa di tutup?</h4>
					
					<p>Bisa. Penjual dapat informasikan alasan penutupan dengan jelas dan berikan dokumen pendukung yaitu SIUP (Surat Izin Usaha Perdagangan) dan NPWP (Nomor Pokok Wajib Pajak) melalui email Customer Support Indonetwork.</p>
					
					</li>

					<li>
					<h4>Apakah itu Cookie ?</h4>
					
					<p>Cookie merupakan informasi kecil yang oleh situs web disimpan pada sebuah file yang ditunjuk di komputer anda. Untuk lebih lengkapnya dapat dilihat di link berikut : http://www.indonetwork.co.id/page/privacy-policy pada poin "Apakah itu Cookie?"</p>
					
					</li>

					<li>
					<h4>Akankah situs web lainnya dapat mencuri nama user dan kata sandi Saya ?</h4>
					
					<p>Tidak. Hanya Indonetwork yang dapat membaca informasi tentang nama user dan kata sandi penjual. Tidak satupun situs web yang mempunyai hak untuk melihatnya di browser penjual. Ini merupakan cara kerja browser web. Bagaimanapun juga, siapapun yang duduk di komputer Anda dapat masuk ke situs kami dengan menggunakan informasi anda jika anda telah memilih untuk menyimpan informasi pendaftaran penjual. Kami menyarankan penjual untuk masuk hanya jika komputer anda ditaruh di tempat yang aman.</p>
					
					</li>

					<li>
					<h4>Bagaimana bila Anda berminat terhadap suatu produk dan berniat untuk menghubungi Penjual?</h4>
					<p>Pembeli dapat melakukan penawaran dan transaksi langsung kepada Penjual tersebut dengan menghubungi kontak yang tersedia di menu "Info Perusahaan"</p>
					</li>

					<li>
					<h4>Apakah keanggotaan Prioritas dapat dipercaya?</h4>
					<p>Keanggotaan Prioritas bukan menjadi jaminan keamanan untuk mencari penjual. Namun Penjual  dengan keanggotaan Prioritas memiliki Informasi Perusahaan yang dapat divalidasi dengan fitur validasi alamat oleh indonetwork. Sedangkan untuk member Free dan SMS tidak mendapatkan validasi.</p>
					</li>

					<li>
					<h4>Bagaimana Saya dapat mengetahui bahwa Penjual dapat dipercaya?</h4>
					<p>Pada dasarnya, Indonetwork.co.id hanya merupakan situs penyedia direktori bagi para Penjual. Adapun bagi para Pembeli, mohon untuk tetap melakukan transaksi dengan para Penjual di Indonetwork dengan prinsip kehati-hatian. </p>
					</li>

					<li>
					<h4>Bagaimana cara menemukan Penjual dari wilayah tertentu?</h4>
					<p>Pembeli dapat melakukan pencarian produk tersebut dengan mengubah kriteria pencarian berdasarkan propinsi tertentu yang pembeli inginkan. Saat lakukan pada bar pencarian pembeli dapat mengubah kolom "Propinsi" dengan memilih wilayah yang diinginkan.</p>
					</li>

					<li>
					<h4>Apa yang terjadi jika ada penipuan antara Penjual dan Pembeli?</h4>
					<p>Jika terjadi tindak penipuan antara Penjual kami dengan Pembeli, Pembeli diharapkan untuk dapat melaporkan hal tersebut ke Pihak berwajib. 
					Indonetwork sebagai penyedia direktori akan bersedia memberikan informasi yang terkait perihal tersebut bahkan tindak lanjut berupa penutupan akun terlapor jika Pihak berwajib meminta</p>
					</li>

					<li>
					<h4>Bagaimana jika Penjual tidak menanggapi pemintaan pembelian Saya?</h4>
					<p>Pembeli dapat meninggalkan Quotation pada produk tersebut. Namun jika Penjual tidak juga merespon, pembeli disarankan mencari Penjual lainnya yang juga menyediakan produk tersebut.
					</p>
					</li>

					<li>
					<h4>Bagaimana menghubungi Penjual?</h4>
					<p>Pembeli bisa menghubungi penjual dengan 2 (dua) cara, yaitu : 
					<ol>

					<li>Klik menu "Info perusahaan"  dan hubungi penjual dengan nomor telepon dan alamat email yang tertera.</li>
					<li>Klik menu "Kirim Pesan" atau "Quotation" untuk mengirimkan pesan kepada Penjual .</li>
					</ol>
					</p>
					</li>

					<li>
					<h4>Dimana Cart Status Saya?</h4>
					<p>Pembeli dapat mengakses Cart Status di bagian kanan atas halaman Indonetwork.
					</p>
					</li>

					<li>
					<h4>Bagaimana Saya bisa menghubungi Penjual melalui Cart Status?</h4>
					<p>Pembeli dapat menghubungi Penjual melalui Cart Status dengan klik gambar produk, setelah itu klik Info Perusahaan. Pembeli dapat menghubungi langsung nomor telepon, email atau alamat yang ditinggalkan oleh Penjual .
					</p>
					</li>

					<li>
					<h4>Bagaimana Saya dapat menambahkan produk ke Cart Status Saya?</h4>
					<p>Pembeli dapat menambahkan produk yang dibutuhkan kedalam Cart Status dengan klik gambar produknya dan klik "Tambahkan ke Keranjang". Secara otomatis produk akan masuk kedalam cart status Pembeli.
					</p>
					</li>

						<li>
					<h4>Bagaimana cara mengirim pesan kepada Penjual untuk permintaan pembelian?</h4>
					<p>Pembeli dapat memberikan pertanyaan atau menanyakan detail produk dengan cara klik nama produk dan klik bagan kosong dan ketikan pesan yang ingin dikirimkan, setelah itu klik "Kirim Quotation".
					</p>
					</li>

					<li>
					<h4>Bagaimana cara membalas pesan dari Penjual ?</h4>
					<p>Pembeli dapat membalas respon atau pesan dari Penjual dengan cara mengakses menu "Quotation" setelah itu klik menu "Outbox"
					</p>
					</li>

					<li>
					<h4>Bagaimana jika produk yang dikirim tidak sesuai dengan yang Saya pesan atau cacat?</h4>
					<p>Indonetwork.co.id hanya menyediakan platform informasi bisnis untuk Pembeli dan Penjual dari seluruh wilayah di Indonesia untuk saling berhubungan. Dengan demikian, Indonetwork tidak melayani transaksi pembelian maupun pengiriman, sehingga Pembeli dapat konfirmasi langsung kepada Penjual perihal produk yang pembeli terima.
					</p>
					</li>

					<li>
					<h4>Apakah harga yang tercantum di website sudah sesuai? </h4>
					<p>Harga yang tercantum pada website adalah harga yang dicantumkan oleh Penjual produk tersebut. Jika ada perubahan harga sewaktu-waktu diluar kendali Indonetwork sebagai penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Bagaimana bila produk yang saya pesan ternyata belum Saya terima dari Penjual?  </h4>
					<p>Jika hal tersebut terjadi, Pembeli diharapkan untuk menghubungi Penjual produk tersebut kembali. Karena hal tersebut di luar kendali Indonetwork sebagai situs penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Apakah Saya bisa mengembalikan produk yang Saya terima dan dikembalikan uang (refund)?</h4>
					<p>Kebijakan pengembalian uang (refund) ditentukan oleh masing-masing Penjual. Hal tersebut diluar kendali Indonetwork sebagai penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Ketika Saya melakukan pembelian domain, berapa lama waktu yang saya butuhkan hingga domain tersebut bisa tayang dan dapat digunakan?</h4>
					<p>Setelah pembayaran diterima, pembuatan domain akan secara langsung kami proses dan akan siap setelah 14 hari kerja.
					</p>
					</li>

					<li>
					<h4>Bagaimana bila produk yang saya pesan ternyata belum Saya terima dari Penjual?  </h4>
					<p>Jika hal tersebut terjadi, Pembeli diharapkan untuk menghubungi Penjual produk tersebut kembali. Karena hal tersebut di luar kendali Indonetwork sebagai situs penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Bagaimana bila produk yang saya pesan ternyata belum Saya terima dari Penjual?  </h4>
					<p>Jika hal tersebut terjadi, Pembeli diharapkan untuk menghubungi Penjual produk tersebut kembali. Karena hal tersebut di luar kendali Indonetwork sebagai situs penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Bagaimana bila produk yang saya pesan ternyata belum Saya terima dari Penjual?  </h4>
					<p>Jika hal tersebut terjadi, Pembeli diharapkan untuk menghubungi Penjual produk tersebut kembali. Karena hal tersebut di luar kendali Indonetwork sebagai situs penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Bagaimana bila produk yang saya pesan ternyata belum Saya terima dari Penjual?  </h4>
					<p>Jika hal tersebut terjadi, Pembeli diharapkan untuk menghubungi Penjual produk tersebut kembali. Karena hal tersebut di luar kendali Indonetwork sebagai situs penyedia direktori.
					</p>
					</li>

					<li>
					<h4>Apakah Saya bisa mengembalikan produk yang Saya terima dan dikembalikan uang (refund)? </h4>
					<p>Kebijakan pengembalian uang (refund) ditentukan oleh masing-masing Penjual. Hal tersebut diluar kendali Indonetwork sebagai penyedia direktori.
					</p>
					</li>



					<li>
					<h4>Ketika Saya melakukan pembelian domain, berapa lama waktu yang saya butuhkan hingga domain tersebut bisa tayang dan dapat digunakan? </h4>
					<p>Setelah pembayaran diterima, pembuatan domain akan secara langsung kami proses dan akan siap setelah 14 hari kerja.
					</p>
					</li>



					<li>
					<h4>Apakah pengertian katalog produk?</h4>
					<p>Katalog produk merupakan fitur indonetwork untuk mengelompokkan produk-produk yang sesuai dengan kategorinya
					</p>
					</li>



					<li>
					<h4>Apakah pengertian penawaran jual?</h4>
					<p>Penawaran jual merupakan fitur yang ditujukan untuk para calon pembeli untuk melihat penawaran penjualan berbagai macam produk yang terdapat di Indonetwork.co.id.
					</p>
					</li>



					<li>
					<h4>Apakah pengertian penawaran beli? </h4>
					<p>Penawaran beli merupakan fitur yang ditujukan bagi para penjual untuk meilhat penawaran pembelian apa saja yang ada di website Indonetwork.co.id.
					</p>
					</li>



					<li>
					<h4>Apakah pengertian penawaran kerjasama? </h4>
					<p>Penawaran kerjasama merupakan sebuah fitur yang dapat menambahkan mitra usaha Anda dalam penjualan maupun pembelian.
					</p>
					</li>

						<li>
					<h4>Apakah Layanan SMS itu ? </h4>
					<p>Layanan SMS adalah fasilitas yang disediakan jika ada pemberitahuan/pesan bisnis yang akan dikirimkan langsung ke ponsel anda melalui SMS.
					</p>
					</li>

						<li>
					<h4>Apakah untuk member berbayar Indonetwork sudah termasuk penyewaan domain? </h4>
					<p>Tidak, untuk harga domain terpisah dengan harga member Prioritas maupun Layanan SMS.
					</p>
					</li>


						<li>
					<h4>Apakah jika upgrade menjadi member prioritas, perusahaan kami akan tampil dihalaman pertama google? </h4>
					<p>Indonetwork tidak dapat menjanjikan hal tersebut, karena untuk tampil dihalaman pertama google membutuhkan waktu yang tidak sedikit dan pengguna akun harus melakukan kegiatan secara berkala pada akun nya di Indonetwork.co.id.
					</p>
					</li>

						<li>
					<h4>Dimanakah saya dapat melihat statistik jumlah pengunjung yang mengunjungi website saya?</h4>
					<p>Untuk saat ini, fitur tersebut belum tersedia pada Indonetwork.co.id.
					</p>
					</li>


						<li>
					<h4>Jika saya membeli domain, berapa lamakah saya harus menunggu hingga domain tersebut aktif?</h4>
					<p>Untuk estimasi aktifasi domain 1-14 hari kerja dari Anda melakukan konfirmasi pembayaran kepada kami.
					</p>
					</li>

						<li>
					<h4>Apakah saya akan menerima notifikasi jika masa keanggotaan akan berkahir?</h4>
					<p>Ya, Anda akan menerima notifikasi melalui email apabila masa keanggotaan akan berakhir.
					</p>
					</li>

						<li>
					<h4>Dimanakah saya dapat mengecek masa berlaku penyewaan domain saya?</h4>
					<p>Anda dapat melakukan pengecekan masa berlaku domain Anda di http://who.is/
					</p>
					</li>

						<li>
					<h4>Apakah Banner yang ada di Account Indonetwork bisa di gantikan dengan foto perusahaan / foto lain ?</h4>
					<p>Saat ini Banner hanya satu saja dan tidak bisa di gantikan.
					</p>
					</li>

						<li>
					<h4>Apakah ada kolom untuk menuliskan keyword yang kami inginkan? dan dimanakan kolom tersebut?</h4>
					<p>Untuk kolom keyword saat ini di Indonetwork belum tersedia, Anda dapat memasukan keyword yang Anda inginkan pada kolom judul maupun deskripsi produk.
					</p>
					</li>

						<li>
					<h4>Bisakah saya melakukan perubahan URL Perusahaan?</h4>
					<p>URL perusahaan untuk saat ini tidak bisa dirubah.
					</p>
					</li>

						<li>
					<h4>Apakah web Indonetwork tersedia dalam versi Bahasa Inggris juga ?</h4>
					<p>Untuk saat ini website dalam bahasa inggris masih dalam pengembangan.
					</p>
					</li>

						<li>
					<h4>Apakah Indonetwork sudah support untuk diakses melalui mobile?</h4>
					<p>Ya, Anda kini dapat mengakses Indonetwork melalui mobile.
					</p>
					</li>

						<li>
					<h4>Produk saya tidak langsung muncul diwebsite?</h4>
					<p>Produk yang baru saja Anda masukkan, akan di proses moderasi terlebih dahulu dengan estimasi 1 - 3 hari kerja.
					</p>
					</li>

						<li>
					<h4>Tips & Trik Belanja Aman</h4>
					<p><ol>Pada dasarnya Indonetwork tidak menjamin transaksi yang terjadi antara penjual dan pembeli, namun ada baiknya pembeli dapat berhati-hati dalam melakukan transaksi pembelian. Setidaknya, berikut ini adalah tips untuk mengurangi resiko penipuan:
						<li>Periksa dulu, apakah penjual telah memiliki member verified. Jika ya, itu artinya penjual tersebut telah menunjukkan identitas yang jelas kepada indonetwork.co.id mengenai nama dan alamat lengkap mereka. Sehingga, dapat ditelusuri jika terjadi sebuah tindak penipuan. </li>
						<li>Hubungi penjual. Hubungi penjual melalui fitur quote yang kami sediakan atau menghubungi nomor telepon penjual. Jika nomor telepon tersebut tidak aktif atau salah sambung, sebaiknya pembeli tidak melakukan transaksi pembelian dahulu. </li>
						<li>Cek Harga. Perhatikan harga yang ditawarkan, jangan tergiur dengan harga yang murah. Pastikan harga tersebut sudah sesuai dengan harga dipasaran. </li>
						<li>Kredibilitas Member. Sebaiknya, pilihlah penjual yang memiliki kredibilitas lebih dari akun keanggotaannya. Penjual dengan akun Prioritas dan layanan SMS lebih Kami rekomendasikan karena secara umum penjual lebih serius.</li>
						</ol>
					</p>
					</li>


					<li>
					<h4>Saya sudah transfer, barang belum dikirim. Apa yang harus saya dilakukan ?</h4>
					<p>Indonetwork.co.id merupakan situs penyedia direktori sebagai media promosi online berbasis web yang dapat menghubungkan penjual dan pembeli, apabila Anda sudah melakukan sejumlah transfer dana dan belum di proses oleh penjual silahkan menghubungi penjual via telepon dan email yang tercantum di info perusahaan. Apabila dalam janga waktu 72 jam tidak ada respon dari penjual, silahkan mengirimkan laporan Anda ke pihak berwajib untuk pengaduan laporan tindak penipuan. Kami akan membantu semaksimal mungkin apabila ada permintaan dari pihak berwajib.
					</p>
					</li>


					<li>
					<h4>Saya tidak mendapatkan notifikasi email bahwa produk yang saya upload di approve atau ditolak. Apa yang harus dilakukan?</h4>
					<p>Anda dapat mengirimkan kendala Anda dengan mengirimkan email ke support@indonetwork.co.id atau menghubungi Customer Service kami di Nomor 0804-1-787878.
					</p>
					</li>

					<li>
					<h4>Apakah Perusahaan yang alamatnya sudah terverifikasi, akan terjamin 100% valid ?</h4>
					<p>Kami tidak bisa menjamin 100% untuk perusahaan yang alamatnya sudah terverifikasi adalah valid 100%, tetapi dengan adanya fasilitas tersebut alamat perusahaan sudah terdeteksi oleh tim kami, dan jika kedepannya ada kejadian yang tidak diinginkan, akan bisa langsung diperiksa ke alamat tersebut oleh tim kami.
					</p>
					</li>

				</ul>
               </div>
             </div>




                            <div class="slidingDiv registrasi">
								<div>
								<h4><a href="javascript:void()">REGISTRASI</a></h4><br />

			<ul>
				<li>
				<h4>Bagaimana cara daftar menjadi Anggota ?</h4>
				
				<p>Untuk mendaftar menjadi anggota, silakan masuk ke laman pendaftaran di http://www.indonetwork.co.id/user/register. Isi form atau pertanyaan dengan data yang valid sesuai dengan profil dan usaha Anda.</p>
				
				</li>
				<li>
				<h4>Apa syarat menjadi Anggota sebagai Penjual di Indonetwork ?</h4>
				<p>Untuk menjadi anggota sebagai penjual di Indonetwork terdapat persyaratan yang harus diikuti sesuai dengan yang tercantum pada laman http://www.indonetwork.co.id/page/term-condition pada poin "Pengguna".</p>
				
				</li>
				<li>
				<h4>Dapatkah Saya membuat akun tanpa e-mail ?</h4>
				
				<p>Tidak dapat. Setiap Penjual wajib mendaftar dengan menggunakan email yang valid dan masih aktif. Sangat disarankan menggunakan email dari perusahaan Anda. </p>
				
				</li>
				<li>
				<h4>Bagaimana Saya meningkatkan layanan keanggotaan Saya ? </h4>
				
				<p>Untuk meningkatkan layanan keanggotaan, setiap Penjual dapat akses menu dashboardnya dan pilih menu "Status Keanggotaan" kemudian pilih untuk layanan keanggotaan yang diinginkan. </p>
				
				</li>
				<li>
				<h4>Apakah Saya bisa berlangganan dengan nama domain sendiri ? </h4>
				
				<p>Bisa. Anda bisa memiliki domain Anda sendiri dengan berlangganan layanan domain. Silahkan menghubungi customer support Kami untuk informasi pemesanan, setelah itu melakukan pembayaran atas layanan domain tersebut. Setelah melakukan pembayaran, penjual dapat mengirimkan email ke support@indonetwork.co.id melalui email perusahaan yang terdaftar dengan memberikan keterangan: </p>
				<!-- type 1 not working -->
				<ul >	
						<li type="1">1. User Name : </li>
						<li>2. Url : </li>
						<li>3. Domain yang diinginkan : </li> 
						<li>4. Detail transaksi pembayaran: 
							<Ul>
							    <li>a. Nama Bank:</li>
							    <li>b. Nama pemilik rekening:</li>
							    <li>c. Jumlah nominal: Rp.</li>
							    <li>d. Bank yang dituju: BCA atau Mandiri</li> 
							</Ul>
						</li>
						<li>5. Attachment bukti transaksi. </li>
						<li>Jika menginginkan domain dengan menggunakan ".co.id " penjual wajib memberikan syarat tambahan yaitu:
							<ul>
								<li>1. NPWP </li>
								<li>2. SIUP</li>
								<li>3. TDP (Tanda Daftar Perusahaan)</li> 
							</ul> 				
						</li>
				</ul>
				
				<li>
				<h4>Hal-hal yang harus di perhatikan dalam berlangganan layanan Domain?</h4>
				
				<p>Domain/Subdomain yang diperoleh Pelanggan dalam Layanan (selanjutnya disebut “Domain/Subdomain”) merupakan milik Indonetwork. Indonetwork berhak untuk (1) mengubah, memodifikasi, dan menentukan konfigurasi terhadap Domain/Subdomain, (2) menghapus Domain/Subdomain apabila Pelanggan berhenti dari Layanan dan/atau keanggotaan Indonetwork, dan (3) menghapus Domain/Subdomain apabila terdapat unsur yang bertentangan dengan norma kesusilaan dan/atau peraturan perundang-undangan yang berlaku. </p>
				
				</li>
				<li>
				<h4>Apakah akun Indonetwork dapat digunakan lebih dari satu admin ?</h4>
				
				<p>Tidak. Untuk keanggotaan Free dan Layanan SMS tidak bisa menggunakan akun lebih dari satu admin, sedangkan untuk keanggotaan Prioritas dapat menggunakan akun lebih dari satu admin.</p>
				
				</li>
				<li>
				<h4>Apakah Saya bisa mengubah email saya yang terdaftar di Indonetwork ?</h4>
				
				<p>Email yang telah didaftarkan tidak bisa diganti.</p>
				
				</li>
				<li>
				<h4>Bagaimana cara lakukan konfirmasi pembayaran layanan keanggotaan ?</h4>
				
				<p>Konfirmasi pembayaran hanya dapat dilakukan oleh penjual dengan mengakses menu "Akun" lalu "Status Keanggotaan" setelah itu klik "Konfimasi Pembayaran". Kemudian penjual diharuskan mengisi data konfirmasi secara lengkap dan sesuai.</p>
				
				</li>
				<li>
				<h4>Bagaimana cara untuk melihat status pembayaran yang Saya lakukan ?</h4>
				
				<p>Status pembayaran yang telah dilakukan dapat diakses langsung oleh Penjual dengan mengakses menu "Akun", lalu "Status Keanggotaan" kemudian klik "List Permintaan Upgrade". Penjual akan melihat progress dari konfirmasi pembayaran yang telah dilakukan.</p>
				
				</li>
				<li>
				<h4>Dimanakah mengisi No Ponsel Untuk Layanan SMS</h4>
				
				<p>Silahkan Anda login ke dashboard Anda dan klik menu Akun - Profile - dan kolom nomor Hp bisa Anda isi.</p>
				</li>
			</ul>
								
            </div>
		 </div>




            <div class="slidingDiv fiturproduk">
				<div>
					<h4><a href="javascript:void()">FITUR &amp; PRODUK</a></h4><br />

					<ul>
						<li>
						<h4>Produk apa saja yang dapat di perjualbelikan di Indonetwork ? </h4>				
							<p>Anggota dapat menjual/ membeli segala jenis produk, selama tidak diluar dari peraturan perundang-undangan yang berlaku. Produk yang dilarang untuk diperjualbelikan seperti yang mengandung/bersinggungan dengan unsur SARA, diskriminasi, menebar kebencian, dan/atau menyudutkan pihak lain. Untuk daftar produk yang dilarang diperjualbelikan dapat dilihat di link berikut  http://www.indonetwork.co.id/page/term-condition pada poin "Daftar Barang dan Jasa Terlarang"
							</p>				
						</li>

						<li>
						<h4>Apakah Saya bisa memasukkan produk ke dalam kelompok produk ?</h4>				
							Pembeli bisa menghubungi penjual dengan 2 (dua) cara, yaitu :
					<p>	Bisa. Setiap Penjual bisa memasukkan produk ke dalam kelompok produk. Dengan mengakses menu "Situs", lalu "Info Bisnis" kemudian klik "Kelompok Produk" dan pilih produk mana saja yang ingin di kelompokkan dalam kelompok produk yang berbeda</p>		
						</li>

						<li>
						<h4>Apakah Saya bisa menghapus produk yang sudah tidak Saya jual lagi ?</h4>				
							<p>Bisa. Setiap Penjual dapat menghapus produk yang tidak diproduksi lagi oleh penjual. Dengan mengakses menu "Aktifitas" lalu "Produk" setelah itu "List Produk". Kemudian klik tombol 'Delete".</p>
						</li>

						<li>
						<h4>Apakah Saya bisa tidak menampilkan harga produk yang saya jual ?</h4>				
							<p>Tidak. Saat ini Indonetwork mewajibkan seluruh penjual untuk menampilkan harga yang ditentukan.</p>
						</li>

						<li>
						<h4>Apakah Saya bisa mengganti user name saya ?</h4>				
							<p>Tidak. Member tidak dapat mengganti user name yang sudah didaftarkan.</p>
						</li>

						<li>
						<h4>Apa itu menu Cart Status ?</h4>				
							<p>Cart Status adalah fitur Indonetwork untuk memasukkan produk yang diminati. Sebagai Penjual terdapat kemungkinan untuk membeli juga produk yang ada di Indonetwork, sehingga Penjual tetap dapat mengakses fitur Cart Status jika memiliki produk yang diminati.</p>
						</li>

						<li>
						<h4>Apa itu quotation ?</h4>				
							<p>Quotation adalah fitur yang disediakan Indonetwork agar penjual mendapatkan pemberitahuan ketika ada Pembeli yang berminat dengan produk Penjual atau Penjual lain yang merespon dari pesan yang penjual kirimkan.</p>
							</li>

						<li>
						<h4>Apakah Saya bisa mengubah URL perusahaan saya ?</h4>
						
						<p>Tidak. URL yang telah didaftarkan pertama kali tidak bisa diganti.</p>
						
						</li>

						<li>

						<h4>Apa itu Inbox ?</h4>
						<p>Inbox merupakan fitur Indonetwork untuk melihat pemberitahuan bahwa terdapat Pembeli yang tertarik dengan produk penjual. Pesan yang diterima dapat direspon kembali oleh penjual melalui fitur ini</p>			
						</li>

						<li>
						<h4>Apa itu Outbox ?</h4>				
						<p>Outbox merupakan fitur Indonetwork untuk melihat pesan yang penjual kirimkan kepada sesama Penjual lain yang tergabung di Indonetwork.</p>				
						</li>

						<li>
						<h4>Apakah Saya dapat menambahkan produk ?</h4>				
						<p>Bisa. Penjual dapat menambahkan produk dengan mengakses menu "Aktifitas", lalu "Produk" setelah itu "Tambah Produk". Kemudian Penjual isi detail produk dan pastikan seluruh kolom terisi dengan lengkap.</p>				
						</li>

						<li>
						<h4>Apakah ada batasan dalam penulisan deskripsi produk ?</h4>				
						<p>Ada. Batasan untuk penulisan deskripsi sebanyak 5.000 karakter, jika lebih maka produk tidak dapat tersimpan.</p>
						</li>

						<li>
						<h4>Bagaimana cara untuk menonaktifkan produk untuk sementara ?</h4>				
						<p>Untuk menonaktifkan produk, Penjual dapat akses menu "Aktifitas", lalu "Produk" setelah itu "List Produk" dan klik kolom hingga menjadi Checklist dan klik "Pause". </p>				
						</li>

						<li>
						<h4>Apakah Saya bisa ubah logo perusahaan Saya ?</h4>				
						<p>Penjual dapat mengubah logo perusahaan dengan mengakses menu "Akun", lalu "Profile" setelah itu "Edit Profile". Kemudian klik "Change File".</p>				
						</li>

						<li>
						<h4>Apa saja batasan tanggung jawab Indonetwork dari konten dan informasi yang dimiliki oleh setiap akun ?</h4>				
						<p>Penjual merupakan anggota dari Indonetwork dan sebagai pengguna akun, sehingga seluruh konten yang digunakan beserta informasi yang digunakan dalam akun tersebut merupakan tanggung jawab pemilik akun. Hal tersebut diluar tanggung jawab Indonetwork. Untuk lebih lengkapnya dapat dilihat di link berikut : http://www.indonetwork.co.id/page/term-condition pada poin "Batasan Tanggung Jawab".</p>				
						</li>

						<li>
						<h4>Apakah Running Text?</h4>				
						<p>Running Text adalah aplikasi yang berguna untuk menyampaikan pesan dan informasi yang digunakan sebagai sarana iklan penjual.</p>
						</li>

						<li>
						<h4>Apakah Verification Address?</h4>				
						<p>Verification address adalah proses untuk pengecekan alamat yang dicantumkan oleh penjual. Jika surat yang dikirimkan oleh indonetwork sampai dan sudah diinput di menu verification adress, maka perusahaan tersebut mendapatkan tanda sebagai verified member</p>				
						</li>


						<li>
						<h4>Apa itu publish to moderation ?</h4>				
						<p>Jika klik publish to moderation, hal tersebut dimaksudkan produk yang di upload akan dilakukan pengecekan maksimal 3 hari oleh tim terkait Indonetwork tentang kualitas gambar, sinkronisasi judul deskripsi dan gambar serta produk tidak termasuk dalam barang yang dilarang dalam syarat dan ketentuan Indonetwork.</p>				
						</li>


						<li>
						<h4>Apa perbedaan "save to draft" dan "publish to moderation"?</h4>				
						<p>"Save To Draft" adalah jika Anda ingin melakukan upload produk namun produk tersebut masih membutuhkan perubahan/ingin diedit silakan Anda memilih save to draft
						"Publish To Moderation" adalah jika Anda ingin melakukan upload produk dan produk tersebut sudah lengkap untuk detailnya (Harga, Deskripsi, Judul) silakan Anda memilih "Publish To Moderation".</p>				
						</li>

						<li>
						<h4>Berapa banyak saya dapat melakukan penguplodan gambar produk?</h4>				
						<p>Batas maksimal untuk sekali penguplodan 8 gambar dengan minimal resolusi 500X500 dan maksimal 2000X2000.</p>				
						</li>

						<li>
						<h4>Berapa karakterkah yang dapat saya masukan pada kolom judul?</h4>				
						<p>Untuk judul, Anda dapat memasukan minimal 10 karakter dan maksimal 70 karakter.</p>				
						</li>

						<li>
						<h4>Berapa karakterkah yang dapat saya masukan pada kolom deskripsi?</h4>
						<p>Tidak ada maksimal karakter pada deskripsi produk.</p>
						</li>
					</ul>
				</div>
			</div>


			 <div class="slidingDiv kategori">
				<div>
					<h4><a href="javascript:void()">KATEGORI</a></h4><br />

					<ul>
						<li>
						<h4>Sejak kapan kategori Indonetwork berubah?</h4>
						
						<p>Perubahan kategori ini kita lakukan bersamaan dengan perubahan desain website.</p>
						
						</li>
						<li>
						<h4>Mengapa kategori di dalam website Indonetwork berubah?</h4>
						<p>Tujuan dari perubahan kategori ini adalah membuat kategori dari Indonetwork lebih teratur, serta kami pun menghilangkan segala jenis duplikasi yang terdapat di dalam kategori yang lama, agar dapat memudahkan Anda melakukan kategorisasi terhadap produk Anda. </p>
						
						</li>
						<li>
						<h4>Apakah posisi produk juga akan berubah?</h4>
						
						<p>Tergantung dimana Indonetwork melarikan halaman kategori lama tersebut ke kategori yang baru, jadi seperti contohnya jika produk tersebut dulunya berada di kategori Agraris  -> Perkebunan &amp; Pertamanan maka untuk saat ini Anda akan menemukannya di Elektronik &amp;Peralatan Rumah Tangga -> Peralatan Rumah Tangga ->  Outdoor &amp;Taman -> Taman&amp;Kebun , dan ini pun berlaku untuk produk lainnya. </p>
						
						</li>
						<li>
						<h4>Bagaimana cara untuk mengetahui perubahan kategori ini secara detail?</h4>
						
						<p>Segala jenis perubahan mengenai kategori dapat Anda tanyakan secara langsung ke Customer Service Indonetwork. </p>
						
						</li>
						<li>
						<h4>Apakah perubahan kategori ini berpengaruh terhadap penjualan kami? </h4>
						
						<p>Semua bentuk URL lama yang ada di dalam website Indonetwork telah kami cocokan dengan URL dari kategori baru, sehingga penjualan Anda akan tetap berjalan seperti biasa dan tidak akan ada link yang rusak dari URL yang lama.</p>
						

						</li>
						
						<li>
						<h4>Dengan perubahan kategori ini, apakah produk yang salah kategori akan berubah menjadi benar?</h4>
						
						<p>Kami sedang dalam tahap untuk melakukan pemindahan produk ke kategori yang benar secara berkala. Dan proses ini akan melalui fase quality control dari tim moderasi kami.</p>
						
						</li>
						<li>
						<h4>Berapakah jumlah kategori Indonetwork yang baru?</h4>
						
						<p>Indonetwork memiliki 16 kategori level satu, dan 923 kategori level 2 hingga 4.</p>
						
						</li>
						<li>
						<h4>Mengapa kategori baru ini memiliki level yang jauh lebih banyak dari kategori sebelumnya?</h4>
						
						<p>Hal ini dilakukan agar Anda mendapatkan  kategori yang memiliki susunan teratur dan anak kategori tidak menumpuk hanya pada level 2 saja. Selain itu Anda dapat dengan mudah melakukan pencarian produk yang Anda inginkan dan memberikan Anda kemudahan untuk bertransaksi.</p>
						
						</li>
						<li>
						<h4>Dimanakah kategori baru Indonetwork dapat ditemukan dan apa saja yang terdapat di dalamnya?</h4>
						
						<p>Anda dapat menemukan kategori baru Indonetwork di homepage yang berlokasi tepat di tengah-tengah halaman utam website. Dan jika Anda ingin mengetahui kategori apa saja yang terdapat di dalamnya, Anda hanya perlu menulusuri satu per satu dari masing-masing kategori tersebut.</p>
						
						</li>
						<li>
						<h4>Jika banyak kategori yang kurang dan ingin menambahkan, apa bisa?</h4>
						
						<p>Tentu saja, kami akan sangat menghargai pendapat Anda. Anda dapat menghubungi Customer Service Indonetwork dan tuangkan pendapat Anda mengenai kategori yang kira-kira Anda ingin tambahkan, dan kami akan mengusahakan untuk menambahkannya di revamp kategori selanjutnya.</p>
						
						</li>
						<li>
						<h4>Apa Kelebihan kategori Indonetwork yang baru dibandingkan dengan yang dulu?</h4>
						
						<p>Kategori Indonetwork yang sekarang selain dapat memudahkan Anda mencari produk yang Anda sukai, dapat juga membuat Anda lebih bereksplorasi dalam mengkategorikan produk Anda, karena memiliki banyak tambahan kategori.</p>
						</li>
					</ul>
				</div>
			</div>
</div>

