<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<div class="mobile static-faq">
       <center><h3>Bantuan</h3></center>
       <?php 
            include ('../'.$html_path.'faq.html');
        ?>
                      
   
			
</div>

