<br>
<br>
<div class="batalkan-penawaran-wrap">
	<center><h3>Batalkan Penawaran</h3></center>
	<br>
	<center>
		<p>Apakah Anda yakin untuk membatalkan penawaran ini?</p>
	</center>
	<h3>Controlloer XBOX 360 with double box</h3>
	<dl>
		<dt>Harga Penawran</dt><dd class="harga">Rp. 11.000.000,-</dd>
	</dl>
			<div class="btn-warp txtcenter">
				<a href="./?page=detail penawaran pesan" class="btn w40">Ya</a>
				<button href="" class="w40">Tidak</button>
			</div>
</div>
<div class="bottom-space"></div>