<br>
<center>
    <h3>Buat Penawaran Untuk Controller XBOX 360</h3>
</center>
<div class="wrapper">
    <hr size="1">
     <input type="text" placeholder="Judul Penawaran">
    <textarea placeholder="Deskripsi Penawaran"></textarea>
    <dl class="bdgt-req">
        <dt>Budget Permintaan</dt><dd>: <span class="price">12.000.000</span></dd>
    </dl>
    <input type="text" placeholder="Harga Yang Ditawarkan">
       <center><small>Foto Referensi</small></center>
    <div class="tambah-foto">
     <ul class="foto-produk ui-sortable" id="list_photo_product">
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li>
             <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li>
        </ul>
    </div>
    <label class="check-req"><input type="checkbox"> <p>Anda telah mengetahui dan menyetujui semua <a href="./?page=static&amp;view=syarat dan ketentuan">syarat dan ketentuan</a> yang berlaku di <strong>indonetwork.com</strong></p></label>
    <center class="btn-req">
        <a href="?page=kirim penawaran success" class="btn">Kirim Penawaran</a>
    </center>
    <div class="btn-req">
        <a href="?page=list-penawaran">Simpan</a>
        <a href="">Batal</a>
    </div>
</div>
