<br>
<center>
    <h3>Buat Permintaan</h3>
</center>
<div class="wrapper rfq">
    <p><small>Permintaan Anda akan ditayangkan selama 30 hari.</small></p>
    <hr size="1">
    <input type="text" placeholder="Judul Permintaan">
    <textarea placeholder="Deskripsi Permintaan"></textarea>
    <input type="text" placeholder="Budget">
    <center><small>Kategori *</small></center>
    <div>
        <div class="colfix w100 kategories">
                            <div class="colfix catwa">
                                <label><div class="kategorithumb">
                                <input type="checkbox">
                                <div><img src="./assets/images/kategori-icon/1. teknologi-dan-telekomunikasi-icon.png" width"32" height="32"><br>
                                <span>Teknologi &amp; Telekomunikasi</span>
                                </div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-2"><div class="kategorithumb">
                                <input type="checkbox" id="id-2">
                                <div><img src="./assets/images/kategori-icon/2. peralatan-kantor-icon.png" width"32" height="32">
                                <br>
                                <span>Peralatan Kantor</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-3"><div class="kategorithumb">
                                <input type="checkbox" id="id-3">
                                <div><img src="./assets/images/kategori-icon/3. elektronik-dan-peralatan-rumah-tangga-icon.png" width"32" height="32"><br>
                                <span>Elektronik &amp; Peralatan Rumah Tangga</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-4"><div class="kategorithumb">
                                <input type="checkbox" id="id-4">
                                <div><img src="./assets/images/kategori-icon/4. peralatan-elektronik-icon.png" width"32"="" height="32"><br>
                                <span>Peralatan Elektronik</span></div></div></label>
                            </div>

                            <div class="colfix catwa">
                                <label for="id-5"><div class="kategorithumb">
                                <input type="checkbox" id="id-5">
                                <div><img src="./assets/images/kategori-icon/5. kesehatan-dan-kecantikan-icon.png" width"32"="" height="32"><br>
                                <span>Kesehatan &amp; Kecantikan</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-6"><div class="kategorithumb">
                                <input type="checkbox" id="id-6">
                                <div><img src="./assets/images/kategori-icon/6. peralatan-industri-icon.png" width"32"="" height="32"><br>
                                <span>Peralatan Industri</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-7"><div class="kategorithumb">
                                <input type="checkbox" id="id-7">
                                <div><img src="./assets/images/kategori-icon/7. grocery-icon.png" width"32" height="32"><br>
                                <span>Grocery</span></div></div></label>
                            </div>   
                            <div class="colfix catwa">
                                <label for="id-7"><div class="kategorithumb">
                                <input type="checkbox" id="id-7">
                                <div><img src="./assets/images/kategori-icon/8. otomotif-dan-transportasi-icon.png" width"32" height="32"><br>
                                <span>Otomotif &amp; Transportasi</span></div></div></label>
                            </div>

                            <div class="colfix catwa">
                                <label for="id-9"><div class="kategorithumb">
                                <input type="checkbox" id="id-9">
                                <div><img src="./assets/images/kategori-icon/9. media-musik-dan-buku-icon.png" width"32"="" height="32"><br>
                                <span>Media, Musik &amp; Buku</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-10"><div class="kategorithumb">
                                <input type="checkbox" id="id-10">
                                <div><img src="./assets/images/kategori-icon/10. peralatan-olahraga-dan-outdoor-icon.png" width"32"="" height="32"><br>
                                <span>Peralatan Olahraga &amp; Outdoor</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-11"><div class="kategorithumb">
                                <input type="checkbox" id="id-11">
                                <div><img src="./assets/images/kategori-icon/11. mainan-dan-bayi-icon.png" width"32"="" height="32"><br>
                                <span>Mainan &amp; Bayi</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-12"><div class="kategorithumb">
                                <input type="checkbox" id="id-12">
                                <div><img src="./assets/images/kategori-icon/12. fashion-tekstil-dan-aksesoris-icon.png" width"32" height="32">
                                <br>
                                <span>Fashion, Tekstil &amp; Aksesoris</span></div></div></label>
                            </div>

                            <div class="colfix catwa">
                                <label for="id-13"><div class="kategorithumb">
                                <input type="checkbox" id="id-13">
                                <div><img src="./assets/images/kategori-icon/13. pertanian-dan-produk-pangan-icon.png" width"32" height="32"><br>
                                <span>Pertanian &amp; Produk Pangan</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-14"><div class="kategorithumb">
                                <input type="checkbox" id="id-14">
                                <div><img src="./assets/images/kategori-icon/14. voucher-dan-layanan-icon.png" width="32" height="32"><br>
                                <span>Voucher &amp; Layanan</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-15"><div class="kategorithumb">
                                <input type="checkbox" id="id-15">
                                <div><img src="./assets/images/kategori-icon/15. kerajinan-dan-souvenir-icon.png" width"32"="" height="32">
                                <br>
                                <span>Kerajinan &amp; Souvenir</span></div></div></label>
                            </div>
                            <div class="colfix catwa">
                                <label for="id-16"><div class="kategorithumb">
                                <input type="checkbox" id="id-16">
                                <div><img src="./assets/images/kategori-icon/16. metalurgi-mineral-dan-kimia-icon.png" width"32"="" height="32"><br>
                                <span>Metalurgi, Mineral &amp; Kimia</span></div></div></label>
                            </div>

                        </div>

    </div>
    <div class="clear"></div>
     <center><small>Unggah Foto</small></center>
    <div class="tambah-foto">
        <ul class="foto-produk ui-sortable" id="list_photo_product">
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="/assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_product" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li>
             <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li> <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses" style="position: relative; z-index: 1;">
                        <div class="frame_image imgbox">
                           <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                
                <div id="html5_1atsuplbfmp213b0i6bq9f1ue03_container" class="moxie-shim moxie-shim-html5" ><input id="html5_1atsuplbfmp213b0i6bq9f1ue03" type="file" style="position: absolute;left: 0;top: 0;width: 100%;height: 100%;font-size:0;opacity: 0;" multiple="" accept="image/jpeg,.jpg,.jpeg,image/gif,.gif,image/png,.png"></div></label>
            </li>
        </ul>
    </div>

        <div class="tab-a">
            <ul class="tab">
              <li><a href="javascript:void(0)" class="tablinks active" onclick="openReg(event, 'blm-terdaftar')">Belum Terdaftar</a></li>
              <li><a href="javascript:void(0)" class="tablinks" onclick="openReg(event, 'terdaftar')">Terdaftar</a></li>
            </ul>

            <div id="blm-terdaftar" class="tabcontent">
                <h4>Form Registrasi</h4>
                <form>
                        <input type="text" placeholder="Nama Lengkap">
                        <input type="text" placeholder="Nomor Handphone">
                        <input type="text" placeholder="E-mail">
                        <input type="text" placeholder="Password">
                        <input type="text" placeholder="Ulangi Password">
                        <center><small>Negara *</small></center>
                        <div>
                            <div id="category_product_container">
                                <select dd_url="/static/country?key=name" name="country" id="country">
                                <option value="">-</option>
                                <option value="Afghanistan">Afghanistan</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="American Samoa">American Samoa</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Anguilla">Anguilla</option><option value="Antarctica">Antarctica</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Aruba">Aruba</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Brazil">Brazil</option><option value="British Indian Ocean Territory">British Indian Ocean Territory</option><option value="British Virgin Islands">British Virgin Islands</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Canada">Canada</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Christmas Island">Christmas Island</option><option value="Cocos Islands">Cocos Islands</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Cook Islands">Cook Islands</option><option value="Costa Rica">Costa Rica</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="Curacao">Curacao</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="East Timor">East Timor</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Falkland Islands">Falkland Islands</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option><option value="French Polynesia">French Polynesia</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option><option value="Gibraltar">Gibraltar</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guam">Guam</option><option value="Guatemala">Guatemala</option><option value="Guernsey">Guernsey</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Honduras">Honduras</option><option value="Hong Kong">Hong Kong</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Isle of Man">Isle of Man</option><option value="Israel">Israel</option><option value="Italy">Italy</option><option value="Ivory Coast">Ivory Coast</option><option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Jersey">Jersey</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Kosovo">Kosovo</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macao">Macao</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mayotte">Mayotte</option><option value="Mexico">Mexico</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Montserrat">Montserrat</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="Netherlands Antilles">Netherlands Antilles</option><option value="New Caledonia">New Caledonia</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Niue">Niue</option><option value="North Korea">North Korea</option><option value="Northern Mariana Islands">Northern Mariana Islands</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palau">Palau</option><option value="Palestine">Palestine</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Pitcairn">Pitcairn</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Puerto Rico">Puerto Rico</option><option value="Qatar">Qatar</option><option value="Republic of the Congo">Republic of the Congo</option><option value="Reunion">Reunion</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Barthelemy">Saint Barthelemy</option><option value="Saint Helena">Saint Helena</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Martin">Saint Martin</option><option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="Samoa">Samoa</option><option value="San Marino">San Marino</option><option value="Sao Tome and Principe">Sao Tome and Principe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Sint Maarten">Sint Maarten</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Korea">South Korea</option><option value="South Sudan">South Sudan</option><option value="Spain">Spain</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan">Taiwan</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Togo">Togo</option><option value="Tokelau">Tokelau</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Turks and Caicos Islands">Turks and Caicos Islands</option><option value="Tuvalu">Tuvalu</option><option value="U.S. Virgin Islands">U.S. Virgin Islands</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option><option value="United States">United States</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican">Vatican</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Wallis and Futuna">Wallis and Futuna</option><option value="Western Sahara">Western Sahara</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option>
                                </select>
                        </div>
                        </div>
                        <center><small>Provinsi *</small></center>
                        <div>
                            <div id="category_product_container">
                                <select id="durasi" name="durasi" tabindex="5">
                                <option value="1">DKI Jakarta</option>
                                <option value="2">Banten</option>
                                </select>
                            </div>
                        </div>
                        <center><small>Kota *</small></center>
                        <div>
                            <div id="category_product_container">
                                <select id="durasi" name="durasi" tabindex="5">
                                <option value="1">Jakarta</option>
                                <option value="2">Bogor</option>
                                </select>
                            </div>
                            <div id="spinner" class="spinner" style="display: none;">
                                <img id="img-spinner" src="/assets/images/preloader.gif" alt="Loading">
                            </div>
                        </div>
                        <input type="checkbox"> <label> Dengan Klik Daftar Akun, Saya Mengkonfirmasi Telah Menyetujui <a href="./?page=static&amp;view=syarat dan ketentuan">Syarat dan Ketentuan</a>, serta <a href="./?page=static&amp;view=kebijakan privasi">Kebijakan Privasi</a> Indonetwork</label>
                </form>
            </div>

            <div id="terdaftar" class="tabcontent">
                <h4>Silahkan Login Dahulu</h4>
                <form>
                    <input type="text" placeholder="Username">
                    <input type="text" placeholder="Password">
                </form>
            </div>
        </div>

<center>
        <p><a href="?page=buat permintaan success" class="btn">Buat Permintaan</a></p>
    </center>

<script>
        function openReg(evt, reg) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(reg).style.display = "block";
    evt.currentTarget.className += " active";
}
    </script>

