<br>
<center>
	<h3>Permintaan Anda telah berhasil dikirimkan</h3>
	<p class="wrapper">Silahkan cek e-mail untuk aktivasi akun Anda agar permintaan Anda dapat segera aktif</p>
<p><a href="?" class="btn">Halaman Depan</a></p>
</center>