


<br>
<center><h3>Keranjang Anda</h3></center>


<div class="list-wrapper">

    <?php 
        for($x=1; $x<6; $x++) {
            echo ''.
            '<div class="list-item">'.
            '<div class="cartbutton">'.
            '<div class="closebtn" id="cart-removebutton"><a href="javascript:showMe(\'modal-alert\')">×</a></div>'.
            '</div>'.
            '   <a href="./?page=kirim pesan">'.
            '       <div class="colfix w33">'.
            '           <div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg"></div>'.
            '       </div>'.
            '       <div class="colfix w66 product-info">'.  
            '           <h3>'.$lipsum.'</h3>'.
            '           <span class="harga">2.300.000</span>'.
            '           <div class="colfix w50 order minorder">10 <span>buah</span></div>'.
            '                   <button class="btn btn-cari" title="">Kirim Pesan</button>'.
            '       </div>'.
            '   </a>'.
            
            '</div>';


        }
    ?>



</div>



<!-- modal notif hapus item di cart-->
<a onclick="hideMe(this);" class="modal alert hidden " id="modal-alert">
    <h3>Sukses!</h3>
    Item berhasil dihapus dari keranjang
    <ico class="closeX"></ico>
</a>






