<br>  <br>  <br> <br>  <br>  <br>
<form class="form-inline">
            <div class="input-group" align="center">
            <br>
              <h4>Pesan Terkirim</h4>
           
              <hr size="1">
               <p>Pesan telah berhasil dikirimkan</p>
           
            </div>
          </form>
            <br>  <br>  <br>       <br>  <br>  <br>   <br>  <br>  <br> 