<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<section class="mobile static-faq">
   <h4>Kontak Kami</h4>

        <?php 
            include ('../'.$html_path.'hubungi kami.html');
        ?>

    	<!--<div>
          <ul>
            <li>Untuk layanan bantuan dan informasi, silakan hubungi: </li>
            <li><span class="title">Telepon:</span><span>+6221 4001 11333</span></li>
            <li><span class="title">Email:</span><span><a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a></span></li>
            <br>
            <li><h4>PT. Indonetwork Mitra Utama</h4>
            Jl. Rungkut Madya, Ruko Grand City Regency Blok A10<br />
            Surabaya 60293, Indonesia</li>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

          </ul>
        </div>
        -->
</section>