<!-- <link href="../mobile/assets/css/lightslider.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
css slider gabisa jalan-->

<br>
<center><h3>Data Perusahaan</h3></center>

<div class="gallerybox">
<br>
	<div class="gallery-container">
		<?php
			for ($x=1; $x<2; $x++) {
		echo '<div class="imgbox"><img src="../assets/images/products/'.$x.'.jpg"></div>';

			}
		?>

	</div>

</div>
<div class="gallerybox-akun">
	<div class="tambah-foto-comp">
		<img src="../mobile/assets/images/profile-pic3.jpg">
		<img src="../mobile/assets/images/profile-pic3.jpg">
		<img src="../mobile/assets/images/profile-pic3.jpg">
		<img src="../mobile/assets/images/profile-pic3.jpg">
		<img src="../mobile/assets/images/profile-pic3.jpg">
	</div> 
</div>

<div class="detail-wrapper">
<div class="product-info">
		<ul>
			<li><span>Nama perusahaan</span>PT. Coba Melempar Manggis</li>
			<li><span>Alamat URL</span><a href="./page=toko">http://manggis.indonetwork.co.id</a></li>
			<li><span>Deskripsi Perusahaan</span>Yang ini yang itu</li>
			<li><span>Website</span>www.manggis-mangga.com</li>
			<li><span>Jumlah Karyawan</span>1000</li>
			<li><span>Negara</span>Indonesia</li>
			<li><span>Propinsi</span>Jawa Barat</li>
			<li><span>Kota</span>Garut</li>
			<li><span>Alamat lengkap</span>Jl. Arjuna II / 34 RT.03/RW.11</li>
			<li><span>Kode Pos</span>0333</li>
			<li><span>Mobile</span>0849303030</li>
		</ul>
	</div>
<br>
<br>

<center>
		<a href="./?page=edit data perusahaan" class="btn"> Edit Data </a>
	</center>
</div>





	




</div>

