<br>
<center><h3>Data Akun</h3></center>

<div class="gallerybox-akun">
	<div class="gallery-container">
		 <div class="imgbox"><img src="../mobile/assets/images/profile-pic3.jpg"></div>
	</div>
</div>
<br>

<div class="detail-wrapper">
<div class="product-info">
		<ul>
			<li><span>Username</span>PT. Coba Melempar Manggis</li>
			<li><span>Email</span>lemparmanggi@manggis.com</li>
			<li><span>Nama lengkap</span>Dadang Panther</li>
			<li><span>Negara</span>Indonesia</li>
			<li><span>Telepon</span>+6221 88383490</li>
			<li><span>Mobile Phone</span>0849303030</li>
			<li><span>Jabatan</span>Logistik</li>
		</ul>
	</div>
<br>
<br>

<center>
		<a href="./?page=edit data akun" class="btn"> Edit Data </a>
	</center>
</div>





	




</div>

