<br>
<center>
	<h3>List Permintaan Detail</h3>
</center>
<div class="dashboard-detail-req">
	<div class="wrapper">
		<h3>Controller XBOX 360</h3>
		<dl>
			<dt>Perusahaan:</dt><dd><strong>PT. Mitra Cakra Kencana Murah</strong></dd>
			<dt>Tanggal:</dt><dd>02 September 2016</dd>
			<dt>Tanggal berakhir:</dt><dd>03 September 2016</dd>
			<dt>Budget:</dt><dd class="price">23.000.000</dd>
			<dt>Harga penawaran:</dt><dd class="price">23.000.000 <i class="low-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></dd>
			<dt>Penawar:</dt><dd>15</dd>
			<dt>Status:</dt><dd>Aktif</dd>
		</dl>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p>
	</div>
	<hr size="1">
	<div class="wrapper">
		<textarea placeholder="Ketik Pesan Anda"></textarea>
		<center>
			<span class="btn"> Kirim Pesan </span>
		</center>
	</div>
	<div class="pesan-penawaran">
		<ul class="list-wrapper">
			<li class="unread"><h3><b>PT. Kencana Mitra Cakra Murah</b></h3>
			<span class="msg-date">16 Maret 2016</span>
			<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae.</p></li>
			<li><h3><b>PT. Kencana Mitra Cakra Murah</b></h3>
			<span class="msg-date">16 Maret 2016</span>
			<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. </p></li>
			<li><h3><b>PT. Makmur Abadi</b></h3>
			<span class="msg-date">16 Maret 2016</span>
			<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are.</p></li>
			<li><h3><b>PT.Mitra Cakra Murah</b></h3>
			<span class="msg-date">16 Maret 2016</span>
			<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p></li>
		</ul>
	</div>
</div>
<div class="center">
  <ul class="pagination pagination2">
    <li><input type="number" data-total="4895" value="1" class="paging-input"> <span>dari <b class="black">4895</b> halaman</span> </li>
    <li><a><ico class="arrow-left"></ico></a><a href=""><ico class="arrow-right"></ico></a></li>
  </ul>
</div>