<?php include ($html_path.'searchbar.html') ?> 
<hr size="1">
<div class="wrapper">
	<div class="dashboard-detail-req">
	<div class="gallerybox">
	<div class="gallery-container">
		<?php
			for ($x=1; $x<8; $x++) {
		echo '<div class="imgbox"><img src="../assets/images/products/'.$x.'.jpg"></div>';

			}
		?>

	</div>
</div>
<center class="gallery-numbers"><ico class="arrow-left"></ico> <small>8 foto</small> <ico class="arrow-right"></ico> </center>
		<h3>Controller XBOX 360</h3>
		<dl>
			<dt>Tanggal Aktif:</dt><dd>02 September 2016</dd>
			<dt>Tanggal Berakhir:</dt><dd>03 September 2016</dd>
			<dt>Lokasi:</dt><dd>Bekasi, Jawa Barat</dd>
			<dt>Jumlah Penawar:</dt><dd>10</dd>
			<dt>Budget:</dt><dd class="price">23.000.000</dd>
		</dl>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p>
		<center>
        <a href="?page=buat penawaran"class="btn btn-default">Buat Penawaran</a>
        <a href="?page=lengkapi info perushaan"class="btn btn-default">Buat Penawaran</a>
    </center>
	</div>
	<hr size="1">
	<div class="seller-info">
        <center>
            <div class="imgbox imgprofile">
                <img src="http://img.indonetwork.co.id/companies/thumbs/343x343/2016/06/13/f2b679210295ea89b0b5368d3bda8065.jpg" alt="SAPHYMO – PAB-3R-">
            </div>
            <br>
            <h3><a href="//pt-mandiri-multi-kreasi.indonetwork.co.id">PT. MADIRI MULTI KREASI. No.Tlp : 021-6230 5566/ 0813 1600 6033 / 0812 9436 9944</a></h3>
        </center>
		<p><strong>Welcome to PT.MADIRI MULTI KREASI</strong><br><br><strong>Jl.Hayam Wuruk No.127 LTC Lantai.1 Blok C37 No.5 &nbsp;Glodok - Jakarta Barat, INDONESIA</strong></p><br>
		<p><strong>Telp : 021-6230 5566 Fax : 021-6230 5566<br>Hp.081316006033 , 081294369944<br>Email : madirimultikreasi@gmail.com</strong></p><br>
		<p>Selamat datang di website resmi madirimultikreasi, dimana madirimultikreasi menyediakan berbagai produk di bidang alat test serta alat ukur (test and measurement). madirimultikreasi sudah dipercaya oleh berbagai industri di Indonesia. Sehingga jangan ragu lagi untuk bekerja sama dengan madirimultikreasi dalam bidang alat test dan alat ukur (test and measurement). Produk yang kami jual meliputi thermal imager, infrared camera, osiloskop, digital oscilloscope, probe oscilloscope, waveform generator, clamp meter, digital multimeter, power quality, earth tester, ohm meter, insulation tester, battery tester, power supply, environmental test, gas detector, noize analyzer, frequency counter, power meter, sound level, watt meter, logic analyzer dan lain sebagainya lengkap dengan info dan spesifikasi.</p>
	</div>
</div>