
<div class="breadcrump">
	<ul>
		<li><a href="">Detail Penawaran Pesan</a></li>
	</ul>
</div>
<div class="detail-wrapper">
<center><h3>Penawaran Selesai</h3></center>
	<div class="detailq-pnwrn">
		<h3>Controller XBOX 360 With Double Box</h3>
		<dl>
			<dt>Perusahaan </dt> <dd><b class="cat">PT. Kencana Mitra Cakra Murah</b></dd>
			<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
			<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
			<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
			<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
			<dt>Penawar</dt> <dd><span>15</span></dd>
			<dt>Status</dt> <dd><span>Selesai</span></dd>
		</dl>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p>
		<center><span class="w80 btn"> Ubah Harga Pesan </span></center>
		<hr size="1">
		<textarea placeholder="Tuliskan Penawaran Anda disini." disabled></textarea>
		<center><span class="w80 btn"> Kirim Pesan </span></center>
	</div>
</div>




