<br>
<center>
	<h3>List Permintaan Detail</h3>
</center>
<div class="dashboard-detail-req">
	<div class="wrapper">
		<h3>Controller XBOX 360</h3>
		<dl>
			<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
			<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
			<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
			<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
			<dt>Penawaran Termurah</dt><dd>: <span class="price">12.000.000</span></dd>
			<dt>Penawar</dt><dd>: 16</dd>
			<dt>Status</dt><dd>: Aktif</dd>
		</dl>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p>
		<center>
			<a href="?page=penawar termurah" class="btn">Lihat Penawar Termurah</a>
		</center>
	</div>
	<hr size="1">
	<h3 class="wrapper">List Penawar</h3>
	<ul class="list-wrapper">
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<li class="pnwrn-dipilih">'.
			'<div class="box-img">'.
			'<span><img src="../assets/data/profile-pic3.jpg"></span>'.
			'</div>'.
			'<div class="content-buy">'.
			'<h3>PT. Kencana Mulya Citra Media Utama Persada</h3>'.	
			'<dl>
			<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
			<dt>Harga</dt><dd>: <span class="price">12.000.000</span></dd>
			</dl>'.	
			'</div>'.
			'<div class="clear"></div>'.	
			'<div class="btn-req">
			<a href="?page=detail pesan permintaan">Pesan</a>
			<a href="?page=detail penawar permintaan">Detail</a>
			<a href="?page=pilih penawar">Pilih</a>
			</div>'.
			'<div class="clear"></div>'.	
			'</li>';
		}
		?>
		<?php 
		for($x=1; $x<6; $x++) {
			echo ''.
			'<li>'.
			'<div class="box-img">'.
			'<span><img src="../assets/data/profile-pic3.jpg"></span>'.
			'</div>'.
			'<div class="content-buy">'.
			'<h3>PT. Kencana Mulya Citra Media Utama Persada</h3>'.	
			'<dl>
			<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
			<dt>Harga</dt><dd>: <span class="price">12.000.000</span></dd>
			</dl>'.	
			'</div>'.
			'<div class="clear"></div>'.	
			'<div class="btn-req">
			<a href="?page=detail pesan permintaan">Pesan</a>
			<a href="?page=detail penawar permintaan">Detail</a>
			<a href="?page=pilih penawar">Pilih</a>
			</div>'.
			'<div class="clear"></div>'.	
			'</li>';
		}
		?>
	</ul>
</div>
<div class="center">
  <ul class="pagination pagination2">
    <li><input type="number" data-total="4895" value="1" class="paging-input"> <span>dari <b class="black">4895</b> halaman</span> </li>
    <li><a><ico class="arrow-left"></ico></a><a href=""><ico class="arrow-right"></ico></a></li>
  </ul>
</div>