<br>
<center>
    <h3>Detail Pesan Penawaran</h3>
</center>
<div class="detail-wrapper">
<center><h3>Pesan Penawaran</h3></center>
	<div class="detailq-pnwrn">
		<h3>Controller XBOX 360 With Double Box</h3>
		<dl>
			<dt>Perusahaan </dt> <dd><b class="cat">PT. Kencana Mitra Cakra Murah</b></dd>
			<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
			<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
			<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
			<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
			<dt>Penawar</dt> <dd><span>15</span></dd>
			<dt>Status</dt> <dd><span>Aktif</span></dd>
		</dl>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p>
		<!--center><a href="./?page=ubah-harga" class="w80 btn"> Ubah Harga Penawaran</a></center-->
		<hr size="1">
		<textarea placeholder="Tuliskan Pesan Anda disini."></textarea>
		<div class="chgprc con">
			<dl id="chgprice">
				<dt><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc"></label></dt>
				<dd><input class="harga" type="text" tabindex="1" maxlength="120" value="123.0000.000" disabled="true"></dd>
			</dl>
			<span>Centang jika anda ingin merubah harga</span>
			<div class="clear"></div>
		</div>
		<center><span class="w80 btn"> Kirim Pesan </span></center>
	</div>
</div>
<div class="pesan-penawaran">
	<ul class="list-wrapper">
		<li class="unread"><h3><b>PT. Kencana Mitra Cakra Murah</b></h3>
		<span class="msg-date">16 Maret 2016</span>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae.</p></li>
		<li><h3><b>PT. Kencana Mitra Cakra Murah</b></h3>
		<span class="msg-date">16 Maret 2016</span>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. </p></li>
		<li><h3><b>PT. Makmur Abadi</b></h3>
		<span class="msg-date">16 Maret 2016</span>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are.</p></li>
		<li><h3><b>PT.Mitra Cakra Murah</b></h3>
		<span class="msg-date">16 Maret 2016</span>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p></li>
	</ul>
</div>
<div class="center">
  <ul class="pagination pagination2">
    <li><input type="number" data-total="4895" value="1" class="paging-input"> <span>dari <b class="black">4895</b> halaman</span> </li>
    <li><a><ico class="arrow-left"></ico></a><a href=""><ico class="arrow-right"></ico></a></li>
  </ul>
</div>



