<br>
<center>
	<h3>Detail Penawar</h3>
</center>
<div class="gallerybox">
	<div class="gallery-container">
		<?php
			for ($x=1; $x<8; $x++) {
		echo '<div class="imgbox"><img src="../assets/images/products/'.$x.'.jpg"></div>';

			}
		?>

	</div>
</div>
<center class="gallery-numbers"><ico class="arrow-left"></ico> <small>8 foto</small> <ico class="arrow-right"></ico></center>
<div class="wrapper">
	<div class="dashboard-detail-req">
		<h3>Controller XBOX 360</h3>
		<dl>
			<dt>Perusahaan:</dt><dd><strong>PT. Mitra Cakra Kencana Murah</strong></dd>
			<dt>Budget:</dt><dd class="price">23.000.000</dd>
			<dt>Harga penawaran:</dt><dd class="price">23.000.000 <i class="low-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></dd>
		</dl>
		<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</p>
	</div>
</div>