<br>
<center><h3>Edit Data Perusahaan</h3></center>
<form>



						
<div class="gallerybox-akun">
	<div class="gallery-container">
								<label>
									<div class="imgbox"><img src="../mobile./assets/images/add-photo.svg"><input type="file" value="1'"></div>

									
								</label>
	</div>

</div>	

	


 <br>
 <hr size="1">

	Nama perusahaan<br>
	<input type="text"  disabled value="PT.Coba Melempar Manggis">

	Alamat URL<br>
	<input type="text" placeholder="http://manggis.indonetwork.co.id">

	Deskripsi Perusahaan<br>
	<input type="text" placeholder="Deskripsi Perusahaan">

	Website<br>
	<input type="text" placeholder="ex: www.manggis-mangga.com" disabled>

	Jumlah Karyawan<br>
	<input type="text" placeholder="ex: 100">


	Negara:<br>
		<select>
		<option value="">Pilih Negara..</option>
		<option value="">Albania</option>
		<option value="">Australia</option>
		<option value="">Indonesia</option>	
	</select>	
	Propinsi:<br>
	<select>
		<option value="">Pilih Propinsi..</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
	</select>	
	Kota:<br>
	<select>
		<option value="">Pilih Kota..</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
	</select>

	Alamat lengkap<br>
	<input type="text" placeholder="Alamat Lengkap"> 
	Kode Pos<br>
	<input type="text" placeholder="Kode Pos"> 
	Mobile<br>
	<input type="text" placeholder="Mobile">
	Foto Perusahaan<br>
<div class="tambah-foto">
        <ul class="foto-dataComp ui-sortable" id="list_photo_company">
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="./assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_company" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="./assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_company" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="./assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_company" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="./assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_company" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="photo_preview uploaded_image_frame unsortable" style="display:none;">
                <label>
                    <div class="frame_image imgbox" style="text-align:center;">
                        <img src="./assets/images/preloader.gif" class="uploaded_image">
                        <a href="#" class="delete_image_company" style="display:none;">X</a>
                    </div>
                </label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_1" class="browses">
                        <div class="frame_image imgbox">
                            <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1amdksuen1n07nja24u1iqssva3_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: hidden;"><input id="html5_1amdksuen1n07nja24u1iqssva3" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_2" class="browses">
                        <div class="frame_image imgbox">
                            <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1amdksues1s3b9fp1q7m16is108r6_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: hidden;"><input id="html5_1amdksues1s3b9fp1q7m16is108r6" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_3" class="browses">
                        <div class="frame_image imgbox">
                            <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1amdksueu1er9vtgfno15le1n1p9_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: hidden;"><input id="html5_1amdksueu1er9vtgfno15le1n1p9" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_4" class="browses">
                        <div class="frame_image imgbox">
                            <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1amdksuf013ljignlg13ckm12c_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: hidden;"><input id="html5_1amdksuf013ljignlg13ckm12c" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                    <a href="#" id="browse_5" class="browses">
                        <div class="frame_image imgbox">
                            <img src="./assets/images/add-photo.svg" class="img_placeholder">
                        </div>
                    </a>
                <div id="html5_1amdksuf212k47esrfv18s4jbf_container" class="moxie-shim moxie-shim-html5" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: hidden;"><input id="html5_1amdksuf212k47esrfv18s4jbf" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
        </ul>
    </div>

	<hr size="1">

	<center>
		<a href="./?page=Register success" class="btn"> Simpan Data </a>
	</center>
</form>


<div class="bottom-space"></div>