<br>
<center><h3>Edit Data Akun</h3></center>
<form>


						
<div class="gallerybox-akun">
	<div class="gallery-container">
								<label>
									<div class="imgbox"><img src="../mobile/assets/images/add-photo.svg"><input type="file" value="1'"></div>
									<br><br>
									<div class="w100 txtcenter">
										<div class="btn med-btn">+ Ganti Foto</div>
									</div>
								</label>
							</div>
							</div>
						
				
								

 
 <hr size="1">

	Username:<br>
	<input type="text" disabled value="PT.Coba Melempar Manggis">

	Email:<br>
	<input type="text"  disabled value="Lemparmanggi@manggis.com">

	Nama Lengkap:<br>
	<input type="text" placeholder="Nama Lengkap">
	Negara:<br>
		<select>
		<option value="">Pilih Negara..</option>
		<option value="">Albania</option>
		<option value="">Australia</option>
		<option value="">Indonesia</option>	
	</select>	
	Propinsi:<br>
	<select>
		<option value="">Pilih Propinsi..</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
	</select>	
	Kota:<br>
	<select>
		<option value="">Pilih Kota..</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
	</select>
	Telephone:<br>	<input type="text" placeholder="Telephone"> 
	Mobile:<br>
	<input type="text" placeholder="Mobile">
	Jabatan:<br>
	<input type="text" placeholder="Jabatan">
	<hr size=1>
	<center>
		<a href="./?page=Register success" class="btn"> Simpan Data </a>
	</center>
</form>


<div class="bottom-space"></div>