	<div class="footer">
		<div class="wrapper">
			<ul>
				<li><a href="?page=bantuan">Bantuan</a></li>
				<li><a href="?page=syarat dan ketentuan">Syarat dan Ketentuan</a></li>
				<li><a href="?page=privacy">Kebijakan privasi</a></li>
				<li><a href="?page=tentang kami">Tentang kami</a></li>
				<li><a href="?page=contact us">Hubungi kami</a></li>
			</ul>
		</div>
		<div>
			&copy;2001-2016 Indonetwork.co.id 
		</div>

	</div>

	<script type="text/javascript">
		function hideMe(a) {
			a.classList.add("hidden");
		}

		function showMe(a) {
			var target=document.getElementById(a);
			target.classList.remove("hidden");
		}
	</script>

</body>
</html>