<br>  <br>  <br> <br>  <br>  <br>
<form class="form-inline">
            <div class="input-group" align="center">
            <br>
              <h4>Notifikasi Reset Password Telah dikirim</h4>
           
              <hr size="1">
               <p>Silahkan reset akun Anda melalui e-mail yang telah Kami kirimkan</p>
           
            </div>
          </form>
            <br>  <br>  <br>       <br>  <br>  <br>   <br>  <br>  <br> 