

        <br>

         
          <form class="form-inline">
            <div class="input-group">
              <center><h3>Lupa Password</h3></center>
               <p>Lupa password? Masukkan e-mail/Username Anda dibawah ini. Kami akan mengirimkan pesan email beserta link untuk reset password Anda.</p>
               <br>

              <input type="text" class="form-input" placeholder="Enter your e-mail/Username">
           
              <center><a href="./?page=forget password success" class="btn"> Reset Password </a></center>
           
            </div>
          </form>

          <hr size=1>
<center>
  <a href="./?page=login"> Ingat password? </a>&nbsp;&nbsp;<a href="./?page=register"> Daftar Anggota Baru </a>
</center>

        </div>
           <br>  <br>  <br>  <br>  