<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<title>indonetwork.co.id Mobile</title>

<link rel="stylesheet" href="assets/css/mobile.css" type="text/css" media="all">
<link rel="stylesheet" href="assets/css/custom.css" type="text/css" media="all">
<link rel="icon" href="img/icon.png">
<link rel="apple-touch-icon" href="img/icon.png">

</head>