
<br>
<center><h3>Info Keanggotaan</h3></center>
<form class="form-inline">
            <div class="input-group" align="left">
            <br>
              <h4>Hi,  Jendayi Prasetya</h4>
           	<p>Saat ini status Keanggotaan anda adalah : <b>Anggota Prioritas</b></p>
              <hr size="1">
  <table>
  <tr>
    <th colspan="2">Info Status</th>
   
  </tr>
  <tr>
    <td>Tanggal Berakhir Keanggotaan</td>
    <td><b>16/06/2017</b></td>
   
  </tr>
  
</table>
<br><br>
<p>Anda sudah mengajukan permohonan untuk peningkatan status keanggotaan Anda. Segera lakukan 
<a href="http://m.indonetwork.co.id/dashboard/status/confirmation/48"><b>konfirmasi pembayaran</b></a>.</p>
            </div>
          </form>
            <br>  <br>  <br>