
<br>
<center><h3>Info Keanggotaan</h3></center>
<form class="form-inline">
            <div class="input-group" align="left">
            <br>
              <h4>Hi,  Dadang Panther</h4>
           	<p>Saat ini status Keanggotaan anda adalah : <b>Free</b></p>
<br>
<br>
<br>

  <center>
    <a href="" class="sml-btn"> Tingkatkan Keanggotaan </a>
  </center>
  
             

<br>
 
  <br>
<br>

<p><center>Tingkatkan status keanggotaan Anda sekarang juga, dan dapatkan keuntungan dari kami sebagai anggota Prioritas</center></p>
            </div>
          </form>
     <br>  <br>  <br>   <br>