<div class="searchbar ">
    <div class="wrapper">
        <div class="colfix w75">
            <input type="text" placeholder="Apa yang anda cari?">
        </div>
        <div class="colfix w25">
            <span class="btn"> Cari </span>
        </div>
        <hr size="1">
        <div class="colfix w47">
            <select>
                <option selected>Katalog Produk</option>
                <option>Permintaan</option>
                <option>Perusahaan</option>
                <option>Semua</option>
            </select>
        </div>
        <div class="colfix w05"></div>
        <div class="colfix w47">
            <select>
                <option selected>Semua Propinsi</option>
                <option>DKI Jakarta</option>
                <option>Jawa Barat</option>
                <option>terusinnn </option>
            </select>
        </div>

    </div>
</div>
