<ul class="dropdown-menu" id="menu1">
   <li>
           <a href="?page=kategori-otomotif"><ico class="teknologi-dan-telekomunikasi"></ico> Teknologi &amp;
           Telekomunikasi</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="peralatan-kantor"></ico> Peralatan Kantor</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="elektronik-dan-peralatan-rumah-tangga"></ico> Elektronik &amp; Peralatan Rumah Tangga</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="peralatan-elektronik"></ico> Peralatan Elektronik</a>
       </li>
       <li> 
           <a href="?page=kategori-otomotif"><ico class="kesehatan-dan-kecantikan"></ico> Kesehatan &amp; Kecantikan</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="peralatan-industri"></ico> Peralatan Industri</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="grocery"></ico> Grocery</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="otomotif-dan-transportasi"></ico> Otomotif &amp; Transportasi</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="media-musik-dan-buku"></ico> Media, Musik &amp; Buku</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="peralatan-olahraga-dan-outdoor"></ico> Peralatan Olahraga &amp; Outdoor</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="mainan-dan-bayi"></ico> Mainan &amp; Bayi</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="fashion-tekstil-dan-aksesoris"></ico> Fashion, Tekstil, &amp; Aksesoris</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="pertanian-dan-produk-pangan"></ico> Pertanian &amp; Produk Pangan</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="voucher-dan-layanan"></ico> Voucher &amp; Layanan</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="kerajinan-dan-souvenir"></ico> Kerajinan &amp; Souvenir</a>
       </li>
       <li>
           <a href="?page=kategori-otomotif"><ico class="metalurgi-mineral-dan-kimia"></ico> Metalurgi, Mineral &amp; Kimia</a>
       </li>
</ul>
<div class="clear"></div>

