<br>
<center>
	<h3>Penawaran Anda Telah Berhasil Dikirimkan</h3>
	<p class="wrapper">Anda telah berhasil mengirimkan penawaran kepada Pembeli.
Mohon menunggu informasi selanjutnya dari Pembeli !</p>
<p><a href="?" class="btn">Halaman Depan</a></p>
</center>