<br>
<center><h3>Form Kirim Pesan</h3></center>

<form>
         
              <div class="form">
                <label>Kepada</label>
                <input type="text" autocomplete="off" placeholder="PT. Sidomukti Agung Serayu Lippo Salim" disabled="">
              </div>
              <div class="form">
                <label>Isi Pesan*</label>
                <textarea rows="6"></textarea>
              </div>
              <div class="form">
                <center><a href="./?page=cart success" class="btn">Kirim Pesan</a></center>
              </div>
            </form>