<br>
<center><h3>Verifikasi E-mail</h3></center>
<br>
	<div class="alert-small"><center>E-mail/Username tidak ditemukan </center></div>
<form>
	<input type="text" placeholder="E-mail/Username">
	<input type="checkbox"> Kirim Kode Verifikasi Ulang
	<br /><br />
	<center>
		<a href="" class="btn"> Kirim </a>
	<hr size="1">
	</center>
</form>
<div class="clear"></div>
<center>
	<a href="./?page=login"> Sudah Verifikasi? Login </a>&nbsp;&nbsp;<a href="./?page=register"> Daftar Anggota Baru </a>
</center>
<div class="bottom-space"></div>