<br>
<center>
	<h3>Silahkan Melengkapi Informasi Perusahaan Anda</h3>
	<p class="wrapper">Anda belum mengisi informasi perusahaan Anda, silahkan klik link berikut ini untuk melengkapinya:</p>
<p><a href="?page=edit data perusahaan" class="btn">Isi Info Perushaan</a></p>
<p class="notif-info">Silahkan merefresh halaman ini jika sudah selesai mengisi info perusahaan Anda, atau klik link berikut ini <a href="?page=detail permintaan terbaru">Refresh Halaman</a></p>
</center>