<div class="breadcrump">
    <ul>
        <li><a href="">Peralatan Industri</a></li>
        <li>Alat &amp; Mesin Pertanian</li>
    </ul>
</div>

<?php include($html_path.'inner-searchbar.html'); ?>

<div class="list-wrapper">
<div class="katalog">
            <select>
                <option selected>Perusahaan</option>
                <option>Permintaan</option>
                <option>Katalog Produk</option>
                <option>Semua</option>
            </select>
        </div>
<?php 
        for($x=1; $x<13; $x++) {
            echo ''.
            '<div class="list-item">'.
            '   <a href="./?page=detail page">'.
            '       <div class="colfix w33">'.
            '           <div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg"></div>'.
            '       </div>'.
            '       <div class="colfix w66 product-info">'.
            '           <h3><b>PT. Dirgantara Maju Melayang Terpercaya Mandiri</b></h3>'.


            '           <div class="seler-info"> <p>Jl. Rungkut Madya No.81, Surabaya, 
            Jawa Timur kebayoran-lama jakarta selatan
            tanah abang
            </p></div>'.

            '           <div class="membership"><img title="membership prioritas" src="assets/images/award.png">

            <img title="membership verified" src="assets/images/verified.png"></div>'.

            
            '       </div>'.
            '   </a>'.
            '</div>';

        }
    ?>
</div>
<div class="center">
  <ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a class="active" href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>


