<br>
<center>
	<h3>List Permintaan</h3>
</center>
<div class="list-permintaan-dash">
<div class="searchbar">
	<div class="wrapper">
		<div class="colfix w75">
            <input type="text" placeholder="Cari Permintaan?">
        </div>
        <div class="colfix w25">
            <span class="btn"> Cari </span>
        </div>
        <div class="clear"></div>
	</div>
</div>

	<ul class="list-wrapper">
		<li class="unread"><a href="?page=detail permintaan dash">
			<h3>Controller XBOX 360</h3>
			<dl>
				<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
				<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
				<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
				<dt>Penawar</dt><dd>: 16</dd>
				<dt>Status</dt><dd>: Aktif</dd>
				<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
			</dl>
		</a></li>
		
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Expired</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Selesai</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
			<li><a href="?page=detail permintaan dash">
				<h3>Controller XBOX 360</h3>
				<dl>
					<dt>Budget</dt><dd>: <span class="price">12.000.000</span></dd>
					<dt>Tgl. Aktif</dt><dd>: 20 September 2016</dd>
					<dt>Tgl. Berakhir</dt><dd>: 21 September 2016</dd>
					<dt>Penawar</dt><dd>: 16</dd>
					<dt>Status</dt><dd>: Aktif</dd>
					<dt>Kategori</dt><dd>: Elektronik &amp; Peralatan Rumah Tangga</dd>
				</dl>
			</a></li>
	</ul>
</div>
<div class="center">
  <ul class="pagination pagination2">
    <li><input type="number" data-total="4895" value="1" class="paging-input"> <span>dari <b class="black">4895</b> halaman</span> </li>
    <li><a><ico class="arrow-left"></ico></a><a href=""><ico class="arrow-right"></ico></a></li>
  </ul>
</div>