



<div class="breadcrump">
    <ul>
        <li><a href="">Peralatan Industri</a></li>
        <li>Alat &amp; Mesin Pertanian</li>
    </ul>
</div>

<div class="searchbar ">
    <div class="wrapper">
        <div class="colfix w75">
            <input type="text" placeholder="Apa yang anda cari?">
        </div>
        <div class="colfix w25">
            <span class="btn"> Cari </span>
        </div>
        <hr size="1">
        <div class="colfix w47">
            <select>
                <option selected>Katalog Produk</option>
                <option>Permintaan</option>
                <option>Perusahaan</option>
                <option>Semua</option>
            </select>
        </div>
        <div class="colfix w05"></div>
        <div class="colfix w47">
            <select>
                <option selected>Semua Propinsi</option>
                <option>DKI Jakarta</option>
                <option>Jawa Barat</option>
                <option>terusinnn </option>
            </select>
        </div>

    </div>
</div>

<div class="list-wrapper">



    <?php 
        for($x=1; $x<6; $x++) {
            echo ''.
            '<div class="list-item">'.
            '<div class="checkbutton"><input type="checkbox"></div>'.
            '<div class="cartbutton">'.
            '<div class="closebtn" id="cart-removebutton"><a href="javascript:showMe(\'modal-alert\')">×</a></div>'.
            '</div>'.
            '   <a href="./?page=detail page">'.
            '       <div class="colfix w33">'.
            '           <div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg"></div>'.
            '       </div>'.
            '       <div class="colfix w66 product-info">'.  
            '           <h3>'.$lipsum.'</h3>'.
            '           <span class="harga">2.300.000</span>'.
            '           <div class="colfix w47 order minorder">10 <span>buah</span></div>'.
            '       </div>'.
            '   </a>'.
            
            '</div>';


        }
    ?>



</div>

<form>
              <h3>Hubungi Penjual ini</h3>
              <div class="form">
                <label>Judul</label>
                <input type="text" autocomplete="off">
              </div>
              <div class="form">
                <label>Pesan</label>
                <textarea rows="6"></textarea>
              </div>
              <div class="form">
                <center><button class="btn btn-cari" title="">Kirim Pesan</button></center>
              </div>
            </form>

<!-- modal notif hapus item di cart-->
<a onclick="hideMe(this);" class="modal alert hidden " id="modal-alert">
    <h3>Sukses!</h3>
    Item berhasil dihapus dari keranjang
    <ico class="closeX"></ico>
</a>






