<br>
<center><h3>List Permintaan Upgrade</h3></center>


<br>

<div class="wrapper">
<div class="product-info">
		<ul>
			<li><span>ID</span>48</li>
			<li><span>Tanggal</span>26-05-2017</li>
			<li><span>Keanggotaan</span>Prioritas</li>
			<li><span>Status</span>Menunggu pembayaran</li>
			<li><span>Jumlah Pembayaran</span>IDR 1.700.000</li>
			<li><span>Jumlah Dibayar</span>IDR 0</li>
			<li><span>Tipe Bayar</span>BCA</li>
		</ul>
	

<br>
<center>
		<a href="?page=upgrade 04" class="sml-btn"> Konfirmasi </a>
	</center>
	<br>
</div>
</div>

<hr>
<div class="wrapper">
<div class="product-info">
		<ul>
			<li><span>ID</span>48</li>
			<li><span>Tanggal</span>26-05-2017</li>
			<li><span>Keanggotaan</span>Prioritas</li>
			<li><span>Status</span>Menunggu pembayaran</li>
			<li><span>Jumlah Pembayaran</span>IDR 1.700.000</li>
			<li><span>Jumlah Dibayar</span>IDR 1.700.000</li>
			<li><span>Tipe Bayar</span>BNI</li>
		</ul>
	</div>
<br>


<center>
		<a href="?page=upgrade 04" class="sml-btn"> Konfirmasi </a>
	</center>
	<br>
</div>
<br>

