<br>
<center>
	<h3>List Penawaran</h3>
</center>
<div class="searchbar">
	<div class="wrapper">
		<div class="colfix w75">
            <input type="text" placeholder="Cari Penawaran?">
        </div>
        <div class="colfix w25">
            <span class="btn"> Cari </span>
        </div>
        <div class="clear"></div>
	</div>
</div>
<div class="list-wrapper">
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<div class="list-item list-penawaran-rfq pnwrn-aktif">'.
			'		<div class="colfix w100 penawaran-info">'.
			'			<h3 class="pnwrtit"><b>'.$lipsum.'</b></h3>'.
			'			<div class="clear"></div>'.
			'			<dl>
							<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
							<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
							<dt>Penawar</dt> <dd><span>15</span></dd>
							<dt>Status</dt> <dd><span>Aktif</span></dd>
							<dt>Kategori</dt> <dd><span class="cat">Elektronik &amp; Peralatan Rumah Tangga</span></dd>
						</dl>'.
			'			<div class="btn-warp">'.
			'			<a href="./?page=detail pesan penawaran" class="btn">Detail Pesan</a>'.
			'			<a href="./?page=batalkan-penawaran" class="btn">Batalkan</a>'.
			'			</div>'.
			'		</div>'.
			'</div>';

		}
	?>
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<div class="list-item list-penawaran-rfq">'.
			'		<div class="colfix w100 penawaran-info">'.
			'			<h3 class="pnwrtit"><b>'.$lipsum.'</b></h3>'.
			'			<div class="clear"></div>'.
			'			<dl>
							<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
							<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
							<dt>Penawar</dt> <dd><span>15</span></dd>
							<dt>Status</dt> <dd><span>Draft</span></dd>
							<dt>Kategori</dt> <dd><span class="cat">Elektronik &amp; Peralatan Rumah Tangga</span></dd>
						</dl>'.
			'			<div class="btn-warp">'.
			'			<a href="./?page=buat penawaran" class="btn">Lanjutkan</a>'.
			'			<a href="" class="btn">Batalkan</a>'.
			'			</div>'.
			'		</div>'.
			'</div>';

		}
	?>
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<div class="list-item list-penawaran-rfq pnwrn-other">'.
			'		<div class="colfix w100 penawaran-info">'.
			'			<h3 class="pnwrtit"><b>'.$lipsum.'</b></h3>'.
			'			<div class="clear"></div>'.
			'			<dl>
							<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
							<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
							<dt>Penawar</dt> <dd><span>15</span></dd>
							<dt>Status</dt> <dd><span>Expired</span></dd>
							<dt>Kategori</dt> <dd><span class="cat">Elektronik &amp; Peralatan Rumah Tangga</span></dd>
						</dl>'.
			'			<div class="btn-warp">'.
			'			<a href="./?page=detail pesan penawaran selesai" class="btn">Detail Pesan</a>'.
			'			</div>'.
			'		</div>'.
			'</div>';

		}
	?>
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<div class="list-item list-penawaran-rfq pnwrn-other pnwrn-dipilih">'.
			'		<div class="colfix w100 penawaran-info ">'.
			'			<h3 class="pnwrtit"><b>'.$lipsum.'</b></h3>'.
			'			<div class="clear"></div>'.
			'			<dl>
							<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
							<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
							<dt>Penawar</dt> <dd><span>15</span></dd>
							<dt>Status</dt> <dd><span>Anda Menang</span></dd>
							<dt>Kategori</dt> <dd><span class="cat">Elektronik &amp; Peralatan Rumah Tangga</span></dd>
						</dl>'.
			'			<div class="btn-warp">'.
			'			<a href="./?page=detail pesan penawaran selesai" class="btn">Detail Pesan</a>'.
			'			</div>'.
			'		</div>'.
			'</div>';

		}
	?>
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<div class="list-item list-penawaran-rfq pnwrn-other">'.
			'	<a href="./?page=detail page">'.
			'		<div class="colfix w100 penawaran-info">'.
			'			<h3 class="pnwrtit"><b>'.$lipsum.'</b></h3>'.
			'			<div class="clear"></div>'.
			'			<dl>
							<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
							<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
							<dt>Penawar</dt> <dd><span>15</span></dd>
							<dt>Status</dt> <dd><span>Selesai</span></dd>
							<dt>Kategori</dt> <dd><span class="cat">Elektronik &amp; Peralatan Rumah Tangga</span></dd>
						</dl>'.
			'			<div class="btn-warp">'.
			'			<a href="./?page=detail pesan penawaran selesai" class="btn">Detail Pesan</a>'.
			'			</div>'.
			'		</div>'.
			'	</a>'.
			'</div>';

		}
	?>
	<?php 
		for($x=1; $x<2; $x++) {
			echo ''.
			'<div class="list-item list-penawaran-rfq pnwrn-other">'.
			'	<a href="./?page=detail page">'.
			'		<div class="colfix w100 penawaran-info">'.
			'			<h3 class="pnwrtit"><b>'.$lipsum.'</b></h3>'.
			'			<div class="clear"></div>'.
			'			<dl>
							<dt>Budget</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Penawaran</dt> <dd><span class="prc">2.000.000,-</span></dd>
							<dt>Tgl. Aktif</dt> <dd><span>15 September 2016</span></dd>
							<dt>Tgl. Berakhir</dt> <dd><span>15 September 2016</span></dd>
							<dt>Penawar</dt> <dd><span>15</span></dd>
							<dt>Status</dt> <dd><span>Batal</span></dd>
							<dt>Kategori</dt> <dd><span class="cat">Elektronik &amp; Peralatan Rumah Tangga</span></dd>
						</dl>'.
			'			<div class="btn-warp">'.
			'			<a href="./?page=detail pesan penawaran selesai" class="btn">Detail Pesan</a>'.
			'			</div>'.
			'		</div>'.
			'	</a>'.
			'</div>';

		}
	?>
</div>
<div class="center">
  <ul class="pagination pagination2">
    <li><input type="number" data-total="4895" value="1" class="paging-input"> <span>dari <b class="black">4895</b> halaman</span> </li>
    <li><a><ico class="arrow-left"></ico></a><a href=""><ico class="arrow-right"></ico></a></li>
  </ul>
</div>



