
<div class="breadcrump">
	<ul>
		<li><a href="">Peralatan Industri</a></li>
		<li>Alat &amp; Mesin Pertanian</li>
	</ul>
</div>

<!--<div class="searchbar ">
	<div class="wrapper">
		<div class="colfix w75">
			<input type="text" placeholder="Apa yang anda cari?">
		</div>
		<div class="colfix w25">
			<span class="btn"> Cari </span>
		</div>
		<hr size="1">
		<div class="colfix w47">
			<select>
				<option selected>Katalog Produk</option>
				<option>Permintaan</option>
				<option>Perusahaan</option>
				<option>Semua</option>
			</select>
		</div>
		<div class="colfix w05"></div>
		<div class="colfix w47">
			<select>
				<option selected>Semua Propinsi</option>
				<option>DKI Jakarta</option>
				<option>Jawa Barat</option>
				<option>terusinnn </option>
			</select>
		</div>

	</div>
</div>-->



<div class="list-wrapper">
<div class="container-tipeproduct">

<form>
	<select>
				<option selected>Katalog Produk</option>
				<option>Penawaran Jual</option>
				<option>Penawaran Beli</option>
				<option>Penawaran Kerjasama</option>
				<option>Perusahaan</option>	
	</select>
</form>
</div>


	<?php 
		for($x=1; $x<3; $x++) {
			echo ''.
			'<div class="list-item">'.
			'		<div class="corner-ribbon aktif"><span>Aktif</span></div>'.
			'	<a href="./?page=detail page">'.
			'		<div class="colfix w33">'.
			'			<div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg"></div>'.
			'		</div>'.
			'		<div class="colfix w66 product-info">'.
			'			<h3>'.$lipsum.'</h3>'.
			'			<span class="harga">2.300.000</span>'.

			'			<div class="colfix w47 order minorder">10 <span>buah</span></div>'.
			'			<div class="colfix w47 txtright"><img title="membership prioritas" src="assets/images/award.png"></div>'.

			
			'		</div>'.
			'	</a>'.
			'</div>';

		}
	?>
		<?php 
		for($x=1; $x<3; $x++) {
			echo ''.
			'<div class="list-item">'.
			'		<div class="corner-ribbon"><span>Draft</span></div>'.
			'	<a href="./?page=detail page">'.
			'		<div class="colfix w33">'.
			'			<div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg"></div>'.
			'		</div>'.
			'		<div class="colfix w66 product-info">'.
			'			<h3>'.$lipsum.'</h3>'.
			'			<span class="harga">2.300.000</span>'.

			'			<div class="colfix w47 order minorder">10 <span>buah</span></div>'.
			'			<div class="colfix w47 txtright"><img title="membership prioritas" src="assets/images/award.png"></div>'.

			
			'		</div>'.
			'	</a>'.
			'</div>';

		}
	?>
		<?php 
		for($x=1; $x<3; $x++) {
			echo ''.
			'<div class="list-item">'.
			'		<div class="corner-ribbon moderasi"><span>Review</span></div>'.
			'	<a href="./?page=detail page">'.
			'		<div class="colfix w33">'.
			'			<div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg"></div>'.
			'		</div>'.
			'		<div class="colfix w66 product-info">'.
			'			<h3>'.$lipsum.'</h3>'.
			'			<span class="harga">2.300.000</span>'.

			'			<div class="colfix w47 order minorder">10 <span>buah</span></div>'.
			'			<div class="colfix w47 txtright"><img title="membership prioritas" src="assets/images/award.png"></div>'.

			
			'		</div>'.
			'	</a>'.
			'</div>';

		}
	?>
</div>
<div class="center">
  <ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a class="active" href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>


