<br>
<center><h3>Login</h3></center>
<br>
	<div class="alert-small"><center>Username / Password tidak cocok </center></div>
<form>
	<input type="text" placeholder="E-mail/Username">
	<input type="password" placeholder="Password">
	<center>
		<a href="" class="btn"> Login </a>
	</center>
	<hr size="1">

		<center>atau via:&nbsp;<br>
	<br>	
	<div class="colfix w100">
         <div class="colfix w50 txtright"><a href=""><button class="btn btn-facebook" type="button"><img src="./assets/images/fb-icon.png" alt="" width="20" height="20"> Facebook</button></a></div>

          <div class="colfix w50 txtleft"><a href=""><button class="btn btn-google" type="button"><img src="./assets/images/google-icon.png" alt="" width="20" height="20"> Google</button></a></div>
    </div>
	</center>
</form>
<div class="clear"></div>
<hr size=1>
<center>
	<a href="./?page=register" class="btn"> Daftar </a>
	<br><br>
	<a href="./?page=kode verifikasi"> Kirim Ulang Kode Verifikasi </a>&nbsp;&nbsp;<a href="./?page=forget password"> Lupa password? </a><br /><a href="./?page=register"> Daftar Anggota Baru </a>
</center>
<div class="bottom-space"></div>