<div class="nav-menu-container">
	<a href="javascript:void()"><ico class="closeX"></ico></a>

	<div class="nav-menu">
		<a href="javascript:void()"><ico class="menu"></ico></a>
		<h3>dashboard</h3>
		<ul class="ul-menu">
			<li>
                <a>Hai, <strong>Developer Cabul hjfhkjtghtkjhtjkbtjkbyjkbjktgkjvgkjvbgjvjkvbjkjf!</strong></a>
            </li>
            <li><a href="./?page=login">Login </a></li>
			<li><a href="./?page=register">Register </a></li>
			<li><a href="./?page=forget password">Forget Password</a></li>
			<li><a href="./?page=kode verifikasi">Kode Verifikasi </a></li>
			<li><a href="./?page=permintaan terbaru">List Permintaan Terbaru</a></li>
			<li><a href="./?page=ubah email">Ubah E-mail </a></li>
			<li><a href="./?page=ubah password">Ubah password </a></li>
			<li><a href="./?page=kategori">Kategori </a></li>
			<li><a href="./?page=tambah produk 3">Tambah Produk </a></li>
			<li><a href="./?page=cart">Cart <div class="right txtright notif-number">17</div></a></li>
			<li><a href="./?page=cart blank">Cart blank</a></li>
			<li><a href="./?page=listing perusahaan">Listing Perusahaan </a></li>
			<li><a href="./?page=listing produk">Listing Produk</a> </li>
			<li><a href="./?page=detail page">Detail Produk</a> </li>
			<li><a href="./?page=buat permintaan">Buat Permintaan</a> </li>
			<li><a href="./?page=tips dan trik">Tips Belanja</a> </li>
			<li><a href="./?page=list-permintaan">List Permintaan</a></li>
			<li><a href="./?page=list-penawaran">List Penawaran</a></li>
			<li><a href="./?page=data akun">Data akun </a></li>
			<li><a href="./?page=edit data akun">Edit Data Akun </a></li>
			<li><a href="./?page=data perusahaan">Data Perusahaan </a></li>
			<li><a href="./?page=edit data perusahaan">Edit Data Perusahaan </a></li>
			<li><a href="./?page=info keanggotaan free">Info Keanggotaan Free </a></li>
			<li><a href="./?page=info keanggotaan prioritas">Info Keanggotaan Prioritas </a></li>
			<li><a href="./?page=list permintaan update">List Permintaan Update </a></li>
			<li><a href="./?page=list produk">List Produk (aktif,draft,moderasi) </a></li>
			<li><a href="./?page=upgrade 01">upgrade 01</a> </li>
			<li><a href="./?page=upgrade 02">upgrade 02</a> </li>
			<li><a href="./?page=upgrade 03">upgrade 03</a> </li>
			<li><a href="./?page=dashboard">Dashboard</a> </li>
			<li><a href="./?page=tentang kami">Tentang Kami </a></li>
			<li><a href="./?page=bantuan">Bantuan </a></li>
			<li><a href="./?page=contact us">contact us</a></li>
			<li><a href="./?page=privacy">privacy </a></li>
			<li><a href="./?page=syarat dan ketentuan">syarat dan ketentuan</a></li>
			<li><a href="./?page=notifikasi">Notifikasi</a> </li>
			<li><a href="?page=ui elements">UI elements</a> </li>
			<br>
			<br>
			<br>

		</ul>


	</div>
</div>