<?php include ($html_path.'searchbar.html') ?> 

<div class="detail-wrapper">
	<div class="colfix w50"><a href=""><ico class="arrow-left"></ico>  Kembali</a></div>
	<div class="colfix w50 txtright"><a href="">Selanjutnya <ico class="arrow-right"></ico></a></div>
	<hr size="1">

	<h3><?php echo $lipsum ?></h3>

</div>

<div class="gallerybox">
	<div class="gallery-container">
		<?php
			for ($x=1; $x<8; $x++) {
		echo '<div class="imgbox"><img src="../assets/images/products/'.$x.'.jpg"></div>';

			}
		?>

	</div>
</div>
<center class="gallery-numbers"><ico class="arrow-left"></ico> <small>8 foto</small> <ico class="arrow-right"></ico> </center>

<div class="detail-wrapper">
	<div class="product-info">
		<ul>
			<li><span>Min.pembelian</span> 10 buah</li>
			<li><span>Kemampuan produksi</span> 1000 buah/minggu</li>
			<li><span>Tersedia</span> 1000 buah</li>
			<li><span>update</span> 18 / 03 / 2016</li>
		</ul>
	</div>

	<hr size="1">

	<div class="hargabox">
		<div class="colfix w50 txtright">
			<div class="smaller">mulai</div>
			<span class="harga">200.000</span>
		</div>
		<div class="colfix w50">
			<div class="smaller">hingga</div>
			<span class="harga">230.000</span>
		</div>
	</div>

	<br>

	<div class="colfix w25"></div>
	<div class="colfix w25 txtright"> 
		<input type="text" value="10">
	</div>
	<div class="colfix w33">
		<span class="btn">  BELI  </span>
	</div>
	<div class="colfix w25"></div>
	<hr size="1">
	<center><smaller>atau anda dapat kirim penawaran</smaller></center>
	<br>

	<textarea placeholder="Jelaskan penawaran anda kepada penjual"></textarea>
	<br><br>
	<center>
		<span class="btn"> Kirim Pesanan </span>
	</center>
	<hr size="1">

	<h3>Deskripsi</h3>
	<p><?php echo $lipsum.$lipsum.$lipsum.$lipsum ?></p>


	<hr size="1">
	<div class="seller-info">
		<center>
			<div class="imgbox imgprofile"><img src="../assets/data/profile-pic2.jpg"></div>
			<br>
			<h3>PT. Nama Perusahaan Penyedia Produk</h3>
		</center>
		<p><?php echo $lipsum ?></p>
	</div>

</div>

<a onclick="hideMe(this);" class="modal alert" id="modal-alert">
	<h3>Maaf</h3>
	Harap isi semua input formulir
	<ico class="closeX"></ico>
</a>

