<?php include ($html_path.'inner-searchbar.html') ?> 

<div class="wrapper">
	<div class="katalog">
		<select>
            <option>Katalog Produk</option>
            <option>Penawaran Jual</option>
            <option>Penawaran Beli</option>
            <option>Penawaran Kerjasama</option>
            <option>Perusahaan</option>
            <option selected>Permintaan</option>
		</select>
	</div>
	<h3>Permintaan Terbaru</h3>
</div>
<ul class="list-wrapper">
	<?php 
		for($x=1; $x<6; $x++) {
			echo ''.
			'<div class="list-item list-permintaan">'.
			'	<a href="./?page=detail permintaan terbaru">'.
			'		<div class="colfix w100 permintaan-info">'.
			'			<h3 class="mtitlereq"><b>'.$lipsum.'</b></h3>'.
			'			<p class="harga">600.000</p>'.
			'			<p class="desc-permintaan more">'.$lipsum.'</p>'.
			'			<div class="clear"></div>'.
			'			<div class="permintaan-infocp">
						<div class="colfix w5"><img title="membership prioritas" src="assets/images/award.png"></div><div class="colfix w95"><h3><b>PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</b></h3>
						<p class="seler-info">Jakarta Selatan • DKI Jakarta • ID
            			</p>
            			<div class="clear"></div>
            			<div class="tradeoffer">
            				<div class="to-count"><span>Jumlah Penawar</span><b>10 vendor</b></div>
            			<div class="to-count"><span>Tayang Hingga</span><b>06/11/2016</b></div>
            					<div class="clear"></div>
            			</div>
						</div>
            			<div class="clear"></div>
						</div>'.

			
			'		</div>'.
			'	</a>'.
			'</div>';

		}
	?>
</ul>
<div class="center">
  <ul class="pagination pagination2">
    <li><input type="number" data-total="4895" value="1" class="paging-input"> <span>dari <b class="black">4895</b> halaman</span> </li>
    <li><a><ico class="arrow-left"></ico></a><a href=""><ico class="arrow-right"></ico></a></li>
  </ul>
</div>