<br>
<center>
	<h3>Pilih Penawar</h3>
	<p>Apa anda yakin untuk memilih Penawar ini?</p>
</center>
<div class="wrapper pilih-penawar">
	<h3><center><strong>Controller XBOX 360</strong></center></h3>
	<strong><center>PT. Kencana Mulya Citra Media Utama Persada</center></strong>
	<p class="price">12.000.000</p>
	<div class="btn-req">
		<a href="">Ya</a>
		<a href="" class="btn-req-no">Tidak</a>
	</div>
</div>