<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<section class="mobile static-faq">
   <h3>Kebijakan dan Privasi</h3>
   <p>Lupa password? Masukkan email login Anda dibawah ini. Kami akan mengirimkan pesan email beserta link untuk reset password Anda.</p>

					
                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Apakah COOKIE itu?</a></h4><br>
								<ul> 
									<li>
								 <p>"Cookie" merupakan informasi kecil yang oleh situs web disimpan pada sebuah file yang ditunjuk di komputer anda. Ia dapat digunakan, antara lain, untuk mengenali anda ketika anda masuk ke sebuah situs web. Ketika anda mengunjungi sebuah situs, situs itu hanya akan menggunakan informasi yang telah disimpannya di cookie anda -- bukan informasi dari cookie yang ditaruh oleh situs lain. Indonetwork merupakan salah satu dari banyak situs yang menggunakan cookie.</p>
									</li>

									</ul>
								
                                </div>
                            </div>



                             <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Mengapa Indonetwork menggunakan cookie?</a></h4><br>
								<ul> 
									<li>
								<p>Cookie mengijinkan Indonetwork untuk mengenali anda sebagai pengguna lama setiap anda mengunjungi situs kami. Cookie ini menghemat waktu anda kapan saja anda mengirim permintaan. Kapan saja anda ingin mengirim permintaan atau penawaran, dari manapun di situs ini, formulir permintaan atau penawaran secara otomatis akan terisi dengan data anda secara lengkap. Anda hanya mengetik pesan dan langsung bisa dikirim!</p>
									</li>

									</ul>
								
                                </div>
                            </div>



                             <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Akankah situs web lainnya dapat mencuri nama user dan kata sandi saya?</a></h4><br>
								<ul> 
									<li>
						
						<p>Tidak. Hanya Indonetwork yang dapat membaca informasi tentang nama user dan kata sandi anda. Tidak satupun situs web yang mempunyai hak untuk melihatnya di browser anda. Ini merupakan cara kerja browser web. Bagaimanapun juga, siapapun yang duduk di komputer anda dapat masuk ke situs kami dengan menggunakan informasi anda jika anda telah memilih untuk menyimpan informasi pendaftaran anda. Kami menyarankan anda untuk masuk hanya jika komputer anda ditaruh di tempat yang aman.</p>
									</li>

									</ul>
								
                                </div>
                            </div>




                             <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Akankah saya menerima email yang tidak saya minta jika saya menerima cookie anda?</a></h4><br>
								<ul> 
									<li>
					<p>Tidak. Penerimaan terhadap cookie pada situs web kami tidak menyebabkan anda menerima email apapun dari kami. Ketika anda mendaftar untuk layanan GRATIS kami, anda memilih apakah menerima email promosi dari Indonetwork atau tidak. Untuk memeriksa atau memperbarui pilihan ini, silahkan lihat di Member Menu.</p>
									</li>

									</ul>
								
                                </div>
                            </div>



                                   <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Apa arti karakter-karakter yang saya lihat ke muncul pertanyaan tentang cookie? </a></h4><br>
								<ul> 
									<li>
						<p> Jika anda telah menyetel browser anda untuk memberitahu anda setiap cookie akan disimpan, anda akan melihat isi dari cookie sebelum komputer anda menerimanya.</p>
									</li>

									</ul>
								
                                </div>
                            </div>


                                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Bagaimana jika saya tidak menerima cookie anda? </a></h4><br>
								<ul> 
									<li>
						<p>Beberapa layanan atau fasilitas kami memerlukan cookie. Jika anda tidak menerima cookie di situs web kami, anda mungkin tidak dapat menggunakan, mempunyai hak, atau turut serta di layanan atau fasilitas kami secara penuh atau sama sekali.</p>
									</li>

									</ul>
								
                                </div>
                            </div>





                                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Informasi yang berhubungan dengan anggota komunitas</a></h4><br>
								<ul> 
									<li>
						<p>Untuk layanan-layanan yang memerlukan pendaftaran, anda akan diminta untuk menyediakan informasi pribadi dan bisnis tertentu. Pada pendaftaran, anda akan diikutkan sebagai anggota dari jaringan komunitas global kami. Sebagai anggota komunitas, anda berhak untuk minta keluar dari direktori anggota kami, yang mana hanya anggota lain dan rekan yang berhubungan yang dapat melihatnya.</p> 
									</li>

									</ul>
								
                                </div>
                            </div>
 


                                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Merek bersama dan hubungan aliansi</a></h4><br>
								<ul> 
									<li>
						<p>Kami telah mengadakan hubungan dengan pihak lain di Internet untuk memberi anda keuntungan dari produk dan layanan yang kami sendiri tidak menyediakan. Kami menawarkan anda untuk menggunakan produk dan layanan pihak lain ini baik melalui hubungan internet ke situs mereka melalui situs kami, atau melalui situs "merek-bersama" yang ditawarkan yang mana kami dan pihak ketiga ini menggunakan URL yang sama, nama domain atau halaman di nama domain di Internet. Secara umum, kami tidak memiliki merek bersama dan pihak aliansi dan kami tidak mengendalikan bagaimana mereka menggunakan informasi yang anda berikan ke mereka. Oleh karena itu penting bagi anda untuk mengerti kebijaksanaan privasi mereka dan/atau syarat penggunaan jika anda mengunjungi dan menggunakan situs mereka.</p> 
									</li>

									</ul>
								
                                </div>
                            </div>
 

                                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Penggunaan informasi</a></h4><br>
								<ul> 
									<li>
						<p>  Kami mungkin menggunakan informasi yang anda sediakan untuk menjawab permintaan anda tentang tambahan informasi, untuk menghubungi anda, jika perlu, untuk mengurus keanggotaan anda atau untuk tujuan administrasi lainnya. Kami mungkin juga memakai informasi anda untuk menyelesaikan perselisihan, untuk memecahkan masalah, untuk melaksanakan perjanjian diantara kita, atau untuk tujuan pemasaran. Sebagai tambahan, untuk transaksi tertentu, sistem kami mungkin menggunakan perincian transaksi anda untuk mengotomasi dan melancarkan transaksi anda dengan memeriksa kelengkapan data elektronik, menyediakan fasilitas pelaporan, dan mengirimkan data dari formulir sebelumnya ke transaksi yang sekarang sedang dilangsungkan.
                        Kami juga mungkin menggunakan informasi yang anda sediakan untuk inisiatip surat-menyurat tertentu. Sebagai contoh, anda mungkin kadang-kadang menerima undangan untuk menjawab survei atau mencoba produk dan layanan baru dari Indonetwork. Masukan anda membantu kami mengembangkan produk dan layanan baru berdasarkan kebutuhan anda.</p>
                        <p>
                        Anda selalu diberi pilihan tentan menerima surat-menyurat, survei atau informasi tentang produk dan layanan dari kami. Setiap e-mail yang anda terima dilengkapi pilihan untuk "Berhenti Berlangganan". Sebagai anggota yang terdaftar, anda dapat juga memberitahu kami jenis e-mail yang mana yang anda ingin terima dengan memperbarui halaman surat-menyurat anda.
                        </p>
                        			</li>

									</ul>
								
                                </div>
                            </div>
 


       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Pembetulan dari ketidaktelitian</a></h4><br>
								<ul> 
									<li>
						<p> Kami menyediakan jalan pantas dan praktis kepada anda untuk mengenali dan membetulkan segala ketidaktelitian atau untuk memperbarui informasi yang anda berikan. Anggota kami yang telah menyediakan informasi di situs web kami dapat menggunakan sistem pembaruan otomatis yang sesuai (bila ada) untuk membetulkan atau memperbarui atau menghubungi bagian Layanan Pelanggan kami di support@indonetwork.co.id.</p> 
									</li>

									</ul>
								
                                </div>
                            </div>


                                   <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Indonetwork menghormati privasi anda</a></h4><br>
								<ul> 
									<li>
						<p>Kami tidak akan menjual, memperdagangkan, atau menyewakan informasi yang dapat mengenali pemakai kami secara pribadi ke pihak lain, tanpa ijin pemakai kami.
                        Kami, bagaimanapun juga, membagikan informasi tertentu tentang pemakain kami kepada pemasang iklan, tetapi hanya secara keseluruhan, seperti XX% dari pengunjung situs adalah dari Asia. Hal ini memungkinkan kami untuk tak henti-hentinya membangun database penawaran dagang dan perusahaan yang besar, memberi kepada anda pilihan yang lebih luas dalam mencari atau menyediakan produk.</p> 
                        <p>
                        Kami juga menyimpan hak untuk memperlihatkan informasi pemakai pada kasus khusus, seperti, ketika kami mempunyai alasan pasti bahwa memperlihatkan itu perlu untuk mengenali, menghubungkan atau memperkarakan terhadap seseorang yang mungkin melanggar (atau yang mengancam untuk melanggar) atau sebaliknya yang mungkin menyebabkan kerugian atau gangguan (baik disengaja atau tidak disengaja), nama kami, hak-hak, hak milik, atau berhubungan dengan situs web anggota, atau siapapun juga yang dapat dirugikan dengan kegiatan tersebut. Kami juga berhak untuk memperlihatkan, tanpa memberitahukan kepada anda, informasi pribadi sebagai jawaban atas panggilan tertulis untuk menghadap sidang pengadilan atau perintah hukum lainnya atau saat kami yakin dengan sejujur-jujurnya bahwa kegiatan memperlihatkan itu diperlukan oleh hukum, peraturan atau keperluan masuk bursa, atau dengan pertukaran saham/sekuritas, pemerintahan atau peraturan dari pihak yang berwenang.
                        </p>
									</li>

									</ul>
								
                                </div>
                            </div>



                                   <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Pengumpulan informasi</a></h4><br>
								<ul> 
									<li>
						<p>Saat anda mengunjungi situs web kami, kami tidak mengambil informasi yang dapat mengenali anda secara pribadi kecuali jika anda secara khusus dan dengan sengaja menyediakannya. Sebagai contoh, sementara banyak tempat di situs web kami bebas untuk semua pengujung, kami memerlukan pendaftaran untuk beberapa layanan seperti Menu Anggota. Jika anda memutuskan mendaftar untuk layanan ini, atau jika anda meminta informasi dari kami, anda akan diminta menyediakan informasi tertentu dan secara terperinci, termasuk nama anda, perusahaan, jabatan, negara, dan alamat e-mail. Informasi yang anda sediakan menolong kami untuk membuat isi yang sesuai dengan anda.
                        Sistem kami juga mencatat beberapa informasi dasar dan umum tentang komputer anda, termasuk juga:</p> <p>
                        <ul>
                            <li>Alamat IP (tanda tangan komputer anda yang unik)</li>
                            <li>Sistem Operasi (contoh: Windows NT)</li>
                            <li>Piranti Lunak browser (contoh: Netscape Navigator)</li>
                        </ul>
                        </p>
                        <p>
                        Kami menggunakan informasi ini yaitu tentang komputer anda untuk melakukan serangkaian pemeliharaan situs web dan menghasilkan berbagai kumpulan laporan untuk analisa bagian dalam, penelitian, dan tujuan pengamatan, maka sebagai bantuan bagi kami membangun dan meningkatkan situs web kami dan layanan untuk pemakai kami.
                        </p><p>
                        Penyedia layanan oleh pihak ketiga
                        Anda mungkin memperhatikan pada beberapa layanan yang disediakan di situs kami bertuliskan "Ditenagai oleh" atau "Disediakan oleh" penyedia layanan teknologi atau berita dari pihak ketiga. Kami menyewa pihak ketiga ini untuk menolong kami memberi anda nilai dan layanan yang lebih baik. Untuk dapat memakai dan menggunakan layanan tersebut secara penuh, anda diperlukan untuk mendaftar ke mereka atau paling tidak menyediakan informasi dan data tertentu. Agar bisa menyediakan kepada anda dengan layanan seperti yang dibicarakan, informasi dan data itu mungkin harus disediakan ke pihak ketiga, yang kemudian mungkin memroses atau memperbarui informasi dan data itu dan mengirim kembali ke kami. Kami sangat selektif dalam memilih penyedia layanan pihak ketiga ini, dan mereka diijinkan menggunakan informasi dan data anda hanya untuk tujuan dan dalam hubungan dengan menyediakan layanan tersebut dimana kami telah mengadakan perjanjian dengan mereka untuk menyediakan layanan tersebut. 
                        </p><p>
                        Pemberitahuan Penting Walaupun kami menganut kebiasaan standar industri untuk melindungi informasi pribadi anda dan data penting, kami tidak dapat memastikan bahwa informasi dan data tersebut tidak akan diperlihatkan dengan cara di luar yang telah dijelaskan di Kebijaksanaan Privasi ini.</p>
									</li>

									</ul>
								
                                </div>
                            </div>

</section>
                            