<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<section class="mobile static-faq">
   <h3>Kebijakan dan Privasi</h3>
	<?php 
    include ('../'.$html_path.'Kebijakan privasi.html');
   ?>
</section>
                            