

        <br>
     
        
      
         
         
          <form class="form-inline">
            <div class="input-group">
              <h3>Terima Kasih Sudah Mendaftar.</h3>
               <p>Silahkan cek e-mail untuk aktivasi akun anda.</p>
               <br>
            </div>
          </form>

        </div>
           <br>  <br>  <br>    <br>  <br>  <br>    <br>  <br>  <br>