<br>
<center><h3>Membuat Password Baru</h3></center>
<br>
<form>

	
	Nama Lengkap <br><br>
	<input type="text" placeholder="Nama lengkap anda" disabled>

	
	E-mail <br><br>
	<input type="text" placeholder="namauser@indonetwork.co.id" disabled>
	<div class="alert-small notif-form"><center>e-mail sudah terdaftar </center></div>

	Password <br><br>
	<input type="password" placeholder="password">
	Konfirmasi Password <br><br>
	<input type="password" placeholder="Ulangi password">

	<hr size="1">
	<label><div class="colfix w10"><input type="checkbox"></div><div class="colfix w90">Dengan Klik Daftar Akun, Saya Mengkonfirmasi Telah Menyetujui <a href="./?page=static&view=syarat dan ketentuan">Syarat dan Ketentuan</a>, serta <a href="./?page=static&view=kebijakan privasi">Kebijakan Privasi</a> Indonetwork</div></label>
	<div class="clear"></div>
	<hr size="1">

	<center>
		<a href="./?page=Register success" class="btn"> Buat Password </a>
	</center>
</form>

<div class="bottom-space"></div>