<br>
<center><h3>Registrasi Akun Baru</h3></center>
<br>
<form>

	
	Nama Lengkap <br><br>
	<input type="text" placeholder="Nama lengkap anda">

	
	E-mail <br><br>
	<input type="text" placeholder="email anda">
	<div class="alert-small notif-form"><center>e-mail sudah terdaftar </center></div>

	Password <br><br>
	<input type="password" placeholder="password">
	Konfirmasi Password <br><br>
	<input type="password" placeholder="Ulangi password">

	Negara <br><br>
	<select>
		<option value="">Pilih Negara..</option>
		<option value="">Albania</option>
		<option value="">Australia</option>
		<option value="">Indonesia</option>	
	</select>
	Propinsi<br><br>	
	<select>
		<option value="">Pilih Propinsi..</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
		<option value="">DKI Jakarta</option>
	</select>
	Kota <br><br>	
	<select>
		<option value="">Pilih Kota..</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
		<option value="">Jakarta Selatan</option>
	</select>
	<br><br>
	<center>Saya adalah: <br>&nbsp;<br></center>
	<div class="colfix w33"><label><input type="radio" value="1"> Penjual</label></div>
	<div class="colfix w33"><label><input type="radio" value="1"> Pembeli</label></div>
	<div class="colfix w33"><label><input type="radio" value="1"> Keduanya</label></div>

	<hr size="1">
	<label><div class="colfix w10"><input type="checkbox"></div><div class="colfix w90">Dengan Klik Daftar Akun, Saya Mengkonfirmasi Telah Menyetujui <a href="./?page=static&view=syarat dan ketentuan">Syarat dan Ketentuan</a>, serta <a href="./?page=static&view=kebijakan privasi">Kebijakan Privasi</a> Indonetwork</div></label>
	<div class="clear"></div>
	<hr size="1">

	<center>
		<a href="./?page=Register success" class="btn"> Register </a>
	<hr size="1">
	atau via:&nbsp;<br>
	<br>
	<div class="colfix w100">
         <div class="colfix w50 txtright"><a href=""><button class="btn btn-facebook" type="button"><img src="./assets/images/fb-icon.png" alt="" width="20" height="20"> Facebook</button></a></div>

          <div class="colfix w50 txtleft"><a href=""><button class="btn btn-google" type="button"><img src="./assets/images/google-icon.png" alt="" width="20" height="20"> Google</button></a></div>
    </div>
	</center>
</form>
<div class="clear"></div>
<hr size=1>
<center>
	<a href="./?page=forget password"> Lupa password? </a><br /><a href="./?page=login"> Sudah Anggota? Login </a>
</center>

<div class="bottom-space"></div>