<div class="searchbar">
	<div class="wrapper">
		<input type="text" placeholder="Apa yang anda cari?">
		<br><br>
		<div class="colfix w47">
			<select>
				<option selected>Katalog Produk</option>
				<option>Penawaran Jual</option>
				<option>Penawaran Beli</option>
				<option>Penawaran Kerjasama</option>
				<option>Perusahaan</option>
			</select>
		</div>
		<div class="colfix w05"></div>
		<div class="colfix w47">
			<select>
				<option selected>Semua Propinsi</option>
				<option>DKI Jakarta</option>
				<option>Jawa Barat</option>
				<option>terusinnn </option>
			</select>
		</div>

		<center>
			<input class="btn" type="submit" value="    Cari     ">
		</center>

	</div>
</div>
