<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<section class="mobile static-faq">
   <h3>Syarat dan Ketentuan</h3>

					
                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">  Penerimaan</a></h4><br>
								<ul> 
									<li>
								 <p>Dengan masuk dan melihat-lihat situs ini anda menerima, tanpa batasan atau kualifikasi, Syarat dan Kondisi yang dimuat di bawah ini dan semua peraturan yang berlaku. Anda mengijinkan perubahan Syarat dan Kondisi setiap saat dengan memperbarui pemasangan pesan ini. Anda setuju diikat oleh sejumlah revisi, dan anda harus secara berkala mengunjungi halaman ini untuk melihat kembali Syarat dan Kondisi terakhir.</p>
									</li>

									</ul>
								
                                </div>
                            </div>



                             <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">  Tidak ada Kewajiban</a></h4><br>
								<ul> 
									<li>
								<p>Pemakai tahu bahwa penggunaan data yang ada di Situs ini memerlukan pertimbangan dan analisa, dan pengguna menjamin dan mewakili Indonetwork bahwa memang perlu keahlian dan pertimbangan untuk menggunakan data itu.</p>
						<p>Halaman-halaman di situs ini dimuat "apa adanya" tidak dijamin baik langsung maupun tidak langsung, termasuk tanpa batasan, terhadap ketepatan atau tidak adanya pelanggaran terhadap hak milik materi, ataukah Indonetwork sudah memberikan pemberitahuan atau tidak atas kerusakan yang terjadi. Pengguna menerima seluruh resiko dari ketepatan dan penggunaaan situs ini dan segala informasi yang berhubungan dengannya.</p>
						<p>Indonetwork, pemimpin, petugas, karyawan, dan penyalur tidak bertanggung jawab pada perjanjian atau lainnya secara langsung, tidak langsung, atau konsekuensi kehilangan atau kerusakan atas segala macam tekanan yang sifatnya terus menerus oleh pengguna atau secara langsung atau tidak langsung sebagai hasil dari penggunaan situs ini dan informasi yang ada didalamnya.</p>
						<p>Dalam menggunakan situs ini, pengguna dengan sengaja melepaskan segala dan semua tuntutan yang mungkin ada terhadap Indonetwork, pemimpin-pemimpinnya, petugas, karyawan, dan penyalur yang ditimbulkan dari penggunaan, dan setuju untuk mengganti kerugian kepada Indonetwork terhadap segala tindakan, acara kerja, biaya, tuntutan, permintaan, tanggung jawab, dan pengeluaran apapun yang diadakan Indonetwork sebagai hasil dari pelanggaran oleh pengguna terhadap Syarat dan Kondisi ini.</p>
									</li>

									</ul>
								
                                </div>
                            </div>



                             <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Hak Cipta dan Merek Dagang</a></h4><br>
								<ul> 
									<li>
						
						<p>Anda menerima bahwa segala sesuatu yang anda lihat atau baca di situs ini telah diberi hak cipta kecuali dengan catatan.</p>
						<p>Hak cipta atas situs ini dan file-file yang mendasarinya yang mana menjalankan fasilitas dari halaman-halaman yang merupakan milik Indonetwork dan para pemegang lisensi kecuali jika dinyatakan lain. Reproduksi atau menggunakan sebagian atau semua isi dari situs ini dalam segala bentuk (termasuk tidak terbatas pada melihat, mendownload, mencetak, dan menyimpan) dilarang kecuali sesuai dengan kondisi berikut:</p>
						<p>Anda boleh mengunduh materi yang ditampilkan di situs ini hanya untuk keperluan dalam perusahaan atau untuk penggunaan pribadi juga dengan tetap mencantumkan semua hak cipta dan pemberitahuan kepemilikan yang ada di materi-materi itu. Anda tidak boleh menyebarkan, menyiarkan, mengubah, mengirim, menggunakan kembali, mengirim kembali, atau menggunakannya dalam segala bentuk isi dari situs ini, atau menggunakan isi untuk membuat pusat informasi lain tanpa ijin tertulis dari kami.</p>
						<p>Kapan saja anda mereproduksi atau menggunakan beberapa bagian dari situs ini sesuai dengan Syarat dan Kondisi ini, anda harus menyertakan pemberitahuan ini, menyatakan Indonetwork sebagai sumber, dan mencantumkan alamat www.indonetwork.co.id.</p>
						<p>Semua gambar yang digunakan orang-orang di situs ini digunakan dengan ijin atau sesuai dengan hukum yang berlaku. Menggunakannya kembali tanpa ijin melanggar kebebasan pribadi dan hak penerbitan dari orang yang bersangkutan. Indonetwork tidak meninjau isi yang terhubung dengannya. Anda berhak untuk mereproduksi dan menggunakan materi yang terhubung itu dengan (1) tunduk dengan kondisi yang ditentukan oleh pemilik yang bersangkutan, dan (2) resiko anda sendiri.</p>
						<p>Segala sesuatu yang anda kirim ke kami dengan surat elektronik atau dengan pengiriman lainnya menjamin milik Indonetwork atau yang bergabung dengannya dan boleh digunakan untuk segala tujuan, termasuk, tapi tidak terbatas pada reproduksi, penyingkapan, pengiriman, penerbitan, penyiaran, dan pengiriman. Indonetwork bebas menggunakan ide yang terdapat di semua bentuk komunikasi yang anda kirim ke kami untuk segala tujuan apa saja termasuk, tapi tidak terbatas, pembuatan, pemabrikan, dan produk-produk pemasaran menggunakan informasi itu.</p>
						<p>Merek dagang, logo, dan merek jasa (disatukan menjadi "merek dagang") yang ditampilkan di situs ini merupakan merek sudah terdaftar dan tidak terdaftar di Indonetwork dan lainnya. Penggunaan merek dagang yang ditampilkan di situs ini sama sekali dilarang tanpa ijin tertulis.</p>
						<p>Indonetwork mempunyai hak untuk mencabut ijin ini kapan saja tanpa menyertakan pemberitahuan terlebih dahulu.</p>
									</li>

									</ul>
								
                                </div>
                            </div>




                             <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()"> Penghubungan/Penframean</a></h4><br>
								<ul> 
									<li>
					<p>Anda boleh membuat hubungan ke situs ini dengan mengabari kami secara tertulis dan setuju untuk menghapus hubungan ini secara langsung saat kami memintanya. Anda tidak bisa menghubungkan ke situs ini dengan cara bahwa hasil yang di situs ini ditampilkan pada sebuah frame pada situs anda jika pengframean ini mengaburkan isi dari situs ini yang sedang diframekan.</p>
									</li>

									</ul>
								
                                </div>
                            </div>



                                   <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Informasi Rahasia</a></h4><br>
								<ul> 
									<li>
						<p>Pengguna mengetahui bahwa informasi yang terkandung di situs ini penting dan pribadi bagi Indonetwork dan penggunanya. Pengguna setuju bahwa tidak akan memperlihatkan data, baik secara langsung atau tidak langsung ke pihak ketiga selain yang diperlukan untuk menjalankan tujuan dari persetujuan ini.</p>
									</li>

									</ul>
								
                                </div>
                            </div>


                                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Tidak ada pengesahan</a></h4><br>
								<ul> 
									<li>
						<p>Merujuk ke produk, proses, publikasi, atau jasa dari pihak ketiga dengan nama dagang, merek dagang, pembuat iklan atau lainnya tidak merupakan atau menyatakan secara tidak langsung pengesahan atau penganjuran hal-hal itu oleh Indonetwork.</p>
									</li>

									</ul>
								
                                </div>
                            </div>





                                       <div class="syarat">
								<div>
                            	<h4><a href="javascript:void()">Pemakaian yang Pantas</a></h4><br>
								<ul> 
									<li>
						<p>Para pengguna setuju untuk tidak menggunakan situs ini untuk melanggar hukum, atau untuk penyalahgunaan informasi kepemilikan atau informasi milik orang lain untuk tujuan pribadi atau lainnya, dan tidak mengirim pesan-pesan yang mengancam atau menfitnah atau jenis perusakan lainnya yang mengarah ke keamanan, bisnis, atau reputasi lainnya.</p>
						<p>Tanpa memberikan pembatasan terhadap keadaan yang terlebih dahulu diumumkan, pengguna seharusnya tidak mengerjakan hal berikut atau mengijinkan pelanggan yang diijinkan pengguna, atau pihak ketiga untuk mengerjakan hal-hal berikut ini:
						</p>
						<ul>
						<li>Mengirim atau menempatkan segala bentuk informasi yang tidak berhubungan dengan tema situs Indonetwork;</li>
						<li>Menempatkan atau mempublikasikan segala bentuk informasi yang berhubungan dengan Multi Level Marketing atau MLM atau Viral Marketing atau Money Game atau Affiliate atau Referer atau Produk Seks atau sejenisnya;</li>
						<li>Menempatkan atau mempublikasikan segala bentuk informasi yang berhubungan dengan perekrutan anggota atau sejenisnya;</li>
						<li>Menempatkan atau mempublikasikan segala bentuk informasi yang berhubungan dengan valuta asing, future index, saham, future exchange, atau sejenisnya;</li>
						<li>Menempatkan atau mempublikasikan segala bentuk informasi yang berhubungan dengan jual atau beli atau kerjasama tanah, rumah, ruko, kantor, hotel, villa, pabrik, pom bensin, gudang, atau sejenisnya;</li><li>Menempatkan atau mempublikasikan segala bentuk informasi secara berulang kali;</li>
						<li>Memperlihatkan komunikasi pribadi tanpa ijin ke kelompok selain penerima yang dimaksud, atau memperlihatkan informasi rahasia;</li>
						<li>Mengirim atau menempatkan segala bentuk informasi yang tidak sah, yang tidak benar, yang tidak jelas, yang mengancam, yang menghina, yang mencemarkan nama baik, memfitnah, cabul, porno, atau tidak senonoh termasuk terhadap segala pengiriman yang tidak terbatas yang mendapati atau mendesak tingkah laku yang akan merupakan pelanggaran kriminal, memberikan peningkatan ke tanggung jawab masyarakat, atau selain melanggar hukum lokal, propinsi, daerah, nasional, atau internasional, termasuk tanpa batasan, peraturan ekspor dan regulasinya;</li>
						<li>Mengirim atau menempatkan segala informasi atau perangkat lunak yang mana pengirim tahu bahwa itu mengandung virus, cacing, atau bagian yang membahayakan lainnya;</li>
						<li>Meng-upload, mempublikasikan, mengirim, mereproduksi, atau menyebarkan dengan segala cara, informasi, perangkat lunak, atau materi lain yang mana dilindungi dengan hak cipta atau hak milik lainnya, tanpa mendapat ijin dari pemilik hak cipta atau pemegang hak;</li>
						<li>Memalsukan informasi diri sendiri untuk diberikan ke Indonetwork atau pemakai lainnya yang berhubungan dengan penggunaan jasa di Indonetwork;</li>
						<li>Penggunaan keanggotaan bersama, termasuk tanpa batasan, mengijinkan pihak ketiga menggunakan keanggotaan dan kata sandi anda.</li>
						</ul>
						</p>
						<p>Indonetwork menganggap perbuatan diatas merupakan penyalahgunaan fasilitas dan para pemakai dari pengiriman pos yang tak dimintai atau penempatan atau keduanya, yang sering menanggung biaya. Menggunakan satu atau beberapa dari perbuatan-perbuatan ini akan membatalkan keanggotaan pelanggan.
						</p>
						<p>Dalam kebijaksanaan ini tidak ada satupun yang ditafsirkan untuk membatasi gerak Indonetwork atau perbaikan di segala bentuk dengan menghormati kegiatan-kegiatan yang telah lebih dulu, dan Indonetwork mempunyai hak untuk mengambil beberapa dan semua tambahan tindakan yang menurut pertimbangan cocok dengan menghormati beberapa kegiatan, termasuk tanpa batasan, semua hak dan perbaikan yang ada terhadap hukum atau keadilan.</p>
						<p>PembatalanIndonetwork bisa membatalkan status keanggotaan tanpa pemberitahuan pada saat terjadi pelanggaran terhadap Syarat dan Kondisi ini.</p> 
									</li>
<br>
<br>
<br>
<br>
									</ul>
								
                                </div>
                            </div>
 </section>