<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<section class="mobile static-faq">
   <h3>Syarat dan Ketentuan</h3>

		<?php 
            include ('../'.$html_path.'syarat dan ketentuan.html');
        ?>
 </section>