<br>
<center>
	<h3>Tambah Produk</h3>
</center>
<!--<hr size="1">
<h4><span class="step-number">3</span> Deskripsi Produk</h4>-->

<div class="wrapper">
	
 

	<hr size="1">
	<input type="text" placeholder="Nama Produk">
	<textarea placeholder="deskripsi produk"></textarea>
	<hr size="1">
	<center><small>Foto Produk</small></center>
<div class="tambah-foto">
        <ul class="foto-produk ui-sortable" id="list_photo_product">

            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vgj1tq79sv1suejg6cgn3_container" class="moxie-shim moxie-shim-html5" style="position: absolute;top: 0px;left: 0px;width: 0px;height: 0px;overflow: hidden;z-index: 0;"><input id="html5_1al6v2vgj1tq79sv1suejg6cgn3" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
               	<a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vgm1djqb00hok1ltiufe6_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vgm1djqb00hok1ltiufe6" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vgp1dhlaracdb1qoh13q99_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vgp1dhlaracdb1qoh13q99" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vgrkop120q14ofdba1kkmc_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vgrkop120q14ofdba1kkmc" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vgt5ds10qf1jnu1h3818v8f_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vgt5ds10qf1jnu1h3818v8f" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vgukkk1f2n5ht16db1d3ai_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vgukkk1f2n5ht16db1d3ai" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vh246f7tl1jec8t9rn8l_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vh246f7tl1jec8t9rn8l" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
            <li class="unsortable browse_image">
                <label style="position: relative;">
                <a href="#" id="browse_5" class="browses" style="position: relative; z-index: 1;">
                    <div class="frame_image imgbox">
                        <img src="./assets/images/add-photo.svg" class="img_placeholder">
                    </div>
                </a>
                <div id="html5_1al6v2vh41iln1nmsb9o1e286afo_container" class="moxie-shim moxie-shim-html5"><input id="html5_1al6v2vh41iln1nmsb9o1e286afo" type="file" style="font-size: 999px; opacity: 0; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;" multiple="" accept="image/jpeg,image/gif,image/png"></div></label>
            </li>
        </ul>
    </div>

	<hr size="1">
	<center><small>Minimum Pemesanan</small></center>
	<br>
	<div class="colfix w47">
		<input type="text" placeholder="jumlah angka" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="mb0">
	</div>
	<div class="colfix w05"></div>
	<div class="colfix w47">
		<select class="mb0">
			<option value='0'>Satuan</option>
			<option>Dus</option>
			<option>unit</option>
		</select>
	</div>

	<hr size="1">
	<center><small>Harga Produk</small></center>
	<br>
	<div class="colfix w47 txtcenter">
		Mulai dari <br><br>
		<input type="text" placeholder="Rp" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="mb0">
	</div>
	<div class="colfix w05"></div>
	<div class="colfix w47 txtcenter">
		Hingga <br><br>
		<input type="text" placeholder="Rp" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="mb0">
	</div>

	<hr size="1">
	<div class="colfix w47">
		Ditayangkan selama?
	</div>
	<div class="colfix w05"></div>
	<div class="colfix w47">
		<select class="mb0">
			<option value='0'>1 bulan</option>
			<option>2 bulan</option>
			<option>3 bulan</option>
		</select>
	</div>
	<hr size="1">
	<div class="colfix w47">
		Kategori
	</div>
	<div class="colfix w05"></div>
	<div class="colfix w47">
		<select class="mb0">
			<option value='0'>-- pilih kategori -- </option>
			<option>option 1</option>
			<option>option 2</option>
		</select>
	</div>
<hr size="1">
	<div class="colfix w47">
	</div>
	<div class="colfix w05"></div>
	<div class="colfix w47">
		<select class="mb0">
			<option value='0'>-- pilih otomotif -- </option>
			<option>option 1</option>
			<option>option 2</option>
		</select>
	</div>

	<!--<div class="colfix w47">Pilih Kategori:</div>
	<div class="colfix w47 txtright"><a href="./?page=tambah produk" class="btn smallbtn">Pilih kategori</a></div>-->
	<hr size="1">
	<br><br>
		<center>
			<div class="btn"> &nbsp; Tambahkan &nbsp; </div>
		</center>
	<br><br>

</div>
