<link rel="stylesheet" href="assets/css/static.css" type="text/css" media="all">

<section class="mobile static-faq">
   <h3>Tentang Kami</h3>

		<?php 
            include ('../'.$html_path.'Tentang kami.html');
        ?>
            

 </section>