<br>
<br>
<center><h3>Ubah Password</h3></center>
<br>
<form>
	Masukkan kata sandi lama:
	<br><br>
	<input type="text" placeholder="Password lama anda">
	Masukkan kata sandi baru:
	<br><br>
	<input type="text" placeholder="Password baru anda">

	Masukkan kata kembali sandi baru:
	<br><br>
	<input type="text" placeholder="Password baru anda">
<br>
<br>
<br>
	<center>
		<a href="" class="btn"> Ubah Kata Sandi </a>
	</center>
</form>
<div class="bottom-space"></div>