<br>  <br>  <br> <br>  <br>  <br>
<form class="form-inline">
            <div class="input-group" align="center">
            <br>
              <h4>Silahkan Cek E-mail Anda</h4>
           
              <hr size="1">
               <p>Silahkan lakukan verifikasi terhadap akun e-mail terbaru yang Anda daftarkan</p>
           
            </div>
          </form>
            <br>  <br>  <br>       <br>  <br>  <br>   <br>  <br>  <br> 