<br>
<br>
<center><h3>Ubah Harga Penawaran</h3></center>
<br>
<form>

	Ubah Harga Penawaran:
	<br><br>
	<input type="text" value="Rp 11.000.000,-">
<br>
<br>
<br>
	<center>
		<a href="" class="btn"> Simpan </a>
	</center>
</form>


<div class="bottom-space"></div>