<br>
<br>
<center><h3>Ubah Email</h3></center>
<br>
<form>

	E-mail lama:
	<br><br>
	<input type="text" disabled value="kambing@lantai21.com">
	E-mail Baru:
	<br><br>
	<input type="text" placeholder="E-mail baru">
	Password:
	<br><br>
	<input type="password" placeholder="Password">
<br>
<br>
<br>
	<center>
		<a href="" class="btn"> Ubah E-mail </a>
	</center>
</form>


<div class="bottom-space"></div>