<form>
	<input type="text" placeholder="input text">

	<select>
		<option selected>Semua Propinsi</option>
		<option>DKI Jakarta</option>
		<option>Jawa Barat</option>
		<option>terusinnn </option>
	</select>

	<textarea placeholder="text area goes here ... "></textarea>

	<label><input type="checkbox"> Hello World! </label>

	<label><input type="radio"> Hello World! </label>

	<input type="submit" value="   submit   ">
	<br>
	<button>   button   </button>
	<br>
	<span class="btn"> class=btn </span>

</form>