<form class="form-inline">

Setelah anda melakukan pembayaran, konfirmasikan melalui formulir di bawah ini:<br><br>

<div class="colfix w50">Tipe Layanan</div>
<div class="colfix w50 txtright"><b>Prioritas / SMS</b></div><br><br><br>

<div class="colfix w50">Status Langganan</div>
<div class="colfix w50 txtright"><b>Perpanjangan</b></div><br><br><br>

Tanggal Transfer<br><br>
<fieldset class="date"> 
  <div class="colfix w30">
  <select id="day_start" name="day_start"> 
    <option>1</option>       
    <option>2</option>       
    <option>3</option>       
    <option>4</option>       
    <option>5</option>       
    <option>6</option>       
    <option>7</option>       
    <option>8</option>       
    <option>9</option>       
    <option>10</option>       
    <option>11</option>       
    <option>12</option>       
    <option>13</option>       
    <option>14</option>       
    <option>15</option>       
    <option>16</option>       
    <option>17</option>       
    <option>18</option>       
    <option>19</option>       
    <option>20</option>       
    <option>21</option>       
    <option>22</option>       
    <option>23</option>       
    <option>24</option>       
    <option>25</option>       
    <option>26</option>       
    <option>27</option>       
    <option>28</option>       
    <option>29</option>       
    <option>30</option>       
    <option>31</option>       
  </select>
</div><div class="colfix w40">
  <select id="day_start" name="month_start"> 
    <option>January</option>       
    <option>February</option>       
    <option>March</option>       
    <option>April</option>       
    <option>May</option>       
    <option>June</option>       
    <option>July</option>       
    <option>August</option>       
    <option>September</option>       
    <option>October</option>       
    <option>November</option>       
    <option>December</option> 
  </select>
  </div><div class="colfix w30">
  <select id="year_start" name="year_start"> 
    <option>2009</option>       
    <option>2010</option>       
    <option>2011</option>       
    <option>2012</option>       
    <option>2013</option>       
    <option>2014</option>       
    <option>2015</option>       
    <option>2016</option>       
    <option>2017</option>       
    <option>2018</option>       
  </select>
</div>
</fieldset><br>

Jumlah Pembayaran<br><br>
<input type="text" maxlength="50" tabindex="3" placeholder="Rp.">

<div class="colfix w50">Bank Penerima</div>
<div class="colfix w50 txtright"><b>BCA / Mandiri</b></div><br><br><br>

Nomor Telepon<br><br>
<input type="text" maxlength="30" tabindex="5" placeholder="02XXXXXX">

Nama Pengirim<br><br>
<input type="text" maxlength="30" tabindex="5" placeholder="Nama Pengirim">

Bank Pengirim<br><br>
<input type="text" maxlength="30" tabindex="5" placeholder="Nama Bank Pengirim">

Bukti transaksi<br><br>
<input type="file"><br><br><br>

Keterangan Tambahan<br><br>
<textarea rows="4" type="text"></textarea>

<div class="colfix w50 txtright">
  <input type="submit" value="  Kirim  ">&nbsp;</div>
<div class="colfix w50">&nbsp;
  <a href="javascript:history.back();" class="btn btn-big">Kembali</a>
  </div>
</div>
</form>
<div class="clear"></div>