

<form class="form-inline">
            <div class="input-group" align="left">
            <br>
               <center><h3><span>Aktivasi keanggotaan Prioritas/Layanan SMS Indonetwork.</span></h3></center>
               <br>
            <p>Untuk mengaktifkan Layanan anda, harap melakukan transaksi dengan informasi dibawah ini:</p>
              <hr size="1">
  <table>
  <tr>
    <th colspan="2">Pembayaran dengan Transfer Bank BCA</th>
   
  </tr>
  <tr>
    <td>Nomor Rekening</td>
    <td><b>010-1863963</b></td>
  </tr>
   <tr>
    <td>Nama Rekening</td>
    <td><b>PT Indonetwork Mitra Utama</b></td>
  </tr>
   <tr>
    <td>Keanggotaan</td>
    <td><b>Layanan SMS</b></td>
  </tr>
   <tr>
    <td>Jumlah</td>
    <td><b>Rp 399.000,</b></td>
  </tr>
   <tr>
    <td>Bank</td>
    <td><b>BCA</b></td>
  </tr>
   <tr>
    <td>Alamat</td>
    <td><b>Jl.Buraq</b></td>
  </tr>
   <tr>
    <td>Berita</td>
    <td><b>User : budiadiliansyah</b></td>
  </tr>
  
</table>
<br><br>
<center>
<p>Setelah anda melakukan pembayaran, harap klik link <a href="http://www.indonetwork.co.id/dashboard/status/confirmation/278">Konfirmasi Pembayaran</a>. Jika ada pertanyaan atau butuh bantuan lainnya, silakan kirim email ke <a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a></p>
  <br> 
            <p>
                <a href="javascript:history.back();" class="btn btn-big">Kembali</a>
                <!--<a href="javascript:window.print();" class="btn btn-big" type="submit">Cetak Halaman Ini</a>-->
            </p>
            </center>

            </div>
          </form>
        




