<br>
<center> <h3><span>Metode Pembayaran Prioritas/Layanan SMS</span></h3></center>

      <section class="mobile">


 <div class="wrapper">
              <div class="paymentselect">
                    <ul class="paymentselect">
                        <center><h5>Pilih Metode Pembayaran</h5></center>
                        <hr size="1">
                        <li><img src="http://img.indonetwork.co.id/banks/thumbs/119x119/2016/02/01/fb8e38530b1236761eb8ccc3353a33f9.jpg" class="middle" align="middle">
                            <span>
                                <label>
                                    <input type="radio" id="bank" name="bank" value="4">Transfer ke rekening BCA Rupiah
                                </label>
                            </span>
                        </li>
                        <li><img src="http://img.indonetwork.co.id/banks/thumbs/119x119/2016/02/01/ef5d497a831de4e9d25a42e5f430cf4b.jpg" class="middle" align="middle">
                            <span>
                                <label>
                                    <input type="radio" id="bank" name="bank" value="6">Transfer ke rekening Bank Mandiri Rupiah
                                </label>
                            </span>
                        </li>

                    </ul>
         </div>
<hr size="1">
                    <center>
                        <a href="http://www.indonetwork.co.id/dashboard/status/info" class="btn"> Kembali</a>
                         <input class="btn" type="submit" value="Selanjutnya">  
                    </center>
            </div>
                    <br>

     </section>
       