
            <center><h3><span>Peningkatan Keanggotaan Indonetwork.co.id</span></h3></center>
            <section class="mobile">
            <div class="membersms">
                <h5>Selangkah Lebih Maju? Dapatkan Layanan SMS</h5>
                <p>
                </p><ul>
                    <li>Pemberitahuan Pesan/Penawaran Bisnis yang Masuk lewat SMS</li>
                    <li>Cepat memberikan Tanggapan dan Jawaban</li>
                </ul>
                <p></p>
                <h5>Layanan SMS Indonetwork memberi ketepatan waktu dalam bisnis.</h5>
                Keuntungan anda dengan fasilitas ini:
                <p>
                </p><ul>
                    <li><h5>Meningkatkan daya saing.</h5>Anda bisa segera melayani setiap pesan yang masuk. SMS akan dikirimkan pada anda selambat-lambatnya 24 jam setelah pesan masuk.</li>
                    <li><h5>Hemat waktu.</h5>Tidak perlu terus-menerus memeriksa apakah ada pesan/penawaran bisnis yang masuk. Indonetwork akan mengirimkan pemberitahuan melalui SMS setiap kali ada pesan/penawaran bisnis yang masuk.</li>
                    <li><h5>Hemat biaya.</h5>Tidak perlu melakukan koneksi internet apabila tidak ada transaksi.</li>
                </ul>
                <div class="smsprice">
                    <p>Biaya: <span>Rp. 399.000,-</span> / tahun</p>
                    <p><a href="/dashboard/status/payment/1" class="btn">Tingkatkan ke Anggota Layanan SMS</a></p>
                </div>

            </div>
            </div>
            
            <div class="membersms">
                <h5>Anggota Prioritas Yang Utama Untuk Usaha Anda. Dapatkan Layanan Prioritas</h5>
                <p>
                </p><ul>
                    <li>Posisi Atas di Direktori Perusahaan</li>
                    <li>Posisi Atas di Direktori Perdagangan</li>
                    <li>Pemberitahuan Informasi Dagang Lewat SMS</li>
                </ul>
                <p></p>
                <h5>Posisi atas, Hemat waktu, dan Bisnis semakin maju dengan fasilitas layanan Prioritas.</h5>
                Keuntungan anda dengan fasilitas ini:
                <p>
                </p><ul>
                    <li><h5>Posisi Atas di Direktori Perusahaan.</h5>Meningkatkan pangsa pasar dan jumlah pembeli (<i>buyer</i>) karena perusahaan berada di kelompok atas Direktori Perusahaan.</li>
                    <li><h5>Posisi Atas di Direktori Dagang.</h5>Produk akan lebih mudah ditemukan pembeli karena berada di depan puluhan ribuan produk lainnya dalam Direktori Dagang.</li>
                    <li><h5>Hemat waktu.</h5>Mendapatkan layanan pemberitahuan SMS bila ada pesan/penawaran bisnis.</li>
                </ul>
                <div class="priorityprice">
                    <p>Biaya: <span>Rp. 1.700.000,-</span> / tahun</p>
                    <p><a href="/dashboard/status/payment/2" class="btn">Tingkatkan ke Anggota Prioritas</a></p>
                </div>

                </div>
            </section> <!--section</-->
        </div>

      </div>