<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
				
			<div class="dashboard-detail">

				<div class="notif-bar oke">
					<div class="colfix w70">
					<strong>Akun Tender atau Alias.</strong><br>
					Untuk melakukan penawaran tender atas permintaan calon pembeli, anda dapat menggunakan akun alias ini dan identitas perusahaan anda <strong>tidak</strong> akan terlihat oleh penawar tender lain atau publik.</br>
					Namun pemilik tender akan tetap dapat melihat identitas lengkap akun dan perusahaan anda.
					</div>
				</div>
				<br></br>
				<div class="colfix w20 txttop ">
					<div class="foto-produk">
						<div>
							<label>
								<div class="imgbox"><img src="assets/data/profile-pic5.jpg"><input type="file" value="1'"></div>
								<div class="w100 txtcenter">
									<div class="btn med-btn">+ ganti foto</div>
								</div>
							</label>
						</div>
					</div>
					<br><br><br><br>
					<div class="notif-bar oke small">
						&bull; Foto ini akan menjadi icon profile<br>
						&bull; Besar file foto maximum 5 mb<br>
						&bull; Type file : JPG, GIF, PNG<br>
					</div>
			
				</div>
				
				<div class="colfix w05"></div>
				<div class="colfix w75 txttop list-display">
				
					<ul class="list formulir">

						<li>
							<div class="colfix w25">Nama alias</div>
							<div class="colfix w75">Mike Tyson</div>
						</li>
						
						<li>
							<div class="colfix w25">Nama lengkap</div>
							<div class="colfix w50"><a href="">Dadang Panther</a></div>
						</li>

						<li>
							<div class="colfix w25">Negara</div>
							<div class="colfix w50">Indonesia</div>
						</li>

						<li>
							<div class="colfix w25">Nomor Telepon fix-lined</div>
							<div class="colfix w50">+6221 88383490</div>
						</li>

						<li>
							<div class="colfix w25">Nomor Telepon Mobile</div>
							<div class="colfix w50">0849303030</div>
						</li>
																		
						<li>
							<div class="colfix w25">Jabatan di perusahaan</div>
							<div class="colfix w50">Logistik</div>
						</li>

						<li>
							<br>
							<div class="colfix w25"></div>
							<div class="colfix w75">
								<div class="colfix w33"><a href="?page=edit data akun"><input type="submit" value="  Ubah data akun  "></a></div>
							<br><br>
							</div>
						</li>

					</ul>

				</div>
				
			
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>