<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar">
						<div class="colfix w60"><ico class="alert"></ico> Alamat anda belum terverifikasi. <a href="">Verifikasi sekarang.</a></div>
						<div class="colfix w40 txtright"><div class="progress-bar-box"><div class="progress-bar" style="width:35%"></div></div> 35% </div>
						<div class="clear"></div>
					</div>

					<hr size="1"></hr>
					

				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>