<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

				<div class="colfix w100">
						<ul class="list">
		                  
		                    	<div class="colfix w75">
			                    	<ul class="list">
			                    		<li class="list-header">
											<div class="colfix w90">Info</div>
											<div class="colfix w10"></div>
										</li>
										
										<li class="chatinput">
											<div class="colfix w90">Jumlah Visitor Company</div>
											<div class="colfix w10">999999</div>
										</li>
										<li class="chatinput">
											<div class="colfix w90">Jumlah Visitor Produk</div>
											<div class="colfix w10">999999</div>
										</li>
										<li class="chatinput">
											<div class="colfix w90">Total Produk Tayang Saat Ini</div>
											<div class="colfix w10">999999</div>
										</li>
			                    	</ul>
			                    </div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>
