<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
				
			<div class="dashboard-detail">

				<div class="colfix w20 txttop">
					<div class="foto-produk">
						<div>
							<label>
								<div class="imgbox"><img src="assets/data/profile-pic2.jpg"><input type="file" value="1'"></div>
								<div class="w100 txtcenter">
									<div class="btn med-btn">+ ganti foto</div>
								</div>
							</label>
						</div>
					</div>
					<br><br><br><br>
					<div class="notif-bar oke small">
						&bull; Foto ini akan menjadi icon profile<br>
						&bull; Besar file foto maximum 5 mb<br>
						&bull; Type file : JPG, GIF, PNG<br>
					</div>
			
				</div>
				
				<div class="colfix w05"></div>
				<div class="colfix w75 txttop list-display">
				
					<ul class="list">

						<li>
							<div class="colfix w25">Username</div>
							<div class="colfix w75">PT. Coba Melempar Manggis Mangga Kudapat</div>
						</li>
						
						<li>
							<div class="colfix w25">Email untuk login</div>
							<div class="colfix w70">lemparmanggi@manggis.com <img title="membership verified" src="assets/images/verified-check.png"></div>
							<div class="colfix w25">&nbsp;</div>
							<div class="colfix w70 verified"><span class="emailverified">Email ini belum terverifikasi! <a href="" class="btn">aktifkan sekarang</a></span></div>
						</li>

						<li>
							<div class="colfix w25">Nama lengkap</div>
							<div class="colfix w50"><a href="">Dadang Panther</a></div>
						</li>

						<li>
							<div class="colfix w25">Negara</div>
							<div class="colfix w50">Indonesia</div>
						</li>

						<li>
							<div class="colfix w25">Nomor Telepon fix-lined</div>
							<div class="colfix w50">+6221 88383490</div>
						</li>

						<li>
							<div class="colfix w25">Nomor Telepon Mobile</div>
							<div class="colfix w50">0849303030</div>
						</li>
																		
						<li>
							<div class="colfix w25">Jabatan di perusahaan</div>
							<div class="colfix w50">Logistik</div>
						</li>

						<li>
							<br>
							<div class="colfix w25"></div>
							<div class="colfix w75">
								<div class="colfix w33"><a href="?page=edit data akun"><input type="submit" value="  Ubah data akun  "></a></div>
							<br><br>
							</div>
						</li>

					</ul>

				</div>
				
				<!--<hr size="1">
				
				<div class="split-2">
					<div>
						
						<ul class="list list-display">
							<li>
								<div class="colfix w15 big line13 txtcenter">Alamat</div>		
								<div class="colfix w70">
									<div class="colfix w33">
										<strong>Alamat 01</strong><br>
										Jl. Mertua Bukit Sederhana I/28<br>
										Pasang Senggigi<br>
										Semarang<br>
										Jawa Tengah
									</div>
									<div class="colfix w33">
										<strong>Alamat 02</strong><br>
										Jl. Mertua Bukit Sederhana I/28<br>
										Pasang Senggigi<br>
										Semarang<br>
										Jawa Tengah
									</div>
									<div class="colfix w33">
										<strong>Alamat 03</strong><br>
										Jl. Mertua Bukit Sederhana I/28<br>
										Pasang Senggigi<br>
										Semarang<br>
										Jawa Tengah
									</div>
									<div class="colfix w33">
										<strong>Alamat 04</strong><br>
										Jl. Mertua Bukit Sederhana I/28<br>
										Pasang Senggigi<br>
										Semarang<br>
										Jawa Tengah
									</div>
									<div class="colfix w33">
										<strong>Alamat 05</strong><br>
										Jl. Mertua Bukit Sederhana I/28<br>
										Pasang Senggigi<br>
										Semarang<br>
										Jawa Tengah
									</div>
								</div>
								<div class="colfix w15"><a href="?page=edit data akun#alamat"><input type="submit" value="  Ubah alamat  "></a></div>
								
							</li>							
							<br>
							<li>
								<div class="colfix w15 big line13 txtcenter">Rekening Bank</div>		
								<div class="colfix w70">
									<div class="colfix w33">
										<strong>Bank 01</strong><br>
										BCA <br>
										an. Thor Clark Kent<br>
										No. Rek 029583905390<br>
									</div>
									<div class="colfix w33">
										<strong>Bank 02</strong><br>
										BCA <br>
										an. Thor Clark Kent<br>
										No. Rek 029583905390<br>
									</div>
									<div class="colfix w33">
										<strong>Bank 03</strong><br>
										BCA <br>
										an. Thor Clark Kent<br>
										No. Rek 029583905390<br>
									</div>
									<div class="colfix w33">
										<strong>Bank 04</strong><br>
										BCA <br>
										an. Thor Clark Kent<br>
										No. Rek 029583905390<br>
									</div>
									<div class="colfix w33">
										<strong>Bank 05</strong><br>
										BCA <br>
										an. Thor Clark Kent<br>
										No. Rek 029583905390<br>
									</div>
								</div>
								<div class="colfix w15"><a href="?page=edit data akun#rekening"><input type="submit" value="Ubah Rekening"></a></div>
								
							</li>							

						</ul>
					</div>					
					
				</div>-->
			
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>