<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<!--<div class="notif-bar oke">
						<div class="colfix w100">Data yang anda isi akan menjadi acuan dalam verifikasi bisnis anda.</div>
					</div>-->
					
					<div class="colfix w20 preinput">
						<div class="foto-produk">
							<div>
								<label>
									<div class="imgbox"><img src="assets/data/foto1.jpg"><input type="file" value="1'"></div>
									<div class="w100 txtcenter">
										<div class="btn med-btn">+ ganti foto</div>
									</div>
								</label>
							</div>
						</div>
						<br><br><br><br>
						<div class="notif-bar oke small">
							&bull; Foto ini akan menjadi icon profile<br>
							&bull; Besar file foto maximum 5 mb<br>
							&bull; Type file : JPG, GIF, PNG<br>
						</div>
				
					</div>
					
					<div class="colfix w05"></div>
					<div class="colfix w75 preinput">
					
						<ul class="list list-display">

							<li>
								<div class="colfix w25">Nama perusahaan</div>
								<div class="colfix w75">PT. Coba Melempar Manggis Mangga Kudapat</div>
							</li>
							
							<li>
								<div class="colfix w25">Alamat URL situs anda</div>
								<div class="colfix w50"><a href="./page=toko">http://manggis-mangga.indonetwork.co.id</a></div>
							</li>

							<li>
								<div class="colfix w25 preinput">Deskripsi Perusahaan (ID)</div>
								<div class="colfix w75"><?php echo $lipsum; ?></div>
								<br></br>
								<div class="colfix w25 preinput">Company description (EN)</div>
								<div class="colfix w75"><?php echo $lipsum; ?></div>
							</li>

							<li>
								<div class="colfix w25">Website resmi perusahaan</div>
								<div class="colfix w50"><a href="">www.manggis-mangga.com</a></div>
							</li>


							<li>
								<div class="colfix w25">Jumlah Karyawan</div>
								<div class="colfix w50">1000</div>
							</li>

							<li>
								<div class="colfix w25">Negara</div>
								<div class="colfix w50">Indonesia</div>
							</li>

							<li>
								<div class="colfix w25">Propinsi</div>
								<div class="colfix w50">Jawa Barat</div>
							</li>

							<li>
								<div class="colfix w25">Kota</div>
								<div class="colfix w50">Garut</div>
							</li>

							<li>
								<div class="colfix w25 preinput">Alamat lengkap</div>
								<div class="colfix w75">Jl. Arjuna II / 34 RT.03/RW.11 <br>Tarogong</br></div>
							</li>

							<li>
								<div class="colfix w25">Kode Pos</div>
								<div class="colfix w50">40333</div>
							</li>

							<li>
								<div class="colfix w25">Nomor Telepon Mobile</div>
								<div class="colfix w50">0849303030</div>
							</li>
									
							<li>
								<div class="colfix w25 preinput">Foto Perusahaan</div>
								<div class="colfix w75">
									<ul class="foto-dataComp">
											<?php
											for ($i=1; $i<=5; $i++) {
												echo '
												<li>
												<label>
												<div class="imgbox"><img src="assets/data/profile-pic3.jpg">
												
												</label>
												</div>
												</li>';
											}
											?>
									</ul>
								</div>
                   			 </li>

							<li>
								<br>
								<div class="colfix w25"></div>
								<div class="colfix w75">
									<div class="colfix w33"><a href="?page=edit data perusahaan"><input type="submit" value="  Ubah data perusahaan  "></input></a></div>
								<br><br>
								</div>
							</li>

						</ul>

					</div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>