<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					
					<div class="notif-bar oke">
						<div class="colfix w70 bigger">Nomor Permintaan : <strong>QUO-12345-695-2111</strong></div>
						<div class="colfix w30 txtright">
							<form>
								Nilai Permintaan ini <strong>*****</strong>
							</form>
						</div>
						<hr size="1">
						<div class="colfix w70">
						<strong>Detail permintaan yang telah anda kirimkan.</strong><br>
						Anda dapat memilih vendor yang anda inginkan dan lanjutkan kepada proses transaksi.
						</div>

					</div>

					<div class="header-pesan list-display">
						<ul class="list quotation">
							<li class="list-header  txtcenter">
								<div class="colfix w10"></div>
								<div class="colfix w50">Nama Produk</div>
								<div class="colfix w10">Jumlah</div>
								<div class="colfix w05"></div>
								<div class="colfix w15">Budget</div>
								<div class="colfix w10">Respon</div>
							</li>
							<li>
								<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto11.jpg"></div></div>
								<div class="colfix w50">
									<div class="judul-item"><strong><?php echo $lipsum; ?></strong></div>
								</div>
								<div class="colfix w10"><input type="text" maxlength="6" disabled value="1000" placeholder="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class=" txtcenter" ></div>
								<div class="colfix w05">buah</div>
								<div class="colfix w15 txtright"><span class="harga">700.000</span></div>
								<div class="colfix w10 txtcenter"><strong>7</strong></div>
								<hr size="1">
								<div class="colfix w10 preinput">Deskripsi</div>
								<div class="colfix w80">
									<div class="darkgrey"><?php echo $lipsum.$lipsum.$lipsum; ?></div>
								</div>
								
								<hr size="1">
								<div class="colfix w10">Masa tayang</div>
								<div class="colfix w10 txtright"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
								<div class="colfix w05 txtcenter">s/d</div>
								<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
								
								<hr size="1">
								<div class="colfix w100 txtcenter"><a href="?page=kirim permintaan"><input type="submit" value="     edit     "></a> &nbsp; &nbsp; <input type="submit" value="   hapus   "></div>
							</li>

						</ul>
						
					</div>
					
					<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w20">Vendor</div>
							<div class="colfix w25 txtcenter">Nilai vendor</div>
							<div class="colfix w20">Penawaran Harga</div>
							<div class="colfix w15"></div>
						</li>
					
						<li class="unread">
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w20">
								<a href="./?page=profile">PT. Puyeng Pusyink Lieur</a>
								<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span>
							</div>
							<div class="colfix w10 txtright">
								rating <br>
								transaksi
							</div>
							<div class="colfix w15">
								7.8 / <strong>104</strong> orang <br>
								35/<strong>104</strong>
							</div>
							<div class="colfix w15 txtright"><span class="harga">690.000</span></div>
							<div class="colfix w20 txtright"><a href="?page=transaksi permintaan"><span class="btn">detail</span></a><a href="?page=transaksi permintaan"><span class="btn">Pilih vendor</span></a></div>
							
							<div class="deskripsi">
								<div class="colfix w20"></div>
								<div class="colfix w70"><?php echo $lipsum.$lipsum.$lipsum; ?></div>
							</div>
						</li>

						<?php
						for ($x = 1; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w20">'.
						'		<a href="./?page=profile">PT.'.$x.$x.$x.' Puyeng Pusyink Lieur</a>'.
						'		<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span>'.
						'	</div>'.
						'	<div class="colfix w10 txtright">'.
						'		rating <br>'.
						'		transaksi'.
						'	</div>'.
						'	<div class="colfix w15">'.
						'		7.8 / <strong>104</strong> orang <br>'.
						'		35/<strong>104</strong>'.
						'	</div>'.
						'	<div class="colfix w15 txtright"><span class="harga">6'.$x.'0.000</span></div>'.
						'	<div class="colfix w20 txtright"><a href="?page=detail permintaan"><span class="btn">detail</span></a> <a href="?page=detail permintaan"><span class="btn">Pilih vendor</span></a></div>'.
						'	'.
						'	<div class="deskripsi">'.
						'		<div class="colfix w20"></div>'.
						'		<div class="colfix w70">'.$lipsum.$lipsum.$lipsum.'</div>'.
						'	</div>'.
						'</li>';

						}
						?>
						
					</ul>
					<br></br>
					<?php include ($html_path.'toolbar.html'); ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>