<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					
					<div class="notif-bar oke">
						<div class="colfix w70 bigger">Nomor Tender : <strong>QUO-12345-695-2111</strong></div>
						<div class="colfix w30 txtright">
							<form>
								Nilai Permintaan ini <strong>*****</strong>
							</form>
						</div>
					</div>

					<div class="header-pesan list-display">
						<ul class="list quotation">
							<li>
								<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
								<div class="colfix w10">Pengirim</div>
								<div class="colfix w06"><div class="imgbox imgprofile"><img src="assets/data/foto2.jpg"></div></div>
								<div class="colfix w50"><a href="?page=profil">PT. Bakso Pak Kumis Cabang Bintaro</a><br><span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span></div>
								<div class="colfix w20"></div>
							</li>
							<li class="list-header  txtcenter">
								<div class="colfix w10"></div>
								<div class="colfix w50">Nama Produk</div>
								<div class="colfix w10">Jumlah</div>
								<div class="colfix w05"></div>
								<div class="colfix w15">Budget</div>
								<div class="colfix w10">Respon</div>
							</li>
							<li>
								<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto11.jpg"></div></div>
								<div class="colfix w50">
									<div class="judul-item"><strong><?php echo $lipsum; ?></strong></div>
								</div>
								<div class="colfix w10"><input type="text" maxlength="6" disabled value="1000" placeholder="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class=" txtcenter" ></div>
								<div class="colfix w05">buah</div>
								<div class="colfix w15 txtright"><span class="harga">700.000</span></div>
								<div class="colfix w10 txtcenter"><strong>7</strong></div>
								<hr size="1">
								<div class="colfix w10 preinput">Deskripsi</div>
								<div class="colfix w80">
									<div class="darkgrey"><?php echo $lipsum.$lipsum.$lipsum; ?></div>
								</div>
								
								<hr size="1">
								<div class="colfix w10">Masa tayang</div>
								<div class="colfix w10 txtright"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
								<div class="colfix w05 txtcenter">s/d</div>
								<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							
							</li>

						</ul>
						
					</div>

					
					<ul class=" list-display list chatbox quotation">
						<li class="">
							<form method="post" action="?page=penawaran tender">
							<div class="colfix w10 preinput"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10 preinput"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>
							<div class="colfix w30">
								<input type="text" maxlength="12" placeholder="Rp" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="">
								<div class="notif-bar oke smaller">Tulis dalam format angka.</div>
							</div>
							<br>
							<hr size="1">
								<div class="colfix w10"></div>
								<div class="colfix w10">Biaya kirim</div>
								<div class="colfix w30">
									<select >
										<option>JNE YES</option>
										<option>JNE REG</option>
										<option>TIKI</option>
										<option>PT POS Indonesia</option>
										<option>Wahana</option>
										<option>International Post</option>
										<option>DHL</option>
										<option>FedEx</option>
									</select>
								</div>
							
								<div class="colfix w30"><input type="text" maxlength="12" placeholder="Rp" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class=""></div>
								<br>
								<div class="colfix w10"></div>
								<div class="colfix w10 preinput">Penjelasan penawaran</div>
								<div class="colfix w60">
									<textarea ></textarea>
									<div class="notif-bar smaller"><strong>PENTING!</strong> Harap tidak menginformasikan <strong>nomor kontak, e-mail, atau password</strong> Anda kepada siapapun dan <strong>TIDAK membuka link atau tautan</strong> apapun yang mengatasnamakan <strong>indonetwork</strong> karena kami tidak pernah memberikan promo/hadiah apapun tanpa informasi resmi.</div>
								</div>
								<br>
								<div class="colfix w20"></div>
								<div class="colfix w60">
									<ul class="foto-produk">
										<?php
										for ($i=1; $i<=4; $i++) {
											echo '<li><label><div class="imgbox"><img src="assets/images/add-photo.svg"><input type="file" value="'.$i.'"></label></div></li>';
										}
										?>
									</ul>
								</div>
								<br>
								<div class="colfix w20"></div>
								<div class="colfix w15 txtcenter"><input type="submit" value="  Kirim Penawaran  "></div>
								<br></br>
							</form>
						</li>
					</ul>
					
					<ul class="list quotation">
					
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w20">Vendor</div>
							<div class="colfix w25 txtcenter">Nilai vendor</div>
							<div class="colfix w20">Penawaran Harga</div>
							<div class="colfix w15"></div>
						</li>

						<?php
						for ($x = 2; $x <= 7; $x++) {
						echo ''.
						'<li class="chatinput">'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w20">'.
						'		<a href="./?page=profile">PT. Puyeng Pusyink Lieur</a>'.
						'		<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span>'.
						'	</div>'.
						'	<div class="colfix w10 txtright">'.
						'		rating <br>'.
						'		transaksi'.
						'	</div>'.
						'	<div class="colfix w15">'.
						'		7.8 / <strong>104</strong> orang <br>'.
						'		35/<strong>104</strong>'.
						'	</div>'.
						'	<div class="colfix w20"><span class="harga">6XX.XXX</span></div>'.
						'	<div class="colfix w15 txtright"></div>'.
						'	'.
						'	<div class="deskripsi">'.
						'		<div class="colfix w20"></div>'.
						'		<div class="colfix w70">'.$lipsum.$lipsum.$lipsum.'</div>'.
						'	</div>'.
						'</li>';

						}
						?>
						
					</ul>
					<br></br>
					<?php include ($html_path.'toolbar.html'); ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>