<div class="dummy-page">
	<div class="dummy-nav">&laquo;</div>
	<ul>
		<li><a href="./"><strong>home indonetwork</strong></a></li>
		<li>&nbsp;</li>
		<li><a href="?page=tambah produk">Tambah produk</a></li>
		<li><a href="?page=penawaran">Penawaran</a></li>
		<li><a href="?page=detail penawaran">Detail Penawaran</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=penawaran tender">Penawaran tender </a></li>
		<li><a href="?page=detail penawaran tender">Detail Penawaran tender </a></li>
		<li>&nbsp;</li>
		<li><a href="?page=kirim permintaan">Kirim Permintaan</a></li>
		<li><a href="?page=permintaan">Permintaan</a></li>
		<li><a href="?page=detail permintaan">Detail Permintaan</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=pesan permintaan">Pesan Permintaan</a></li>
		<li><a href="?page=pesan penawaran">Pesan Penawaran</a></li>
		<li><a href="?page=detail quotation selesai">Detail Quotation Selesai</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=produk">Produk</a></li>
		<li><a href="?page=produk favorit">Produk Favorit</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=transaksi beli">Transaksi Beli </a></li>
		<li><a href="?page=detail transaksi beli">detail transaksi beli</a></li>
		<li><a href="?page=transaksi jual">Transaksi jual </a></li>
		<li><a href="?page=detail transaksi jual">detail transaksi jual</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=metode pembayaran">Metode Pembayaran Poin</a></li>
		<li><a href="?page=instruction buy fiture">Instruksi Pembayaran Poin</a></li>
		<li><a href="?page=konfirmasi top up poin">Instruksi Pembayaran Poin</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=rekening online">Rekening online</a></li>
		<li><a href="?page=tagihan">Tagihan</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=pesan">Pesan/inbox</a></li>
		<li><a href="?page=isi pesan">Isi pesan</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=rating">rating</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=data perusahaan">data perusahaan</a></li>
		<li><a href="?page=ubah email password">Ubah Email &amp; Password</a><br></li>
		
		<li><a href="?page=data akun">data akun</a></li>
		<li><a href="?page=edit data akun">edit data akun</a></li>
		<li><a href="?page=privasi dan notifikasi">privasi &amp; notifikasi</a><br></li>
		<li>&nbsp;</li>
		<li><a href="?page=info status free">info status free</a></li>
		<li><a href="?page=info status">info status paid</a></li>
		<li><a href="./step.php?page=upgrade step02">upgrade step 02</a></li>
		<li><a href="./step.php?page=upgrade step03">upgrade step 03</a></li>
		<li><a href="./step.php?page=upgrade step04">upgrade step 04</a></li>
		<li><a href="./step.php?page=upgrade step05">upgrade step 05</a></li>
		<li><a href="?page=upgrade step success">upgrade step success</a></li>
		<li>&nbsp;</li>

		<li><a href="?page=verifikasi alamat">verifikasi</a></li>
		<li><a href="?page=form enter kode">form enter kode</a></li>
		<li><a href="?page=form verifikasi alamat">form verifikasi alamat</a></li>
		<li><a href="?page=verifikasi thankyou">verifikasi terima kasih</a></li>
		<li><a href="?page=verifikasi berhasil">verifikasi berhasil</a></li>
		<li>&nbsp;</li>
		<li><a href="?page=UI elements">UI elements</a></li>

	</ul>
</div>