<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w100">Data yang anda isi akan menjadi acuan bisnis anda.</div>
					</div>
					
					<div class="colfix w20 preinput">
					<br>
						<div ><br></div>
						
						<div class="foto-produk">
							<div>
								<label>
									<div class="imgbox"><img src="assets/images/add-photo.svg"><input type="file" value="1'"></div>
									<div class="w100 txtcenter">
										<div class="btn med-btn">+ ganti foto</div>
									</div>
								</label>
							</div>
						</div>
						<br><br><br><br>
						<div class="notif-bar oke small">
							&bull; Foto ini akan menjadi icon profile<br>
							&bull; Besar file foto maximum 5 mb<br>
							&bull; Type file : JPG, GIF, PNG<br>
						</div>
				
					</div>
					
					<div class="colfix w05"></div>
					<div class="colfix w75 preinput">
					
						
						
						<ul class="list formulir">
									<h3>Kelompok Produk</h3>
								<li>
								<div class="colfix w25">Parent Group Id </div>
								<div class="colfix w75">
									<select id="" name="" data-selected="">
									<option value="">-</option>
									</select>
								</div>
							</li>
							
							<li>
								<div class="colfix w25 preinput">Nama Kelompok Produk</div>
								<div class="colfix w75"><input type="text" maxlength="30" tabindex="1" placeholder=""><div class="notif-bar oke smaller">Nama Kelompok Produk Tidak Boleh Kosong</div></div>
								<br />
								<div class="colfix w25"> </div>
								<div class="colfix w75">
								</div>
							</li>
	
							<li>
								<div class="colfix w25 preinput">Deskripsi</div>
								<div class="colfix w75">
									<textarea tabindex="11" placeholder="Deskripsi.."></textarea>
									<div class="notif-bar oke smaller">Jelaskan dengan detil dan lengkap sehingga memudahkan calon pembeli anda untuk mengenali perusahaan anda. Deskripsi yang lengkap berguna untuk mesin pencarian.</div>
								</div>
							
							</li>
														
							<!--<li>
								<div class="colfix w25"></div>
								
								<div class="colfix w05"><label><input type="checkbox"></div>
								<div class="colfix w60">
									 Anda telah mengetahui dan menyetujui semua <a href="./?page=static&view=syarat dan ketentuan">syarat dan ketentuan</a> yang berlaku di <strong>indonetwork.com</strong></label>
								</div>
								
							</li>-->
							
							<li>
								<br>
								<div class="colfix w25"></div>
								<div class="colfix w75">
									<div class="colfix w33"><input type="submit" value="  Simpan data  "></input></div>
								<br><br>
								</div>
							</li>

						</ul>

					</div>
					<!--mulai dr sini-->
					<h4>Produk yang ada di Kelompok Produk ini: (<span id="group_rows" data-pagination="">5</span>)</h4>
					<div class="listsubproduct">
						
						<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w20">Urutan Tampil</div>
							<div class="colfix w10">Gambar</div>
							<div class="colfix w40">Judul</div>							
							<div class="colfix w30">Date</div>													
						</li>


						<li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto1.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto2.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto3.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto4.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto5.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto6.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li>					
					</ul>
					</div><br />
					<input type="button" class="" id="remove_btn" value="Keluarkan dari kelompok"><br />
					<!--mulai dr sini-->
					<h4>Produk yang ada di Kelompok Produk ini: (<span id="group_rows" data-pagination="">46</span>)</h4>
								<div class="listsubproduct">
						
						<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w20">Urutan Tampil</div>
							<div class="colfix w10">Gambar</div>
							<div class="colfix w40">Judul</div>							
							<div class="colfix w30">Date</div>													
						</li>


						<li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto1.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto2.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto3.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto4.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto5.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li><li>	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>	<div class="colfix w10" align="right"><input type="checkbox"></div>	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto6.jpg"></div></div>	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</a></div></div>	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a></div></li>					
					</ul>
					</div><br />
					<!--end-->
					<input type="button" class="" id="remove_btn" value="Tambahkan ke kelompok">
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>