<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w100">You just got lost in Brokeback Mountain. Good Luck! :)</div>
					</div><br />
					
					<div class="colfix w20 preinput">
						<div >Logo perusahaan</div>
						<br>
						<div class="foto-produk">
							<div>
								<label>
									<div class="imgbox"><img src="assets/images/add-photo.svg"><input type="file" value="1'"></div>
									<div class="w100 txtcenter">
										<div class="btn med-btn">+ ganti foto</div>
									</div>
								</label>
							</div>
						</div>
						<br><br><br><br>
						<div class="notif-bar oke small">
							&bull; Foto ini akan menjadi icon profile<br>
							&bull; Besar file foto maximum 5 mb<br>
							&bull; Type file : JPG, GIF, PNG<br>
						</div>
				
					</div>
					
					<div class="colfix w05"></div>
					<div class="colfix w75 preinput">
					
						<div >Data perusahaan</div>
						<br>
						<ul class="list formulir">

							<li>
								<div class="colfix w25 preinput">Nama perusahaan *</div>
								<div class="colfix w75"><input type="text" tabindex="1"><div class="notif-bar oke smaller">minimum 5 karakter dan maksimal 155 karakter </div></div>
							</li>
							
							<li>
								<div class="colfix w25 preinput">Alamat URL situs anda *</div>
								<div class="colfix w60"><div class="colfix w60"><input type="text" maxlength="30" tabindex="1" placeholder="perusahaan-anda"></div><div class="colfix w40 subdomain">.indonetwork.co.id</div><div class="notif-bar oke smaller">minimum 20 karakter dan maksimal 30 karakter </div></div>
							</li>

							<li>
								<div class="colfix w25 preinput">Deskripsi Perusahaan *</div>
								<div class="colfix w75">
									<textarea tabindex="11" placeholder="dalam bahasa Indonesia"></textarea>
									<div class="notif-bar oke smaller">Jelaskan perusahaan anda dengan detil dan lengkap sehingga memudahkan calon pembeli anda untuk mengenali perusahaan anda. Deskripsi yang lengkap berguna untuk mesin pencarian.</div>
								</div>
								<!--<div class="colfix w25 preinput">Company description (EN)</div>
								<div class="colfix w75">
									<textarea tabindex="11" placeholder="in english language"></textarea>
									<div class="notif-bar oke smaller">Describe your company with complete detail. It makes your prospective buyer easier to identify your company. Detailed descriptions are useful for search engines.</div>
								</div>-->
							</li>

							<li>
								<div class="colfix w25">Website Resmi Perusahaan</div>
								<div class="colfix w50"><input type="text" maxlength="30" tabindex="1" placeholder="http://www.example.com"><div class="notif-bar oke smaller">Alamat website resmi perusahaan / produk anda. </div></div>
							</li>

							<li>
								<div class="colfix w25">Negara *</div>
								<div class="colfix w50">
									<select dd_url="/static/country?key=name" name="country" id="country">
										<option value="">-</option>
										<option value="Afghanistan">Afghanistan</option><option value="Albania">Albania</option><option value="Algeria">Algeria</option><option value="American Samoa">American Samoa</option><option value="Andorra">Andorra</option><option value="Angola">Angola</option><option value="Anguilla">Anguilla</option><option value="Antarctica">Antarctica</option><option value="Antigua and Barbuda">Antigua and Barbuda</option><option value="Argentina">Argentina</option><option value="Armenia">Armenia</option><option value="Aruba">Aruba</option><option value="Australia">Australia</option><option value="Austria">Austria</option><option value="Azerbaijan">Azerbaijan</option><option value="Bahamas">Bahamas</option><option value="Bahrain">Bahrain</option><option value="Bangladesh">Bangladesh</option><option value="Barbados">Barbados</option><option value="Belarus">Belarus</option><option value="Belgium">Belgium</option><option value="Belize">Belize</option><option value="Benin">Benin</option><option value="Bermuda">Bermuda</option><option value="Bhutan">Bhutan</option><option value="Bolivia">Bolivia</option><option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option><option value="Botswana">Botswana</option><option value="Brazil">Brazil</option><option value="British Indian Ocean Territory">British Indian Ocean Territory</option><option value="British Virgin Islands">British Virgin Islands</option><option value="Brunei">Brunei</option><option value="Bulgaria">Bulgaria</option><option value="Burkina Faso">Burkina Faso</option><option value="Burundi">Burundi</option><option value="Cambodia">Cambodia</option><option value="Cameroon">Cameroon</option><option value="Canada">Canada</option><option value="Cape Verde">Cape Verde</option><option value="Cayman Islands">Cayman Islands</option><option value="Central African Republic">Central African Republic</option><option value="Chad">Chad</option><option value="Chile">Chile</option><option value="China">China</option><option value="Christmas Island">Christmas Island</option><option value="Cocos Islands">Cocos Islands</option><option value="Colombia">Colombia</option><option value="Comoros">Comoros</option><option value="Cook Islands">Cook Islands</option><option value="Costa Rica">Costa Rica</option><option value="Croatia">Croatia</option><option value="Cuba">Cuba</option><option value="Curacao">Curacao</option><option value="Cyprus">Cyprus</option><option value="Czech Republic">Czech Republic</option><option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option><option value="Denmark">Denmark</option><option value="Djibouti">Djibouti</option><option value="Dominica">Dominica</option><option value="Dominican Republic">Dominican Republic</option><option value="East Timor">East Timor</option><option value="Ecuador">Ecuador</option><option value="Egypt">Egypt</option><option value="El Salvador">El Salvador</option><option value="Equatorial Guinea">Equatorial Guinea</option><option value="Eritrea">Eritrea</option><option value="Estonia">Estonia</option><option value="Ethiopia">Ethiopia</option><option value="Falkland Islands">Falkland Islands</option><option value="Faroe Islands">Faroe Islands</option><option value="Fiji">Fiji</option><option value="Finland">Finland</option><option value="France">France</option><option value="French Polynesia">French Polynesia</option><option value="Gabon">Gabon</option><option value="Gambia">Gambia</option><option value="Georgia">Georgia</option><option value="Germany">Germany</option><option value="Ghana">Ghana</option><option value="Gibraltar">Gibraltar</option><option value="Greece">Greece</option><option value="Greenland">Greenland</option><option value="Grenada">Grenada</option><option value="Guam">Guam</option><option value="Guatemala">Guatemala</option><option value="Guernsey">Guernsey</option><option value="Guinea">Guinea</option><option value="Guinea-Bissau">Guinea-Bissau</option><option value="Guyana">Guyana</option><option value="Haiti">Haiti</option><option value="Honduras">Honduras</option><option value="Hong Kong">Hong Kong</option><option value="Hungary">Hungary</option><option value="Iceland">Iceland</option><option value="India">India</option><option value="Indonesia">Indonesia</option><option value="Iran">Iran</option><option value="Iraq">Iraq</option><option value="Ireland">Ireland</option><option value="Isle of Man">Isle of Man</option><option value="Israel">Israel</option><option value="Italy">Italy</option><option value="Ivory Coast">Ivory Coast</option><option value="Jamaica">Jamaica</option><option value="Japan">Japan</option><option value="Jersey">Jersey</option><option value="Jordan">Jordan</option><option value="Kazakhstan">Kazakhstan</option><option value="Kenya">Kenya</option><option value="Kiribati">Kiribati</option><option value="Kosovo">Kosovo</option><option value="Kuwait">Kuwait</option><option value="Kyrgyzstan">Kyrgyzstan</option><option value="Laos">Laos</option><option value="Latvia">Latvia</option><option value="Lebanon">Lebanon</option><option value="Lesotho">Lesotho</option><option value="Liberia">Liberia</option><option value="Libya">Libya</option><option value="Liechtenstein">Liechtenstein</option><option value="Lithuania">Lithuania</option><option value="Luxembourg">Luxembourg</option><option value="Macao">Macao</option><option value="Macedonia">Macedonia</option><option value="Madagascar">Madagascar</option><option value="Malawi">Malawi</option><option value="Malaysia">Malaysia</option><option value="Maldives">Maldives</option><option value="Mali">Mali</option><option value="Malta">Malta</option><option value="Marshall Islands">Marshall Islands</option><option value="Mauritania">Mauritania</option><option value="Mauritius">Mauritius</option><option value="Mayotte">Mayotte</option><option value="Mexico">Mexico</option><option value="Micronesia">Micronesia</option><option value="Moldova">Moldova</option><option value="Monaco">Monaco</option><option value="Mongolia">Mongolia</option><option value="Montenegro">Montenegro</option><option value="Montserrat">Montserrat</option><option value="Morocco">Morocco</option><option value="Mozambique">Mozambique</option><option value="Myanmar">Myanmar</option><option value="Namibia">Namibia</option><option value="Nauru">Nauru</option><option value="Nepal">Nepal</option><option value="Netherlands">Netherlands</option><option value="Netherlands Antilles">Netherlands Antilles</option><option value="New Caledonia">New Caledonia</option><option value="New Zealand">New Zealand</option><option value="Nicaragua">Nicaragua</option><option value="Niger">Niger</option><option value="Nigeria">Nigeria</option><option value="Niue">Niue</option><option value="North Korea">North Korea</option><option value="Northern Mariana Islands">Northern Mariana Islands</option><option value="Norway">Norway</option><option value="Oman">Oman</option><option value="Pakistan">Pakistan</option><option value="Palau">Palau</option><option value="Palestine">Palestine</option><option value="Panama">Panama</option><option value="Papua New Guinea">Papua New Guinea</option><option value="Paraguay">Paraguay</option><option value="Peru">Peru</option><option value="Philippines">Philippines</option><option value="Pitcairn">Pitcairn</option><option value="Poland">Poland</option><option value="Portugal">Portugal</option><option value="Puerto Rico">Puerto Rico</option><option value="Qatar">Qatar</option><option value="Republic of the Congo">Republic of the Congo</option><option value="Reunion">Reunion</option><option value="Romania">Romania</option><option value="Russia">Russia</option><option value="Rwanda">Rwanda</option><option value="Saint Barthelemy">Saint Barthelemy</option><option value="Saint Helena">Saint Helena</option><option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option><option value="Saint Lucia">Saint Lucia</option><option value="Saint Martin">Saint Martin</option><option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option><option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option><option value="Samoa">Samoa</option><option value="San Marino">San Marino</option><option value="Sao Tome and Principe">Sao Tome and Principe</option><option value="Saudi Arabia">Saudi Arabia</option><option value="Senegal">Senegal</option><option value="Serbia">Serbia</option><option value="Seychelles">Seychelles</option><option value="Sierra Leone">Sierra Leone</option><option value="Singapore">Singapore</option><option value="Sint Maarten">Sint Maarten</option><option value="Slovakia">Slovakia</option><option value="Slovenia">Slovenia</option><option value="Solomon Islands">Solomon Islands</option><option value="Somalia">Somalia</option><option value="South Africa">South Africa</option><option value="South Korea">South Korea</option><option value="South Sudan">South Sudan</option><option value="Spain">Spain</option><option value="Sri Lanka">Sri Lanka</option><option value="Sudan">Sudan</option><option value="Suriname">Suriname</option><option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option><option value="Swaziland">Swaziland</option><option value="Sweden">Sweden</option><option value="Switzerland">Switzerland</option><option value="Syria">Syria</option><option value="Taiwan">Taiwan</option><option value="Tajikistan">Tajikistan</option><option value="Tanzania">Tanzania</option><option value="Thailand">Thailand</option><option value="Togo">Togo</option><option value="Tokelau">Tokelau</option><option value="Tonga">Tonga</option><option value="Trinidad and Tobago">Trinidad and Tobago</option><option value="Tunisia">Tunisia</option><option value="Turkey">Turkey</option><option value="Turkmenistan">Turkmenistan</option><option value="Turks and Caicos Islands">Turks and Caicos Islands</option><option value="Tuvalu">Tuvalu</option><option value="U.S. Virgin Islands">U.S. Virgin Islands</option><option value="Uganda">Uganda</option><option value="Ukraine">Ukraine</option><option value="United Arab Emirates">United Arab Emirates</option><option value="United Kingdom">United Kingdom</option><option value="United States">United States</option><option value="Uruguay">Uruguay</option><option value="Uzbekistan">Uzbekistan</option><option value="Vanuatu">Vanuatu</option><option value="Vatican">Vatican</option><option value="Venezuela">Venezuela</option><option value="Vietnam">Vietnam</option><option value="Wallis and Futuna">Wallis and Futuna</option><option value="Western Sahara">Western Sahara</option><option value="Yemen">Yemen</option><option value="Zambia">Zambia</option><option value="Zimbabwe">Zimbabwe</option>
									</select>
								
								</div>
							</li>

							<li>
								<div class="colfix w25">Propinsi</div>
								<div class="colfix w50">
									<select id="province" name="province" data-selected="Jawa Barat">
									<option value="">-</option>
									<option value="Aceh">Aceh</option><option value="Bali">Bali</option><option value="Banten">Banten</option><option value="Bengkulu">Bengkulu</option><option value="Gorontalo">Gorontalo</option><option value="DKI Jakarta">DKI Jakarta</option><option value="Jambi">Jambi</option><option value="Jawa Barat">Jawa Barat</option><option value="Jawa Tengah">Jawa Tengah</option><option value="Jawa Timur">Jawa Timur</option><option value="Kalimantan Barat">Kalimantan Barat</option><option value="Kalimantan Selatan">Kalimantan Selatan</option><option value="Kalimantan Tengah">Kalimantan Tengah</option><option value="Kalimantan Timur">Kalimantan Timur</option><option value="Kalimantan Utara">Kalimantan Utara</option><option value="Kepulauan Bangka Belitung">Kepulauan Bangka Belitung</option><option value="Kepulauan Riau">Kepulauan Riau</option><option value="Lampung">Lampung</option><option value="Kepulauan Maluku">Kepulauan Maluku</option><option value="Maluku Utara">Maluku Utara</option><option value="Nusa Tenggara Barat">Nusa Tenggara Barat</option><option value="Nusa Tenggara Timur">Nusa Tenggara Timur</option><option value="Papua">Papua</option><option value="Papua Barat">Papua Barat</option><option value="Riau">Riau</option><option value="Sulawesi Barat">Sulawesi Barat</option><option value="Sulawesi Selatan">Sulawesi Selatan</option><option value="Sulawesi Tengah">Sulawesi Tengah</option><option value="Sulawesi Tenggara">Sulawesi Tenggara</option><option value="Sulawesi Utara">Sulawesi Utara</option><option value="Sumatera Barat">Sumatera Barat</option><option value="Sumatera Selatan">Sumatera Selatan</option><option value="Sumatera Utara">Sumatera Utara</option><option value="Daerah Istimewa Yogyakarta">Daerah Istimewa Yogyakarta</option></select>
								</div>
							</li>

							<li>
								<div class="colfix w25">Kota *</div>
								<div class="colfix w50"><input type="text" maxlength="30" tabindex="1" placeholder="Masukkan Kota Perusahaan Anda"><div class="notif-bar oke smaller">minimum 20 karakter dan maksimal 155 karakter </div></div>
							</li>

							<li>
								<div class="colfix w25 preinput">Alamat lengkap *</div>
								<div class="colfix w75">
									<textarea tabindex="11" placeholder=""></textarea>
									<div class="notif-bar oke smaller">Alamat ini akan digunakan sebagai alamat verifikasi bisnis anda.</div>
								</div>
							</li>

							<li>
								<div class="colfix w25">Kode Pos *</div>
								<div class="colfix w50"><input type="text" maxlength="30" tabindex="1" placeholder="Masukkan Kode Pos Perusahaan Anda"><div class="notif-bar oke smaller">minimum 20 karakter dan maksimal 155 karakter </div></div>
							</li>

							<li>
								<div class="colfix w25">Nomor Telepon Perusahaan *</div>
								<div class="colfix w50"><input type="text" maxlength="30" tabindex="1" placeholder="Masukkan No Telepon Perusahaan Anda" ><div class="notif-bar oke smaller">minimum 20 karakter dan maksimal 155 karakter </div></div>
							</li>

							<li>
								<div class="colfix w25 preinput">Foto Perusahaan</div>
								<div class="colfix w75">
									<ul class="foto-dataComp">
										<?php
										for ($i=1; $i<=5; $i++) {
											echo '
											<li>
											<label><div class="imgbox"><img src="assets/images/add-photo.svg">
											<a href="#" class="delete_image_product">×</a>

											<input type="file" value="'.$i.'"></label></div>
											</li>';
										}
										?>
									</ul>
								</div>
		                    </li>

							<!--<li>
								<div class="colfix w25"></div>
								
								<div class="colfix w05"><label><input type="checkbox"></div>
								<div class="colfix w60">
									 Anda telah mengetahui dan menyetujui semua <a href="./?page=static&view=syarat dan ketentuan">syarat dan ketentuan</a> yang berlaku di <strong>indonetwork.com</strong></label>
								</div>
								
							</li>-->
							
							<li>
								<br>
								<div class="colfix w25"></div>
								<div class="colfix w75">
									<div class="colfix w33"><input type="submit" value="  Simpan data  "></input></div>
								<br><br>
								</div>
							</li>

						</ul>

					</div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>