<div class="footer">
	<div class="footer-blank">
	</div>

	<div class="footer-content">
		<hr size="1">
		<div class="wrapper">

			<div class="colfix w100 txtcenter">
				<a href=""><ico class="facebook"></ico></a>
				<a href=""><ico class="twitter"></ico></a>
				<a href=""><ico class="youtube"></ico></a>
				<a href=""><ico class="linkedin"></ico></a>
			</div>

			<div class="">
				<ul class="footerlink txtcenter">
					<li><a href="./?page=static&view=kategori semua">Telusuri Kategori</a></li>
					<li><a href="">Syarat &amp; Ketentuan</a></li>
					<li><a href="">Kebijakan &amp; Privasi</a></li>
					<li><a href="">Tentang Kami</a></li>
					<li><a href="">Hubungi Kami</a></li>
				</ul>
			</div>

			<!--<div class="colfix w20">
				<h3>Fitur</h3>
				<ul>
					<li><a href="">Katalog Produk</a></li>
					<li><a href="">Permintaan</a></li>
					<li><a href="">Grosir</a></li>
					<li><a href=""><strong>Trade Insurance&trade;</strong></a></li>
					<li><a href="">Situs untuk usaha Anda</a></li>
				</ul>
			</div>
			<div class="colfix w20">
				<h3>Pembeli</h3>
				<ul>
					<li><a href="./?page=static&view=kategori semua">Telusuri Kategori</a></li>
					<li><a href="">Cari produk</a></li>
					<li><a href="">Kirim penawaran</a></li>
					<li><a href="">Bazaar &amp; Promo</a></li>
				</ul>
			</div>
			<div class="colfix w20">
				<h3>Penjual</h3>
				<ul>
					<li><a href="">Identitas bisnis Anda</a></li>
					<li><a href="">Verifikasi bisnis</a></li>
					<li><a href="">Mulai membuka usaha</a></li>
					<li><a href="">Bazaar &amp; Promo</a></li>
				</ul>
			</div>
			<div class="colfix w20">
				<h3>Informasi</h3>
				<ul>
					<li><a href="./?page=static&view=cara berjualan">Cara Berjualan</a></li>
					<li><a href="./?page=static&view=bantuan">Bantuan &amp; Pengaduan</a></li>
					<li><a href="./?page=static&view=syarat dan ketentuan">Syarat &amp; Ketentuan</a></li>
					<li><a href="./?page=static&view=kebijakan privasi">Kebijakan Privasi</a></li>
					<li><a href="?page=static&view=hubungi%20kami">Hubungi <strong>0804 1787 878</strong>--><!--<smallcaps><small>&bull; gratis</small></smallcaps></a></li>
				</ul>
			</div>
			<div class="colfix w20">
				<a href=""><ico class="facebook"></ico></a>
				<a href=""><ico class="twitter"></ico></a>
				<a href=""><ico class="youtube"></ico></a>
				<a href=""><ico class="linkedin"></ico></a>
				<h3>Aplikasi</h3>
				<ul>
					<li><a href="">Android</a></li>
					<li><a href="">iOS Apple</a></li>
					<li><a href="">Windows mobile</a></li>					
				</ul>
			</div>-->
			<div class="clear"></div>
			<hr size="1">
			<center>
				<ul>
					<li><a href="http://www.indonetwork.co.id/aceh">Aceh</a></li>
					<li><a href="http://www.indonetwork.co.id/bali">Bali</a></li>
					<li><a href="http://www.indonetwork.co.id/banten">Banten</a></li>
					<li><a href="http://www.indonetwork.co.id/bengkulu">Bengkulu</a></li>
					<li><a href="http://www.indonetwork.co.id/gorontalo">Gorontalo</a></li>
					<li><a href="http://www.indonetwork.co.id/dki-jakarta">DKI Jakarta</a></li>
					<li><a href="http://www.indonetwork.co.id/jambi">Jambi</a></li>
					<li><a href="http://www.indonetwork.co.id/jawa-barat">Jawa Barat</a></li>
					<li><a href="http://www.indonetwork.co.id/jawa-tengah">Jawa Tengah</a></li>
					<li><a href="http://www.indonetwork.co.id/jawa-timur">Jawa Timur</a></li>
					<li><a href="http://www.indonetwork.co.id/kalimantan-barat">Kalimantan Barat</a></li>
					<li><a href="http://www.indonetwork.co.id/kalimantan-selatan">Kalimantan Selatan</a></li>
					<li><a href="http://www.indonetwork.co.id/kalimantan-tengah">Kalimantan Tengah</a></li>
					<li><a href="http://www.indonetwork.co.id/kalimantan-timur">Kalimantan Timur</a></li>
					<li><a href="http://www.indonetwork.co.id/kalimantan-utara">Kalimantan Utara</a></li>
					<li><a href="http://www.indonetwork.co.id/kepulauan-bangka-belitung">Kepulauan Bangka Belitung</a></li>
					<li><a href="http://www.indonetwork.co.id/kepulauan-riau">Kepulauan Riau</a></li>
					<li><a href="http://www.indonetwork.co.id/lampung">Lampung</a></li>
					<li><a href="http://www.indonetwork.co.id/kepulauan-maluku">Kepulauan Maluku</a></li>
					<li><a href="http://www.indonetwork.co.id/maluku-utara">Maluku Utara</a></li>
					<li><a href="http://www.indonetwork.co.id/nusa-tenggara-barat">Nusa Tenggara Barat</a></li>
					<li><a href="http://www.indonetwork.co.id/nusa-tenggara-timur">Nusa Tenggara Timur</a></li>
					<li><a href="http://www.indonetwork.co.id/papua">Papua</a></li>
					<li><a href="http://www.indonetwork.co.id/papua-barat">Papua Barat</a></li>
					<li><a href="http://www.indonetwork.co.id/riau">Riau</a></li>
					<li><a href="http://www.indonetwork.co.id/sulawesi-barat">Sulawesi Barat</a></li>
					<li><a href="http://www.indonetwork.co.id/sulawesi-selatan">Sulawesi Selatan</a></li>
					<li><a href="http://www.indonetwork.co.id/sulawesi-tengah">Sulawesi Tengah</a></li>
					<li><a href="http://www.indonetwork.co.id/sulawesi-tenggara">Sulawesi Tenggara</a></li>
					<li><a href="http://www.indonetwork.co.id/sulawesi-utara">Sulawesi Utara</a></li>
					<li><a href="http://www.indonetwork.co.id/sumatera-barat">Sumatera Barat</a></li>
					<li><a href="http://www.indonetwork.co.id/sumatera-selatan">Sumatera Selatan</a></li>
					<li><a href="http://www.indonetwork.co.id/sumatera-utara">Sumatera Utara</a></li>
					<li><a href="http://www.indonetwork.co.id/daerah-istimewa-yogyakarta">Daerah Istimewa Yogyakarta</a></li>
				</ul>
			
			</center>
			<hr size="1">
			<center>
				&copy; 2001-2016 <strong>Indonetwork.co.id</strong>. Hak cipta dilindungi undang-undang. &bull;  e-mail <a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a>
			</center>

		</div>
	</div>
	

	<div class="engine-notif" id="engine-notif">
		<div class="fixer"></div>
		<div class="engine-text bigger">Proses Penambahan dana berhasil</div>
	</div>
	
	<a href="#top"><div class="totop"><ico class="nav-up"></ico></div></a>
	
	<!-- JS -->
	
	<script src="assets/js/executor.js?<?php echo filemtime('assets/js/executor.js'); ?>" type="text/javascript"></script>
	<?php
		if ($page_view != 'home') {
			echo '<script src="assets/js/inner.js" type="text/javascript"></script>';
		}
	?>
	
<?php include ($html_path.'dummy-page.html'); ?>

</div>

