<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<ul class="list formulir">
						<li>
							<div class="colfix w20"></div>
							<div class="colfix w80">
								<div class="colfix w75"><h3>Running Text</h3><hr size="1"></div>
								<form>
								<div class="colfix w25 preinput">Status Running Text</div>
								<div class="colfix w50"><input disabled value="Aktif"></div>
								<div class="clear"></div>
								<div class="colfix w25 preinput">Pilih Running Text</div>
								<div class="colfix w50"><select  tabindex="2" class="form-control category_product_select" name="category_product" style="margin:5px 0 5px 0; width: 80%;"><option value="">---- Pilih Running Text ----</option><option value="58|hasChild">Running Text Unik</option><option value="114|hasChild">Nama Perusahaan</option><option value="188|hasChild">Judul Produk Terakhir</option></select> <div class="notif-bar oke smaller">Pilih salah satu kategori dari pilihan di atas. </div>
								</div>
								<div class="clear"></div>


								<div class="colfix w25 preinput">Running Text Unik </div>
								<div class="colfix w50"><input type="text" placeholder="Tulis running text.." tabindex="1" ></div>
								<div class="clear"></div>


								<br>
								<div class="colfix w25"> </div>
								<div class="colfix w250"><input type="submit" value="   Aktifkan " tabindex="2"></div>
								<div class="colfix w250"><input type="submit" value="   Non Aktifkan " tabindex="2"></div>
								</form>
							</div>
						</li>
						<br>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>