<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w75">

						<div class="notif-bar oke">
							<div class="colfix w100">Data yang anda isi akan menjadi acuan dalam verifikasi bisnis anda.</div>
						</div>

						<div class="colfix w100 preinput">


						<ul class="list formulir">

							<li><div class="colfix w100"><h3>Data Alamat Perusahaan</h3></div></li>
							<li><div class="colfix w100">Untuk mengubah alamat yang ada dibawah ini, silakan klik <a href="?page=data%20perusahaan">tautan berikut</a></div></li>

							<li>
								<div class="colfix w25">Nama</div>
								<div class="colfix w50">XAMU enterprise</div>
							</li>

							<li>
								<div class="colfix w25">Alamat</div>
								<div class="colfix w50">Jl. Rungkut Madya, Ruko Grand City Regency Blok A10</div>
							</li>

							<li>
								<div class="colfix w25">Propinsi</div>
								<div class="colfix w50">
									Jawa Timur
								</div>
							</li>

							<li>
								<div class="colfix w25">Kota</div>
								<div class="colfix w50">Surabaya</div>
							</li>

							<li>
								<div class="colfix w25">Kode Pos</div>
								<div class="colfix w50">69123</div>
							</li>

							<li>
								<div class="colfix w25"></div>
								<div class="colfix w05"><label><input type="checkbox"></label></div>
								<div class="colfix w60">
									 Dengan ini saya menyatakan bahwa semua informasi diatas adalah benar dan dapat dipertanggungjawabkan
								</div>
								
							</li>

							<li>
								<br>
								<div class="colfix w25"></div>
								<div class="colfix w75">
									<div class="colfix w33"><input type="submit" value="  Verifikasi Alamat Ini  " onClick="location.href='?page=permintaan verifikasi berhasil'"></div>
								<br><br>
								</div>
							</li>

						</ul>
	                </div>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>