<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="txtcenter enterkode">
						<ul class="list">
		                    <li><div class="colfix w100">Anda belum terverifikasi, silakan masukkan kode validasi anda:</div></li>
		                    <div>
		                        <li class="txtcenter">
		                            <div class="colfix w15"><input type="text" placeholder="ZIP" maxlength="4" tabindex="1"></div>&nbsp;&nbsp;
		                            <div class="colfix w15"><input type="text" placeholder="ZIP" maxlength="4" tabindex="2"></div>&nbsp;&nbsp;
		                            <div class="colfix w15"><input type="text" placeholder="ZIP" maxlength="4" tabindex="3"></div>&nbsp;&nbsp;
		                            <div class="colfix w15"><input type="text" placeholder="ZIP" maxlength="4" tabindex="4"></div>
		                            <div class="colfix w100">
		                            	<input type="submit" value="  Submit  " onClick="location.href='?page=verifikasi berhasil'">
		                            </div>
		                        </li>
		                    </div>
		                    <li><div class="colfix w100"><p>Jika anda belum memiliki kode validasi, silakan <a href="?page=form verifikasi alamat">request</a> sekarang!</p><a href="?page=form verifikasi alamat" class="btn">Permintaan Verifikasi</a></div></li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>