<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
				
					
					<div class="mb20"></div>
					
					<div class="split-2 list-display list-normal">

						<div class="colfix w100 txttop"><center>
							<div>
								<h2>Selamat datang!</h2>
								<p>Sudah tambah informasi terbaru di akun Indonetwork Anda hari ini?<br />Ayo tambahkan informasi untuk tingkatkan transaksi jual beli! Pastikan Anda sudah “tambah” 4 hal penting di bawah untuk menyempurnakan cara promosi!</p>
							</div>
						</center>

						</div>
						<div class="clear"></div><br>

						<div class="colfix w25 txttop txtcenter">
							<div class="boxinfo">
								<div class="colfix">
									<img src="./assets/images/icons/buildings.png" width="80" /><br>
									<h3>TAMBAH info perusahaan!</h3></div>
									<div class="colfix w100 txtcenter">
										<div>Masukkan data terbaru perusahaan Anda agar mudah dikontak langsung oleh pembeli</div><br>
										<span><a href="?page=data perusahaan"><span class="btn">cek disini</span></a></span>
									</div>
								
								<br>
							</div>
						</div>

						<div class="colfix w25 txttop txtcenter">
							<div class="boxinfo">
								<div class="colfix">
									<img src="./assets/images/icons/package.png" width="80" /><br>
									<h3>TAMBAH produk!</h3></div>
									<div class="colfix w100 txtcenter">
										<div>Masukkan produk-produk terbaru untuk menambah pilihan kepada pembeli.</div><br>
										<span><a href="?page=tambah produk"><span class="btn">cek disini</span></a></span>
									</div>
								
								<br>
							</div>
						</div>

						<div class="colfix w25 txttop txtcenter">
							<div class="boxinfo">
								<div class="colfix">
									<img src="./assets/images/icons/question.png" width="80" /><br>
									<h3>TAMBAH mengerti cara berpromosi!</h3></div>
									<div class="colfix w100 txtcenter">
										<div>Jika Anda belum mengerti cara berpromosi di Indonetwork, cek cara mudahnya di halaman tutorial.</div><br>
										<span><a class="btn" href="./?page=static&view=tutorial">cek disini</a></span>
									</div>
								
								<br>
							</div>
						</div>

						<div class="colfix w25 txttop txtcenter">
							<div class="boxinfo">
								<div class="colfix">
									<img src="./assets/images/icons/list-clipboard.png" width="80" /><br>
									<h3>TAMBAH Informasi terbaru!</h3></div>
									<div class="colfix w100 txtcenter">
										<div>Cek kembali listing produk lama Anda dan masukkan informasi produk yang terkini.</div><br>
										<span><a href="?page=produk"><span class="btn">cek disini</span></a></span>
									</div>
								
								<br>
							</div>
						</div>
					
					</div>
					
				</div>
				
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

 