<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w75">
						<ul class="list">
		                    <li><div class="colfix w100"><h3>Hi, Dadang Panther</h3>Saat ini status keanggotaan anda adalah: <b>Anggota Prioritas</b></div>
		                    	<div class="colfix w100">
			                    	<ul class="list">
			                    		<li class="list-header">
											<div class="colfix w100">Info Status</div>
										</li>
										<li class="chatinput">
											<div class="colfix w40">Tanggal Berakhir Keanggotaan</div>
											<div class="colfix w40 txtright"><b><?php $now = time(); $future = date("d-m-Y", strtotime(date("d-m-Y", $now) . " + 1 year")); echo $future; ?></b></div>
							                <div class="colfix w20 txtcenter">
						                    	<a href="?page=upgrade step02" class="btn">Perpanjang Sekarang</a>
						                    </div>
										</li>
			                    	</ul>
			                    </div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>