<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100">
						<ul class="list">
		                    <li><div class="colfix w100 txtcenter"><h3>Hi, Dadang Panther</h3>Saat ini status keanggotaan anda adalah: <b>Free</b><br />
		                    Tingkatkan status keanggotaan Anda sekarang juga, dan dapatkan keuntungan dari kami sebagai anggota <b>Prioritas</b></div>
				                <div class="colfix w100" align="center">
				                	<a href="?page=upgrade step02" class="btn">Tingkatkan Sekarang</a>
				                </div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>