<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css"><link href="assets/css/print.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
					<div class="static-box">
					<div class="form-box w60 print-instruksi">
		<div class="colfix w100 judul-landing">
			<h1 class="lgoidn-pi"><img src="assets/images/logo.svg" width="150" height="50" alt="indonetwork.co.id"> <span>Pusat UKM dan Peluang Bisnis Online Terbesar di Indonesia</span> <div class="clear"></div></h1>
		<h3>Instruksi Pembayaran melalui ATM/BANK Transfer BCA</h3>
		<hr size="1"></div>
		<div class="colfix w100 deskripsi-landing">
			<dl>
				<dt>Nama Perushaan :</dt><dd><b>PT Melabu Tajuk Kesana</b></dd>
				<dt>Total Pembayaran :</dt><dd><b>Rp. 100.0000.000,-</b></dd>
				<dt>Email :</dt><dd><b>email.user@gmail.com</b></dd>
			</dl>
		</div>
		<div class="clear"></div>
		<div class="colfix w100 judul-landing2">
		<h3>Rekening Indonetwork</h3>
		<hr size="1"></div>
		<div class="clear"></div>
		<div class="colfix w100 deskripsi-landing">
			<dl>
				<dt>Transfer ke :</dt><dd><b>BCA Cabang Kuningan</b></dd>
				<dt>No. Rekening :</dt><dd><b>123 456 789 1011</b></dd>
				<dt>Atas Nama :</dt><dd><b>PT. Indonetwork Mitra Utama</b></dd>
			</dl>
		</div>
		<div class="clear"></div>
		<p class="colfix w100 txtcenter warn-blue">
			Selesaikan pembayaran sebelum <b>10 September 2016, pukul 18.30</b>
		</p>
		<div class="clear"></div>
		<div class="btn-ibf">
		<input type="submit" value="Prints Instruksi" class="w40 btn-no" onclick="myFunction()"><input type="submit" value="Selesai" class="w40">
		<script>
			function myFunction() {
			    window.print();
			}
		</script>
		</div>
		</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>
