<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<ul class="list list-display">
						<li>
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10">Pengirim</div>
							<div class="colfix w05"><div class="imgbox imgprofile"><img src="assets/data/foto2.jpg"></div></div>
							<div class="colfix w50"><a href="?page=profil">PT. Bakso Pak Kumis Cabang Bintaro</a></div>
							<div class="colfix w20"></div>
							
							<div class="colfix w10"></div>
							<div class="colfix w10 preinput">Topik</div>
							<div class="colfix w60"><?php echo $lipsum; ?></?php></div>
							<div class="colfix w20 txtright">
								<a href=""><span class="btn med-btn txtcenter">hapus pesan ini <ico class="trash"></ico> </span></a><br><br>
								<a href=""><span class="btn med-btn txtcenter">laporkan spam <ico class="trash"></ico> </span></a>
							</div>
						</li>
					</ul>
					
					<ul class="list isipesan chatbox">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w80">Pesan</div>
						</li>

						<li class="chatinput">
							<form>
							<div class="colfix w10 preinput"><span class="tgl">15/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10 preinput"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>
							<div class="colfix w66">
								<textarea maxlength="1500"></textarea>
								<div class="notif-bar smaller"><strong>PENTING!</strong> Harap tidak menginformasikan <strong>nomor kontak, e-mail, atau password</strong> Anda kepada siapapun dan <strong>TIDAK membuka link atau tautan</strong> apapun yang mengatasnamakan <strong>indonetwork</strong> karena kami tidak pernah memberikan promo/hadiah apapun tanpa informasi resmi.</div>
							</div>
							<div class="colfix w10 txtcenter"><input type="submit" value="  Kirim Pesan  "></div>
							</form>
						</li>
					
						<li class="unread">
							<div class="colfix w10"><span class="tgl">15/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w80"><?php echo $lipsum ?></div>
						</li>

						<?php
						for ($x = 4; $x >= 1; $x--) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>'.
						'	<div class="colfix w80">'.$lipsum .'</div>'.
						'</li>'.
						' '.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto2.jpg"></div></div>'.
						'	<div class="colfix w80">'.$lipsum .'</div>'.
						'</li>';

						}
						?>
						
					</ul>
					<br></br>
					<?php include ($html_path.'toolbar.html'); ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>