<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>


		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<?php include $html_path.'toolbar-produk.html'; ?>

					<div class="search-toolbar w30">
						<form method="post" action="dashboard.php?page=edit%20kelompok%20produk">

						<div class="colfix w25"><input type="submit" value="Tambah kelompok produk"></div>
						
						</form>
					</div>
					
					<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w20">Urutan Tampil</div>
							<div class="colfix w10">Gambar</div>
							<div class="colfix w40">Judul</div>
							
							<div class="colfix w30">Date</div>
						
							
						</li>




						<?php
						for ($x = 1; $x <= 6; $x++) {
						echo ''.
						'<li>'.		
						'	<div class="colfix w10"><select name="order[480914]" class="group_order" data-id="480914"><option value="1">1</option></select></div>'.
						'	<div class="colfix w10" align="right"><input type="checkbox"></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">'.$lipsum.'</a></div></div>'.											
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
					
						'	<div class="colfix w15 txtright"><a href="?page=edit kelompok produk"><span class="btn">
						Ubah</span></a><a href=""><ico class="trash"></ico></a> </div>'.
						
						''.
						'</li>';
				

						}
						?>
					
					</ul>

					<hr size="1"></hr>

					<?php include $html_path.'toolbar-produk.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>