<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100">
						<ul class="list">
		                    <li>
		                    	<div class="colfix w100 txtcenter judul-landing">
		                    		<h3>Konfirmasi Pembayaran Telah Berhasil Dikirimkan.</h3>
									<p>Kami akan segera memproses konfirmasi pembayaran Anda, jika ada pertanyaan lebih lanjut silahkan hubungi  customer support kami.</p>
								</div>
		                    </li>

	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>