<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<!--<div class="notif-bar oke">
						<div class="colfix w70">
						<strong>Daftar penawaran yang sedang berlangsung untuk produk anda.</strong><br>
						Respon anda dibutuhkan untuk melanjutkan menjadi proses transaksi.</br>
						</div>

					</div>-->
					<?php include $html_path.'toolbar-produk-permintaan.html'; ?>
					<div class="search-toolbar w30">
						<form>
						<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
						<div class="colfix w40"><input type="submit" value="Cari"></div>
						</form>
					</div>
					
					<ul class="list listpenawaran">
						<li class="list-header">
							<div class="colfix w15">Judul</div>
							<div class="colfix w15">Budget</div>
							<div class="colfix w20">Harga Penawaran</div>
							<div class="colfix w10 txtcenter">Tgl. Aktif</div>
							<div class="colfix w10 txtcenter">Berakhir</div>
							<div class="colfix w10 txtcenter">Penawar</div>
							<div class="colfix w10 txtcenter">Status</div>
							<div class="colfix w10"> </div>
						</li>
						<li class="unread">
							<div class="colfix w15"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div>
							<span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w15"><span class="harga">123.123.000.000</span></div>
							<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="low-prc" title="Anda berada di penawaran termurah."></i></div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Aktif</div>
							<div class="colfix w10 txtright"><a href="?page=pesan penawaran"><span class="btn">Detail Pesan</span></a><a id="myBtn" href="#"><span class="btn">Batalkan</span></a></div>
							
						</li>
						<li class="requestclosed">
							<div class="colfix w15"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div>
							<span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w15"><span class="harga">123.123.000.000</span></div>
							<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="low-prc" title="Anda berada di penawaran termurah."></i></div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Anda Menang</div>
							<div class="colfix w10 txtright"><a href="?page=permintaan selesai"><span class="btn">Detail Pesan</span></a></div>
							
						</li>
						<li>
							<div class="colfix w15"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div>
							<span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w15"><span class="harga">123.123.000.000</span></div>
							<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="exp-prc" title="Anda berada di penawaran termahal."></i></div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Draft</div>
							<div class="colfix w10 txtright"><a href="./?page=detail-permintaan-form"><span class="btn">Lanjutkan Penawaran</span></a><a href="#"><span class="btn">Batalkan</span></a></div>
							
						</li>
						<li class="requestclosed">
							<div class="colfix w15"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div><span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w15"><span class="harga">123.123.000.000</span></div>
							<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="eq-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Selesai</div>
							<div class="colfix w10 txtright"><a href="?page=permintaan selesai"><span class="btn">Detail Pesan</span></a></div>
							
						</li>
						<li class="requestclosed">
							<div class="colfix w15"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div><span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w15"><span class="harga">123.123.000.000</span></div>
							<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="exp-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Expired</div>
							<div class="colfix w10 txtright"><a href="?page=permintaan selesai"><span class="btn">Detail Pesan</span></a></div>
						</li>
						<li class="requestclosed">
							<div class="colfix w15"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div><span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w15"><span class="harga">123.123.000.000</span></div>
							<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="exp-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Batal</div>
							<div class="colfix w10 txtright"><a href="?page=permintaan selesai"><span class="btn">Detail Pesan</span></a></div>
						</li>
						<?php
						for ($x = 2; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w15"><div class="judul-item"><a href="./?page=detail">Aoccdrnig to rseearch at an Elingsh uinervtisy, it de</a></div><span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>'.
						'	<div class="colfix w15"><span class="harga">123.123.000.000</span></div>'.
						'	<div class="colfix w20"><span class="harga">123.123.000.000</span><i class="exp-prc"></i></div>'.
						'	<div class="colfix w10 txtcenter">26 / 05 / 2016, 11:40:09 AM</div>'.
						'	<div class="colfix w10 txtcenter">26 / 05 / 2016, 11:40:09 AM</div>'.
						'	<div class="colfix w10 txtcenter"><a href="">15</a></div>'.
						'	<div class="colfix w10 txtcenter">Aktif</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail quotation penawaran"><span class="btn">Detail Pesan</span></a><a href="#"><span class="btn">Batalkan</span></a></div>'.
						''.
						'</li>';

						}
						?>
					</ul>
					<br></br>
					<?php include $html_path.'toolbar-produk-permintaan.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
		<div id="one">
			<h2>Batalkan Penawaran</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Apa anda yakin untuk membatalkan Penawaran ini?</p>
				<h4 class="txtcenter">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaersssss</h4>
				<p class="txtcenter">Harga Penawaran: <span class="harga">124.000.000</span></p>
	    		<div class="btn-prmnt"><input type="submit" value="Ya" class="w30"><input type="submit" value="Tidak" class="w30 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
    </div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
