		<?php
		for ($x = 1; $x <= 5; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'	<div class="list-box">'
			.'		<a href="?page=detail&id='.(($y*5)+$x).'" target="detail_product" class="link_product">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="pilih">'
			.'			<a href"" class="btn">Pilih</a>'
			.'		</div>'
			.'	</div>'
			.'</div>';
			}
		?>
		
