		<?php
		for ($x = 1; $x <= 10; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'	<div class="list-box">'
			.'		<a href="./?page=detail&id='.(($y*10)+$x).'">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			.'				<div class="colfix w50">'
			.'				<span class="quantity">1000+ <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="seller-name"><a href="">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
			.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div>'
			.'	<div class="buttons-box">'
			.'		<a href="./?page=detail"><span class="btn med-btn">hapus favorit</span></a>'
			.'	</div>'
			.'</div>';
			}
		?>
		
