<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<!--<div class="notif-bar oke">
						<div class="colfix w70">
						<strong>Daftar penawaran yang sedang berlangsung untuk produk anda.</strong><br>
						Respon anda dibutuhkan untuk melanjutkan menjadi proses transaksi.</br>
						</div>

					</div>-->

					<div class="header-pesan list-display">

						<div class="detailq-penawaran">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer</h3>
						<div>
							<dl>
								<dt>Kategori:</dt><dd>Elektronik</dd>
								<dt>Tanggal:</dt><dd>02 September 2016</dd>
								<dt>Tanggal berakhir:</dt><dd>03 September 2016</dd>
								<dt>Budget:</dt><dd class="harga">23.000.000</dd>
								<dt>Penawaran termurah:</dt><dd class="harga">23.000.000 <a id="myBtn3" href="#"><span class="btn">Detail</span></a></dd>
								<dt>Penawar:</dt><dd>15</dd>
								<dt>Status:</dt><dd>Aktif</dd>
							</dl>
							<p><?php echo $lipsum; ?></p>
						</div>
					</div>
					</div>

					<div class="clear"></div><br />
					<?php include $html_path.'toolbar-produk-permintaan.html'; ?>
					<h3>List Penawar</h3>
					
					<ul class="list">
						<li class="list-header">
							<div class="colfix w30">Perusahaan</div>
							<div class="colfix w20">Deskripsi</div>
							<div class="colfix w15">Budget</div>
							<div class="colfix w15">Harga</div>
							<div class="colfix w20 txtcenter">Action</div>
						</li>
						<li>
							<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto1.jpg"></div></div>
							<div class="colfix w20"><div class="judul-item"><?php echo $lipsum; ?></div></div>
							<div class="colfix w20"><p><?php echo $lipsum; ?></p></div>
							<div class="colfix w15"><div class="price">1.750.000.000</div></div>
							<div class="colfix w15"><div class="price">710.000</div></div>
							<div class="colfix w20 btn-prmntan"><a href="?page=pesan permintaan"><span class="btn">Pesan</span></a><a id="myBtn" href="#"><span class="btn">Detail</span></a><a id="myBtn2" href="#"><span class="btn">Pilih</span></a></div>
							
						</li>
						<?php
						for ($x = 2; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w20"><div class="judul-item">'.$lipsum.'</div></div>'.
						'	<div class="colfix w20"><p>'.$lipsum.'</p></div>'.
						'	<div class="colfix w15"><div class="price">750.000</div></div>'.
						'	<div class="colfix w15"><div class="price">710.000</div></div>'.
						'	<div class="colfix w20 btn-prmntan"><a href="?page=detail quotation permintaan"><span class="btn">Pesan</span></a><a href="?page=detail quotation"><span class="btn">Detail</span></a><a href="?page=detail quotation"><span class="btn">Pilih</span></a></div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<br></br>
					<?php include $html_path.'toolbar-produk-permintaan.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
    	<div id="one">
    		<h2>Aoccdrnig to rseearch at an Elingsh uinervtisy</h2>
    		<div class="pop-box">
	    		<div class="product">
					<div class="productimg colfix w100">

						<section id="product_gallery" class="prod_gallery">

							<script type="text/javascript">
								$(function(){
									$('#product_gallery').prodGallerydetail();
								});
							</script>

							<div class="imgbox">
								<div class="preloader"><img src="assets/images/preloader.gif" /></div>
								<div class="thumbcontainer">
									<img class="img" src="assets/images/products/1.jpg" alt="nama banner" />
								</div>
							</div>

							<div class="thumbnails">

								<ul class="thumbnail-lists clearfix">
									<?php $j = 1; for($i = 1; $i <= 15; $i++) { ?>
									<li class="list">
										<a class="trigger small thumbcontainer <?php if($i == 1) { echo 'on'; } ?>" href="javascript:void(0);" rel="assets/images/products/<?php echo $i; ?>.jpg" alt="nama banner">
											<img src="assets/images/products/small/<?php echo $i; ?>.jpg" alt="nama banner" />
										</a>
									</li>
									<?php if($i >= 5 && $j == 1){ $j = 0; } } ?>
								</ul>

							</div>

						</section>

					</div>
				</div>
				<dl class="prd-popdet">
					<dt>Perusahaan</dt> <dd>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't </dd>
					<dt>Budget</dt><dd class="price">12.3000.000</dd>
					<dt>Harga</dt><dd class="price">12.3000.000</dd>
					<dt>Deskripsi</dt><dd><?php echo $lipsum; ?></dd>
				</dl>
				<div class="clear"></div>
			</div>
		</div>
		<div id="two">
			<h2>Pilih Penawar</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Apa anda yakin untuk memilih Penawar ini?</p>
				<h4 class="txtcenter">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaersssss</h4>
				<p class="txtcenter"><Strong>PT. Bintang Kurnia Abadi</Strong></p>
				<p class="txtcenter"><span class="harga">124.000.000</span></p>
	    		<div class="btn-prmnt"><input type="submit" value="Ya" class="w30"><input type="submit" value="Tidak" class="w30 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="three">
    		<h2>Aoccdrnig to rseearch at an Elingsh uinervtisyf</h2>
    		<div class="pop-box">
	    		<div class="product">
					<div class="productimg colfix w100">

						<section id="product_gallery" class="prod_gallery">

							<script type="text/javascript">
								$(function(){
									$('#product_gallery').prodGallerydetail();
								});
							</script>

							<div class="imgbox">
								<div class="preloader"><img src="assets/images/preloader.gif" /></div>
								<div class="thumbcontainer">
									<img class="img" src="assets/images/products/1.jpg" alt="nama banner" />
								</div>
							</div>

							<div class="thumbnails">

								<ul class="thumbnail-lists clearfix">
									<?php $j = 1; for($i = 1; $i <= 15; $i++) { ?>
									<li class="list">
										<a class="trigger small thumbcontainer <?php if($i == 1) { echo 'on'; } ?>" href="javascript:void(0);" rel="assets/images/products/<?php echo $i; ?>.jpg" alt="nama banner">
											<img src="assets/images/products/small/<?php echo $i; ?>.jpg" alt="nama banner" />
										</a>
									</li>
									<?php if($i >= 5 && $j == 1){ $j = 0; } } ?>
								</ul>

							</div>

						</section>

					</div>
				</div>
				<dl class="colfix w60">
					<dt>Perusahaan</dt> <dd>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't </dd>
					<dt>Budget</dt><dd class="price">12.3000.000</dd>
					<dt>Harga</dt><dd class="price">12.3000.000</dd>
					<dt>Deskripsi</dt><dd><?php echo $lipsum; ?></dd>
				</dl>
				<div class="clear"></div>
			</div>
		</div>
    </div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtn2");
var btn3 = document.getElementById("myBtn3");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    $('#two').hide();
    $('#three').hide();
    modal.style.display = "block";

}
btn2.onclick = function() {
    modal.style.display = "block";
    $('#one').hide();
    $('#two').show();
    $('#three').hide();
}
btn3.onclick = function() {
    modal.style.display = "block";
    $('#one').hide();
    $('#two').hide();
    $('#three').show();
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
