<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

				<div class="colfix w100">
						<ul class="list">
		                  
		                    	<div class="colfix w100">
			                    	<ul class="list">
			                    		<li class="list-header">
											<div class="colfix w10 ">Id</div>
											<div class="colfix w10">Tanggal</div>
											<div class="colfix w10">Keanggotaan</div>
											<div class="colfix w20 ">Status</div>
											<div class="colfix w15">Jumlah Pembayaran</div>
											<div class="colfix w15">Jumlah Dibayar</div>
											<div class="colfix w10">Tipe Bayar</div>
											<div class="colfix w10"></div>
										</li>
										<li class="chatinput">
											<div class="colfix w10">48</div>
											<div class="colfix w10"><b><?php $now = time(); $future = date("d-m-Y", strtotime(date("d-m-Y", $now) . " + 1 year")); echo $future; ?></b></div>
											<div class="colfix w10">Prioritas</div>
											<div class="colfix w20 ">Menunggu Pembayaran</div>
											<div class="colfix w15">IDR 1.700.000</div>
											<div class="colfix w15">IDR 0</div>
											<div class="colfix w10">BCA</div>
							                <div class="colfix w10 txtcenter">
						                    	<a href="?page=upgrade step05" class="btn">Konfirmasi</a>
						                    </div>
										</li>
										<li class="chatinput">
											<div class="colfix w10">49</div>
											<div class="colfix w10"><b><?php $now = time(); $future = date("d-m-Y", strtotime(date("d-m-Y", $now) . " + 1 year")); echo $future; ?></b></div>
											<div class="colfix w10">Prioritas</div>
											<div class="colfix w20 ">Menunggu Pembayaran</div>
											<div class="colfix w15">IDR 1.600.000</div>
											<div class="colfix w15">IDR 1.500.000</div>
											<div class="colfix w10">BNI</div>
							                <div class="colfix w10 txtcenter">
						                    	<a href="?page=upgrade step05" class="btn">Konfirmasi</a>
						                    </div>
										</li>
			                    	</ul>
			                    </div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>
