		<?php
		for ($x = 1; $x <= 5; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'<div class="corner-ribbon"><span>Draft</span></div>'
			.'	<div class="list-box">'
			.'		<a href="./?page=detail&id='.(($y*10)+$x).'">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="seller-name"><a href="">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
			.'	</div>'
			.'	<div class="buttons-box">'
			.'		<a href="./?page=detail"><span class="btn med-btn">Lihat</span></a> &nbsp; <a href="?page=tambah produk"><span class="btn med-btn">Edit</span></a> &nbsp; <a href=""><span class="btn med-btn">Hapus</span></a>'
			.'	</div>'
			.'</div>';
			}
		?>
		
				<div class="list-item">
			<div class="corner-ribbon aktif"><span>Aktif</span></div>
				<div class="list-box">
					<a href="./?page=detail&id.(($y*10)+$x)">
					<div class="imgbox">
						<img src="assets/data/foto1.jpg">
					</div>
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</h3>
						<div class="hargabox">
							<div class="harga">233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
							<span class="minorder">10 <small>buah</small></span>
							</div>
						<div class="clear"></div>
						</div>
					</div>
					</a>
					<div class="seller-info">
						<div class="seller-name"><a href="">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
				</div>
				<div class="buttons-box">
					<a href="./?page=detail"><span class="btn med-btn">Lihat</span></a> &nbsp; <a href=""><span class="btn med-btn">Edit</span></a> &nbsp; <a href="?page=tambah produk"><span class="btn med-btn">Hapus</span></a>
				</div>
			</div>


						<div class="list-item">
			<div class="corner-ribbon aktif"><span>Aktif</span></div>
				<div class="list-box">
					<a href="./?page=detail&id.(($y*10)+$x)">
					<div class="imgbox">
						<img src="assets/data/foto1.jpg">
					</div>
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</h3>
						<div class="hargabox">
							<div class="harga">233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
							<span class="minorder">10 <small>buah</small></span>
							</div>
						<div class="clear"></div>
						</div>
					</div>
					</a>
					<div class="seller-info">
						<div class="seller-name"><a href="">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
				</div>
				<div class="buttons-box">
					<a href="./?page=detail"><span class="btn med-btn">Lihat</span></a> &nbsp; <a href="?page=tambah produk"><span class="btn med-btn">Edit</span></a> &nbsp; <a href=""><span class="btn med-btn">Hapus</span></a>
				</div>
			</div>


				<div class="list-item">
			<div class="corner-ribbon moderasi"><span>Review</span></div>
				<div class="list-box">
					<a href="./?page=detail&id.(($y*10)+$x)">
					<div class="imgbox">
						<img src="assets/data/foto1.jpg">
					</div>
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</h3>
						<div class="hargabox">
							<div class="harga">233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
							<span class="minorder">10 <small>buah</small></span>
							</div>
						<div class="clear"></div>
						</div>
					</div>
					</a>
					<div class="seller-info">
						<div class="seller-name"><a href="">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
				</div>
				<div class="buttons-box">
					<a href="./?page=detail"><span class="btn med-btn">Lihat</span></a> &nbsp; <a href="?page=tambah produk"><span class="btn med-btn">Edit</span></a> &nbsp; <a href=""><span class="btn med-btn">Hapus</span></a>
				</div>
			</div>



						<div class="list-item">
			<div class="corner-ribbon moderasi"><span>Review</span></div>
				<div class="list-box">
					<a href="./?page=detail&id.(($y*10)+$x)">
					<div class="imgbox">
						<img src="assets/data/foto1.jpg">
					</div>
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe.</h3>
						<div class="hargabox">
							<div class="harga">233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
							<span class="minorder">10 <small>buah</small></span>
							</div>
						<div class="clear"></div>
						</div>
					</div>
					</a>
					<div class="seller-info">
						<div class="seller-name"><a href="">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
				</div>
				<div class="buttons-box">
					<a href="./?page=detail"><span class="btn med-btn">Lihat</span></a> &nbsp; <a href="?page=tambah produk"><span class="btn med-btn">Edit</span></a> &nbsp; <a href=""><span class="btn med-btn">Hapus</span></a>
				</div>
			</div>
