<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<!--<div class="notif-bar oke">
						<div class="colfix w70">
						<strong>Daftar penawaran yang sedang berlangsung untuk produk anda.</strong><br>
						Respon anda dibutuhkan untuk melanjutkan menjadi proses transaksi.</br>
						</div>

					</div>-->
					<?php include $html_path.'toolbar-produk-permintaan.html'; ?>
					<div class="search-toolbar w30">
						<form>
						<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
						<div class="colfix w40"><input type="submit" value="Cari"></div>
						</form>
					</div>
					<ul class="list">
						<li class="list-header">
							<div class="colfix w20">Judul</div>
							<div class="colfix w20 txtcenter">Budget</div>
							<div class="colfix w15 txtcenter">Tgl. Aktif</div>
							<div class="colfix w15 txtcenter">Berakhir</div>
							<div class="colfix w10 txtcenter">Penawar</div>
							<div class="colfix w10 txtcenter">Status</div>
							<div class="colfix w10"> </div>
						</li>
						<li class="unread">
							<div class="colfix w20"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a>
							</div><span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w20"><div class="harga	">1.230.000.000.000</div></div>
							<div class="colfix w15 txtcenter"">10 September 2016</div>
							<div class="colfix w15 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Aktif</div>
							<div class="colfix w10 txtright"><a href="?page=list permintaan detail"><span class="btn">Detail</span></a></div>
							
						</li>
						<li>
							<div class="colfix w20"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div>
							<span class="list-req-cat">Kategori: <br>Elektronik &amp; Peralatan Rumah Tangga</span></div>
							<div class="colfix w20"><div class="harga">1.230.000.000.000</div></div>
							<div class="colfix w15 txtcenter"">10 September 2016</div>
							<div class="colfix w15 txtcenter">10 September 2016</div>
							<div class="colfix w10 txtcenter"><a href="">15</a></div>
							<div class="colfix w10 txtcenter">Expired</div>
							<div class="colfix w10 txtright"><a href="?page=list permintaan detail"><span class="btn">Detail</span></a></div>
							
						</li>
						<?php
						for ($x = 2; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w20"><div class="judul-item"><a href="./?page=detail">'.$lipsum .'</a></div>
						<span class="list-req-cat">Kategori: <br>Grocery</span></div>'.
						'<div class="colfix w20"><div class="harga	">1.230.000.000.000</div></div>'.
						'	<div class="colfix w15 txtcenter">10 September 2016</div>'.
						'	<div class="colfix w15 txtcenter">10 September 2016</div>'.
						'	<div class="colfix w10 txtcenter"><a href="">15</a></div>'.
						'	<div class="colfix w10 txtcenter">Selesai</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=list permintaan detail"><span class="btn">Detail</span></a></div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<br></br>
					<?php include $html_path.'toolbar-produk-permintaan.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>
