<div class="akun-box">
	<div class="imgbox imgprofile">
		<img src="assets/data/foto1.jpg">
	</div>
	<h3 class="txtcenter">PT. Dirgantara Maju Melayang Terpercaya Mandiri</h3>

	<!-- LOGIN 
	<div>
		<form>
		<input type="text" placeholder="e-mail anda" class="w100">
		<input type="password" placeholder="password" class="w100">
		<small><label><input type="checkbox">tetap login</label></small>
		<input type="submit" value="Login" class="fright med-btn"><hr size="1">
		</form>
		<small>
		<div class="colfix w50"><a href="./?page=static&view=forget%20password">Lupa password?</a></div> 
		<div class="colfix w50 txtright"><a href="./?page=static&view=register">Registrasi</a></div>
		</small>
		<br>&nbsp;<br>
	</div>-->
	
</div>
<!--
<hr size="1">
<div class="colfix w30">Sebagai </div>
<div class="colfix w70">
	<div id="tool-sebagai" class="cat_selection search-input">
		<ul class="search-suggestion-box">
			<li><a class="option" href="javascript:void(0);" data-value="1">Pengusaha </a></li>
			<li><a class="option" href="javascript:void(0);" data-value="2">Pembeli</a></li>
			<li><a class="option" href="javascript:void(0);" data-value="3">Pengusaha &amp; Pembeli</a></li>
		</ul>
		<input class="value_set" type="hidden" value="3" />
		<div class="cat_display">Pengusaha &amp; Pembeli</div>
	</div>	
</div>
-->
<hr size="1">
<div class="member-menu">
	<div class="menu-pengusaha">
		<h4>Sebagai Penjual</h4>
		<ul>
			<!--<li><a href="?page=penawaran">Penawaran </a><span class="notif-bubble">11 <span>251</span></span></li>
			<li><a href="?page=transaksi jual">Transaksi Jual</a><span class="notif-bubble">14 <span>47</span></span></li>
			<li><a href="?page=rekening online">Rekening online </a></li>
			<h5><br></h5>-->
			<!--<li><a href="?page=promo produk">Promosikan produk</a><span class="notif-bubble">2 <span>11</span></span></li>-->
			<li><a href="?page=produk">Produk</a><span>(9999)</span></li>
			<li><a href="?page=kelompok produk">Kelompok Produk</strong> </a><span>(9999)</span></li>
		</ul>
	</div>
	<hr size="1">
	<!--<div class="menu-vendor">
		<h4>Sebagai Vendor</h4>
		<ul>
			<li><a href="?page=penawaran tender">Penawaran tender </a><span class="notif-bubble">13 <span>35</span></span></li>
			<li><a href="?page=tender favorit">Tender favorit </a><span class="notif-bubble">12 <span>251</span></span></li>
			<li><a href="?page=akun tender">Akun Tender (Alias)</a></li>
		</ul>
	</div>
	<hr size="1">-->
	<!--<div class="menu-pembeli">
		<h4>Sebagai Pembeli</h4>
		<ul>
			<li><a href="?page=permintaan">Permintaan </a><span class="notif-bubble">11 <span>44</span></span></li>
			<li><a href="?page=transaksi beli">Transaksi Beli </a><span class="notif-bubble">7 <span>37</span></span></li>
			<h5><br></h5>
			<li><a href="?page=tagihan">Tagihan </a><span class="notif-bubble">3 <span>15</span></span></li>
			<h5><br></h5>
			<li><a href="?page=produk favorit">Produk favorit </a><span class="notif-bubble">12</span></li>
			<li><a href="">Perusahaan favorit </a><span class="notif-bubble">105</span></li>
		</ul>
	</div>-->

		<h4>Request Quotation</h4>
	<ul>
		<li><a href="?page=list permintaan">List Permintaan </a><span>(9999)</span></li>
		<li><a href="?page=list penawaran">List Penawaran </a><span>(9999)</span></li>
		<!--<li><a href="?page=rating">Rating </a><span class="notif-bubble">8.6 <span>117</span></span></li>-->
	</ul>
	<hr size="1">
	<h4>Fitur</h4>
	<ul>
		<li><a href="?page=running text">Running Text </a><!--<span class="notif-bubble">reguler</span>--></li>
		<li><a href="?page=verifikasi alamat">Verifikasi</a><!--<span class="notif-bubble">2 <span>8</span></span>--></li>
		<!--<li><a href="">Fitur &amp; TopUp</a><span class="notif-bubble">1 <strong>4</strong></span></li>-->
		<li><a href="?page=ubah tema">Tema</a><!--<span class="notif-bubble">1 <strong>12</strong></span>--></li>
	</ul>
	<hr size="1">
	<h4>Fitur Poin Indonetwork</h4>
	<ul>
		<li><a href="?page=top up poin">Topup Poin</a></li>
		<li><a href="?page=poin fitur indonetwork">Pilih Fitur</a></li>
		<li><a href="?page=transaksi fitur saya">Transaksi Saya</a></li>
	</ul>
	<hr size="1">
	<h4>Data akun</h4>
	<ul>
		<li><a href="?page=analisis seller">Analisis Seller </a></li>
		<li><a href="?page=info status free">Info Keanggotaan </a></li>
		<li><a href="?page=list permintaan upgrade">List Permintaan Upgrade </a></li>
		<li><a href="?page=data akun">Data Akun </a></li>
		<li><a href="?page=data perusahaan">Data Perusahaan </a></li>
		<li><a href="?page=ubah email password">Ubah e-mail &amp; password </a></li>
		<!--<li><a href="?page=privasi dan notifikasi">Privasi &amp; notifikasi </a></li>-->
	</ul>
	<hr size="1">
	<ul>
		<li><a href="./?page=static&view=landing&land=Logout%20berhasil">Log Out </a></li>
		<li><a href="./?page=static&view=landing&land=Logout%20berhasil">Log Out </a></li>
	</ul>
	<hr size="1">
</div>



