<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
					<div class="static-box" style="background-image:url(assets/imadges/bg/static-bg06.jpg);">
					<div class="form-box w60 ">
					<div class="colfix w100 judul-landing">
					<h3>Pilih Pembayaran</h3>
					<hr size="1"></div>
					<div class="colfix w100">
						<ul class="mtd-pymnt">
							<li class="colfix w50 txtcenter"><p>BANK TRANSFER BCA</p><a href="#" class="mtd-pymnt-btn bca"><img src="assets/images/mtd-pyment-bank-bca.jpg" alt="mtd-pyment-bank-bca"></a><br>
							<label><input type="radio" name="transfer"></label>
							</li>
							<li class="colfix w50 txtcenter"><p>BANK TRANSFER MANDIRI</p><a href="#" class="mtd-pymnt-btn mandiri"><img src="assets/images/mtd-pyment-bank-mandiri.jpg" alt="mtd-pyment-bank-mandiri"></a>
							<br>
							<label><input type="radio" name="transfer"></label>
							</li>
						</ul>
						<div class="colfix w100 txtcenter">
		               		<input type="submit" value="Kembali" onclick="location.href='?page=top up saldo'">  <input type="submit" value="Selanjutnya" onclick="location.href='?page=instruction buy fiture'">
		            	</div>
					</div>
					<div class="clear"></div>
					</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
		<div id="one">
			<h2>Beli Fitur</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Apa anda yakin untuk membeli fitur <b>Boost Listing</b> menggunakan <b class="nop-prc">25 poin</b> ?</p>
	    		<div class="btn-prmnt"><input type="submit" value="Ya" class="w30"><input type="submit" value="Tidak" class="w30 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
    </div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>