<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w70">
						<strong>Daftar penawaran yang sedang berlangsung untuk produk anda.</strong><br>
						Respon anda dibutuhkan untuk melanjutkan menjadi proses transaksi.</br>
						</div>

					</div>
					<?php include $html_path.'toolbar.html'; ?>
					
					<ul class="list">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10">produk</div>
							<div class="colfix w30">Nama barang</div>
							<div class="colfix w30">pengirim</div>
							<div class="colfix w10 txtcenter">jumlah</div>
							<div class="colfix w10"></div>
						</li>
						<li class="unread">
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w30"><div class="judul-item"><a href="?page=detail penawaran"><?php echo $lipsum; ?></a></div></div>
							<div class="colfix w30">
								<a href="">PT. Sidomukti Agung Serayu Lippo Salim</a><br>
								<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span>
							</div>
							<div class="colfix w10 txtcenter">100</div>
							<div class="colfix w10 txtright"><a href="?page=detail penawaran"><span class="btn">Respon</span></a> </div>
							
						</li>
						<?php
						for ($x = 2; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w30"><div class="judul-item"><a href="?page=detail penawaran">'.$lipsum .'</a></div></div>'.
						'	<div class="colfix w30"><a href="">PT. Nomer #'.$x.' Agung Serayu Lippo Salim</a><br><span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span></div>'.
						'	<div class="colfix w10 txtcenter">'.$x.'00</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail penawaran"><span class="btn">Respon</span></a> </div>'.
						''.
						'</li>';

						}
						for ($x = 7; $x <= 12; $x++) {
						echo ''.
						'<li class="disabled">'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w30"><div class="judul-item"><a href="?page=detail penawaran">'.$lipsum .'</a></div></div>'.
						'	<div class="colfix w30"><a href="">PT. Nomer #'.$x.' Agung Serayu Lippo Salim</a><br><span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span></div>'.
						'	<div class="colfix w10 txtcenter">'.$x.'00</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail penawaran"><span class="btn">Respon</span></a> </div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<br></br>
					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>