<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w70">
						<strong>Daftar permintaan dari anda yang sedang berlangsung.</strong><br>
						Respon anda dibutuhkan untuk melanjutkan menjadi proses transaksi.</br>
						</div>

					</div>

					<?php include $html_path.'toolbar.html'; ?>
					
					<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10">produk</div>
							<div class="colfix w40">Permintaan</div>
							<div class="colfix w10 txtcenter">Jumlah</div>
							<div class="colfix w15 txtcenter">Harga</div>
							<div class="colfix w05 txtright">Respon</div>
							
						</li>
						<li class="unread">
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w40"><div class="judul-item"><a href="?page=detail permintaan"><?php echo $lipsum; ?></a></div><div class="deskripsi"><?php echo $lipsum; ?></div></div>
							<div class="colfix w10 txtcenter">100</div>
							<div class="colfix w15 txtright"><div><span class="harga">700.000.000</span></div></div>
							<div class="colfix w05 txtcenter"><strong>6</strong></div>
							<div class="colfix w10 txtright"><a href="?page=detail permintaan"><span class="btn">Detail</span></a> </div>
						</li>
						<?php
						for ($x = 2; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=detail permintaan">'.$lipsum.'</a></div><div class="deskripsi">'.$lipsum.'</div></div>'.
						'	<div class="colfix w10 txtcenter">'.$x.'00</div>'.
						'	<div class="colfix w15 txtright"><div><span class="harga">'.$x.'00.000.000</span></div></div>'.
						'	<div class="colfix w05 txtcenter"><strong>'.$x.'</strong></div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail permintaan"><span class="btn">Detail</span></a> </div>'.
						''.
						'</li>';

						}
						for ($x = 7; $x <= 12; $x++) {
						echo ''.
						'<li class="disabled">'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=detail permintaan">'.$lipsum.'</a></div><div class="deskripsi">'.$lipsum.'</div></div>'.
						'	<div class="colfix w10 txtcenter">'.$x.'00</div>'.
						'	<div class="colfix w15 txtright"><div><span class="harga">'.$x.'00.000.000</span></div></div>'.
						'	<div class="colfix w05 txtcenter"><strong>'.$x.'</strong></div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail permintaan"><span class="btn">Detail</span></a> </div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<br></br>
					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>