<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
					<div class="detailq-penawaran">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer</h3>
						<div>
							<dl>
								<dt>Perusahaan:</dt><dd><strong>PT. Mitra Cakra Kencana Murah</strong></dd>
								<dt>Tanggal:</dt><dd>02 / 09 / 2016, 08:38:34 AM</dd>
								<dt>Tanggal berakhir:</dt><dd>02 / 09 / 2016, 08:38:34 AM</dd>
								<dt>Budget:</dt><dd class="harga">23.000.000</dd>
								<dt>Harga penawaran:</dt><dd class="harga">23.000.000 <i class="exp-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></dd>
								<dt>Penawar:</dt><dd>15</dd>
								<dt>Status:</dt><dd>Selesai</dd>
							</dl>
							<p><?php echo $lipsum; ?></p>
						</div>
					</div>
					<ul class="list isipesan chatbox">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w80">Pesan</div>
						</li>
					
						<li class="closed-quotation">
							<h3 class="txtcenter">Penawaran Telah Selesai</h3>
						</li>

						<?php
						for ($x = 7; $x >= 2; $x--) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>'.
						'	<div class="colfix w80">'.$lipsum .'</div>'.
						'</li>'.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto12.jpg"></div></div>'.
						'	<div class="colfix w80"><strong>&bull; Mengubah detail : harga, kuantitas, biaya kirim</strong></div>'.
						'</li>';

						}
						?>
					</ul>
					<br></br>
					<?php include ($html_path.'toolbar.html'); ?>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>