<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="txtcenter">
						<ul class="list">
		                    <li><div class="colfix w100"><h3>Terima Kasih</h3><p>Kami akan segera mengirimkan kode verifikasi kepada anda melalui surat maksimal 5 (lima) hari kerja terhitung sejak hari ini!<br />Jika anda sudah menerima kode validasi, silakan masukkan kode tersebut melalui link dibawah ini</p><input type="submit" value="Verifikasi Kode Sekarang" onClick="location.href='?page=form validasi'"></div></li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>