<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
					<div class="detailq-penawaran">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer</h3>
						<div>
							<dl>
								<dt>Perusahaan:</dt><dd><strong>PT. Mitra Cakra Kencana Murah</strong></dd>
								<dt>Tanggal:</dt><dd>02 September 2016</dd>
								<dt>Tanggal berakhir:</dt><dd>02 September 2016</dd>
								<dt>Budget:</dt><dd class="harga">23.000.000</dd>
								<dt>Harga penawaran:</dt><dd class="harga">23.000.000 <i class="low-prc" title="Penawaran Anda sama dengan penawar lainnya."></i></dd>
								<dt>Penawar:</dt><dd>15</dd>
								<dt>Status:</dt><dd>Aktif</dd>
							</dl>
							<p><?php echo $lipsum; ?></p>
						</div>
					</div>
					<ul class="list isipesan chatbox">
						<li class="chatinput">
							<form>
							<div class="colfix w10 preinput"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>
							<div class="colfix w66">
								<div class="chgprcwrp">
								<textarea ></textarea>
								<div class="chgprc con">
								<dl id="chgprice">
								<dt><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" ></label>Centang jika anda ingin merubah harga</dt>
								<dd><input class="harga" type="text" tabindex="1" maxlength="120" value="123.0000.000" disabled="true"></dd>
								</dl>
								<div class="clear"></div>
								</div>
								</div>
								<div class="notif-bar smaller"><strong>PENTING!</strong> Harap tidak menginformasikan <strong>nomor kontak, e-mail, atau password</strong> Anda kepada siapapun dan <strong>TIDAK membuka link atau tautan</strong> apapun yang mengatasnamakan <strong>indonetwork</strong> karena kami tidak pernah memberikan promo/hadiah apapun tanpa informasi resmi.</div>
							</div>
							<div class="colfix w10 txtcenter"><input type="submit" value="  Kirim Pesan  "></div>
							</form>
						</li>
						</ul>
					<ul class="list isipesan chatbox">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w80">Pesan</div>
						</li>					
						<li class="unread">
							<div class="colfix w10"><span class="tgl">17 Maret 2016</span></span></div>
							<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w80"><?php echo $lipsum ?></div>
						</li>

						<?php
						for ($x = 7; $x >= 2; $x--) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.' Maret 2016</span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>'.
						'	<div class="colfix w80">'.$lipsum .'</div>'.
						'</li>'.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.' Maret 2016</span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto12.jpg"></div></div>'.
						'	<div class="colfix w80"><strong>&bull; Mengubah detail : harga, kuantitas, biaya kirim</strong></div>'.
						'</li>';

						}
						?>
					</ul>
					<br></br>
					<?php include ($html_path.'toolbar.html'); ?>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Tambah Produk Anda</h2>
    </div>
    <div class="modal-body">

    	<div class="search-toolbar colfix w50">
			<form>
			<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
			<div class="colfix w40"><input type="submit" value="Cari"></div>
			</form>
		</div>

    	<div class="toolbar colfix w50">
			<div class="colfix w100 fright txtright">

				<ul>
					<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
					<li><a href=""><ico class="nav-left"></ico></a></li>
					<li><a href=""><ico class="nav-right"></ico></a></li>
				</ul>
			
			</div>
		</div>

		<div class="clear"></div><br />
      
			<?php
				for ($y = 1; $y <= 1; $y++) {
					include ($html_path.'listing-item-penawaran-modalbox.html');
				}
			?>

    </div>
  </div>

</div>

<script>
/*// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
//btn.onclick = function() {}//iki sing garai ERROR mas

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}*/

$('.edtprc').click(function(){
  var x = $('.edtprc').prop('checked');
  console.log(x);
  if(x == true){
	$('.harga').prop('disabled',false);
  }else{  	 
  	$('.harga').prop('disabled',true);   
  }
});
</script>