<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<?php include $html_path.'toolbar.html'; ?>
					
					<ul class="list">
						<li class="list-header">
							<div class="colfix w05"><label><input type="checkbox"></label></div>
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w20">Pengirim</div>
							<div class="colfix w40">Pesan</div>
							<div class="colfix w10 txtcenter">Jawab</div>
							<div class="colfix w15"></div> 
						</li>

						<li class="unread">
							<div class="colfix w05"><label><input type="checkbox"></label></div>
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w20"><div><a href="?page=profil">PT. Perusahaan Cabang #0 </a></div></div>
							<div class="colfix w40"><div class="judul-item"><a href="?page=isi pesan"><?php echo $lipsum ?></a></div></div>
							<div class="colfix w10 txtcenter"><strong>5</strong></div>
							<div class="colfix w15 txtright"><a href="?page=isi pesan"><span class="btn">Baca</span></a></div>
						</li>

						<?php
						for ($x = 12; $x >= 7; $x--) {
						echo ''.
						'<li>'.
						'	<div class="colfix w05"><label><input type="checkbox"></label></div>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w20"><div><a href="?page=profil">PT. Perusahaan Cabang #'.$x.' </a></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=isi pesan">'.$lipsum .'</a></div></div>'.
						'	<div class="colfix w10 txtcenter"><strong>'.$x.'</strong></div>'.
						'	<div class="colfix w15 txtright"><a href="?page=isi pesan"><span class="btn">Baca</span></a> <a href=""><ico class="trash"></ico></a></div>'.
						''.
						'</li>';

						}
						for ($x = 6; $x >= 1; $x--) {
						echo ''.
						'<li class="disabled">'.
						'	<div class="colfix w05"><label><input type="checkbox"></label></div>'.
						'	<div class="colfix w10"><span class="tgl">1'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w20"><div><a href="?page=profil">PT. Perusahaan Cabang #'.$x.' </a></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=isi pesan">'.$lipsum .'</a></div></div>'.
						'	<div class="colfix w10 txtcenter"><strong>'.$x.'</strong></div>'.
						'	<div class="colfix w15 txtright"><a href="?page=isi pesan"><span class="btn">Baca</span></a> <a href=""><ico class="trash"></ico></a></div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<br>
					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>