<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
					<div class="total-point colfix w50">
						<p>Total Poin Anda : <b class="nop">500 <span>poin</span></b><a href="?page=top up saldo" class="btn">Topup Sekarang</a></p>
					</div>
					<form name=myform>
					<div class="colfix w100">
					<?php include $html_path.'toolbar-produk.html'; ?>

       					<div class="search-toolbar search-toolbar2 w30">
						<form>
						<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
						<div class="colfix w40"><input type="submit" value="Cari"></div>
						</form>
						</div>
						<ul class="list isipesan">
						<li class="list-header">
							<div class="colfix w10">&nbsp;</div>
							<div class="colfix w10">Photo</div>
							<div class="colfix w70">Judul Produk</div>
							<div class="colfix w10">Poin</div>
						</li>
						<li>
						<div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div>
						<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	
						<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li>
						<div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div>
						<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	
						<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li>
						<div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div>
						<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	
						<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li>
						<div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div>
						<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	
						<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li>
						<div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div>
						<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	
						<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li><div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div><div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li><div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div><div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li><div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div><div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						<li><div class="colfix w10"><label class="aaaaa" title=" Centang jika ingin merubah harga"><input type="checkbox" class="edtprc" type=checkbox name="sundul produk" value="2" onClick="this.form.total.value=checkChoice(this);"></label></div><div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>	<div class="colfix w70">Aoccdrnig to rseearch at an Elingsh uinervtisy.</div>
						<div class="colfix w10">2</div>
						</li>
						</ul>
						<div class="toolbar">
							<div class="wrapper">
								<div class="colfix w100 fright txtright">
									<ul>
										<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
										<li><a href=""><ico class="nav-left"></ico></a></li>
										<li><a href=""><ico class="nav-right"></ico></a></li>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="point-nedded">
						<div class="poin-total">
						<span>Poin Yang di Butuhkan</span><b class="nop txtright"><input type="text" name="total" value="0" readonly><input type="hidden" name="hiddentotal" value=0  ></b>
						</div>
						<div class="sisa-poin"><span>Sisa Poin Anda</span><b class="nop txtright"><input type="text" name="sisa" value="490"  readonly></b></div>
						</div>
						<div class="colfix w100 txtright sundul-btn">
		               		<input type="submit" value="Sundul" onclick="#">
		            	</div>
		            	<!--div><input type="text" value="10" onchange="updatesum()"/></div-->
	                </div>
	                </form>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<script language="JavaScript">
function checkChoice(whichbox){
 with (whichbox.form){
  if (whichbox.checked == false)
   hiddentotal.value = eval(hiddentotal.value) - eval(whichbox.value);
  else
   hiddentotal.value = eval(hiddentotal.value) + eval(whichbox.value);
   return(formatCurrency(hiddentotal.value));
 }
}
function formatCurrency(num){
 num = num.toString().replace(/\$|\,/g,'');
 if(isNaN(num)) num = "0";
  cents = Math.floor((num*100+0.5)%100);
  num = Math.floor((num*100+0.5)/100).toString();
 if(cents < 10) cents = "0" + cents;
  for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
  num = num.substring(0,num.length-(4*i+3))+'.'+num.substring(num.length-(4*i+3));
  return (num);
}
 
/*$('.xxx').onchange(function(){
    alert('aaaaa');
});*/

function updatesum() 
    {
       // document.form.sum.value = (document.form.sum1.value -0) + (document.form.sum2.value -0);
   		alert('aaaaa');
    }
</script>