<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<div class="total-point colfix w50">
						<p>Total Point Anda : <b class="nop">500 <span>poin</span></b><a href="?page=top up saldo" class="btn">Topup Sekarang</a></p>
					</div>

					<div class="colfix w100">
						<h3>List Fitur Indonetwork</h3>
                    	<ul class="list-pointfiture">
							<li>
								<div class="colfix w80">
								<h4>Boost listing 30 hari (<span class="nop-prc">100 poin</span>)</h4>
								<p>Katalog Produk anda berada di posisi paling atas selama 30 hari sesuai dengan kategori yang telah dipilih saat membuat produk.</p>
								</div>
								<div class="colfix w20  txtcenter"><a id="myBtn" href="#" class="btn">Beli Fitur</a></div>
							</li>
							<li>
								<div class="colfix w80">
								<h4>Boost listing 14 hari (<span class="nop-prc">70 poin</span>)</h4>
								<p>Katalog Produk anda berada di posisi paling atas selama 14 hari sesuai dengan kategori yang telah dipilih saat membuat produk.
</p>
								</div>
								<div class="colfix w20  txtcenter"><a id="myBtn2"href="#" class="btn">Beli Fitur</a></div>
							</li><li>
								<div class="colfix w80">
								<h4>Boost listing 7 hari (<span class="nop-prc">50 poin</span>)</h4>
								<p>Katalog Produk anda berada di posisi paling atas selama 7 hari sesuai dengan kategori yang telah dipilih saat membuat produk.</p>
								</div>
								<div class="colfix w20  txtcenter"><a href="#" class="btn">Beli Fitur</a></div>
							</li><li>
								<div class="colfix w80">
								<h4>Boost listing 3 hari (<span class="nop-prc">30 poin</span>)</h4>
								<p>Katalog Produk anda berada di posisi paling atas selama 3 hari sesuai dengan kategori yang telah dipilih saat membuat produk.</p>
								</div>
								<div class="colfix w20  txtcenter"><a href="#" class="btn">Beli Fitur</a></div>
							</li>
							<li>
								<div class="colfix w80">
								<h4>Logo Anggota Prioritas (<span class="nop-prc">20 poin</span>)</h4>
								<p>Logo Anggota Prioritas akan muncul di halaman listing, di halaman produk detil, dan di url perusahaan Anda.</p>
								</div>
								<div class="colfix w20  txtcenter"><a href="#" class="btn">Beli Fitur</a></div>
							</li>
							<li>
								<div class="colfix w80">
								<h4>Logo Verifikasi Alamat (<span class="nop-prc">20 poin</span>)</h4>
								<p>Logo Verifikasi Alamat akan muncul di halaman listing, di halaman produk detil, dan di url perusahaan Anda.</p>
								</div>
								<div class="colfix w20  txtcenter"><a href="#" class="btn">Beli Fitur</a></div>
							</li>
						</ul>
	                </div>
	                <div class="clear"></div>
	                <div class="colfix w100 fitur-owned">
	                <h3>Fitur yang Anda Gunakan</h3>
	                	<ul class="list">
						<li class="list-header">
							<div class="colfix w20 txtcenter">Fitur</div>
							<div class="colfix w20 txtcenter">Tanggal Mulai</div>
							<div class="colfix w20 txtcenter">Tanggal Berakhir</div>
							<div class="colfix w20 txtcenter">Status</div>
							<div class="colfix w20 txtcenter">Poin</div>
						</li>
						<li>
							<div class="colfix w20 txtcenter">Boost Listing</div>
							<div class="colfix w20 txtcenter">10 September 2016</div>
							<div class="colfix w20 txtcenter">10 September 2016</div>
							<div class="colfix w20 txtcenter">Aktif</div>
							<div class="colfix w20 txtcenter">25 poin</div>
						<li>
							<div class="colfix w20 txtcenter">Badge Anggota Prioritas</div>
							<div class="colfix w20 txtcenter">10 September 2016</div>
							<div class="colfix w20 txtcenter">10 September 2016</div>
							<div class="colfix w20 txtcenter">Tidak Aktif</div>
							<div class="colfix w20 txtcenter">25 poin</div>
						</li>	
						<li>
							<div class="colfix w20 txtcenter">Running Text</div>
							<div class="colfix w20 txtcenter">10 September 2016</div>
							<div class="colfix w20 txtcenter">10 September 2016</div>
							<div class="colfix w20 txtcenter">Aktif</div>
							<div class="colfix w20 txtcenter">25 poin</div>
							
						</li>
						
					</ul>
	                </div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
		<div id="one">
			<h2>Beli Fitur</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Apa anda yakin untuk membeli fitur <b>Boost Listing</b> menggunakan <b class="nop-prc">25 poin</b> ?</p>
	    		<div class="btn-prmnt"><input type="submit" value="Ya" class="w30"><input type="submit" value="Tidak" class="w30 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
		<div id="two">
			<h2>Poin Anda Tidak Mencukupi</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Maaf Anda tidak memiliki cukup poin untuk mengaktifkan fitur ini. Point anda <b class="nop-prc">25 poin</b></p>
	    		<div class="btn-prmnt"><input type="submit" value="Tutup" class="w20 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
    </div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtn2");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    $('#two').hide();
    modal.style.display = "block";

}
btn2.onclick = function() {
    $('#one').hide();
    $('#two').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>