<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<h3>Berlangganan E-mail</h3>
					<p>Dengan layanan Penginformasi Perdagangan, para anggota melalui email dapat menerima informasi yang sesuai dengan sub-kategori yang dipilih diantara penawaran dagang, katalog produk, dan profil perusahaan yang bertambah terus jumlahnya.
					</p>
					<hr size="1"></hr>
					<form>
					<ul class="list formulir">
						<li>
							<div class="colfix w25">Berlangganan?</div>
							<div class="colfix w75">
								<label><input type="radio">Saya ingin berlangganan</input></label>
								<label><input type="radio">Saya <strong>tidak </strong>ingin berlangganan</input></label>
							</div>
						</li>
						<li>
							<div class="colfix w25">Informasi yang diinginkan</div>
							<div class="colfix w75">
								<label><input type="checkbox">Produk baru</input></label>
								<label><input type="checkbox">Permintaan baru</input></label>
								<label><input type="checkbox">Perusahaan baru</input></label>
							</div>
						</li>
						<li>
							<div class="colfix w25">Jenis usaha</div>
							<div class="colfix w75">
								<label><input type="checkbox">Industri</input></label>
								<label><input type="checkbox">Dagang</input></label>
								<br>
								<label><input type="checkbox">Jasa</input></label>
								<label><input type="checkbox">Organisasi</input></label>
							</div>
						</li>
						<li class="disabled">
							<div class="colfix w25">Jenis Penawaran</div>
							<div class="colfix w75">
								<label><input type="checkbox">Membeli</input></label>
								<label><input type="checkbox">Menjual</input></label>
								<label><input type="checkbox">Kerja sama</input></label>
							</div>
						</li>
						<li>
							<div class="colfix w25">Pilih kategori</div>
							<div class="colfix w75">
								<label><input type="checkbox">Teknologi &amp; Telekomunikasi</label>
								<label><input type="checkbox">Peralatan Kantor</label>
								<label><input type="checkbox">Elektronik Rumah Tangga</label>
								<label><input type="checkbox">Peralatan Rumah Tangga</label>
								<label><input type="checkbox">Elektronik Konsumen</label>
								<label><input type="checkbox">Kamera » Level 1 ???</label>
								<label><input type="checkbox">Kesehatan &amp; Kecantikan</label>
								<label><input type="checkbox">Peralatan Industri &amp; Kimia</label>
								<label><input type="checkbox">Makanan, Minuman &amp; Sembako</label>
								<label><input type="checkbox">Otomotif &amp; Transportasi</label>
								<label><input type="checkbox">Media, Musik &amp; Buku</label>
								<label><input type="checkbox">Olahraga &amp; Outdoor</label>
								<label><input type="checkbox">Mainan &amp; Bayi</label>
								<label><input type="checkbox">Voucher &amp; Layanan</label>
								<label><input type="checkbox">Pakaian, Tekstil &amp; Aksesoris</label>
								<label><input type="checkbox">Pertanian &amp; Produk Pangan</input></label>

							</div>
						</li>
						<li>
							<div class="colfix w25">E-mail penerima</div>
							<div class="colfix w25">
								<select>
									<option selected value="1">kambing@lantai21.com</option>
									<option value="2">babi@lantai21.com</option>
									<option value="2">sapi@lantai21.com</option>
									<option value="2">biyawak@lantai21.com</option>
								</select>
							</div>
							<div class="colfix w10 txtcenter">atau</div>
							<div class="colfix w25"><input type="text" placeholder="masukkan e-mail lainnya"></input></div>
						</li>
						<li>
							<div class="colfix w25"></div>
							<div class="colfix w25"><br><input type="submit" value="perbarui berlangganan e-mail"><br></br></div>
						</li>
						
					</ul>
					</form>

				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>