<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>


		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<?php include $html_path.'toolbar-produk.html'; ?>
					
					<hr size="1"></hr>

					<div class="search-toolbar w30">
						<form>
						<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
						<div class="colfix w40"><input type="submit" value="Cari"></div>
						</form>
					</div>

					<div class="list-wrapper">
					<?php
						for ($y = 1; $y <= 3; $y++) {
							include ($html_path.'listing-item-favorit.html');
						}
					?>
						<div class="clear"></div>
					</div>

					<hr size="1"></hr>

					<?php include $html_path.'toolbar-produk.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>