<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					
					<ul class="list rating list-display">

						<li class="chatinput">
							<form>
							<div class="colfix w10 preinput"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10 preinput"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>
							<div class="colfix w66">
								<div class="colfix w15 bigger"><label><input type="radio">1</label></div>
								<div class="colfix w15 bigger"><label><input type="radio">2</label></div>
								<div class="colfix w15 bigger"><label><input type="radio">3</label></div>
								<div class="colfix w15 bigger"><label><input type="radio">4</label></div>
								<div class="colfix w15 bigger"><label><input type="radio">5</label></div>
								
								<hr size="1">
								
								<textarea ></textarea>
								<div class="notif-bar smaller"><strong>PENTING!</strong> Harap tidak menginformasikan <strong>nomor kontak, e-mail, atau password</strong> Anda kepada siapapun dan <strong>TIDAK membuka link atau tautan</strong> apapun yang mengatasnamakan <strong>indonetwork</strong> karena kami tidak pernah memberikan promo/hadiah apapun tanpa informasi resmi.</div>
								<br>
							</div>
							<div class="colfix w10 txtcenter preinput"><input type="submit" value="  Kirim Rating  "></div>
							</form>
						</li>
						<br>
					
					</ul>
					
					<div class="colfix-box">
						<div class="colfix w10">
							Rating anda
						</div>
						<div class="colfix w30 bigger txtright">
							<!--<div class="ratestar"><span style="width:83%"></span></div>-->
							<ico class="rate star04"></ico>
							<span class=""><strong>8.9</strong> / 123 review</span>

						</div>
					</div>
					
					<?php include $html_path.'toolbar.html'; ?>

					<ul class="list rating">

						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w15">Pengirim</div>
							<div class="colfix w15 txtcenter">Rating</div>
							<div class="colfix w50">Pesan</div>
							<div class="colfix w10"></div>
						</li>

						<li class="unread">
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w15"><div><a href="?page=profil">Perusahaan No.#0 </a></div></div>
							<div class="colfix w15 txtcenter"><ico class="rate star04"></ico></div>
							<div class="colfix w60"><div class="judul-item"><a href="?page=isi pesan"><?php echo $lipsum ?></a></div></div>
						</li>

						<?php
						for ($x = 1; $x <= 12; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w15"><div><a href="?page=profil">Perusahaan No.#'.$x.' </a></div></div>'.
						'	<div class="colfix w15 txtcenter"><ico class="rate star05"></ico></div>'.
						'	<div class="colfix w60"><div class="judul-item">'.$lipsum .'</div></div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>