<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w100">
						<strong>Dana anda yang tersimpan di dalam rekening online escrow Indonetwork.</strong><br>
						Dana ini masuk setelah transaksi selesai. Dana ini dapat anda cairkan, proses pencairan antara 3-24jam.</br>
						</div>

					</div>
					
					<ul class="list list-display">
						<li>
							<div class="colfix w05"></div>
							<div class="colfix w25">
								Total dana anda
							</div>
							<div class="colfix w20">
								Cairkan dana
							</div>
							<div class="colfix w15">
								Konfirmasi pencairan
							</div>
							<div class="colfix w10"></div>
							<div class="colfix w05"></div>
							<div class="colfix w20 txtcenter">Nomor transaksi</div>
						
						<form>
							<div class="colfix w05"></div>
							<div class="colfix w20">
								<span class="harga big">2.370.000</span>
							</div>
							<div class="colfix w20">
								<input type="text" placeholder="Rp." maxlength="12" tabindex="1" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57">
							</div>
							<div class="colfix w20">
								<input type="password" placeholder="password" tabindex="2" >
							</div>
							<div class="colfix w10">
								<input type="submit" class="med-btn" value="Cairkan" tabindex="3" >
							</div>
							<div class="colfix w05"></div>
							<div class="colfix w20">
								<input type="text" disabled placeholder="QUO-XXXX-XXX-XXXX" class="bold txtcenter">
								<div class="notif-bar smaller txtcenter">auto generated token </div>
							</div>
						</li>
						</form>	
					
					</ul>
					
					<ul class="list list-display">
						<form>	
						<li>
							<div class="colfix w05 txtcenter"></div>
							<div class="colfix w20"><strong>PENAMBAHAN DANA</strong><br>Konfirmasi pembayaran</br></div>
							<div class="colfix w20">
								Jumlah nominal 
								<input type="text" placeholder="Rp." maxlength="12" tabindex="4" onkeypress="return event.charCode >= 48 &amp;&amp; event.charCode <= 57" class="mt10">
								<br>&nbsp;
							</div>
							<div class="colfix w20">
								Dari rekening
								<select class="mt10" tabindex="5">
									<option>BCA an. Kambing Guling</option>
									<option>BRI an. Kambing Guling</option>
									<option>NOBU an. Kambing Guling</option>
									<option>Permata an. Kambing Guling</option>
									<option>Mandiri an. Kambing Guling</option>
									<option>:: rekening baru ::</option>
								</select>
								<br>&nbsp;
							</div>
							<div class="colfix w10">
								<input type="submit" class="med-btn mt5" value="Tambah" tabindex="6" >
							</div>
							<div class="colfix w05"></div>
							<div class="colfix w20 txtcenter">
								<input type="text" disabled placeholder="QUO-XXXX-XXX-XXXX" class="bold txtcenter">
								<div class="notif-bar smaller txtcenter">auto generated token </div>
							</div>
						</li>
						
						</form>	
						
					</ul>

					<?php include $html_path.'toolbar.html'; ?>
					
					<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w40">Produk</div>
							<div class="colfix w20 txtright">Nilai Transaksi</div>
							<div class="colfix w10 txtcenter">Status</div>
							<div class="colfix w10"></div>
							
						</li>

						<li class="disabled">	
							<div class="colfix w10"><span class="tgl">13/3/2016 <span>20:35 wib</span></span></div>	
							<div class="colfix w10 txtcenter"><div class="imgbox imgprofile"><img src="assets/images/admin-access.png"></div></div>	
							<div class="colfix w40">
								<strong>PENAMBAHAN DANA</strong>		
								<br>Transaksi : <strong>QUO-12345-695-2111</strong>
							</div>	
							<div class="colfix w20 txtright"><span class="harga">1.120.000</span></div>	
							<div class="colfix w10 txtcenter">berhasil</div>	
							<div class="colfix w10 txtright"></div>
						</li>

						<li class="">	
							<div class="colfix w10"><span class="tgl">15/3/2016 <span>20:35 wib</span></span></div>	
							<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto1.jpg"></div></div>	
							<div class="colfix w40">
								<div class="judul-item"><a href="?page=detail transaksi jual"><?php echo $lipsum; ?></a></div>		
								<div class="deskripsi">Transaksi : <strong>QUO-12345-695-2111</strong><br>Pembeli : <a href="./page=profile">PT.Jaya Perkasa Bernyanyi</a></div>	
								</div>	
							<div class="colfix w20 txtright"><span class="harga">120.000</span></div>	
							<div class="colfix w10 txtcenter">tersimpan</div>	
							<div class="colfix w10 txtright"><a href="?page=detail transaksi jual"><span class="btn">Detail</span></a> </div>
						</li>
						
						<li class="disabled">	
							<div class="colfix w10"><span class="tgl">13/3/2016 <span>20:35 wib</span></span></div>	
							<div class="colfix w10 txtcenter"><div class="imgbox imgprofile"><img src="assets/images/admin-access.png"></div></div>	
							<div class="colfix w40">
								<strong>PENCAIRAN DANA</strong>		
								<br>Transaksi : <strong>QUO-12345-695-2111</strong>
							</div>	
							<div class="colfix w20 txtright"><span class="harga">1.120.000</span></div>	
							<div class="colfix w10 txtcenter">berhasil</div>	
							<div class="colfix w10 txtright"></div>
						</li>

						<?php
						for ($x = 12; $x >= 1; $x--) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi jual">'.$lipsum.'</a></div>'.
						'		<div class="deskripsi">Transaksi : <strong>QUO-12345-695-2111</strong><br>Pembeli : <a href="./page=profile">PT.Jaya Perkasa Bernyanyi</a></div>'.
						'	</div>'.
						'	<div class="colfix w20 txtright"><span class="harga">'.$x.'20.000</span></div>'.
						'	<div class="colfix w10 txtcenter">tersimpan</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail transaksi jual"><span class="btn">Detail</span></a> </div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>

					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>