<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				<div class="dashboard-detail">
				
					
					<div class="mb20"></div>
					
					<div class="split-2 list-display list-normal">
						<div class="colfix w50 txttop">
							<ul class="list">
								<li><div class="colfix"><h3>Notifikasi Aktifitas</h3></div></li>
								<li>
									<div class="colfix w30"><h4 >Transaksi</h4></div>
									<div class="colfix w70 padtop10">
										<span class="colfix w50">Penjualan</span>
										<span class="colfix w20 bigger txtright">14</span>
										<span class="colfix w30 txtright"><a href="?page=transaksi jual"><span class="btn med-btn">lihat</span></a></span>
										<hr size="1">
										<span class="colfix w50">Pembelian</span>
										<span class="colfix w20 bigger txtright">7</span>
										<span class="colfix w30 txtright"><a href="?page=transaksi beli"><span class="btn med-btn">lihat</span></a></span>
									</div>
								</li>
								<li>
									<div class="colfix w30"><h4 >Penawaran</h4></div>
									<div class="colfix w70 padtop10">
										<span class="colfix w50">Produk anda</span>
										<span class="colfix w20 bigger txtright">11</span>
										<span class="colfix w30 txtright"><a href="?page=penawaran"><span class="btn med-btn">lihat</span></a></span>
									</div>
								</li>
								<li>
									<div class="colfix w30"><h4 >Permintaan</h4></div>
									<div class="colfix w70 padtop10">
										<span class="colfix w50">Aktif</span>
										<span class="colfix w20 bigger txtright">3</span>
										<span class="colfix w30 txtright"><a href="?page=permintaan"><span class="btn med-btn">lihat</span></a></span>
									</div>								
								</li>

								<br>
								
								<li><div class="colfix"><h3>Katalog</h3></div></li>
								<li>
									<div class="colfix w50"><h4>Produk </h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">34</span>
									</div>
									<div class="colfix w20 txtright">
										<a href="?page=produk"><span class="btn med-btn">lihat</span></a>
									</div>
									
								</li>
								<!--<li>
									<div class="colfix w50"><h4>Favorit</h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">105</span>
									</div>
									<div class="colfix w20 txtright">
										<a href="?page=produk favorit"><span class="btn med-btn">lihat</span></a>
									</div>
									
								</li>
								<br>-->
						
								
							</ul>
						</div>
						
						<div class="colfix w50 txttop">
							<ul class="list">

								<li class=" bgdark"><div class="colfix"><h3>Komunikasi</h3></div></li>
								<li>
									<h4 class="colfix w50">Pesan baru</h4>
									<div class="colfix w30 txtright">
										<span class="bigger">3</span>
									</div>
									<div class="colfix w20 txtright">
										<a href="?page=pesan"><span class="btn med-btn">lihat</span></a>
									</div>
									
								</li>
								
								<br>

								<li><div class="colfix"><h3>Fitur</h3></div></li>
								<li>
									<div class="colfix w50"><h4>Tingkatkan Keanggotaan</h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">Free</span>
									</div>
									<div class="colfix w20 txtright">
										<a href=""><span class="btn med-btn">tambah</span></a>
									</div>
									
								</li>
								<li>
									<div class="colfix w50"><h4>Running Text</h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">22/32</span>
									</div>
									<div class="colfix w20 txtright">
										<a href=""><span class="btn med-btn">tambah</span></a>
									</div>
									
								</li>
								<li>
									<div class="colfix w50"><h4>Verifikasi</h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">2 / 8</span>
									</div>
									<div class="colfix w20 txtright">
										<a href="?page=form verifikasi alamat"><span class="btn med-btn">verifikasi</span></a>
									</div>
									
								</li>
								<li>
									<div class="colfix w50"><h4>Tema</h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">1 / 12</span>
									</div>
									<div class="colfix w20 txtright">
										<a href="?page=ubah tema"><span class="btn med-btn">Ubah Tema</span></a>
									</div>
									
								</li>
								<li>
									<div class="colfix w50"><h4>Nomor HP <small>(Terima SMS dari Sistem)</small></h4></div>
									<div class="colfix w30 txtright">
										<span class="bigger">081254698745</span>
									</div>
									<div class="colfix w20 txtright">
										<a id="myBtn" href="#"><span class="btn med-btn">Ubah</span></a>
									</div>
									
								</li>
							
								
							</ul>
						
							<ul class="list">
							</ul>

						</div>
					
					</div>
					
				</div>
				
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Silakan Masukkan Nomor Handphone Anda</h2>
    </div>
    <div class="modal-body">

    	<div class="modaldata colfix w50">
			<form>
			<div class="colfix w60"><input type="text" placeholder="Nomor HP Anda"></div>
			<div class="colfix w40"><input type="submit" value="Update Nomor"></div>
			</form>
		</div>

		<div class="clear"></div>
      

    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>