<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w70">
						<ul class="list">
		                    <li>

		                    	<ul class="list formulir">

									<li>
										<div class="colfix w20 preinput">Status Running Text</div>
										<div class="colfix w80 preinput">Aktif</div>
									</li>

									<li>
										<div class="colfix w20 preinput">Pilihan Running Text</div>
										<div class="colfix w80">
											<select id="rtkey" name="rtkey" class="">
												<option value="">-</option>
												<option value="1">Running text unik</option>
												<option selected="selected" value="2">Nama perusahaan</option>
												<option value="3">Judul produk terakhir</option>
											</select>
										</div>
									</li>

									<li>
										<div class="colfix w20 preinput">Running Text Unik</div>
										<div class="colfix w80">
											<textarea tabindex="11" placeholder="Tulis Running Teks Unik Disini"></textarea>
											<div class="notif-bar oke smaller">Data Ini Akan Digunakan Sebagai Running Text Anda.</div>
										</div>
									</li>

									<li>
										<div class="colfix w20"></div>
										<div class="colfix w80">
											<div><input type="submit" value="  Aktifkan / Nonaktifkan  "></div>
										</div>
									</li>

								</ul>

		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>