	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="dashboard-title"><a href="?"><ico class="gear"></ico>Dashboard </a><span class="dashboard-topic"><?php echo $page_view.' '.$type_view; ?></span></span>
				
				<div class="submit-post fright">
					<a href="index.php?page=tambah produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="index.php?page=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Kirim Permintaan</a>-->
				</div>
			</center>
		</div>
	</div>
</div>