<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w100">
						<strong>Dana anda yang tersimpan di dalam rekening online escrow Indonetwork.</strong><br>
						Dana ini masuk setelah transaksi selesai. Dana ini dapat anda cairkan, proses pencairan antara 3-24jam.</br>
						</div>

					</div>
					
					<ul class="list">
						<li>
							<div class="colfix w05"></div>
							<div class="colfix w25">
								Total tagihan anda
							</div>
							<div class="colfix w20">
								<span class="harga big">2.370.000</span>
							</div>
						</li>
											
					</ul>

					<?php include $html_path.'toolbar.html'; ?>
					
					<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w40">Produk</div>
							<div class="colfix w20 txtright">Transaksi</div>
							<div class="colfix w10 txtcenter">Status</div>
							<div class="colfix w10"></div>
							
						</li>

						<li class="disabled">	
							<div class="colfix w10"><span class="tgl">13/3/2016 <span>20:35 wib</span></span></div>	
							<div class="colfix w10 txtcenter"><div class="imgbox imgprofile"><img src="assets/images/admin-access.png"></div></div>	
							<div class="colfix w40">
								<strong>PENAMBAHAN DANA REKENING ONLINE</strong>		
								<br>Transaksi : <strong>QUO-12345-695-2111</strong>
							</div>	
							<div class="colfix w20 txtright"><span class="harga">1.120.000</span></div>	
							<div class="colfix w10 txtcenter">berhasil</div>	
							<div class="colfix w10 txtright"></div>

							<div class="deskripsi">
								<div class="colfix w10"><span class="tgl">13/3/2016 <span>20:35 wib</span></span></div>
								<div class="colfix w10">Konfirmasi Pembayaran</div>
								<div class="colfix w20">
									dari rekening <br></br>
									<select >
										<option>BCA an. Kambing Guling</option>
										<option>BRI an. Kambing Guling</option>
										<option>NOBU an. Kambing Guling</option>
										<option>Permata an. Kambing Guling</option>
										<option>Mandiri an. Kambing Guling</option>
									</select>
								</div>
								<div class="colfix w20">
									ke rekening <strong>indonetwork</strong><br></br> 
									<select >
										<option>BCA an. Indonetwork</option>
										<option>BRI an. Indonetwork</option>
										<option>NOBU an. Indonetwork</option>
										<option>Permata an. Indonetwork</option>
										<option>Mandiri an. Indonetwork</option>
									</select>
								</div>
								<div class="colfix w20 txtright"></div>
								<div class="colfix w10 txtcenter">sedang diproses</div>
								<div class="colfix w10 txtright"><a href="?page=detail transaksi beli"><span class="btn">Konfirmasi</span></a> </div>
								<br><br>
							</div>

						</li>

						<?php
						for ($x =5; $x >= 1; $x--) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi beli">'.$lipsum.'</a></div>'.
						'		<div class="deskripsi">Transaksi : <strong>QUO-12345-695-2111</strong><br>Vendor : <a href="./page=profile">PT.Jaya Perkasa Bernyanyi</a></div>'.
						'	</div>'.
						'	<div class="colfix w20 txtright"><span class="harga">'.$x.'20.000</span></div>'.
						'	<div class="colfix w10 txtcenter">tersimpan</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail transaksi beli"><span class="btn">Detail</span></a> </div>'.
						''.
						'	<div class="deskripsi">'.
						'		<div class="colfix w10"><span class="tgl">'.date("d/m/Y").'<span>'.date("h:i a").'</span></span></div>'.
						'		<div class="colfix w10">Konfirmasi Pembayaran</div>'.
						'		<div class="colfix w20">'.
						'			dari rekening <br></br>'.
						'			<select >'.
						'				<option>BCA an. Kambing Guling</option>'.
						'				<option>BRI an. Kambing Guling</option>'.
						'				<option>NOBU an. Kambing Guling</option>'.
						'				<option>Permata an. Kambing Guling</option>'.
						'				<option>Mandiri an. Kambing Guling</option>'.
						'			</select>'.
						'		</div>'.
						'		<div class="colfix w20">'.
						'			ke rekening <strong>indonetwork</strong><br></br> '.
						'			<select >'.
						'				<option>BCA an. Indonetwork</option>'.
						'				<option>BRI an. Indonetwork</option>'.
						'				<option>NOBU an. Indonetwork</option>'.
						'				<option>Permata an. Indonetwork</option>'.
						'				<option>Mandiri an. Indonetwork</option>'.
						'			</select>'.
						'		</div>'.
						'		<div class="colfix w20 txtright"></div>'.
						'		<div class="colfix w10 txtcenter">sedang diproses</div>'.
						'		<div class="colfix w10 txtright"><a href="?page=detail transaksi beli"><span class="btn">Konfirmasi</span></a> </div>'.
						'		<br><br>'.
						'	</div>'.
						''.
						'</li>';

						}

						for ($x =12; $x >= 6; $x--) {
						echo ''.
						'<li class="disabled">'.
						'	<div class="colfix w10"><span class="tgl">'.$x.'/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w40"><div class="judul-item"><a href="?page=detail transaksi beli">'.$lipsum.'</a></div>'.
						'		<div class="deskripsi">Transaksi : <strong>QUO-12345-695-2111</strong><br>Vendor : <a href="./page=profile">PT.Jaya Perkasa Bernyanyi</a></div>'.
						'	</div>'.
						'	<div class="colfix w20 txtright"><span class="harga">'.$x.'20.000</span></div>'.
						'	<div class="colfix w10 txtcenter">tersimpan</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail transaksi beli"><span class="btn">Detail</span></a> </div>'.
						''.
						'</li>';

						}

						?>
					
					</ul>

					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>