<div class="toolbar">
	<div class="wrapper">
		<div class="colfix w40">
		</div>
		<div class="colfix w60 fright txtright">
			<ul>
				<li> 
					<div class="colfix">Urutkan&nbsp;</div>
					<div id="tool-urutkan" class="cat_selection search-input">
						<ul class="search-suggestion-box">
							<li><a class="option" href="javascript:void(0);" data-value="1">Terbaru </a></li>
							<li><a class="option" href="javascript:void(0);" data-value="2">Aktif</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="3">Tidak Aktif</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="4">Semua</a></li>
						</ul>
						<input class="value_set" type="hidden" value="4" />
						<div class="cat_display">Semua</div>
					</div>	

				</li>
			</ul>
			<ul>
				<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
				<li><a href=""><ico class="nav-left"></ico></a></li>
				<li><a href=""><ico class="nav-right"></ico></a></li>
			</ul>
		
		</div>
		<div class="clear"></div>
	</div>
</div>
