<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<div class="total-point colfix w50">
						<p>Total Poin Anda : <b class="nop">500<span>poin</span></b></p>
					</div>

					<div class="colfix w100 list-pointfiture">
                    	<ul class="voucher-topup w85">
                    		<li class="txtcenter"><p>BELI 20 POIN <br> Rp. 20.000,-</p> <a href="?page=metode pembayaran" class="btn">Beli Poin</a></li>
                    		<li class="txtcenter"><p>BELI 50 POIN <br> Rp. 50.000,-</p> <a href="?page=metode pembayaran" class="btn">Beli Poin</a></li>
                    		<li class="txtcenter"><p>BELI 100 POIN <br> Rp. 100.000,-</p> <a href="?page=metode pembayaran" class="btn">Beli Poin</a></li>
                    		<li class="txtcenter"><p>BELI 500 POIN <br> Rp. 500.000,-</p> <a href="?page=metode pembayaran" class="btn">Beli Poin</a></li>
                    		<li class="txtcenter"><p>BELI 700 POIN <br> Rp. 700.000,-</p> <a href="?page=metode pembayaran" class="btn">Beli Poin</a></li>
                    		<li class="txtcenter"><p>BELI 1000 POIN <br> Rp. 1.000.000,-</p> <a href="" class="btn">Beli Poin</a></li>
                    	</ul>
	                </div>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
		<div id="one">
			<h2>Beli Fitur</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Apa anda yakin untuk membeli fitur <b>Boost Listing</b> menggunakan <b class="nop-prc">25 poin</b> ?</p>
	    		<div class="btn-prmnt"><input type="submit" value="Ya" class="w30"><input type="submit" value="Tidak" class="w30 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
    </div>
  </div>
 <div></div>
</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>