<body class="dashboard">

<a id="top"></a>
<div class="header" id="header">
	<div class="topnav">
		<div class="wrapper">
			<div class="colfix w40">
				<ul>
					<li><span class="logo"><a href="./"><img src="assets/images/logo.svg"></a></span></li>
					<li>Selamat datang</li>
					<li><a href="">Bantuan</a></li>
				</ul>
			</div>
			<div class="colfix w60">
				<ul>
					<!--<li>Pembeli  
						<ul class="submenu">
							<li><strong>Source Products &amp; Suppliers</strong></li>
							<li><a href="?page=static&view=semua kategori">Telusuri Kategori</a></li>
							<li><a href="?dashboard.php?kirim permintaan">Dapatkan Penawaran</a></li>
							<li><a href="">Global Expo</a></li>
							<li><a href="?page=listing&view=grosir">Grosir</a></li>
							<li><hr size="1"></hr></li>
							<li><strong>Layanan Transaksi</strong></li>
							<li><a href="">Jaminan Transaksi</a></li>
							<li><a href="">Identitas Bisnis</a></li>
							<li><a href="">Layanan Logistik</a></li>
							<li><a href="">Pembayaran Aman</a></li>
							<li><a href="">Layanan Kredit</a></li>
							<li><a href="">Layanan Inspeksi</a></li>
							<li><hr size="1"></hr></li>
							<li><strong>Komunitas</strong></li>
							<li><a href="">Transaksi Cerdik</a></li>
							<li><a href="">Forum Diskusi</a></li>
							<li><a href="">Tanya Jawab</a></li>
						</ul>
					</li>
					<li>Penjual 
						<ul class="submenu">
							<li><a href="">Keanggotaan Pemasok</a></li>
							<li><a href="">Pusat Pengetahuan</a></li>
							<li><a href="">Pusat Latihan</a></li>
							<li><hr size="1"></hr></li>
							<li><a href=""><strong>Pusat Pengadaan IndoNetwork</strong></a></li>
						</ul>
					</li>-->
					<li><ico class="akun"></ico>Login <span class="grey">|</span> Daftar <span class="notif-bubble">37</span>
						<div class="submenu">
							<div>
							<form>
							<input type="text" placeholder="e-mail anda">
							<input type="password" placeholder="password">
							<small><label><input type="checkbox">tetap login</label>
							
							<input type="submit" value="Login" class="fright"></small><hr size="1">
							</form>
							<small class="lupapassw"><a href="?page=static&view=forget%20password">Lupa password?</a></small>
							<small> 
							<input type="submit" value="Daftar" class="fright">
							</small>
							<br>&nbsp;<br>
							</div>
							
							<ul>
								<li><strong><ico class="member-reguler"></ico>Anggota Reguler</strong></li>
								<li><hr size="1"></hr></li>
								<li><a href="dashboard.php?page=produk">Produk Anda <span class="notif-bubble">1335</span></a></li>
								<li><a href="dashboard.php?page=permintaan">Permintaan Anda <span class="notif-bubble">34</span></a></li>
								<li><a href="dashboard.php?page=pesan">Pesan <span class="notif-bubble">13</span></a> </li>
								<li><a href="dashboard.php?page=produk favorit">Favorit <span class="notif-bubble">123</span></a> </li>
								<li><hr size="1"></hr></li>
								<li><a href="dashboard.php">Dashboard</a></li>
								<li><a href="./?page=profile-store">Situs profil usaha Anda</a></li>
								<li><a href="dashboard.php?page=identitas bisnis">Identitas bisnis</a></li>
								<li><a href="dashboard.php?page=verifikasi">Verifikasi akun</a></li>
								<li><hr size="1"></hr></li>
								<li><br><a href="?page=static&view=landing&land=Logout%20berhasil">Log Out</a><br></li>

							</ul>
						</div>
					</li>
					<li><ico class="cart"></ico>Keranjang <span class="notif-bubble">234</span>
						<div class="submenu">
							<div>
							Keranjang Anda kosong.
							Selamat berbelanja<strong><em>!</em></strong>
							</div>
							<div class="cart-checkout txtcenter"><span class="bold bigger orange">7</span> produk. &nbsp; <a href="./?page=keranjang"><span class="btn-submit med-btn">Lihat keranjang</span></a> </div>
							<ul class="cart-list">
								<?php for($cart = 1; $cart <= 7; $cart++) {
								echo ''.
								'<li>'.
								'	<div class="colfix w15"><div class="imgbox"><img src="assets/data/foto'.$cart.'.jpg"></div></div>'.
								'	<div class="colfix w75"><a href="?page=detail" target="next_page"><h3>'.$lipsum.'  </h3></a></div>'.
								'	<div class="colfix w10"><ico class="close-btn"></ico></div>'.
								'	<div class="clear"></div>'.
								'</li>'.
								'';

								} ?>

							</ul>
						</div>
						
					</li>
					<li><ico class="katalog"></ico> <a class="toplink" href="?page=tambah produk">Jual Sekarang</a></li>
				</ul>
			</div>
		</div>
	</div>
