<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					
					<div class="notif-bar oke">
						<div class="colfix w70 bigger">Nomor Permintaan : <strong>QUO-12345-695-2111</strong></div>
						<div class="colfix w30 txtright">
							<form>
								Nilai Permintaan ini <strong>*****</strong>
							</form>
						</div>
						<hr size="1">
						<div class="colfix w70">
						Berikut adalah detail dari permintaan dari vendor yang telah anda setujui.<br>
						Respon anda dibutuhkna untuk dilanjutkan menjadi proses transaksi.</br>
						</div>

					</div>

					<div class="header-pesan">
						<ul class="list">
							<li>
								<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
								<div class="colfix w10">Vendor</div>
								<div class="colfix w06"><div class="imgbox imgprofile"><img src="assets/data/foto2.jpg"></div></div>
								<div class="colfix w50"><a href="?page=profil">PT. Bakso Pak Kumis Cabang Bintaro</a><br><span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span></div>
								<div class="colfix w20"></div>
								
								<div class="colfix w10"></div>
								<div class="colfix w10 preinput">Topik</div>
								<div class="colfix w60"><?php echo $lipsum; ?></?php></div>
								<div class="colfix w20 txtright"></div>
							</li>
							<li class="list-header  txtcenter">
								<div class="colfix w10"></div>
								<div class="colfix w30">Nama Produk</div>
								<div class="colfix w25">Budget</div>
								<div class="colfix w15">Harga Penawaran</div>
								<div class="colfix w10">Jumlah</div>
								<div class="colfix w10"></div>
							</li>
							<form method="post" action="?page=transaksi permintaan">
							<?php
							for ($x =6; $x <= 6; $x++) {
							echo ''.
							'<li>'.
							'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
							'	<div class="colfix w30"><div class="judul-item"><a href="?page=detail penawaran">'.$lipsum .'</a></div></div>'.
							'	<div class="colfix w25 smaller txtcenter"><span class="harga">700.000</span> </div>'.
							'	<div class="colfix w15"><input type="text" value="611.000" class="txtright" placeholder="Rp."  onkeypress="return event.charCode >= 48 && event.charCode <= 57" ></div>'.
							'	<div class="colfix w10"><input type="text" maxlength="6" value="10" placeholder="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class=" txtcenter" ></div>'.
							''.
							'</li>';

							}
							?>
							<li>
								<div class="colfix w10 txtcenter"><ico class="delivery"></ico></div>
								<div class="colfix w30">Biaya kirim</div>
								<div class="colfix w25">
									<select>
										<option>JNE YES</option>
										<option>JNE REG</option>
										<option>TIKI</option>
										<option>PT POS Indonesia</option>
										<option>Wahana</option>
										<option>International Post</option>
										<option>DHL</option>
										<option>FedEx</option>
									</select>
								</div>
								<div class="colfix w15 txtright"><input type="text" value="60.000" class="txtright" placeholder="Rp."  onkeypress="return event.charCode >= 48 && event.charCode <= 57" ></div>
							</li>
							<li>
								<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
								<div class="colfix w05">update oleh:</div>
								<div class="colfix w10 txtright"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>
								<div class="colfix w25"><a href="">PT. Samudera Sanggala Samudera Sanggala </a></div>
								<div class="colfix w10 txtright">Total</div>
								<div class="colfix w20 txtright"><span class="harga">671.000</span></div>
								<div class="colfix w20"><input type="submit" value="simpan harga" class="med-btn btn-grey" ></div>
							</li>
							</form>
							<li>
								<div class="colfix w100 txtcenter"><a href="?page=detail transaksi beli"><span class="btn-submit">Setujui Penawaran ini</span></a> &nbsp; <a href="?page=penawaran"><span class="btn-submit"> Tolak </span></a></div>
							</li>
							
						</ul>
						
					</div>
					<hr size="1">
					
					<ul class="list isipesan chatbox">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10"></div>
							<div class="colfix w80">Pesan</div>
						</li>

						<li class="chatinput">
							<form>
							<div class="colfix w10 preinput"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10 preinput"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>
							<div class="colfix w66">
								<textarea ></textarea>
								<div class="notif-bar smaller"><strong>PENTING!</strong> Harap tidak menginformasikan <strong>nomor kontak, e-mail, atau password</strong> Anda kepada siapapun dan <strong>TIDAK membuka link atau tautan</strong> apapun yang mengatasnamakan <strong>indonetwork</strong> karena kami tidak pernah memberikan promo/hadiah apapun tanpa informasi resmi.</div>
							</div>
							<div class="colfix w10 txtcenter"><input type="submit" value="  Kirim Pesan  "></div>
							</form>
						</li>
					
						<li class="unread">
							<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>
							<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w80"><?php echo $lipsum ?></div>
						</li>

						<?php
						for ($x = 1; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>'.
						'	<div class="colfix w80">'.$lipsum .'</div>'.
						'</li>'.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox imgprofile"><img src="assets/data/foto1.jpg"></div></div>'.
						'	<div class="colfix w80"><strong>&bull; Mengubah detail : harga, kuantitas, biaya kirim</strong></div>'.
						'</li>';

						}
						?>
						
					</ul>
					<br></br>
					<?php include ($html_path.'toolbar.html'); ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>