<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<div class="total-point colfix w50">
						<p>Total Point Anda : <b class="nop">510<span>poin</span></b><a href="?page=top up saldo" class="btn">Topup Sekarang</a></p>
					</div>
					<div class="colfix w100">
						<!-- list content -->
						<div class="tabdetail list-trans-log con">
							<ul class="tabs">
								<li class="tab-link current" data-tab="tab-1"><div>Log Transaki</div></li>
								<li class="tab-link" data-tab="tab-2"><div>Konfirmasi Pembayaran</div></li>
							</ul>
							<div id="tab-1" class="in-lg-12 tab-content current">
								<ul class="list">
									<li class="list-header">
										<div class="colfix w33 txtcenter">Tanggal</div>
										<div class="colfix w33 txtcenter">Deskripsi</div>
										<div class="colfix w33 txtcenter">Poin</div>
									</li>
									<li>
										<div class="colfix w33 txtcenter">10 September 2016</div>
										<div class="colfix w33 txtcenter">Topup</div>
										<div class="colfix w33 txtcenter">550</div>
										
									</li>
									<li>
										<div class="colfix w33 txtcenter">10 September 2016</div>
										<div class="colfix w33 txtcenter">Boost listing</div>
										<div class="colfix w33 txtcenter">500</div>
										
									</li>
									<li>
										<div class="colfix w33 txtcenter">10 September 2016</div>
										<div class="colfix w33 txtcenter">Logo Anggota Prioritas</div>
										<div class="colfix w33 txtcenter">480</div>
										
									</li>
									<li>
										<div class="colfix w33 txtcenter">10 September 2016</div>
										<div class="colfix w33 txtcenter">Logo Verifikasi Alamat</div>
										<div class="colfix w33 txtcenter">460</div>
										
									</li>
									<li>
										<div class="colfix w33 txtcenter">10 September 2016</div>
										<div class="colfix w33 txtcenter">Topup</div>
										<div class="colfix w33 txtcenter">510</div>
										
									</li>
								</ul>
							</div>
							<div id="tab-2" class="in-lg-12 tab-content">
								<ul class="list">
									<li class="list-header">
										<div class="colfix w10 txtcenter">ID Transaksi</div>
										<div class="colfix w20 txtcenter">Tanggal</div>
										<div class="colfix w20 txtcenter">Jumlah</div>
										<div class="colfix w20 txtcenter">Rek. Penerima</div>
										<div class="colfix w20 txtcenter">Status</div>
										<div class="colfix w10 txtcenter">Action</div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BCA</div>
										<div class="colfix w20 txtcenter">Menunggu Pembayaran</div>
										<div class="colfix w10 txtcenter"><a href="?page=konfirmasi top up poin sukses" class="btn">Konfirmasi</a></div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BRI</div>
										<div class="colfix w20 txtcenter">Sedang Verifikasi</div>
										<div class="colfix w10 txtcenter"></div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BCA</div>
										<div class="colfix w20 txtcenter">Diterima</div>
										<div class="colfix w10 txtcenter"></div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BCA</div>
										<div class="colfix w20 txtcenter">Ditolak</div>
										<div class="colfix w10 txtcenter"></div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BCA</div>
										<div class="colfix w20 txtcenter">Menunggu Pembayaran</div>
										<div class="colfix w10 txtcenter"><a href="?page=konfirmasi top up poin sukses" class="btn ">Konfirmasi</a></div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BCA</div>
										<div class="colfix w20 txtcenter">Time Out</div>
										<div class="colfix w10 txtcenter"></div>
									</li>
									<li>
										<div class="colfix w10 txtcenter">123</div>
										<div class="colfix w20 txtcenter">10 September 2016</div>
										<div class="colfix w20 txtcenter">Rp. 1231231233</div>
										<div class="colfix w20 txtcenter">BCA</div>
										<div class="colfix w20 txtcenter">Diterima</div>
										<div class="colfix w10 txtcenter"></div>
									</li>
								</ul>
							</div>
						</div>
	                </div>
	                <?php include $html_path.'toolbar-produk.html'; ?>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
		<div id="one">
			<h2>Beli Fitur</h2>
			<div class="pop-box">
	    		<p class="txtcenter">Apa anda yakin untuk membeli fitur <b>Boost Listing</b> menggunakan <b class="nop-prc">25 poin</b> ?</p>
	    		<div class="btn-prmnt"><input type="submit" value="Ya" class="w30"><input type="submit" value="Tidak" class="w30 btn-no"></div>
				<div class="clear"></div>
			</div>
		</div>
    </div>
  </div>

</div>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>