<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<div class="notif-bar oke">
						<div class="colfix w70">
						<strong>Daftar transaksi penjualan anda yang sedang berjalan.</strong><br>
						Respon anda dibutuhkan untuk menyelesaikan proses transaksi.</br>
						</div>

					</div>

					<?php include $html_path.'toolbar.html'; ?>
					
					<ul class="list quotation">
						<li class="list-header">
							<div class="colfix w10">Tanggal</div>
							<div class="colfix w10">produk</div>
							<div class="colfix w30">Produk</div>
							<div class="colfix w10 txtright"></div>
							<div class="colfix w20">Pembeli</div>
							<div class="colfix w10 txtcenter">Status</div>
							<div class="colfix w10"></div>
							
						</li>

						<?php
						for ($x = 1; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w30"><div class="judul-item"><a href="?page=detail transaksi jual">'.$lipsum.'</a></div>'.
						'		<div class="deskripsi">Transaksi : <strong>QUO-12345-695-2111</strong><br><strong class="harga">231.000</strong> <br>jumlah: '.$x.'00 buah</div>'.
						'		<div class="deskripsi"><strong>Tracking</strong> : <span class="tgl">12/3/2016 </span><br>JNE YES - Bandung <br>Receive on destination</div>'.
						'	</div>'.
						'	<div class="colfix w10 txtcenter"><div class="imgbox imgprofile"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w20"><a href="./page=profile">PT.Jaya Perkasa Bernyanyi</a></div>'.
						'	<div class="colfix w10 txtcenter">terkirim</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail transaksi jual"><span class="btn">Detail</span></a> </div>'.
						''.
						'</li>';

						}
						for ($x = 7; $x <= 12; $x++) {
						echo ''.
						'<li class="disabled">'.
						'	<div class="colfix w10"><span class="tgl">12/3/2016 <span>20:35 wib</span></span></div>'.
						'	<div class="colfix w10"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w30"><div class="judul-item"><a href="?page=detail transaksi jual">'.$lipsum.'</a></div>'.
						'		<div class="deskripsi">Transaksi : <strong>QUO-12345-695-2111</strong><br><strong class="harga">231.000</strong> <br>jumlah: '.$x.'00 buah</div>'.
						'		<div class="deskripsi"><strong>Tracking</strong> : <span class="tgl">12/3/2016 </span><br>JNE YES - Bandung <br><span class="orange">Delivered</span></div>'.
						'	</div>'.
						'	<div class="colfix w10 txtcenter"><div class="imgbox imgprofile"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w20"><a href="./page=profile">PT.Jaya Perkasa Bernyanyi</a></div>'.
						'	<div class="colfix w10 txtcenter">selesai</div>'.
						'	<div class="colfix w10 txtright"><a href="?page=detail transaksi jual"><span class="btn">Detail</span></a> </div>'.
						''.
						'</li>';

						}
						?>
					
					</ul>
					<br></br>
					<?php include $html_path.'toolbar.html'; ?>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>