<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="list txtcenter">

		                    <li class="colfix w100">
		                    	<div class="colfix w50">
		                    		<h3>Kata Sandi Berhasil Diubah</h3>
		                    		<p>Kata sandi Anda telah berhasil diubah. Anda sudah dapat menggunakan kata sandi tersebut pada login berikutnya</p>

		                    	</div>
		                    </li>

	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>