<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div>
						<ul class="list switchtemplate txtcenter">

		                    <li class="colfix w100"><div class="colfix w50"><img src="./assets/images/template.jpg" width="100%"></div><div class="colfix w50">Template yang sekarang digunakan:<h3>Default Company Profile</h3><br /><a href="./?page=profile-store" class="btn">Lihat Halaman Saya</a></div></li>
		                    <div class="clear"></div><br />

		                    <li class="colfix w25"><div class="colfix w100"><div class="bgtemp"><img src="./assets/images/tema01/template.jpg" width="100%"></div><div><a href="./assets/images/tema01/index.html" class="switch btn">Gunakan Template</a></div><h3>01. Nama Template</h3></div></li>
		                    <li class="colfix w25"><div class="colfix w100"><div class="bgtemp"><img src="./assets/images/tema02/template.jpg" width="100%"></div><div><a href="./assets/images/tema02/index.html" class="switch btn">Gunakan Template</a></div><h3>01. Nama Template</h3></div></li>
		                    <li class="colfix w25"><div class="colfix w100"><div class="bgtemp"><img src="./assets/images/tema03/template.jpg" width="100%"></div><div><a href="./assets/images/tema03/index.html" class="switch btn">Gunakan Template</a></div><h3>02. Nama Template</h3></div></li>
		                    <li class="colfix w25"><div class="colfix w100"><div class="bgtemp"><img src="./assets/images/tema04/template.jpg" width="100%"></div><div><a href="./assets/images/tema04/index.html" class="switch btn">Gunakan Template</a></div><h3>03. Nama Template</h3></div></li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>