<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">
					<ul class="list formulir">
						<li>
							<div class="colfix w20"></div>
							<div class="colfix w80">
								<div class="colfix w75"><h3>Ubah alamat e-mail</h3><hr size="1"></div>
								<form method="post" action="?page=ubah email success">
								<div class="colfix w25 preinput">Email Saat Ini </div>
								<div class="colfix w50"><input type="text" disabled value="kambing@lantai21.com"><small class="notif">Anda harus melakukan verifikasi ulang setelah mengubah email</small></div>
								<div class="clear"></div>
								<div class="colfix w25 preinput">Email Baru </div>
								<div class="colfix w50"><input type="text" placeholder="e-mail baru" tabindex="1" ><div class="notif-bar error smaller">minimum 20 karakter dan maksimal 155 karakter </div></div>
								<br>
								<div class="colfix w25 preinput">Masukkan Kata Sandi </div>
								<div class="colfix w50">
									<input type="password" placeholder="kata sandi baru" tabindex="4" >
									<div class="notif-bar oke smaller">minimum 6 karakter yang berbeda dari akun e-mail anda. </div>
								</div>
								<br>
								<div class="colfix w25"> </div>
								<div class="colfix w50"><input type="submit" value="   Ubah E-mail   " tabindex="2"></div>
								</form>
							</div>
						</li>
						<br>
						<li>
							<div class="colfix w20"></div>
							<div class="colfix w80">
								<div class="colfix w75"><h3>Ubah Kata Sandi Login</h3><hr size="1"></div>
								<form method="post" action="?page=ubah password success">
								<div class="colfix w25 preinput">Masukkan Kata Sandi Lama</div>
								<div class="colfix w50"><input type="password" placeholder="kata sandi lama" tabindex="3" ></div>
								<br>
								<div class="colfix w25 preinput">Masukkan Kata Sandi Baru </div>
								<div class="colfix w50">
									<input type="password" placeholder="kata sandi baru" tabindex="4" >
									<div class="notif-bar oke smaller">minimum 6 karakter yang berbeda dari akun e-mail anda. </div>
								</div>
								<div class="clear"></div>
								<div class="colfix w25 preinput">Masukkan kata sandi baru </div>
								<div class="colfix w50">
									<input type="password" placeholder="kata sandi baru" tabindex="5" >
									<div class="notif-bar smaller">kata sandi tidak sama</div>
								</div>
								<br>
								<div class="colfix w25"> </div>
								<div class="colfix w50"><input type="submit" value="Ubah kata sandi" tabindex="6"></div>
								</form>
							</div>
						</li>
						<!--<br>
						<li>
							<div class="colfix w20"></div>
							<div class="colfix w80">
								<div class="colfix w75"><h3>Hapus Akun </h3><?php // echo $lipsum; ?><hr size="1"></div>
								<form>
								<div class="colfix w25 preinput">E-mail anda</div>
								<div class="colfix w50"><input type="text" placeholder="" tabindex="3" ></div>
								<br>
								<div class="colfix w25 preinput">Tulis "HAPUS AKUN SAYA" </div>
								<div class="colfix w50">
									<input type="password" placeholder="HAPUS AKUN SAYA" tabindex="4" >
								</div>
								<div class="clear"></div>
								<label class="w100">
								<div class="colfix w25 preinput txtright"> <input type="checkbox"> </div>
								<div class="colfix w50">Saya sudah setuju dan menyadari untuk menghapus akun saya secara permanen.</div>
								</label>
								<br>
								<div class="colfix w25"> </div>
								<div class="colfix w50"><input type="submit" value="Hapus akun saya" tabindex="6"></div>
								</form>
							</div>
						</li>-->

					</ul>
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>