<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100">
						<ul class="list">
		                    <li>
		                    	<div class="colfix w100">
		                    		<ul class="progress-indicator">
									    <li class="completed">
									        <span class="stepbubble"></span>
									        1. Pilih Keanggotaan
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        2. Pilih Metode Pembayaran
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        3. Aktivasi Keanggotaan Terpilih
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        4. Konfirmasi Pembayaran
									    </li>
									</ul>
		                    	</div>
		                    </li>
		                    <li>
		                    	<div class="colfix w100 txtcenter judul-landing">
		                    		<h3>Konfirmasi Pembayaran Telah Berhasil Dikirimkan.</h3>
									<p>Kami akan segera memproses permintaan Anda, jika ada pertanyaan lebih lanjut silahkan hubungi  customer support kami.</p>
								</div>
		                    </li>

	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>