	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="dashboard-title"><a href="?"><ico class="gear"></ico>Pengaturan </a><span class="dashboard-topic">Pilih Metode Pembayaran</span></span>
				
				<div class="submit-post fright">
					<a href="index.php?page=tambah produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="index.php?page=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Kirim Permintaan</a>-->
				</div>
			</center>
		</div>
	</div>
</div>

<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100 txtcenter">
						<ul class="list">
		                    <li>
		                    	<div class="colfix w100">
		                    		<ul class="progress-indicator">
									    <li class="completed">
									        <span class="stepbubble"></span>
									        1. Pilih Keanggotaan
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        2. Pilih Metode Pembayaran
									    </li>
									    <li>
									        <span class="stepbubble"></span>
									        3. Aktivasi Keanggotaan Terpilih
									    </li>
									    <li>
									        <span class="stepbubble"></span>
									        4. Konfirmasi Pembayaran
									    </li>
									</ul>
		                    	</div>
		                    </li>
		                    <li>
		                    	<div class="colfix w50">
		                    		<div class="bca">
		                    			<img src="assets/images/bca-icon.png" class="middle" align="middle"><br />
			                    		<label><input type="radio" name="transfer"> Pembayaran Transfer ke rekening BCA Rupiah</label>
		                    		</div>
		                    	</div>
		                    	<div class="colfix w50">
		                    		<div class="mandiri">
		                    			<img src="assets/images/mandiri-icon.png" class="middle" align="middle"><br />
			                    		<label><input type="radio" name="transfer"> Pembayaran Transfer ke rekening Mandiri Rupiah</label>
		                    		</div>
		                    	</div>
		                    </li>
		                    <li>
		                    	<div class="colfix w100 txtcenter">
		                    		<input class="btn" type="submit" value="Kembali" onClick="location.href='?page=upgrade step02'"> <input class="btn" type="submit" value="Selanjutnya" onClick="location.href='?page=upgrade step04'">
		                    	</div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>