	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="dashboard-title"><a href="?"><ico class="gear"></ico>Pengaturan </a><span class="dashboard-topic">Pilih Tipe Membership</span></span>
				
				<div class="submit-post fright">
					<a href="index.php?page=tambah produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="index.php?page=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Kirim Permintaan</a>-->
				</div>
			</center>
		</div>
	</div>
</div>

<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100">
						<ul class="list">
		                    <li>
		                    	<div class="colfix w100">
		                    		<ul class="progress-indicator">
									    <li class="completed">
									        <span class="stepbubble"></span>
									        1. Pilih Keanggotaan
									    </li>
									    <li>
									        <span class="stepbubble"></span>
									        2. Pilih Metode Pembayaran
									    </li>
									    <li>
									        <span class="stepbubble"></span>
									        3. Aktivasi Keanggotaan Terpilih
									    </li>
									    <li>
									        <span class="stepbubble"></span>
									        4. Konfirmasi Pembayaran
									    </li>
									</ul>
		                    	</div>
		                    </li>
		                    <li>
		                    	<div class="colfix w50">
									<div class="memberpriority">
									<h5>Anggota Prioritas Yang Utama Untuk Usaha Anda. Dapatkan Layanan Prioritas</h5>
									<ul>
										<li>Posisi Atas di Direktori Perusahaan</li>
										<li>Posisi Atas di Direktori Perdagangan</li>
										<li>Pemberitahuan Informasi Dagang Lewat SMS</li>
									</ul>
									<h5>Posisi atas, Hemat waktu, dan Bisnis semakin maju dengan fasilitas layanan Prioritas.</h5>
									Keuntungan anda dengan fasilitas ini:
									<ul>
										<li><h5>Posisi Atas di Direktori Perusahaan.</h5>Meningkatkan pangsa pasar dan jumlah pembeli (<i>buyer</i>) karena perusahaan berada di kelompok atas Direktori Perusahaan.</li>
										<li><h5>Posisi Atas di Direktori Dagang.</h5>Produk akan lebih mudah ditemukan pembeli karena berada di depan puluhan ribuan produk lainnya dalam Direktori Dagang.</li>
										<li><h5>Hemat waktu.</h5>Mendapatkan layanan pemberitahuan SMS bila ada pesan/penawaran bisnis.</li>
									</ul>
									</div>
		                    	</div>
		                    	<div class="colfix w50">
		                    		<div class="membersms">
										<h5>Selangkah Lebih Maju? Dapatkan Layanan SMS</h5>
										<ul>
										    <li>Pemberitahuan Pesan/Penawaran Bisnis yang Masuk lewat SMS</li>
										    <li>Cepat memberikan Tanggapan dan Jawaban</li>
										</ul>
										<h5>Layanan SMS Indonetwork memberi ketepatan waktu dalam bisnis.</h5>
										Keuntungan anda dengan fasilitas ini:
										<ul>
										    <li><h5>Meningkatkan daya saing.</h5>Anda bisa segera melayani setiap pesan yang masuk. SMS akan dikirimkan pada anda selambat-lambatnya 24 jam setelah pesan masuk.</li>
										    <li><h5>Hemat waktu.</h5>Tidak perlu terus-menerus memeriksa apakah ada pesan/penawaran bisnis yang masuk. Indonetwork akan mengirimkan pemberitahuan melalui SMS setiap kali ada pesan/penawaran bisnis yang masuk.</li>
										    <li><h5>Hemat biaya.</h5>Tidak perlu melakukan koneksi internet apabila tidak ada transaksi.</li>
										</ul>
									</div>
		                    	</div>
		                    </li>
		                    <li>
		                    	<div class="colfix w50 txtcenter">
									<div>
									    <h3>Biaya: <span>Rp. 1.700.000,-</span><small>/ tahun</small></h3>
									    <p><input name="orderpriority" type="button" value="Tingkatkan ke Layanan Prioritas" class="btn" onClick="location.href='?page=upgrade step03'"></p>
									</div>
		                    	</div>
		                    	<div class="colfix w50 txtcenter">
									<div>
									    <h3>Biaya: <span>Rp. 399.000,-</span><small>/ tahun</small></h3>
									    <p><input name="orderpriority" type="button" value="Tingkatkan ke Layanan SMS" class="btn" onClick="location.href='?page=upgrade step03'"></p>
									</div>
		                    	</div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>