	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="dashboard-title"><a href="?"><ico class="gear"></ico>Pengaturan </a><span class="dashboard-topic">Konfirmasi Pembayaran</span></span>
				
				<div class="submit-post fright">
					<a href="index.php?page=tambah produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="index.php?page=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Kirim Permintaan</a>-->
				</div>
			</center>
		</div>
	</div>
</div>

<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100">
						<ul class="list">
		                    <li>
		                    	<div class="colfix w100">
		                    		<ul class="progress-indicator">
									    <li class="completed">
									        <span class="stepbubble"></span>
									        1. Pilih Keanggotaan
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        2. Pilih Metode Pembayaran
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        3. Aktivasi Keanggotaan Terpilih
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        4. Konfirmasi Pembayaran
									    </li>
									</ul>
		                    	</div>
		                    </li>
		                    <li>

		                    	<form method="post" action="?page=upgrade step success">

		                    	<ul class="list formulir">

			                    	<li><div class="colfix w100 preinput">Setelah anda melakukan pembayaran, konfirmasikan melalui formulir di bawah ini:</div></li>

									<li>
										<div class="colfix w25 preinput">Tipe Layanan</div>
										<div class="colfix w50">Prioritas / Layanan SMS</div>
									</li>

									<li>
										<div class="colfix w25 preinput">Status Langganan</div>
										<div class="colfix w50">Perpanjangan</div>
									</li>
									
									<li>
										<div class="colfix w25 preinput">Tanggal Transfer *</div>
										<div class="colfix w50"><fieldset class="date"> 
						                  <select id="day_start" name="day_start"> 
						                    <option>1</option>       
						                    <option>2</option>       
						                    <option>3</option>       
						                    <option>4</option>       
						                    <option>5</option>       
						                    <option>6</option>       
						                    <option>7</option>       
						                    <option>8</option>       
						                    <option>9</option>       
						                    <option>10</option>       
						                    <option>11</option>       
						                    <option>12</option>       
						                    <option>13</option>       
						                    <option>14</option>       
						                    <option>15</option>       
						                    <option>16</option>       
						                    <option>17</option>       
						                    <option>18</option>       
						                    <option>19</option>       
						                    <option>20</option>       
						                    <option>21</option>       
						                    <option>22</option>       
						                    <option>23</option>       
						                    <option>24</option>       
						                    <option>25</option>       
						                    <option>26</option>       
						                    <option>27</option>       
						                    <option>28</option>       
						                    <option>29</option>       
						                    <option>30</option>       
						                    <option>31</option>       
						                  </select>
						                  <select id="day_start" name="month_start"> 
						                    <option>January</option>       
						                    <option>February</option>       
						                    <option>March</option>       
						                    <option>April</option>       
						                    <option>May</option>       
						                    <option>June</option>       
						                    <option>July</option>       
						                    <option>August</option>       
						                    <option>September</option>       
						                    <option>October</option>       
						                    <option>November</option>       
						                    <option>December</option> 
						                  </select>
						                  <select id="year_start" name="year_start"> 
						                    <option>2009</option>       
						                    <option>2010</option>       
						                    <option>2011</option>       
						                    <option>2012</option>       
						                    <option>2013</option>       
						                    <option>2014</option>       
						                    <option>2015</option>       
						                    <option>2016</option>       
						                    <option>2017</option>       
						                    <option>2018</option>       
						                  </select> 
						                </fieldset><div class="notif">Tanggal Transfer Harus Diisi!</div></div>
									</li>

									<li>
										<div class="colfix w25">Jumlah Pembayaran *</div>
										<div class="colfix w50"><input type="text" maxlength="50" tabindex="3" placeholder="Rp."><div class="notif-bar oke">Jumlah Pembayaran Harus Diisi! </div></div>
									</li>

									<li>
										<div class="colfix w25 preinput">Bank Penerima</div>
										<div class="colfix w50">BCA / Mandiri</div>
									</li>

									<li>
										<div class="colfix w25">Nomor Telepon *</div>
										<div class="colfix w50"><input type="text" maxlength="30" tabindex="5" placeholder="02XXXXXX"><div class="notif-bar oke">Nomor Telepon Harus Diisi! </div></div>
									</li>

									<li>
										<div class="colfix w25">Nama Pengirim *</div>
										<div class="colfix w50"><input type="text" maxlength="30" tabindex="5" placeholder="Nama Pengirim"><div class="notif-bar oke">Nama Pengirim Harus Diisi! </div></div>
									</li>

									<li>
										<div class="colfix w25">Bank Pengirim *</div>
										<div class="colfix w50"><input type="text" maxlength="30" tabindex="5" placeholder="Nama Bank Pengirim"><div class="notif-bar oke">Bank Pengirim Harus Diisi! </div></div>
									</li>

									<li>
										<div class="colfix w25">Bukti transaksi *</div>
										<div class="colfix w50"><input type="file"><div class="notif ">Bukti Transaksi Harus Diisi! </div></div>
									</li>
																
									<li>
										<div class="colfix w25">Keterangan Tambahan</div>
										<div class="colfix w50"><textarea rows="4" type="text"></textarea></div>
									</li>
									
									<li>
										<br>
										<div class="colfix w25"></div>
										<div class="colfix w75">
											<input type="submit" value="  Kirim  ">
										<br><br>
										</div>
									</li>

								</ul>

								</form>

		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>