	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="dashboard-title"><a href="?"><ico class="gear"></ico>Pengaturan </a><span class="dashboard-topic">Instruksi Pembayaran</span></span>
				
				<div class="submit-post fright">
					<a href="index.php?page=tambah produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="index.php?page=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Kirim Permintaan</a>-->
				</div>
			</center>
		</div>
	</div>
</div>

<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w100">
						<ul class="list">
		                    <li>
		                    	<div class="colfix w100">
		                    		<ul class="progress-indicator">
									    <li class="completed">
									        <span class="stepbubble"></span>
									        1. Pilih Keanggotaan
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        2. Pilih Metode Pembayaran
									    </li>
									    <li class="completed">
									        <span class="stepbubble"></span>
									        3. Aktivasi Keanggotaan Terpilih
									    </li>
									    <li>
									        <span class="stepbubble"></span>
									        4. Konfirmasi Pembayaran
									    </li>
									</ul>
		                    	</div>
		                    </li>
		                    <li>
		                    	<div class="infotransfer" id="to-print">
		                    		<h4>Aktivasi keanggotaan Prioritas/Layanan SMS Indonetwork.</h4>
		                    		<p>Untuk mengaktifkan Layanan anda, harap melakukan transaksi dengan informasi dibawah ini:</p>
									<h5>Pembayaran dengan Transfer Bank (T/T)</h5>
									<ul class="list-unstyled">
										<li><div class="colfix w30">Nomor Rekening</div><div class="colfix w70"><b>0101-863963</b></div></li>
										<li><div class="colfix w30">Nama Rekening</div><div class="colfix w70">PT Indonetwork Mitra Utama</div></li>
										<li><div class="colfix w30">Keanggotaan</div><div class="colfix w70"><b>Indonetwork Prioritas</b></div></li>
										<li><div class="colfix w30">Jumlah</div><div class="colfix w70"><b>Rp 1.700.000,-</b></div></li>
										<li><div class="colfix w30">Bank</div><div class="colfix w70">BCA KCU veteran</div></li>
										<li><div class="colfix w30">Alamat</div><div class="colfix w70">Jl Veteram 18-24, Surabaya Indonesia</div></li>
										<li><div class="colfix w30">Internet banking</div><div class="colfix w70">BCA Internet Banking</div></li>
										<li><div class="colfix w30">Berita</div><div class="colfix w70">User : Luks14Test<br>Perusahaan: CV Serba Indah</div></li>
									</ul>
								</div>

		                    </li>
		                    <li>
		                    	<div class="colfix w100 txtcenter">
		                    		<input class="btn" type="submit" value="Kembali" onClick="location.href='?page=upgrade step03'">     
		                    		<input class="btn" type="submit" value="Print"  onclick="myFunction()">

		                    		<script>
									function myFunction() {
									    window.print();
									}
									</script>

		                    	</div>
		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>