<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="txtcenter">
						<ul class="list">
		                    <li><div class="colfix w100"><h3>Terverifikasi &#10003;</h3><p>Selamat! Alamat anda telah berhasil terverifikasi</p></div></li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>