<div class="dashboard-content">
	<div class="wrapper">
		<div class="dashboard-menu colfix w15">
			<?php include $html_path.'menu.html'; ?>
		</div>
		
		<div class="dashboard-display colfix w85">
			<div>
				
				<div class="dashboard-detail">

					<br>

					<div class="colfix w70">
						<ul class="list">
		                    <li>

		                    	<ul class="list formulir">

									<li>
										<div class="colfix w80 preinput">Alamat Perusahaan</div>
										<div class="colfix w20 txtright"><a href="?page=form validasi" class="btn">Verifikasi</a></div>
									</li>
									<!--<li>
										<div class="colfix w80 preinput">Telepon Perusahaan</div>
										<div class="colfix w20 txtcenter"><a href="?page=form enter kode" class="btn">Verifikasi</a></div>
									</li>
									<li>
										<div class="colfix w80 preinput">Akta Perusahaan</div>
										<div class="colfix w20 txtcenter"><a href="?page=form enter kode" class="btn">Verifikasi</a></div>
									</li>-->

								</ul>

		                    </li>
	                	</ul>
	                </div>
					
				</div>
			</div>
		</div>
		
		<div class="clear"></div>
		
	</div>
</div>