

@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
.full-container{font:15px/1.3 'Slabo 27px',serif;color:#784545;background:#fbd796 url(../images/theme/theme-bgrepeat.png) repeat fixed;width:100%;margin:0 auto;padding:0 15px 30px;box-sizing:border-box;position:relative;}
.full-container2{background:#71cbd2;border-bottom:1px solid #479da4;padding:0 0 65px;}
.con:before,.con:after{content:"";display:table;line-height:0;height:0;box-sizing:border-box;}
.con:after{clear:both;box-sizing:border-box;}
.lte7 .con{zoom:1;}


/* layout grid */
.in-lg-1,.in-lg-2,.in-lg-3,.in-lg-4,.in-lg-5,.in-lg-6,.in-lg-7,.in-lg-8,.in-lg-9,.in-lg-10,.in-lg-11, .in-lg-12{float:left;position: relative;min-height: 1px;z-index:10;padding:0 15px;box-sizing:border-box;}
.in-lg-1{width:8.33333333%;}
.in-lg-2{width:16.66666667%;}
.in-lg-3{width:25%;}
.in-lg-4{width:33.33333333%;}
.in-lg-5{width:41.66666667%;}
.in-lg-6{width:50%;}
.in-lg-7{width:58.33333333%;}
.in-lg-8{width:66.66666667%;}
.in-lg-9{width:75%;}
.in-lg-10{width:83.33333333%;}
.in-lg-11{width:91.66666667%;}
.in-lg-12{width:100%;}

.wrapper{box-sizing:border-box;}

/* Header */

.theme-header{font:13px/1.5 'Open Sans', Arial, sans-serif;padding:10px;background:#FFF;position:fixed;z-index:999;box-shadow: 1px 5px 10px #DDD;height:60px;width:100%;box-sizing:border-box;top:0;}
.theme-userinfo{padding:8px 0;}
.theme-userinfo ul{float:right;margin-right:10px;}
.theme-userinfo ul>li{border-right:0;border-bottom:0;border-radius:2px;cursor:pointer;position:relative;display:inline-block;padding:3px 5px 4px 10px;margin-right:-4px;}
.theme-submenu-cont{width:96%;}
.theme-userinfo .submenu{right:0;}
.theme-hlogo{width:10%;float:left;padding:6px 0;}
.theme-hlogo .logo{width:117px;}
.theme-hsearch{width:50%;float:left;}
.theme-sm-chart{left:-50px;}
.theme-sm-chart .cart-list h3{padding-left:20px;}
.submenu ul.cart-list{width:96% !important;}
.searchbox input[type="text"] {width:231px;}
.notif-bubble{padding:5px 5px 8px;margin-left:3px;}

/* accent design theme */
.theme-accent{position:absolute;font-size:0;line-height:0;border-style:solid;background:url(../images/theme/theme-accent-sprite.png) no-repeat;}
.prd-detail ico{background:url(../images/theme/theme-accent-sprite.png) no-repeat;}
.accent-two,.accent-three{background:url(../images/theme/theme-accent-bg2.png) repeat;}
.accent-one{border-width:500px 0 0 1465px;border-color:#fac5be transparent;top:0;right:0;}
.accent-two{border-width:55px 0 0 100px;border-color:transparent #fac5be;top:0;left:20px;}
.accent-three{border-width:90px 0 90px 150px;border-color:#fac5be transparent;top:90px;right:60px;z-index:0;}
.accent-four{width:500px;height:100px;top:400px;right:0;background:#fac5be;}
.accent-five{width:205px;height:155px;background-position:0 0;bottom:0;left:15px;}
.accent-six{border-width:500px 0 0 1100px;border-color:transparent #71cbd2;top:-500px;left:0;}
.accent-seven{width:121px;height:22px;margin:20px auto 60px auto;background:url(../images/theme/theme-accent-sprite.png) 0 -155px no-repeat;}
.accent-eight{width:101px;height:201px;background-position:-1px -177px;top:-120px;left:150px;}
.accent-nine{top:-95px;right:25px;background-position:-1px -378px;width:158px;height:179px;}
.accent-ten{width:130px;height:225px;background-position:0 -570px;border:0;left:-40px;top:-50px;}
.accent-eleven{width:160px;height:225px;background-position:0 -803px;border:0;right:-40px;bottom:25px;}

/* company name, logo */
.theme-container{padding:60px 20px 100px 20px;}
.cp{margin:0 0 50px;position:relative;}
.cp2{margin:0 0 25px;}
.cplogo{width:150px;height:150px;box-shadow:-7px 7px 0 #7ec2e2;background:#fff;}
.cp2 .cplogo{box-shadow:-7px 7px 0 #69abca;}
.cplogo span{display:table-cell;width:150px;height:150px;vertical-align:middle;text-align:center;}
.cplogo img{max-width:150px;max-height:150px;}
.cpname{font-size:45px;color:#300;margin:0;}
.cp2 .cpname{font-size:20px;}
.cprate{margin-left:20px;}
.cp2 .cprate{margin:0;color:#000;}
.cp2 .location{margin:5px 0;color:#000;}
.cprate ico.rate{margin:0;vertical-align:top;}
a.btn,input.btn{display:inline-block;border-radius:0;background:transparent;box-shadow:none;padding:5px 10px;border-width:2px;}
a.btn:hover,input.btn:hover{box-shadow:none;border-color:#390705;color:#390705;}
.btn-view{margin-top:20px;}
.cppriority{background:#fff;font-weight:bold;margin-left:10px;padding:9px 9px 7px;}

/* company banner and marquee */
.cpbanner{width:100%;height:200px;overflow:hidden;position:relative;}
.cpbanner img{width:100%;}
.marquee{float:left;width:100%;padding:15px 0;}
.marquee marquee{margin:0;line-height:normal;}

/* company info address, category, etc / sidebar */
.cpinfo{padding:0 0 190px;z-index:1;}
.cpinfo dt{float:left;}
.cp-fixed .cpinfo{position:fixed;top:70px;}
.cp-footermargin .cpinfo{position:absolute;bottom:0;}
.cpaddress h4{color:#784545;margin:0 0 15px;padding:0 0 15px;}
.cpcat{margin:20px 0;}
.cpcat dd{padding:0 0 10px 35px;}
.cpactivity{margin:20px 0;}
.cpactivity dd{padding:0 0 5px 175px;margin:0 0 5px;}
.cpaddress h4,.cpactivity dd{border-bottom:6px solid transparent;border-image-source:url(../images/theme/theme-border-repeat.png);border-image-repeat:repeat;border-image-slice:0 0 6 0;}
.cpactivity .emailprofile {word-break: break-all;}

.theme-content{position:relative;z-index:1;}
.theme-content section .product-content {min-height:1200px;}
/* toolbar / filter */
.toolbar{padding:0 0 20px 0;z-index:20;}
.toolbar #tool-kelompok.cat_selection{width:160px;}
.toolbar .txtright{text-align:left !important;}
.toolbar #tool-kelompok .cat_display{border:0;}
.toolbar .colfix.fright > ul {float:right;margin-right:3px;}
.toolbar .colfix.fright > ul:nth-child(2) {float:right;margin-right:3px;}
.toolbar .colfix.fright > ul:last-child {float:right;}


/* product list and grid */
.product{margin:0 0 50px;opacity:0;}
.list-content .product{padding:0 85px 0 0;position:relative;background:#fff;box-shadow:-7px 7px 0 #edc479;}
.prd-img{display:table;height:245px;margin:0 auto;max-width:245px;overflow:hidden;table-layout:fixed;width:100%;background:#fff;position:relative;box-shadow:-7px 7px 0 #edc479;}
.prd-img:hover,.list-content .product:hover{box-shadow:-7px 7px 0 #ef704b;transition:box-shadow 0.5s ease 0s;}
.list-content .prd-img{float:left;margin:0 25px 0 0;position:static;box-shadow:none;}
.list-content .prd-img:hover{box-shadow:none;}
.prd-img a{display:table-cell;height:245px;max-width:245px;text-align:center;vertical-align:middle;width:100%;}
.prd-img img{max-height:245px;max-width:245px;}
.prd-name{height:58px;font-size:18px;margin:20px 0;}
.list-content .prd-name{margin-top:40px;}
.prd-name a{color:#784545;}
.prd-name a:hover{color:#ef704b;transition:color 0.3s ease 0s;}
.product .price{color:#0e5ca4;margin:0 0 10px;}
.product .tag{font-size:12px;top:3px;}
.order-min{float:left;} .order-avalaible{float:right;margin:0 20px 0 0;}
.list-content .order-avalaible{margin:0 200px 0 0;}

/* company desc */
.cpdesc{line-height:28px;}
.cpdesc a{color:#d2001e;}
.morecontent span{display:none;}

/* lightbox send message */
.theme-overlay{filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity: 0; background:#000;position:absolute;position:fixed;top:0%;left:0%;width:100%;height:100%;z-index: 500;display:none;}
.lightbox{background:#71cbd3;box-shadow:-7px 7px 0 #3a979e;padding:40px;color:#784545;font:bold 15px/1.3 'Slabo 27px',serif;z-index:501;position:absolute;position:fixed;display:none;top:20%;left:0;right:0;opacity:0;width:50%;}
.lightbox h4{margin:0 0 40px;color:#784545;}
.lightbox dt{float:left;}
.lightbox dd{padding:0 0 15px 120px;}
.lightbox small{font-size:14px;}
.lightbox a{color:#d2001e;}
.lightbox input{margin:0 10px 25px 0;float:left;}
.lightbox .btn{float:right;margin:0;}
#close-lightbox{font-family:arial,helvetica,sans-serif;font-size:21px;position:absolute;top:20px;right:20px;color:#000;}
/* End Index Theme */

/* Start Theme Details */

/* Product Gallery (Thumbnail) */
.prod_gallery{width:500px;margin:0 auto;}
.prod_gallery .imgbox{box-shadow:-7px 7px 0 #edc479;height:500px;}
.preloader{z-index:20;display:none;}
.thumbcontainer{width:500px;height:500px;}
.thumbcontainer span{display:table-cell;width:500px;height:500px;vertical-align:middle;text-align:center;}
.thumbnails{width:460px;margin:30px auto;}
.thumbnail-lists li{float:left;width:50px;height:50px;margin:0 5px 0 0;border:1px solid #edc479;background:#fff;position:relative;}
.thumbnail-lists i{display:none;position:absolute;top:-6px;left:20px;border-width:0 6px 5px;border-color:#784545 transparent;border-style:solid;}
.thumbnail-lists li:hover{border:1px solid #784545}
.thumbnail-lists li:hover i{display:block;}
.thumbnail-lists a{display:table-cell;width:50px;height:50px;vertical-align:middle;text-align:center;}
.thumbnail-lists img{max-height:50px;max-width:50px;}

/* Product Info */
.prd-detail{margin:20px 0;color:#b08767;}
.prd-detail .nav-page{color:#479da4;font-size:21px;}
.prd-detail .nav-page a{color:#784545;font-size:15px;}
.prd-detail .nav-left{background-position:-128px -645px;}
.prd-detail .nav-right{background-position:-144px -645px;width:15px;}
.prd-detail ico{margin:0;}
.prd-detail .prd-name,.cpdetail h3{color:#784545;font-size:30px;}
.info-1 dt,.info-2 dt{float:left;}
.info-1 dd{padding:0 0 0px 150px;}
.price-detail{margin-top:20px;padding:0 0 5px;border-bottom:1px solid #f2c677;}
.price-detail span{margin:0 20px 0 0;}
.price-detail strong{color:#00629c;font-size:32px;margin-left:5px;vertical-align:middle;}
.info-2{border-top:1px solid #ffe6ba;padding-top:20px;}
.info-2 dt{margin-top:15px;}
.info-2 dd{padding:0 0 5px 50px;}
.info-2 dd:last-child{padding-top:15px;}
.info-2 .r{border:1px solid #edc479;padding:15px;background:#fbedd5;width:110px;font-size:13px;}
.info-2 textarea.r{width:100%;height:158px;}
.info-2 .btn{background:#71cbd3;border-color:#5bb9bf;}
.add-prd{float:right;color:#479da4;font-size:21px;margin:0 25px 0 0;}
.add-prd a{color:#784545;font-size:15px;margin:0 10px;}
.add-prd .cart-add{background-position:-159px -641px;width:22px;}
.add-prd .favorite{background-position:-182px -641px;width:22px;margin:0 5px 0 0;}
.prd-detail .nav-page a:hover,.add-prd a:hover{text-decoration:underline;}
.add-prd span{vertical-align:middle;}

/* Product Desc & Info Company */
.toggle-detail{padding:60px 0 60px 15px;}
.toggle-detail a{display:block;padding:10px 15px;font-size:17px;color:#784545;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.toggle-detail a:hover,.toggle-detail a.active{background:#edc479;border:1px solid #dfb363;border-right:0;padding:9px 15px 9px 14px;}
.toggle-detail nav{left:1px;position:relative;z-index:1;}
.cpdetail{border-left:1px solid #dfb363;padding:0 15px;margin:0 0 30px;min-height:250px;}
.cpdetail-sec{margin-top:20px;}
.cpdetail-sec .cpname a{font-size:25px;color:#784545;}
.iconterverifikasi{padding:3px 5px;background:#fff;display:inline-block;border-radius:20px;margin:20px 0;}
.cpdetail-sec .cpact dt{float:left;}
.cpdetail-sec .cpact dd{padding:0 0 5px 150px;}
.cpimg{margin-top:20px;}
.cpimg .cplogo{float:left;box-shadow:none;margin:0 5px 0 0;width:119px;height:119px;}
.cpimg span{width:119px;height:119px;}
.cpimg img{max-width:119px;max-height:119px;}
.listing .verified{margin-left: 5px; border:2px solid #fff; border-radius: 50%; background: #fff}
.verified img{ margin-top:-2px; margin-left: -1px }
.cpact input[type=submit]{padding: 4px 10px;margin: 0 0 0 5px;font-size: 14px;}

/* Read More */

.showmore_content p {margin:0!important;padding:0!important;}

.showmore_content {
position: relative;
overflow: hidden;
}
.showmore_trigger {
width: 100%;
height: 25px;
line-height: 25px;
cursor: pointer;
}
.showmore_trigger span {
display: block;
}
.showmore_trigger span.more {
display: block;
position: relative;
bottom:100px;
}


/* Same Product */
.product-det-bot{padding-top:60px;}
.product-det-bot .title{font-size:26px;color:#784545;text-align:center;margin:0 0 30px;}
.product-det-bot .product{opacity:100;}
.product-det-bot .prd-img{box-shadow:-7px 7px 0 #69abca;}
.product-det-bot .prd-img:hover{box-shadow:-7px 7px 0 #0055a5;}
.product-det-bot .price i{color:#784545;font-weight:normal;font-size:15px;}

.view-all{text-align:right;display:block;color:#784545;font-weight:bold;}

@media screen and (max-width: 1370px){
	body > div:not(.wrapper){min-width: auto;}
}

@media only screen and (max-width: 1199px){
	.in-md-0{width:0;} 
	.in-md-1{width:8.33333333%;} 
	.in-md-2{width:16.66666667%;} 
	.in-md-3{width:25%;} 
	.in-md-4{width:33.33333333%;} 
	.in-md-5{width:41.66666667%;} 
	.in-md-6{width:50%;} 
	.in-md-7{width:58.33333333%;} 
	.in-md-8{width:66.66666667%;} 
	.in-md-9{width:75%;} 
	.in-md-10{width:83.33333333%;} 
	.in-md-11{width:91.66666667%;} 
	.in-md-12{width:100%;}

	.wrapper,.footer-content .wrapper{width:950px;padding:0;}
	
	/*header */
	.full-container{padding-top:110px;}
	.theme-header{height:110px;}
	.theme-hsearch{width:89%;}
	.theme-userinfo{padding:15px 0 5px;}
	.theme-srcbox{width:100%;display:block;box-shadow:none !important;border:1px solid #DDD;border-right:0 !important;}
	.theme-srcbox div:nth-child(1){width:40%;}
	.theme-srcbox .cat_selection{width:25%;}
	.theme-srcbox .divcat_display{width:100%;}
	.theme-srcbox .theme-src-btn{padding:0 0 !important;width:9.5% !important;}
	.theme-srcbox input[type="text"]{width:100%;display:block;}
	.notif-bubble{height:auto !important;margin-left:5px;}
	.totop.showme{top:110px;}
	
	.theme-container{padding: 0 !important;}
	
	.accent-one{border-width:480px 0 0 1465px;}
	.accent-four{top:380px;}
	.accent-six{border-width:500px 0 0 950px;top:-499px;}
	
	.cplogo,.cplogo span{width:130px;height:130px;}
	.cplogo img{max-width:130px;max-height:130px;}
	
	.sidebar{padding:0;}
	
	.toolbar .w40{width:28%;}
	.toolbar .w60{width:72%;}
	.toolbar #tool-kelompok.cat_selection{width:170px;}
	
	.prd-img,.prd-img a{width:190px;height:190px;overflow:hidden;}
	.prd-img img{max-width:190px;max-height:190px;}
	
	.list-content .in-md-4{width:100%;}
	
	/*detail */
	.prod_gallery{width:445px;}
	.prod_gallery .imgbox{height:445px;}
	.thumbcontainer{width:445px;height:445px;}
	.thumbcontainer span{width:445px;height:445px;}
	.thumbnails{width:445px;}
	.thumbnail-lists li,.thumbnail-lists a{width:48px;height:48px;}
	.thumbnail-lists img{max-width:48px;max-height:48px;}
	
	.prd-detail .prd-name{height:auto;}
	.price-detail strong{font-size:27px;}
	
	.info-2 .btn{display:block;width:100%;}
	.add-prd{float:none;display:block;margin:0;text-align:center;}
	
	.cpdetail{margin:0 0 70px;}
	.cpimg .cplogo{margin:0 5px 5px 0;}
	.cpimg span{width:119px;height:119px;}
	.cpimg img{max-width:119px;max-height:119px;}
	
	.product-det-bot{padding-top:60px !important;}
}

@media only screen and (max-width: 991px){
	.in-xm-0{width:0;} 
	.in-xm-1{width:8.33333333%;} 
	.in-xm-2{width:16.66666667%;} 
	.in-xm-3{width:25%;} 
	.in-xm-4{width:33.33333333%;} 
	.in-xm-5{width:41.66666667%;} 
	.in-xm-6{width:50%;} 
	.in-xm-7{width:58.33333333%;} 
	.in-xm-8{width:66.66666667%;} 
	.in-xm-9{width:75%;} 
	.in-xm-10{width:83.33333333%;} 
	.in-xm-11{width:91.66666667%;} 
	.in-xm-12{width:100%;}
	
	.wrapper,.footer-content .wrapper{width:720px;padding:0;}
	
	/*header */
	.theme-srcbox .cat_selection{width:23%;}
	.theme-srcbox .theme-src-btn{width:13.4% !important;}
	
	.cp .in-xm-8{position:relative;z-index:1;}
	.accent-four,.accent-nine,.accent-five{display:none;}
	.accent-six{border-width:500px 0 0 720px}
	.cp-fixed .cpinfo{position:relative;top:0;}
	
	.cpinfo{padding:0 0 60px;}
	.cpinfo .cpaddress,.cpinfo .cpcat,.cpinfo .cpactivity{float:left;width:33.33333333%;box-sizing:border-box;}
	.cpinfo .cpcat,.cpinfo .cpactivity{margin:0;}
	.cpcat dt{margin-left:35px;}
	.cpinfo .btn{position:absolute;right:0;bottom:30px;}
	
	.accent-three{top:0;}
	
	.cp2 .cplogo,.cp2 .cplogo span{width:100px;height:100px;}
	.cp2 .cplogo img{max-width:100px;max-height:100px;}
	
	/*detail */
	.prod_gallery{width:330px;}
	.prod_gallery .imgbox{height:330px;}
	.thumbcontainer{width:330px;height:330px;}
	.thumbcontainer span{width:330px;height:330px;}
	.thumbnails{width:330px;}
	.thumbnail-lists li{margin:0 10px 15px;}
	.thumbnail-lists li,.thumbnail-lists a{width:60px;height:60px;}
	.thumbnail-lists img{max-width:60px;max-height:60px;}
	.thumbnail-lists i{left:25px;}

	.prd-detail .prd-name{font-size:24px;}
	.info-2 dd{padding:0 0 5px 35px;}
	.info-2 .r{padding:10px 15px;}
	.price-detail strong{font-size:17px;}
	.info-2 textarea.r{height:100px;}
	.add-prd{white-space:nowrap;}
	.add-prd a{margin:0;}
	
	.cpdetail{margin:0 0 90px;	}
	.cpdetail-sec .cplogo,.cpdetail-sec .cplogo span{width:97px;height:97px;}
	.cpdetail-sec .cplogo img{max-width:97px;max-height:97px;}
	
	.product-det-bot .prd-name{text-align:center;}

		.product-content .in-lg-3 {width:33.3%;}
		.theme-container .in-lg-6 {width:100%;}
	
}

@media only screen and (max-width: 767px){
	.in-sm-0{width:0;} 
	.in-sm-1{width:8.33333333%;} 
	.in-sm-2{width:16.66666667%;} 
	.in-sm-3{width:25%;} 
	.in-sm-4{width:33.33333333%;} 
	.in-sm-5{width:41.66666667%;} 
	.in-sm-6{width:50%;} 
	.in-sm-7{width:58.33333333%;} 
	.in-sm-8{width:66.66666667%;} 
	.in-sm-9{width:75%;} 
	.in-sm-10{width:83.33333333%;} 
	.in-sm-11{width:91.66666667%;} 
	.in-sm-12{width:100%;} 
	
	.wrapper,.footer-content .wrapper{width:450px;padding:0;}
	
	/*header */
	.full-container{padding-top:0;}
	.theme-header{position:relative !important;min-height:165px;}
	.theme-header .logo{display:block;margin:0 auto;}
	.theme-srcbox .theme-src-btn{width:13.3% !important;}
	.theme-headsrcbox{margin:15px 0;}
	.theme-userinfo{padding:0;}
	.theme-userinfo ul{float:none;margin:0;text-align:center;}
	.totop.showme{top:0;}
	
	.accent-six{border-width:500px 0 0 450px}
	
	.cp{text-align:center;}
	.cplogo{margin:0 auto 30px;position:relative;z-index:2;}
	.cpname{font-size:28px;}
	
	.accent-three{display:none;}
	.accent-seven{margin:25px auto;}
	
	.cpinfo .cpaddress,.cpinfo .cpcat,.cpinfo .cpactivity{float:none;width:100%;}
	.cpinfo .cpcat,.cpinfo .cpactivity{margin:20px 0;}
	.cpcat dt{margin:0;}
	.cpinfo .btn{left:0;}
	.toolbar{padding:20px 0;}
	.toolbar .w40,.toolbar .w60{width:100%;}
	.toolbar .w60 ul:first-child{margin:0 7px 0 85px !important;}
	.toolbar .w60 ul:last-child{margin:10px 0 10px 85px !important;}
	.toolbar .mg0{margin-left:85px !important;}
	.toolbar #tool-kelompok.cat_selection{width:218px;}
	
	.list-content .product{padding:10px 15px 0 0;}
	.list-content .prd-img,.list-content .prd-img a{width:100px;height:100px;}
	.list-content .prd-img{margin:35px 13px 0 12px;}
	.list-content .prd-img img{max-width:100px;max-height:100px;}
	.list-content .prd-name{font-size:15px;margin:40px 0 10px;}
	.list-content .order-avalaible{margin:0;}
	.list-content .order-min{margin:0 0 15px 0;}
	.list-content .product .price{margin-left:125px;}
	
	.cpdesc{text-align:justify;}
	
	/* detail */
	.toggle-detail{padding:20px 0;}
	.toggle-detail a:hover, .toggle-detail a.active{border:1px solid #dfb363;}
	
	.cpdetail{border:0;margin:0 0 165px;}
	.cpdetail .cp{text-align:left;}
	.cpdetail-sec .cplogo, .cpdetail-sec .cplogo span{width:70px;height:70px;}
	.cpdetail-sec .cplogo img{max-width:70px;max-height:70px;}
	
	.product-det-bot{padding-top:90px !important;}
	
	.footer-content{height:440px;}
	.full-container2{margin-bottom:14px;}

	.product-content .in-lg-3 {width:50%;}
}

@media only screen and (max-width: 478px){
	.in-xs-0{width:0;} 
	.in-xs-1{width:8.33333333%;} 
	.in-xs-2{width:16.66666667%;} 
	.in-xs-3{width:25%;} 
	.in-xs-4{width:33.33333333%;} 
	.in-xs-5{width:41.66666667%;} 
	.in-xs-6{width:50%;} 
	.in-xs-7{width:58.33333333%;} 
	.in-xs-8{width:66.66666667%;} 
	.in-xs-9{width:75%;} 
	.in-xs-10{width:83.33333333%;}
	.in-xs-11{width:91.66666667%;} 
	.in-xs-12{width:100%;}
	
	.wrapper,.footer-content .wrapper{width:290px;}
	
	/*header */
	.theme-header{height:200px;}
	.theme-userinfo .submenu li {width:92% !important;border-right:0 !important;border-bottom:0 !important;}
	.submenu ul.cart-list{width:96% !important;}
	.submenu ul.cart-list li{width:96% !important;border:0;}
	.theme-userinfo ul{float:none;}
	.theme-srcbox .theme-src-btn{width:13.1% !important;}
	.theme-userinfo .theme-userinfo-content li{width:46%;border-bottom:1px solid #DDD;border-radius:0;border-right: 1px solid #DDD;padding:10px 5px 5px 10px;}
	.theme-userinfo .theme-userinfo-content li:nth-child(2){border-right:0;}
	.theme-userinfo .theme-userinfo-content li:nth-child(3){border-bottom:0 !important;}
	.theme-userinfo .theme-userinfo-content li:nth-child(4){border-bottom:0 !important;border-right:0;}
	
	.accent-six{border-width:500px 0 0 290px}
	.accent-eleven{right:0;}
	
	a.btn-view,.cppriority{display:block;}
	.cppriority{margin:10px 0 0;}
	
	.toolbar .w60 ul:first-child{margin:0 7px 0 10px !important;}
	.toolbar .w60 ul:last-child{margin:10px 0 10px 10px !important;}
	.toolbar .mg0{margin-left:10px !important;}
	
	.list-content .product{padding:0 10px 0 0;}
	.list-content .prd-img,.list-content .prd-img a{width:50px;height:50px;}
	.list-content .prd-img img{max-width:50px;max-height:50px;}
	.list-content .order-min{margin:0 0 15px 75px;}
	.list-content .product .price{margin-left:75px;}
	
	/*detail */
	.prod_gallery{width:260px;}
	.prod_gallery .imgbox{height:260px;}
	.thumbcontainer{width:280px;height:260px;}
	.thumbcontainer span{width:260px;height:260px;}
	.thumbnails{width:260px;}
	.thumbnail-lists li{margin:0 10px 15px;}
	.thumbnail-lists li,.thumbnail-lists a{width:43px;height:43px;}
	.thumbnail-lists img{max-width:43px;max-height:43px;}
	.thumbnail-lists i{left:15px;}
	
	.price-detail span{display:block;}
	.info-2 dd:last-child{position:relative;}
	.add-prd{bottom:-30px;left:-22px;position:absolute;}
	
	.footer-content{height:600px;}
	.full-container2{margin-bottom:174px;}
}

@media only screen and (max-width: 395px){
	/*header */
	.theme-header{height:260px;}
	.theme-userinfo-content .submenu ul {width:96% !important;}
	.theme-userinfo-content .submenu ul>li{width:100% !important;border:none !important;}
	.theme-userinfo-content .submenu ul.cart-list{width:96% !important;}
	.theme-userinfo-content .submenu ul.cart-list li{width:96% !important;border:0;}
	.theme-userinfo ul{float:none;}
	.theme-headsrcbox {height:123px;margin:15px 0 0;}
	.theme-srcbox div:nth-child(1){width:100%;border-right:1px solid #DDD;}
	.theme-srcbox div:nth-child(2){border-right:0;}
	.theme-userinfo .theme-userinfo-content li{width:45%;}
	.theme-srcbox #propinsi_selector{border-right:1px solid #DDD;}
	.theme-srcbox .cat_selection{width:49.4%;border-bottom:1px solid #DDD;}
	.theme-srcbox .theme-src-btn{width:100% !important;border-radius:0 !important;}
	.theme-userinfo .akun{margin-right:3px;}
	.theme-userinfo .notif-bubble{padding:3px 3px;}
}
theme.css
10 of 10 items
.DS_Storedashboard.cssdetail.cssfont.cssglobal.csshome.csslisting.cssquickview.cssstatic.csstheme.cssDisplaying theme.css.