	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			<strong class="biggest">302</strong><br />page is misplaced
		<hr size="1"></div>
			<div class="colfix w100 txtcenter">
			<a href="./"> <input type="submit" value="Home"></a>
			</div>
		<div class="clear"></div>
	</div>
</div>



