<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Akun anda sudah aktif
		<hr size="1"></div>
		<div class="colfix w100 txtcenter deskripsi-landing">Silahkan klik tautan berikut <a href="?page=static&view=login">ini untuk login</a>.</div>
		<div class="clear"></div>
	</div>
</div>