

<style type="text/css">
@import 'https://fonts.googleapis.com/css?family=Roboto';

*{margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}
#allprint-content{
    font:17px/28px 'Roboto', sans-serif;
    padding:50px 0 0;
    
}

h1,h2,h3,h4,h5,h6,p{margin:0;}

ul{
    list-style: none;
}
.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}
.wrapper{
    width:1200px;
    margin:0 auto;
    position:relative;
}
.allprint-head,.allprint-one span,.allprint-two,.allprint-three .allprint-accent,.allprint-eo i{
    background:url(assets/images/fair/allprint-sprites.jpg) no-repeat;
}
.allprint-wrapper{
    width:1120px;
    margin:0 auto;
    position:relative;
}
.allprint-head{
    background-position:0 0;
    padding:140px 0;
    text-align:right;
}
.allprint-head h1{
    font-size:45px;
    text-shadow:3px 3px 2px #ca1351;
    color:#fff;
    margin:0 115px 0 0;
    letter-spacing:4px;
}
.allprint-head h4{
    font-size:19px;
    margin:35px 115px 20px 0;
    color:#fff;
    font-weight:normal;
}
.allprint-head p{
    margin:0 115px 0 0;
    color:#fff;
}
.allprint-one{
    padding:35px 0 52px;
    color:#555;
    background:#eee;
}
.allprint-one article{
    float:left;
    width:685px;
    line-height:36px;
}
.allprint-one span{
    width:479px;
    height:468px;
    position:absolute;
    background-position:-1200px 0;
    top:-20px;
    right:-40px;
}
.allprint-two{
    text-align:center;
    padding:65px 0 50px;
    background-position:0 -446px;
    color:#fff;
}
.allprint-two h3{
    font-size:21px;
    color:#fff;
}
.allprint-two div{
    width:1030px;
    margin:10px auto 20px;
}
.allprint-two span{
    margin:0 20px 0 0;
    line-height:36px;
    white-space:nowrap;
}
.allprint-two h4{
    color:#ffec18;
    font-size:21px;
    font-weight:normal;
}
.allprint-three{
    padding:50px 0;
    background:#eee;
    text-align:center;
    line-height:36px;
    color:#ca1c83;
    position:relative;
}
.allprint-three .allprint-wrapper{
    width:935px;
}
.allprint-three h3{
    color:#ca1c83;
    font-size:21px;
    margin:0 0 50px;
    font-weight:bold;
    line-height:32px;
}
.allprint-three a{
    color:#0c81f9;
}
.allprint-three .allprint-accent{
    width:1200px;
    height:32px;
    background-position:0 -741px;
    position:absolute;
    left:0;
    bottom:-32px;
}
.allprint-eo{
    padding:60px 0 0;
    color:#333;
    background:;
    line-height:32px;
    text-align:center;
    font-size:15px;
}
.allprint-eo i{
    display:block;
    background-position:-1200px -468px;
    width:52px;
    height:64px;
    margin:0 auto 20px;
}
.allprint-eo h3{
    margin:20px 0;
    color:#333;
    font-size:18px;
}
</style>
<div id="allprint-content">
    <div class="wrapper">
    <section class="allprint-head">
    <div class="allprint-wrapper">
    <h1>ALLPRINT INDONESIA 2016</h1>
    <h4>THE DEDICATED B2B PLATFORM  For International Printing &amp; Papers Industry</h4>
    <p>5 – 8 Oktober 2016 | JIEXPO, Jakarta</p>
    </div>
    </section>
    <section class="allprint-one">
    <div class="allprint-wrapper con">
    <article>Kebutuhan percetakan menjadi hal utama pada kelangsungan aktivitas bisnis. Dengan semakin berkembangnya teknologi tidak membuat industri percetakan dihilangkan dari kebutuhan bisnis. Berkembangnya teknologi memberikan dampak positif bagi industri percetakan untuk memperbaiki kualitas mesin, jasa percetakan sekaligus hasil percetakan.<br><br>Menjadi salah satu platform <strong>B2B, ALLPRINT 2016</strong> kembali diselenggarakan oleh KRISTAMEDIA. Pameran berskala internasional yang akan menampilkan berbagai teknologi seputar dunia percetakaan. ALLPRINT 2016  diharapkan dapat mendorong pelaku usaha industri percetakan untuk menghasilkan produk yang berkualitas serta memberikan informasi mengenai perkembangan teknologi terbaru di bidang percetakan. </article>
    <span></span>
    </div>
    </section>
    <section class="allprint-two">
    <div class="allprint-wrapper">
    <h3>ALLPRINT 2016 akan menampilkan berbagai teknologi percetakan seperti:</h3>
    <div><span>Cetak Digital</span><span>Cetak Sablon</span><span>Cetak Offset</span><span>Cetak Garment</span><span>Cetak Tekstil</span><span>Mesin Cutting</span><span>Mesin Finishing</span><span>Cetak 3d, Led / Signage</span><br><span>Jasa Cetak</span><span>Tinta Dan Produk Gift / Bahan Promosi.</span>
    </div>
    <h4>Kunjungi pameran ini, eksplor bisnis Anda di bidang printing lebih luas lagi!</h4>
    </div>
    </section>
    <section class="allprint-three">
    <div class="allprint-wrapper">
    <h3>Temukan partner dan perluas relasi bisnis secara online di Indonetwork.co.id<br>Kunjungi booth kami dalam pameran ini!</h3>
    <p><a href="http://www.indonetwork.co.id/" target="_blank">Indonetwork.co.id</a> memberikan peluang bagi para pebisnis  di bidang printing untuk menemukan partner baru &amp; memperluas jaringan relasi melalui promosi online. Ingin bisnis lebih optimal? Daftarkan bisnis Anda menjadi Prioritas Indonetwork! Harga khusus Anggota Prioritas hanya bisa Anda dapatkan selama pameran berlangsung.</p>
    </div>
    <span class="allprint-accent"></span>
    </section>
    <section class="allprint-eo">
    <div>
    <i class="alprint-eologo"></i>
    <h3>KRISTAMEDIA PRATAMA</h3>
    <p>Jl. Blandogan no.28 D/G - Jakarta 11220 - <br>Tel: +62-21. 6345861, 6345862, 6334851, 6345002  Fax: +62-21. 634 0140, 634 2113  E-mail: info@kristamedia.com</p>
    </div>
    </section>
    </div>
</div>
