
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

*{margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}
#bex-content{
    font:15px/28px 'Roboto', sans-serif;
    color:#4c4b4b;
}

.bex-content {
    width:1200px;
    margin:0 auto;
    position:relative;
}

.bex-content h1,.bex-content h2,.bex-content h3,.bex-content h4,.bex-content h5,.bex-content h6,.bex-content p{margin:0;}


ul{
    list-style: none;
}
.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}

.bex-logo,.bex-twoaksenbig,.bex-twoaksen1,.bex-twoaksen2,.bex-beam .bex-title i,.bex-otherevent .bex-title i,.bex-beamaksen,.bex-ulbeam i,.bex-five .bex-eologo,.bex-ulotherevent i,.bex-four i{
    background:url(assets/images/fair/bex-sprites.jpg) no-repeat;
}
.wrap-deep{
    margin-left:130px;
}
.bex-one{
    background:#cae1f4 url(assets/images/fair/bex-onebg.jpg) no-repeat;
    margin-top:30px;
}
.bex-one .wrap-deep{
    padding-top:30px;
}
.bex-logo{
    width:250px;
    height:95px;
    background-position:0 0;
    text-indent:-99999px;
}
.bex-info{
    padding:70px 0 80px;
}
.bex-info h2,.bex-info h3{
    font-size:60px;
    color:#060e49;
    text-shadow:4px 0 0 #97d1fa;
    line-height:70px;
}
.bex-info h3{
    font-weight:lighter;
}
.bex-info p{
    color:#060e49;
    margin-top:30px;
    font-weight:lighter;
}
.bex-two{
    background:#0e519f;
    color:#fff;
    padding:72px 0;
    position:relative;
}
.bex-twoaksenbig{
    position:absolute;
    width:422px;
    height:479px;
    right:0;
    top:0;
    background-position:0 -241px;
}
.bex-twoaksen1{
    position:absolute;
    bottom:100px;
    left:60px;
    background-position:0 -95px;
    width:57px;
    height:69px;
}
.bex-twoaksen2{
    position:absolute;
    bottom:180px;
    left:650px;
    background-position:-57px -95px;
    width:25px;
    height:25px;
}
.bex-two p{
    width:795px;
    position:relative;
    z-index:2;
}
.bex-two strong{
    color:#f2cb13;
}
.bex-three{
    background:#eee;
    padding:65px 0;
}
.bex-beam{
    margin:0 0 125px;
    position:relative;
}
.bex-beam .bex-title,.bex-otherevent .bex-title{
    color:#be7013;
    font-size:19px;
    font-weight:500;
    margin:20px 0 80px;
    position:relative;
}
.bex-beam .bex-title i,.bex-otherevent .bex-title i{
    position:absolute;
    width:124px;
    height:132px;
    left:0;
    top:-70px;
    background-position:-250px 0;
    
}
.bex-beam .bex-title span,.bex-otherevent .bex-title span{
    margin-left:20px;
    position:relative;
    z-index:2;
}
.bex-beamaksen{
    position:absolute;
    right:30px;
    top:100px;
    width:373px;
    height:312px;
    background-position:0 -720px;
}
.bex-ulbeam{
    width:710px;
}
.bex-ulbeam li{
    float:left;
    width:350px;
    padding:30px 20px;
    box-sizing:border-box;
    height:141px;
    position:relative;
}
.bex-ulbeam span{
    position:relative;
    z-index:2;
}
.bex-ulbeam i{
    position:absolute;
    width:37px;
    height:21px;
    right:40px;
    bottom:20px;
}
.bex-ulbeam li:nth-child(1){
    background:#a9cc5c;
    margin:0 0 20px;
}
.bex-ulbeam li:nth-child(1) i,.bex-ulbeam li:nth-child(4) i{
    background-position:-82px -95px;
}
.bex-ulbeam li:nth-child(2){
    background:#f0b83d;
    margin:0 0 20px;
    border-left:15px solid #e8b42e; 
}
.bex-ulbeam li:nth-child(2) i{
    background-position:-82px -116px;
}
.bex-ulbeam li:nth-child(3){
    background:#4791dc;
}
.bex-ulbeam li:nth-child(3) i{
    background-position:-82px -137px;
}
.bex-ulbeam li:nth-child(4){
    background:#a9cc5c;
    border-left:15px solid #408ece;
}
.bex-ulotherevent li{
    float:left;
    width:33.33%;
    text-align:center;
}
.bex-ulotherevent i{
    display:block;
    width:68px;
    height:77px;
    margin:0 auto 30px;
}
.bex-ulotherevent li:nth-child(1) i{
    background-position:0 -164px;
}
.bex-ulotherevent li:nth-child(2) i{
    background-position:-250px -132px;
}
.bex-ulotherevent li:nth-child(3) i{
    background-position:-318px -132px;
}
.bex-four{
    background:#2266cc;
    color:#fff;
    padding:75px 0;
    position:relative;
}
.bex-four .bex-fouraksen1{
    position:absolute;
    width:53px;
    height:48px;
    background-position:-68px -178px;
    bottom:0;
    left:0;
}
.bex-four .bex-fouraksen2{
    position:absolute;
    width:261px;
    height:53px;
    background-position:0 -1037px;
    bottom:0;
    right:0;
}
.bex-four h3{
    font-size:19px;
    margin:0 0 50px;
    font-weight:600;
    color:#fff;
}
.bex-five{
    background:#f8f8f8;
    padding:40px 0;
    text-align:center;
}
.bex-five .bex-eologo{
    width:125px;
    height:80px;
    margin:0 auto 20px;
    display:block;
    background-position:-119px -95px;
}
</style>
<div id="bex-content">
<div class="wrapper">
<div class="bex-content">
<section class="bex-one">
<div class="wrap-deep">
<h1 class="bex-logo">Balikpapan Industrial Expo 2016</h1>
<div class="bex-info">
<h2>3<sup>rd</sup> BEX 2016</h2>
<h3>Balikpapan<br>Industrial Expo</h3>
<p>20 - 22 September 2016 | 10.00 AM - 18.00 PM<br>Balikpapan Sport Convention and Centre (DOME Balikpapan)</p>
</div>
</div>
</section>
<section class="bex-two">
<div class="wrap-deep">
<p><strong>Balikpapan Industrial Expo 2016,</strong> pameran internasional tahun ke-3 yang di selenggarakan di<br>Indonesia mengenai Permesinan, Teknologi, Peralatan, Komponen &amp; Jasa Migas,<br>Pertambangan, Kelistrikan dan Energi, Kebutuhan Infrastruktur di Seluruh Dunia.<br><br>
Diselenggarakan dengan tujuan  untuk menembus kota kunci Migas dan Pertambangan di Indonesia<br>"Balikpapan" yang statusnya sebagai "Kota Minyak" saat ini juga membuka peluang di industri lepas<br>pantai karena ladang minyak utama terletak di lepas pantai Tunu, Tambora, dan Handil dimiliki oleh Total.<br>Pertamina juga menduduki hampir 40% dari Balikpapan.<br><br>
Event perdana ini telah menarik lebih dari 5000 pengunjung dan bisnis potensial senilai USD 10 Million.<br>Pameran terdepan ini akan menampilkan mesin-mesin, teknologi, peralatan, komponen dan layanan,<br>jasa terbaru, menjadi salah satu pameran dan konferensi terkemuka untuk Asia Tenggara.
</p>
</div>
<span class="bex-twoaksenbig"></span>
<span class="bex-twoaksen1"></span>
<span class="bex-twoaksen2"></span>
</section>
<section class="bex-three">
<div class="wrap-deep">
<div class="bex-beam">
<h3 class="bex-title"><span>SOROTAN BALIKPAPAN INDUSTRIAL EXPO 2016</span><i></i></h3>
<ul class="bex-ulbeam con">
<li><span>Lebih dari 5.000 Pengunjung yang berkualitas dari berbagai industri Minyak dan Gas, Kelistrikan, Energi dan Industri Pertambangan!</span><i></i></li>
<li><span>Lebih dari 100 peserta internasional dari dalam maupun luar negeri</span><i></i></li>
<li><span>Seminar Teknologi Migas dan Pertambangan, Demo Live dari perusahaan Alat Keselamatan &amp; display brand ternama</span><i></i></li>
<li><span>Penyediaan lokasi outdoor untuk menampilkan alat-alat berat, Teknologi Migas, Infrastruktur dan Pertambangan</span><i></i></li>
</ul>
<span class="bex-beamaksen"></span>
</div>
<div class="bex-otherevent">
<h3 class="bex-title"><span>JANGAN LEWATKAN JUGA 3 PAMERAN INDUSTRI LAIN YANG DISELENGGARAKAN :</span><i></i></h3>
<ul class="bex-ulotherevent con">
<li><i></i><p>Minyak dan Gas Expo Indonesia 2016</p></li>
<li><i></i><p>Tambang Expo Indonesia 2016</p></li>
<li><i></i><p>Kelistrikan Expo Indonesia 2016</p></li>
</ul>
</div>
</div>
</section>
<section class="bex-four">
<div class="wrap-deep">
<h3>TEMUKAN PELUANG BISNIS ONLINE DAN PARTNER BISNIS ONLINE ANDA DI INDONETWORK.CO.ID</h3>
<p>Datang dan kunjungi booth kami di pameran ini !<br>Indonetwork.co.id sebagai Direktori B2B Online terbesar di Indonesia turut berpartisipasi dalam pameran ini. Memberikan<br>edukasi, sharing informasi mengenai promosi online terkini, dan memberikan peluang bisnis online untuk memperluas<br>relasi maupun  pasar hingga ke mancanegara.  Konsultasikan bisnis dan tingkatkan profesionalitas bisnis online dengan<br>Prioritas Indonetwork.</p>
</div>
<i class="bex-fouraksen1"></i>
<i class="bex-fouraksen2"></i>
</section>
<section class="bex-five">
<span class="bex-eologo"></span>
<p>PT. Messe Internasional Media<br>H9 Ruko ITC Cempaka Mas | Jl. Letjen Suprapto, Jakarta 10640 | (+62-21) 422 3373/ 422 3319 | info@messemedia.com<br>www.expobalikpapan.com</p>
</section>
</div>
</div>
</div>
<div class="clear"></div>