<div class="breadcrump">
	<div class="wrapper">
		<ul>
			<li><ico class="kategori"></ico> Semua Kategori 
				<?php include($html_path.'kategori.html'); ?>
			</li>
			<li>Otomotif &amp; Transportasi
				<?php 
					if ($page_view == "listing" ) {	
						include($html_path.'kategori-otomotif.html'); 				
					} else if ($page_view == "listing-request" ) {	
						include($html_path.'kategori-otomotif.html'); 				
					}
				?>				
			</li>
			<li>Otomotif &amp; Transportasi
				<?php 
					if ($page_view == "listing" ) {	
						include($html_path.'kategori-sub-2.html'); 				
					} else if ($page_view == "listing-request" ) {	
						include($html_path.'kategori-sub-2.html'); 				
					}
				?>				
			</li>
			<li>Tranportasi
				<?php 
					if ($page_view == "listing" ) {	
						include($html_path.'kategori-otomotif.html'); 				
					} else if ($page_view == "listing-request" ) {	
						include($html_path.'kategori-otomotif.html'); 				
					}
				?>
			</li>
			<li>Otomotidfsdff
				<?php 
					if ($page_view == "listing" ) {	
						include($html_path.'kategori-sub-2.html'); 				
					} else if ($page_view == "listing-request" ) {	
						include($html_path.'kategori-sub-2.html'); 				
					}
				?>
			</li>
		</ul>

<?php 
	if ($page_view == "listing" ) {	
		include($html_path.'kategori-otomotif.html'); 				
	} else if ($page_view == "listing-request" ) {	
		include($html_path.'kategori-otomotif.html'); 				
	}
?>

	</div>
</div>