	<div class="wrapper">
		<div class="static-head colfix w25">
			<div>
				<h1>Cara Menggunakan</h1>
			</div>
			<ul>
				<li><a href="#1">Sebagai pengusaha dan penjual</a>
					<ul>
						<li><a href="#1a">Memasang dan menjual produk</a></li>
						<li><a href="#1b">Mengaktifkan dan menon-aktifkan produk</a></li>
						<li><a href="#1c">Penawaran untuk produk anda</a></li>
						<li><a href="#1d">Menerima penawaran</a></li>
						<li><a href="#1e">Transaksi jual</a></li>
						<li><a href="#1f">Mengirim pesanan</a></li>
						<li><a href="#1g">Mengirim pesanan</a></li>
						<li><a href="#1h">Promo produk anda</a></li>
					</ul>
				</li>
				<li><a href="#2">Sebagai vendor</a></li>
				<li><a href="#3">Sebagai pembeli</a></li>
				<li><a href="#4">Transaksi aman</a></li>
				<li><a href="#5">Pengiriman</a></li>
				
			
			</ul>
		</div>
			
		<div class="static-text colfix w75">
			
			<p>Selamat datang di www.Indonetwork.co.id. Halaman ini berisi syarat dan ketentuan mengenai pemakaian jasa yang ditawarkan Indonetwork terkait penggunaan Situs www.indonetwork.co.id (<strong>“Syarat dan Ketentuan”</strong>). </p>
			<p>Silakan membaca Syarat dan Ketentuan ini terlebih dahulu sebelum menggunakan Situs, karena dengan mendaftar, menggunakan, mengakses, dan/atau mengunduh dalam Situs Indonetwork, Anda dianggap telah menerima, memahami, menyetujui, serta sepakat untuk mematuhi semua isi dalam Syarat dan Ketentuan ini. Apabila Anda tidak setuju atas Syarat dan Ketentuan ini, Kami mempersilakan Anda untuk tidak melanjutkan penggunaan Situs. </p>
			<p>Apabila Anda tidak mematuhi Syarat dan Ketentuan ini, Kami berhak menghentikan akses Anda ke Layanan dan/atau akun pengguna Anda dan mengambil langkah hukum yang diperlukan atas tindakan Anda, apabila ada. Kami juga berhak menghapus akun Pengguna dan semua informasi dan/atau file terkait dengan akun Anda.</p>
			<a id="1" class="anchor"></a>
			<h4>Definisi</h4>
				<ul>
					<li><p><strong>Indonetwork</strong> atau <strong>Kami</strong> adalah suatu Perusahaan yang didirikan berdasarkan dan tunduk kepada hukum Republik Indonesia, dengan nama PT Indonetwork Mitra Utama, yang mempunyai bisnis utama menyediakan platform untuk perantara pertemuan antara Penjual dan Pembeli secara online. </p></li>
					<li><p><strong>Situs</strong> adalah website www.Indonetwork.co.id, beserta Domain/Subdomain yang ditawarkan dan dikelola oleh Indonetwork.</p></li>
					<li><p><strong>Pengguna</strong> atau <strong>Anda</strong> adalah setiap pihak yang menggunakan Layanan Indonetwork, termasuk namun tidak terbatas pada Pembeli, Penjual ataupun pihak lain yang berkunjung ke Situs Indonetwork.</p></li>
					<li><p><strong>Penjual</strong> adalah Pengguna terdaftar yang melakukan penawaran atas Barang kepada Pengguna Situs.</p></li>
					<li><p><strong>Pembeli</strong> adalah Pengguna terdaftar yang melakukan pemintaan atas Barang kepada Pengguna Situs.</p></li>
					<li><p><strong>Layanan</strong> berarti informasi, layanan dan/atau fungsi yang disediakan dalam Situs.</p></li>
				
				</ul>
			<a id="2" class="anchor"></a>
			<h4>Pengguna</h4>
			<ul>
				<li>Pengguna Indonetwork wajib mengisi data pribadi secara akurat, lengkap dan benar dalam profil Pengguna, sesuai dengan peraturan perundang-undangan yang berlaku.</li>
				<li>Pengguna wajib menjaga data pribadi miliknya dari kehilangan/kerusakan, termasuk tetapi tidak terbatas pada upaya mencegah agar data pribadi miliknya tidak disalahgunakan oleh pihak lain.</li>
				<li>Pengguna bertanggungjawab atas keamanan akun, termasuk dengan penggunaan e-mail dan password akun.</li>
				<li>Pengguna dilarang menyampaikan setiap jenis konten apapun yang mengandung/bersinggungan dengan unsur SARA, diskriminasi, menebar kebencian, dan/atau menyudutkan pihak lain.</li>
				<li>Pengguna dilarang untuk memalsukan informasi diri sendiri untuk diberikan ke Indonetwork atau pemakai lainnya yang berhubungan dengan penggunaan jasa di Indonetwork.</li>
				<li>Pengguna sepakat untuk tidak menggunakan Situs ini untuk melanggar hukum, atau untuk penyalahgunaan informasi kepemilikan atau informasi milik orang lain untuk tujuan pribadi atau lainnya, dan tidak mengirim pesan-pesan yang mengancam atau memfitnah atau jenis perusakan lainnya yang mengarah ke keamanan, bisnis, atau reputasi lainnya.</li>
				<li>Pengguna wajib tunduk dan patuh pada peraturan perundang-undangan yang berlaku serta hukum yang berlaku di Republik Indonesia serta tunduk dan patuh pada Syarat dan Ketentuan Umum dan Kebijakan Privasi. Segala tindakan yang bertentangan, melanggar, tidak sesuai termasuk tidak terbatas pada ketidakpatuhan pada peraturan perundang-undangan menjadi tanggung jawab Pengguna sepenuhnya.</li>
			</ul>
			<a id="3" class="anchor"></a>
			<h4>Batasan Tanggung jawab</h4>
			<p>Mengirim atau menempatkan segala bentuk informasi yang tidak berhubungan dengan tema situs Indonetwork.</p>
			<ul>
				<li>Pengguna mengetahui dan menyetujui bahwa Pengguna menggunakan Layanan dan/atau Situs atas risiko sendiri. Setiap risiko kesalahpahaman, kesalahan, kerusakan, biaya atau kerugian yang diakibatkan dari penggunaan Situs adalah sepenuhnya risiko Pengguna</li>
				<li>Indonetwork tidak bertanggungjawab atas kebenaran isi, konten, materi, data, deskripsi, gambar maupun informasi yang terdapat dalam Situs, termasuk terkait dengan barang yang diduga palsu maupun melanggar ketentuan hukum dan/atau peraturan perundang-undangan Republik Indonesia. Tanggungjawab isi dan/atau materi Produk yang terdapat di Situs merupakan tanggung jawab sepenuhnya dari Penjual. Informasi yang terdapat dalam Situs dapat mengandung ketidakakuratan, namun Indonetwork tidak menanggung kewajiban untuk memperbaharui materi yang tidak akurat.</li>
				<li>Indonetwork tidak bertanggungjawab atas semua jaminan dan kondisi, termasuk segala implikasi dari jaminan, kualitas, kelayakan atas informasi yang disampaikan Penjual.</li>
				<li>Indonetwork tidak bertanggungjawab atas pelanggaran hak kekayaan intelektual, seperti hak merek, hak paten, hak cipta, hak desain industri, atau hak-hak lain yang melekat atas suatu barang berkenaan dengan segala informasi yang dibuat oleh Penjual.</li>
				<li>Indonetwork tidak bertanggungjawab atau berkewajiban atas penyerahan barang atau jasa, termasuk kepatuhan Pembeli dan Penjual dengan peraturan perundang-undangan yang berlaku di Indonesia.</li>
				<li>Indonetwork tidak bertanggungjawab terhadap Layanan yang tidak tersedia untuk sementara waktu sehubungan dengan masalah teknis yang berada di luar kendali Kami.</li>
				<li>Pengguna mengakui bahwa Indonetwork tidak akan bertanggung jawab atas materi atau tindakan pencemaran nama baik, tindakan yang melanggar, atau tindakan yang melawan hukum apapun dari pihak ketiga manapun yang berhubungan dengan Indonetwork.</li>
			</ul>
			<h4><br></h4>
			<a id="4" class="anchor"></a>
			<h4>Kepemilikan Domain / sub Domain</h4>
			<p>Domain/Subdomain yang diperoleh Pelanggan dalam Layanan (selanjutnya disebut “Domain/Subdomain”) merupakan milik Indonetwork. Indonetwork berhak untuk (1) mengubah, memodifikasi, dan menentukan konfigurasi terhadap Domain/Subdomain, (2) menghapus Domain/Subdomain apabila Pelanggan berhenti dari Layanan dan/atau keanggotaan Indonetwork, dan (3) menghapus Domain/Subdomain apabila terdapat unsur yang bertentangan dengan norma kesusilaan dan/atau peraturan perundang-undangan yang berlaku.</p>
			<a id="5" class="anchor"></a>
			<h4>Pelepasan Jaminan</h4>
			<p>Indonetwork, konten Situs, dan semua informasi yang tersedia di dalamnya adalah sebagaimana adanya dan sebagaimana tersedia tanpa jaminan apapun. Indonetwork tidak membuat pernyataan, jaminan, atau garansi dalam bentuk apapun, termasuk tidak terbatas pada pernyataan apapun, jaminan, atau jaminan diperdagangkan, kesesuaian untuk umum atau tujuan tertentu, atas non-pelanggaran, ketepatan atau kelengkapan jawaban, hasil, atau ketiadaan virus, sehubungan dengan Situs dan konten Situs, atau hal lain yang berhubungan dengan Situs.</p>
			<a id="6" class="anchor"></a>
			<h4>Ganti rugi</h4>
			<p>Pengguna setuju untuk melepaskan, membela dan membebaskan Indonetwork, perusahaan terafiliasinya, maupun direktur, pejabat, karyawan, konsultan, agen, dan afiliasi dari Indonetwork dari setiap dan semua klaim, teguran, tuntutan dan/atau gugatan dari pihak manapun dalam bentuk apapun, serta terhadap kewajiban, kerusakan, pengeluaran dan/atau biaya (termasuk biaya hukum) yang timbul dari atau berkaitan dengan penggunaan Situs atau pelanggaran Pengguna terhadap Syarat dan Ketentuan.</p>
			<a id="7" class="anchor"></a>
			<h4>Informasi rahasia</h4>
			<p>Pengguna mengetahui bahwa informasi yang terkandung di Situs ini penting dan pribadi bagi Indonetwork dan Penggunanya. Pengguna setuju bahwa Pengguna tidak akan memperlihatkan data, baik secara langsung atau tidak langsung ke pihak ketiga selain yang diperlukan untuk menjalankan tujuan dari persetujuan ini.</p>
			<a id="8" class="anchor"></a>
			<h4>Hak Cipta</h4>
			<p>Anda menerima bahwa segala sesuatu yang Anda lihat atau baca di Situs ini telah diberikan hak cipta.</p>
			<p>Hak cipta atas Situs ini dan materi-materi yang ada di dalamnya merupakan milik Indonetwork dan Pengguna masing-masing, kecuali jika dinyatakan lain. Memproduksi kembali atau menggunakan sebagian atau semua isi dari Situs ini dalam segala bentuk (termasuk tidak terbatas pada melihat, mengunggah, mencetak, dan menyimpan) dilarang kecuali sesuai dengan kondisi berikut: Anda boleh mengunduh materi yang ditampilkan di Situs ini hanya untuk keperluan Perusahaan atau untuk penggunaan pribadi dengan tetap mencantumkan semua hak cipta dan pemberitahuan kepemilikan yang ada pada materi-materi tersebut. Anda tidak boleh menyebarkan, menyiarkan, mengubah, mengirim, menggunakan kembali, mengirim kembali, atau menggunakannya dalam segala bentuk isi Situs, atau menggunakan isi untuk membuat pusat infomasi lain tanpa izin tertulis dari Kami. Apabila Anda hendak memproduksi kembali atau menggunakan beberapa bagian dari Situs sesuai dengan Syarat dan Ketentuan ini, Anda harus menyertakan pemberitahuan, menyatakan Indonetwork sebagai sumber, dan mencantumkan alamat www.indonetwork.co.id.</p>
			<a id="9" class="anchor"></a>
			<h4>Keterangan isi/materi layanan</h4>
			<p>Materi yang ditayangkan Layanan adalah semata-mata untuk informasi yang membangun hubungan antara masing-masing Pengguna, serta untuk Penguna mengajukan penawaran barang dan/atau jasa yang ditawarkan. Apabila sebagai Pengguna Anda menggunakan informasi yang ada pada Layanan untuk kepentingan selain daripada untuk ditawarkan, maka Kami dapat mengambil langkah hukum yang diperlukan atas tindakan Anda. Indonetwork berhak menghapus dan/atau mengubah isi, materi atau bagian lain dari materi yang diunggah oleh Pengguna, baik sebagian maupun keseluruhan, yang ditampilkan di Situs, tanpa pemberitahuan terlebih dahulu kepada Pengguna. Termasuk tetapi tidak terbatas apabila materi mengandung isi atau bagian yang sensitif, ofensif, dapat menebar atau memicu kebencian, memicu perpecahan, mencemarkan nama baik, atau bertentangan dengan Syarat dan Ketentuan, norma kesusilaan dan peraturan perundang-undangan yang berlaku di Indonesia.</p>
			<a id="10" class="anchor"></a>
			<h4>Daftar barang dan jasa terlarang</strong></h4>
			<p>Indonetwork dalam pelaksanaan Situsnya selalu berupaya untuk tetap dalam norma dan peraturan perundang-undangan yang berlaku. Berkenaan dengan hal tersebut, terdapat daftar barang dan jasa yang dilarang untuk diperjualbelikan di Situs Indonetwork:</p>
			<ul>
				<li>Makanan dan/atau minuman, termasuk suplemen, yang palsu, terlarang atau tidak terdaftar di BPOM</li>
				<li>Peralatan telekomunikasi (Fax, Telepon, Telepon Seluler, Modem, Radio Bluetooth, dan lain-lain yang tidak disertifikasi dibawah Ditjen Sumber Daya dan Perangkat (Sertifikasi Postel))</li>
				<li>Barang dan/atau jasa yang didistribusikan secara Multilevel Marketing (MLM), produk money games, cepat kaya, dan sejenisnya</li>
				<li>Barang dan/atau jasa dengan konten yang melecehkan, mendegradasi, atau mengandung muatan kebencian terhadap individu atau kelompoik individu atas dasar agama, jenis kelamin, orientasi seksual, ras, etnis, usia, atau cacat tubuh</li>
				<li>Narkotika, obat-obatan, maupun produk kimia terlarang dan/atau tidak terdaftar</li>
				<li>Produk kosmetik yang tidak terdaftar di bawah sertifikat Halal dan mengandung bahan-bahan terlarang</li>
				<li>Alkohol dan tembakau, rokok, cerutu, dan yang setara dengannya</li>
				<li>Senjata api, kelengkapan senjata api, replika, airsoft gun air gun, atau sejenis senjata lainnya</li>
				<li>Benda-benda rawan meledak, menyala atau terbakar sendiri</li>
				<li>Barang dan/atau jasa yang mengandung unsur pornografi, baik itu dari gambar, tulisan maupun bentuk lainnya</li>
				<li>Barang cetakan/rekaman yang mengandung konten yang dapat mengganggu keamanan dan ketertiban serta stabilitas nasional</li>
				<li>Barang-barang pasar gelap (black market), barang KW, imitasi, super premium, barang replika, barang bajakan, dan/atau benda-benda yang melanggar hak kekayaan intelektual milik pihak lain</li>
				<li>Kartu kredit, kredit tanpa agunan, dan sejenisnya</li>
				<li>Bagian/Organ Tubuh Manusia</li>
				<li>Fauna dan flora terlarang</li>
				<li>Artefak, benda-benda bersejarah</li>
				<li>Produk dan/atau jasa yang berkaitan dengan mistis atau takhayul</li>
				<li>Barang curian, didapat dengan cara yang tidak legal, barang hasil kejahatan</li>
				<li>Barang dan/atau jasa yang ditawarkan secara tidak jujur atau materi yang dapat membantu Pengguna untuk melakukan kecurangan</li>
				<li>Jasa hacking dan cracking, termasuk namun tidak terbatas pada memberikan petunjuk atau peralatan yang dapat mengubah dan/atau menyediakan akses illegal ke software, server, atau situs web</li>
				<li>Barang tanpa Standar Nasional Indonesia, sebagaimana disebutkan dalam Peraturan Menteri Perdagangan Nomor 72/M-DAG/PER/9/2015 tentang Standardisasi Jasa Bidang Perdagangan dan Pengawasan Standar Nasional Indonesia (SNI) Wajib terhadap Barang dan Jasa yang Diperdagangkan</li>
				<li>Barang tanpa Label dalam Bahasa Indonesia, sebagaimana disebutkan dalam Peraturan Menteri Perdagangan Nomor 73/M-DAG/PER/9/2015 tentang Kewajiban Pencantuman Label dalam Bahasa Indonesia pada Barang</li>
				<li>Produk telematika dan elektronika tanpa Petunjuk Penggunaan (Manual) yang didaftarkan dan kartu jaminan/Garansi Purna Jual dalam Bahasa Indonesia, sebagaimana dalam Peraturan Menteri Perdagangan Nomor 19/M-DAG/PER/5/2009)</li>
				<li>Barang dan/atau jasa lain yang dilarang untuk diperjualbelikan secara bebas berdasarkan peraturan perundang-undangan yang berlaku di Indonesia</li>
			</ul>
			<p>Apabila Pengguna melakukan penjualan atas barang dan jasa yang terlarang, Pengguna telah melanggar Syarat dan Ketentuan ini dan Tim Indonetwork berhak melakukan deaktivasi produk tanpa pemberitahuan lebih lanjut.</p>
			<p>Apabila (i) Anda memiliki hak kekayaan intelektual yang digunakan oleh Pengguna yang tidak berwenang di Situs, (ii) Produk milik Anda diperjualbelikan oleh Pihak yang tidak memiliki wewenang untuk memperjualbelikan Produk, atau (iii) Anda menemukan barang dan/atau jasa yang termasuk dari daftar barang dan jasa yang dilarang dalam Situs, Anda dapat memberikan pemberitahuan kepada kami, dengan menghubungi support@indonetwork.co.id.</p>
			<a id="11" class="anchor"></a>
			<h4>Tautan (link) ke situs</h4>
			<p>Anda dapat membuat tautan ke Situs ini dengan menginformasikan kepada Kami secara tertulis. Apabila tautan yang diberikan tidak sesuai atau dapat merugikan Indonetwork, Kami dapat meminta Anda untuk meniadakan tautan yang dibuat. Sebaliknya, Anda tidak dapat membuat tautan situs Anda di dalam Situs Kami.</p>
			<a id="12" class="anchor"></a>
			<h4>Perubahan syarat dan ketentuan</h4>
			<p>Syarat dan ketentuan dapat diubah dan/atau diperbaharui tanpa pemberitahuan sebelumnya. Penggunaan Situs akan dianggap merupakan penerimaan Syarat dan Ketentuan yang berlaku. Kami menganjurkan Anda untuk mengecek halaman ini secara berkala untuk mengetahui setiap perubahan yang Kami buat.</p>
			<a id="13" class="anchor"></a>
			<h4>Perubahan situs</h4>
			<p>Tampilan Situs dan/atau Layanan dapat diperbaharui dan diubah oleh Indonetwork setiap saat, untuk memberikan pelayanan yang lebih baik kepada Pengguna.</p>
			<a id="14" class="anchor"></a>
			<h4>Hukum yang berlaku</h4>
			<p>Syarat dan Ketentuan ini diatur dan ditafsirkan sesuai dengan hukum Republik Indonesia, dan Pengguna sepakat untuk terikat pada yurisdiksi hukum Republik Indonesia. Apabila terjadi perselisihan dalam penafsiran dan pelaksanaan Syarat dan Ketentuan, Para Pihak sepakat untuk menyelesaikannya secara musyawarah untuk mufakat.</p>				
			
		</div>
		<div class="clear"></div>
	</div>
