<!-- INCLUDE CONTENT HERE START -->
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
*{margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}
h1,h2,h3,h4,h5,h6,p{margin:0;}

ul{
    list-style: none;
}
.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}
#concrete-content{
    font:15px/28px 'Roboto', sans-serif;
    color:#4c4b4b;
}
.concrete-wrapper{
    width:1200px;margin:0 auto;position:relative;
}
.concrete-one{
    background:url(assets/images/fair/concrete-bgrepeat.jpg);
    padding-top:90px;padding-bottom:65px;
}
.co-content1{
    width:1095px;margin:0 auto;background:#FFF;border-top:5px solid #fedf36;margin-top:50px;text-align:center;margin-bottom:55px;
}
.concrete-logo{background:url(assets/images/fair/concrete16-sprite.png) no-repeat 0 0;width:195px;height:90px;margin:50px auto 30px;text-indent:-99999px;text-align:center;}
.co-content1 .quotes1{font-size:22px;color:#282828;font-weight:600;}
.co-content1 .time{font-size:17px;color:#282828;margin:25px 0;}
.co-content1 .concrete-banner{width:100%;height:420px;background:url(assets/images/fair/concrete2016-banner.jpg);position:relative;}
.concrete-banner p{font-size:20px;color:#FFF;padding:25px 0;text-align:center;position:absolute;bottom:0;left:0;width:100%;background:rgba(28,25,24,0.75);}
.co-content2{width:915px;margin:0 auto;color:#FFF;text-align:center;}
.co-content2 p:nth-child(2){margin:60px 0 40px;}
.co-content2 ul{margin:0 0 30px;}
.co-content2 li{width:20%;float:left;}
.co-content2 li u{display:inline-block;width:80px;height:75px;margin:0 auto;background:url(assets/images/fair/concrete16-sprite.png) no-repeat 0 0;}
.co-content2 li p{margin:30px 0 0 0 !important;}
.co-content2 ul li:nth-child(1) u{background-position:-6px -97px;}
.co-content2 ul li:nth-child(2) u{background-position:-95px -95px;}
.co-content2 ul li:nth-child(3) u{background-position:-6px -166px;}
.co-content2 ul li:nth-child(4) u{background-position:-100px -165px;}
.co-content2 ul li:nth-child(5) u{background-position:-7px -246px;}
.concrete-two {background:#EEFE36;padding:120px 0 65px;position:relative;}
.concrete-two .aksen1{background:url(assets/images/fair/concrete16-sprite.png) no-repeat 0px -349px;width:250px;height:50px;position:absolute;top:0;left:0;right:0;font-size:0;padding:0;margin:0 auto;}
.concrete-two .aksen2{background:url(assets/images/fair/helm-concrete.png) no-repeat;width:377px;height:283px;position:absolute;top:160px;right:190px;font-size:0;padding:0;}
.co-content3{width:570px;margin-left:170px;}
.co-content3 p{color:#022E1B;margin-bottom:40px;}
.co-content3 li{font-weight:bold;color:#282828;}
.co-content3 span{font-weight:normal;color:#282828;margin-left:40px;display:inline-block;}
.concrete-three{background:#2266CC;padding:70px 0;}
.co-content4{width:900px;margin:0 auto;color:#FFF;text-align:center;}
.co-content4 a{color:#eefe36;font-weight:bold;}
.co-content4 p:nth-child(1){font-size:20px;margin-bottom:45px;}
.concrete-bottom{text-align:center;padding:65px 0 0;}
.concrete-bottom .ubm-eologo{width:70px;height:90px;background:url(assets/images/fair/concrete16-sprite.png) no-repeat -104px -243px;display:inline-block;margin-bottom:20px;}
</style>
<div id="concrete-content">
    <div class="concrete-wrapper con">
        <div class="concrete-one con">
            <div class="co-content1 con">
                <h2 class="concrete-logo">Concrete Show</h2>
                <p class="quotes1">THE LEADING FOR CONCRETE AND CONSTRUCTION INDUSTRY IN REGION</p>
                <p class="time">14 – 16 September 2016 | Jakarta International Expo</p>
                <div class="concrete-banner">
                    <p class="">PAMERAN KHUSUS INDUSTRI BETON DAN KONSTRUKSI</p>
                </div>
            </div>
            <div class="co-content2">
                <p>Concrete Show 2016, pameran khusus industri beton dan konstruksi ini akan di gelar di Indonesia selama 3 hari <br>berturut-turut dan di hadiri oleh ribuan profesional konstruksi dari seluruh dunia. Diselenggarakan dengan tujuan<br>membuka jendela pertumbuhan ekonomi, mendorong sektor produksi beton, dan sebagai tempat bertemunya <br>perusahaan dengan para pembeli potensial di Indonesia. </p>
                <p>Kategori produk yang akan ditampilkan dalam CONCRETE 2016 adalah: </p>
                <ul class="con">
                    <li><u></u><p>Beton / Produsen Semen </p></li>
                    <li><u></u><p>Kimia Industri</p></li>
                    <li><u></u><p> Alat Produsen Beton </p></li>
                    <li><u></u><p>Blok Produsen Beton</p></li>
                    <li><u></u><p>Peralatan untuk Konstruksi</p></li>
                </ul>
                <p>• Produk Jointing • Peralatan Transportasi • Beton Produk Precast • Mesin Rebar • Peralatan untuk Demolition dan Perbaikan<br> • Peralatan Pengukuran • Peralatan untuk Tanaman Produksi Beton • Mesin Berat dan Ringan  •  Software</p>
            </div>
        </div>
        <div class="concrete-two con">
            <i class="aksen1"></i>
            <div class="co-content3">
                <p>Ciptakan peluang bisnis Anda di dalam Concrete Show 2016. Destinasi tempat untuk memperluas relasi bisnis dan menemukan calon pembeli potensial bagi bisnis Anda. Tak hanya itu Anda juga bisa mendapatkan wawasan baru mengenai perkembangan teknologi konstruksi. Nantikan seminar yang akan diselenggarakan seperti : </p>
                <ul>
                    <li>- Seminar teknologi beton dengan </li>
                    <li><span>Keynote presentasi oleh Mr Davy Sukamta<br>Presiden HAKI</span></li>
                    <li>- Keynote presentasi oleh Mr Davy Sukamta                      Presiden HAKI</li>
                    <li>- Seminar konstruksi</li>
                </ul>
            </div>
            <i class="aksen2"></i>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.895491585597!2d106.84648331442772!3d-6.144737361945999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f58e1f5b3aab%3A0x17fe695f67294b8a!2sJiexpo+Kemayoran!5e0!3m2!1sen!2sid!4v1473392062622" width="1200" height="365" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="concrete-three con">
            <div class="co-content4">
                <p>Temukan peluang bisnis Anda secara online dengan <a href="http://www.indonetwork.co.id/" target="_blank">Indonetwork.co.id</a><br>
                Kunjungi booth kami dalam pameran ini!</p>
                <p><b>Indonetwork.co.id</b> memberikan peluang bagi para pebisnis untuk memperluas jaringan melalui promosi online. Dengan <br>bergabung di Indonetwork Anda akan mendapatkan website GRATIS dengan berbagai fitur yang akan memudahkan aktivitas <br>bisnis Anda. Ingin bisnis lebih optimal? Daftarkan bisnis Anda menjadi Prioritas Indonetwork! Harga khusus Anggota Prioritas <br>hanya bisa Anda dapatkan selama pameran berlangsung.</p>
            </div>
        </div>
        <div class="concrete-bottom">
            <span class="ubm-eologo"></span>
            <p>PT UBM Pameran Niaga Indonesia<br>
            Aquarius Building 3rd Floor Jl. Sultan Iskandar Muda No. 7. Pondok Indah Jakarta |  Phone : +62 21 2930 5959  | Fax : +62 21 2930 5960</p>
        </div>
    </div>
</div>
<!-- INCLUDE CONTENT HERE END -->