<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500);

*{margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}
#decx-content{
    font:16px/28px 'Roboto', sans-serif;
    color:#4c4b4b;
    margin-top:40px;
}
h1,h2,h3,h4,h5,h6,p{margin:0;}

ul{
    list-style: none;
}
.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}
.wrapper{
    width:1240px;
    margin:0 auto;
    position:relative;
}
.wrap-in{
    width:960px;
    margin:0 auto;
    position:relative;
}
.decx-top{
    background:url(assets/images/fair/deocirntex-topbg.jpg) no-repeat;
    width:100%;
    height:480px;
    margin-bottom:35px;
}
.top-cont{
    background:#34A2C2;
    padding:40px 50px 40px 0;
    color:#FFF;
    float:right;
    width:392px;
    text-align:center;
}
.top-cont h1{
    font-size:35px;
    color:#FFF;
    padding:25px 55px;
    background:#E71B4C;
    letter-spacing: 5px;
    position:relative;
}
.top-cont span{
    margin:45px 0 52px;
    display:inline-block;
}
.top-cont p{
    font-size:16px;
}
.decx-second{
    background:#DFEEF0;
    color:#05222B;
    padding:95px 0 80px;
    text-align:center;
}
.decx-second .wrap-in{
    width:810px;
}
.decx-second h3{
    font-size:26px;
    color:#05222B;
}
.decx-second h3 u{
    display:inline-block;
    width:25px;height:2px;
    background:#A9C8DA;
    vertical-align:middle;
    margin:0 5px;
}
.diamond{
    width:129px;
    height:37px;
    display:inline-block;
    margin:30px 0;
    background:url(assets/images/fair/decx-16-sprite.jpg) no-repeat;
    background-position:-315px -1044px;
}
.decx-second .text-1{
    margin-bottom:60px;
}
.decx-third{
    background:#B7C52E;
    color:#FFF;
    position:relative;
}
.cont-l{
    float:left;
}
.cont-r{
    float:right;
}
.decx-img{
    width:484px;
    height:261px;
    background:url(assets/images/fair/decx-16-sprite.jpg) no-repeat;
}
.triangle {
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #d5e160 transparent;
    display:inline-block;
    vertical-align:middle;
    margin-right:5px;
}
.triangle-acs1{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0px 0px 100px;
    border-color: #B92025 transparent transparent transparent;
    position: absolute;
    bottom:-30px;
    left:0;
}
.triangle-acs2{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 0px 0px 100px;
    border-color: transparent transparent transparent #B92025;
    position: absolute;
    top:-30px;
    right:0;
}
.triangle-acs3{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 65px 0 65px;
    border-color: #DFEEF0 transparent transparent transparent;
    position: absolute;
    top:0;
    left:0;
}
.decx-third .decx-img{
    background-position:0 0;
}
.wrap-in .text {
    padding:65px 0 0 65px;
    color:#FFF;
    width:411px;
    
}
.wrap-in .text p{
    font-size:19px;
}
.wrap-in h4{
    color:#04222A;
    font-size:19px;
    margin-bottom:40px;
}
.decx-fourth{
    background:#c01c37;
    color:#FFF;
}
.decx-fourth .decx-img{
    background-position:0 -262px;
}
.decx-fourth .triangle{
    border-color: transparent transparent #d84860 transparent;
}
.decx-five{
    background-color:#3899B8;
}
.decx-five .decx-img{
    background-position:0 -522px;
}
.decx-five .triangle{
    border-color: transparent transparent #5db7d4 transparent;
}
.decx-six{
    background-color:#EF9E11;
    margin-bottom:60px;
}
.decx-six .decx-img{
    background-position:0 -782px;
}
.decx-six .triangle{
    border-color: transparent transparent #f0b348 transparent;
}
.decx-bottom{
    background:#2266CC;
    padding:60px 0 85px;
    color:#FFF;
    text-align:center;
    font-size:19px;
}
.decx-bottom .wrap-in{
    width:730px;
    position:relative;
}
.decx-bottom .wrap-in p:nth-child(2){
    text-align:justify;
    margin-top:55px;
    font-size:16px;
}
.bex-fouraksen1,.bex-fouraksen2{
    background:url(assets/images/fair/decx-16-sprite.jpg) no-repeat;
}
.decx-bottom .bex-fouraksen1{
    position:absolute;
    width:53px;
    height:48px;
    background-position:0 -1044px;
    bottom:-85px;
    left:-255px;
}
.decx-bottom .bex-fouraksen2{
    position:absolute;
    width:261px;
    height:53px;
    background-position:-53px -1044px;
    bottom:-85px;
    right:-255px;
}
.decx-bottom2{
    background:#f8f8f8;
    padding:40px 0;
    text-align:center;
}
.decx-bottom2 .decx-eologo{
    width:70px;
    height:65px;
    margin:0 auto 20px;
    display:block;
    background:url(assets/images/fair/decx-16-sprite.jpg) no-repeat;
    background-position:-19px -1097px;
}
</style>
<div id="decx-content">
<div class="wrapper">
<section class="decx-top">
<div class="top-cont">
<h1> <i class="triangle-acs1"></i>DECORINTEX <br> 2016 <i class="triangle-acs2"></i></h1>
<span>17 - 21 Agustus 2016  | Grand City Surabaya</span>
<p>Tren desain interior terus berganti seiring<br> dengan berjalannya waktu. Tidak berhenti pada<br> skema warna atau unsur tertentu, para desainer <br>terus berinovasi menciptakan karya terbaru<br> yang dikagumi oleh khalayak luas.</p>
</div>
</section>
<section class="decx-second">
<div class="wrap-in">
<h3><u></u>THE REAL DECORATION INTERIOR RENOVATION EXPO<u></u></h3>
<span class="diamond"></span>
<p class="text-1">Bagi sebagian orang, desain rumah lebih telah menjadi bagian dari gaya hidup. Tidak sedikit orang yang <br>rela merogoh kocek dalam-dalam demi merealisasikan interior impian ke dalam rumahnya.</p>
<p><b style="color:#C01C37;">Decorintex 2016</b> menawarkan pilihan terbaik produk interior &amp; exterior Desain, arsitektur, teknologi interior , dekorasi, perabotan. Destinasi tepat yang memberikan Anda pengalaman gaya hidup dengan ide-ide desain menarik untuk hunian dan lingkungan. Acara ini merupakan kesempatan bagi Anda untuk menemukan produk &amp; teknologi terbaru menjawab kebutuhan serta mengeksplore dekorasi &amp; perencanaan tata ruang. </p>
</div>
</section>
<section class="decx-third">
<div class="wrap-in con">
<i class="triangle-acs3"></i>
<div class="cont-l text">
<h4>Jangan lewatkan rangkaian acaranya :</h4>
<p><i class="triangle"></i>Talkshow architecture &amp; interior design</p>
<p><i class="triangle"></i>Free product presentation </p>
</div>
<div class="cont-r decx-img"></div>
</div>
</section>
<section class="decx-fourth">
<div class="wrap-in con">
<div class="cont-r text">
<h4></h4>
<p><i class="triangle"></i>Interior architecture jobfair</p>
<p><i class="triangle"></i>Interior photography workshop &amp; competition</p>
</div>
<div class="cont-l decx-img"></div>
</div>
</section>
<section class="decx-five">
<div class="wrap-in con">
<div class="cont-r decx-img"></div>
<div class="cont-l text">
<h4></h4>
<p><i class="triangle"></i>Indesign luminary</p>
<p><i class="triangle"></i>Designer showcase</p>
</div>
</div>
</section>
<section class="decx-six">
<div class="wrap-in con">
<div class="cont-r text">
<h4></h4>
<p><i class="triangle"></i>Student final project exhibition </p>
<p><i class="triangle"></i>Blood donation </p>
</div>
<div class="cont-l decx-img"></div>
</div>
</section>
<section class="decx-bottom con">
<div class="wrap-in">
    <p>TEMUKAN PELUANG BISNIS ONLINE DAN PARTNER BISNIS ONLINE ANDA<br> DI INDONETWORK.CO.ID DATANG DAN KUNJUNGI BOOTH KAMI DI PAMERAN INI !</p>
    <p>Indonetwork.co.id sebagai direktori B2B online terbesar di Indonesia turut berpartisipasi dalam pameran ini. Memberikan edukasi, sharing informasi mengenai promosi online terkini, dan memberikan peluang bisnis online untuk memperluas relasi maupun  pasar hingga ke mancanegara.  Konsultasikan bisnis dan tingkatkan profesionalitas bisnis online dengan Prioritas Indonetwork. </p>
    <i class="bex-fouraksen1"></i>
<i class="bex-fouraksen2"></i>
</div>
</section>
<section class="decx-bottom2">
<span class="decx-eologo"></span>
<p>PT.DEBINDO MITRA TAMA<br>Jl.Kalibokor Selatan No.66 Surabaya Telp : +62 31 501 0177 Fax : +62 31 504 8714<br>Amir Alkatiri +62 856 4880 4664 amir.debindo@gmail.com<br>Dwi Wisnu P. +62 852 2435 7051  wisnu.debindo@gmail.com</p>
</section>
</div>
</div>
