	<?php include($html_path.'breadcrump.html'); ?>
	
	
	<div class="wrapper">
		<div class="detail-toolbar">
		
			<!--<div class="colfix w50 bookmark-ads">
				<a href=""><ico class="cart-add"></ico> <span>Tambah ke keranjang</span></a>
				<a href=""><ico class="favorite"></ico> <span>Tambah ke favorit</span></a>
			</div>-->
			
			<div class="colfix w50 nav-page txtright">
				<a href=""><ico class="nav-left"></ico> Sebelumnya</a>
				<a href="">Selanjutnya <ico class="nav-right"></ico> </a>
			</div>
		</div>
		
		<div class="detail detail-product">
			
			<div class="colfix w75">
				<div class="product">
					<div class="productimg colfix w40">

						<section id="product_gallery" class="prod_gallery">

							<script type="text/javascript">
								$(function(){
									$('#product_gallery').prodGallerydetail();
								});
							</script>

							<div class="imgbox">
								<div class="preloader"><img src="assets/images/preloader.gif" /></div>
								<div class="thumbcontainer">
									<img class="img" src="assets/images/products/1.jpg" alt="nama banner" />
								</div>
							</div>

							<div class="thumbnails">

								<ul class="thumbnail-lists clearfix">
									<li class="list">
										<a class="trigger small thumbcontainer " href="javascript:void(0);" rel="assets/images/products/3.jpg" alt="nama banner">
											<img class="imgth" src="assets/images/products/small/3.jpg" alt="nama 54454545" />
										</a>
									</li>
									<?php $j = 1; for($i = 1; $i <= 15; $i++) { ?>
									<li class="list">
										<a class="trigger small thumbcontainer <?php if($i == 1) { echo 'on'; } ?>" href="javascript:void(0);" rel="assets/images/products/<?php echo $i; ?>.jpg" alt="<?php echo $i; ?>">
											<img class="imgth" src="assets/images/products/small/<?php echo $i; ?>.jpg" alt="<?php echo $i; ?>" />
										</a>
									</li>
									<?php if($i >= 5 && $j == 1){ $j = 0; } } ?>

									</ul>

							</div>

						</section>

					</div>
					<div class="productdata colfix w60">
						<div>
							<h1>Philips Induction Cooker HD4915 the most amazing girl on mars</h1>
							<div class="colfix w50">
								<dl class="listdetail">
									<dt>Min. Pembelian</dt><dd>10 <span>buah</span></dd>
									<dt>Update Terakhir</dt><dd>18 / 03 / 2016</dd>
								</dl>
							</div>
							<div class="colfix w50">
								<dl class="listdetail">
									<dt>Tersedia</dt><dd>1000+ <span>buah</span></dd>
									<dt>Jumlah Visitor</dt><dd>999999</dd>
								</dl>
							</div>
							<div class="tabelform">
								<form>
									<div class="form">
										<ul>
											<li class="w75"><h5>Harga</h5><div class="data">mulai<br /><span class="harga">850.000</span></div><div class="data">hingga<br /><span class="harga">950.000</span></div></li>
											<li class="w25"><div class="data">unit</div><div class="button-add-on"><input type="text" name="quantity" maxlength="5" value="10" class="qty" />
										</ul>
										<div class="clear"></div>
										<div class="colfix w100">
											<div class="notif-bar oke alertmessage smaller">Katalog Produk Sudah Tidak Aktif !!!</div><!--<div class="notif-bar oke smaller">Pesan harus diisi!</div>-->
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="colfix w25">
				<div class="quickviewonly"><a href="?page=detail" target="_blank" class="btn">Detail Produk</a></div>
				<div class="vendor">
					<div class="vendortitle">
						<div class="colfix w20"><div class="imgbox imgprofile"><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></div></div>
						<div class="colfix w80">
							<h6 class="producttitle"><a href="">Belum Rampung Workshop & Factory</a></h6>
							<!--<ico class="rate star04"></ico>
							<small><b>95</b>% dari <b>44</b> penilai</small>-->
						</div>
					</div>
					<div class="vendorbody">
						<div class="iconterverifikasi"><img src="./assets/images/icon-terverifikasi.jpg" alt="nama banner"></div>
						<p>Harco Mangga 2 lantai dasar block a no 55 Jakarta Utara, DKI Jakarta<br />Indonesia 12440</p>
						<dl class="listdetail">
							<dt>Kota</dt><dd><span>DKI Jakarta</span></dd>
							<!--<dt>Pengiriman</dt><dd><span>Pos Indonesia - International, Tiki, JNE</span></dd>-->
							<dt>Login Terakhir</dt><dd><span>27 / 08 / 2016</span></dd>
							<dt>Member Sejak</dt><dd>Desember 2015</dd>
						</dl>
					</div>
				</div>
			</div>

<div class="clear"></div>

	<div class="colfix w75">

				<div class="tabdetail">
					<ul class="tabs">
						<li class="tab-link current" data-tab="tab-1"><div><ico class="infoproduk"></ico> Deskripsi Produk</div></li>
						<!--<li class="tab-link" data-tab="tab-2"><div><ico class="specproduk"></ico>Spesifikasi</div></li>
						<li class="tab-link" data-tab="tab-3"><div><ico class="sejarahtransaksi"></ico> Sejarah Transaksi</div></li>
						<li class="tab-link" data-tab="tab-4"><div><ico class="pengiriman"></ico> Pengiriman</div></li>-->
					</ul>
					<div id="tab-1" class="tab-content current">
						<div>
							<h2>Sisley Portable Electric Infrared Induction Cooker Cook Top Hot Plate</h2>
							<ul><li>Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves and ovens, and they use approximately half the energy of gas-sourced models. Induction cooking is the newest and most environmentally friendly way to cook producing no flames, smoke or pollution.</li><li>  If the environment is important to you, or if you just want a fast, easy, portable cook top alternative, then an induction cooker is an absolute must.<li> There are tremendous savings in money and energy use from using an induction cook top versus traditional electric or even gas. Because of the reduced cooking time, the energy savings can be substantial.</li></ul>
							<ol><li>Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves and ovens, and they use approximately half the energy of gas-sourced models. Induction cooking is the newest and most environmentally friendly way to cook producing no flames, smoke or pollution.</li><li>  If the environment is important to you, or if you just want a fast, easy, portable cook top alternative, then an induction cooker is an absolute must.<li> There are tremendous savings in money and energy use from using an induction cook top versus traditional electric or even gas. Because of the reduced cooking time, the energy savings can be substantial.</li></ol>
							<p>Sisley Cook top is the ideal size for small apartments or anywhere you need an extra cook top. It has 10 heat settings, allowing for precision and flexibility in cooking performance.  Heating begins instantly in just 3 seconds for fast cook times. Elevate your cooking experience to a whole new level by using the Sisley Single Burner Cook top.</p>
							<p>A durable ceramic glass can take any kind of heavy pots and pans, regardless of their material, such as , ceramic, stainless steel and whatever it is, and can be easily cleaned and maintained. Heat limiting cooking surface protectors and indicator lights add an extra level of protection, alerting you to the presence of a hot burner to avoid an accident.</p>

						<div>
							<hr>


						</div>
						<div class="thumbnails">
							<div class="imgbox colfix w20"><a href=""><img src="./assets/data/product-01.jpg" alt="nama banner"></a></div>
							<div class="imgbox colfix w20"><a href=""><img src="./assets/data/product-01c.jpg" alt="nama banner"></a></div>
							<div class="imgbox colfix w20"><a href=""><img src="./assets/data/product-01b.jpg" alt="nama banner"></a></div>
							<div class="imgbox colfix w20"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div>
							<div class="imgbox colfix w20"><a href=""><img src="./assets/data/profile-pic2.jpg" alt="nama banner"></a></div>
						</div>

							</div>
					</div>
					<div id="tab-2" class="tab-content">
						<div>
						
							<table cellspacing="0">
								<tbody>
								<tr>
								<td class="ttl">Type</td>
								<td class="nfo">LED-backlit IPS LCD, capacitive touchscreen, 16M colors</td>
								</tr>
								<tr>
								<td class="ttl">Size</td>
								<td class="nfo">3.5 inches (~54.0% screen-to-body ratio)</td>
								</tr>
								<tr>
								<td class="ttl">Resolution</td>
								<td class="nfo">640 x 960 pixels (~330 ppi pixel density)</td>
								</tr>
								<tr>
								<td class="ttl">Multitouch</td>
								<td class="nfo">Yes</td>
								</tr>
								<tr>
								<td class="ttl">Protection</td>
								<td class="nfo">Corning Gorilla Glass, oleophobic coating</td>
								</tr>

								<td class="ttl">Primary</td>
								<td class="nfo">5 MP, f/2.8, autofocus, LED flash, <a href="piccmp.php3?idType=1&amp;idPhone1=3275&amp;nSuggest=1">check quality</a></td>
								</tr>
								<tr>
								<td class="ttl">Features</td>
								<td class="nfo">1/3.2" sensor size, 1.75 µm pixel size, geo-tagging, touch focus, HDR photo</td>
								</tr>
								<tr>
								<td class="ttl">Video</td>
								<td class="nfo">720p@30fps, <a href="vidcmp.php3?idType=3&amp;idPhone1=3275&amp;nSuggest=1">check quality</a></td>
								</tr>
								<tr>
								<td class="ttl">Secondary</td>
								<td class="nfo">VGA, 480p@30fps, videocalling over Wi-Fi only</td>
								</tr>
							</tbody></table>
							
						</div>
					</div>
					<div id="tab-3" class="tab-content">
						<div>
							<ul class="list">
								<li>
									<div class="colfix w25"><span class="tgl">RATING TOTAL</span></div>
									<div class="colfix w40">11 transaksi</div>
									<div class="colfix w10"><strong class="orange">8.7</strong><span class="grey">/10</span></div>
									<div class="colfix w25 txtright"><ico class="rate star04"></ico></div>
								</li>
								
								<?php 
								for ($a=1; $a <= 11; $a++) {
								echo ''.
								'<li>'.
								'	<div class="colfix w25"><span class="tgl">12/3/2015</span></div>'.
								'	<div class="colfix w50">Bandung, Jawa Barat, ID</div>'.
								'	<div class="colfix w25 txtright"><ico class="rate star04"></ico></div>'.
								'</li>';
								}
								?>
							</ul>
						
						</div>
					</div>
					<div id="tab-4" class="tab-content">

						<div>
							<p>Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves and ovens, and they use approximately half the energy of gas-sourced models. Induction cooking is the newest and most environmentally friendly way to cook producing no flames, smoke or pollution.  If the environment is important to you, or if you just want a fast, easy, portable cook top alternative, then an induction cooker is an absolute must. There are tremendous savings in money and energy use from using an induction cook top versus traditional electric or even gas. Because of the reduced cooking time, the energy savings can be substantial.</p>
						</div>
						
					</div>
				</div>
			</div>

			<!--<div class="colfix w25">

				<div class="otherproduct">
					<div class="otherproducttitle">
						<h6 class="producttitle">Produk Sejenis</h6>
					</div>

					<div class="otherproductbody">
						<div class=""><a href="">
							<div class="colfix w40">
								<img src="assets/data/foto2.jpg" alt="nama banner">
							</div>
							<div class="colfix w60">
								<h4>Phillips Induction Cooker HD4917</h4>
								<div class="price">710.000 <span>/buah</span></div>
								<div class="minorder colfix w60">10</div>
								<div class="stok colfix w40">1000+</div>
							</div></a>
						</div>
					</div>

					<div class="otherproductbody">
						<div class=""><a href="">
							<div class="colfix w40">
								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
							<div class="colfix w60">
								<h4>Phillips Induction Cooker HD4917</h4>
								<div class="price">710.000 <span>/buah</span></div>
								<div class="minorder colfix w60">10</div>
								<div class="stok colfix w40">1000+</div>
							</div></a>
						</div>
					</div>

					<div class="otherproductbody">
						<div class=""><a href="">
							<div class="colfix w40">
								<img src="assets/data/foto3.jpg" alt="nama banner">
							</div>
							<div class="colfix w60">
								<h4>Phillips Induction Cooker HD4917</h4>
								<div class="price">710.000 <span>/buah</span></div>
								<div class="minorder colfix w60">10</div>
								<div class="stok colfix w40">1000+</div>
							</div></a>
						</div>
					</div>

					<div class="otherproductbody">
						<div class=""><a href="">
							<div class="colfix w40">
								<img src="assets/data/foto4.jpg" alt="nama banner">
							</div>
							<div class="colfix w60">
								<h4>Phillips Induction Cooker HD4917</h4>
								<div class="price">710.000 <span>/buah</span></div>
								<div class="minorder colfix w60">10</div>
								<div class="stok colfix w40">1000+</div>
							</div></a>
						</div>
					</div>

					<div class="otherproducttitle">
						<a href="">Lihat Semua</a>
					</div>

				</div>
			</div>
			
			<div class="clear"></div>-->

		</div>
	</div>

	<div class="clear"></div>
	