<?php include($html_path.'breadcrump.html'); ?>

<div class="toolbar">
	
</div>


<div class="wrapper">
	<div class="detail detail-product detail-permintaan">
		<div class="colfix w75">
			<h2>Kirim Permintaan</h2>
			<div class="formrequest">
				<div class="colfix w80">
					<div class="form">
						<h3>Ambil Data dari Katalog Anda</h3>
						<form>
							<div id="cat_selector" class="cat_selection search-input">
								<ul class="search-suggestion-box">
									<li><a class="option" href="javascript:void(0);" data-value="1">Samsung DVDRW SH-224 Internal </a></li>
									<li><a class="option" href="javascript:void(0);" data-value="2">Casio Aw-80-9b Original </a></li>
									<li><a class="option" href="javascript:void(0);" data-value="3">Wing Nuts Scaffolding </a></li>
									<li><a class="option" href="javascript:void(0);" data-value="3">Shihlin PLC AX2N-2AD Analog </a></li>
									<li><a class="option" href="javascript:void(0);" data-value="3">Banana Boat ZEBEC 500W </a></li>
									<li><a class="option" href="javascript:void(0);" data-value="company">Perahu Karet Archilles LS4-RU </a></li>
								</ul>
								<input class="value_set" type="hidden" value="2">
								<div class="cat_display">Samsung DVDRW SH-224 Internal </div>
							</div>
							<input type="submit" value="Ambil Data">
						</form>
						<div class="clear"></div><br />
						<h3>... Atau Buat Baru</h3>
						<div><a href="?page=detail-permintaan-form" class="btn">Buat Baru</a></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="colfix w25">

				<div class="vendor">
					<div class="vendortitle">
						<div class="colfix w20"><div class="imgbox imgprofile"><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></div></div>
						<div class="colfix w80">
							<h6 class="producttitle">PT. Cakrawala Mendung Payung Berkembang</h6>
						</div>
					</div>
					<div class="vendorbody">
						<div class="iconterverifikasi"><img src="./assets/images/icon-terverifikasi.jpg" alt="nama banner"></div>
						<p>Harco Mangga 2 lantai dasar block a no 55 Jakarta Utara, DKI Jakarta<br />Indonesia 12440</p>
						<dl class="listdetail">
							<dt>Kota</dt><dd><span>DKI Jakarta</span></dd>
							<dt>Login Terakhir</dt><dd><span>27 / 08 / 2016</span></dd>
							<dt>Member Sejak</dt><dd>Desember 2015</dd>
						</dl>
						<div class="colfix w100 notel">
							<div class="colfix w20"><div>Atau Hubungi:</div></div>
							<div class="colfix w55 nomor"><div>08XX-XXX-XXX</div></div>
							<div class="colfix w25"><div><input type="submit" value="Tampilkan Nomor" ></div></div>
						</div>
					</div>

					<div class="clear"></div><br />

					<div class="otherproduct otherrequest">
						<div class="otherproducttitle">
							<h6 class="producttitle">Permintaan Sejenis</h6>
						</div>
						<div class="otherproductbody">
							<div class="colfix w100"><a href="">
								<div class="info">
									<h4>Phillips Induction Cooker HD4917</h4>
									<div class="price">1.710.000</div>
									<p class="morereq">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do no </p>
									<div class="seller-info">
										<div class="membership">
											<img title="membership prioritas" src="assets/images/award.png">
										</div>
										<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div><div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
									</div>
									<div class="wrp-vndr-dat">				
										<span class="penwrn">13 <small>vendor</small></span>				
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>				
									</div>
								</div></a>
							</div>
						</div>
						<div class="otherproductbody">
							<div class="colfix w100"><a href="">
								<div class="info">
									<h4>Phillips Induction Cooker HD4917</h4>
									<div class="price">710.000</div>
									<p class="morereq">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do no </p>
									<div class="seller-info">
										<div class="membership">
											<img title="membership prioritas" src="assets/images/award.png">
										</div>
										<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div><div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
									</div>
									<div class="wrp-vndr-dat">				
										<span class="penwrn">13 <small>vendor</small></span>				
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>				
									</div>
								</div></a>
							</div>
						</div>
						<div class="otherproducttitle">
							<a href="?page=listing-request">Lihat Semua</a>
						</div>
					</div>
				</div>
			</div>
		<div class="clear"></div>
	</div>
</div>
<div class="clear"></div>
<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<!-- The Modal -->
<div id="myModal" class="modal">
	<!-- Modal content -->
	<div class="modal-content">
		<div class="modal-header">
			<span class="close">&times;</span>
			<h2>Pilih Produk Anda</h2>
		</div>
		<div class="modal-body">
			<div class="search-toolbar colfix w50">
				<form>
					<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
					<div class="colfix w40"><input type="submit" value="Cari"></div>
				</form>
			</div>
			<div class="toolbar colfix w50">
				<div class="colfix w100 fright txtright">
					<ul>
						<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
						<li><a href=""><ico class="nav-left"></ico></a></li>
						<li><a href=""><ico class="nav-right"></ico></a></li>
					</ul>
					
				</div>
			</div>
			<div class="clear"></div><br />
			
			<?php
				for ($y = 1; $y <= 1; $y++) {
					include ($html_path.'listing-item-penawaran-modalbox.html');
				}
			?>
		</div>
	</div>
</div>
<script>
// Get the modal
var modal = document.getElementById('myModal');
// Get the button that opens the modal
var btn = document.getElementById("myBtn");
// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	// When the user clicks the button, open the modal
	btn.onclick = function() {
	modal.style.display = "block";
	}
	// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		modal.style.display = "none";
		}
		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		if (event.target == modal) {
		modal.style.display = "none";
		}
		}
		</script>