	<?php include($html_path.'breadcrump.html'); ?>
	
	<div class="toolbar">
	
	</div>
	<div class="wrapper">
		<div class="detail detail-product detail-permintaan">
			<div class="colfix w75">
				
				<ul class="list formulir">

					<li>
						<br>
						<div class="colfix w100 preinput"><h2>Buat Penawaran untuk Judul</h2></div>
					</li>

					<li class="hasmsg">
						<div class="colfix w20 preinput">Deskripsi penawaran *</div>
						<div class="colfix w75">
						<textarea id="txtareatinymce" class="colfix h25"  tabindex="11"></textarea>
						<div class="notif-bar oke smaller">Jelaskan produk anda dengan detil dan lengkap sehingga memudahkan calon pembeli anda untuk mengenali produk anda. Deskripsi yang lengkap berguna untuk mesin pencarian.</div></div>
					</li>

					<li>
						<br>
						<div class="colfix w20 preinput">Budget permintaan</div>
						<div class="colfix w40"><span class="harga budget-detail">2333.900.000.000</span></div>
					</li>

					<li>
						<br>
						<div class="colfix w20 preinput">Harga Yang Ditawarkan *</div>
						<div class="colfix w40"><input type="text" tabindex="1" maxlength="120"><div class="notif-bar oke smaller">masukkan nilai harga yang ditawarkan</div></div>
					</li>
					<li><br>
						<div class="colfix w20 preinput">Foto referensi</div>
						<div class="colfix w75">
							<ul class="foto-produk">
								<?php
								for ($i=1; $i<=8; $i++) {
									echo '<li><label><div class="imgbox"><img src="assets/images/add-photo.svg"><input type="file" value="'.$i.'"></label></div></li>';
								}
								?>
							</ul>
						</div>
						<div class="colfix w20 preinput">
							<div class="notif-bar oke smaller">
								&bull; Besar file foto maximum 5 mb<br>
								&bull; Type file : JPG, GIF, PNG<br>
								&bull; Foto produk yang baik akan membuat produk anda lebih diminati oleh calon pembeli.<br>
							</div>
						</div>
					</li>

					<li>
						<div class="colfix w20"></div>
						<div class="colfix w75">
							<label><input type="checkbox"> Anda telah mengetahui dan menyetujui semua <a href="./?page=static&amp;view=syarat dan ketentuan">syarat dan ketentuan</a> yang berlaku di <strong>indonetwork.com</strong></label>
						</div>
					</li>

					<li>
						<div class="colfix w20"></div>
						<div class="colfix w75">
							<small>* Wajib diisi</small>
						</div>
					</li>

					<li>
						<br>
						<div class="colfix w20"></div>
						<div class="colfix w75">
							<input type="submit" value="Kirim Penawaran" onclick="window.location.href='?page=static&view=kirim penawaran success'"> <input type="submit" value="Simpan" onclick="window.location.href='?page=static&view=list penawaran'"> <input type="submit" value="Batal">
						<br><br>
						</div>
					</li>

				</ul>
			</div>

			<div class="colfix w25">

				<div class="vendor">
					<div class="vendortitle">
						<div class="colfix w20"><div class="imgbox imgprofile"><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></div></div>
						<div class="colfix w80">
							<h6 class="producttitle">PT. Cakrawala Mendung Payung Berkembang</h6>
						</div>
					</div>
					<div class="vendorbody">
						<div class="iconterverifikasi"><img src="./assets/images/icon-terverifikasi.jpg" alt="nama banner"></div>
						<p>Harco Mangga 2 lantai dasar block a no 55 Jakarta Utara, DKI Jakarta<br />Indonesia 12440</p>
						<dl class="listdetail">
							<dt>Kota</dt><dd><span>DKI Jakarta</span></dd>
							<dt>Login Terakhir</dt><dd><span>27 / 08 / 2016</span></dd>
							<dt>Member Sejak</dt><dd>Desember 2015</dd>
						</dl>
						<div class="colfix w100 notel">
							<div class="colfix w20"><div>Atau Hubungi:</div></div>
							<div class="colfix w55 nomor"><div>08XX-XXX-XXX</div></div>
							<div class="colfix w25"><div><input type="submit" value="Tampilkan Nomor" ></div></div>
						</div>
					</div>

					<div class="clear"></div><br />

					<div class="otherproduct otherrequest">
						<div class="otherproducttitle">
							<h6 class="producttitle">Permintaan Sejenis</h6>
						</div>
						<div class="otherproductbody">
							<div class="colfix w100"><a href="">
								<div class="info">
									<h4>Phillips Induction Cooker HD4917</h4>
									<div class="price">1.710.000</div>
									<p class="morereq">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do no </p>
									<div class="seller-info">
										<div class="membership">
											<img title="membership prioritas" src="assets/images/award.png">
										</div>
										<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div><div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
									</div>
									<div class="wrp-vndr-dat">				
										<span class="penwrn">13 <small>vendor</small></span>				
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>				
									</div>
								</div></a>
							</div>
						</div>
						<div class="otherproductbody">
							<div class="colfix w100"><a href="">
								<div class="info">
									<h4>Phillips Induction Cooker HD4917</h4>
									<div class="price">710.000</div>
									<p class="morereq">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do no </p>
									<div class="seller-info">
										<div class="membership">
											<img title="membership prioritas" src="assets/images/award.png">
										</div>
										<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div><div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
									</div>
									<div class="wrp-vndr-dat">				
										<span class="penwrn">13 <small>vendor</small></span>				
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>				
									</div>
								</div></a>
							</div>
						</div>
						<div class="otherproducttitle">
							<a href="?page=listing-request">Lihat Semua</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div>

<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Pilih Produk Anda</h2>
    </div>
    <div class="modal-body">

    	<div class="search-toolbar colfix w50">
			<form>
			<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
			<div class="colfix w40"><input type="submit" value="Cari"></div>
			</form>
		</div>

    	<div class="toolbar colfix w50">
			<div class="colfix w100 fright txtright">

				<ul>
					<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
					<li><a href=""><ico class="nav-left"></ico></a></li>
					<li><a href=""><ico class="nav-right"></ico></a></li>
				</ul>
			
			</div>
		</div>

		<div class="clear"></div><br />
      
			<?php
				for ($y = 1; $y <= 1; $y++) {
					include ($html_path.'listing-item-penawaran-modalbox.html');
				}
			?>

    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>