<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
	<?php include($html_path.'breadcrump.html'); ?>
	
	<div class="wrapper">

		<div class="detail-toolbar">

		</div>

		<div class="detail detail-product detail-permintaan">
			<div class="colfix w75">
				<div class="product">
					<div class="productdata colfix w100">
						<div>
							<h2>Philips Induction Cooker HD4915 the most amazing girl on mars</h2>
							<div class="tabeldata">
								<div>
									<div class="colfix w50">
										<dl class="listdetail">
											<dt>Tanggal Dibuat</dt><dd>28/03/2016</dd>
											<dt>Tayang Hingga</dt><dd>28/04/2016</dd>
											<dt>Lokasi</dt><dd>Jakarta Selatan, DKI Jakarta</dd>
											<dt>Jumlah Penawar</dt><dd>14</dd>
										</dl>
										<div class="clear"></div>
									</div>
									<div class="colfix w50">
										<dl class="listdetail">
											<dt>Budget</dt><dd><div class="data"><span class="harga prc-permintaan">233.900.000</span></div></dd>
										</dl>
									</div>
								</div>
								<div class="clear"></div>
								<div class="txtright"><a href="./?page=detail-permintaan-form"><span class="btn-submit mid-btn"> <strong>BUAT PENAWARAN</strong> </span></a><a href="#" id="myBtn"><span class="btn-submit mid-btn"> <strong>BUAT PENAWARAN</strong> </span></a></div>
							</div>
							<!--<div class="w40 txtright"><a href="./?page=detail-permintaan-form"><span class="btn-submit mid-btn"> <strong>BUAT PENAWARAN</strong> </span></a></div>-->

						<div>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
							<p>Kami Membutuhkan :
								<ul>
									<li>Kabel Power Tegangan Menengah Nfa2xsey-T / Nfa2xsy T Atau Yang Setipe Untuk Ukuran 3X35 3X50 3X35+50 3X50+50 Bisa Merk Extrana, Supreme, Atau Yang Sekelas. (5 Kilo)</li>
									<li>Mohon Informasikan Untuk Spesifikasi, Harga Dan Ongkos Kirim Ke Sumba, Nusa Tenggara Timur.</li>
								</ul>
							</p>
						</div>

						<div class="thumbnails thumbnails-detail-permintaan">
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/product-01b.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/product-01c.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div></div>
							<div class="colfix w25"><div class="imgbox"><a href=""><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></a></div></div>
						</div>

						</div>

					</div>
				</div>
			</div>

			<div class="colfix w25">

				<div class="vendor">
					<div class="vendortitle">
						<div class="colfix w20"><div class="imgbox imgprofile"><img src="./assets/data/profile-pic5.jpg" alt="nama banner"></div></div>
						<div class="colfix w80">
							<h6 class="producttitle">PT. Cakrawala Mendung Payung Berkembang</h6>
						</div>
					</div>
					<div class="vendorbody">
						<div class="iconterverifikasi"><img src="./assets/images/icon-terverifikasi.jpg" alt="nama banner"></div>
						<p>Harco Mangga 2 lantai dasar block a no 55 Jakarta Utara, DKI Jakarta<br />Indonesia 12440</p>
						<dl class="listdetail">
							<dt>Kota</dt><dd><span>DKI Jakarta</span></dd>
							<dt>Login Terakhir</dt><dd><span>27 / 08 / 2016</span></dd>
							<dt>Member Sejak</dt><dd>Desember 2015</dd>
						</dl>
						<div class="colfix w100 notel">
							<div class="colfix w20"><div>Atau Hubungi:</div></div>
							<div class="colfix w55 nomor"><div>08XX-XXX-XXX</div></div>
							<div class="colfix w25"><div><input type="submit" value="Tampilkan Nomor" ></div></div>
						</div>
					</div>

					<div class="clear"></div><br />

					<div class="otherproduct otherrequest">
						<div class="otherproducttitle">
							<h6 class="producttitle">Permintaan Sejenis</h6>
						</div>
						<div class="otherproductbody">
							<div class="colfix w100"><a href="">
								<div class="info">
									<h4>Phillips Induction Cooker HD4917</h4>
									<div class="price">1.710.000</div>
									<p class="morereq">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do no </p>
									<div class="seller-info">
										<div class="membership">
											<img title="membership prioritas" src="assets/images/award.png">
										</div>
										<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div><div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
									</div>
									<div class="wrp-vndr-dat">				
										<span class="penwrn">13 <small>vendor</small></span>				
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>				
									</div>
								</div></a>
							</div>
						</div>
						<div class="otherproductbody">
							<div class="colfix w100"><a href="">
								<div class="info">
									<h4>Phillips Induction Cooker HD4917</h4>
									<div class="price">710.000</div>
									<p class="morereq">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do no </p>
									<div class="seller-info">
										<div class="membership">
											<img title="membership prioritas" src="assets/images/award.png">
										</div>
										<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div><div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
									</div>
									<div class="wrp-vndr-dat">				
										<span class="penwrn">13 <small>vendor</small></span>				
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>				
									</div>
								</div></a>
							</div>
						</div>
						<div class="otherproducttitle">
							<a href="?page=listing-request">Lihat Semua</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clear"></div>
	<script type="text/javascript">parent.iframeloaded();</script>	

<!--JS-->
		<script src="assets/js/custom.js" type="text/javascript" id="theme-js"></script>

		<div class="clear"></div>
	</div>


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content mdl-login">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
		<div id="one">
			<h2>Silahkan Melengkapi Informasi Perusahaan Anda</h2>
			<p>Anda belum mengisi informasi perusahaan Anda, silahkan klik link berikut ini untuk melengkapinya:</p>
			<div class="txtcenter mrg-btn"><a class="btn data_url w30" href="dashboard.php?page=data perusahaan" target="_Blank">Isi info perusahaan</a></div>
			<p class="notif-bar">Silahkan merefresh halaman ini jika sudah selesai mengisi info perusahaan Anda, atau klik link berikut ini <a href="?page=detail-permintaan">Refresh Halaman</a></p>
		</div>
    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
