<div class="dummy-page">
	<div class="dummy-nav">&laquo;</div>
	<ul>
		<li><a href="./">home</a></li>
		<li><a href="./?page=listing">listing grid</a></li>
		<li><a href="./?page=listing&view=semirow">listing semi row</a></li>
		<li><a href="./?page=listing&view=row">listing full row</a></li>
		<li><a href="./?page=listing-company">listing perusahaan</a></li>
		<li><a href="./?page=listing-request">listing permintaan</a></li>
		<li><a href="./?page=listing-request-non-login">listing permintaan non login</a></li>
		<li><a href="./?page=search-result">search result</a></li>
		<li>&nbsp;</li>
		<li><a href="./profile-store.php?page=profile-store">Company default store</a></li>
		<li><a href="./?page=profile-store-not-found">Store not found</a></li>
		<li><a href="./?page=keranjang">Cart/Keranjang</a></li>
		<li><a href="./?page=keranjang success">Keranjang success</a></li>
		<li><a href="./?page=keranjang failed">Keranjang failed</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=tambah produk">jual sekarang</a></li>
		<li><a href="./?page=static&view=tambah produk success">jual sekarang success</a></li>
		<li><a href="./?page=kirim permintaan">kirim permintaan</a></li>
		<li><a href="./?page=static&view=kirim permintaan success">kirim permintaan success</a></li>
		<li><a href="./?page=detail">detail product</a></li>
		<li><a href="./?page=detail-permintaan">detail penawaran</a></li>
		<li><a href="./?page=static&view=kirim penawaran success">kirim penawaran success</a></li>
		<li><a href="./?page=detail-permintaan-arsip">detail permintaan arsip</a></li>
		<li><a href="./?page=detail-expired">detail expired</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=listing&view=grid quickview">listing Quick View</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=static&view=login">login</a></li>
		<li><a href="./?page=static&view=register">register</a></li>
		<li><a href="./?page=static&view=activation success">aktivation success</a></li>
		<li><a href="./?page=success page">success page</a></li>		
		<li><a href="./?page=static&view=forget password">Lupa password</a></li>
		<li><a href="./?page=static&view=verifikasi email">verifikasi email</a></li>
		<li><a href="?page=static&view=landing&land=Terima%20Kasih%20Sudah%20Mendaftar">form submit</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=static&view=Panduan pembuatan konten">Panduan Konten</a></li>
		<li><a href="./?page=static&view=syarat dan ketentuan">Syarat &amp; Ketentuan</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=static&view=tentang kami">Tentang Kami</a></li>
		<li><a href="./?page=static&view=kebijakan privasi">Kebijakan Privasi</a></li>
		<li><a href="./?page=static&view=hubungi kami">Hubungi Kami</a></li>
		<li><a href="./?page=static&view=kategori semua">Telusuri Kategori</a></li>
		<li><a href="./?page=static&view=faq">FAQ</a></li>
		<li><a href="./?page=tutorial">tutorial</a></li>
		<li><a href="./?page=static&view=lucky draw">lucky draw</a></li>

		<li>&nbsp;</li>
		<li><a href="./?page=listing">SEO kategori</a></li>
		<li><a href="?page=static&view=404">404 not found</a></li>
		<li><a href="?page=static&view=302">302 broken page</a></li>
		<li><a href="?page=static&view=landing&land=<span%20class=%22biggest%22>under%20maintenance</span>%3Cbr%3Esorry%20for%20the%20inconvenience">maintenance</a></li>
		<li><a href="http://localhost/indonetwork/?page=listing&view=grid%20notif">Engine notification</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=static&view=transformasi indonetwork">transformasi indonetwork</a></li>
		<li><a href="landingpage-ads-01.html">landing page 01</a></li>
		<li><a href="landingpage-ads-02.html">landing page 02</a></li>
		<li><a href="?page=landing-page-buyer">Landing Page Buyer</a></li>
		<li>&nbsp;</li>
		<li><a href="./?page=ifbcjkt2016">event ifbcjkt2016</a></li>
		<li><a href="./?page=bex-2016">event bex 2016</a></li>
		<li><a href="./?page=decorintex2016">decorintex 2016</a></li>
		<li><a href="./?page=inapalm2016">Inapalm 2016</a></li>
		<li><a href="./?page=concreteshow-2016">concreteshow 2016</a></li>
		<li><a href="./?page=iceei-2016">iceei 2016</a></li>
		<li>&nbsp;</li>
		<li><a href="dashboard.php"><strong>Dashboard</strong></a></li>
		<li>&nbsp;</li>

	</ul>
</div>