	<div class="wrapper">
		<div class="static-head colfix w25">
			<div>
				<h1>FAQ</h1>
			</div>
			<ul>
                <li><a href="javascript:void(0);" class="tombola">Umum</a></li>
                <li><a href="javascript:void(0);" class="tombolb">Registrasi</a></li>
                <li><a href="javascript:void(0);" class="tombolc">Fitur &amp; Produk</a></li>
                <li><a href="javascript:void(0);" class="tombold">Kategori</a></li>				
			</ul>
		</div>
			
		<div class="static-text colfix w75">

			<div class="slidingDiv umum">
				<div>
			<a href="javascript:void(0);">
        	<h3>UMUM</h3></a>

        	<br>

			<ul> 
				<li>
		
				<h4>Apa itu Indonetwork.co.id?</h4>
				
				<p>Indonetwork.co.id merupakan situs penyedia direktori sebagai media promosi online berbasis web yang dapat menghubungkan penjual dan pembeli antar bisnis (B2B - Business to Business) dan kalangan B2C (Business-to-Customer) dalam 24 Jam nonstop menjangkau seluruh wilayah Indonesia.</p>
				
				</li>

				<li>
		
				<h4>Manfaat Indonetwork?</h4>
				
				<ol>
					<li>Membantu Anda membuat promosi online dengan mudah</li>
					<li>Dengan mudah memperoleh informasi perdagangan baru</li>
					<li>Meningkatkan penjualan dan pengembangan bisnis Anda</li>
					<li>Hemat biaya operasional dan pemasaran</li>
				</ol>
				
				</li>

				<li>
		
				<h4>Dimanakah kantor Indonetwork?</h4>
				
				<p>
				Lippo Kuningan 21st Floor<br />
				Jl HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta 12940, Indonesia<br /><br />
				Cabang:<br />
				Ruko Grand City Regency Blok A-10<br />
				Jl. Rungkut Madya, Surabaya, Indonesia.<br /><br />
				Customer Service :<br />
				Menara Salemba Lantai 8, Jl. Salemba Raya No.5-5A, Paseban, Senen, Jakarta Pusat.<br />
				Customer Support : 0804-1-787878<br />
				Email: <a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a>
				</p>
				
				</li>

				<li>
			
				<h4>Apakah Indonetwork juga menjual atau menawarkan barang atau jasa secara langsung?</h4>
				
				<p>Tidak. Indonetwork.co.id bukanlah pemasok ataupun produsen atas produk tertentu. Indonetwork.co.id hanya menyediakan platform informasi bisnis untuk Pembeli dan Penjual sehingga dapat mempermudah untuk mencari barang-barang secara online. Dengan demikian, Indonetwork tidak melayani transaksi pembelian maupun pengiriman.
				</p>
				
				</li>

				<li>
			
				<h4>Apakah Indonetwork hanya tersedia untuk Penjual?</h4>
				
				<p>Indonetwork.co.id juga tersedia bagi Pembeli yang ingin mencari produk dan atau membeli produk dari Penjual yang tergabung sebagai Anggota Indonetwork</p>
				
				</li>

				<li>
			
				<h4>Apa saja layanan yang di tawarkan Indonetwork?</h4>
				
				<p>Kami tawarkan keanggotaan "FREE", "Layanan SMS" dan "Prioritas".</p>
				
				</li>

				<li>
			
				<h4>Apa perbedaan dari Layanan tersebut?</h4>
				
				<p>
						<table class="layanan" cellpadding="4" cellspacing="0" border="0">
							<thead>
								<tr>
									<td><b>Fitur &amp; Manfaat</b></td>
									<td class="txtcenter"><b>Prioritas</b></td>
									<td class="txtcenter"><b>Layanan SMS</b></td>
									<td class="txtcenter"><b>Free</b></td>
							</thead>
							<tbody>
								<tr>
									<td>Website langsung jadi</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>

								</tr>
								<tr>
									<td>Layanan Pemberitahuan SMS</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td>Pilihan Tampilan Situs Profesional (Theme)</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td>Running Text</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td>Kredibilitas dan Kepercayaan Pembeli Meningkat Karena Kelengkapan &amp; Validitas Informasi Perusahaan</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td>Kunjungan Domain di Indonetwork Dari Pembeli Bertambah. Baik dari Pasar Lokal dan Mancanegara</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td>Badge Anggota Prioritas Sebagai Bukti Verifikasi dan Meningkatkan Kepercayaan Pembeli</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">Yes</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td class="bg">Listing di Halaman Utama Direktori www.indonetwork.co.id</td>
									<td class="txtcenter bg">Yes</td>
									<td class="txtcenter">-</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td class="bg">Lebih Mudah Ditemukan Oleh Pembeli</td>
									<td class="txtcenter bg">Yes</td>
									<td class="txtcenter">-</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td class="bg">Meningkatkan Kesempatan Terjadinya Transaksi Jual Beli</td>
									<td class="txtcenter bg">Yes</td>
									<td class="txtcenter">-</td>
									<td class="txtcenter">-</td>
								</tr>
								<tr>
									<td>Biaya</td>
									<td class="txtcenter">Rp 1.700.000</td>
									<td class="txtcenter">Rp 399.000</td>	
									<td></td>		
								</tr>
								<tr>
									<td>Domain</td>
									<td></td>
									<td class="txtcenter">Rp 199.000</td>	
									<td></td>
								<tr>
							</tbody>
						</table>
					</p>												
				
				</li>

				<li>
			
				<h4>Apakah Indonetwork melayani layanan jasa pengiriman?</h4>
				
				<p>Tidak. Indonetwork hanya sebagai penyedia platform dari pemasaran produk secara online.</p>
				
				</li>

				<li>
			
				<h4>Perusahaan kami sudah tutup, apakah Akun saya bisa di tutup?</h4>
				
				<p>Bisa. Penjual dapat informasikan alasan penutupan dengan jelas dan berikan dokumen pendukung yaitu SIUP (Surat Izin Usaha Perdagangan) dan NPWP (Nomor Pokok Wajib Pajak) serta KTP atau melalui email Customer Support Indonetwork.</p>
				
				</li>

				<li>
				
				<h4>Apakah itu Cookie ?</h4>
				
				<p>Cookie merupakan informasi kecil yang oleh situs web disimpan pada sebuah file yang ditunjuk di komputer anda. Untuk lebih lengkapnya dapat dilihat di link berikut : <a href="http://www.indonetwork.co.id/page/privacy-policy " target="_blank">http://www.indonetwork.co.id/page/privacy-policy</a> pada poin "Apakah itu Cookie?"</p>
				
				</li>

				<li>
			
				<h4>Akankah situs web lainnya dapat mencuri nama user dan kata sandi Saya ?</h4>
				
				<p>Tidak. Untuk user name dan password hanya user saja yang dapat mengetahui. Untuk lebih aman, silahkan pemilik akun melakukan perubahan password secara berkala, tidak membiarkan orang lain mengetahui user name dan password Anda atau menggunakan PC atau perangkat lain sebelum Anda log out dari website.</p>
				</li>

				<li>
			
				<h4>Bagaimana bila Anda berminat terhadap suatu produk dan berniat untuk menghubungi Penjual?</h4>
				<p>Pembeli dapat melakukan penawaran dan transaksi langsung kepada Penjual tersebut dengan menghubungi kontak yang tersedia dengan klik kolom "Tampilkan Nomor".</p>
				</li>

				<li>
				
				<h4>Apakah keanggotaan Prioritas dapat dipercaya?</h4>
				<p>Keanggotaan Prioritas bukan menjadi jaminan keamanan untuk mencari penjual. Namun Penjual dengan keanggotaan Prioritas dan SMS memiliki Informasi Perusahaan yang dapat divalidasi dengan fitur validasi alamat oleh indonetwork, sedangkan untuk anggota free fitur validasi alamat tersebut tidak tesedia.</p>
				</li>

				<li>
				<h4>Bagaimana Saya dapat mengetahui bahwa Penjual dapat dipercaya?</h4>
				<p>Pada dasarnya, Indonetwork.co.id hanya merupakan situs penyedia direktori bagi para Penjual. Adapun bagi para Pembeli, mohon untuk tetap melakukan transaksi dengan para Penjual di Indonetwork dengan prinsip kehati-hatian.</p>
				</li>

				<li>
				<h4>Bagaimana cara menemukan Penjual dari wilayah tertentu?</h4>
				<p>Pembeli dapat melakukan pencarian produk tersebut dengan mengubah kriteria pencarian berdasarkan propinsi tertentu yang pembeli inginkan. Saat lakukan pada bar pencarian pembeli dapat mengubah kolom "Propinsi" dengan memilih wilayah yang diinginkan.</p>
				</li>

				<li>
				<h4>Apa yang terjadi jika ada penipuan antara Penjual dan Pembeli?</h4>
				<p>Jika terjadi tindak penipuan antara Penjual kami dengan Pembeli, Pembeli diharapkan untuk dapat melaporkan hal tersebut ke Pihak berwajib. 
				Indonetwork sebagai penyedia direktori akan bersedia memberikan informasi yang terkait perihal tersebut bahkan tindak lanjut berupa penutupan akun terlapor jika Pihak berwajib meminta</p>
				</li>

				<li>
				<h4>Bagaimana jika Penjual tidak menanggapi pemintaan pembelian Saya?</h4>
				<p>Pembeli dapat meninggalkan Quotation pada produk tersebut. Namun jika Penjual tidak juga merespon, pembeli disarankan mencari Penjual lainnya yang juga menyediakan produk tersebut.
				</p>
				</li>

				<li>
				<h4>Bagaimana menghubungi Penjual?</h4>
				<p>"Pembeli bisa menghubungi penjual dengan 2 (dua) cara, yaitu:
				<ol> 
					<li>Klik kolom "Tampilkan Nomor" dan hubungi pernjual dengan nomor telpon yang tertera.</li>
					<li>Klik menu "Kirim Pesan" atau "Quotation" untuk mengirimkan pesan kepada Penjual.</li>
				</ol>
				</p>
				</li>

				<li>
				<h4>Dimana Cart Status Saya?</h4>
				<p>Pembeli dapat mengakses Cart Status di bagian kanan atas halaman Indonetwork.
				</p>
				</li>

				<li>
				<h4>Bagaimana Saya bisa menghubungi Penjual melalui Cart Status?</h4>
				<p>Pembeli dapat menghubungi Penjual melalui Cart Status dengan klik gambar produk, setelah itu klik Info Perusahaan. Pembeli dapat menghubungi langsung nomor telepon, email atau alamat yang ditinggalkan oleh Penjual .
				</p>
				</li>

				<li>
				<h4>Bagaimana Saya dapat menambahkan produk ke Cart Status Saya?</h4>
				<p>Pembeli dapat menambahkan produk yang dibutuhkan kedalam Cart Status dengan klik gambar produknya dan klik "Tambahkan ke Keranjang". Secara otomatis produk akan masuk kedalam cart status Pembeli.
				</p>
				</li>

					<li>
				<h4>Bagaimana cara mengirim pesan kepada Penjual untuk permintaan pembelian?</h4>
				<p>Pembeli dapat memberikan pertanyaan atau menanyakan detail produk dengan cara klik nama produk dan klik bagan kosong dan ketikan pesan yang ingin dikirimkan, setelah itu klik "Kirim Pesan".
				</p>
				</li>

				<li>
				<h4>Bagaimana cara membalas pesan dari Penjual ?</h4>
				<p>Pembeli dapat membalas respon atau pesan dari Penjual dengan cara mengakses menu "Quotation" setelah itu klik menu "Outbox"
				</p>
				</li>

				<li>
				<h4>Bagaimana jika produk yang dikirim tidak sesuai dengan yang Saya pesan atau cacat?</h4>
				<p>Indonetwork.co.id hanya menyediakan platform informasi bisnis untuk Pembeli dan Penjual dari seluruh wilayah di Indonesia untuk saling berhubungan. Dengan demikian, Indonetwork tidak melayani transaksi pembelian maupun pengiriman, sehingga Pembeli dapat konfirmasi langsung kepada Penjual perihal produk yang pembeli terima.
				</p>
				</li>

				<li>
				<h4>Apakah harga yang tercantum di website sudah sesuai?</h4>
				<p>Harga yang tercantum pada website adalah harga yang dicantumkan oleh Penjual produk tersebut. Jika ada perubahan harga sewaktu-waktu diluar kendali Indonetwork sebagai penyedia direktori.
				</p>
				</li>

				<li>
				<h4>Bagaimana bila produk yang saya pesan ternyata belum Saya terima dari Penjual?</h4>
				<p>Jika hal tersebut terjadi, Pembeli diharapkan untuk menghubungi Penjual produk tersebut kembali. Karena hal tersebut di luar kendali Indonetwork sebagai situs penyedia direktori.
				</p>
				</li>

				<li>
				<h4>Apakah Saya bisa mengembalikan produk yang Saya terima dan dikembalikan uang (refund)?</h4>
				<p>Kebijakan pengembalian uang (refund) ditentukan oleh masing-masing Penjual. Hal tersebut diluar kendali Indonetwork sebagai penyedia direktori.
				</p>
				</li>

				<li>
				<h4>Ketika Saya melakukan pembelian domain, berapa lama waktu yang saya butuhkan hingga domain tersebut bisa tayang dan dapat digunakan?</h4>
				<p>Setelah pembayaran diterima, pembuatan domain akan secara langsung kami proses dan akan siap setelah 14 hari kerja.
				</p>
				</li>


				<li>
				<h4>Apakah pengertian katalog produk?</h4>
				<p>Katalog produk merupakan fitur indonetwork untuk mengelompokkan produk-produk yang sesuai dengan kategorinya
				</p>
				</li>



				<li>
				<h4>Apakah pengertian penawaran jual?</h4>
				<p>Penawaran jual merupakan fitur yang ditujukan untuk para calon pembeli untuk melihat penawaran penjualan berbagai macam produk yang terdapat di Indonetwork.co.id.
				</p>
				</li>



				<li>
				<h4>Apakah pengertian penawaran beli? </h4>
				<p>Penawaran beli merupakan fitur yang ditujukan bagi para penjual untuk meilhat penawaran pembelian apa saja yang ada di website Indonetwork.co.id.
				</p>
				</li>



				<li>
				<h4>Apakah pengertian penawaran kerjasama? </h4>
				<p>Penawaran kerjasama merupakan sebuah fitur yang dapat menambahkan mitra usaha Anda dalam penjualan maupun pembelian.
				</p>
				</li>

				<li>
				<h4>Apakah Layanan SMS itu ? </h4>
				<p>Layanan SMS adalah fasilitas yang disediakan jika ada pemberitahuan/pesan bisnis yang akan dikirimkan langsung ke ponsel anda melalui SMS.
				</p>
				</li>

				<li>
				<h4>Apakah untuk member berbayar Indonetwork sudah termasuk penyewaan domain? </h4>
				<p>Tidak, untuk harga domain terpisah dengan harga member Prioritas maupun Layanan SMS.
				</p>
				</li>


				<li>
				<h4>Apakah jika upgrade menjadi member prioritas, perusahaan kami akan tampil dihalaman pertama google? </h4>
				<p>Indonetwork tidak dapat menjanjikan hal tersebut, karena untuk tampil dihalaman pertama google membutuhkan waktu yang tidak sedikit dan pengguna akun harus melakukan kegiatan secara berkala pada akun nya di Indonetwork.co.id.
				</p>
				</li>

				<li>
				<h4>Dimanakah saya dapat melihat statistik jumlah pengunjung yang mengunjungi website saya?</h4>
				<p>Untuk saat ini, fitur tersebut belum tersedia pada Indonetwork.co.id.
				</p>
				</li>


				<li>
				<h4>Jika saya membeli domain, berapa lamakah saya harus menunggu hingga domain tersebut aktif?</h4>
				<p>Untuk estimasi aktifasi domain 1-14 hari kerja dari Anda melakukan konfirmasi pembayaran kepada kami.
				</p>
				</li>

					<li>
				<h4>Apakah saya akan menerima notifikasi jika masa keanggotaan akan berakhir?</h4>
				<p>Ya, Anda akan menerima notifikasi melalui email apabila masa keanggotaan akan berakhir.
				</p>
				</li>

					<li>
				<h4>Dimanakah saya dapat mengecek masa berlaku penyewaan domain saya?</h4>
				<p>Anda dapat melakukan pengecekan masa berlaku domain Anda di http://who.is/
				</p>
				</li>

					<li>
				<h4>Apakah Banner yang ada di Account Indonetwork bisa di gantikan dengan foto perusahaan / foto lain ?</h4>
				<p>Saat ini Banner hanya satu saja dan tidak bisa di gantikan.
				</p>
				</li>

					<li>
				<h4>Apakah ada kolom untuk menuliskan keyword yang kami inginkan? dan dimanakan kolom tersebut?</h4>
				<p>Untuk kolom keyword saat ini di Indonetwork belum tersedia, Anda dapat memasukan keyword yang Anda inginkan pada kolom judul maupun deskripsi produk.
				</p>
				</li>

					<li>
				<h4>Bisakah saya melakukan perubahan URL Perusahaan?</h4>
				<p>URL perusahaan untuk saat ini tidak bisa dirubah.
				</p>
				</li>

					<li>
				<h4>Apakah web Indonetwork tersedia dalam versi Bahasa Inggris juga ?</h4>
				<p>Untuk saat ini website dalam bahasa inggris masih dalam pengembangan.
				</p>
				</li>

					<li>
				<h4>Apakah Indonetwork sudah support untuk diakses melalui mobile?</h4>
				<p>Ya, Anda kini dapat mengakses Indonetwork melalui mobile.
				</p>
				</li>

					<li>
				<h4>Produk saya tidak langsung muncul diwebsite?</h4>
				<p>Produk yang baru saja Anda masukkan, akan di proses moderasi terlebih dahulu dengan estimasi 1 - 3 hari kerja.
				</p>
				</li>

				<li>
				<h4>Bagaimanakan tips &amp; trik agar belanja aman?</h4>
				<p>Pada dasarnya Indonetwork tidak menjamin transaksi yang terjadi antara penjual dan pembeli, namun ada baiknya pembeli dapat berhati-hati dalam melakukan transaksi pembelian. Setidaknya, berikut ini adalah tips untuk mengurangi resiko penipuan:
				<ol>
					<li>Periksa dulu, apakah penjual telah memiliki member verified. Jika ya, itu artinya penjual tersebut telah menunjukkan identitas yang jelas kepada indonetwork.co.id mengenai nama dan alamat lengkap mereka. Sehingga, dapat ditelusuri jika terjadi sebuah tindak penipuan.</li>
					<li>Hubungi penjual. Hubungi penjual melalui fitur quote yang kami sediakan atau menghubungi nomor telepon penjual. Jika nomor telepon tersebut tidak aktif atau salah sambung, sebaiknya pembeli tidak melakukan transaksi pembelian dahulu.</li>
					<li>Cek Harga. Perhatikan harga yang ditawarkan, jangan tergiur dengan harga yang murah. Pastikan harga tersebut sudah sesuai dengan harga di pasaran.</li>
					<li>Kredibilitas Member. Sebaiknya, pilihlah penjual yang memiliki kredibilitas lebih dari akun keanggotaannya. Penjual dengan akun Prioritas dan layanan SMS lebih Kami rekomendasikan karena secara umum penjual lebih serius.</li>
				</ol>
				</p>
				</li>


				<li>
				<h4>Saya sudah transfer, barang belum dikirim, apa yang harus saya dilakukan ?</h4>
				<p>Indonetwork.co.id merupakan situs penyedia direktori sebagai media promosi online berbasis web yang dapat menghubungkan penjual dan pembeli, apabila Anda sudah melakukan sejumlah transfer dana dan belum di proses oleh penjual silahkan menghubungi penjual via telepon dan email yang tercantum di info perusahaan. Apabila dalam janga waktu 72 jam tidak ada respon dari penjual, silahkan mengirimkan laporan Anda ke pihak berwajib untuk pengaduan laporan tindak penipuan. Kami akan membantu semaksimal mungkin apabila ada permintaan dari pihak berwajib.
				</p>
				</li>

				<li>
				<h4>Saya tidak mendapatkan notifikasi email bahwa produk yang saya upload di approve atau ditolak. Apa yang harus dilakukan?</h4>
				<p>Anda dapat mengirimkan kendala Anda dengan mengirimkan email ke <a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a> atau menghubungi Customer Service kami di Nomor 0804-1-787878.
				</p>
				</li>

				<li>
				<h4>Mengapa tampilan dashboard berubah?</h4>
				<p>Kami melakukan perubahan pada dashboard untuk memudahkan Anda dalam melakukan update company profile maupun memasukkan atau meng-update produk jualan Anda. Sehingga Anda dapat mengelola Laman Perusahaan (Company Page) Anda dengan mudah, cepat dan nyaman.
				</p>
				</li>

				<li>
				<h4>Apa manfaat dari berubahnya dashboard ini?</h4>
				<p>Dengan berubahnya dashboard Anda, calon pembeli pasti akan lebih tertarik untuk mengunjungi Laman Perusahaan Anda. Dan kami pun mengajak Anda untuk selalu melakukan update terhadap produk yang Anda jual di website, seperti Produk Baru, Jumlah Produk, dan Harga. Karena menurut hasil riset, pembeli selalu mengharapkan informasi yang terbaru dari seller
				</p>
				</li>

				<li>
				<h4>Apakah Perusahaan yang alamatnya sudah terverifikasi, akan terjamin 100% valid ?</h4>
				<p>Kami tidak bisa menjamin 100% untuk perusahaan yang alamatnya sudah terverifikasi adalah valid 100%, tetapi dengan adanya fasilitas tersebut alamat perusahaan sudah terdeteksi oleh tim kami, dan jika kedepannya ada kejadian yang tidak diinginkan, akan bisa langsung diperiksa ke alamat tersebut oleh tim kami.
				</p>
				</li>

				<li>
				<h4>Apakah pembayaran untuk menjadi Anggota prioritas, ataupun sms yang telah dilakukan dapat dikembalikan (Refund)?</h4>
				<p>Pembayaran membership tidak bisa di batalkan atau di refund untuk alasan apapun.
				</p>
				</li>

			</div><br><br>
		</div>

        <div class="slidingDiv registrasi">
        	<div>
        	<a href="javascript:void(0);">
			<h3>REGISTRASI</h3></a>
			<br>

			<ul>
				<li>
				<h4>Bagaimana cara daftar menjadi Anggota ?</h4>
				
				<p>Untuk mendaftar menjadi anggota, silakan masuk ke laman pendaftaran di <a href="http://www.indonetwork.co.id/user/register" target="_blank">http://www.indonetwork.co.id/user/register</a>. Isi form atau pertanyaan dengan data yang valid sesuai dengan profil dan usaha Anda.</p>
				
				</li>
				<li>
				<h4>Apa syarat menjadi Anggota sebagai Penjual di Indonetwork ?</h4>
				<p>Untuk menjadi anggota sebagai penjual di Indonetwork terdapat persyaratan yang harus diikuti sesuai dengan yang tercantum pada laman http://www.indonetwork.co.id/page/term-condition pada poin "Pengguna".</p>
				
				</li>
				<li>
				<h4>Dapatkah Saya membuat akun tanpa e-mail ?</h4>
				
				<p>Tidak dapat. Setiap Penjual wajib mendaftar dengan menggunakan email yang valid dan masih aktif. Sangat disarankan menggunakan email dari perusahaan Anda.</p>
				
				</li>
				<li>
				<h4>Bagaimana Saya meningkatkan layanan keanggotaan Saya ?</h4>
				
				<p>Untuk meningkatkan layanan keanggotaan, setiap Penjual dapat akses menu dashboardnya dan pilih menu "Info Keanggotaan" kemudian pilih untuk layanan keanggotaan yang diinginkan.</p>
				
				</li>
				<li>
				<h4>Apakah Saya bisa berlangganan dengan nama domain sendiri ?</h4>
				
				<p>"Bisa. Anda bisa memiliki domain Anda sendiri dengan berlangganan layanan domain. Silahkan menghubungi customer support Kami untuk informasi pemesanan, setelah itu melakukan pembayaran atas layanan domain tersebut. Setelah melakukan pembayaran, penjual dapat mengirimkan email ke support@indonetwork.co.id melalui email perusahaan yang terdaftar dengan memberikan keterangan:
				<!-- type 1 not working -->
				<ul >	
						<li type="1">1. User Name : </li>
						<li>2. Url : </li>
						<li>3. Domain yang diinginkan : </li> 
						<li>4. Detail transaksi pembayaran: 
							<Ul>
							    <li>a. Nama Bank:</li>
							    <li>b. Nama pemilik rekening:</li>
							    <li>c. Jumlah nominal: Rp.</li>
							    <li>d. Bank yang dituju: BCA atau Mandiri</li> 
							</Ul>
						</li>
						<li>5. Attachment bukti transaksi. </li>
						<li>Jika menginginkan domain dengan menggunakan ".co.id " penjual wajib memberikan syarat tambahan yaitu:
							<ul>
								<li>1. NPWP </li>
								<li>2. SIUP</li>
								<li>3. TDP (Tanda Daftar Perusahaan)</li> 
							</ul> 				
						</li>
				</ul></p>
				
				<li>
				<h4>Hal-hal yang harus di perhatikan dalam berlangganan layanan Domain?</h4>
				
				<p>Domain/Subdomain yang diperoleh Pelanggan dalam Layanan (selanjutnya disebut "Domain/Subdomain") merupakan milik Indonetwork. Indonetwork berhak untuk (1) mengubah, memodifikasi, dan menentukan konfigurasi terhadap Domain/Subdomain, (2) menghapus Domain/Subdomain apabila Pelanggan berhenti dari Layanan dan/atau keanggotaan Indonetwork, dan (3) menghapus Domain/Subdomain apabila terdapat unsur yang bertentangan dengan norma kesusilaan dan/atau peraturan perundang-undangan yang berlaku.</p>
				
				</li>
				<li>
				<h4>Apakah akun Indonetwork dapat digunakan lebih dari satu admin ?</h4>
				<p>Tidak. Untuk keanggotaan Free dan Layanan SMS tidak bisa menggunakan akun lebih dari satu admin, sedangkan untuk keanggotaan Prioritas dapat menggunakan akun lebih dari satu admin.</p>
				
				</li>
				<li>
				<h4>Apakah Saya bisa mengubah email saya yang terdaftar di Indonetwork ?</h4>
				
				<p>Email yang telah didaftarkan tidak bisa diganti.</p>
				
				</li>
				<li>
				<h4>Bagaimana cara lakukan konfirmasi pembayaran layanan keanggotaan ?</h4>
				
				<p>Konfirmasi pembayaran hanya dapat dilakukan oleh penjual dengan mengakses dashboard kemudian klik menu "Info Keanggotaan" lalu "Tingkatkan Sekarang" setelah itu klik keanggotaan yang Anda inginkan. Kemudian penjual diharuskan mengisi data konfirmasi secara lengkap dan sesuai.</p>
				
				</li>
				<li>
				<h4>Bagaimana cara untuk melihat status pembayaran yang Saya lakukan ?</h4>
				
				<p>Status pembayaran yang telah dilakukan dapat diakses langsung oleh Penjual dengan mengakses dashboard kemudian klik menu "List Permintaan Upgrade". Penjual akan melihat progress dari konfirmasi pembayaran yang telah dilakukan.</p>
				
				</li>
				<li>
				<h4>Dimanakah mengisi No Ponsel Untuk Layanan SMS</h4>
				
				<p>Silahkan Anda login ke dashboard Anda dan klik menu Akun - Profile - dan kolom nomor Hp bisa Anda isi.</p>
			</div><br><br>
        </div>

        

        <div class="slidingDiv fiturproduk">
        	<div>
<a href="javascript:void(0);">
			<h3>FITUR &amp; PRODUK</h3></a>

        	<br>
			<ul>
				<li>
				<h4>Apakah "Jual Sekarang" itu?</h4>
					<p>"Jual Sekarang" merupakan fitur yang dapat memudahkan Anda untuk melakukan pendaftaran dan pembuatan produk di dalam waktu yang sama, dan ini berlaku bagi Anda yang belum teregistrasi di dalam website Indonetwork. Sedangkan bagi Anda yang sudah menjadi Anggota, "Jual Sekarang" dapat berguna sebagai cara cepat untuk melakukan penambahan produk tanpa harus memasuki dashboard terlebih dahulu.
					</p>				
				</li>

				<li>
				<h4>Produk apa saja yang dapat di perjualbelikan di Indonetwork ?</h4>				
					<p>Anggota dapat menjual/membeli segala jenis produk, selama tidak diluar dari peraturan perundang-undangan yang berlaku. Produk yang dilarang untuk diperjualbelikan seperti yang mengandung/bersinggungan dengan unsur SARA, diskriminasi, menebar kebencian, atau menyudutkan pihak lain. Untuk daftar produk yang dilarang diperjualbelikan dapat dilihat di link berikut http://www.indonetwork.co.id/page/term-condition pada poin "Daftar Barang dan Jasa Terlarang"
					</p>				
				</li>

				<li>
				<h4>Apakah Saya bisa memasukkan produk ke dalam kelompok produk ?</h4>				
					<p>	Bisa. Setiap Penjual bisa memasukan produk ke dalam kelompok produk. Dengan cara mengakses menu "dashboard", lalu Klik "Kelompok Produk" dan klik "Tambah Kelompok Produk". Pilih produk mana saja yang ingin di kelompokkan dalam kelompok produk yang berbeda.</p>		
				</li>

				<li>
				<h4>Apakah Saya bisa menghapus produk yang sudah tidak Saya jual lagi ?</h4>				
					<p>Menunggu fitur delete produk. Karena untuk saat ini fitur tersebut masih belum tersedia.</p>
				</li>

				<li>
				<h4>Apakah Saya bisa tidak menampilkan harga produk yang saya jual ?</h4>				
					<p>Tidak. Saat ini Indonetwork mewajibkan seluruh penjual untuk menampilkan harga yang ditentukan.</p>
				</li>

				<li>
				<h4>Apakah Saya bisa mengganti user name saya ?</h4>				
					<p>Tidak. Member tidak dapat mengganti user name yang sudah didaftarkan.</p>
				</li>

				<li>
				<h4>Apa itu menu Cart Status ?</h4>				
					<p>Cart Status adalah fitur Indonetwork untuk menyimpan produk yang diminati.</p>
				</li>

				<li>
				<h4>Apa itu quotation ?</h4>				
					<p>Quotation adalah fitur Indonetwork agar Penjual mendapatkan pesan ketika ada Pembeli yang berminat dengan produk yang Penjual pasarkan.</p>
					</li>

				<li>
				<h4>Apakah Saya bisa mengubah URL perusahaan saya ?</h4>
				
				<p>Tidak. URL yang telah didaftarkan pertama kali tidak bisa diganti.</p>
				
				</li>

				<li>

				<h4>Apa itu Inbox ?</h4>
				<p>Inbox merupakan fitur Indonetwork untuk melihat pemberitahuan bahwa terdapat Pembeli yang tertarik dengan produk penjual. Pesan yang diterima dapat direspon kembali oleh penjual melalui fitur ini</p>			
				</li>

				<li>
				<h4>Apa itu Outbox ?</h4>				
				<p>Outbox merupakan fitur Indonetwork untuk melihat pesan yang Pembeli kirimkan kepada Penjual yang tergabung di Indonetwork.</p>				
				</li>

				<li>
				<h4>Apakah Saya dapat menambahkan produk ?</h4>				
				<p>Bisa. Penjual dapat menambahkan produk. Dengan mengakses menu "Jual Sekarang" pada home page Indonetwork. Kemudian Penjual lengkapi form yang disediakan dengan lengkap, setelah terisi dengan lengkap klik "Tayangkan Melalui Moderasi".</p>				
				</li>

				<li>
				<h4>Apakah ada batasan dalam penulisan deskripsi produk ?</h4>				
				<p>Ada. Batasan untuk penulisan deskripsi sebanyak 5.000 karakter, jika lebih maka produk tidak dapat ditayangkan.</p>
				</li>

				<li>
				<h4>Apakah ada batasan dalam penulisan deskripsi pada company profile ?</h4>				
				<p>Ada. Batasan untuk penulisan deskripsi pada company profile sebanyak 5.000 karakter.</p>				
				</li>

				<li>
				<h4>Bagaimana cara untuk menonaktifkan produk untuk sementara ?</h4>				
				<p>Untuk menonaktifkan produk, Penjual dapat mengakses menu "Dashboard", lalu pilih menu "Produk", pilih produk yang ingin dinonaktifkan, kemudian pilih menu "Edit" dan klik "Simpan Sementara".</p>				
				</li>

				<li>
				<h4>Apakah Saya bisa ubah logo perusahaan Saya ?</h4>				
				<p>Bisa. Penjual dapat mengubah logi perusahaan degan mengakses menu "Dashboard", kemudian pilih menu "Data Perusahaan", kemudian klik "Ubah Data Perusahaan". Setelah selesai klik "Simpan Data".</p>				
				</li>

				<li>
				<h4>Apa saja batasan tanggung jawab Indonetwork dari konten dan informasi yang dimiliki oleh setiap akun ?</h4>				
				<p>Penjual merupakan anggota dari Indonetwork dan sebagai pengguna akun, sehingga seluruh konten yang digunakan beserta informasi yang digunakan dalam akun tersebut merupakan tanggung jawab pemilik akun. Hal tersebut diluar tanggung jawab Indonetwork. Untuk lebih lengkapnya dapat dilihat di link berikut : http://www.indonetwork.co.id/page/term-condition pada poin "Batasan Tanggung Jawab".</p>				
				</li>

				<li>
				<h4>Apakah Running Text?</h4>				
				<p>Running Text adalah fitur yang berguna untuk menyampaikan pesan dan informasi yang digunakan sebagai sarana iklan penjual.</p>
				</li>

				<li>
				<h4>Apakah Verification Address?</h4>				
				<p>Verification address adalah fitur proses untuk pengecekan alamat yang dicantumkan oleh penjual. Jika surat yang dikirimkan oleh indonetwork sampai dan sudah diinput di menu verification adress, maka perusahaan tersebut mendapatkan tanda sebagai verified member.</p>				
				</li>

				<li>
				<h4>Apa itu tayangkan melalui moderasi ?</h4>				
				<p>Jika klik tayangkan melalui moderasi, hal tersebut dimaksudkan produk yang di upload akan dilakukan pengecekan maksimal 3 hari oleh tim terkait Indonetwork tentang kualitas gambar, sinkronisasi judul deskripsi dan gambar serta produk tidak termasuk dalam barang yang dilarang dalam syarat dan ketentuan Indonetwork.</p>				
				</li>

				<li>
				<h4>Apa perbedaan "Simpan Sementara" dan "Tayangkan Melalui Moderasi"?</h4>				
				<p>""Simpan Sementara" adalah jika Anda ingin melakukan upload produk namun produk tersebut masih membutuhkan perubahan/ingin diedit silakan Anda memilih simpan sementara. "Tayangkan Melalui Moderasi" adalah jika Anda ingin melakukan upload produk dan produk tersebut sudah lengkap untuk detailnya (Harga, Deskripsi, Judul) silakan Anda memilih "Publish To Moderation"."</p>				
				</li>

				<li>
				<h4>Berapa banyak Saya dapat melakukan penambahan gambar produk?</h4>
				<p>Batas maksimal untuk sekali penguplodan 8 gambar dengan minimal resolusi 500X500 Pixel dan maksimal 2000X2000 Pixel.</p>
				</li>

				<li>
				<h4>Apakah Saya dapat tetap melakukan pemilihan themes?</h4>				
				<p>Opsi untuk pemilihan themes tentunya tetap kami sediakan untuk kebebasan Anda dalam berkreasi, dan sekarang sudah tersedia dalam 4 pilihan(khusus member sms dan prioritas). Tim kami sedang melakukan pengembangan untuk menambah themes lainnya yang dapat dipilih sesuai dengan selera.</p>				
				</li>
				
				<li>
				<h4>Kenapa harga yang Saya cantumkan menjadi "0" (angka nol)?</h4>				
				<p>Sebelumnya apakah Anda memasukkan harga/price dengan tulisan seperti “Nego” atau “hubungi kami”? jika ya, saat ini dengan sistem Kami terbaru, kolom harga hanya dapat di isi dengan angka saja atau numerik. Hal ini berguna untuk menyeragamkan penggunaan kolom harga dengan semua member, sehingga saat Kami melakukan promosi untuk produk Anda akan jauh lebih menarik minat pembeli.  Anda hanya cukup masukkan perkiraan harga yang Anda tawarkan di kolom “Harga jual” mulai dari berapa, sampai dengan berapa dengan tujuan agar Pembeli yang berpotensial, berminat melakukan penawaran terhadap produk Anda.</p>				
				</li>

				<li>
				<h4>Berapa karakterkah yang dapat saya masukan pada kolom judul?</h4>
				<p>Untuk judul, Anda dapat memasukan minimal 10 karakter dan maksimal 70 karakter.</p>				
				</li>

			</ul>
		</div><br><br>
	</div>


			<div class="slidingDiv kategori">
        	<div>
        	<a href="javascript:void(0);">
			<h3>KATEGORI</h3></a>
			<br>

			<ul>

				<li>
				<h4>Mengapa kategori di dalam website Indonetwork berubah?</h4>
				<p>Kami juga melakukan perubahan dari sisi "Kategori Produk" untuk meningkatkan kualitas pencarian di website Indonetwork agar lebih banyak pengunjung dari calon Pembeli. Pengelompokan kategori ini kami ubah agar lebih spesifik untuk memudahkan pembeli dalam melakukan pencarian dan menemukan produk sesuai dengan kebutuhannya. Dan juga untuk membuat kategori dari Indonetwork lebih teratur, dan menghilangkan segala jenis duplikasi yang terdapat di dalam kategori yang lama, agar dapat memudahkan Anda melakukan kategorisasi terhadap produk Anda.</p>
				</li>

				<li>
				<h4>Apakah Google dapat tetap menemukan produk Saya, jika ada perubahan kategori ini?</h4>
				<p>Tim support kami telah melakukan sinkronisasi dari format halaman lama (url) ke format halaman baru dari setiap kategori. Sehingga perubahan kategori tidak menimbulkan efek di google. Setiap url lama yang di tampilkan oleh google akan langsung di arahkan ke alamat format halaman (url) baru di Indonetwork.</p>
				</li>

				<li>
				<h4>Sejak kapan kategori Indonetwork berubah?</h4>
				<p>Perubahan kategori ini kami lakukan bersamaan dengan perubahan desain website.</p>
				</li>

				<li>
				<h4>Mengapa kategori di dalam website Indonetwork berubah?</h4>
				<p>Tujuan dari perubahan kategori ini adalah membuat kategori dari Indonetwork lebih teratur, serta kami pun menghilangkan segala jenis duplikasi yang terdapat di dalam kategori yang lama, agar dapat memudahkan Anda melakukan kategorisasi terhadap produk Anda. </p>
				
				</li>
				<li>
				<h4>Apakah posisi produk juga akan berubah?</h4>
				
				<p>Tergantung dimana Indonetwork mengarahkan halaman kategori lama tersebut ke kategori yang baru, jadi seperti contohnya jika produk tersebut dulunya berada di kategori Agraris -> Perkebunan &amp; Pertamanan maka untuk saat ini Anda akan menemukannya di Elektronik &amp; Peralatan Rumah Tangga -> Peralatan Rumah Tangga -> Outdoor &amp; Taman -> Taman &amp; Kebun , dan ini pun berlaku untuk produk lainnya. </p>
				
				</li>
				<li>
				<h4>Bagaimana cara untuk mengetahui perubahan kategori ini secara detail?</h4>
				
				<p>Segala jenis perubahan mengenai kategori dapat Anda tanyakan secara langsung ke Customer Service Indonetwork. </p>
				
				</li>
				<li>
				<h4>Apakah perubahan kategori ini berpengaruh terhadap penjualan kami?</h4>
				
				<p>Semua bentuk URL lama yang ada di dalam website Indonetwork telah kami cocokan dengan URL dari kategori baru, sehingga penjualan Anda akan tetap berjalan seperti biasa dan tidak akan ada link yang rusak dari URL yang lama.</p>
				</li>
				
				<li>
				<h4>Dengan perubahan kategori ini, apakah produk yang salah kategori akan berubah menjadi benar?</h4>
				
				<p>Kami sedang dalam tahap untuk melakukan pemindahan produk ke kategori yang benar secara berkala. Dan proses ini akan melalui fase quality control dari tim moderasi kami.</p>
				
				</li>
				<li>
				<h4>Berapakah jumlah kategori Indonetwork yang baru?</h4>
				
				<p>Indonetwork memiliki 16 kategori level satu, dan 1000 kategori level 2 hingga 4.</p>
				
				</li>
				<li>
				<h4>Mengapa kategori baru ini memiliki level yang jauh lebih banyak dari kategori sebelumnya?</h4>
				
				<p>Hal ini dilakukan agar Anda mendapatkan kategori yang memiliki susunan teratur dan anak kategori tidak menumpuk hanya pada level 2 saja. Selain itu Anda dapat dengan mudah melakukan pencarian produk yang Anda inginkan dan memberikan Anda kemudahan untuk bertransaksi.</p>
				
				</li>
				<li>
				<h4>Dimanakah kategori baru Indonetwork dapat ditemukan dan apa saja yang terdapat di dalamnya?</h4>
				
				<p>Anda dapat menemukan kategori baru Indonetwork di homepage yang berlokasi tepat di tengah-tengah halaman utama website. Dan jika Anda ingin mengetahui kategori apa saja yang terdapat di dalamnya, Anda hanya perlu menulusuri satu per satu dari masing-masing kategori tersebut.</p>
				
				</li>
				<li>
				<h4>Jika banyak kategori yang kurang dan ingin menambahkan, apa bisa?</h4>
				
				<p>Tentu saja, kami akan sangat menghargai pendapat Anda. Anda dapat menghubungi Customer Service Indonetwork dan sampaikan pendapat Anda mengenai kategori yang kira-kira Anda ingin tambahkan, dan kami akan mengusahakan untuk menambahkannya di revamp kategori selanjutnya.</p>
				
				</li>
				<li>
				<h4>Apa Kelebihan kategori Indonetwork yang baru dibandingkan dengan yang dulu?</h4>
				
				<p>Kategori Indonetwork yang sekarang selain dapat memudahkan Anda mencari produk yang Anda sukai, dapat juga membuat Anda lebih bereksplorasi dalam mengkategorikan produk Anda, karena memiliki banyak tambahan kategori.</p>
			</div>
        </div>
	</div>
	<div class="clear"></div>
</div>
