	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Notifikasi reset Password telah dikirim.
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Silahkan reset akun Anda melalui e-mail yang telah Kami kirimkan</div>

		<div class="clear"></div>
	</div>
</div>



