	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg01.jpg);">
	<form method="post" action="?page=static&view=forget password success">
		<div class="form-box w40 ">
			<div class="colfix w100"><h3>Lupa Password</h3><hr size="1"></div>

			<div class="colfix w30 preinput">E-mail </div>
			<div class="colfix w70"><input type="text" placeholder="E-mail/Username Anda"  tabindex="1"></div>

			<div class="colfix w30"> </div>
			<div class="colfix w70"><div class="notif-bar oke smaller">E-mail Tidak Terdaftar </div></div>
			
			<div class="colfix w30"> </div>
			<div class="colfix w40"><br><label><input type="checkbox"> Hapus Ulang Password?</label></div>
			<div class="colfix w30 txtright"> <input type="submit" value="    Reset Password    " tabindex="5"></div>
			<hr size="1">
			<div class="colfix w30"></div>
			<div class="colfix w30"><a href="?page=static&view=login">Ingat Password?</a></div>
			<div class="colfix w40 txtright"><a href="?page=static&view=register">Daftar Anggota Baru</a></div>

			<div class="clear"></div>
		</div>
	</form>
</div>



