
	<div class="new-list" id="new-list">

		<div class="colfix w50">
			<div id="prod_gallery_1">
				<div class="title"><a href="./?page=listing">Katalog Terbaru</a> </div>
				<div class="thumb-gallery w100 absolute">
					<div class="colfix w40 h100 fright">
						<div class="colfix w50 h33 selected trigger" data-target="assets/data/foto1.jpg" alt="nama banner" data-prodinfo="prodinfo1">
							<div class="imgbox">
								
									<img src="assets/data/foto1.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto2.jpg" alt="nama banner" data-prodinfo="prodinfo2">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto2.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto3.jpg" alt="nama banner" data-prodinfo="prodinfo3">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto3.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto4.jpg" alt="nama banner" data-prodinfo="prodinfo4">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto4.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto5.jpg" alt="nama banner" data-prodinfo="prodinfo5">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto5.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto6.jpg" alt="nama banner" data-prodinfo="prodinfo6">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto6.jpg" alt="nama banner">

							</div>
						</div>
					</div>
				</div>
				<div class="product-box">
					<div class="gallery">
						<div class="colfix w60">
							<div class="imgbox imgchange_container">

								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
						</div>
						<div class="colfix w40">
						</div>
					</div>
					<div class="clear"></div>

					<ul class="product-info">

						<li class="product-info-list prodinfo1" style="display:block;">

							<div class="colfix w60">
								<div class="data_title">Judul 1<?php echo substr($lipsum,0,60); ?></div>
								<div class="hargabox">
									<span class="harga data_price">233.900.000</span>
									<span class="minorder"><span class="data_minorder">10</span> <small>buah</small></span>
									<span class="tayang"><span class="data_stock">28/04/2016</span></span>
								</div>
								<div class="product-desc data_content">
									<?php echo $lipsum; ?>
								</div>

							</div>

							<div class="colfix w40">
								<center>
								&nbsp;<br>&nbsp;<br>
								<a class="btn data_url" href="./?page=detail&id=2092050">beli produk ini</a>
								<hr size="1">
								<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
								</center>

							</div>
							<div class="clear"></div>

						</li>

						<li class="product-info-list prodinfo2" style="display:none;">

							<div class="colfix w60">
								<div class="data_title">Judul 2 <?php echo substr($lipsum,0,60); ?></div>
								<div class="hargabox">
									<span class="harga data_price">233.900.000</span>
									<span class="minorder"><span class="data_minorder">10</span> <small>buah</small></span>
									<span class="tayang"><span class="data_stock">28/04/2016</span></span>
								</div>
								<div class="product-desc data_content">
									<?php echo $lipsum; ?>
								</div>

							</div>

							<div class="colfix w40">
								<center>
								&nbsp;<br>&nbsp;<br>
								<a class="btn data_url" href="./?page=detail&id=2092050">beli produk ini</a>
								<hr size="1">
								<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
								</center>

							</div>
							<div class="clear"></div>

						</li>

						<li class="product-info-list prodinfo3" style="display:none;">

							<div class="colfix w60">
								<div class="data_title">Judul 3 <?php echo substr($lipsum,0,60); ?></div>
								<div class="hargabox">
									<span class="harga data_price">233.900.000</span>
									<span class="minorder"><span class="data_minorder">10</span> <small>buah</small></span>
									<span class="tayang"><span class="data_stock">28/04/2016</span></span>
								</div>
								<div class="product-desc data_content">
									<?php echo $lipsum; ?>
								</div>

							</div>

							<div class="colfix w40">
								<center>
								&nbsp;<br>&nbsp;<br>
								<a class="btn data_url" href="./?page=detail&id=2092050">beli produk ini</a>
								<hr size="1">
								<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
								</center>

							</div>
							<div class="clear"></div>

						</li>

						<li class="product-info-list prodinfo4" style="display:none;">

							<div class="colfix w60">
								<div class="data_title">Judul 4 <?php echo substr($lipsum,0,60); ?></div>
								<div class="hargabox">
									<span class="harga data_price">233.900.000</span>
									<span class="minorder"><span class="data_minorder">10</span> <small>buah</small></span>
									<span class="tayang"><span class="data_stock">28/04/2016</span></span>
								</div>
								<div class="product-desc data_content">
									<?php echo $lipsum; ?>
								</div>

							</div>

							<div class="colfix w40">
								<center>
								&nbsp;<br>&nbsp;<br>
								<a class="btn data_url" href="./?page=detail&id=2092050">beli produk ini</a>
								<hr size="1">
								<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
								</center>

							</div>
							<div class="clear"></div>

						</li>

						<li class="product-info-list prodinfo5" style="display:none;">

							<div class="colfix w60">
								<div class="data_title">Judul 5 <?php echo substr($lipsum,0,60); ?></div>
								<div class="hargabox">
									<span class="harga data_price">233.900.000</span>
									<span class="minorder"><span class="data_minorder">10</span> <small>buah</small></span>
									<span class="tayang"><span class="data_stock">28/04/2016</span></span>
								</div>
								<div class="product-desc data_content">
									<?php echo $lipsum; ?>
								</div>

							</div>

							<div class="colfix w40">
								<center>
								&nbsp;<br>&nbsp;<br>
								<a class="btn data_url" href="./?page=detail&id=2092050">beli produk ini</a>
								<hr size="1">
								<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
								</center>

							</div>
							<div class="clear"></div>

						</li>

						<li class="product-info-list prodinfo6" style="display:none;">

							<div class="colfix w60">
								<div class="data_title">Judul 6 <?php echo substr($lipsum,0,60); ?></div>
								<div class="hargabox">
									<span class="harga data_price">233.900.000</span>
									<span class="minorder"><span class="data_minorder">10</span> <small>buah</small></span>
									<span class="tayang"><span class="data_stock">28/04/2016</span></span>
								</div>
								<div class="product-desc data_content">
									<?php echo $lipsum; ?>
								</div>

							</div>

							<div class="colfix w40">
								<center>
								&nbsp;<br>&nbsp;<br>
								<a class="btn data_url" href="./?page=detail&id=2092050">beli produk ini</a>
								<hr size="1">
								<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
								</center>

							</div>
							<div class="clear"></div>

						</li>
					</ul>

				</div>

			</div>
		</div>

		<div class="colfix w50">
			<div id="prod_gallery_2">
				<div class="title"><a href="./?page=listing-request">Permintaan Terbaru</a></div>
				<div class="thumb-gallery w100 absolute">
					<div class="colfix w40 h100 fright">
						<div class="colfix w50 h33 selected trigger" data-target="assets/data/foto7.jpg" alt="nama banner" data-prodinfo="prodinfo1">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto7.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto8.jpg" alt="nama banner"  data-prodinfo="prodinfo2">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto8.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto9.jpg" alt="nama banner" data-prodinfo="prodinfo3">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto9.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto10.jpg" alt="nama banner" data-prodinfo="prodinfo4">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto10.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto11.jpg" alt="nama banner" data-prodinfo="prodinfo5">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto11.jpg" alt="nama banner">

							</div>
						</div>
						<div class="colfix w50 h33 trigger" data-target="assets/data/foto12.jpg" alt="nama banner" data-prodinfo="prodinfo6">
							<div class="imgbox">
								
									<img src="assets/data/180x180/foto12.jpg" alt="nama banner">
                                                                  
							</div>
						</div>
					</div>
				</div>

					<div class="gallery">
						<div class="colfix w60">
							<div class="imgbox imgchange_container">
								<img src="assets/data/foto7.jpg" alt="nama banner">
							</div>
						</div>
					</div>
					<div class="clear"></div>

						<ul class="product-info">

							<li class="product-info-list prodinfo1" style="display:block;">

								<div class="colfix w60">
									<div class="data_title">Judul 1 <?php echo substr($lipsum,0,60); ?></div>
									<div class="hargabox">
										<span class="harga data_harga">233.900</span>
										<span class="penwrn"><span class="data_stock">100</span> <small>vendor</small></span>
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>
										
									</div>
									<div class="product-desc data_content">
										<?php echo substr($lipsum,0,280); ?>
									</div>

								</div>

								<div class="colfix w40">
									<center>
									<!--<smallcaps>Memiliki produk ini?</smallcaps>--><br>&nbsp;<br>
									<a class="btn data_url" href="dashboard.php?page=detail%20penawaran%20tender">beli produk ini</a>
									<hr size="1">
									<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
									</center>

								</div>
								<div class="clear"></div>
							</li>

							<li class="product-info-list prodinfo2" style="display:none;">

								<div class="colfix w60">
									<div class="data_title">Judul 2 <?php echo substr($lipsum,0,60); ?></div>
									<div class="hargabox">
										<span class="harga data_harga">233.900</span>
										<span class="minorder"><span class="data_stock">100</span> <small>buah</small></span>
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>
										
									</div>
									<div class="product-desc data_content">
										<?php echo substr($lipsum,0,280); ?>
									</div>

								</div>

								<div class="colfix w40">
									<center>
									<smallcaps>Memiliki produk ini?</smallcaps><br>&nbsp;<br>
									<a class="btn data_url" href="dashboard.php?page=detail%20penawaran%20tender">kirim penawaran</a>
									<hr size="1">
									<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
									</center>

								</div>
								<div class="clear"></div>
							</li>

							<li class="product-info-list prodinfo3" style="display:none;">

								<div class="colfix w60">
									<div class="data_title">Judul 3 <?php echo substr($lipsum,0,60); ?></div>
									<div class="hargabox">
										<span class="harga data_harga">233.900</span>
										<span class="minorder"><span class="data_stock">100</span> <small>buah</small></span>
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>
										
									</div>
									<div class="product-desc data_content">
										<?php echo substr($lipsum,0,280); ?>
									</div>

								</div>

								<div class="colfix w40">
									<center>
									<smallcaps>Memiliki produk ini?</smallcaps><br>&nbsp;<br>
									<a class="btn data_url" href="dashboard.php?page=detail%20penawaran%20tender">kirim penawaran</a>
									<hr size="1">
									<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
									</center>

								</div>
								<div class="clear"></div>
							</li>

							<li class="product-info-list prodinfo4" style="display:none;">

								<div class="colfix w60">
									<div class="data_title">Judul 4 <?php echo substr($lipsum,0,60); ?></div>
									<div class="hargabox">
										<span class="harga data_harga">233.900</span>
										<span class="minorder"><span class="data_stock">100</span> <small>buah</small></span>
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>
										
									</div>
									<div class="product-desc data_content">
										<?php echo substr($lipsum,0,280); ?>
									</div>

								</div>

								<div class="colfix w40">
									<center>
									<smallcaps>Memiliki produk ini?</smallcaps><br>&nbsp;<br>
									<a class="btn data_url" href="dashboard.php?page=detail%20penawaran%20tender">kirim penawaran</a>
									<hr size="1">
									<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
									</center>

								</div>
								<div class="clear"></div>
							</li>

							<li class="product-info-list prodinfo5" style="display:none;">

								<div class="colfix w60">
									<div class="data_title">Judul 5 <?php echo substr($lipsum,0,60); ?></div>
									<div class="hargabox">
										<span class="harga data_harga">233.900</span>
										<span class="minorder"><span class="data_stock">100</span> <small>buah</small></span>
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>
										
									</div>
									<div class="product-desc data_content">
										<?php echo substr($lipsum,0,280); ?>
									</div>

								</div>

								<div class="colfix w40">
									<center>
									<smallcaps>Memiliki produk ini?</smallcaps><br>&nbsp;<br>
									<a class="btn data_url" href="dashboard.php?page=detail%20penawaran%20tender">kirim penawaran</a>
									<hr size="1">
									<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
									</center>

								</div>
								<div class="clear"></div>
							</li>

							<li class="product-info-list prodinfo6" style="display:none;">

								<div class="colfix w60">
									<div class="data_title">Judul 6 <?php echo substr($lipsum,0,60); ?></div>
									<div class="hargabox">
										<span class="harga data_harga">233.900</span>
										<span class="minorder"><span class="data_stock">100</span> <small>buah</small></span>
										<span class="tayang"><span class="data_stock">28/04/2016</span></span>
										
									</div>
									<div class="product-desc data_content">
										<?php echo substr($lipsum,0,280); ?>
									</div>

								</div>

								<div class="colfix w40">
									<center>
									<smallcaps>Memiliki produk ini?</smallcaps><br>&nbsp;<br>
									<a class="btn data_url" href="dashboard.php?page=detail%20penawaran%20tender">kirim penawaran</a>
									<hr size="1">
									<!--<a href="" class="smallcaps data_related">Lihat produk sejenis</a>-->
									</center>

								</div>
								<div class="clear"></div>
							</li>
						</ul>

			</div>
		</div>

		<div class="clear"></div>
	</div>

	<div class="new-req">
		<div class="title"><a href="./?page=listing">Permintaan Beli</a></div>
		<ul class="new-req-list">
			<li>
				<div>
					<div class="data_title">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </div>
					<div class="harga">
						1.233.900.000.000
					</div>
					<div class="date_offers">
						<span class="penwrn">13 <small>vendor</small></span>
						<span class="tayang"><span class="data_stock">28/04/2016</span></span>
					</div>
					<div class="seller-info">			
						<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
					</div>
					<div class="clear"></div>
				</div>
				<div class="product-desc">			
					<p class="more">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </p>			
					<div class="button">				
						<a class="btn data_url" href="./?page=listing-request">Buat Penawaran</a>			
					</div>		
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div>
					<div class="data_title">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </div>
					<div class="harga">
						233.900.000
					</div>
					<div class="date_offers">
						<span class="penwrn">13 <small>vendor</small></span>
						<span class="tayang"><span class="data_stock">28/04/2016</span></span>
					</div>
					<div class="seller-info">			
						<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
					</div>
					<div class="clear"></div>
				</div>
				<div class="product-desc">			
					<p class="more">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </p>			
					<div class="button">				
						<a class="btn data_url" href="/?page=listing-request">Buat Penawaran</a>			
					</div>		
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div>
					<div class="data_title">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </div>
					<div class="harga">
						233.900.000
					</div>
					<div class="date_offers">
						<span class="penwrn">13 <small>vendor</small></span>
						<span class="tayang"><span class="data_stock">28/04/2016</span></span>
					</div>
					<div class="seller-info">			
						<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
					</div>
					<div class="clear"></div>
				</div>
				<div class="product-desc">			
					<p class="more">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </p>			
					<div class="button">				
						<a class="btn data_url" href="/?page=listing-request">Buat Penawaran</a>			
					</div>		
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div>
					<div class="data_title">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </div>
					<div class="harga">
						233.900.000
					</div>
					<div class="date_offers">
						<span class="penwrn">13 <small>vendor</small></span>
						<span class="tayang"><span class="data_stock">28/04/2016</span></span>
					</div>
					<div class="seller-info">			
						<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
					</div>
					<div class="clear"></div>
				</div>
				<div class="product-desc">			
					<p class="more">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </p>			
					<div class="button">				
						<a class="btn data_url" href="/?page=listing-request">Buat Penawaran</a>			
					</div>		
					<div class="clear"></div>
				</div>
			</li>
			<li>
				<div>
					<div class="data_title">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </div>
					<div class="harga">
						233.900.000
					</div>
					<div class="date_offers">
						<span class="penwrn">13 <small>vendor</small></span>
						<span class="tayang"><span class="data_stock">28/04/2016</span></span>
					</div>
					<div class="seller-info">			
						<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>		
					</div>
					<div class="clear"></div>
				</div>
				<div class="product-desc">			
					<p class="more">Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </p>			
					<div class="button">				
						<a class="btn data_url" href="/?page=listing-request">Buat Penawaran</a>			
					</div>		
					<div class="clear"></div>
				</div>
			</li>

		</ul>
	
	</div>

<script src="assets/js/custom.js" type="text/javascript" id="theme-js"></script>