<link href="assets/css/lightslider.css" media="screen" rel="stylesheet" type="text/css" id="page-css">

<div class="kategoribox">
	<div class="wrapper">
		<?php include $html_path.'kategori.html'; ?>
	</div>
</div>

<div class="featurebar" id="kategori-utama">
	<div class="wrapper">
		<ul>
			<li><a href=""><ico class="kategori"></ico>Telusuri Kategori</a></li>
			<li><a href="#new-list"><ico class="quotation"></ico>Produk Terbaru</a></li>
			<li><a href="#situs-web"><ico class="web"></ico>Panduan Pembuatan Konten</a></li>
			<li><a href="#transaksi-aman"><ico class="aman"></ico>Data Aman &amp; Terjamin</a></li>
		</ul>
	</div>
</div>

<div class="event-banner">
	<ul id="lightSlider">
		<li><a href="?page=static&view=lucky draw"><img src="assets/images/banners/lucky-draw.png" alt="nama banner"></a></li>
		<li><a href="?page=static&view=register"><img src="assets/images/banners/event-04.jpg" alt="nama banner"></a></li>
		<li><a href="?page=static&view=transformasi%20indonetwork"><img src="assets/images/banners/event-03.jpg" alt="nama banner"></a></li>
		<li><a href="?page=static&view=decorintex2016"><img src="assets/images/banners/decorintex-banner.png" alt="nama banner"></a></li>
		<li><a href="?page=static&view=inapalm2016"><img src="assets/images/banners/inapalm-banner.png" alt="nama banner"></a></li>
	</ul>
</div>

<div class="wrapper">
	
	<?php include($html_path.'home-new-requestlist.html'); ?>

	<?php include($html_path.'home-full-requestlist.html'); ?>

	<div class="promo-list">
		<?php //include($html_path.'carousel.html'); ?>

	</div>

	<div class="feature-list">
		<hr size="1">
		<div class="feature-box" id="situs-web">
			<center><h1>Direktori Peluang (Usaha) Bisnis Online dan UKM Terbesar di Indonesia</h1></center>
			<hr size="1">
			<div class="clear"></div><br /><br />
			<ul>
				<li>
					<div class="colfix w50"><img src="assets/images/feature-web-01.jpg" alt="nama banner"></div>
					<div class="colfix w50 text-container">
						<div class="title"><ico class="web"></ico>Panduan Pembuatan Konten</div>
						<p>
							Menjaga kualitas konten sangatlah penting untuk meningkatkan kepercayaan dan memberikan informasi yang jelas pada pengguna lain terhadap produk yang akan Anda tawarkan. Hal ini akan sangat terasa manfaatnya terutama ketika Anda berperan sebagai penjual, dengan memiliki kualitas konten yang baik tentunya akan mempercepat penjualan Anda, dan dapat menjadikan Anda sebagai salah satu Recommended Seller di Indonetwork.co.id!
						</p>
						<a href="?page=static&view=Panduan%20pembuatan%20konten" class="btn">Baca selengkapnya &raquo;</a>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<hr size="1">
		<div class="feature-box" id="transaksi-aman">
			<div class="clear"></div><br /><br />
			<ul>
				<li>
					<div class="colfix w50 text-container">
						<div class="title"><ico class="aman"></ico>Data Aman &amp; Terjamin</div>
						<p>Semua data mengenai produk yang Anda Iklankan, serta informasi perusahaan yang Anda tampilkan akan tersimpan dan terjamin keamanannya. Sehingga Anda tidak perlu ragu lagi untuk mempercayai kami sebagai sarana untuk meningkatkan penjualan produk Anda.
						</p>
						<div class="colfix w50"></div>
						<div class="colfix w50"><a href="?page=static&view=faq" class="btn fright">Baca selengkapnya &raquo;</a></div>
						<div class="fclear"></div>
					</div>
					<div class="colfix w50"><img src="assets/images/feature-escrow.jpg" alt="nama banner"></div>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>

<!--<div class="feature-list">
		<hr size="1">
		<div class="feature-box" id="situs-web">
			<ul>
				<li>
					<div class="colfix w50"><img src="assets/images/fair/ifbc2016-banner.jpg" alt="nama banner"></div>
					<div class="colfix w50 text-container">
						<div class="feature-event"> Event </div>
						<h3>Ifbc Surabaya</h3>
						<div class="feature-date"> 12-13 Mei 2016 </div>
						<p>
							Menjaga kualitas konten sangatlah penting untuk meningkatkan kepercayaan dan memberikan informasi yang jelas pada pengguna lain terhadap produk yang akan Anda tawarkan. Hal ini akan sangat terasa manfaatnya terutama ketika Anda berperan sebagai penjual, dengan memiliki kualitas konten yang baik tentunya akan mempercepat penjualan Anda, dan dapat menjadikan Anda sebagai salah satu Recommended Seller di Indonetwork.co.id!
						</p>
						<a href="" class="btn">Baca selengkapnya &raquo;</a>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
		<hr size="1">
		<div class="feature-box" id="situs-web">
			<ul>
				<li>
					<div class="colfix w50">
					<div class="feature-event"> Event </div>
						<h3>WODP 2016</h3>
						<div class="feature-date"> 12-13 Mei 2016 </div>
						<p>
							<?php // echo $lipsum; ?>
						</p>
						<div class="colfix w50"></div>
						<div class="colfix w50"><a href="" class="btn fright">Baca selengkapnya &raquo;</a></div>
						<div class="fclear"></div>
					</div>
					<div class="colfix w50 text-container"><img src="assets/images/feature-escrow.jpg" alt="nama banner"></div>
					</div>
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>-->
	
</div>



<div class="wrapper textcontent">
<hr size="1">
<div class="clear"></div><br />
	<p>
Indonetwork.co.id merupakan pusat promosi perdagangan dan direktori bisnis B2B (business-to-business) serta B2C (business-to-customer) terlengkap dan terbesar di Indonesia. Prioritas utama kami adalah memperlebar peluang usaha para UMKM (Usaha Mikro Kecil dan Menengah) untuk menjadi penyedia barang beragam perusahaan, individual, pelaku bisnis, dan industri yang mencakup seluruh wilayah di Indonesia. Untuk para pembeli, adanya permintaan dan kebutuhaan perorangan dan juga supply chain perusahaan membuat kami mengerti akan kebutuhan suatu direktori bisnis online yang terintegrasi, efisien, serta mempermudah pencarian barang dan jasa yang diperjualbelikan. Maka dari itu, Indonetwork.co.id hadir untuk memenuhi seluruh kebutuhan tersebut dalam skala nasional.</p>

<H2>Realisasikan Potensi Usaha Anda Bersama Indonetwork.co.id</H2>
<p>16 kategori utama, hampir 2 juta member yang terdaftar, dan lebih dari 4 juta pengunjung website per bulannya. Setelah 15 tahun berdiri, Indonetwork.co.id terus menjadi tujuan para wirausahawan untuk mempromosikan barang maupun jasa dagangannya. Kami yakin bahwa setiap UMKM berhak mendapatkan kesempatan yang sama untuk mengembangkan usahanya, terutama dari segi digital. Maka dari itu kami selalu berkomitmen dalam memberikan peluang sekaligus dukungan bagi UMKM di Indonesia melalui pemberdayaan secara digital, komunitas, dan bisnis.</p>

<H2>Situs Pemasaran Jasa & Barang Dagangan Terpercaya di Seluruh Indonesia</H2>
<p>Peran penting kami selaku direktori bisnis online adalah mendorong dan membantu mengembangkan UMKM di Indonesia untuk Go Online sekaligus mengenalkan pendekataan baru terhadap pemasaran barang dagangan mereka. Indonetwork.co.id percaya bahwa setiap usaha memiliki keunikan tersendiri yang dapat dikembangkan melalui online platform kami yang telah tersedia. Pengalaman kami selama 15 tahun di bidang e-commerce menjadi keunggulan tersendiri untuk mengedukasi para penjual dalam menjalankan bisnis online mereka. Dengan jumlah pengunjung yang besar setiap harinya, sekarang Anda tidak perlu ragu lagi mencari platform untuk mempromosikan jasa dan barang dagangan Anda. 
</p><p>
Indonetwork.co.id juga menyediakan pilihan kategori yang beragam mulai dari perangkat elektronik, peralatan industri, sampai produk kerajinan untuk memenuhi kebutuhan usaha dan pribadi Anda. Pembeli sekarang dapat dengan mudah mencari produk atau jasa yang diinginkan serta berkomunikasi langsung dengan penjual-penjual terpercaya yang sudah terdaftar.
</p>
</div>

