<div class="new-list" id="new-list">
	<div class="new-to">
	<div class="title"><a href="./?page=listing">Permintaan Beli</a></div>
		<ul class="to-list">
					<li class="colfix w50">
						<div class="new-to-wrap">
						<div class="to-list-l">
						<h4>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn'tad a 
						</h4>
						<div class="to-list-info">
							<div class="to-price">Rp <b>23.900.000</b></div>
							<div class="to-count"> <span>jumlah penawaran</span><b>13</b>&nbsp;vendor</div>
							<div class="to-count"> <span>tayang hingga</span><b>28/04/2016</b></div>
						</div>
						<div class="clear"></div>
						<p class="to-desc more">
							Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves  Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves
						</p>
						</div>
						<div class="to-list-r">
							<div class="to-seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>			
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>	</div>
							<a class="btn data_url" href="./?page=detail&amp;id=2092050">Buat Penawaran</a>
						</div>
						<div class="clear"></div>
						</div>
					</li>
					<li class="colfix w50">
						<div class="new-to-wrap">
						<div class="to-list-l">
						<h4>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn'tad a 
						</h4>
						<div class="to-list-info">
							<div class="to-price">Rp <b>23.900.000</b></div>
							<div class="to-count"> <span>jumlah penawaran</span><b>13</b>&nbsp;vendor</div>
							<div class="to-count"> <span>tayang hingga</span><b>28/04/2016</b></div>
						</div>
						<div class="clear"></div>
						<p class="to-desc more">
							Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves  Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves
						</p>
						</div>
						<div class="to-list-r">
							<div class="to-seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>			
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>	</div>
							<a class="btn data_url" href="./?page=detail&amp;id=2092050">Buat Penawaran</a>
						</div>
						<div class="clear"></div>
						</div>
					</li>
					<li class="colfix w50">
						<div class="new-to-wrap">
						<div class="to-list-l">
						<h4>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn'tad a 
						</h4>
						<div class="to-list-info">
							<div class="to-price">Rp <b>23.900.000</b></div>
							<div class="to-count"> <span>jumlah penawaran</span><b>13</b>&nbsp;vendor</div>
							<div class="to-count"> <span>tayang hingga</span><b>28/04/2016</b></div>
						</div>
						<div class="clear"></div>
						<p class="to-desc more">
							Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves  Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves
						</p>
						</div>
						<div class="to-list-r">
							<div class="to-seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>			
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>	</div>
							<a class="btn data_url" href="./?page=detail&amp;id=2092050">Buat Penawaran</a>
						</div>
						<div class="clear"></div>
						</div>
					</li>
					<li class="colfix w50">
						<div class="new-to-wrap">
						<div class="to-list-l">
						<h4>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn'tad a 
						</h4>
						<div class="to-list-info">
							<div class="to-price">Rp <b>23.900.000</b></div>
							<div class="to-count"> <span>jumlah penawaran</span><b>13</b>&nbsp;vendor</div>
							<div class="to-count"> <span>tayang hingga</span><b>28/04/2016</b></div>
						</div>
						<div class="clear"></div>
						<p class="to-desc more">
							Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves  Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves
						</p>
						</div>
						<div class="to-list-r">
							<div class="to-seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>			
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>	</div>
							<a class="btn data_url" href="./?page=detail&amp;id=2092050">Buat Penawaran</a>
						</div>
						<div class="clear"></div>
						</div>
					</li>
					<li class="colfix w50">
						<div class="new-to-wrap">
						<div class="to-list-l">
						<h4>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn'tad a 
						</h4>
						<div class="to-list-info">
							<div class="to-price">Rp <b>23.900.000</b></div>
							<div class="to-count"> <span>jumlah penawaran</span><b>13</b>&nbsp;vendor</div>
							<div class="to-count"> <span>tayang hingga</span><b>28/04/2016</b></div>
						</div>
						<div class="clear"></div>
						<p class="to-desc more">
							Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves  Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves Induction cook tops are 85-90% more energy efficient compared to electricity powered stoves
						</p>
						</div>
						<div class="to-list-r">
							<div class="to-seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>			
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>	</div>
							<a class="btn data_url" href="./?page=detail&amp;id=2092050">Buat Penawaran</a>
						</div>
						<div class="clear"></div>
						</div>
					</li>
				</ul>
	</div>
</div>
<div class="clear"></div>
