<link href="assets/css/lightslider.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<!--div class="grid">
			<div class="hot-list">
				<div class="list-item">	
					<div class="list-box">
						<a href="?page=detail">
							<div class="imgbox">
								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
							<div class="product-info">
								<h3>12345678901234567890123456789012345678901234567890</h3>
								<div class="hargabox"><div class="harga">233.900.000</div>
									<div class="clear"></div>
									<div class="colfix w50">
										<span class="minorder">10 <small>buah</small></span>
									</div>			
								</div>		
							</div>
						</a>		
						<div class="seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name"><a href="./?page=profile-store&amp;id=11">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div></div></div>
				</div>
				<div class="list-item">	
					<div class="list-box">
						<a href="?page=detail">
							<div class="imgbox">
								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
							<div class="product-info">
								<h3>12345678901234567890123456789012345678901234567890</h3>
								<div class="hargabox"><div class="harga">233.900.000</div>
									<div class="clear"></div>
									<div class="colfix w50">
										<span class="minorder">10 <small>buah</small></span>
									</div>			
								</div>		
							</div>
						</a>		
						<div class="seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name"><a href="./?page=profile-store&amp;id=11">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div></div></div>
				</div>
				<div class="list-item">	
					<div class="list-box">
						<a href="?page=detail">
							<div class="imgbox">
								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
							<div class="product-info">
								<h3>12345678901234567890123456789012345678901234567890</h3>
								<div class="hargabox"><div class="harga">233.900.000</div>
									<div class="clear"></div>
									<div class="colfix w50">
										<span class="minorder">10 <small>buah</small></span>
									</div>			
								</div>		
							</div>
						</a>		
						<div class="seller-info">		
							<div class="seller-name"><a href="./?page=profile-store&amp;id=11">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div></div></div>
				</div>
				<div class="list-item">	
					<div class="list-box">
						<a href="?page=detail">
							<div class="imgbox">
								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
							<div class="product-info">
								<h3>12345678901234567890123456789012345678901234567890</h3>
								<div class="hargabox"><div class="harga">233.900.000</div>
									<div class="clear"></div>
									<div class="colfix w50">
										<span class="minorder">10 <small>buah</small></span>
									</div>			
								</div>		
							</div>
						</a>		
						<div class="seller-info">
							<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>			
							<div class="seller-name"><a href="./?page=profile-store&amp;id=11">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div></div></div>
				</div>
				<div class="list-item">	
					<div class="list-box">
						<a href="?page=detail">
							<div class="imgbox">
								<img src="assets/data/foto1.jpg" alt="nama banner">
							</div>
							<div class="product-info">
								<h3>12345678901234567890123456789012345678901234567890</h3>
								<div class="hargabox"><div class="harga">233.900.000</div>
									<div class="clear"></div>
									<div class="colfix w50">
										<span class="minorder">10 <small>buah</small></span>
									</div>			
								</div>		
							</div>
						</a>		
						<div class="seller-info">			
							<div class="seller-name"><a href="./?page=profile-store&amp;id=11">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
							<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div></div></div>
				</div>
			<div class="clear"></div>
			</div>
		<div class="clear"></div>
</div-->

<div class="grid">
	<div class="pd-prio hot-list">
	<ul id="lightSlider3">
		<li>
			<div class="list-box">
				<div class="corner-prio"><span class="membership"><img title="membership prioritas" src="assets/images/award.png"></span></div>
				<a href="?page=detail">
					<div class="imgbox"><img src="assets/data/foto1.jpg" alt="nama banner"></div>
					<div class="product-info">
						<h3>Lorem Ipsum doloer sit amet</h3>
						<div class="hargabox">
							<div class="harga">233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>	
							<div class="clear"></div>		
						</div>		
					</div>
					<div class="seller-info">			
						<div class="seller-name"><a href="./?page=profile-store&amp;id=12">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<div class="list-box">
			<div class="corner-prio"><span class="membership"><img title="membership prioritas" src="assets/images/award.png"></span></div>
				<a href="?page=detail">
					<div class="imgbox"><img src="assets/data/foto2.jpg" alt="nama banner"></div>
					<div class="product-info">
						<h3>Lorem Ipsum doloer sit amet2 Lorem Ipsum doloer sit amet2</h3>
						<div class="hargabox">
							<div class="harga">1.233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>	
							<div class="clear"></div>		
						</div>		
					</div>
					<div class="seller-info">			
						<div class="seller-name"><a href="./?page=profile-store&amp;id=12">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<div class="list-box">
			<div class="corner-prio"><span class="membership"><img title="membership prioritas" src="assets/images/award.png"></span></div>
				<a href="?page=detail">
					<div class="imgbox"><img src="assets/data/foto3.jpg" alt="nama banner"></div>
					<div class="product-info">
						<h3>Lorem Ipsum doloer sit amet2 Lorem Ipsum doloer sit amet2</h3>
						<div class="hargabox">
							<div class="harga">1.233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>	
							<div class="clear"></div>		
						</div>		
					</div>
					<div class="seller-info">			
						<div class="seller-name"><a href="./?page=profile-store&amp;id=12">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<div class="list-box">
			<div class="corner-prio"><span class="membership"><img title="membership prioritas" src="assets/images/award.png"></span></div>
				<a href="?page=detail">
					<div class="imgbox"><img src="assets/data/foto4.jpg" alt="nama banner"></div>
					<div class="product-info">
						<h3>Lorem Ipsum doloer sit amet2 Lorem Ipsum doloer sit amet2</h3>
						<div class="hargabox">
							<div class="harga">1.233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>	
							<div class="clear"></div>		
						</div>		
					</div>
					<div class="seller-info">			
						<div class="seller-name"><a href="./?page=profile-store&amp;id=12">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<div class="list-box">
			<div class="corner-prio"><span class="membership"><img title="membership prioritas" src="assets/images/award.png"></span></div>
				<a href="?page=detail">
					<div class="imgbox"><img src="assets/data/foto5.jpg" alt="nama banner"></div>
					<div class="product-info">
						<h3>Lorem Ipsum doloer sit amet2 Lorem Ipsum doloer sit amet2</h3>
						<div class="hargabox">
							<div class="harga">1.233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>	
							<div class="clear"></div>		
						</div>		
					</div>
					<div class="seller-info">			
						<div class="seller-name"><a href="./?page=profile-store&amp;id=12">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>
					</div>
				</a>
			</div>
		</li>
		<li>
			<div class="list-box">
			<div class="corner-prio"><span class="membership"><img title="membership prioritas" src="assets/images/award.png"></span></div>
				<a href="?page=detail">
					<div class="imgbox"><img src="assets/data/foto3.jpg" alt="nama banner"></div>
					<div class="product-info">
						<h3>Lorem Ipsum doloer sit amet2 Lorem Ipsum doloer sit amet2</h3>
						<div class="hargabox">
							<div class="harga">1.233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>	
							<div class="clear"></div>		
						</div>		
					</div>
					<div class="seller-info">			
						<div class="seller-name"><a href="./?page=profile-store&amp;id=12">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan • DKI Jakarta • ID</div>
					</div>
				</a>
			</div>
		</li>
	</ul>
</div>
</div>


