<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-htup">
<div class="wrapper">
<div class="lndpg-top-content lndpg-htup-content">
<h2>4 Langkah Mudah<i></i><br>
<span>Tingkatkan Promosi dengan<br>Anggota Prioritas</span>
</h2>
</div>
</div>
<span class="in-lndpg-img htup-img-top"></span>
</section>
<section class="in-lndpg-one lndpg-htup-one">
<div class="wrapper">
<ul class="con">
<li><u></u><h3>Login &amp; Update Kontak Anda</h3><p>Lengkapi data<br>kontak perusahaan sebelum<br>tingkatkan keanggotaan</p></li>
<li><u></u><h3>Pilih Keanggotaan</h3><p>Pilih jenis<br>Anggota Prioritas<br>sesuai kebutuhan</p></li>
<li><u></u><h3>Pilih Metode Pembayaran</h3><p>Pilih Bank<br>Transfer "Bank BCA / Bank<br>Mandiri"</p></li>
<li><u></u><h3>Konfirmasi Pembayaran</h3><p>Konfirmasi pembayaran<br>dan upload<br>bukti pembayaran.</p></li>
</ul>
<i class="lndpg-htup-one-accent lndpg-htup-one-accent1"></i>
<i class="lndpg-htup-one-accent lndpg-htup-one-accent2"></i>
<i class="lndpg-htup-one-accent lndpg-htup-one-accent3"></i>
<div class="lndpg-suggest">
<p class="in-confirm-info">Setelah melakukan konfirmasi via web, Anda akan menerima email pemberitahuan jika website keanggotaan Anda<br>sudah kami aktifkan dalam jangka waktu 1 x 24 jam.</p>
</div>
</div>
</section>
<section class="in-lndpg-tutor">
<div class="wrapper">
<h2 class="lndpg-tutor-title">Detil Langkah Tingkatkan Keanggotan Prioritas &amp; Konfirmasi Pembayaran</h2>
<ul class="lndpg-tutor-step lndpg-tutor-htup-step">
<li class="tutor-step1">
<p><b></b> Login dan update kontak Anda sebagai syarat sebelum meningkatkan keanggotaan.<br>Detil cara update kontak bisa dilihat di sini <a href="#" class="btn in-lndpg-btn">Update Kontak Anda</a></p>
</li>
<li class="tutor-step2">
<p><b></b> Jika data update perusahaan lengkap, masuk ke  menu "Info Keanggotaan" pada dashboard di menu sisi kiri. Setelah<br>masuk klik "Tingkatkan Sekarang". Pilih keanggotaan "Prioritas" atau "Layanan SMS" sesuai kebutuhan Anda
</p>
<span class="step-img1"></span>
<span class="step-img2"></span>
<span class="step-img3"></span>
</li>
<li class="tutor-step3">
<p><b></b> Pilih bank transfer Bank BCA atau Bank Mandiri. Klik "Selanjutnya". Ketika keluar rincian pembayaran, klik "Konfirmasi Pembayaran"
</p>
<span class="step-img1"></span>
<span class="step-img2"></span>
</li>
<li class="tutor-step4">
<p><b></b> Isi form dan upload bukti pembayaran. Jika ada promo dari tim marketing, masukkan kedalam form "Keterangan Tambahan".<br>Jika selesai klik "kirim" 
</p>
<span></span>
</li>
<li class="tutor-step5">
<p><b></b> Untuk melihat status pembayaran keanggotaan Anda silahkan masuk ke "List Permintaan Upgrade".<br>Klik "Konfirmasi" apabila belum melakukan/melewati proses konfirmasi pembayaran di halaman sebelumnya</p>
<span class="step-img1"></span>
<span class="step-img2"></span>
</li>
</ul>
<div class="lndpg-suggest">
<h3>*Batas maksimal Konfirmasi Pembayaran adalah 2 hari kerja</h3>
<p class="in-confirm-info">Setelah melakukan konfirmasi via web, Anda akan menerima email pemberitahuan jika website keanggotaan Anda<br>sudah kami aktifkan dalam jangka waktu 1 x 24 jam.<span>Selamat mencoba promosi online di Indonetwork !</span></p>
</div>
</div>
</section>
</div>