<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-htb">
<div class="wrapper">
<div class="lndpg-top-content lndpg-htb-content">
<h2>3 Langkah Mudah <i></i><br>
<span>Beli Produk di Indonetwork</span>
</h2>
<h3>Temukan produk yang Anda butuhkan hanya melalui 3 langkah mudah!</h3>
</div>
</div>
<span class="in-lndpg-img htb-img-top"></span>
</section>
<section class="in-lndpg-one lndpg-htb-one">
<div class="wrapper">
<ul class="con">
<li><u></u><p>Masukan email dan kata sandi</p></li>
<li><u></u><p>Cari produk di kotak <i>search</i> atau <br>pilih dari kategori produk</p></li>
<li><u></u><p>Kirim pesan penawaran produk<br> ke penjual untuk transaksi</p></li>
<li><u></u><p>Klik "Tampilkan Nomor" untuk <br> menghubungi penjual secara <br> langsung &amp; transaksi</p></li>
</ul>
<i class="lndpg-htb-one-accent lndpg-htb-one-accent1"></i>
<i class="lndpg-htb-one-accent lndpg-htb-one-accent2"></i>
<b class="lndpg-htb-one-or">Atau</b>
</div>
</section>
<section class="in-lndpg-tutor">
<div class="wrapper">
<h2 class="lndpg-tutor-title">Detil Lengkap Cara Pembelian Produk di Indonetwork</h2>
<ul class="lndpg-tutor-step lndpg-tutor-htb-step">
<li class="tutor-step1">
<p><b></b> Cari kotak login di sisi kanan atas dan masukan email serta password yang terdaftar. Jika belum terdaftar, registrasi<br>terlebih dahulu data diri Anda dan lihat caranya di sini <a href="#" class="btn in-lndpg-btn">Cara Daftar Gratis</a></p>
<span></span>
</li>
<li class="tutor-step2">
<p><b></b> Cari produk di kotak pencarian atau temukan di kategori produk
</p>
<span></span>
</li>
<li class="tutor-step3">
<p><b></b> Tulis penawaran produk dan pertanyaan untuk memulai proses transaksi ke penjual. Klik "Tampilkan Nomor"<br> untuk cek nomor telepon dan penjual untuk memulai transaksi</p>
<span></span>
</li>
</ul>
</div>
</section>
</div>