<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-hts">
<div class="wrapper">
<div class="lndpg-top-content lndpg-hts-content">
<h2>3 Langkah Mudah <i></i><br>
<span>Jual Produk &amp; Promosi Online<br>di Indonetwork</span>
</h2>
<h3>Cukup 3 langkah mudah untuk jualan produk sekaligus promosi online di Indonetwork!</h3>
</div>
</div>
<span class="in-lndpg-img hts-img-top"></span>
</section>
<section class="in-lndpg-one lndpg-hts-one">
<div class="wrapper">
<div class="con">
<div class="lndpg-hts-onel">
<ul class="con">
<li class="in-member in-member-info"><h4>Anggota<br>Indonetwork</h4><p>*Jika Anda sudah terdaftar menjadi Anggota<br>Indonetwork, pastikan Login terlebih dahulu</p></li>
<li class="in-member"><i></i><p>Klik "Jual Sekarang"<br>untuk tambah produk</p></li>
<li class="in-member"><i></i><p>Tambah produk<br>dan deskripsinya</p></li>
<li class="in-member"><i></i><p>Cek email<br>persetujuan produk</p></li>
<li class="in-nonmember in-nonmember-info"><h4>Belum menjadi<br>Anggota Indonetwork</h4></li>
<li class="in-nonmember"><i></i><p>Klik "Jual Sekarang" untuk<br>tambah produk &amp; registrasi akun</p></li>
<li class="in-nonmember"><i></i><p>Tambah produk dan deskripsinya.<br>daftarkan email dan data diri</p></li>
<li class="in-nonmember"><i></i><p>Cek email verifikasi akun<br>dan email persetujuan produk</p></li>
</ul>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent1"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent2"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent3"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent4"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent5"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent6"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent7"></i>
<i class="lndpg-hts-onel-accent lndpg-hts-onel-accent8"></i>
</div>
<div class="lndpg-hts-oner">
<i></i>
<p>Produk siap dijual!</p>
</div>
</div>
<ul class="in-lndpg-join lndpg-join-hts con">
<li>
<span>Bagaimana agar perusahaan saya<br>terdaftar gratis di Indonetwork ?</span><a href="#" class="btn in-lndpg-btn">Cara Daftar Gratis</a>
</li>
<li>
<span>Bagaimana agar produk saya dipromosikan<br>dihalaman utama Indonetwork?</span><a href="#" class="btn in-lndpg-btn">Cara Promosi di Halaman Utama</a>
</li>
</ul>
</div>
</section>
<section class="in-lndpg-tutor">
<div class="wrapper">
<h2 class="lndpg-tutor-title">Detil Lengkap Cara Penjualan dan Promosi Online  Produk di Indonetwork</h2>
<ul class="lndpg-tutor-step lndpg-tutor-hts-step">
<li class="tutor-step1">
<p><b></b> Jika Anda sudah memiliki akun di Indonetwork, masukan nama email dan password di sisi kanan atas login.<br>Jika belum, boleh masuk langsung ke fitur "Jual Sekarang".</p>
<span></span>
</li>
<li class="tutor-step2">
<p><b></b> Jika Anda sudah menjadi anggota Indonetwork dan sudah login, cukup masukan foto produk dan deskripsi,<br>Jika Anda belum terdaftar, masukkan data diri untuk sekaligus membuat data akun baru di Indonetwork.</p>
<div class="tutor-step-member"><p><u></u> Anggota Indonetwork</p>
<span></span></div>
<div class="tutor-step-nonmember"><p><u></u> Belum menjadi Anggota Indonetwork</p>
<span></span></div>
</li>
<li class="tutor-step3">
<p><b></b> Jika sudah menjadi anggota Indonetwork, Anda cukup cek email persetujuan produk. Jika baru registrasi menjadi anggota<br> Indonetwork, cek email verifikasi akun dan email persetujuan produk untuk mulai menayangkan produk jualan di Indonetwork.<br>Anda bisa melihat tampilan produk yang sudah  disetujui di halaman dashboard.</p>
<span class="step-img1"></span>
<span class="step-img2"></span>
<p class="tutor-notice">*Produk yang Anda upload akan melewati proses review &amp; membutuhkan waktu maksimal 3 hari kerja sampai tayang di website.<br>Jika tidak sesuai syarat dan ketentuan, maka produk tidak akan tayang.</p>
</li>
</ul>
<div class="lndpg-suggest">
<p>Dan jika Anda ingin produk-produk yang Anda jual tampil di halaman utama,<br>pastikan bergabung menjadi Anggota Prioritas!</p>
<a href="#" class="btn in-lndpg-btn">Cara Upgrade Anggota Prioritas</a>
</div>
</div>
</section>
</div>



<!-- INCLUDE CONTENT HERE END -->