<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-htr">
<div class="wrapper">
<div class="lndpg-top-content lndpg-htr-content">
<h2>Cara Mudah <i></i><br>Daftar Gratis dan<br>
<span>Update Kontak Anda</span>
</h2>
</div>
</div>
<span class="in-lndpg-img htr-img-top"></span>
</section>
<section class="in-lndpg-tutor">
<div class="wrapper">
<h2 class="lndpg-tutor-title">Detil Lengkap Daftar Gratis dan Update Kontak Anda di Indonetwork!</h2>
<ul class="lndpg-tutor-step lndpg-tutor-htr-step">
<li class="tutor-step1">
<p><b></b> Klik "Daftar" pada kotak Login di sisi kanan atas</p>
<span></span>
</li>
<li class="tutor-step2">
<p><b></b> Isi data  diri untuk daftar gratis menjadi anggota. Jika sudah selesai klik "Daftar Akun Baru"</p>
<span></span>
</li>
<li class="tutor-step3">
<p><b></b> Cek email verifikasi untuk mulai mengaktifkan akun anggota Anda di Indonetwork!</p>
<span></span>
</li>
<li class="tutor-step4">
<p><b></b> Bagi Anda yang ingin menjual produk dan berpromosi di Indonetwork, lengkapi informasi kontak Anda agar kepercayaan <br> pembeli meningkat &amp; dapat mengubungi Anda secara langsung. Klik "Cek Disini" pada menu tambah info perusahaan.</p>
<span></span>
</li>
<li class="tutor-step5">
<p><b></b> Klik "Ubah Data Perusahaan". Lengkapi data kontak dan informasi pendukung perusahaan Anda, lalu klik "Simpan Data"</p>
<span></span>
</li>
</ul>
<div class="lndpg-suggest">
<p class="in-confirm-info">Mau mendapat manfaat promosi online lebih, ayo bergabung menjadi Anggota Prioritas di sini !</p>
<a href="#" class="btn in-lndpg-btn">Upgrade Anggota Prioritas</a>
</div>
</div>
</section>
</div>