	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg08.jpg);">
	<div class="form-box w30" style="margin-left:140px">
		<h1 class="colfix w100 judul-landing">
			Hubungi kami
		<hr size="1"></h1>

		<div class="colfix w100 deskripsi-landing">
			<address>
				<ul class="list-unstyled">
					<li>Untuk layanan bantuan dan informasi, silakan hubungi: </li>
					<li><span class="title">Telepon&nbsp;</span>08041787878</li>
					<li><span class="title">Email</span><a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a></li>
					<li>
						<h4>PT. Indonetwork Mitra Utama</h4><br />
						Kantor Pusat:<br />
						Gedung Lippo Kuningan 21st Floor<br>
						Jl HR. Rasuna Said Kav. B-12 Setiabudi, Jakarta 12940, Indonesia<br><br>
						Cabang:<br>
						Ruko Grand City Regency Blok A-10<br>
						Jl. Rungkut Madya, Surabaya, Indonesia.<br><br>
						Customer Service:<br>
						Menara Salemba Lantai 8, Jl. Salemba Raya No.5-5A, Paseban, Senen, Jakarta Pusat.
					</li>
				</ul>
			</address>
		
		</div>

		<div class="clear"></div>
	</div>
</div>



