<!-- INCLUDE CONTENT HERE START -->

<style type="text/css">
* {margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}

.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}
#iceei-content {
    font: 14px/18px 'Open Sans',Roboto, Arial, San-serif;
    color: #222;
    background: #f8f8f8;
    margin-top:40px;

}
#iceei-content .wrap .banner h2 {
    color: #FFF;
    font-size: 28px;
    position: absolute;
    top: 218px;
    left: 120px;
}
#iceei-content h3 {
    color: #222;
    font-size: 30px;
    margin-bottom: 45px;
    font-weight: normal;
}
#iceei-content p {
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}
.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}
.wrap {
    width: 1200px;
    margin: 0 auto;
}
.banner {
    background: url(assets/images/fair/iceei-bg.jpg) no-repeat;
    height: 453px;
    position:relative;
    padding: 0 90px;
}
.banner .dt-box{
    top: 300px;
    display: block;
    position: absolute;
    color: #FFF;
}
.banner .dt-box .dt-l {
    display: block;
    float: left;
}
.banner .dt-box .dt-l .dt-d{
    display: block;
    font-size: 37px;
    line-height: 26px;
}
.banner .dt-box .dt-l .dt-m{
    display: block;
    margin: 8px 0 0 0;
    font-style: normal;
    font-size: 15px;
    padding-right: 13px;
}
.banner .dt-box .dt-r {
    display: block;
    border-left: 1px solid #FFF;
    float: left;
    padding-left: 13px;
    text-align: left;
    width: 250px;
}
#iceei-content .banner .dt-box .dt-r p{
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 0;
}

.desc {
    background: #ebeff2;
    padding: 90px;
}
.desc a {
    text-decoration: none;
    color: #26C;
}
.cat {
    padding: 90px;
}
.box li {
    display: block;
    width: 184px;
    height: 185px;
    margin: 20px 25px 0 0;
    background: #ddd;
    float: left;
    font-size: 20px;
    font-weight: 100;
    line-height: 26px;
    color: #FFF;
    padding: 30px 0 0 30px;
    box-sizing:border-box;
}
.box span {
    display: block;
    width: 70px;
    height: 60px;
    background: url(assets/images/fair/iceei-sprites.jpg);
    background-position: 0 -28px;
    margin-bottom: 10px;
}
.box .icn2 {
    background-position: -70 -28px;
}
.box .icn3 {
    background-position: -140 -28px;
}
.box .icn4 {
    background-position: 0 -88px;
}
.box .icn5 {
    background-position: -70 -88px;
}
.box .icn6 {
    background-position: -140 -88px;
}
.box .icn7 {
    background-position: 0 -148px;
}
.box .icn8 {
    background-position: -70 -148px;
}
.box .icn9 {
    background-position: -140 -148px;
}
.box .icn10 {
    background-position: 0 -208px;
}
.box li:nth-child(1){
    background: #EB6C1C;
    border-radius: 0 30px 0 0;
}
.box li:nth-child(2){
    background: #8fbe2e;
    border-radius: 0 0 0 30px;
}
.box li:nth-child(3){
    background: #149d9a;
    border-radius: 0 30px 0 0;
}
.box li:nth-child(4){
    background: #ee3c3c;
    border-radius: 0 0 0 30px;
}
.box li:nth-child(5){
    background: #006eb2;
    margin-right: 0;
    border-radius: 0 30px 0 0;
}
.box li:nth-child(6){
    background: #229bdd;
    border-radius: 0 0 0 30px;
}
.box li:nth-child(7){
    background: #fed40a;
    border-radius: 0 30px 0 0;
}
.box li:nth-child(8){
    background: #de0e65;
    border-radius: 0 0 0 30px;
}
.box li:nth-child(9){
    background: #e19026;
    border-radius: 0 30px 0 0;
}
.box li:nth-child(10){
    background: #c426db;
    margin-right: 0;
    border-radius: 0 0 0 30px;
}
.desc2 {
    padding: 64px 90px;
    max-height: 248px;
    background: url(assets/images/fair/iceei-bg.jpg);
    background-position: 0 248px;
    color: #FFF;
}
.desc3 {
    padding: 50px 90px;
    background: #006fb2;
    color: #FFF;
}
.desc3 p{text-align:center !important;}
.desc3 p:nth-child(1){
    font-size:22px !important;margin-bottom:45px;text-align:center;
}
#iceei-content .wrap .desc3 h3{
    color: #FFF;
    line-height: 50px;
    margin-bottom: 30px;
}
.desc3 a{
    color: #ffea00;
    text-decoration: none;
}
.contact {
    padding: 55px 90px;
    background: #FFF;
    border-bottom: 4px solid #e0dfdf;
}
.contact h4{
    font-size: 17px;
    color: #222;
}
.contact .lg-peraga{
    width: 200px;
    height: 28px;
    background: url(assets/images/fair/iceei-sprites.jpg);
    margin: 30px 0 20px;
}
</style>
<div id="iceei-content">
<div class="wrap">
        <div class="banner">
            <h2>International Consumer Electronic Expo Indonesia</h2>
            <div class="dt-box">
                <div class="dt-l"><span class="dt-d">16 - 18</span><span class="dt-m">September 2016</span></div>
                <div class="dt-r"><p>Jakarta International Expo, Hall D - Indonesia</p></div>
            </div>
        </div>
        <div class="desc">
            <h3>Pameran Elektronik Terbesar di Indonesia</h3>
            <p><a href="http://iceei.id/" target="blank"><b>ICEEI 2016</b></a> pertama kali digelar di Indonesia setelah suskes diadakan di Sao Paulo, Brazil. Pameran elektronik konsumen ini akan dihadiri oleh kurang lebih <b>170 perusahaan</b> dari China yang akan membawakan produk dan teknologi terbaru. Tujuan digelarnya ICEEI 2016 adalah untuk memperluas jaringan para pengusaha dalam menjalin kerjasama bisnis,  sebagai sarana edukasi untuk mengetahui perkembangan teknologi di bidang elektronik konsumen. Pameran ini diyakini akan menjadi platform yang baik bagi perusahaan & pembeli dalam mengembangkan usahanya.</p>
        </div>
        <div class="cat con">
            <h3>Kategori produk yang akan ditampilkan dalam ICEEI 2016 adalah:</h3>
            <ul class="box">
                <li><span></span>3D Printing</li>
                <li><span class="icn2"></span>Green Technologies</li>
                <li><span class="icn3"></span>Lifestyle</li>
                <li><span class="icn4"></span>Smart Home</li>
                <li><span class="icn5"></span>Video / <br>4k Ultra HD</li>
                <li><span class="icn6"></span>Audio</li>
                <li><span class="icn7"></span>Sports and Fitness</li>
                <li><span class="icn8"></span>Mobile</li>
                <li><span class="icn9"></span>Video Gaming</li>
                <li><span class="icn10"></span>Other</li>
            </ul>
        </div>
        <div class="desc2">
            <p>Pengunjung <b> ICEEI 2016 </b> bisa mencoba virtual reality "experience zone", drone, test drive balance scooter wheel agar pengunjung bisa mendapatkan kesempatan untuk merasakan langsung fitur teknologi terbaru tersebut.<br>
            <br>
<b>Nantikan program menarik pengundian smartphone GRATIS yang akan dilakukan setiap hari pameran.</b>
</p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.8917509012504!2d106.84801772131955!3d-6.145239190137519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x17fe695f67294b8a!2sJiexpo+Kemayoran!5e0!3m2!1sid!2sid!4v1473321558412" width="1200" height="360" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="desc3">
            <p>Temukan peluang bisnis Anda secara online dengan <a href="http://www.indonetwork.co.id/" target="_blank">Indonetwork.co.id</a><br>
                Kunjungi booth kami dalam pameran ini!</p>
                <p><b>Indonetwork.co.id</b> memberikan peluang bagi para pebisnis untuk memperluas jaringan melalui promosi online. Dengan <br>bergabung di Indonetwork Anda akan mendapatkan website GRATIS dengan berbagai fitur yang akan memudahkan aktivitas <br>bisnis Anda. Ingin bisnis lebih optimal? Daftarkan bisnis Anda menjadi Prioritas Indonetwork! Harga khusus Anggota Prioritas <br>hanya bisa Anda dapatkan selama pameran berlangsung.</p>
        </div>
        <div class="contact">
            <h4>Informasi Lebih Lanjut:</h4>
            <div class="lg-peraga"></div>
            <p>62-21-6493717 | 6493727 | Peraga@peragaexpo.com | info@peragaexpo.com
</p>
        </div>
    </div>

</div>
<!-- INCLUDE CONTENT HERE END -->