<style type="text/css">

    .ifbctop-wrap{
        border-top:5px solid #225f7b;
        padding:60px;
        text-align:center;
    }
    .ifbc-banner,.ifbc-img li,.ifbc-eologo,.ifbc-eocontact i{
        background:url(assets/images/fair/ifbcjkt2016-sprite.jpg) no-repeat;
    }
    .ifbc-banner{
        width:855px;
        padding:64px 0 54px;
        margin:0 auto;
        border:10px solid #f3f3f3;
        background-position:0 -175px;
    }
    .ifbc-logo{
        text-indent:-9999px;
        width:435px;
        height:165px;
        margin:0 auto 20px;
        background:url(assets/images/fair/ifbcjkt2016-logo.png) no-repeat;
    }
    .ifbc-date{
        font-size:20px;
        color:#2d7999;
        line-height:28px;
        text-shadow:2px 2px 0px #fff;
        font-weight:bold;
    }
    .ifbc-contenttop{
        margin:70px 0 50px;
    }
    .ifbc-contenttop p{
        margin:0 0 20px;
    }
    .ifbc-blue{
        color:#2e6a82;
    }
    .ifbc-fairtenant{
        font-weight:bold;
        display: block;
        color:#2e6a82;
        margin:0 60px;
    }
    .ifbc-fairtenant li{
        display: inline-block;
        margin:0;
    }
    .ifbc-fairtenant li:after {
        content: "•";
        margin: 0 10px;
        font-size: 12px;
        color: #bbb;
        width: 8px;
        height: 8px;
    }
    .ifbctop-op{
        margin-top:40px;
    }
    .ifbcbottom-wrap{
        margin:45px 0;
        text-align:center;
    }
    .ifbc-img{
        width:100%;
        display: block;
        text-align: center;
        list-style:none;
        margin:0;
    }
    .ifbc-img li{
        width:210px;
        height:174px;
        text-align: center;
        display: inline-block;
        margin:0 20px;
    }
    .ifbc-img .ifbc-img1{
        background-position:0 0;
    }
    .ifbc-img .ifbc-img2{
        background-position:-213px 0;
    }
    .ifbc-img .ifbc-img3{
        background-position:-423px 0;
    }
    .ifbc-img .ifbc-img4{
        background-position:-635px 0;
    }
    .ifbc-idn{
        margin-top:45px;
    }
    .ifbc-idncome{
        font-weight:bold;
        line-height:28px;
        color:#2e6a82;
        position:relative;
        padding:0 0 30px;
        margin: 0 0 30px;
    }
    .ifbc-idncome i{
        position:absolute;
        bottom:15px;
        left:0;
        right:0;
        margin:0 auto;
        height:2px;
        width:200px;
        background:#2e6a82;
    }
    .ifbc-eo{
        margin-top:45px;
    }
    .ifbc-peta{
        border:10px solid #fff;
    }
    .ifbc-eodetail{
        text-align:center;
    }
    .ifbc-eodetail h3{
        font-size:22px;
        font-weight:bold;
        color:#2e6a82;
    }
    .ifbc-eologo{
        width:130px;
        height:60px;
        background-position:0 -577px;
        margin: 10px auto;
    }
    .ifbc-eocontact{
        margin:10px auto;
    }
    .ifbc-eocontact p{
        margin:5px 0;
    }
    .ifbc-eocontact i{
        width:15px;
        height:15px;
        display: inline-block;
    }
    .ifbc-eocontact .phone{
        background-position:-135px -578px;
    }
    .ifbc-eocontact .email{
        background-position:-135px -597px;              
    }
    .ifbc-eocontact .web{
        background-position:-135px -621px;
    }
</style>

<section class="ifbc">
<!-- ifbcjkt2016 -->
<div class="content">
    <div class="wrapper ifbctop-wrap">
        <div class="ifbc-banner">
            <h2 class="ifbc-logo">IFBC Expo 2016</h2>
            <h3 class="ifbc-date">HADIR DENGAN TEMA<br>"<i> EMPOWERING INDONESIAN ENTREPRENEURS</i> "<br>18 - 20 MARET 2016 | BALAI KARTINI, JAKARTA</h3>
        </div>
        <article class="ifbc-contenttop">
            <p>Ragu dan merasa takut untuk membangun atau memulai bisnis ? Franchise atau usaha waralaba adalah jawaban kebutuhan Anda.<br>Bisnis Franchise saat ini adalah salah satu bisnis  yang sedang banyak dijalankan oleh banyak kalangan masyarakat.</p>
            <p>Neo Organizer bekerjasama dengan Asosiasi Franchise Indonesia (AFI) ke-12 kalinya kembali menghadirkan<br> agenda nasional roadshow pameran di beberapa kota besar Indonesia. Jakarta adalah destinasi pertama<br>penyelenggaran pameran <b class="ifbc-blue">IFBC 2016.</b></p>
            <p>Pameran franchise, bisnis, peluang usaha, dan keagenan ini  siap menjawab kebutuhan akan referensi, inspirasi<br>dan pilihan membangun bisnis baru yang mudah dan telah teruji kesuksesannya. </p>
        </article>
        <ul class="ifbc-fairtenant clear">
            <li>Usaha retail</li>
            <li>Kuliner</li>
            <li>Pendidikan</li>
            <li>Jasa perjalanan wisata</li>
            <li>Fashion</li>
            <li>Hobi</li>
            <li>Jasa binatu</li>
            <li>Perawatan kesahatan dan kecantikan</li>
            <li>Jasa kirim barang</li>
            <li>Otomotif</li>
        </ul>
        <div class="clear"></div>
        <p class="ifbctop-op">Kesempatan bagi Anda untuk menemukan bisnis yang tepat dalam Pameran <b class="ifbc-blue">IFBC 2016.</b></p>
    </div>
    <div class="clear"></div>
    <div class="ifbcbottom-wrap">
        <ul class="ifbc-img">
            <li class="ifbc-img1"></li>
            <li class="ifbc-img2"></li>
            <li class="ifbc-img3"></li>
            <li class="ifbc-img4"></li>
        </ul>
        <div class="clear"></div>
        <div class="ifbc-idn">
            <h3 class="ifbc-idncome">INDONETWORK.CO.ID HADIR MEMBERIKAN SOLUSI<br>PROMOSI ONLINE BISNIS ANDA !<i></i></h3>
            <p>Solusi tepat promosi online bisnis Anda bisa di dapatkan di <a href="http://www.indonetwork.co.id/" target="blank" class="ifbc-blue"><b>indonetwork.co.id</b></a>. Raih kesempatan untuk memperoleh pelanggan online<br>secara mudah. Kunjungi booth indonetwork.co.id konsultasikan bisnis Anda serta tingkatkan kesempatan<br>untuk memperoleh pelanggan lebih banyak dengan Prioritas Indonetwork !</p>
        </div>
        <div class="ifbc-eo">
            <div class="colfix w100 ifbc-peta">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2207854770377!2d106.82310461434344!3d-6.234601095486969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f3e6e7965f99%3A0x7b9ffa3205d3c39a!2sBalai+Kartini!5e0!3m2!1sid!2sid!4v1457668752228" width="100%" height="290" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="colfix w100"></div>
            <div class="colfix w100 ifbc-eodetail">
                <h3>Informasi lebih lanjut :</h3>
                <div class="ifbc-eologo"></div>
                <h3>NEO ORGANIZER</h3>
                <p>PT. Neo Expo Promosindo<br>Jl. Mawar Merah Raya Blok 33 No 4<br>Perum. Klender, Malaka Jaya, Jakarta Timur</p>
                <div class="ifbc-eocontact">
                    <p><i class="phone"></i> : +62 21 - 866 08 111 / fax. +62 21 - 8623 638</p>
                    <p><i class="email"></i> : logoexpofranchise@gmail.com</p>
                    <p><i class="web"></i> : www.neopromosindo.com | www.infofranchiseexpo.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ifbcjkt2016 selesai -->
</section>
<div class="clear"></div>