

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

*{margin:0;padding:0;border:0;outline:0;word-wrap:break-word;}
#bex-content{
    font:15px/28px 'Roboto', sans-serif;
    color:#4c4b4b;
}

h1,h2,h3,h4,h5,h6,p{margin:0;}

ul{
    list-style: none;
}
.con:before,.con:after{
    content:"";
    display:table;
    line-height:0;
    height:0;
}
.con:after{
    clear:both;
}
.clear{
    clear:both;
}

#inapalm-content{font:15px/28px 'Roboto', sans-serif;color:#4c4b4b;margin-top:20px;}
.inapalm-wrapper{width:1200px;margin:0 auto;position:relative;background:#cbf6c8;border-bottom:7px solid #9bd396;}
.inapalm-innerwrapper{width:1030px;margin:0 auto;}

.inapalm-one{background:url(assets/images/fair/inapalm2016-onebg.jpg) no-repeat;}
.inapalm-one .inapalm-innerwrapper{min-height:165px;padding-top:17px;}
.inapalm-one .inapalm-logo{background:url(assets/images/fair/inapalm2016-sprites.jpg) no-repeat 0px -468px;width:218px;height:154px;margin:0 auto;text-indent:-99999px;}

.inapalm-two{background:#13420c;}
.inapalm-two .inapalm-innerwrapper{padding:17px 0;}
.inapalm-two .inapalm-twoleft{width:409px;float:left;color:#FFF;}
.inapalm-two .inapalm-tworight{width:565px;float:right;border-left:2px solid #FFF;padding:0 0 0 27px;}
.inapalm-two .inapalm-tworight h3{font-size:24px;font-weight:400;line-height:39px;color:#FFF;}
.inapalm-two .inapalm-tltop{font-size:25px;font-weight:700;display:inline-block;margin:0 auto;letter-spacing:6px;border-bottom:2px solid #FFF;text-align:center;padding:7px 5px;}
.inapalm-two .inapalm-tlbot{font-size:21px;font-weight:500;display:inline-block;margin:3px auto;}

.inapalm-three{padding:72px 0;}
.inapalm-three h4{font-size:30px;color:#13420c;font-weight:700;margin-bottom:39px;}
.inapalm-three article{text-align:justify;}

.inapalm-four{background:#a8e5a4;position:relative;}
.inapalm-four .inapalm-fourcontent{width:767px;float:right;padding:66px 0;text-align:justify;}
.inapalm-four .inapalm-fourcontent b{margin:20px;margin:10px 0;display:inline-block;}
.inapalm-four .inapalm-fourcontent strong{color:#e41a17;}
.inapalm-four .inapalm-img1{display:inline-block;position:absolute;width:260px;height:290px;background:url(assets/images/fair/inapalm2016-sprites.jpg) no-repeat 0px 0px;left:30px;}

.inapalm-five .inapalm-five1{border:2px solid #a7e5a4;margin:69px 0 29px 0;}
.inapalm-five .inapalm-five2{background:#2266cc;color:#FFF;font-size:16px;padding:37px 65px;position:relative;text-align:justify;}
.inapalm-five .inapalm-five2 a{text-decoration:none;color:#fecc1e;font-weight:500;}
.inapalm-five .inapalm-five2 article{z-index:2;position:relative;}
.inapalm-five .inapalm-img2{width:50px;height:61px;display:inline-block;background:url(assets/images/fair/inapalm2016-sprites.jpg) no-repeat 0px -379px;left:0;bottom:0;position:absolute;}
.inapalm-five .inapalm-img3{width:189px;height:89px;display:inline-block;background:url(assets/images/fair/inapalm2016-sprites.jpg) no-repeat 0px -290px;right:0;bottom:0;position:absolute;z-index:1}
.inapalm-five .inapalm-f3left{float:left;width:214px;position:relative;padding:31px 0;}
.inapalm-five .inapalm-f3right{float:left;width:742px;padding:49px 37px;font-size:13px;line-height:20px;}
.inapalm-five .inapalm-img4{width:127px;height:89px;display:inline-block;background:url(assets/images/fair/inapalm2016-sprites.jpg) no-repeat -50px -379px;position:relative;float:right;}
.inapalm-five .inapalm-f3right h3{display:block;font-size:15px;color:#222;margin-bottom:10px;}
.inapalm-five .inapalm-f3rleft{width:421px;float:left;}
.inapalm-five .inapalm-f3rright{width:321px;float:right;}
</style>
<div id="inapalm-content">
    <div class="inapalm-wrapper">
        <div class="inapalm-one">
            <div class="inapalm-innerwrapper">
                <h1 class="inapalm-logo">Inapalm Asia 2016</h1>
            </div>
        </div>
        <div class="inapalm-two">
            <div class="inapalm-innerwrapper con">
                <div class="inapalm-twoleft">
                    <span class="inapalm-tltop">25 - 27 Agustus 2016</span>
                    <span class="inapalm-tlbot">JlExpo Kemayoran, Jakarta - Indonesia</span>
                </div>
                <div class="inapalm-tworight">
                    <h3>"The 4th Indonesia International Palm Oil Machinery, Processing &amp; Technology Exhibition 2016"</h3>
                </div>
            </div>
        </div>
        <div class="inapalm-three">
            <div class="inapalm-innerwrapper con">
                <h4>Kesempatan menangkap peluang bisnis perkebunan kelapa sawit</h4>
                <article>Perkembangan industri kelapa sawit saat ini semakin cerah baik di pasar dalam negeri maupun di pasar dunia. Sektor ini akan semakin strategis karena berpeluang besar untuk lebih berperan menjadi motor pertumbuhan ekonomi nasional dan menyerap tenaga. Berdasarkan data dari Oil World, trend penggunaan komoditi berbasis minyak kelapa sawit di pasar global terus meningkat dari waktu ke waktu.</article>
            </div>
        </div>
        <div class="inapalm-four">
            <div class="inapalm-innerwrapper con">
                <span class="inapalm-img1"></span>
                <div class="inapalm-fourcontent">
                    <article>
                    Mengulang kesuksesan pada tahun 2015, Global Expo Management (GEM-Indonesia) kembali menyelenggarakan event paling komprehensif untuk Industri kelapa sawit bertajuk:<br>
                    <b>INAPALM ASIA 2016 | 25-27 Agustus 2016 | JIExpo Kemayoran, Jakarta – Indonesia</b>
                    <br>
                    Pameran ini diselenggarakan sebagai platfrom untuk memenuhi kebutuhan pasar profesional yang bergerak di bidang pertanian dan industri bisnis minyak kelapa sawit. Yang akan menampilkan teknologi dan mesin bagi sektor pertanian terbaru di seluruh Indonesia dan negara asian lainnya.<br>
                    <strong>Inapalm 2016</strong> akan diikuti 250 Perusahaan dari 9 Negara dan 15 ribu peserta perdagangan dari 15 Negara siap menjadi referensi bisnis minyak kelapa sawit Anda.
                    </article>
                </div>
            </div>
        </div>
        <div class="inapalm-five">
            <div class="inapalm-innerwrapper">
                <div class="inapalm-five1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.433353575399!2d106.84516312986734!3d-6.148597861304956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34958662bc58d4d!2sPRJ+Kemayoran+(Gambir+EXPO)!5e0!3m2!1sid!2sid!4v1469595839755" width="1026" height="294" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="inapalm-five2">
                    <span class="inapalm-img2"></span>
                    <article><a href="http://www.indonetwork.co.id/" target="_blank">Indonetwork.co.id</a> sebagai <strong>direktori B2B Terbesar di Indonesia</strong> dengan salah satu kategorinya di bidang Agraris, turut<br> hadir untuk memberi solusi promosi online Anda. Datang dan kunjungi booth kami untuk mendapatkan promo menarik.</article>
                    <span class="inapalm-img3"></span>
                </div>
                <div class="inapalm-five3 con">
                    <div class="inapalm-f3left con">
                        <span class="inapalm-img4"></span>
                    </div>
                    <div class="inapalm-f3right con">
                        <h3>PT. Global Expo Management</h3>
                        <div class="inapalm-f3rleft">
                            Perkantoran Mutiara Taman Palem, Block C5 / 28 - 29<br>
                            Jl. Kamal Raya Outer Ring Road Jakarta Barat, 11730, Indonesia.
                        </div>
                        <div class="inapalm-f3rright">
                            Phone : +622154358118<br>
                            fax : +622154358119
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>