	<div class="wrapper">
		<div class="static-head colfix w25">
			<div>
				<h1>Telusuri Kategori</h1>
			</div>
				<ul class="dropdown-menu" id="menu1">
       <li>
           <a href="/teknologi-dan-telekomunikasi"><ico class="teknologi-dan-telekomunikasi"></ico> Teknologi &amp;Telekomunikasi</a>
       </li>
       <li>
           <a href="/peralatan-kantor"><ico class="peralatan-kantor"></ico> Peralatan Kantor</a>
       </li>
       <li>
           <a href="/elektronik-dan-peralatan-rumah-tangga"><ico class="elektronik-dan-peralatan-rumah-tangga"></ico> Elektronik &amp; Peralatan Rumah Tangga</a>
       </li>
       <li>
           <a href="/peralatan-elektronik"><ico class="peralatan-elektronik"></ico> Peralatan Elektronik</a>
       </li>
       <li> 
           <a href="/kesehatan-dan-kecantikan"><ico class="kesehatan-dan-kecantikan"></ico> Kesehatan &amp; Kecantikan</a>
       </li>
       <li>
           <a href="/peralatan-industri"><ico class="peralatan-industri"></ico> Peralatan Industri</a>
       </li>
       <li>
           <a href="/grocery"><ico class="grocery"></ico> Grocery</a>
       </li>
       <li>
           <a href="/otomotif-dan-transportasi"><ico class="otomotif-dan-transportasi"></ico> Otomotif &amp; Transportasi</a>
       </li>
       <li>
           <a href="/media-musik-dan-buku"><ico class="media-musik-dan-buku"></ico> Media, Musik &amp; Buku</a>
       </li>
       <li>
           <a href="/peralatan-olahraga-dan-outdoor"><ico class="peralatan-olahraga-dan-outdoor"></ico> Peralatan Olahraga &amp; Outdoor</a>
       </li>
       <li>
           <a href="/mainan-dan-bayi"><ico class="mainan-dan-bayi"></ico> Mainan &amp; Bayi</a>
       </li>
       <li>
           <a href="/fashion-tekstil-dan-aksesoris"><ico class="fashion-tekstil-dan-aksesoris"></ico> Fashion, Tekstil, &amp; Aksesoris</a>
       </li>
       <li>
           <a href="/pertanian-dan-produk-pangan"><ico class="pertanian-dan-produk-pangan"></ico> Pertanian &amp; Produk Pangan</a>
       </li>
       <li>
           <a href="/voucher-dan-layanan"><ico class="voucher-dan-layanan"></ico> Voucher &amp; Layanan</a>
       </li>
       <li>
           <a href="/kerajinan-dan-souvenir"><ico class="kerajinan-dan-souvenir"></ico> Kerajinan &amp; Souvenir</a>
       </li>
       <li>
           <a href="/metalurgi-mineral-dan-kimia"><ico class="metalurgi-mineral-dan-kimia"></ico> Metalurgi, Mineral &amp; Kimia</a>
       </li>
				</ul>
				<div class="clear"></div>
		</div>
			
		<div class="static-text colfix w75">

			<?php 
			for ($a=1; $a<=15; $a++) {
			echo ''.
			'<a id="'.$a.'" class="anchor"></a>';
			include ($html_path.'kategori-telusuri.html'); 
			

			}
			?>
		</div>
		<div class="clear"></div>
	</div>
