	<?php include $html_path.'toolbar-keranjang.html'; ?>
	<div class="wrapper">
		<div class="colfix w10"></div>	
		<div class="colfix w80">

				<div class="keranjang">

					
					<ul class="list formulir">
						<li>
							<div class="colfix w100 preinput"><h3>Keranjang</h3></div>
						</li>
						<li class="list-header">
							<div class="colfix w10"></div>
							<div class="colfix w15">Gambar</div>
							<div class="colfix w35">Nama barang</div>
							<div class="colfix w35">Nama Perusahaan</div>
							<div class="colfix w10"></div>
						</li>
						<li class="unread">
							<div class="colfix w10 txtcenter"><input type="checkbox"></div>
							<div class="colfix w15"><div class="imgbox"><img src="assets/data/foto12.jpg"></div></div>
							<div class="colfix w35"><div class="judul-item"><a href="./?page=detail"><?php echo $lipsum; ?></a></div></div>
							<div class="colfix w30">
								<a href="">PT. Sidomukti Agung Serayu Lippo Salim</a><br>
								<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span>
							</div>
							<div class="colfix w10 txtright"><a href="#"><span class="btn">Hapus</span></a></div>
							
						</li>
						<?php
						for ($x = 2; $x <= 6; $x++) {
						echo ''.
						'<li>'.
						'	<div class="colfix w10 txtcenter"><input type="checkbox"></div>'.
						'	<div class="colfix w15"><div class="imgbox"><img src="assets/data/foto'.$x.'.jpg"></div></div>'.
						'	<div class="colfix w35"><div class="judul-item"><a href="./?page=detail">'.$lipsum .'</a></div></div>'.
						'	<div class="colfix w30"><a href="">PT. Nomer #'.$x.' Agung Serayu Lippo Salim</a><br><span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span></div>'.
						'	<div class="colfix w10 txtright"><a href="#"><span class="btn">Hapus</span></a></div>'.
						''.
						'</li>';

						}
						?>
						<li>
							<br>
							<br>
							<br>
							<div class="txtcenter">
								<h3>Pilih Salah Satu Produk Untuk Mengirim Pesan</h3>
							</div>
						</li>

						<li>
							<div class="keranjangform">
								<h3>Kirim Pesan Anda Ke Penjual</h3>
								<div class="colfix w25 preinput">Judul</div>
								<div class="colfix w75">
									<input type="text" placeholder="judul pesan"><div class="notif-bar oke smaller">Judul harus diisi</div></div>

								<div class="clear"></div>

								<div class="colfix w25 preinput">Pesan</div>
								<div class="colfix w75">
									<textarea tabindex="11" placeholder="Tulis Keterangan Disini"></textarea>
									<div class="notif-bar oke smaller">Pesan harus diisi</div>
								</div><div class="clear"></div>
								<div class="colfix w25"></div>
								<div class="colfix w75"><input type="submit" value="  Kirim  "></div>
							</div>
						</li>
						
					
					</ul>

				</div>
			
		</div>
		<div class="clear"></div>
	</div>

	<?php include $html_path.'toolbar-keranjang.html'; ?>


<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Form Kirim Pesan</h2>
    </div>
    <div class="modal-body">
    	<div id="one">
			<ul class="formulir">
				<li>
					<div class="colfix w25 preinput">Kepada</div>
					<div class="colfix w75">PT. Sidomukti Agung Serayu Lippo Salim</div>
				</li>
				<li>
					<div class="colfix w25 preinput">Isi Pesan *</div>
					<div class="colfix w75">
						<textarea tabindex="11" placeholder="Tulis Pesan Disini"></textarea>
						<div class="notif-bar oke smaller">Jelaskan maksud dan tujuan anda dengan baik dalam mengirimkan pesan kepada perusahaan yang hendak dituju.</div>
					</div>
				</li>
				<li>
					<div class="colfix w25"></div>
					<div class="colfix w75"><input type="submit" value="  Kirim Pesan  "></div>
				</li>
			</ul>
		</div>

    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>