	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Penawaran Anda <br> Telah Berhasil Dikirimkan
		<hr size="1"></div>
		<div class="colfix w100 txtcenter deskripsi-landing">Anda telah berhasil mengirimkan penawaran kepada Pembeli.<br> Mohon menunggu informasi selanjutnya dari Pembeli ! </div>
		<div class="clear"></div>
		<div class="colfix w100 txtcenter">
			<a href="./"> <input type="submit" value="Halaman Depan"></a>
		</div>
		<div class="clear"></div>
	</div>
</div>



