	<div class="wrapper">
		<div class="colfix w15"></div>	
		<div class="colfix w70"><br />

				<div class="quickform">
				
				<div class="dashboard-detail">

					<ul class="list formulir">

						<li>
							<br>
							<div class="colfix w100 preinput"><h2>Form Buat Permintaan</h2></div>

							<div class="colfix">Permintaan Anda akan ditayangkan selama <b>30 hari</b>.</div>
						</li>						

						<li>
							<br>
							<div class="colfix w20 preinput">Judul Permintaan *</div>
							<div class="colfix w40"><input type="text" tabindex="1" maxlength="120"><div class="notif-bar oke smaller">minimum 20 karakter dan maksimal 155 karakter </div></div>
						</li>

						<!--<li>
						<div class="colfix w20 preinput">Akan tayang hingga *</div>
							<div class="colfix w40"><input type="date"><div class="notif-bar oke smaller">maksimum 90 hari kerja dari permintaan ini dibuat</div></div>
						</li>-->
						

						<li class="hasmsg">
							<div class="colfix w20">Deskripsi Permintaan *</div>
							<div class="colfix w75">
							<textarea id="txtareatinymce" class="colfix h25"  tabindex="11"></textarea>
							<div class="notif-bar oke smaller">Jelaskan produk anda dengan detil dan lengkap sehingga memudahkan calon pembeli anda untuk mengenali produk anda. Deskripsi yang lengkap berguna untuk mesin pencarian.</div></div>
						</li>

						<li>
							<br>
							<div class="colfix w20 preinput">Budget *</div>
							<div class="colfix w40"><input type="text" tabindex="1" maxlength="120" placeholder="Rp"><div class="notif-bar oke smaller">maksimum 10 karakter </div></div>
						</li>

						<!--<li>
							<br>
							<div class="colfix w20 preinput">Perkiraan Harga *</div>
							<div class="colfix w40"><input type="text" tabindex="1" maxlength="120"><div class="notif-bar oke smaller">masukkan harga produk yang ingin ditawarkan </div></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Kategori *</div>
							<div class="colfix w50">
								<select  tabindex="2" class="form-control category_product_select" name="category_product" style="margin:5px 0 5px 0; width: 80%;"><option value="">---- Pilih Kategori ----</option><option value="1|hasChild">Agraris</option><option value="58|hasChild">Pakaian &amp; Mode</option><option value="114|hasChild">Otomotif</option><option value="188|hasChild">Layanan Bisnis</option><option value="294|hasChild">Kimia</option><option value="348|hasChild">Komputer &amp; Software</option><option value="387|hasChild">Konstruksi &amp; Real Estate</option><option value="444|hasChild">Elektronik Konsumen</option><option value="513|hasChild">Elektronik &amp; Elektrik</option><option value="581|hasChild">Enerji</option><option value="606|hasChild">Lingkungan</option><option value="621|hasChild">Persediaan Lebih</option><option value="637|hasChild">Makanan &amp; Minuman</option><option value="680|hasChild">Mebel</option><option value="699|hasChild">Kerajinan &amp; Sovenir</option><option value="763|hasChild">Kesehatan &amp; Kecantikan</option><option value="802|hasChild">Kebutuhan Rumah Tangga</option><option value="853|hasChild">Kebutuhan Industri</option><option value="922|hasChild">Mineral &amp; Logam</option><option value="970|hasChild">Kebutuhan Kantor</option><option value="1022|hasChild">Pembungkus &amp; Kertas</option><option value="1088|hasChild">Percetakan &amp; Penerbitan</option><option value="1102|hasChild">Keamanan &amp; Perlindungan</option><option value="1128|hasChild">Olahraga &amp; Hiburan</option><option value="1183|hasChild">Tekstil &amp; Kulit</option><option value="1242|hasChild">Telekomunikasi</option><option value="1262|hasChild">Mainan</option><option value="1278|hasChild">Transportasi</option></select>
								<div class="notif-bar oke smaller">Pilih salah satu kategori dari pilihan di atas. </div>
								
								<select  tabindex="3" class="form-control category_product_select" name="category_product" style="margin:5px 0 5px 0; width: 80%;"><option value="">---- Pilih Otomotif ----</option><option value="115|">Agen Mobil &amp; Komponen</option><option value="116|">Alat Darurat</option><option value="117|">Alat Diagnostik</option><option value="118|">Alat Kendaraan</option><option value="119|">Alat Perbaikan Ban</option><option value="120|">All Terrain Vehicle (ATV)</option><option value="121|">Asembli Kabel</option><option value="122|">Asembli Saringan</option><option value="123|">Asembli Tabung</option><option value="124|">Asesoris Kendaraan</option><option value="125|">Asesoris Sepedamotor</option><option value="126|">Audio Mobil</option><option value="127|">Bantalan Poros</option><option value="128|">Baterai Kendaraan</option><option value="129|">Dongkrak Mobil</option><option value="130|">Dongkrak Transmisi</option><option value="131|">Dudukan &amp; Komponen Mesin</option><option value="132|">Elektronik Kendaraan</option><option value="133|">Filter Kendaraan</option><option value="134|">Generator &amp; Alternator</option><option value="135|">Jendela &amp; Kaca Mobil</option><option value="136|">Karoseri Kendaraan</option><option value="137|">Komponen</option><option value="138|">Komponen Roda &amp; Ban</option><option value="139|">Komponen Sepeda Motor</option><option value="140|">Komunikasi</option><option value="141|">Kopeling &amp; Komponen</option><option value="142|">Lainnya</option><option value="143|">Meter Kendaraan</option><option value="144|">Mobil</option><option value="145|">Motor</option><option value="146|">Navigasi &amp; GPS</option><option value="147|">Oli, Pelumas</option><option value="148|">Parkir</option><option value="149|">Parkir</option><option value="150|">Pemeliharaan Kendaraan</option><option value="151|">Penahan Angin &amp; Penghapus Penghapus</option><option value="152|">Pendeteksi Radar</option><option value="153|">Pengangkat Mobil</option><option value="154|">Pengganti Ban</option><option value="155|">Pengukur Angin Ban</option><option value="156|">Peralatan Body Repair</option><option value="157|">Peralatan Jalur Produksi Kendaraan</option><option value="158|">Peralatan Jalur Produksi Kendaraan</option><option value="159|">Peralatan Kendaraan</option><option value="160|">Peralatan Parkir</option><option value="161|">Peralatan Transportasi Khusus</option><option value="162|">Peredam Kejut</option><option value="163|">Pistol Oli/Grease Guns</option><option value="164|">Pompa Ban</option><option value="165|">Produk Keamanan &amp; Keselamatan</option><option value="166|">Produk yg Berhubungan</option><option value="167|">Radiator &amp; Komponen</option><option value="168|">Relay, Sensor &amp; Switch</option><option value="169|">Rem</option><option value="170|">Salon Mobil, Cuci Mobil</option><option value="171|">Sepeda Motor</option><option value="172|">Sepedamotor Elektrik</option><option value="173|">Sistem Kelistrikan Kendaraan</option><option value="174|">Sistem Kemudi &amp; Komponen Transmisi</option><option value="175|">Sistem Pembuangan</option><option value="176|">Sistem Pendingin</option><option value="177|">Sistem Penerangan Kendaraan</option><option value="178|">Sistem Pengapian Kendaraan</option><option value="179|">Sistem Setater Kendaraan</option><option value="180|">Skuter</option><option value="181|">Speaker &amp; Horn</option><option value="182|">Stok Mobil</option><option value="183|">Suku Cadang Kendaraan</option><option value="184|">System Pemanas &amp; Pengkondisi Udara</option><option value="185|">Tanki &amp; Komponen</option><option value="186|">Video Mobil</option><option value="187|">Wheel Alignment (Spooring)</option></select>
							</div>
						</li>

						<li>
							<div class="colfix w20 preinput">Jumlah pemesanan *</div>
							<div class="colfix w20 preinput">
								<input type="text" maxlength="6"  tabindex="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><div class="notif-bar oke smaller">Tulis jumlah dalam angka.</div>
							</div>
							<div class="colfix w10 txtcenter">satuan *</div>
							<div class="colfix w20 preinput">
								<select id="unit_id" name="unit_id"  tabindex="7">
									<option value="">---- Pilih satuan ----</option>
									<option value="1">Biji</option>
									<option value="2">Buah</option>
									<option value="3">Butir</option>
									<option value="4">Ekor</option>
									<option value="5">Galon</option>
									<option value="6">Gram</option>
									<option value="7">Gros</option>
									<option value="8">Kantong</option>
									<option value="9">Karton</option>
									<option value="10">Kilogram (Kg)</option>
									<option value="11">Kodi</option>
									<option value="12">Kotak</option>
									<option value="13">Lembar</option>
									<option value="14">Liter</option>
									<option value="15">Lusin</option>
									<option value="16">Ons</option>
									<option value="17">Pak</option>
									<option value="18">Pasang</option>
									<option value="19">Rantai</option>
									<option value="20">Rim</option>
									<option value="21">Set</option>
									<option value="22">Ton</option>
									<option value="23">Unit</option>
								</select>
							</div>
						</li>-->
						<li>
						<div class="colfix w20 preinput">Kategori *</div>
						<div class="colfix w75 kategories">
							<div class="colfix w25">
								<label><div class="kategorithumb">
								<input type="checkbox">
								<div><img src="./assets/images/kategori-icon/1. teknologi-dan-telekomunikasi-icon.png" width"32" height="32"><br />Teknologi &amp;Telekomunikasi</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-2"><div class="kategorithumb">
								<input type="checkbox" id="id-2">
								<div><img src="./assets/images/kategori-icon/2. peralatan-kantor-icon.png" width"32" height="32"><br />Peralatan Kantor</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-3"><div class="kategorithumb">
								<input type="checkbox" id="id-3">
								<div><img src="./assets/images/kategori-icon/3. elektronik-dan-peralatan-rumah-tangga-icon.png" width"32" height="32"><br />Elektronik &amp; Peralatan Rumah Tangga</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-4"><div class="kategorithumb">
								<input type="checkbox" id="id-4">
								<div><img src="./assets/images/kategori-icon/4. peralatan-elektronik-icon.png" width"32" height="32"><br />Peralatan Elektronik</div></div></label>
							</div>

							<div class="colfix w25">
								<label for="id-5"><div class="kategorithumb">
								<input type="checkbox" id="id-5">
								<div><img src="./assets/images/kategori-icon/5. kesehatan-dan-kecantikan-icon.png" width"32" height="32"><br />Kesehatan &amp; Kecantikan</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-6"><div class="kategorithumb">
								<input type="checkbox" id="id-6">
								<div><img src="./assets/images/kategori-icon/6. peralatan-industri-icon.png" width"32" height="32"><br />Peralatan Industri</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-7"><div class="kategorithumb">
								<input type="checkbox" id="id-7">
								<div><img src="./assets/images/kategori-icon/7. grocery-icon.png" width"32" height="32"><br />Grocery</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-8"><div class="kategorithumb">
								<input type="checkbox" id="id-8">
								<div><img src="./assets/images/kategori-icon/8. otomotif-dan-transportasi-icon.png" width"32" height="32"><br />Otomotif &amp; Transportasi</div></div></label>
							</div>

							<div class="colfix w25">
								<label for="id-9"><div class="kategorithumb">
								<input type="checkbox" id="id-9">
								<div><img src="./assets/images/kategori-icon/9. media-musik-dan-buku-icon.png" width"32" height="32"><br />Media, Musik &amp; Buku</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-10"><div class="kategorithumb">
								<input type="checkbox" id="id-10">
								<div><img src="./assets/images/kategori-icon/10. peralatan-olahraga-dan-outdoor-icon.png" width"32" height="32"><br />Peralatan Olahraga &amp; Outdoor</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-11"><div class="kategorithumb">
								<input type="checkbox" id="id-11">
								<div><img src="./assets/images/kategori-icon/11. mainan-dan-bayi-icon.png" width"32" height="32"><br />Mainan &amp; Bayi</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-12"><div class="kategorithumb">
								<input type="checkbox" id="id-12">
								<div><img src="./assets/images/kategori-icon/12. fashion-tekstil-dan-aksesoris-icon.png" width"32" height="32"><br />Fashion, Tekstil, &amp; Aksesoris</div></div></label>
							</div>

							<div class="colfix w25">
								<label for="id-13"><div class="kategorithumb">
								<input type="checkbox" id="id-13">
								<div><img src="./assets/images/kategori-icon/13. pertanian-dan-produk-pangan-icon.png" width"32" height="32"><br />Pertanian &amp; Produk Pangan</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-14"><div class="kategorithumb">
								<input type="checkbox" id="id-14">
								<div><img src="./assets/images/kategori-icon/14. voucher-dan-layanan-icon.png" width"32" height="32"><br />Voucher &amp; Layanan</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-15"><div class="kategorithumb">
								<input type="checkbox" id="id-15">
								<div><img src="./assets/images/kategori-icon/15. kerajinan-dan-souvenir-icon.png" width"32" height="32"><br />Kerajinan &amp; Souvenir</div></div></label>
							</div>
							<div class="colfix w25">
								<label for="id-16"><div class="kategorithumb">
								<input type="checkbox" id="id-16">
								<div><img src="./assets/images/kategori-icon/16. metalurgi-mineral-dan-kimia-icon.png" width"32" height="32"><br />Metalurgi, Mineral &amp; Kimia</div></div></label>
							</div>

						</div>
					</li>
						<li><br>
							<div class="colfix w20">Unggah Foto </div>
							<div class="colfix w75">
								<ul class="foto-produk">
									<?php
									for ($i=1; $i<=8; $i++) {
										echo '<li><label><div class="imgbox"><img src="assets/images/add-photo.svg"><input type="file" value="'.$i.'"></label></div></li>';
									}
									?>
								</ul>
							</div>
							<div class="colfix w20"> </div>
							<div class="colfix w75">
								<div class="notif-bar oke smaller">
									&bull; Besar file foto maximum 5 mb<br>
									&bull; Type file : JPG, GIF, PNG<br>
									&bull; Foto produk yang baik akan membuat produk anda lebih diminati oleh calon pembeli.<br>
								</div>
							</div>
						</li>

						<div class="clear"></div><br />

					</ul>

					<div class="clear"></div>

			<!-- list content -->
					<div class="formulir">
						<div class="tabdetail list-trans-log con">
							<ul class="tabs">
							<li class="tab-link current" data-tab="tab-1"><div>Belum Terdaftar</div></li>
							<li class="tab-link" data-tab="tab-2"><div>Terdaftar</div></li>
							</ul>
							<div id="tab-1" class="in-lg-12 tab-content current">
												<ul class="list formulir">

						<li>
							<br>
							<div class="colfix w100 preinput"><h3>Form Registrasi</h3></div>
						</li>

						<li>

							<div class="colfix w20 preinput">Nama lengkap *</div>
							<div class="colfix w40"><input type="text" placeholder="Nama Lengkap Anda"  tabindex="1"></div>
						</li>

						<li>

							<div class="colfix w20 preinput">No Handphone *</div>
							<div class="colfix w40"><input type="text" placeholder="Contoh: +628127891011xxx"  tabindex="1"></div>
						</li>

						<li>
							<div class="colfix w20 preinput">E-mail *</div>
							<div class="colfix w40"><input type="text" placeholder="E-mail Anda"  tabindex="1"></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Password *</div>
							<div class="colfix w40"><input type="password" placeholder="Password" tabindex="2"><div class="notif-bar oke smaller">minimum 6 karakter </div></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Ulangi Password *</div>
							<div class="colfix w40"><input type="password" placeholder="Ulangi Password" tabindex="2"><div class="notif-bar oke smaller">minimum 6 karakter </div></div>

						</li>

						<li>
							<div class="colfix w20 preinput">Propinsi *</div>
							<div class="colfix w40">
								<select id="durasi" name="durasi"  tabindex="5">
									<option value="1">DKI Jakarta</option>
									<option value="2">Banten</option>
								</select>
							</div><br />
						</li>

						<!--<li>
							<div class="colfix w20 preinput">Kota *</div>
							<div class="colfix w40"><input type="text" placeholder="Kota" tabindex="2"><div class="notif-bar oke smaller">Kota Harus Diisi </div></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Saya Adalah *</div>
							<div class="colfix w40"><div class="selectakun">
								<label><input type="radio" name="register" tabindex="1">Penjual dan Pembeli</label>&nbsp;&nbsp;&nbsp;&nbsp;
								<label><input type="radio" name="register" tabindex="1">Pembeli</label>
							</div></div>
						</li>-->

						<li>
							<div class="colfix w20 preinput"></div>
							<div class="colfix w75">
								<label><input type="checkbox"> Jadikan Juga Saya Penjual.</label>
							</div>
						</li>

						<li>
							<div class="colfix w20 preinput"></div>
							<div class="colfix w80">
								<label><input type="checkbox"> Anda telah mengetahui &amp; menyetujui semua <a href="./?page=static&view=syarat dan ketentuan">syarat &amp; ketentuan</a> yang berlaku di <strong>indonetwork.com</strong></label>
							</div>
						</li>
						
						<li>
							<div class="colfix w20 preinput"></div>
							<div class="colfix w75">
								<small>* Wajib diisi</small>
							</div>
						</li>
					</ul>
							</div>
							<div id="tab-2" class="in-lg-12 tab-content">
							<div class="formulir">
								<h2>Silahkan Login Terlebih Dahulu</h2>
					    		<form method="post" action="./dashboard.php?page=produk">
									<dl class="form-box w100 ">
										<dt class="colfix w30 preinput">E-mail</dt>
										<dd class="colfix w70"><input type="text" placeholder="E-mail/Username Anda" tabindex="1"></dd>
										<dt class="colfix w30 preinput">Password</dt>
										<dd class="colfix w70"><input type="Password" placeholder="Password" tabindex="2"></dd>
										<dt class="colfix w30"></dt>
										<dd class="colfix w70"><div class="notif-bar oke smaller">E-mail / Username / Password tidak cocok </div></dd>
									</dl>
								</form>
							</div>
							</div>
						</div>
					</div>

					<div class="clear"></div>
					<ul class="list formulir" id="btnw-req">
						<li>
							<br>
							<div class="colfix w20 preinput"></div>
							<div class="colfix w75">
								<div class="colfix w100">
									<a href="?page=static&view=kirim permintaan success"><span class="btn-submit">Buat Permintaan</span> </a><br><br>
							</div>
						</li>

					</ul>
					
				</div>

					
				</div>
			
		</div>
		<!-- <div class="colfix w15">test</div> -->

		<div class="clear"></div>
	</div>
