	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Permintaan Anda telah berhasil dibuat.
		<hr size="1"></div>

		<!--<div class="colfix w100 txtcenter deskripsi-landing">Anda Telah Berhasil Membuat Permintaan</div>-->

		<div class="clear"></div>
	</div>
</div>



