	<?php include($html_path.'breadcrump.html'); ?>

	<link href="assets/css/modal.css" media="all" rel="stylesheet" type="text/css" >
		
	<div class="wrapper">
		<div class="detail detail-product detail-permintaan">

			<div class="colfix w100">
				 
				<h2>Silakan Pilih Katalog Produk Anda Yang Ingin Ditawarkan</h2>

					<?php include './assets/html/toolbar-permintaan.html'; ?>

					<div class="search-toolbar w30">
						<form>
						<div class="colfix w60"><input type="text" placeholder="Cari produk"></div>
						<div class="colfix w40"><input type="submit" value="Cari"></div>
						</form>
					</div>

					<hr size="1">

					<div class="list-wrapper colfix ">
						<?php
							for ($y = 1; $y <= 2; $y++) {
								include ($html_path.'listing-item-penawaran.html');
							}
						?>
						<div class="clear"></div>
					</div>

					<noscript><?php include ($html_path.'toolbar-permintaan.html'); ?></noscript>

			</div>
		</div>
	</div>

	<div class="clear"></div>	


<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Konfirmasi</h2>
    </div>
    <div class="modal-body">
      <p>Apakah Anda Yakin Untuk Mengirimkan Katalog Produk Ini?</p>
    </div>
    <div class="modal-footer txtcenter">
      <a href="" class="btn">Ya</a> <a href="" class="btn">Tidak</a> 
    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>