<div class="static-content">
	
	<div class="wrapper">
		<div class="static-text colfix w100">
			<h1>Kontak Kami</h1>
			<address><ul class="list-unstyled"><li>Untuk layanan bantuan dan informasi, silakan hubungi: </li><li><span class="title">Telepon:&nbsp;</span>08041787878</li><li><span class="title">Email:</span>support@indonetwork.co.id</li><li><h4>PT. Indonetwork Mitra Utama</h4>  Jl. Rungkut Madya, Ruko Grand City Regency Blok A10<br>  Surabaya 60293, Indonesia</li></ul></address>
		</div>

		<div class="clear"></div>
	
	
	</div>
	
</div>