	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			<?php
			if( isset($_GET["land"])) {
				echo $_GET["land"];
			}
			?>
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Silahkan aktivasi akun Anda melalui e-mail yang telah Anda daftarkan</div>

		<div class="clear"></div>
	</div>
</div>



