<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-buyer">
<div class="wrapper">
<div class="lndpg-top-content lndpg-top-buyer-content">
<h2>1 Juta Pebisnis Lokal &amp; Mancanegara<br>
<span>Sudah Berpromosi di Indonetwork</span>
</h2>
<p>Indonetwork adalah direktori online yang mempertemukan banyak penjual &amp; <br> pembeli lokal hingga mancanegara sejak 2001. Promosikan dan tingkatkan <br> omzet penjualan Anda di Indonetwork.co.id
</p>
</div>
</div>
<span class="in-lndpg-img buyer-img-top"></span>
</section>
<section class="in-lndpg-tutor lndpg-buyer-mid-content">
<div class="wrapper">
<div class="colfix w50 lbm-content-l">
	<h4>Apa keuntungan bergabung <br>di Indonetwork?</h4>
	<ul>
		<li>Dapat website bisnis GRATIS</li>
		<li>10 juta pageviews/bulan</li>
		<li>5 juta pengunjung/bulan</li>
		<li>Upload produk tanpa batas</li>
	</ul>
	<p>3 langkah berpromosi di Indonetwork!</p>
	<span class="step-promotion-buyer"></span>
</div>
<div class="colfix w50 lbm-content-r">
	<form method="post" action="?page=static&amp;view=register success">
		<div class="form-box w90 ">
			<h4>Buat website GRATIS disini</h4>
			<div class="colfix w100 preinput">Nama Lengkap *</div>
			<div class="colfix w100"><input type="text" placeholder="Nama Lengkap Anda" tabindex="1"></div>

			<div class="colfix w100">No Handphone *</div>
			<div class="colfix w100"><input type="text" placeholder="No Handphone Anda" tabindex="1"></div>

			<div class="colfix w100">E-mail *</div>
			<div class="colfix w100"><input type="text" placeholder="E-mail Anda" tabindex="1"></div>

			<div class="colfix w100 preinput">Password *</div>
			<div class="colfix w100"><input type="Password" placeholder="Password" tabindex="2"></div>
			
			<div class="colfix w100 preinput">Ulangi Password *</div>
			<div class="colfix w100"><input type="Password" placeholder="Ulangi Password" tabindex="2"></div>
			
			<div class="colfix w100">Negara *</div>
			<div class="colfix w100">
				<select dd_url="/static/country?key=name" name="country" id="country" disabled>
					<option value="Indonesia" selected>Indonesia</option>
				</select>
			</div>

			<div class="colfix w100">Propinsi</div>
			<div class="colfix w100">
				<select id="durasi" name="durasi" tabindex="5">
					<option value="1">DKI Jakarta</option>
					<option value="2">Banten</option>
				</select>
			</div>

			<div class="colfix w100">Kota *</div>
			<div class="colfix w100">
				<select id="durasi" name="durasi" tabindex="5">
					<option value="1">Jakarta</option>
					<option value="2">Bogor</option>
				</select>
				<small>*Semua harus diisi</small>
			</div>
			<div class="colfix w100 smaller line13"><label><input type="checkbox"> Dengan Klik Daftar Akun, Saya Mengkonfirmasi Telah Menyetujui <a href="./?page=static&amp;view=syarat dan ketentuan">Syarat dan Ketentuan</a>, serta <a href="./?page=static&amp;view=kebijakan privasi">Kebijakan Privasi</a> Indonetwork</label></div>
			<div class="colfix w100 txtcenter"> <input class="btn-sbmt" type="submit" value="    Daftar akun baru    " tabindex="5"></div>
			<hr size="1">
			<div class="clear"></div>
			<div class="colfix w100">Daftar dengan:</div>
			<div class="colfix w100">
				<div class="colfix w100 btn-wrap">
                  	<a href=""><button class="btn btn-facebook" type="button"><img src="assets/images/lndpg/fb-lndpg-buyer.png" alt="" width="195" height="31"></button></a><a href=""><button class="btn btn-google" type="button"><img src="assets/images/lndpg/g+icon-lndpg-buyer.png" alt="" width="195" height="31"></button></a>
            	 </div>
			</div>
             	<div class="clear"></div>		
			<div class="colfix w50"><a href="?page=static&amp;view=forget Password">Lupa Password?</a></div>
			<div class="colfix w50"><a href="?page=static&amp;view=login">Sudah Anggota? Login</a></div>

			<div class="clear"></div>
		</div>
	</form>
</div>
<div class="clear"></div>
</div>
</section>
</div>