		<?php
		for ($x = 1; $x <= 10; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'	<div class="list-box">'
			.'		<a href="?page=detail-permintaan&id='.(($y*10)+$x).'" target="detail_product" class="link_product">'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>'
			.'			<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
				.'			<div class="hargabox">'
				.'				<div class="harga">1.233.900.000.000</div>'
				.'				<div class="clear"></div>'
				.'				<div class="wrp-vndr-dat">'
				.'				<span class="penwrn">1'.$x.' <small>vendor</small></span>'
				.'				<span class="tayang"><span class="data_stock">28/04/2016</span></span>'
				.'				</div>'
				.'				<div class="clear"></div>'
				.'			</div>'
			//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'				<div class="clear"></div>'
			.'	</div>'
			.'		<div class="product-desc">'
			.'			<p>'.$lipsum.'</p>'
			.'			<div class="button">'
			.'				<a class="btn data_url" href="./?page=detail&amp;id=2092050">Buat Penawaran</a>'
			.'			</div>'
			.'		<div class="clear"></div>'
			.'		</div>'
			.'</div>';
			}
		?>
		
