
<div class="list-container" id="gridview">
	<?php include($html_path.'breadcrump.html'); ?>

	<?php include ($html_path.'toolbar.html'); ?>

	<div class="wrapper">
		<h1>Jual Beli Produk {Category Name}</h1>
	</div>
	<div class="wrapper">
		<?php include ($html_path.'hot-listing.html'); ?>
		<div class="clear"></div>
		<!--div class="semirow">
			<?php
			for ($x = 3; $x <= 4; $x++) {
			
				echo ''
				.'<div class="list-item">'
				.'	<div class="list-box">'
				.'		<a href="?page=detail&id=123456" target="detail_product" class="link_product">'
				.'		<div class="imgbox">'
				.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
				.'		</div>'
				.'		<div class="product-info">'
				.'			<h3>'.$lipsum.'</h3>'
				.'			<div class="hargabox">'
				.'				<div class="harga">23.900.000</div>'
				.'				<div class="clear"></div>'
				.'				<div class="colfix w50">'
				.'				<span class="minorder">10 <small>buah</small></span>'
				.'				</div>'
				//.'				<div class="colfix w50">'
				//.'				<span class="quantity">1000+ <small>buah</small></span>'
				//.'				</div>'
				//.'				<div class="clear"></div>'
				.'			</div>'
				.'		</div>'
				.'		</a>'
				.'		<div class="seller-info">'
				.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>'
				.'			<div class="seller-name"><a href="./?page=profile-store&id='.$x.'">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>'
				.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
				.'		</div>'
				//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
				.'	</div>'
				.'</div>'
				;
				}
			?>
			<div class="clear"></div>
		</div-->
		<div class="list-wrapper">
			<!-- THIS IS THE ORIGIN HTML CODE FOR EACH LIST ITEM **********************
			<div class="list-item">
				<div class="list-box">
					<a href="">
					<div class="imgbox">
						<img src="assets/data/foto01.jpg" alt="nama banner">
					</div>'
					<div class="product-info">
						<h3><?php // echo $lipsum; ?></h3>'
						<div class="hargabox">
							<div class="harga">233.900.000</div>
							<div class="clear"></div>
							<div class="colfix w50">
								<span class="minorder">10 <small>buah</small></span>
							</div>
							<div class="colfix w50">
								<span class="quantity">1000+ <small>buah</small></span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					</a>
					<div class="seller-info">
						<div class="seller-name"><a href="./?page=profile-store">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
					<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>
				</div>
			</div>
			-->
			<?php
				for ($y = 1; $y <= 1; $y++) {
					include ($html_path.'listing-item-hl.html');
				}
			?>
			<?php
				for ($y = 1; $y <= 3; $y++) {
					include ($html_path.'listing-item.html');
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<?php include ($html_path.'hot-listing2.html'); ?>
	</div>
	<div class="clear"></div>
	<noscript><?php include ($html_path.'toolbar.html'); ?></noscript>
</div>

<?php include ($html_path.'seo.html');?>

<!-- OVER THE TOP -->
<div class="overthetop">
	<div class="wrapper">
	
		<div class="quickview-nav">
			<ico class="close-btn"></ico>
			<ico class="nav-right"></ico>
			<ico class="nav-left"></ico>
		</div>
		
		<div id="quickview-box" class="quickview-box">
			<iframe class="quickview-iframe" id="quickview-iframe" scrolling="no"></iframe>
		</div>
	</div>

	<div class="background"></div>
</div>


