
<div class="list-container" id="gridview">
	<?php include($html_path.'breadcrump.html'); ?>

	<?php include ($html_path.'toolbar-request.html'); ?>

	<div class="wrapper">
		<div class="semirow">
			<?php
			for ($x = 3; $x <= 4; $x++) {
			
				echo ''
				.'<div class="list-item">'
				.'	<div class="list-box">'
				.'		<a href="?page=detail-permintaan&id=121212" target="detail_product" class="link_product">'
				.'		<div class="imgbox">'
				.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
				.'		</div>'
				.'		<div class="product-info">'
				.'			<h3>'.$lipsum.'</h3>'
				.'			<div class="hargabox">'
				.'				<div class="harga">23.900.000</div>'
				.'				<div class="clear"></div>'
				.'				<div class="colfix w60">'
				.'				<span class="penwrn">1'.$x.' <small>vendor</small></span>'
				.'				<span class="tayang"><span class="data_stock">28/04/2016</span></span>'
				.'				</div>'
				.'				<div class="clear"></div>'
				.'			</div>'
				.'		</div>'
				.'		</a>'
				.'		<div class="seller-info">'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>'
				.'			<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang</div>'
				.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
				.'		</div>'
				//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
				.'	</div>'
				.'</div>';
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="list-wrapper">
			<!-- THIS IS THE ORIGIN HTML CODE FOR EACH LIST ITEM **********************
			-->
			
			<?php
				for ($y = 1; $y <= 3; $y++) { 
					include ($html_path.'listing-item-request.html');
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<noscript><?php include ($html_path.'toolbar.html'); ?></noscript>

</div>

<?php include ($html_path.'seo.html'); ?>

<!-- OVER THE TOP -->
<div class="overthetop">
	<div class="wrapper">
	
		<div class="quickview-nav">
			<ico class="close-btn"></ico>
			<ico class="nav-right"></ico>
			<ico class="nav-left"></ico>
		</div>
		
		<div id="quickview-box" class="quickview-box">
			<iframe class="quickview-iframe" id="quickview-iframe" scrolling="no"></iframe>
		</div>
	</div>

	<div class="background"></div>
</div>



<!-- -->