		<?php
		for ($x = 1; $x <= 5; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'	<div class="list-box">'
			.'		<a href="./?page=detail&id='.(($y*10)+$x).'">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'			</div>'
			.'		</div>'
			.'				<div class="buttons-box"><div>'
			.'					<button id="myBtn" class="btn pilihpermintaan">Pilih Produk ini</button></div>'
			.'				</div>'
			.'		</a>'
			.'	</div>'
			.'</div>';
			}
		?>

		
