		<?php
		for ($x = 1; $x <= 5; $x++) {
		
			echo ''
			.'<div class="list-item hl">'
			.'	<div class="list-box">
				<div class="corner-hl"><span class="hl-txt">Hot<br> List</span></div>
			'
			.'		<a href="?page=detail">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>12345678901234567890123456789012345678901234567890</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="colfix w50">'
			//.'				<span class="quantity">1000+ <small>buah</small></span>'
			//.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="verified"><img title="verified addres" src="assets/images/verified1.png"><span class="tooltips-m members">Data alamat penjual sudah terverifikasi oleh Indonetwork.co.id</span></div>'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"><span class="tooltips-m members">Penjual ini terdaftar resmi sebagai Anggota Prioritas di Indonetwork.co.id</span></div>'
			.'			<div class="seller-name"><a href="./?page=profile-store&id='.(($y*10)+$x).'">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
			//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div>'
			//.'	<div class="quickbutton"><a href="?page=detail&id=123456">preview</a> <a href="?page=detail">detail</a></div>'
			.'</div>';
			}
		?>
		<?php
		for ($x = 1; $x <= 5; $x++) {
		
			echo ''
			.'<div class="list-item hl">'
			.'	<div class="list-box">'
			.'		<a href="?page=detail">
			<div class="corner-hl2"><span class="hl-txt">Hot<br> List</span></div>'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>12345678901234567890123456789012345678901234567890</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="colfix w50">'
			//.'				<span class="quantity">1000+ <small>buah</small></span>'
			//.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="verified"><img title="verified addres" src="assets/images/verified1.png"><span class="tooltips-m members">Data alamat penjual sudah terverifikasi oleh Indonetwork.co.id</span></div>'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"><span class="tooltips-m members">Penjual ini terdaftar resmi sebagai Anggota Prioritas di Indonetwork.co.id</span></div>'
			.'			<div class="seller-name"><a href="./?page=profile-store&id='.(($y*10)+$x).'">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
			//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div>'
			//.'	<div class="quickbutton"><a href="?page=detail&id=123456">preview</a> <a href="?page=detail">detail</a></div>'
			.'</div>';
			}
		?>
		<?php
		for ($x = 1; $x <= 5; $x++) {
		
			echo ''
			.'<div class="list-item hl">'
			.'	<div class="list-box">'
			.'		<a href="?page=detail">
			<div class="corner-hl3"><span class="hl-txt">Hot List</span></div>'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>12345678901234567890123456789012345678901234567890</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="colfix w50">'
			//.'				<span class="quantity">1000+ <small>buah</small></span>'
			//.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="verified"><img title="verified addres" src="assets/images/verified1.png"><span class="tooltips-m members">Data alamat penjual sudah terverifikasi oleh Indonetwork.co.id</span></div>'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"><span class="tooltips-m members">Penjual ini terdaftar resmi sebagai Anggota Prioritas di Indonetwork.co.id</span></div>'
			.'			<div class="seller-name"><a href="./?page=profile-store&id='.(($y*10)+$x).'">PT. Dirgantara Maju Melayang Terpercaya Mandiri</a></div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
			//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div>'
			//.'	<div class="quickbutton"><a href="?page=detail&id=123456">preview</a> <a href="?page=detail">detail</a></div>'
			.'</div>';
			}
		?>
		
