<div class="breadcrump">
    <ul>
        <li><a href="">Peralatan Industri</a></li>
        <li>Alat &amp; Mesin Pertanian</li>
    </ul>
</div>

<div class="searchbar ">
    <div class="wrapper">
        <div class="colfix w75">
            <input type="text" placeholder="Apa yang anda cari?">
        </div>
        <div class="colfix w25">
            <span class="btn"> Cari </span>
        </div>
        <hr size="1">
        <div class="colfix w47">
            <select>
                <option selected>Katalog Produk</option>
                <option>Permintaan</option>
                <option>Perusahaan</option>
                <option>Semua</option>
            </select>
        </div>
        <div class="colfix w05"></div>
        <div class="colfix w47">
            <select>
                <option selected>Semua Propinsi</option>
                <option>DKI Jakarta</option>
                <option>Jawa Barat</option>
                <option>terusinnn </option>
            </select>
        </div>

    </div>
</div>

<div class="list-wrapper">
<div class="katalog">
            <select>
                <option selected>Perusahaan</option>
                <option>Permintaan</option>
                <option>Katalog Produk</option>
                <option>Semua</option>
            </select>
        </div>
<?php 
        for($x=1; $x<13; $x++) {
            echo ''.
            '<div class="list-item">'.
            '   <a href="./?page=detail page">'.
            '       <div class="colfix w33">'.
            '           <div class="imgbox"><img src="../assets/data/foto'.$x.'.jpg" alt="nama banner"></div>'.
            '       </div>'.
            '       <div class="colfix w66 product-info">'.
            '           <h3>PT. Dirgantara Maju Melayang Terpercaya Mandiri</h3>'.


            '           <div class="seler-info"> <p>Jl. Rungkut Madya No.81, Surabaya, Jawa Timur</p></div>'.
            '           <div class="membership"><img title="membership prioritas" src="assets/images/award.png">

            <img title="membership verified" src="assets/images/verified.png"></div>'.

            
            '       </div>'.
            '   </a>'.
            '</div>';

        }
    ?>
</div>
<div class="center">
  <ul class="pagination">
    <li><a href="#">«</a></li>
    <li><a href="#">1</a></li>
    <li><a class="active" href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">»</a></li>
  </ul>
</div>


