<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<div class="list-container" id="gridview">
	<?php include($html_path.'breadcrump.html'); ?>

	<?php include ($html_path.'toolbar-request.html'); ?>

	<div class="wrapper">
		<h1>List Permintaan</h1>
		<div class="row">
			<div class="list-item">
				<div class="list-box">
					<a href="?page=detail-permintaan&id=121212" target="detail_product" class="link_product">
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not </h3>
					</div>
					</a>
					<div class="seller-info">
					<div class="membership"><img src="assets/images/award.png"><span class="tooltips-m members">Penjual ini terdaftar resmi sebagai Anggota Prioritas di Indonetwork.co.id</span></div>	
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
							<div class="hargabox">
							<div class="harga">1.233.900.000.000</div>
							<div class="clear"></div>
							<div class="wrp-vndr-dat">
							<span class="penwrn">13<small>vendor</small></span>
							<span class="tayang"><span class="data_stock">28/04/2016</span></span>
							</div>
							<div class="clear"></div>
						</div>
					<!--<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>-->
					<div class="clear"></div>
				</div>
					<div class="product-desc">
						<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not</p>
						<div class="button">
							<a class="btn data_url" href="?page=static&view=login">Detail Permintaan</a>
						</div>
					<div class="clear"></div>
					</div>
			</div>
			<div class="list-item">
				<div class="list-box">
					<a href="?page=detail-permintaan&id=121212" target="detail_product" class="link_product">
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not </h3>
					</div>
					</a>
					<div class="seller-info">
					<div class="membership"><img src="assets/images/award.png"><span class="tooltips-m members">Penjual ini terdaftar resmi sebagai Anggota Prioritas di Indonetwork.co.id</span></div>	
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
							<div class="hargabox">
							<div class="harga">1.233.900.000.000</div>
							<div class="clear"></div>
							<div class="wrp-vndr-dat">
							<span class="penwrn">13<small>vendor</small></span>
							<span class="tayang"><span class="data_stock">28/04/2016</span></span>
							</div>
							<div class="clear"></div>
						</div>
					<!--<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>-->
					<div class="clear"></div>
				</div>
					<div class="product-desc">
						<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not</p>
						<div class="button">
							<a class="btn data_url" href="?page=detail-permintaan">Detail Permintaan</a>
						</div>
					<div class="clear"></div>
					</div>
			</div>
			<div class="list-item">
				<div class="list-box">
					<a href="?page=detail-permintaan&id=121212" target="detail_product" class="link_product">
					<div class="product-info">
						<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not </h3>
					</div>
					</a>
					<div class="seller-info">
					<div class="membership"><img src="assets/images/award.png"><span class="tooltips-m members">Penjual ini terdaftar resmi sebagai Anggota Prioritas di Indonetwork.co.id</span></div>	
						<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div>
						<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>
					</div>
							<div class="hargabox">
							<div class="harga">1.233.900.000.000</div>
							<div class="clear"></div>
							<div class="wrp-vndr-dat">
							<span class="penwrn">13<small>vendor</small></span>
							<span class="tayang"><span class="data_stock">28/04/2016</span></span>
							</div>
							<div class="clear"></div>
						</div>
					<!--<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>-->
					<div class="clear"></div>
				</div>
					<div class="product-desc">
						<p>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not</p>
						<div class="button">
							<a class="btn data_url" href="?page=detail-permintaan-arsip">Detail Permintaan</a>
						</div>
					<div class="clear"></div>
					</div>
			</div>
			<?php
			for ($x = 3; $x <= 4; $x++) {
			
				echo ''
				.'<div class="list-item">'
				.'	<div class="list-box">'
				.'		<a href="?page=detail-permintaan&id=121212" target="detail_product" class="link_product">'
				.'		<div class="product-info">'
				.'			<h3>'.$lipsum.'</h3>'
				.'		</div>'
				.'		</a>'
				.'		<div class="seller-info">'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>'
				.'			<div class="seller-name">PT. Cakrawala Mendung Payung Berkembang Pesat Madarani</div>'
				.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
				.'		</div>'
					.'			<div class="hargabox">'
				.'				<div class="harga">1.233.900.000.000</div>'
				.'				<div class="clear"></div>'
				.'				<div class="wrp-vndr-dat">'
				.'				<span class="penwrn">1'.$x.' <small>vendor</small></span>'
				.'				<span class="tayang"><span class="data_stock">28/04/2016</span></span>'
				.'				</div>'
				.'				<div class="clear"></div>'
				.'			</div>'
				//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
				.'		<div class="clear"></div>'
				.'	</div>'
				.'		<div class="product-desc">'
				.'			<p>'.$lipsum.'</p>'
				.'			<div class="button">'
				.'				<a class="btn data_url" href="./?page=detail-permintaan">Detail Permintaan</a>'
				.'			</div>'
				.'		<div class="clear"></div>'
				.'		</div>'
				.'</div>';
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="row">
			<!-- THIS IS THE ORIGIN HTML CODE FOR EACH LIST ITEM **********************
			-->
			
			<?php
				for ($y = 1; $y <= 3; $y++) { 
					include ($html_path.'listing-item-request.html');
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<noscript><?php include ($html_path.'toolbar.html'); ?></noscript>

</div>

<?php include ($html_path.'seo.html'); ?>

<!-- OVER THE TOP -->
<div class="overthetop">
	<div class="wrapper">
	
		<div class="quickview-nav">
			<ico class="close-btn"></ico>
			<ico class="nav-right"></ico>
			<ico class="nav-left"></ico>
		</div>
		
		<div id="quickview-box" class="quickview-box">
			<iframe class="quickview-iframe" id="quickview-iframe" scrolling="no"></iframe>
		</div>
	</div>

	<div class="background"></div>
</div>



<!-- -->


<!--JS-->
		<script src="assets/js/custom.js" type="text/javascript" id="theme-js"></script>

		<div class="clear"></div>
	</div>


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content mdl-login">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
    	<div id="one">
    		 <h2>Silahkan Login Terlebih Dahulu</h2>
    		<form method="post" action="./dashboard.php?page=produk">
				<dl class="form-box w100 ">
					<dt class="colfix w30 lgn-with">Login dengan:</dt>
					<dd class="colfix w70">
						<div class="colfix w100">
		                  	<a href=""><button class="btn btn-facebook" type="button"><img src="assets/images/fb-icon.png" alt="" width="20" height="20">&nbsp;&nbsp;Facebook</button></a><a href=""><button class="btn btn-google" type="button"><img src="assets/images/google-icon.png" alt="" width="20" height="20">&nbsp;&nbsp;&nbsp; Google</button></a>
		            	 </div>
					</dd>
					<dt class="colfix w30 preinput">E-mail</dt>
					<dd class="colfix w70"><input type="text" placeholder="E-mail/Username Anda" tabindex="1"></dd>
					<dt class="colfix w30 preinput">Password</dt>
					<dd class="colfix w70"><input type="Password" placeholder="Password" tabindex="2"></dd>
					<dt class="colfix w30"></dt>
					<dd class="colfix w70"><div class="notif-bar oke smaller">E-mail / Username / Password tidak cocok </div></dd>
					<dt class="colfix w70"></dt>
					<dd class="colfix w30 txtright"> <input type="submit" value="    Login    " tabindex="5"></dd>
				</dl>
				<hr size="1">
				<div class="mdl-loginforgot">
					<div class="colfix w33"><a href="?page=static&amp;view=forget Password">Kirim Ulang Kode Verifikasi</a></div>
					<div class="colfix w33 txtcenter"><a href="?page=static&amp;view=forget Password">Lupa Password?</a></div>
					<div class="colfix w33 txtright"><a href="?page=static&amp;view=register">Daftar Anggota Baru</a></div>
				</div>
			</form>
		</div>
    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#one').show();
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>