		<?php
		for ($x = 1; $x <= 10; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'	<div class="list-box">'
			.'		<a href="?page=detail-permintaan&id='.(($y*10)+$x).'" target="detail_product" class="link_product">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/not-available.jpg" alt="image not available">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="jmlpesan">10 <small>buah</small></span>'
			.'				</div>'
			.'				<div class="colfix w50">'
			.'				<span class="penwrn">1'.$x.' <small>vendor</small></span>'
			.'				</div>'
			.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="membership"><img title="membership prioritas" src="assets/images/award.png"></div>'
			.'			<div class="seller-name"><a href="./?page=profile-store&id='.(($y*10)+$x).'">PT. Cakrawala Mendung Payung Berkembang</a></div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'			<div class="lokasi">Tayang hingga : 28/04/2016</div>'
			.'		</div>'
			//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div>'
			.'</div>';
			}
		?>
		
