		<?php
		for ($x = 1; $x <= 9; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'<div class="corner-ribbon aktif"><span>Aktif</span></div>'
			.'	<div class="list-box">'
			.'		<a href="./?page=detail&id='.(($y*10)+$x).'">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>'.$lipsum.'</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="colfix w50">'
			//.'				<span class="quantity">1000+ <small>buah</small></span>'
			//.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			//.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div><div class="clear"></div>'
			.'	<div class="buttons-box txtcenter">'
			.'		<button id="myBtn" class="btn med-btn">Pilih Produk ini</button> '
			.'	</div>'
			.'</div>';
			}
		?>

		
<div class="list-item">
<div class="corner-ribbon aktif"><span>Aktif</span></div>
	<div class="list-box">
		<a href="./?page=detail&id=11">
		<div class="imgbox">
			<img src="assets/data/foto1.jpg" alt="nama banner">
		</div>
		<div class="product-info">
			<h3>Aoccdrnig to rseearch at an Elingsh uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are, the olny iprmoatnt tihng is that the frist and lsat ltteer is at the rghit pclae. The rset can be a toatl mses and you can sitll raed it wouthit a porbelm. Tihs is bcuseae we do not raed ervey lteter by it slef but the wrod as a wlohe. </h3>
			<div class="hargabox">
				<div class="harga">233.900.000</div>
				<div class="clear"></div>
				<div class="colfix w50">
				<span class="minorder">10 <small>buah</small></span>
				</div>
				<div class="colfix w50">
				</div>
			</div>
		</div>
		</a>
	</div><div class="clear"></div>
	<div class="buttons-box txtcenter">
		<a href="./?page=detail"><span class="btn med-btn">Pilih Produk ini</span></a>
	</div>
</div>