		<?php
		for ($x = 1; $x <= 10; $x++) {
		
			echo ''
			.'<div class="list-item">'
			.'	<div class="list-box">  ' 
			.'		<div class="membership"><img title="membership verified" src="assets/images/verified.png"> <img title="membership prioritas" src="assets/images/award.png"></div>'
			.'		<a href="?page=profile-store&id='.(($y*10)+$x).'" target="detail_product" class="link_product">'
			.'		<div class="imgbox">'
			.'			<img src="assets/data/foto'.$x.'.jpg" alt="nama banner">'
			.'		</div>'
			.'		<div class="product-info">'
			.'			<h3>PT. Dirgantara Maju Melayang Terpercaya Mandiri</h3>'
			.'			<div class="hargabox">'
			.'				<div class="harga">233.900.000</div>'
			.'				<div class="clear"></div>'
			.'				<div class="colfix w50">'
			.'				<span class="minorder">10 <small>buah</small></span>'
			.'				</div>'
			.'				<div class="colfix w50">'
			.'				<span class="quantity">1000+ <small>buah</small></span>'
			.'				</div>'
			//.'				<div class="clear"></div>'
			.'			</div>'
			.'		</div>'
			.'		</a>'
			.'		<div class="seller-info">'
			.'			<div class="seller-name">Jl. Rungkut Madya No.81, Surabaya, Jawa Timur</div>'
			.'			<div class="lokasi">Jakarta Selatan &bull; DKI Jakarta &bull; ID</div>'
			.'		</div>'
			.'		<div class="tag"><div class="cc">0</div> <div class="discount">30</div></div>'
			.'	</div>'
			.'</div>';
			}
		?>
		
