<div class="static-box" style="background-image:url(assets/images/bg/static-bg02.jpg);">
	<form method="post" action="./dashboard.php?page=produk">
		<div class="form-box w40 ">
			<div class="colfix w100"><h1>Login Anggota</h1><hr size="1"></div>

				<div class="colfix w30">Daftar dengan:</div>
			<div class="colfix w70">
				<div class="colfix w100 txtcenter">
                  	<a href=""><button class="btn btn-facebook" type="button"><img src="assets/images/fb-icon.png" alt="" width="20" height="20">&nbsp;&nbsp;Facebook</button></a><a href=""><button class="btn btn-google" type="button"><img src="assets/images/google-icon.png" alt="" width="20" height="20">&nbsp;&nbsp;&nbsp; Google</button></a>
            	 </div>
			</div>
		<div class="clear"></div>
		<hr size="1">
			<div class="colfix w30 preinput">E-mail </div>
			<div class="colfix w70"><input type="text" placeholder="E-mail/Username Anda"  tabindex="1"></div>

			<div class="colfix w30 preinput">Password </div>
			<div class="colfix w70"><input type="Password" placeholder="Password" tabindex="2"></div>
			
			<div class="colfix w30"> </div>
			<div class="colfix w70"><div class="notif-bar oke smaller">E-mail / Username / Password tidak cocok </div></div>
			
			<div class="colfix w70"> </div>
			<div class="colfix w30 txtright"> <input type="submit" value="    Login    " tabindex="5"></div>
			<hr size="1">
			<div class="colfix w33"><a href="?page=static&view=forget Password">Kirim Ulang Kode Verifikasi</a></div>
			<div class="colfix w33 txtcenter"><a href="?page=static&view=forget Password">Lupa Password?</a></div>
			<div class="colfix w33 txtright"><a href="?page=static&view=register">Daftar Anggota Baru</a></div>

			<div class="clear"></div>
		</div>
	</form>
</div>

