<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-ld">
<div class="wrapper">
<div class="lndpg-top-content lndpg-ld-content">
<h2>Gratis Setahun <b>Prioritas.</b></h2>
<h3>Daftarkan Bisnis Anda Sekarang dan<br>Menangkan Promosi Gratis Senilai <b>1,7 Juta!</b></h3>
</div>
</div>
<span class="in-lndpg-img ld-img-top"></span>
</section>
<section class="in-lndpg-one lndpg-ld-one">
<div class="wrapper">
<p class="in-confirm-info"><b class="in-lgclr1">Indo</b><b class="in-lgclr2">network</b> mengajak Anda untuk berpartisipasi di "Gratis Setahun Prioritas". Daftarkan bisnis<br>Anda dan menangkan status Anggota Prioritas setahun penuh! Bisnis Anda akan mendapatkan<br>promosi online eksklusif selama setahun senilai 1,7 juta rupiah di Indonetwork.<br><br>Daftarkan Bisnis Anda hingga Desember 2016, dan akan ada satu pemenang di setiap periodenya.<br>Cukup tekan tombol "Daftar Sekarang" dan isi data diri dan bisnis Anda!</p>
<a href="#" class="btn in-lndpg-btn">Daftar Sekarang</a>
</div>
<ul class="lndpg-ld-win con">
<li><p>Pemenang Periode 1</p><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/in-ld-win1.jpg" alt="indonetwork" width="316" height="135"/></li>
<li><p>Pemenang Periode 2</p><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/in-ld-win2.jpg" alt="indonetwork" width="316" height="135"/></li>
<li><p>Pemenang Periode 3</p><img src="https://s3-ap-southeast-1.amazonaws.com/production-indonetwork/in-ld-win3.jpg" alt="indonetwork" width="316" height="135"/></li>
</ul>
</section>
<section class="in-lndpg-two lndpg-ld-two con">
<ul class="lndpg-ld-stripper con">
<li></li><li></li><li></li><li></li><li></li>
</ul>
<div class="lndpg-ld-wrap con">
	<h4>Pastikan Anda membaca syarat dan ketentuan di bawah ini!</h4>
	<ol>
		<li>“Gratis Setahun Prioritas” terbuka untuk umum.</li>
		<li>Hadiah “Gratis Setahun Prioritas” adalah menjadi Anggota Prioritas Indonetwork selama setahun senilai 1,7 juta rupiah.</li>
		<li>Peserta wajib untuk “Like” Indonetwork.co.id Facebook Page sebagai salah satu syarat utama untuk memenangkan hadiah “Gratis Setahun Prioritas”. Silahkan “Like” di <a href="https://www.facebook.com/indonetwork.co.id/" target="_blank">https://www.facebook.com/indonetwork.co.id/</a></li>
		<li>Peserta harus mendaftar menjadi member baru Indonetwork.co.id pada periode waktu yang ditentukan. Pastikan untuk mengaktivasi akun melalui email yang dikirimkan oleh Indonetwork.</li>
		<li>Peserta juga wajib mengisi lengkap data perusahaan dan setidaknya memiliki atau mengunggah (upload) satu produk yang akan dijual pada akun tersebut.</li>
		<li>Periode “Gratis Setahun Prirotas” akan dilakukan selama 3 (tiga) bulan mulai dari bulan September 2016 sampai dengan December 2016:
			<ul>
				<li>Periode 1: 13 September 2016 – 12 Oktober 2016</li>
				<li>Periode 2: 13 Oktober 2016 – 12 November 2016</li>
				<li>Periode 3: 13 November 2016 – 12 Desember 2016</li>
			</ul>
		</li>
		<li>Pemenang akan di umumkan pada minggu kedua setiap bulannya di website dan media sosial Indonetwork (Facebook & Twitter).</li>
		<li>Peserta hanya berhak untuk menang satu kali selama periode berlangsung dan pemenang akan dihubungi oleh Tim Indonetwork dalam kurun waktu maksimal 3 (tiga) hari melalui telepon. Jika dalam waktu 3 (tiga) hari tidak ada konfirmasi oleh pemenang, maka dewan juri berhak untuk mengganti dengan pemenang lainnya.</li>
		<li>Setelah dinyatakan sebagai pemenang dan berhasil dikonfirmasi, pemenang berhak mendapatkan hadiah untuk menjadi Anggota Prioritas Indonetwork selama satu tahun</li>
		<li>Hadiah Anggota Prioritas hanya berlaku untuk akun yang baru di daftarkan oleh pemenang, dan tidak bisa dipindah tangan ke akun lain. Hati-hati penipuan karena pemenang tidak akan dikenakan biaya apapun.</li>
		<li>Keputusan dewan juri tidak dapat diganggu gugat.</li>
	</ol>
	<b>Selamat Mengikuti!</b>
</div>
</section>
</div>