	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Produk telah ditambahkan dan akan melalui proses moderasi
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Produk anda akan aktif selambat-lambatnya dalam 3 (tiga) hari kerja.</div>

		<div class="clear"></div>
	</div>
</div>



