<noscript>
<div class="noJS-margintop"></div>
<div class="noJS"><div class="wrapper txtcenter">Browser anda tidak mengaktifkan <strong>javascript</strong>. Fungsionalitas website kami menggunakan <strong>javascript</strong> untuk dapat digunakan secara baik. <a href="http://enable-javascript.com/id/" target="otherpage">Cara mengaktifkan <strong>javascript</strong></a>.</div></div>
</noscript>