	<div class="wrapper">
		<div class="static-head colfix w25">
			<div>
				<h1>Panduan Pembuatan Konten</h1>
			</div>
			<ul>
				<li><a href="#1">Panduan Konten</a></li>
				<li><a href="#2">Panduan Gambar</a></li>
				<li><a href="#3">Format Nama</a></li>
				<li><a href="#4">Format Nama Produk Elektronik, ATK, Kebutuhan Kantor, Network</a></li>
				<li><a href="#5">Garansi Produk</a></li>
			</ul>
		</div>
			
		<div class="static-text colfix w75">

			<a id="1" class="anchor"></a>
			<h3>Panduan Konten</h3>
			<h4>Informasi Produk</h4>
				<ul>
					<li>Harga yang tertera harus relevan dan sesuai dengan barang yang dijual.</li>
					<li>Informasi garansi produk harus tertera, terutama untuk benda-benda elektronik.</li>
					<li>Dimensi produk, yaitu panjang, lebar, dan tinggi produk harus turut disertakan, begitu pula dengan beratnya.</li>
					<li>Panjang, lebar, & tinggi  produk harus dalam bentuk <strong>centimeter</strong> (cm).</li>
					<li>Berat produk harus dalam bentuk <strong>kilogram</strong> (kg).</li>
				</ul>
			<h4>Deskripsi Produk</h4>
				<ul>
					<li>Deskripsi produk berisikan mengenai garis besar produk yang akan dijual.</li>
					<li>Deskripsi produk terdiri dari minimal 3-5 kalimat atau 1 paragraf.</li>
					<li>Fitur mengenai produk harus disertakan dengan minimum 3 buah poin utama dari produk tersebut.</li>
					<li>Merk produk harus tersedia.</li>
					<li>Nama produk dengan bentuk penamaan yang sesuai dengan panduan konten.</li>
					<li>Kategori produk harus sesuai dengan jenis produknya.</li>
					<li>Warna produk harus turut disertakan (Jika ada).</li>
					<li>Spesifikasi produk harus sesuai dengan kategori produk tersebut.</li>
					<li>Jika terdapat deskripsi panjang:</p>
						<ul>
							<li>Penulisan Bahasa Indonesia harus secara baik dan benar.</li>
							<li>Mengunakan vokabulari yang jelas.</li>
							<li>Tidak boleh ada link tambahan pada deskripsi produk (hyperlinks).</li>
						</ul>
					</li>
				</ul>
				<br />
			<a id="2" class="anchor"></a>
			<h3>Panduan Gambar</h3>
			<h4>Gambar Produk</h4>
			<ul>
				<li>Gambar yang ditampilkan pada halaman produk harus memiliki resolusi minimum 500 x 500 piksel dan maksimum 2000 x 2000 piksel.</li>
				<li>Setiap kategori diharuskan memiliki ukuran rasio gambar yang sesuai, dimana ukuran gambar 2x3 diperuntukan untuk kategori fashion dan ukuran 1x1 direkomendasikan untuk kategori selain fashion.</li>
				<li>Gambar harus jelas, tajam dan tidak terlihat blur ataupun pecah.</li>
				<li>Warna pada gambar harus terlihat sama dengan warna yg tertera pada deskripsi.</li>
				<li>Gambar tidak boleh memiliki watermark, logo, tulisan, dan grafik.</li>
				<li>Produk harus dapat terlihat fokus.</li>
				<li>Produk tidak boleh dalam keadaan terbungkus.</li>
				<li>Gambar produk tidak boleh terlihat terpotong.</li>
				<li>Produk yang memiliki jumlah lebih dari 1, serta memiliki warna lebih dari satu diperbolehkan untuk berada di dalam satu gambar, dengan catatan harus memberikan penjelasan di deskripsi bahwa produk tersebut berjumlah lebih dari satu, baik untuk warna maupun jumlahnya.</li>
				<li>Untuk produk Peralatan Rumah Tangga  yang memiliki tambahan aksesoris, produk utama yang akan dijual harus terlihat pada gambar sebanyak 50%.</li>
				<li>Gambar depan produk harus terdiri dari satu buah gambar.</li>
				<li>Tidak boleh terlihat adanya refleksi bayangan manusia ataupun benda lain pada gambar.</li>
				<li>Tidak boleh menggunakan model pada gambar (terkecuali untuk produk dalam kategori Fashion, Kesehatan & Kecantikan serta Olahraga).</li>
			</ul>
			<br />
			<a id="3" class="anchor"></a>
			<h3>Format Nama</h3>
			<ul>
				<li>Nama produk harus selalu menggunakan huruf <strong>kapital</strong>. Sedangkan untuk artikel, kata sambung dan komponen lainnya harus menggunakan huruf <strong>kecil</strong>. Contoh : Apple iPhone 4s 32GB - Hitam.</li>
				<li>Warna harus selalu dituliskan dengan menggunakan tanda "-", dan diletakan paling belakang dari urutan nama.</li>
				<li>Kata yang berada di dalam tanda kurung () tidak boleh dihilangkan dari penamaan.</li>
				<li>Nama produk tidak boleh mengandung karakter lain, terkecuali jika karakter tersebut merupakan bagian dari nama produk. Contoh : §, ⌐, ¬, ‡, µ
					<ul>
						<li>Tanda "-" dapat digunakan untuk menambahkan kata-kata tambahan dan nomor seri</li>
						<li>Tanda "+" dapat digunakan sebagai pemisah pada produk bundling.</li>
					</ul>
				</li>
			</ul>
			<br>
			<a id="4" class="anchor"></a>
			<h3>Format Nama Produk Elektronik, ATK, Kebutuhan Kantor, Network</h3>
			<ul>
				<li><strong> Handphone & Tablet:</strong> Merk + Model + Kapasitas RAM + (Warna)</li>
				<li><strong> Kabel:</strong> Merk + Panjang Kabel + Tipe Kabel + Kompatibel dengan Produk apa</li>
				<li><strong> Sarung & Pelindung Handphone  Merk (Jika ada, contoh :</strong> Spigen) + Bahan + Tipe Produk + Kompatibel dengan Produk apa + (Warna)</li>
				<li><strong> Screen Guards:</strong> Merk (Jika ada) + Tipe Screen Guard + Tipe Produk + Kompatibel dengan Produk 
				apa</li>
				<li><strong> Power bank:</strong> Merk + Model + Kapasitas dengan satuan mAh + Tipe Produk</li>
				<li><strong> Komputer & Laptop:</strong> Merk + Model + Ukuran Layar + Merk CPU & Tipe + Memori RAM + Info lainnya untuk seller, seperti ukuran Hard Disk+ Material + Warna + sistem operasi</li>
				<li><strong> Media Kosong:</strong> Merk + Tipe Produk + Kapasitas Memori dalam satuan GB+ Jumlah Produk dalam satu Pak</li>
				<li><strong> Monitor:</strong> Merk + Model + Ukuran Layar + Fitur + Tipe Produk</li>
				<li><strong> Printer:</strong> Merk + Nama Model + Nomor Model + Dengan Kabel atau Nirkabel + Mono/Warna + Tipe Produk + Fungsi & Fitur lainnya (scanner, fotocopy, fax)</li>
				<li><strong> Mesin Fax:</strong> Merk + Model + Tipe Produk + Mono/Warna + Fungsi Lainnya</li>
				<li><strong> Headphone & Headset: </strong> Merk + Model + Dengan Kabel atau Nirkabel + Suara + Tipe + (Warna)</li>
				<li><strong> Audio Player: </strong> Merk + Model + Kapasitas + Tipe + (Warna)</li>
				<li><strong> Speaker Portabel: </strong> Merk + Model + Tipe + (Warna)</li>
				<li><strong> Konsol: </strong> Merk + Model + Memori Internal + Tipe + (Warna)</li>
				<li><strong> Konsol Portabel: </strong> Merk + Model + Tipe + (Warna) DVD Player: </strong> Merk + Ukuran Layar (inch) + Model + Tipe + (Warna)</li>
				<li><strong> Home Theater: </strong> Merk + Model + Channel + Tipe + Warna</li>
				<li><strong> Televisi: </strong> Merk + Ukuran Layar + Fitur Layar/Teknologi + Warna + Model</li>
				<li><strong> Aksesoris Kamera: </strong> Merk + Model + Tipe Aksesoris Kamera + Anti Air + Kompatibel dengan Produk apa</li>
				<li><strong> Kartu Memori: </strong> Merk +  Tipe Kartu Memori + Kecepatan + Kapastias Penyimpanan + Model</li>
				<li><strong> Tripods & Monopods: </strong> Merk + Model + Panjang Lipatan + Tipe + (Warna)</li>
				<li><strong> Kamera Prosumer: </strong> Merk + Model + Megapixel + Optical Zoom + (Warna)</li>
				<li><strong> Lensa: </strong> Merk + Model + Tipe + Jarak Ukuran Lensa + Kompabilitas Lensa</li>
				<li><strong> Kamera Poket: </strong> Merk + Model + Megapixel + Optical Zoom + (Warna</li>
				<li><strong> DSLR:</strong>
					<ol>
						<li><strong> Body: </strong> Merk + Model + Megapixels + [Body Only]</li>
						<li><strong> Dengan Lensa Kit: </strong> Merk + Model + Megapixels + Model Lensa + [Lens Kit]</li>
						<li><strong> Dengan Lensa & Aksesoris: </strong> Merk + Model + Megapixels + Model Lensa + Aksesoris Utama + [Kit 
						Lainnya]</li>
					</ol>
				</li>
				<li><strong> Air Conditioner (AC): </strong> Merk + Model + Tenaga + Tipe</li>
				<li><strong> Mesin Cuci Piring, Pengering & Pendingin: </strong> Merk + Model + Tipe + Kapasitas dalam satu Liter</li>
				<li><strong> Kompor : </strong> Merk + Model + Tipe + Jumlah Tungku</li>
				<li><strong> Oven & Microwave: </strong> Merk + Model + Tipe + Kapasitas dalam liter</li>
				<li><strong> Kulkas: </strong> Merk + Model + Tipe + Kapasitas</li>
				<li><strong> Mesin Cuci: </strong> Merk + Model + Tipe + Kapasitas Cucian dalam Kg</li>
				<li><strong> Ceret & Teko Elektrik: </strong> Merk + Model + Tipe + Kapasitas dalam liter</li>
				<li><strong> Rice Cooker & Steamer: </strong> Merk + Model + Tipe + Kapasitas dalam liter</li>
				<li><strong> Lainnya: </strong> Merk + Model + Tipe</li>
			</ul>
			<br>
			<a id="5" class="anchor"></a>
			<h3>Garansi Produk</h3>
			<p>Garansi produk harus selalu tertera pada produk yang terdapat pada kategori EL, Jam Tangan, Olahraga, dan Tas & Koper (Kecuali aksesoris travel).</p>
			<ul>
				<li>Handphone & Tablet</li>
				<li>Elektronik Rumah Tangga</li>
				<li>Komputer & Laptop</li>
				<li>Peralatan Elektronik</li>
				<li>Kamera</li>
				<li>Jam Tangan</li>
				<li>Tas & Koper (Kacuali Aksesoris Travel)</li>
				<li>Olah Raga</li>
				<li>Otomotif</li>
			</ul>
			<p>Untuk beberapa kategori diperlukan rincian manatori sebagai berikut:</p>
			<ul>
				<li>Perawatan Rumah dan Penerangan di dalam kategori Peralatan Rumah Tangga</li>
				<li>Alat Kesehatan & Kecantikan dan Alat Kesehatan di dalam kategori Kesehatan & Kecantikan</li>
				<li>Kereta Dorong & Perlengkapan Berkendara dan Kesehatan & Keamanan Bayi Bayi di dalam kategori Mainan & Bayi</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
