
<div class="list-container" id="gridview">
	<?php include($html_path.'breadcrump.html'); ?>
	<div class="profile-store-bar">
		<div class="wrapper">
			<div class="profile-info colfix w40">
				<div class="imgbox imgprofile"><img src="assets/data/profile-pic3.jpg"></div>
				<div class="companyname">PT. Mitra Sahabat Abadi</div>
				<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span><hr>
				<div>Anggota Prioritas</div>
				<!--<div class="ratestar"><span style="width:83%"></span></div>
				<div><ico class="rate star04"></ico><span class="nilai-rate"><strong>8.9</strong> / 123 penilai</span></div>
				-->
			</div>

			<div class="clear"></div>
		</div>
	</div> 

	<div class="wrapper"><marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" direction="left" scrolldelay="1">Like any other social media site Facebook has length requirements when <a href="" target="_blank">it comes to writing on the wall</a>, providing status messaging and commenting yes character.</marquee></div>
	
	
	<?php include ($html_path.'toolbar-store.html'); ?>

	<div class="wrapper">

		<div class="colfix store-info">
			<ul>
				<li>
					<smallcaps>Alamat</smallcaps>
					<span class="verified">
					<img title="membership verified" src="assets/images/verified.png">
					</span> 
					<br>
					Jl. Sidaung Kalong No.356-H Rancaekek<br>
					RT 01/RW 04 Rawa Tajir<br>
					Jakarta Selatan, DKI Jakarta, ID
				</li>
				<li><ico class="email"></ico><span class="tampilkan"><a href="">tampilkan</a></span><span class="emailprofile">xxx@xxx.xxx</span></li>
				<li><ico class="phone"></ico><span class="tampilkan"><a href="">tampilkan</a></span><span class="emailprofile">xxxxxxxx</span></li>
				<!--<li><ico class="reputasi-industri"></ico> Industri Rumahan</li>
				<li><ico class="reputasi-selling"></ico> Grosir, Eceran</li>
				<li><ico class="reputasi-kualitas"></ico> Kualitas Sangat Bagus</li>
				<li><smallcaps class="colfix w60">transaksi</smallcaps> <span class="colfix w40">3453</span></li>-->
				<li><smallcaps class="colfix w60">log terakhir</smallcaps> <span class="colfix w40 txtright">3 hari lalu</span></li>
				<li><smallcaps class="colfix w60">Jumlah Produk</smallcaps> <span class="colfix w40 txtright">1150</span></li>
				<li><smallcaps class="colfix w60">Jumlah Visitor</smallcaps> <span class="colfix w40 txtright">999999</span></li>
				<li><a id="myBtn" href="#"><span class="btn-submit med-btn">Kirim Pesan (login)</span></a></li>
				<li><a id="myBtn2" href="#"><span class="btn-submit med-btn">Kirim Pesan (Non login)</span></a></li>
				
			</ul>
		
		</div>


		<div class="list-wrapper">
			<div class="desc-comp">
				<div class="colfix w100">
			
				<h1>Deskripsi Perusahaan</h1>
				
				<?php echo $lipsum; ?>

				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				
			
				</div>
			</div>
		</div>

		<div class="list-wrapper colfix ">

			<h2>Informasi Produk</h2>
			
			<?php
				for ($y = 1; $y <= 5; $y++) {
					include ($html_path.'listing-item.html');
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<noscript><?php include ($html_path.'toolbar-store.html'); ?></noscript>
	
</div>

<!-- OVER THE TOP -->
<div class="overthetop">
	<div class="wrapper">
		<div class="quickview-nav">
			<ico class="close-btn"></ico>
			<ico class="nav-right"></ico>
			<ico class="nav-left"></ico>
		</div>
		
		<div id="quickview-box" class="quickview-box">
			<iframe class="quickview-iframe" id="quickview-iframe" scrolling="no"></iframe>
		</div>
	</div>
</div>



<link href="assets/css/modal.css" media="screen" rel="stylesheet" type="text/css" id="page-css">
<!-- The Modal -->
<!--<div id="myModal" class="modal">

   Modal content 
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Pilih Produk Anda</h2>
    </div>
    <div class="modal-body">
      Silahkan Login untuk dapat mengirimkan pesan
    </div>
  </div>

</div>-->

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Form Kirim Pesan</h2>
    </div>
    <div class="modal-body">
    	<div id="one">
			<ul class="formulir">
				<li>
					<div class="colfix w25 preinput">Kepada</div>
					<div class="colfix w75">PT. Sambil menyelam minum kopi seruput</div>
				</li>
				<li>
					<div class="colfix w25 preinput">Deskripsi Perusahaan *</div>
					<div class="colfix w75">
						<textarea tabindex="11" placeholder="Tulis Keterangan Disini"></textarea>
						<div class="notif-bar oke smaller">Jelaskan maksud dan tujuan anda dengan baik dalam mengirimkan pesan kepada perusahaan yang hendak dituju.</div>
					</div>
				</li>
				<li>
					<div class="colfix w25"></div>
					<div class="colfix w75"><input type="submit" value="  Simpan data  "></div>
				</li>
			</ul>
		</div>
		<div id="two">
			Silahkan Login untuk dapat mengirimkan pesan
		</div>

    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn2 = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    $('#two').hide();
    $('#one').show();
    modal.style.display = "block";

}
btn2.onclick = function() {
    modal.style.display = "block";
    $('#one').hide();
    $('#two').show();
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>