<link href="assets/css/profilestore2.css" media="screen" rel="stylesheet" type="text/css" id="global-css">

<div class="list-container" id="gridview">
	<?php include($html_path.'breadcrump.html'); ?>
	<div class="profile-store-bar">
		<div class="wrapper">
			<div class="profile-info colfix w40">
				<div class="imgbox imgprofile"><img src="assets/data/profile-pic3.jpg"></div>
				<h1>PT. Mitra Sahabat Abadi</h1>
				<span class="lokasi">Jakarta Selatan, DKI Jakarta, ID</span>
				<!--<div class="ratestar"><span style="width:83%"></span></div>-->
				<div><ico class="rate star04"></ico><span class="nilai-rate"><strong>8.9</strong> / 123 penilai</span></div>
				
			</div>

			<div class="clear"></div>
		</div>
	</div> 

	<div class="wrapper"><marquee behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" direction="left" scrolldelay="1">Like any other social media site Facebook has length requirements when <a href="" target="_blank">it comes to writing on the wall</a>, providing status messaging and commenting yes character.</marquee></div>
	
	
	<?php include ($html_path.'toolbar-store.html'); ?>

	<div class="wrapper">

		<div class="colfix store-info">
			<ul>
				<li>
					<smallcaps>Alamat</smallcaps> <br>
					Jl. Sidaung Kalong No.356-H Rancaekek<br>
					RT 01/RW 04 Rawa Tajir<br>
					Jakarta Selatan, DKI Jakarta, ID
				</li>
				<li><ico class="reputasi-industri"></ico> Industri Rumahan</li>
				<li><ico class="reputasi-selling"></ico> Grosir, Eceran</li>
				<li><ico class="reputasi-kualitas"></ico> Kualitas Sangat Bagus</li>
				<li><smallcaps class="colfix w60">transaksi</smallcaps> <span class="colfix w40">3453</span></li>
				<li><smallcaps class="colfix w60">aktifitas terakhir</smallcaps> <span class="colfix w40">3 hari lalu</span></li>
				<li><smallcaps class="colfix w60">respon &amp; kirim</smallcaps> <span class="colfix w40">&#177; 8 jam</span></li>
				<li><span class="btn-submit med-btn">Kirim Pesan</span></li>
				
			</ul>
		
		</div>

			<div class="list-wrapper"><?php echo $lipsum ?>
			</div>

		<div class="list-wrapper colfix ">

			<?php
				for ($y = 1; $y <= 3; $y++) {
					include ($html_path.'listing-item.html');
				}
			?>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>

	<noscript><?php include ($html_path.'toolbar-store.html'); ?></noscript>
	
</div>

<!-- OVER THE TOP -->
<div class="overthetop">
	<div class="wrapper">
		<div class="quickview-nav">
			<ico class="close-btn"></ico>
			<ico class="nav-right"></ico>
			<ico class="nav-left"></ico>
		</div>
		
		<div id="quickview-box" class="quickview-box">
			<iframe class="quickview-iframe" id="quickview-iframe" scrolling="no"></iframe>
		</div>
	</div>
</div>



<!-- -->