	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Terima Kasih Sudah Mendaftar.
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Silahkan cek e-mail untuk aktivasi akun anda.</div>

		<div class="clear"></div>
	</div>
</div>



