<div class="static-box" style="background-image:url(assets/images/bg/static-bg07.jpg);">
	<form method="post" action="?page=static&view=register success">
		<div class="form-box w40 ">
			<div class="colfix w100"><h1>Membuat Password Baru</h1><hr size="1"></div>

		

			<div class="colfix w30 preinput">Nama Lengkap </div>
			<div class="colfix w70"><input type="text" placeholder="Nama Lengkap Anda"  tabindex="1" disabled></div>

			<div class="colfix w30">E-mail </div>
			<div class="colfix w70"><input type="text" placeholder="namauser@indonetwork.co.id" disabled tabindex="1"></div>


			<div class="colfix w30 preinput">Password </div>
			<div class="colfix w70"><input type="Password" placeholder="Password" tabindex="2"></div>
			
			<div class="colfix w30 preinput">Ulangi Password </div>
			<div class="colfix w70"><input type="Password" placeholder="Ulangi Password" tabindex="2"></div>

			<div class="colfix w30"> </div>
			<div class="colfix w70"><div class="notif-bar oke smaller">Username / Password tidak cocok </div></div>
			
			<div class="colfix w30"> </div>
			<div class="colfix w70 smaller line13"><label><input type="checkbox"> Dengan Klik Daftar Akun, Saya Mengkonfirmasi Telah Menyetujui <a href="./?page=static&view=syarat dan ketentuan">Syarat dan Ketentuan</a>, serta <a href="./?page=static&view=kebijakan privasi">Kebijakan Privasi</a> Indonetwork</label></div>

			<div class="colfix w30"> </div>
			<div class="colfix w70 txtright"> <input type="submit" value="    Buat Password Baru    " tabindex="5"></div>
			<div class="clear"></div>
		</div>
	</form>
</div>
