	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="logo"><a href="./"><img src="assets/images/logo.svg"></a></span>
				<div class="searchbox">
					<form>
						<div class="search-input">
							<input type="text" placeholder="Apa yang Anda cari?"></input>
							<ul class="search-suggestion-box">
								<li><a href="?page=listing"><strong>celana</strong> pendek tanpa saku</a></li>
								<li><a href="?page=listing"><strong>cela</strong>na pendek outdoor</a></li>
								<li><h3>HISTORY</h3></li>
								<li><a href="?page=listing">celana pendek </a></li>
								<li><a href="?page=listing">celana pendek wanita</a></li>
								<li><a href="?page=listing">celana pendek anak-anak</a></li>
								<li><a href="?page=listing">celana pendek nenek-nenek</a></li>
								<li><a href="?page=listing">celana pendek robek</a></li>
								<li><h3>POPULAR SEARCH</h3></li>
								<li><a href="?page=listing">celana pendek tanpa jenggot</a></li>
								<li><a href="?page=listing">celana pendek rasa kopi</a></li>
								<li><a href="?page=listing">celana pendek tak bertuan</a></li>
								<li><a href="?page=listing">celana pendek imajinatif</a></li>
								<li><a href="?page=listing">celana pendek untuk main game</a></li>
							</ul>
						</div>

						<div id="cat_selector" class="cat_selection search-input">
							<ul class="search-suggestion-box">
								<li><a class="option" href="javascript:void(0);" data-value="1">Semua </a></li>
								<li><a class="option" href="javascript:void(0);" data-value="2">Katalog Produk</a></li>
								<li><a class="option" href="javascript:void(0);" data-value="3">Permintaan</a></li>
								<!--<li><a class="option" href="javascript:void(0);" data-value="3">Penawaran Jual</a></li>
								<li><a class="option" href="javascript:void(0);" data-value="3">Penawaran Beli</a></li>
								<li><a class="option" href="javascript:void(0);" data-value="3">Penawaran Kerjasama</a></li>-->
								<li><a class="option" href="javascript:void(0);" data-value="company">Perusahaan</a></li>
							</ul>
							<input class="value_set" type="hidden" value="2" />
							<div class="cat_display">Semua</div>
						</div>	
					
						<div id="propinsi_selector" class="cat_selection search-input">
							<ul class="search-suggestion-box">
								<li><a class="option" href="javascript:void(0);" data-value="semua">Semua Propinsi</a>
								<li><a class="option" href="javascript:void(0);" data-value="Aceh">Aceh</a>
								<li><a class="option" href="javascript:void(0);" data-value="Bali">Bali</a>
								<li><a class="option" href="javascript:void(0);" data-value="Banten">Banten</a>
								<li><a class="option" href="javascript:void(0);" data-value="Bengkulu">Bengkulu</a>
								<li><a class="option" href="javascript:void(0);" data-value="Gorontalo">Gorontalo</a>
								<li><a class="option" href="javascript:void(0);" data-value="DKI Jakarta">DKI Jakarta</a>
								<li><a class="option" href="javascript:void(0);" data-value="Jambi">Jambi</a>
								<li><a class="option" href="javascript:void(0);" data-value="Jawa Barat">Jawa Barat</a>
								<li><a class="option" href="javascript:void(0);" data-value="Jawa Tengah">Jawa Tengah</a>
								<li><a class="option" href="javascript:void(0);" data-value="Jawa Timur">Jawa Timur</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kalimantan Barat">Kalimantan Barat</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kalimantan Selatan">Kalimantan Selatan</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kalimantan Tengah">Kalimantan Tengah</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kalimantan Timur">Kalimantan Timur</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kalimantan Utara">Kalimantan Utara</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kepulauan Bangka Belitung">Kep. Bangka Belitung</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kepulauan Riau">Kepulauan Riau</a>
								<li><a class="option" href="javascript:void(0);" data-value="Lampung">Lampung</a>
								<li><a class="option" href="javascript:void(0);" data-value="Kepulauan Maluku">Kepulauan Maluku</a>
								<li><a class="option" href="javascript:void(0);" data-value="Maluku Utara">Maluku Utara</a>
								<li><a class="option" href="javascript:void(0);" data-value="Nusa Tenggara Barat">Nusa Tenggara Barat</a>
								<li><a class="option" href="javascript:void(0);" data-value="Nusa Tenggara Timur">Nusa Tenggara Timur</a>
								<li><a class="option" href="javascript:void(0);" data-value="Papua">Papua</a>
								<li><a class="option" href="javascript:void(0);" data-value="Papua Barat">Papua Barat</a>
								<li><a class="option" href="javascript:void(0);" data-value="Riau">Riau</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sulawesi Barat">Sulawesi Barat</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sulawesi Selatan">Sulawesi Selatan</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sulawesi Tengah">Sulawesi Tengah</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sulawesi Tenggara">Sulawesi Tenggara</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sulawesi Utara">Sulawesi Utara</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sumatera Barat">Sumatera Barat</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sumatera Selatan">Sumatera Selatan</a>
								<li><a class="option" href="javascript:void(0);" data-value="Sumatera Utara">Sumatera Utara</a>
								<li><a class="option" href="javascript:void(0);" data-value="Daerah Istimewa Yogyakarta">D.I. Yogyakarta</a>
							</ul>
							<input class="value_set" type="hidden" value="semua" />
							<div class="cat_display">Semua Propinsi</div>
						</div>				

						<input type="submit" value="Cari">
					</form>
				</div>
				<div class="submit-post fright">
					<a href="?page=tambah%20produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="?page=static&view=register" class="add-quotation"><ico class="quotation"></ico> Daftar</a>-->
					<a href="?page=static&view=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Buat Permintaan</a>
				</div>
			</center>
		</div>
	</div>
</div>