	<div class="search-container">
		<div class="wrapper">
			<center>
				<span class="logo"><a href="./"><img src="assets/images/logo.svg"></a></span>
				<div class="searchbox">
					<form>
						<div class="search-input">
							<input type="text" placeholder="Apa yang Anda cari?"></input>
							<ul class="search-suggestion-box">
								<li><a href="?page=listing">celana pendek </a></li>
								<li><a href="?page=listing"><strong>celana</strong> pendek tanpa saku</a></li>
								<li><a href="?page=listing"><strong>cela</strong>na pendek outdoor</a></li>
								<li><a href="?page=listing">celana pendek wanita</a></li>
								<li><a href="?page=listing">celana pendek anak-anak</a></li>
								<li><a href="?page=listing">celana pendek nenek-nenek</a></li>
								<li><a href="?page=listing">celana pendek robek</a></li>
								<li><a href="?page=listing">celana pendek tanpa jenggot</a></li>
								<li><a href="?page=listing">celana pendek rasa kopi</a></li>
								<li><a href="?page=listing">celana pendek tak bertuan</a></li>
								<li><a href="?page=listing">celana pendek imajinatif</a></li>
								<li><a href="?page=listing">celana pendek untuk main game</a></li>
							</ul>
						</div>
					
						<div id="propinsi_selector" class="cat_selection search-input">
							<ul class="search-suggestion-box">
								<li><a class="option" href="javascript:void(0);" data-value="halamanini">Halaman ini</a>
								<li><a class="option" href="javascript:void(0);" data-value="indonetwork">Halaman Indonetwork</a>
							</ul>
							<input class="value_set" type="hidden" value="semua" />
							<div class="cat_display">Halaman ini</div>
						</div>				

						<div id="cat_selector" class="cat_selection search-input">
							<ul class="search-suggestion-box">
								<li><a class="option" href="javascript:void(0);" data-value="1">Katalog Produk</a></li>
								<li><a class="option" href="javascript:void(0);" data-value="2">Permintaan</a></li>
								<li><a class="option" href="javascript:void(0);" data-value="company">Perusahaan</a></li>
							</ul>
							<input class="value_set" type="hidden" value="2" />
							<div class="cat_display">Katalog Produk</div>
						</div>	

						<input type="submit" value="Cari">
					</form>
				</div>
				<div class="submit-post fright">
					<a href="?page=tambah%20produk" class="add-product"><ico class="katalog"></ico> Jual Sekarang</a>
					<!--<a href="?page=static&view=register" class="add-quotation"><ico class="quotation"></ico> Daftar</a>-->
					<a href="?page=static&view=kirim permintaan" class="add-quotation"><ico class="quotation"></ico> Buat Permintaan</a>
				</div>
			</center>
		</div>
	</div>
</div>