<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-sthx" style="background-image:url(assets/images/bg/static-bg03.jpg);">
<div class="wrapper">
<div class="lndpg-top-content lndpg-sthx-content">
<h2>Terima kasih telah bergabung di <span>Indonetwork</span></h2>
<div class="lndpg-sthx-info con">
<i></i><p><strong>Email Aktivasi telah dikirim.</strong> Silahkan cek email Anda untuk<br>mengaktifkan akun di Indonetwork dalam waktu 7 x 24 jam</p>
</div>
</div>
</div>
</section>
<section class="in-lndpg-one lndpg-sthx-one">
<div class="wrapper">
<h3>Ikuti 3 Langkah Untuk Aktivasi Akun</h3>
<ul class="con">
<li><u></u><p>Cek inbox di email dan lihat email<br>aktivasi akun dari Indonetwork</p></li>
<li><u></u><p>Klik tombol "Aktifkan Sekarang" atau link<br>website yang hanya berlaku selama<br>7 hari setelah email dikirim</p></li>
<li><u></u><p>Akun di Indonetwork telah aktif dan<br>Anda siap berjualan dan berpromosi!</p></li>
</ul>
<i class="lndpg-sthx-one-accent lndpg-sthx-one-accent1"></i>
<i class="lndpg-sthx-one-accent lndpg-sthx-one-accent2"></i>
<div class="lndpg-suggest">
<p class="in-confirm-info">Belum mendapatkan email aktivasi akun ? <u></u> <a href="#">Kirim ulang email aktivasi</a></p>
<p class="in-confirm-help">Perlu bantuan pengaktifan keanggotaan dan ingin tahu lebih lanjut tentang produk dan layanan <a href="http://www.indonetwork.co.id/" target="_blank">Indonetwork.co.id ?</a><br>Silahkan hubungi customer service kami di kami 0804 178 7878, <a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a>, atau<br>gunakan fitur Live Chat yang berada di sisi kanan bawah website Indonetwork.</p>
</div>
</div>
</section>
</div>