	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Produk Anda telah berhasil ditambahkan.
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Silahkan cek e-mail untuk aktivasi akun Anda agar katalog produk Anda dapat segera aktif</div>

		<div class="clear"></div>
	</div>
</div>



