	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Produk Berhasil Dibuat.
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Anda telah berhasil menambahkan katalog produk dan akan segera direview oleh tim kami sebelum aktif.
			<h4>Tingkatkan ke Anggota Prioritas</h4>
			<ul>
				<li>Listing di Halaman Utama Direktori www.indonetwork.co.id</li>
				<li>Lebih Mudah Ditemukan Oleh Pembeli</li>
				<li>Meningkatkan Kesempatan Terjadinya Transaksi Jual Beli</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
</div>



