	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Draft Produk berhasil ditambahkan.
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Anda telah berhasil menambahkan draft katalog produk, silahkan cek halaman broduk Anda</div>

		<div class="clear"></div>
	</div>
</div>



