	<div class="wrapper">
		<div class="colfix w10"></div>	
		<div class="colfix w80"><br />

				<div class="quickform">
					<div class="notif-bar oke">
						<div class="colfix w100">Produk yang Anda upload akan melalui proses review yang memakan waktu max. 3 hari sampai produk tayang di website. <br>Jika produk tidak sesuai dengan Syarat & Ketentuan, maka produk tersebut tidak dapat ditampilkan.</div>
					</div>
				<form method="post" action="?page=static&view=tambah produk success">
					<ul class="list formulir">

						<li>
							<br>
							<div class="colfix w100 preinput"><h3>Form Tambah Produk</h3></div>
						</li>

						<li>
							<div class="colfix w20">Foto produk *</div>
							<div class="colfix w50">
								<ul class="foto-produk input_fields_wrap">


									<?php
									for ($i=1; $i<=8; $i++) {
										echo '<li><label><div class="imgbox"><img src="assets/images/add-photo.svg"><input type="file" value="'.$i.'"></label><a href="#" class="delete_image_product" >&times;</a></div></li>';
									}
									?>
									<!--<div class="tambahbutton">
   									 <button class="add_field_button btn">Tambah Foto</button>
									</div>-->

								</ul>
							</div>
							<div class="colfix w20 preinput">
								<div class="notif-bar oke smaller">
									&bull; Besar file foto maximum 5 mb<br>
									&bull; Type file : JPG, GIF, PNG<br>
									&bull; Foto produk yang baik akan membuat produk anda lebih diminati oleh calon pembeli.<br>
								</div>
							</div>
						</li>

						<li class="errormsg">
							<div class="colfix w20 preinput">Tipe *</div>
							<div class="colfix w50">
								<select  tabindex="2" class="form-control category_product_select" name="category_product" style="margin:5px 0 5px 0; width: 80%;"><option value="">---- Pilih ----</option><option value="">Katalog Produk</option><option value="">Penawaran Jual</option><option value="">Penawaran Beli</option><option value="">Penawaran Kerjasama</option>
								</select>
							</div>
						</li>

						<li>
							<div class="colfix w20 preinput">Nama produk *</div>
							<div class="colfix w50"><input type="text" tabindex="1" maxlength="120"><div class="notif-bar oke smaller">
							Minimum 20 karakter dan maksimal 155 karakter<br> Nama Produk harus selalu menggunakan huruf <b>kapital</b>. Sedangkan untuk artikel, kata sambung dan komponen lainya harus menggunakan huruf <b>kecil</b>.<br>Contoh : Apple iPhone 4s 32GB - Hitam.
							</div></div>
						</li>

						<li class="errormsg">
							<div class="colfix w20 preinput">Kategori *</div>
							<div class="colfix w50">
								<select  tabindex="2" class="form-control category_product_select" name="category_product" style="margin:5px 0 5px 0; width: 80%;"><option value="">---- Pilih Kategori ----</option><option value="1|hasChild">Agraris</option><option value="58|hasChild">Pakaian &amp; Mode</option><option value="114|hasChild">Otomotif</option><option value="188|hasChild">Layanan Bisnis</option><option value="294|hasChild">Kimia</option><option value="348|hasChild">Komputer &amp; Software</option><option value="387|hasChild">Konstruksi &amp; Real Estate</option><option value="444|hasChild">Elektronik Konsumen</option><option value="513|hasChild">Elektronik &amp; Elektrik</option><option value="581|hasChild">Enerji</option><option value="606|hasChild">Lingkungan</option><option value="621|hasChild">Persediaan Lebih</option><option value="637|hasChild">Makanan &amp; Minuman</option><option value="680|hasChild">Mebel</option><option value="699|hasChild">Kerajinan &amp; Sovenir</option><option value="763|hasChild">Kesehatan &amp; Kecantikan</option><option value="802|hasChild">Kebutuhan Rumah Tangga</option><option value="853|hasChild">Kebutuhan Industri</option><option value="922|hasChild">Mineral &amp; Logam</option><option value="970|hasChild">Kebutuhan Kantor</option><option value="1022|hasChild">Pembungkus &amp; Kertas</option><option value="1088|hasChild">Percetakan &amp; Penerbitan</option><option value="1102|hasChild">Keamanan &amp; Perlindungan</option><option value="1128|hasChild">Olahraga &amp; Hiburan</option><option value="1183|hasChild">Tekstil &amp; Kulit</option><option value="1242|hasChild">Telekomunikasi</option><option value="1262|hasChild">Mainan</option><option value="1278|hasChild">Transportasi</option></select>
								<div class="notif-bar oke smaller">Pilih salah satu kategori dari pilihan di atas. </div>
								
								<select  tabindex="3" class="form-control category_product_select" name="category_product" style="margin:5px 0 5px 0; width: 80%;"><option value="">---- Pilih Otomotif ----</option><option value="115|">Agen Mobil &amp; Komponen</option><option value="116|">Alat Darurat</option><option value="117|">Alat Diagnostik</option><option value="118|">Alat Kendaraan</option><option value="119|">Alat Perbaikan Ban</option><option value="120|">All Terrain Vehicle (ATV)</option><option value="121|">Asembli Kabel</option><option value="122|">Asembli Saringan</option><option value="123|">Asembli Tabung</option><option value="124|">Asesoris Kendaraan</option><option value="125|">Asesoris Sepedamotor</option><option value="126|">Audio Mobil</option><option value="127|">Bantalan Poros</option><option value="128|">Baterai Kendaraan</option><option value="129|">Dongkrak Mobil</option><option value="130|">Dongkrak Transmisi</option><option value="131|">Dudukan &amp; Komponen Mesin</option><option value="132|">Elektronik Kendaraan</option><option value="133|">Filter Kendaraan</option><option value="134|">Generator &amp; Alternator</option><option value="135|">Jendela &amp; Kaca Mobil</option><option value="136|">Karoseri Kendaraan</option><option value="137|">Komponen</option><option value="138|">Komponen Roda &amp; Ban</option><option value="139|">Komponen Sepeda Motor</option><option value="140|">Komunikasi</option><option value="141|">Kopeling &amp; Komponen</option><option value="142|">Lainnya</option><option value="143|">Meter Kendaraan</option><option value="144|">Mobil</option><option value="145|">Motor</option><option value="146|">Navigasi &amp; GPS</option><option value="147|">Oli, Pelumas</option><option value="148|">Parkir</option><option value="149|">Parkir</option><option value="150|">Pemeliharaan Kendaraan</option><option value="151|">Penahan Angin &amp; Penghapus Penghapus</option><option value="152|">Pendeteksi Radar</option><option value="153|">Pengangkat Mobil</option><option value="154|">Pengganti Ban</option><option value="155|">Pengukur Angin Ban</option><option value="156|">Peralatan Body Repair</option><option value="157|">Peralatan Jalur Produksi Kendaraan</option><option value="158|">Peralatan Jalur Produksi Kendaraan</option><option value="159|">Peralatan Kendaraan</option><option value="160|">Peralatan Parkir</option><option value="161|">Peralatan Transportasi Khusus</option><option value="162|">Peredam Kejut</option><option value="163|">Pistol Oli/Grease Guns</option><option value="164|">Pompa Ban</option><option value="165|">Produk Keamanan &amp; Keselamatan</option><option value="166|">Produk yg Berhubungan</option><option value="167|">Radiator &amp; Komponen</option><option value="168|">Relay, Sensor &amp; Switch</option><option value="169|">Rem</option><option value="170|">Salon Mobil, Cuci Mobil</option><option value="171|">Sepeda Motor</option><option value="172|">Sepedamotor Elektrik</option><option value="173|">Sistem Kelistrikan Kendaraan</option><option value="174|">Sistem Kemudi &amp; Komponen Transmisi</option><option value="175|">Sistem Pembuangan</option><option value="176|">Sistem Pendingin</option><option value="177|">Sistem Penerangan Kendaraan</option><option value="178|">Sistem Pengapian Kendaraan</option><option value="179|">Sistem Setater Kendaraan</option><option value="180|">Skuter</option><option value="181|">Speaker &amp; Horn</option><option value="182|">Stok Mobil</option><option value="183|">Suku Cadang Kendaraan</option><option value="184|">System Pemanas &amp; Pengkondisi Udara</option><option value="185|">Tanki &amp; Komponen</option><option value="186|">Video Mobil</option><option value="187|">Wheel Alignment (Spooring)</option></select>
								
							</div>
						</li>

						<li>
							<div class="colfix w20 preinput">Minimum pemesanan *</div>
							<div class="colfix w30">
								<input type="text" maxlength="6"  tabindex="6" onkeypress="return event.charCode >= 48 && event.charCode <= 57"><div class="notif-bar oke smaller">Tulis jumlah dalam angka.</div>
							</div>
						</li>

						<li>
							<div class="colfix w20 preinput">Satuan</div>
							<div class="colfix w30">
								<select id="unit_id" name="unit_id"  tabindex="7">
									<option value="">---- Pilih satuan ----</option>
									<option value="1">Biji</option>
									<option value="2">Buah</option>
									<option value="3">Butir</option>
									<option value="4">Ekor</option>
									<option value="5">Galon</option>
									<option value="6">Gram</option>
									<option value="7">Gros</option>
									<option value="8">Kantong</option>
									<option value="9">Karton</option>
									<option value="10">Kilogram (Kg)</option>
									<option value="11">Kodi</option>
									<option value="12">Kotak</option>
									<option value="13">Lembar</option>
									<option value="14">Liter</option>
									<option value="15">Lusin</option>
									<option value="16">Ons</option>
									<option value="17">Pak</option>
									<option value="18">Pasang</option>
									<option value="19">Rantai</option>
									<option value="20">Rim</option>
									<option value="21">Set</option>
									<option value="22">Ton</option>
									<option value="23">Unit</option>
								</select>
							</div>
						</li>

						<li>
							<div class="colfix w20 preinput">Harga jual *</div>
							<div class="colfix w20">
								<input type="text" placeholder="Rp." tabindex="4" maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
								<div class="notif-bar oke smaller">Harga terendah. </div>
							</div>
							<div class="colfix w10 preinput txtcenter"> sampai </div>
							<div class="colfix w20">
								<input type="text" placeholder="Rp." tabindex="5" maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
								<div class="notif-bar oke smaller">Harga tertinggi.</div>
							</div>
						</li>

						<li class="hasmsg">
							<div class="colfix w20 preinput">Deskripsi produk *</div>
							<div class="colfix w75"> 
									
									<script src="assets/js/tinymce.min.js"></script>

		 							 <script>
		 							 	tinymce.init({ 
		 							 		selector:'#txtareatinymce' ,
		 							 		height: 200,
		 							 		  menubar: false,


		 							 	});
		 							 </script>


									<textarea id="txtareatinymce" class="colfix h25"  tabindex="11"></textarea>

									<div class="notif-bar oke smaller"> - Deskripis produk berisikan mengenai garis besar produk yang akan dijual.<br> - Deskripsi produk terdiri dari minimal 3 - 5 kalimat atau 1 paragraf. <br> - Fitur mengenai produk harus disertakan dengan minimum 3 buah poin utama dari produk tersebut. <br> - Gunakan spasi diantara kita.<br> - Menggunakan kosakata yang jelas. <br> - Tidak boleh ada link tambahan pada deskripsi produk (<i>hyperlink</i>).</div>
							</div>
						</li>

						<!--<li>
							<div class="colfix w20 preinput">Ditayangkan selama? *</div>
							<div class="colfix w20">
								<select id="durasi" name="durasi"  tabindex="5">
									<option value="1">1 bulan</option>
									<option value="2" selected>2 bulan</option>
									<option value="3">3 bulan</option>
								</select>
							</div>
							<div class="colfix w40">
								<div class="notif-bar oke smaller">Selama masa tayang ini, stok produk harus tersedia. Setelah masa tayang selesai, produk anda akan masuk ke dalam produk tidak aktif (stok habis) secara otomatis. Anda harus mengaktifkan kembali. </div>
							</div>
						</li>-->

						<li>

							<div class="colfix w20 preinput">Nama lengkap *</div>
							<div class="colfix w40"><input type="text" placeholder="Nama Lengkap Anda"  tabindex="1"><div class="notif-bar oke smaller">minimum 5 karakter dan maksimal 155 karakter </div></div>
						</li>

						<li>

							<div class="colfix w20 preinput">No Handphone *</div>
							<div class="colfix w40"><input type="text" placeholder="No Handphone Anda"  tabindex="1"></div>
						</li>

						<li>
							<div class="colfix w20 preinput">E-mail *</div>
							<div class="colfix w40"><input type="text" placeholder="E-mail Anda"  tabindex="1" class="frm-error"><div class="notif-bar oke smaller">minimum 5 karakter dan maksimal 155 karakter </div></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Ulangi E-mail *</div>
							<div class="colfix w40"><span class="frm-error-msg">Email yang Anda masukan salah</span><input type="text" placeholder="E-mail Anda"  tabindex="1" class="frm-error"><div class="notif-bar oke smaller">minimum 5 karakter dan maksimal 155 karakter </div></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Password *</div>
							<div class="colfix w40"><input type="password" placeholder="Password" tabindex="2"><div class="notif-bar oke smaller">minimum 5 karakter dan maksimal 155 karakter </div></div>
						</li>

						<li>
							<div class="colfix w20 preinput">Ulangi Password *</div>
							<div class="colfix w40"><input type="password" placeholder="Ulangi Password" tabindex="2"><div class="notif-bar oke smaller">minimum 5 karakter dan maksimal 155 karakter </div></div>
						</li>

						<li>
							<div class="colfix w20">Negara *</div>
							<div class="colfix w40">
								<select name="country">
									<option value="Afganistan">Afghanistan</option>
									<option value="Albania">Albania</option>
									<option value="Algeria">Algeria</option>
									<option value="American Samoa">American Samoa</option>
								</select>
							</div>
							<div class="colfix w40">
								<div class="notif-bar oke smaller">Vendor akan dapat mengirimkan penawaran selama masa tayang ini.</div>
							</div>
						</li>

						<li>
							<div class="colfix w20">Propinsi *</div>
							<div class="colfix w40">
								<select id="durasi" name="durasi"  tabindex="5">
									<option value="1">DKI Jakarta</option>
									<option value="2">Banten</option>
								</select>
							</div>
							<div class="colfix w40">
								<div class="notif-bar oke smaller">Vendor akan dapat mengirimkan penawaran selama masa tayang ini.</div>
							</div>
						</li>

						<li>
							<div class="colfix w20">Kota *</div>
							<div class="colfix w40">
								<select id="durasi" name="durasi"  tabindex="5">
									<option value="1">Jakarta</option>
									<option value="2">Bogor</option>
								</select>
							</div>
							<div class="colfix w40">
								<div class="notif-bar oke smaller">Vendor akan dapat mengirimkan penawaran selama masa tayang ini.</div>
							</div>
						</li>

						<!--<li>
							<div class="colfix w20 preinput">Saya Adalah *</div>
							<div class="colfix w40"><div class="selectakun colfix w100">
								<label class="colfix w50"><input type="radio" name="register" tabindex="1">Penjual dan Pembeli</label>
								<label class="colfix w50"><input type="radio" name="register" tabindex="1">Penjual</label>
							</div></div>
						</li>-->



						<li>
							<div class="colfix w20"></div>
							<div class="colfix w75">
								<label><input type="checkbox"> Anda telah mengetahui dan menyetujui semua <a href="./?page=static&view=syarat dan ketentuan">syarat dan ketentuan</a> yang berlaku di <strong>indonetwork.com</strong></label>
							</div>
						</li>

						<li>
							<div class="colfix w20"></div>
							<div class="colfix w75">
								<small>* Wajib diisi</small>
							</div>
						</li>
						
						<li>
							<br>
							<div class="colfix w20"></div>
							<div class="colfix w75">
								<div class="colfix w33"><input type="submit" value="Tambah Produk"></input></div>
								<div class="colfix w66 txtright">
									<a href="?page=static&view=tambah produk simpan"><span class="btn-submit">Simpan sementara</span> </a>
									&nbsp; &nbsp; 
									<a href="?page=static&view=tambah produk moderasi"><span class="btn-submit">Tayangkan melalui moderasi</span> </a>
								</div>
							<br><br>
							</div>
						</li>

					</ul>
				</form>
					
				</div>
			
		</div>
		<div class="clear"></div>
	</div>
