	<div class="wrapper">
		<div class="static-head colfix w25">
			<div>
				<h1>Tentang Kami</h1>
			</div>
			<ul>
				<li><a href="#1">Indonetwork adalah Pusat Perdagangan Online Terlengkap dan Terbesar di Indonesia</a></li>
				<li><a href="#2">Promosi Produk dan Jasa melalui Direktori Bisnis Bisa Dengan Cepat dan Mudah</a></li>
				<li><a href="#3">Pusat Toko Jual Beli Online Terpercaya di Seluruh Indonesia Menjadi Solusi B2B dan B2C</a></li>
			</ul>
		</div>
			
		<div class="static-text colfix w75">

			<a id="1" class="anchor"></a>
			<h4>Indonetwork adalah Pusat Perdagangan Online Terlengkap dan Terbesar di Indonesia</h4>
			<p><a href="http://www.indonetwork.co.id">Indonetwork.co.id</a> merupakan pusat promosi dagang dan direktori bisnis yang dikenal tidak hanya di kalangan B2B (Business-to-Business) tetapi juga di kalangan B2C (Business-to-Customer) di seluruh jangkauan Indonesia. Dengan adanya kebutuhan pribadi dan juga kebutuhan supply chain perusahaan, tentunya diperlukan suatu pusat promosi dagang dan direktori bisnis yang dapat mempermudah untuk mencari barang-barang secara online. Perkembangan teknologi komunikasi dan internet sangat membantu kita dalam mencari kebutuhan yang kita inginkan, dan <a href="http://www.indonetwork.co.id">Indonetwork.co.id</a> hadir untuk lebih mempermudah lagi dalam pencarian-pencarian tersebut.</p>
			<a id="2" class="anchor"></a>
			<h4>Promosi Produk dan Jasa melalui Direktori Bisnis Bisa Dengan Cepat dan Mudah Dilakukan di <a href="http://www.indonetwork.co.id">Indonetwork.co.id</a></h4>
			<p>Sebagai pusat promosi dagang dan direktori bisnis terbesar dan terlengkap di Indonesia, Anda tidak perlu lagi harus susah payah untuk mencari dan menjual barang, jasa yang sedang diperlukan sebagai perusahaan ataupun perorangan. Dengan sistem direktori, pembelian, dan inquiry/pembelian yang mudah, Anda bisa dengan cepat mendapatkan barang yang sedang dicari. Nikmati kelengkapan <a href="http://www.indonetwork.co.id">Indonetwork.co.id</a> dari 28 kategori umum yang bisa dipilih melalui menu produk kami. Selain memperoleh kebutuhan bisnis dan rumah tangga Anda, dapatkan pula info bisnis terbaru dari nama-nama perusahaan di Indonesia. Hubungi dan dapatkan kesempatan bekerjasama dengan perusahaan-perusahaan lainnya di pusat perdagangan dan informasi bisnis Indonesia.</p>
			<a id="3" class="anchor"></a>
			<h4>Pusat Toko Jual Beli Online Terpercaya di Seluruh Indonesia Menjadi Solusi B2B dan B2C</h4>
			<p>Jual beli barang online kini menjadi solusi terbaik untuk kegiatan bisnis Anda. Tidak perlu lagi sulit untuk mencari tempat mencari barang terlengkap se Indonesia, karena semua ada di <a href="http://www.indonetwork.co.id">Indonetwork.co.id</a>. Dilengkapi dengan sistem pendaftaran GRATIS, Anda sudah bisa mencari dan juga membeli berbagai jenis kebutuhan bisnis, industri dan rumah tangga. Anda pun bisa mendaftarkan perusahaan di direktori perusahaan Indonesia. Dengan pengunjung terbesar di Indonesia setiap harinya, tidak perlu ragu lagi untuk mencari-cari pelanggan baru dan proses jual beli yang mudah menjadi keunggulan kami. Jadi tunggu apa lagi? Daftar sekarang juga di <a href="http://www.indonetwork.co.id">Indonetwork.co.id</a>, pusat promosi dagang dan direktori bisnis terbesar di Indonesia dan lengkapi kebutuhan bisnis Anda dengan mudah dan cepat di sini!</p>

		</div>
		<div class="clear"></div>
	</div>
