<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-tnt">
<div class="wrapper">
<div class="lndpg-top-content lndpg-tnt-content">
<h2>6 Tips Belanja Aman di <br>
<span>Indonetwork.co.id</span>
</h2>
<p>Ikuti 6 Tips Belanja Online Aman &amp; Nyaman di Indonetwork.co.id</p>
</div>
</div>
<span class="in-lndpg-img tnt-img-top"></span>
</section>
<section class="in-lndpg-tutor">
<div class="wrapper">
<h2 class="lndpg-tutor-title">Detil Lengkap Belanja Aman di Indonetwork</h2>
<ul class="lndpg-tutor-step lndpg-tutor-tnt-step">
<li class="tutor-step1">
<p><b></b> Periksa kelengkapan informasi perusahaan &amp; member ter-verified 
</p>
<div class="con">
	<i></i><p>Periksa dulu, apakah penjual adalah member yang sudah terverifikasi atau tidak. Jika penjual terverifikasi, artinya penjual tersebut telah menunjukkan identitas yang jelas kepada Indonetwork.co.id mengenai nama dan alamat lengkap perusahaan sehingga dapat ditelusuri jika terjadi sebuah tindak penipuan.</p>
</div>
</li>
<li class="tutor-step2">
<p><b></b> Perhatikan deskripsi produk yang ingin dibeli </p>
<div class="con">
	<i></i><p>Wajib membaca deskripsi produk yang tertera di website penjual. Pastikan dengan teliti spesifikasi produk seperti merk, warna, berat dan lain-lain.</p>
</div>
</li>
<li class="tutor-step3">
<p><b></b> Cek harga &amp; jangan tergiur dengan penawaran harga murah</p>
<div class="con">
	<i></i><p>Cari terlebih dahulu kisaran harga produk di pasaran dan jangan tergiur dengan penawaran harga yang murah dari penjual.</p>
</div>
</li>
<li class="tutor-step4">
<p><b></b> Pastikan kredibilitas penjual/vendor </p>
<div class="con">
	<i></i><p>Pilihlah penjual yang memiliki kredibilitas tinggi dari keanggotaannya. Penjual sebagai Anggota Prioritas dan layanan SMS lebih direkomendasikan.</p>
</div></li>
<li class="tutor-step5">
<p><b></b> Hubungi penjual </p>
<div class="con">
	<i></i><p>Hubungi penjual secara langsung melalui fitur quote yang tersedia atau menghubungi nomor telepon penjual. Jika nomor telepon tersebut tidak aktif atau salah sambung, sebaiknya Anda tidak melakukan transaksi pembelian terlebih dahulu.</p>
</div>
</li>
<li class="tutor-step6">
<p><b></b> Simpan bukti percakapan dan transaksi </p>
<div class="con">
	<i></i><p>Simpan bukti transaksi (resi transfer dan histrori percakapan Anda) dengan penjual hingga transaksi benar-benar selesai. Jika terjadi kesalahan pengiriman atau penjual menyatakan belum menerima pembayaran Anda bisa menunjukan bukti tersebut.</p>
</div>
</li>
</ul>
<p class="note-red">*Pada dasarnya Indonetwork tidak menjamin transaksi yang terjadi antara penjual dan pembeli, namun ada baiknya pembeli dapat berhati-hati dalam melakukan transaksi pembelian.</p>
</div>
</section>
</div>