<div class="toolbar">
	<div class="wrapper">
		<div class="colfix w60 fright txtright">

			<ul>
				<li> 
					<div class="colfix">Urutkan </div> 
					<div id="tool-urutkan" class="cat_selection search-input">
						<ul class="search-suggestion-box">
							<li><a class="option" href="javascript:void(0);" data-value="1">Terbaru </a></li>
							<li><a class="option" href="javascript:void(0);" data-value="2">Termurah</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="3">Termahal</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="4">Terlaris</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="5">Terpopuler</a></li>
						</ul>
						<input class="value_set" type="hidden" value="1" />
						<div class="cat_display">Terbaru</div>
					</div>	

				</li>
			</ul>
			<ul id="list-view">
				<!--<li class="ico-list-row"><ico class="list-row" rel="row"></ico> <a href="?page=listing&view=row"></a></li>-->
				<li class="ico-list-semirow"><ico class="list-semirow" rel="semirow"></ico> <a href="?page=listing&view=semirow"></a></li>
				<li class="ico-list-grid"><ico class="list-grid" rel="grid"></ico>  <a href="?page=listing"></a></li>
			</ul>
			<ul>
				<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
				<li><a href=""><ico class="nav-left"></ico></a></li>
				<li><a href=""><ico class="nav-right"></ico></a></li>
			</ul>
		
		</div>
		<div class="colfix w20 fright">
			<ul class="mg0">
				<li>
					<div id="tool-kelompok" class="cat_selection search-input w50">
						<ul class="search-suggestion-box">
							<li><a class="option" href="javascript:void(0);" data-value="1">Katalog Produk </a></li>
							<li><a class="option" href="javascript:void(0);" data-value="2">Penawaran Jual</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="3">Penawaran Beli</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="4">Penawaran Kerjasama</a></li>
						</ul>
						<input class="value_set" type="hidden" value="1" />
						<div class="cat_display">Semua Produk</div>
					</div>	

				</li>
			</ul>
		
		</div>

		<div class="colfix w20 fright">
			<ul class="mg0">
				<li>
					<div id="tool-kelompok" class="cat_selection search-input w50">
						<ul class="search-suggestion-box">
							<li><a class="option" href="javascript:void(0);" data-value="6"><strong>Promo</strong> </a></li>
							<li><a class="option" href="javascript:void(0);" data-value="1">Alat rumah tangga </a></li>
							<li><a class="option" href="javascript:void(0);" data-value="2">Pakaian</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="3">Tas dan ransel</a></li>
							<li><a class="option" href="javascript:void(0);" data-value="4">Sendal dan Jepit</a></li>
						</ul>
						<input class="value_set" type="hidden" value="1" />
						<div class="cat_display">Kelompok Produk</div>
					</div>	

				</li>
			</ul>
		
		</div>
		<div class="clear"></div>
	</div>
</div>
