<div class="toolbar keranjang">
	<div class="wrapper">
		<div class="colfix w10 fright"></div>
		<div class="colfix w80 fright txtright">
			<ul>
				<li><input type="text" value="234"> dari <span class="black">4245</span> halaman </li>
				<li><a href=""><ico class="nav-left"></ico></a></li>
				<li><a href=""><ico class="nav-right"></ico></a></li>
			</ul>
		
		</div>
		<div class="colfix w10 fright"></div>
		<div class="clear"></div>
	</div>
</div>
