<?php
	if ($page_view == 'search-result') {
		$class = ' listing semirow search-result'.$type_view;
	}elseif ($page_view == 'listing') {
		$class = $page_view.' '.$type_view.' listing-product';
	}elseif ($page_view == 'cart') {
		$class = $page_view.' listing row ';
	}elseif ($page_view == 'listing-company') {
		$class = $page_view.' listing semirow ';
	}elseif ($page_view == 'listing-request') {
		$class = $page_view.' listing semirow ';
	}elseif ($page_view == 'listing-request-non-login') {
		$class = $page_view.' listing semirow ';
	}elseif ($page_view == 'profile-store') {
		$class = 'listing profile-store fixed-margin ' .$type_view;
	}elseif ($page_view == 'profile-store2') {
		$class = 'listing profile-store fixed-margin ' .$type_view;
	}elseif ($page_view == 'profile-store-not-found') {
		$class = 'listing profile-store fixed-margin ' .$type_view;
	}
	
?>

<body class="<?php echo $class; ?>">
<a id="top"></a>
<?php include($html_path.'noJS.html'); ?>

<div class="header" id="header">
	<div class="topnav">
		<div class="wrapper">
			<div class="colfix w40">
				<ul>
					<li>Selamat datang</li>
					<li><a href="?page=static&view=faq">Bantuan</a></li>
					<li><span class="orange"><smallcaps>hotline:</smallcaps> <strong>0804 1787 878</strong> </span><!--<span class="grey">&bull; <smallcaps>GRATIS</smallcaps></span>--></li>
					<!--<li><smallcaps><a href="" class="livechat-link"><span class="orange"><strong>live</strong> chat</span></a></smallcaps></li>-->
				</ul>
			</div>
			<div class="colfix w60">
				<ul class="fright">
					<!--<li>Pembeli  
						<ul class="submenu">
							<li><strong>Source Products &amp; Suppliers</strong></li>
							<li><a href="?page=static&view=semua kategori">Telusuri Kategori</a></li>
							<li><a href="?dashboard.php?kirim permintaan">Dapatkan Penawaran</a></li>
							<li><a href="">Global Expo</a></li>
							<li><a href="?page=listing&view=grosir">Grosir</a></li>
							<li><hr size="1"></hr></li>
							<li><strong>Layanan Transaksi</strong></li>
							<li><a href="">Jaminan Transaksi</a></li>
							<li><a href="">Identitas Bisnis</a></li>
							<li><a href="">Layanan Logistik</a></li>
							<li><a href="">Pembayaran Aman</a></li>
							<li><a href="">Layanan Kredit</a></li>
							<li><a href="">Layanan Inspeksi</a></li>
							<li><hr size="1"></hr></li>
							<li><strong>Komunitas</strong></li>
							<li><a href="">Transaksi Cerdik</a></li>
							<li><a href="">Forum Diskusi</a></li>
							<li><a href="">Tanya Jawab</a></li>
						</ul>
					</li>
					<li>Penjual 
						<ul class="submenu">
							<li><a href="">Keanggotaan Pemasok</a></li>
							<li><a href="">Pusat Pengetahuan</a></li>
							<li><a href="">Pusat Latihan</a></li>
							<li><hr size="1"></hr></li>
							<li><a href=""><strong>Pusat Pengadaan IndoNetwork</strong></a></li>
						</ul>
					</li>-->
					<li><a href="#" id="rm-btn" class="reminder-membershipup"><i></i><span class="notif-bubble">1</span></a></li>
					<li><ico class="akun"></ico>Login <span class="grey">|</span> Daftar <span class="notif-bubble">37</span>
						<div class="submenu">
							<div>
							<form>
							<input type="text" placeholder="E-mail/Username Anda">
							<input type="password" placeholder="Password">
							<small><label><input type="checkbox">Tetap Login</label>
							
							<input type="submit" value="Login" class="fright"></small><hr size="1">
							</form>
							<small class="lupapassw"><a href="?page=static&view=forget%20password">Lupa Password?</a></small>
							<small> 
							<a href="./?page=static&view=register"><input type="submit" value="Daftar" class="fright"></a>
							</small>
							<br>&nbsp;<br>
							</div>
							
							<ul>
								<li><strong><ico class="member-reguler"></ico>Anggota Reguler</strong></li>
								<li><hr size="1"></hr></li>
								<li><a href="dashboard.php?page=produk">Produk Anda <span class="notif-bubble">1335</span></a></li>
								<li><a href="dashboard.php?page=permintaan">Permintaan Anda <span class="notif-bubble">34</span></a></li>
								<li><a href="dashboard.php?page=pesan">Pesan <span class="notif-bubble">13</span></a> </li>
								<li><a href="dashboard.php?page=produk favorit">Favorit <span class="notif-bubble">123</span></a> </li>
								<li><hr size="1"></hr></li>
								<li><a href="dashboard.php">Dashboard</a></li>
								<li><a href="./?page=profile-store">Situs profil usaha Anda</a></li>
								<li><a href="dashboard.php?page=identitas bisnis">Identitas bisnis</a></li>
								<li><a href="dashboard.php?page=verifikasi">Verifikasi akun</a></li>
								<li><hr size="1"></hr></li>
								<li><br><a href="?page=static&view=landing&land=Logout%20berhasil">Log Out</a><br></li>

							</ul>
						</div>
					</li>
					<li><ico class="cart"></ico>Keranjang <span class="notif-bubble">234</span>
						<div class="submenu">
							<div>
							Keranjang Anda kosong.
							Selamat berbelanja<strong><em>!</em></strong>
							</div>
							<div class="cart-checkout txtcenter"><span class="bold bigger orange">7</span> produk. &nbsp; <a href="?page=keranjang"><span class="btn-submit med-btn">Lihat keranjang</span></a> </div>
							<ul class="cart-list">
								<?php for($cart = 1; $cart <= 7; $cart++) {
								echo ''.
								'<li>'.
								'	<div class="colfix w15"><div class="imgbox"><img src="assets/data/foto'.$cart.'.jpg"></div></div>'.
								'	<div class="colfix w75"><a href="?page=detail" target="next_page"><h3>'.$lipsum.'  </h3></a></div>'.
								'	<div class="colfix w10"><ico class="close-btn"></ico></div>'.
								'	<div class="clear"></div>'.
								'</li>'.
								'';

								} ?>

							</ul>
						</div>
						
					</li>
					<li><ico class="katalog"></ico> <a href="?page=tambah produk"><span class="notif-bubble">Jual Sekarang</span></a></li>
				</ul>
			</div>
		</div>
	</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content mdl-prmnt">
    <div class="modal-header">
    	<h4>Tingkatkan Sekarang</h4>
      <span class="closes">&times;</span>
    </div>
    <div class="modal-body">
    	<p>Manfaat yang Anda Dapatkan :</p>
    	<ul>
    		<li>Listing di Halaman Utama Direktori www.indonetwork.co.id</li>
    		<li>Lebih Mudah Ditemukan Oleh Pembeli</li>
    		<li>Meningkatkan Kesempatan Terjadinya Transaksi Jual Beli</li>
    	</ul>
    </div>
    <a href="#" class="btn">Informasi Lebih Lanjut</a>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("rm-btn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("closes")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";

}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>