	<div class="wrapper">
		<div class="static-head colfix w25">
			<div>
				<h1>Terbaru Di Indonetwork</h1>
			</div>
			<ul>
				<li><a href="#1">Tampilan Visual Terbaru Indonetwork</a></li>
				<li><a href="#2">Navigasi Terbaru Di Dashboard Data Akun</a></li>
				<li><a href="#3">Gunakan Fitur Terbaru Jual Sekarang</a></li>
				<li><a href="#4">Transaksi Jual Beli Terpacu Dengan Kategorisasi Terbaru</a></li>
			</ul>
		</div>
			
		<div class="static-text idntransformasi colfix w75">

			<!--<div class="headimg"><img src="./assets/images/transformasi-idn.png" /></div>-->

			<h3>Demi kemudahan berpromosi online Anda, Indonetwork memperbaharui beberapa tampilan dan sistem. Pastikan Anda mengenali beberapa cara di bawah ini untuk memperlancar promosi online Anda.</h3><br />


			<a id="1" class="anchor"></a>
			<h2>Nikmati Tampilan <b>Visual Terbaru</b> Indonetwork</h2><br>
			<p class="txtcenter">Kami hadir dengan logo terbaru serta tampilan website yang lebih modern dan atraktif untuk pengalaman baru dalam berpromosi online.</p>

			<div class="colfix w100 txtcenter"><img src="./assets/images/icons/homepage lama.png" width="390" /><img src="./assets/images/icons/homepage baru.png" width="390" /></div>

			<div class="clear"></div>
			<hr>

			<a id="2" class="anchor"></a>
			<h2><b>Navigasi Terbaru</b> Di Dashboard Data Akun</h2><br>
			<p class="txtcenter">Setelah login, gunakan 4 shortcut terbaru di halaman dashboard data akun untuk menjelajahi website Indonetwork dengan mudah dan nyaman</p>

			<div class="colfix w100 txtcenter"><img src="./assets/images/icons/dashboard-baru.png" width="700" /></div>

			<div class="clear"></div>
			<hr>

			<a id="3" class="anchor"></a>
			<h2>Gunakan <b>Fitur Terbaru</b> <span class="jualskrgimg"></span></h2><br />
			<p class="txtcenter">Coba fitur terbaru dari Indonetwork yaitu <span class="jualskrgimg"></span>, dan Anda bisa melakukan registrasi dan fitur tambah produk dalam waktu bersamaan. 
			Dapatkan 2 Benefit langsung "LISTING &amp; REGISTER" di fitur <span class="jualskrgimg"></span></p>
			<div class="clear"></div><br>
			<div>
				<div class="colfix w33 txtcenter"><img src="./assets/images/icons/package.png" width="150" /><br><br><div>Tambah foto & informasi produk yang akan di promosikan</div></div>
				<div class="colfix w33 txtcenter"><img src="./assets/images/icons/list-clipboard.png" width="150" /><br><br><div>Tulis Informasi data Akun Anda</div></div>
				<div class="colfix w33 txtcenter"><img src="./assets/images/icons/promoting.png" width="150" /><br><br><div>Anda resmi menjadi<br />member Indonetwork &amp; bisa langsung berpromosi online!</div></div>

			</div>
			<div class="clear"></div><br /><br />
			<p class="txtcenter">Untuk mengetahui tutorial menggunakan fitur <span class="jualskrgimg"></span> silahkan <a href="?page=static&view=tutorial" class="btn">Cek disini</a></p>


			<div class="clear"></div>
			<hr>

			<a id="4" class="anchor"></a>
			<h2>Transaksi Jual Beli Terpacu Dengan <b>Kategorisasi Terbaru</b></h2><br /><br />

			<div>
			  <div class="colfix w33 txtcenter"><img src="./assets/images/icons/Magnifier.png" width="150" /><br><br><div>Kategorisasi baru membantu penjual melengkapi data produk yang akurat & terstruktur.</div></div>
			  <div class="colfix w33 txtcenter"><img src="./assets/images/icons/list.png" width="150" /><br><br><div>16 kategori utama yang terstruktur memudahkan pencarian produk yang dibutuhkan pembeli.</div></div>
			  <div class="colfix w33 txtcenter"><img src="./assets/images/icons/scheme.png" width="150" /><br><br><div>Penjual pembeli semakin mudah terkoneksi. Angka transaksi jual beli semakin tinggi.</div></div>
			</div>
			<div class="clear"></div><br /><br />

			<p class="txtcenter">Coba daftar sekarang untuk mencoba promosi online mudah hanya di Indonetwork.co.id!<br />Mau benefit tambahan lainnya? Anda bisa upgrade ke Member Prioritas.</p>
			<p class="txtcenter"><a class="btn" href="http://www.indonetwork.co.id">Daftar Menjadi Member</a>&nbsp;&nbsp;&nbsp;<a class="btn" href="http://www.indonetwork.co.id">Upgrade Member prioritas</a></p>

		</div>
		<div class="clear"></div>
	</div>
