<!-- INCLUDE CONTENT HERE START -->
<link href="assets/css/in-lndpg.css" rel="stylesheet" />
<div id="in-lndpg-content">
<section class="in-lndpg-top lndpg-sum">
<div class="wrapper">
<div class="lndpg-top-content lndpg-sum-content">
<h2>Panduan Berpromosi<br>
<span>di Indonetwork</span>
</h2>
<h3>Pastikan Anda membaca beberapa panduan<br>dibawah ini agar dapat menggunakan seluruh<br>fitur di Indonetwork secara maksimal.</h3>
</div>
</div>
<span class="in-lndpg-img sum-img-top"></span>
</section>
<section class="in-lndpg-one lndpg-sum-one">
<div class="wrapper">
<h3>Panduan untuk Pembeli dan Penjual</h3>
<ul class="con">
<li><a href="./?page=static&view=how to register"><i></i><b>Cara Daftar Gratis</b></a></li>
<li><a href="./?page=static&view=how to buy"><i></i><b>Cara Beli Produk</b></a></li>
<li><a href="./?page=static&view=how to sell"><i></i><b>Cara Jual Produk</b></a></li>
<li><a href="./?page=static&view=how to upgrade"><i></i><b>Cara Upgrade Anggota Prioritas</b></a></li>
</ul>
<div class="lndpg-suggest lndpg-sum-help">
<p class="in-confirm-help">Jika ada kesulitan, Anda bisa mengirim pertanyaan ke Tim Indonetwork melalui : <a href="mailto:support@indonetwork.co.id">support@indonetwork.co.id</a><br>Atau silahkan hubungi customer service  kami di 0804 178 7878 atau<br>gunakan fitur Live Chat (terletak di sisi kanan bawah website Indonetwork)</p>
</div>
</div>
</section>
</div>



<!-- INCLUDE CONTENT HERE END -->