	
<div class="static-box" style="background-image:url(assets/images/bg/static-bg03.jpg);">
	<div class="form-box w40 ">
		<div class="colfix w100 txtcenter judul-landing">
			Notifikasi Verifikasi E-Mail Telah Dikirim.
		<hr size="1"></div>

		<div class="colfix w100 txtcenter deskripsi-landing">Silahkan Verifikasi Akun Anda Melalui e-mail Yang Telah Kami kirimkan</div>

		<div class="clear"></div>
	</div>
</div>



