<table bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#FFFFFF;font-family:Arial, Helvetica, Verdana; font-size:13px; max-width:700px;position:relative; margin:20px 0; "> 
	<tr>
		<td style="padding:0;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#fff;border-top:1px solid #eee;border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:3px solid #ddd;font-size:15px; padding:15px 25px; ">
				<tr>
					<td width="50%"><a href="" style="outline:none;"><img src="logo.png" width="auto" height="auto"></a></td>
					<td align="right" style="color:#0079c5;text-align:right; font-size:.9em;">Pusat UKM dan Peluang Bisnis Online Terbesar</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="background-color:#efefef;min-height:300px; padding:25px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#fff;font-size:15px; padding:20px; ">
				<tr>
					<td style="color:#666666;">
						<h2 style="font-size:23px;font-weight:normal;line-height:1.4em; color:#999; border-bottom:1px solid #eee;"><span style=" border-bottom:1px solid #0079c5;padding-bottom:3px ">Link Aktivasi Pendaftaran</span></h2>
						<p>
						Dear <strong>Bruce Wayne</strong>,
						<p>Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id <br>
						Silakan lakukan konfirmasi melalui link ini :
			
						<center><a href="" style="text-decoration:none; background-color:#0079c5; color:#FFFFFF; display:inline-block; padding:15px; font-weight:bold; margin:15px 0; border-radius:2px; ">KONFIRMASI REGISTER</a></center>

						</p>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td style="background-color:#fff;border:1px solid #eee;min-height:300px; padding:25px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#0079c5;font-size:15px; padding:20px; ">
				<tr>
					<td width="60%" style="color:#fff">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
					<td width="40%" style="color:#666666; line-height:1.4em;text-align:right">
			
						<a href="" style="text-decoration:none; color:#FFFFFF; display:inline-block; font-weight:bold; margin: 0; border-radius:2px; ">PASANG PRODUK SEKARANG &rsaquo;</a>

					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td style="background-color:#efefef;min-height:300px; padding:25px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#fff;font-size:13px; padding:20px; ">
				<tr>
					<td width="33.3%" style="padding-bottom:15px;color:#666666">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
					<td width="33.3%" style="padding-bottom:15px;color:#666666">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
					<td width="33.3%" style="padding-bottom:15px;color:#666666">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
				</tr>
				<tr>
					<td width="33.3%" style="padding-bottom:15px;color:#666666">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
					<td width="33.3%" style="padding-bottom:15px;color:#666666">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
					<td width="33.3%" style="padding-bottom:15px;color:#666666">
						Terima kasih telah mendaftarkan menjadi anggota di indonetwork.co.id
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td>
			<table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:11px; color:#AAAAAA; padding:20px;line-height:1.3em;  ">
				<tr><td>
					<p>&copy; 2016 Indonetwork. Hak cipta dilindungi.</p>

					<p><a href="http://www.mataharigrosir.com/page/term-condition" style="text-decoration:none; color:#0079c5; font-weight:bold;">Syarat &amp; Ketentuan</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="" style="text-decoration:none; color:#0079c5; font-weight:bold;">Tentang Kami</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://www.indonetwork.co.id/help-0317.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">Kebijakan Privasi</a></p>

					<p>JANGAN MEMBALAS PESAN INI. Untuk mendapatkan informasi tentang cara menghubungi Indonetwork, kunjungi web di <a href="http://www.mataharigrosir.com/mailus.html" style="text-decoration:none; color:#0079c5; font-weight:bold;">http://www.indonetwork.co.id/mailus.html</a> atau <a href="http://www.mataharigrosir.com/page/contact-us" style="text-decoration:none; color:#0079c5; font-weight:bold;">kontak kami</a></p>
				</td></tr>
			</table>
		
		</td>
	</tr>


</table>


